openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Sign Up API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Signup
  description: 'A light-weight API to sign up customers and subscribe.


    You need to have the Orders or Orders Harmonization feature enabled to use this API.'
paths:
  /v1/sign-up:
    post:
      summary: Sign up
      description: 'This call performs many actions. You can use this operation to implement the standard requirements for signing up a customer, such as validating the uniqueness of an account and limiting the number of subscriptions per account. Also, you can use this operation to create a subscription, generate an invoice, and collect payment for a new or existing customer.


        **Note:** You need to have the Orders or Orders Harmonization feature enabled to use this API.


        For a new customer, you can perform the following tasks in one call. Note that you can skip creating a payment meethod and still get the subscription and invoice successfully created.

        * Create an account

        * Create a payment method

        * Subscribe to a product in the product catalog and create a subscription

        * Generate an invoice

        * Collect payment


        For an existing customer, you can use an account identification field of an external system to specify the account.


        You can make make asynchronous requests when using the "Sign up" operation.'
      operationId: POST_SignUp
      tags:
      - Signup
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Charge_Metrics_Accept'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpResponse'
              example:
                orderNumber: O-00000001
                status: Completed
                accountNumber: A00000001
                accountId: 4028818284f5f8130184f5fe1e9011e8
                subscriptionNumber: A-S00000001
                subscriptionId: 4028818284f5f8130184f5fe214611f3
                invoiceNumber: INV00000001
                invoiceId: 4028818284f5f8130184f5fe23b8120c
                paymentNumber: P-00000001
                paymentId: 4028818284f5f8130184f5fe24b71218
                paidAmount: 300.0
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth:
      name: Authorization
      in: header
      required: true
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Charge_Metrics_Accept:
      name: Accept
      in: header
      required: false
      description: 'Expressed as MIME types that the client is able to understand. Using content negotiation, the server then selects one of the proposals, uses it and informs the client of its choice with the `Content-Type` response header. The possible response MIME types are `application/json-seq` compatible with http://jsonlines.org/, and `text/csv` compatible with RFC 4180. `application/json-seq` is the default response MIME type. If the `Accept` header is not sepecified, or set */*, the response body is returned in application/json-seq MIME type.

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    SignUpResponse_reasons:
      properties:
        code:
          description: 'The error code of response.

            '
          type: string
        message:
          description: 'The detail information of the error response

            '
          type: string
      type: object
    CustomFields:
      additionalProperties:
        description: "The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information. \n\nThe Sign up API is based on Orders. The root element uses the custom field defintion on an \"Order\" object, `accountData` uses the custom field defintion on an \"Account\" object, and `subscriptionData` uses the custom field defintion on an \"Order Action\" object (not on an \"Subscription\" object).\n"
      description: 'Container for custom fields.

        '
      title: CustomFields
      type: object
    SignUpRequest:
      example:
        accountData:
          autoPay: false
          billCycleDay: '15'
          billToContact:
            country: US
            firstName: foo
            lastName: bar
            state: California
          currency: USD
          customFields:
            CustomerUserId__c: User_269145114619000
          name: User
          paymentMethod:
            makeDefault: true
            secondTokenId: '010'
            tokenId: User_269145114619000
            type: CreditCardReferenceTransaction
        accountIdentifierField: CustomerUserId__c
        options:
          billingTargetDate: '2021-07-01'
          collectPayment: true
          maxSubscriptionsPerAccount: 0
          runBilling: true
        subscriptionData:
          invoiceSeparately: false
          ratePlans:
          - productRatePlanId: 4028818284f5f8130184f5fe1a73101f
          startDate: '2021-04-15'
          terms:
            autoRenew: false
            initialTerm:
              period: 6
              periodType: Month
              startDate: '2021-04-15'
              termType: TERMED
            renewalSetting: RENEW_WITH_SPECIFIC_TERM
            renewalTerms:
            - period: 6
              periodType: Month
      properties:
        accountData:
          $ref: '#/components/schemas/AccountData'
        accountIdentifierField:
          description: Specify the name of the field that holds external account id
          type: string
        customFields:
          $ref: '#/components/schemas/CustomFields'
        options:
          $ref: '#/components/schemas/Options'
        paymentData:
          $ref: '#/components/schemas/PaymentData'
        subscriptionData:
          $ref: '#/components/schemas/SubscriptionData'
      type: object
    SignUpCreatePaymentMethodPayPalAdaptive:
      properties:
        preapprovalKey:
          description: 'The PayPal preapproval key.

            '
          type: string
      type: object
    SubscriptionData:
      properties:
        customFields:
          $ref: '#/components/schemas/CustomFields'
        invoiceSeparately:
          description: 'Specifies whether the subscription appears on a separate invoice when Zuora generates invoices.

            '
          type: boolean
        notes:
          description: 'Notes about the subscription. These notes are only visible to Zuora users.

            '
          maxLength: 500
          type: string
        ratePlans:
          $ref: '#/components/schemas/RatePlans'
        startDate:
          format: date
          type: string
        subscriptionNumber:
          description: 'Subscription number of the subscription to create, for example, A-S00000001.


            If you do not set this field, Zuora will generate a subscription number.

            '
          maxLength: 100
          type: string
        terms:
          $ref: '#/components/schemas/TermInfo'
      type: object
    ContactInfo:
      allOf:
      - description: 'Contact details associated with an account.

          '
        properties:
          address1:
            description: 'First line of the contact''s address. This is often a street address or a business name.

              '
            maxLength: 255
            type: string
          address2:
            description: 'Second line of the contact''s address.

              '
            maxLength: 255
            type: string
          city:
            description: 'City of the contact''s address.

              '
            maxLength: 40
            type: string
          contactDescription:
            description: 'A description for the contact.

              '
            maxLength: 100
            type: string
          country:
            description: 'Country; must be a valid country name or abbreviation. If using [Zuora Tax](https://knowledgecenter.zuora.com/Zuora_Billing/Taxes/A_Zuora_Tax), you must specify a country in the bill-to contact to calculate tax.

              '
            maxLength: 64
            type: string
          county:
            description: 'County of the contact''s address.

              '
            maxLength: 32
            type: string
          customFields:
            $ref: '#/components/schemas/CustomFields'
          fax:
            description: 'Fax number of the contact.

              '
            maxLength: 40
            type: string
          firstName:
            description: 'First name of the contact.

              '
            maxLength: 100
            type: string
          homePhone:
            description: 'Home phone number of the contact.

              '
            maxLength: 40
            type: string
          lastName:
            description: ''
            maxLength: 100
            type: string
          mobilePhone:
            description: 'Mobile phone number of the contact.

              '
            maxLength: 40
            type: string
          nickname:
            description: 'Nickname of the contact.

              '
            maxLength: 100
            type: string
          otherPhone:
            description: 'Additional phone number of the contact. Use the `otherPhoneType` field to specify the type of phone number.

              '
            maxLength: 40
            type: string
          otherPhoneType:
            description: 'Specifies the type of phone number in the `otherPhone` field.

              '
            enum:
            - Work
            - Mobile
            - Home
            - Other
            type: string
          personalEmail:
            description: 'Personal email address of the contact.

              '
            format: email
            maxLength: 80
            type: string
          postalCode:
            description: 'ZIP code or other postal code of the contact''s address.

              '
            maxLength: 20
            type: string
          state:
            description: 'State or province of the contact''s address.

              '
            maxLength: 40
            type: string
          taxRegion:
            description: 'Region defined in your taxation rules. Only applicable if you use Zuora Tax.

              '
            maxLength: 32
            type: string
          workEmail:
            description: 'Business email address of the contact.

              '
            format: email
            maxLength: 80
            type: string
          workPhone:
            description: 'Business phone number of the contact.

              '
            maxLength: 40
            type: string
        required:
        - firstName
        - lastName
        type: object
      - {}
    TermInfo_renewalTerms:
      properties:
        period:
          description: 'Duration of the renewal term in months, years, days, or weeks, depending on the value of the `periodType` field.

            '
          type: integer
        periodType:
          description: 'Unit of time that the renewal term is measured in.

            '
          enum:
          - Month
          - Year
          - Day
          - Week
          type: string
      type: object
    Options:
      description: Invoice or Payment.
      properties:
        billingTargetDate:
          description: Date through which to calculate charges if an invoice is generated. See [What is a Target Date?](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/G_Bill_Runs/Creating_Bill_Runs#What_is_a_Target_Date.3F).
          format: date
          type: string
        collectPayment:
          description: Indicates if the current request needs to collect payments. This value can not be 'true' when 'runBilling' flag is 'false'.
          type: boolean
        maxSubscriptionsPerAccount:
          type: number
        runBilling:
          description: Indicates if the current request needs to generate an invoice. The invoice will be generated against all subscriptions included in this order.
          type: boolean
      type: object
    TermInfo:
      description: 'Container for the terms and renewal settings of the subscription.

        '
      properties:
        autoRenew:
          description: 'Specifies whether the subscription automatically renews at the end of the each term. Only applicable if the type of the first term is `TERMED`.

            '
          type: boolean
        initialTerm:
          $ref: '#/components/schemas/TermInfo_initialTerm'
        renewalSetting:
          description: 'Specifies the type of the terms that follow the first term if the subscription is renewed. Only applicable if the type of the first term is `TERMED`.


            * `RENEW_WITH_SPECIFIC_TERM` - Each renewal term has a predefined duration. The first entry in `renewalTerms` specifies the duration of the second term of the subscription, the second entry in `renewalTerms` specifies the duration of the third term of the subscription, and so on. The last entry in `renewalTerms` specifies the ultimate duration of each renewal term.

            * `RENEW_TO_EVERGREEN` - The second term of the subscription does not have a predefined duration.

            '
          enum:
          - RENEW_WITH_SPECIFIC_TERM
          - RENEW_TO_EVERGREEN
          type: string
        renewalTerms:
          $ref: '#/components/schemas/TermInfo_renewalTerms'
      required:
      - initialTerm
      type: object
    AccountData:
      description: 'The information of the account that you are to create through the "Sign up" operation.

        '
      properties:
        accountNumber:
          maxLength: 70
          type: string
        autoPay:
          description: Specifies whether future payments are to be automatically billed when they are due. Possible values are `true`, `false`.
          type: boolean
        batch:
          description: '**Note**: By default, you have 50 configurable account batches. To increase the limit to 200 batches, you must have the <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Performance_Booster_Elite" target="_blank">Performance Booster Elite</a> package.

            '
          type: string
        billCycleDay:
          description: Day of the month that the account prefers billing periods to begin on. If set to 0, the bill cycle day will be set as "AutoSet".
          maximum: 31
          minimum: 0
          type: integer
        billToContact:
          $ref: '#/components/schemas/ContactInfo'
        communicationProfileId:
          type: string
        creditMemoTemplateId:
          description: '**Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.


            The unique ID of the credit memo template, configured in **Billing Settings** > **Manage Billing Document Configuration** through the Zuora UI. For example, 2c92c08a6246fdf101626b1b3fe0144b.

            '
          type: string
        crmId:
          maxLength: 100
          type: string
        currency:
          description: '3 uppercase character currency code.


            For payment method authorization, if the `paymentMethod` > `currencyCode` field is specified, `currencyCode` is used. Otherwise, this `currency` field is used for payment method authorization. If no currency is specified for the account, the default currency of the account is then used.

            '
          type: string
        customFields:
          $ref: '#/components/schemas/CustomFields'
        debitMemoTemplateId:
          description: '**Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.


            The unique ID of the debit memo template, configured in **Billing Settings** > **Manage Billing Document Configuration** through the Zuora UI. For example, 2c92c08d62470a8501626b19d24f19e2.

            '
          type: string
        invoiceTemplateId:
          type: string
        name:
          maxLength: 255
          type: string
        notes:
          maxLength: 65535
          type: string
        paymentMethod:
          $ref: '#/components/schemas/SignUpPaymentMethod'
        paymentTerm:
          type: string
        purchaseOrderNumber:
          description: 'The number of the purchase order associated with this account. Purchase order information generally comes from customers.

            '
          maxLength: 100
          type: string
        sequenceSetId:
          description: "The ID of the billing document sequence set to assign to the customer account. \n\nThe billing documents to generate for this account will adopt the prefix and starting document number configured in the sequence set.\n"
          type: string
        soldToContact:
          $ref: '#/components/schemas/ContactInfo'
        taxInfo:
          $ref: '#/components/schemas/SignUpTaxInfo'
      required:
      - billCycleDay
      - billToContact
      - currency
      - name
      type: object
    SignUpCreatePaymentMethodCreditCard:
      properties:
        cardHolderInfo:
          $ref: '#/components/schemas/SignUpCreatePaymentMethodCardholderInfo'
        cardNumber:
          description: 'Credit card number.

            '
          type: string
        cardType:
          description: 'The type of the credit card.


            Possible values include `Visa`, `MasterCard`, `AmericanExpress`, `Discover`, `JCB`, and `Diners`. For more information about credit card types supported by different payment gateways, see [Supported Payment Gateways](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/Supported_Payment_Gateways).

            '
          type: string
        checkDuplicated:
          type: boolean
        expirationMonth:
          description: 'One or two digit expiration month (1-12) of the credit card.

            '
          type: string
        expirationYear:
          description: 'Four-digit expiration year of the credit card.

            '
          type: string
        mitConsentAgreementRef:
          description: 'Specifies your reference for the stored credential consent agreement that you have established with the customer. Only applicable if you set the `mitProfileAction` field.

            '
          maxLength: 128
          type: string
        mitConsentAgreementSrc:
          description: 'Required if you set the `mitProfileAction` field. Specifies how the consent agreement has been established with the customer. The allowed value is `External`. If you do not specify the `mitProfileAction` field, Zuora will automatically create a stored credential profile for the payment method, with the default value `External` set to this field.

            '
          enum:
          - External
          type: string
        mitNetworkTransactionId:
          description: 'Specifies the ID of a network transaction. Only applicable if you set the `mitProfileAction` field to `Persist`.

            '
          maxLength: 128
          type: string
        mitProfileAction:
          description: 'Specifies how Zuora creates and activates the stored credential profile. If you do not specify this field, Zuora will automatically create a stored credential profile for the payment method, with the default value `Activate` set to this field.

            '
          enum:
          - Activate
          - Persist
          type: string
        mitProfileAgreedOn:
          description: 'The date on which the profile is agreed. The date format is `yyyy-mm-dd`.

            '
          format: date
          type: string
        mitProfileType:
          description: 'Required if you set the `mitProfileAction` field. If you do not specify the `mitProfileAction` field, Zuora will automatically create a stored credential profile for the payment method, with the default value `Recurring` set to this field.

            '
          enum:
          - Recurring
          type: string
        securityCode:
          description: 'CVV or CVV2 security code of the credit card.


            To ensure PCI compliance, this value is not stored and cannot be queried.

            '
          type: string
      type: object
    SignUpPaymentMethod:
      allOf:
      - properties:
          type:
            description: 'Type of payment method. The following types of the payment method are supported:

              '
            enum:
            - PayPalEC
            - PayPalNativeEC
            - PayPalAdaptive
            - CreditCard
            - CreditCardReferenceTransaction
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/SignUpCreatePaymentMethodCreditCardReferenceTransaction'
      - $ref: '#/components/schemas/SignUpCreatePMPayPalECPayPalNativeEC'
      - $ref: '#/components/schemas/SignUpCreatePaymentMethodPayPalAdaptive'
      - $ref: '#/components/schemas/SignUpCreatePaymentMethodCreditCard'
      - $ref: '#/components/schemas/SignUpCreatePaymentMethodCommon'
      - $ref: '#/components/schemas/SignUpPaymentMethodObjectCustomFields'
    SignUpResponse:
      properties:
        accountId:
          description: The account id for the order.
          type: string
        accountNumber:
          description: The account number for the order.
          type: string
        creditMemoId:
          description: An array of the credit memo id generated in this order request. The credit memo is only available if you have the Invoice Settlement feature enabled.
          type: string
        creditMemoNumber:
          description: An array of the credit memo numbers generated in this order request. The credit memo is only available if you have the Invoice Settlement feature enabled.
          type: string
        invoiceId:
          description: The invoice id generated in this order request
          type: string
        invoiceNumber:
          description: The invoice number generated in this order request
          type: string
        orderNumber:
          description: The order number of the order created.
          type: string
        paidAmount:
          description: The total amount collected in this order request.
          type: string
        paymentId:
          description: The payment id that is collected in this order request.
          type: string
        paymentNumber:
          description: The payment number that is collected in this order request.
          type: string
        processId:
          description: 'The Id of the process that handles the operation.

            '
          type: string
        reasons:
          items:
            $ref: '#/components/schemas/SignUpResponse_reasons'
          type: array
        status:
          description: Status of the order. `Pending` is only applicable for an order that contains a `CreateSubscription` order action.
          enum:
          - Completed
          - Pending
          type: string
        subscriptionId:
          description: The subscription id of the order.
          type: string
        subscriptionNumber:
          description: The subscription number of the order.
          type: string
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    PaymentData:
      properties:
        authTransactionId:
          description: 'The authorization transaction ID from the payment gateway.

            '
          type: string
        authorizedAmount:
          description: 'The amount that is authorized before this API call. Only used for the Delay Capture function.

            '
          format: double
          type: number
        authorizedCurrency:
          description: The authorization of currency code that occurs before this API call. We will verify whether it is same as the account's currency.
          type: string
      type: object
    SignUpCreatePMPayPalECPayPalNativeEC:
      properties:
        BAID:
          description: 'ID of a PayPal billing agreement, for example, I-1TJ3GAGG82Y9.

            '
          type: string
        email:
          description: "Email address associated with the payment method. This field is only supported for PayPal payment methods and is required if you want to create any of the following PayPal payment methods:\n  - PayPal Express Checkout payment method \n  - PayPal Adaptive payment method\n  - PayPal Commerce Platform payment method\n"
          type: string
      type: object
    TermInfo_initialTerm:
      description: 'Information about the first term of the subscription.

        '
      properties:
        period:
          description: 'Duration of the first term in months, years, days, or weeks, depending on the value of the `periodType` field. Only applicable if the value of the `termType` field is `TERMED`.

            '
          type: integer
        periodType:
          description: 'Unit of time that the first term is measured in. Only applicable if the value of the `termType` field is `TERMED`.

            '
          enum:
          - Month
          - Year
          - Day
          - Week
          type: string
        startDate:
          description: 'Start date of the first term, in YYYY-MM-DD format.

            '
          format: date
          type: string
        termType:
          description: 'Type of the first term. If the value of this field is `TERMED`, the first term has a predefined duration based on the value of the `period` field. If the value of this field is `EVERGREEN`, the first term does not have a predefined duration.

            '
          enum:
          - TERMED
          - EVERGREEN
          type: string
      required:
      - termType
      type: object
    SignUpTaxInfo:
      description: 'Information about the tax exempt status of a customer account.

        '
      properties:
        VATId:
          description: 'EU Value Added Tax ID.


            **Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com).

            '
          maxLength: 25
          type: string
        companyCode:
          description: 'Unique code that identifies a company account in Avalara. Use this field to calculate taxes based on origin and sold-to addresses in Avalara.


            **Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com).

            '
          maxLength: 50
          type: string
        exemptCertificateId:
          description: 'ID of the customer tax exemption certificate. Applicable if you use Zuora Tax or Connect tax engines.

            '
          maxLength: 32
          type: string
        exemptCertificateType:
          description: 'Type of tax exemption certificate that the customer holds. Applicable if you use Zuora Tax or Connect tax engines.

            '
          maxLength: 32
          type: string
        exemptDescription:
          description: 'Description of the tax exemption certificate that the customer holds. Applicable if you use Zuora Tax or Connect tax engines.

            '
          maxLength: 500
          type: string
        exemptEffectiveDate:
          description: 'Date when the customer tax exemption starts, in YYYY-MM-DD format. Applicable if you use Zuora Tax or Connect tax engines.

            '
          format: date
          type: string
        exemptExpirationDate:
          description: 'Date when the customer tax exemption expires, in YYYY-MM-DD format. Applicable if you use Zuora Tax or Connect tax engines.

            '
          format: date
          type: string
        exemptIssuingJurisdiction:
          description: 'Jurisdiction in which the customer tax exemption certificate was issued.

            '
          maxLength: 32
          type: string
        exemptStatus:
          default: 'No'
          description: "Status of the account tax exemption. Applicable if you use Zuora Tax or Connect tax engines. Required if you use Zuora Tax. \n"
          enum:
          - 'No'
          - 'Yes'
          - PendingVerification
          type: string
      title: taxInfo
      type: object
    SignUpCreatePaymentMethodCreditCardReferenceTransaction:
      properties:
        secondTokenId:
          description: 'The second token id of CreditCardReferenceTransaction.

            '
          type: string
        tokenId:
          description: 'The token id of payment method, required field of CreditCardReferenceTransaction type.

            '
          type: string
      type: object
    SignUpCreatePaymentMethodCardholderInfo:
      description: 'Container for cardholder information. If provided, Zuora will

        only use this information for this card. Otherwise, Zuora will use

        the account''''s existing bill-to contact information for this card.

        '
      properties:
        addressLine1:
          description: 'First address line, 255 characters or less.

            '
          type: string
        addressLine2:
          description: 'Second address line, 255 characters or less.

            '
          type: string
        cardHolderName:
          description: 'The card holder''s full name as it appears on the card, e.g., "John J Smith", 50 characters or less.

            '
          type: string
        city:
          description: 'City, 40 characters or less.

            '
          type: string
        country:
          description: 'Country, must be a valid country name or abbreviation.

            '
          type: string
        email:
          description: 'Card holder''s email address, 80 characters or less.

            '
          type: string
        phone:
          description: 'Phone number, 40 characters or less.

            '
          type: string
        state:
          description: 'State; must be a valid state name or 2-character abbreviation.

            '
          type: string
        zipCode:
          description: 'Zip code, 20 characters or less.

            '
          type: string
      required:
      - cardHolderName
      title: cardHolderInfo
      type: object
    RatePlans:
      items:
        $ref: '#/components/schemas/RatePlan'
      type: array
    SignUpPaymentMethodObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the payment method. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a payment method object.

        '
      title: paymentMethodFieldsCustom
      type: object
    RatePlan:
      properties:
        customFields:
          $ref: '#/components/schemas/CustomFields'
        productRatePlanId:
          description: 'Internal identifier of the product rate plan that the rate plan is based on.

            '
          type: string
      type: object
    SignUpCreatePaymentMethodCommon:
      properties:
        accountKey:
          description: 'Internal ID of the customer account that will own the payment method.

            '
          type: string
        authGateway:
          description: 'Internal ID of the payment gateway that Zuora will use to authorize the payments that are made with the payment method.


            If you do not set this field, Zuora will use one of the following payment gateways instead:


            * The default payment gateway of the customer account that owns the payment method, if the `accountKey` field is set.

            * The default payment gateway of your Zuora tenant, if the `accountKey` field is not set.

            '
          type: string
        ipAddress:
          description: "The IPv4 or IPv6 information of the user when the payment method is created or updated. Some gateways use this field for fraud prevention. If this field is passed to Zuora, Zuora directly passes it to gateways. \n\nIf the IP address length is beyond 45 characters, a validation error occurs.\n"
          type: string
        makeDefault:
          default: false
          description: 'Specifies whether the payment method will be the default payment method of the customer account that owns the payment method. Only applicable if the `accountKey` field is set.

            '
          type: boolean
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
