openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Accounts API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Accounts
  description: Some operations in this section are similar to each other, but are provided for different use scenarios.
paths:
  /v1/accounts:
    post:
      summary: Create an account
      operationId: POST_Account
      description: 'Creates a customer account with a payment method, a bill-to contact, and an optional sold-to contact. Request and response field descriptions and sample code are provided. Use this operation to optionally create a subscription, invoice for that subscription, and collect payment through the default payment method. The transaction is atomic; if any part fails for any reason, the entire transaction is rolled back.


        This operation is CORS Enabled, so you can use client-side Javascript to invoke the call.


        ### Notes

        1. The account is created in active status.

        2. If the `autoPay` field is set to `true` in the request, you must provide one of the `paymentMethod`, `creditCard`, or `hpmCreditCardPaymentMethodId` field, but not multiple. The one provided becomes the default payment method for this account. If the credit card information is declined or cannot be verified, no account is created.

        3. Customer accounts created with this call are automatically be set to Auto Pay.

        4. If the `invoiceDeliveryPrefsEmail` field is not specified in the request, the account''s email delivery preference is always automatically set to `false`, no matter whether the `workEmail` or `personalEmail` field is specified.


        ### Defaults for customerAcceptanceDate and serviceActivationDate

        Default values for **customerAcceptanceDate** and **serviceActivationDate** are set as follows.


        | | serviceActivationDate(SA) specified | serviceActivationDate (SA) NOT specified |

        | ------------- |:-------------:| -----:|

        | customerAcceptanceDate (CA) specified | SA uses value in the request call; CA uses value in the request call| CA uses value in the request call;SA uses CE as default |

        | customerAcceptanceDate (CA) NOT specified | SA uses value in the request call; CA uses SA as default | SA and CA use CE as default |'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. \n\nYou only need to set this parameter if you use the following fields:\n* invoice\n* collect\n* runBilling\n* targetDate\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTAccountResponseType'
              example:
                success: true
                accountId: 402892c74c9193cd014c96bbe7c101f9
                accountNumber: A00000004
                billToContactId: 2c92c8fb68a28d180168a7ccedba1c4c
                soldToContactId: 2c92c8fb68a28d180168a7ccedc61c4e
                paymentMethodId: 402892c74c9193cd014c96bbe7d901fd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTAccountType'
        required: true
  /v1/accounts/{account-key}:
    get:
      summary: Retrieve an account
      operationId: GET_Account
      description: 'Retrieves basic information about a customer account.


        This operation is a quick retrieval that doesn''t include the account''s subscriptions, invoices, payments, or usage details. Use Get account summary to get more detailed information about an account.'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: account-key
        in: path
        description: Account number or account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountType'
              example:
                basicInfo:
                  id: 402892c74c9193cd014c91d35b0a0132
                  name: Test
                  accountNumber: A00000001
                  notes: ''
                  status: Active
                  crmId: ''
                  batch: Batch1
                  invoiceTemplateId: null
                  communicationProfileId: 303d186840e611df817c002185d714e1
                  profileNumber: CP-00000012
                  salesRep: ''
                  sequenceSetId: null
                  partnerAccount: false
                billingAndPayment:
                  autoPay: true
                  billCycleDay: 1
                  currency: USD
                  defaultPaymentMethodId: 2c93808457d787030157e03220ec4fad
                  paymentTerm: Net 30
                  paymentGateway: TestGateway
                  invoiceDeliveryPrefsPrint: false
                  invoiceDeliveryPrefsEmail: true
                  additionalEmailAddresses:
                  - contact1@example.com
                  - contact2@example.com
                metrics:
                  balance: 0
                  totalInvoiceBalance: 0
                  creditBalance: 0
                  contractedMrr: -900
                metricsData:
                - currency: USD
                  balance: 0
                  totalInvoiceBalance: 0
                  totalDebitMemoBalance: 0
                  unappliedPaymentAmount: 0
                  unappliedCreditMemoAmount: 0
                  contractedMrr: -900
                  reservedPaymentAmount: 900
                - currency: EUR
                  balance: 0
                  totalInvoiceBalance: 0
                  totalDebitMemoBalance: 0
                  unappliedPaymentAmount: 0
                  unappliedCreditMemoAmount: 0
                  contractedMrr: -900
                  reservedPaymentAmount: -900
                billToContact:
                  address1: ''
                  address2: ''
                  city: ''
                  country: null
                  county: null
                  fax: ''
                  firstName: Test
                  homePhone: ''
                  id: 2c9081a03c6d7b51013c6d7e46c80a17
                  lastName: Test
                  mobilePhone: ''
                  nickname: ''
                  otherPhone: ''
                  otherPhoneType: null
                  personalEmail: ''
                  state: ''
                  taxRegion: null
                  workEmail: contact@example.com
                  workPhone: ''
                  zipCode: ''
                soldToContact:
                  address1: ''
                  address2: ''
                  city: ''
                  country: null
                  county: null
                  fax: ''
                  firstName: Test
                  homePhone: ''
                  id: 2c9081a03c6d7b51013c6d7e46cf0a18
                  lastName: Test
                  mobilePhone: ''
                  nickname: ''
                  otherPhone: ''
                  otherPhoneType: null
                  personalEmail: ''
                  state: ''
                  taxRegion: null
                  workEmail: contact@example.com
                  workPhone: ''
                  zipCode: ''
                einvoiceProfile:
                  enabled: 'true'
                  businessName: legal business name
                  businessNumber: '20002039'
                  businessNumberSchemeId: 088
                  taxRegisterNumber: TAX393999
                  endpointId: 08992
                  endpointSchemeId: 088
                success: true
    put:
      summary: Update an account
      operationId: PUT_Account
      description: 'Updates a customer account by specifying the account-key.


        ### Notes

        1. Only the fields to be changed should be specified. Any field that is not included in the request body will not be changed.

        2. If an empty field is submitted with this operation, the corresponding field in the account is emptied.

        3. Email addresses: If no email addresses are specified, no change is made to the email addresses or to the email delivery preference. If either the **personalEmail** or **workEmail** of **billToContact** is specified (or both), the system updates the corresponding email address(es) and the email delivery preference is set to `true`. (In that case, emails go to the **workEmail** address, if it exists, or else the **personalEmail**.) On the other hand, if as a result of this call both of the email addresses for the account are empty, the email delivery preference is set to `false`.

        4. The bill-to and sold-to contacts are separate data entities. If you select the **Same as Bill To Contact** check box during account creation, both the Bill To and Sold To contacts are updated upon updating either one because they point to the same contact record. In this case, if you want to update only one of them, you have to first create another contact and update the Bill To or Sold To contact of the customer account to be the newly created one.'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: account-key
        in: path
        required: true
        description: Account number or account ID.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTAccountType'
        required: true
    delete:
      summary: Delete an account
      operationId: DELETE_Account
      description: 'Deletes a specific account asynchronously.


        **Notes and Limitations:**

        - For account deletion, the system will start a backend job to remove all transactions under the accounts and change the status of the accounts to ''Cancelled''. This backend job is asynchronous and will take some time, depending on the job size.

        - An account cannot be deleted when the account is either the invoice owner or the subscription owner of a subscription and the subscription''s invoice owner and subscription owner are two different accounts. An exception to this limitation is if the Enable Force Deletion for Account? setting is set to `Yes`, you can force delete an account that is the subscription owner of a subscription while the invoice owner is a different account. Force deleting this account deletes all its subscriptions, but the relevant invoices will not be impacted.

        - An account cannot be deleted if this account has ever been involved in an Owner Transfer amendment or order action, either as the current owner or as the previous owner.'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: account-key
        in: path
        description: Account number or account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountResponseType'
              example:
                id: 40288ae9600808280160081dc9c13f15
                jobId: 40288ae9600808280160081db1533506
                jobStatus: Pending
                success: true
  /v1/accounts/{account-key}/summary:
    get:
      summary: Retrieve an account summary
      operationId: GET_AccountSummary
      description: 'Retrieves detailed information about the specified customer account.


        The response includes the account information and a summary of the account’s subscriptions, invoices, payments, and usages.


        ### Notes

        Returns only the six most recent subscriptions based on the subscription updatedDate. Within those subscriptions, there may be many rate plans and many rate plan charges. These items are subject to the maximum limit on the array size.'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: account-key
        in: path
        required: true
        description: Account number or account ID.
        schema:
          type: string
      - name: excludeUsage
        in: query
        required: false
        description: Indicate whether to exclude usage information in the response. The default value is `false`.
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountSummaryType'
              example:
                payments:
                - paidInvoices:
                  - invoiceNumber: INV00000159
                    appliedPaymentAmount: 5.0
                    invoiceId: 2c92a09539190dbe0139190f42780012
                  - invoiceNumber: INV00000323
                    appliedPaymentAmount: 139722.1
                    invoiceId: 2c92a0953a3fa95d013a407c10a60100
                  - invoiceNumber: INV00000160
                    appliedPaymentAmount: 10521.0
                    invoiceId: 2c92a09739190dc60139194bcf1b0098
                  paymentNumber: P-00000075
                  status: Processed
                  effectiveDate: '2013-03-27'
                  id: 2c92c8f83dabf9cf013daf3bfa0305a6
                  paymentType: Electronic
                - paidInvoices:
                  - invoiceNumber: INV00000159
                    appliedPaymentAmount: 5.0
                    invoiceId: 2c92a09539190dbe0139190f42780012
                  paymentNumber: P-00000056
                  status: Processed
                  effectiveDate: '2012-08-11'
                  id: 2c92a0f9391832b101391922ad5f049d
                  paymentType: Electronic
                invoices:
                - amount: 139722.1
                  status: Posted
                  invoiceNumber: INV00000323
                  invoiceDate: '2013-02-11'
                  balance: 0.0
                  id: 2c92a0953a3fa95d013a407c10a60100
                  dueDate: '2013-02-11'
                - amount: 10521.0
                  status: Posted
                  invoiceNumber: INV00000160
                  invoiceDate: '2012-08-11'
                  balance: 0.0
                  id: 2c92a09739190dc60139194bcf1b0098
                  dueDate: '2012-08-11'
                - amount: 10.0
                  status: Posted
                  invoiceNumber: INV00000159
                  invoiceDate: '2012-08-11'
                  balance: 0.0
                  id: 2c92a09539190dbe0139190f42780012
                  dueDate: '2012-08-11'
                usage:
                - unitOfMeasure: UOM
                  quantity: 10.0
                  startDate: 2012-02
                - unitOfMeasure: UOM
                  quantity: 10.0
                  startDate: 2012-01
                basicInfo:
                  defaultPaymentMethod:
                    creditCardNumber: '************1111'
                    paymentMethodType: CreditCard
                    creditCardExpirationMonth: 10
                    creditCardExpirationYear: 2020
                    creditCardType: Visa
                    id: 2c92c8f83dabf9cf013daef12dd303b0
                  autoPay: true
                  status: Active
                  lastInvoiceDate: '2013-02-11'
                  lastPaymentAmount: 150248.1
                  billCycleDay: 1
                  invoiceDeliveryPrefsPrint: false
                  invoiceDeliveryPrefsEmail: true
                  additionalEmailAddresses:
                  - contact1@example.com
                  - contact2@example.com
                  name: subscribeCallYan_1
                  balance: 0.0
                  accountNumber: A00001115
                  id: 2c92a0f9391832b10139183e277a0042
                  currency: USD
                  lastPaymentDate: '2013-03-27'
                  partnerAccount: false
                soldToContact:
                  fax: ''
                  taxRegion: ''
                  country: United States
                  zipCode: '95135'
                  county: ''
                  lastName: Cho
                  workEmail: contact@example.com
                  state: California
                  address2: ''
                  address1: 278 Bridgeton Circle
                  firstName: Bill
                  id: 2c92a0f9391832b10139183e27940043
                  workPhone: '5555551212'
                  city: San Jose
                success: true
                subscriptions:
                - termEndDate: '2014-02-01'
                  termStartDate: '2013-02-01'
                  status: Active
                  initialTerm: 12
                  autoRenew: true
                  subscriptionNumber: A-S00001081
                  subscriptionStartDate: '2013-02-01'
                  id: 2c92c8f83dc4f752013dc72c24ee016d
                  ratePlans:
                  - productName: Recurring Charge
                    ratePlanName: QSF_Tier
                  termType: TERMED
                  renewalTerm: 3
                - termEndDate: '2014-02-01'
                  termStartDate: '2013-02-01'
                  status: Active
                  initialTerm: 12
                  autoRenew: true
                  subscriptionNumber: A-S00001080
                  subscriptionStartDate: '2013-02-01'
                  id: 2c92c8f83dc4f752013dc72bb85c0127
                  ratePlans:
                  - productName: Recurring Charge
                    ratePlanName: QSF_Tier
                  termType: TERMED
                  renewalTerm: 3
                - termEndDate: '2014-04-01'
                  termStartDate: '2013-12-01'
                  status: Cancelled
                  initialTerm: 10
                  autoRenew: false
                  subscriptionNumber: A-S00001079
                  subscriptionStartDate: '2013-02-01'
                  id: 2c92c8f83dc4f752013dc723fdab00d4
                  ratePlans:
                  - productName: Recurring Charge
                    ratePlanName: QSF_Tier
                  termType: TERMED
                  renewalTerm: 4
                - termEndDate: '2012-02-11'
                  termStartDate: '2011-02-11'
                  status: Active
                  initialTerm: 12
                  autoRenew: false
                  subscriptionNumber: A-S00001076
                  subscriptionStartDate: '2011-02-11'
                  id: 2c92c8f83db0b4b4013db4717ad000ec
                  ratePlans:
                  - productName: Recurring Charge
                    ratePlanName: Month_PerUnit
                  - productName: Recurring Charge
                    ratePlanName: Month_PerUnit
                  termType: TERMED
                  renewalTerm: 3
                - termEndDate: '2012-02-11'
                  termStartDate: '2011-02-11'
                  status: Active
                  initialTerm: 12
                  autoRenew: false
                  subscriptionNumber: A-S00001075
                  subscriptionStartDate: '2011-02-11'
                  id: 2c92c8f83db0b4b4013db3ab6a4d00bc
                  ratePlans:
                  - productName: Recurring Charge
                    ratePlanName: Month_PerUnit
                  - productName: Recurring Charge
                    ratePlanName: Month_PerUnit
                  termType: TERMED
                  renewalTerm: 3
                - termEndDate: '2012-02-11'
                  termStartDate: '2011-02-11'
                  status: Active
                  initialTerm: 12
                  autoRenew: false
                  subscriptionNumber: A-S00001074
                  subscriptionStartDate: '2011-02-11'
                  id: 2c92c8f83db0b4b4013db3aa9fbd0090
                  ratePlans:
                  - productName: Recurring Charge
                    ratePlanName: Month_PerUnit
                  termType: TERMED
                  renewalTerm: 3
                billToContact:
                  fax: ''
                  taxRegion: ''
                  country: United States
                  zipCode: '95135'
                  county: ''
                  lastName: Zou
                  workEmail: contact@example.com
                  state: California
                  address2: ''
                  address1: 1400 Bridge Pkwy
                  firstName: Cheng
                  id: 2c92a0f9391832b10139183e27940043
                  workPhone: '5555551212'
                  city: San Jose
  /v1/accounts/{account-key}/payment-methods:
    get:
      summary: List payment methods of an account
      operationId: GET_AcountPaymentMethods
      description: 'Retrieves the payment methods of the specified customer account.


        **Note:** This operation also supports retrieving custom payment methods created through the Open Payment Method service.'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: account-key
        in: path
        description: Account number or account ID.
        required: true
        schema:
          type: string
      - name: isDefaultOnly
        in: query
        required: false
        description: Indicates whether to only retrieve the default payment method of the account. The default value is `false`. If this parameter is set to `true`, only the default payment method is retrieved.
        schema:
          type: boolean
      - name: isActiveOnly
        in: query
        required: false
        description: Indicates whether to only retrieve the active payment methods of the account. The default value is `false`. If this parameter is set to `true`, only the active payment methods are retrieved.
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountPaymentMethodType'
              example:
                defaultPaymentMethodId: 4028839f7d26a155017d26af16ef0001
                paymentGateway: null
                creditcard:
                - cardNumber: '************1111'
                  expirationMonth: 11
                  expirationYear: 2027
                  creditCardType: Visa
                  accountHolderInfo:
                    accountHolderName: John Smith
                    phone: '86123456789'
                    email: example@google.com
                    addressLine1: ABC
                    addressLine2: EFT
                    zipCode: '123456'
                    city: Example City
                    country: United States
                    state: Example State
                  mandateInfo:
                    mitProfileAction: null
                    mitProfileType: null
                    mitConsentAgreementSrc: null
                    mitConsentAgreementRef: null
                    mitTransactionId: null
                    mitProfileAgreedOn: null
                  id: 4028839f7d26a155017d26af16ef0001
                  type: CreditCard
                  isDefault: true
                  accountKey: 4028839f7ca29000017ca29c1ce8003f
                  status: Active
                  lastTransaction: Approved
                  useDefaultRetryRule: true
                  bankIdentificationNumber: '411111'
                  deviceSessionId: null
                  existingMandate: null
                  ipAddress: null
                  lastFailedSaleTransactionDate: null
                  lastTransactionDateTime: '2021-11-15 18:59:08'
                  lastTransactionStatus: Approved
                  maxConsecutivePaymentFailures: null
                  numConsecutiveFailures: 0
                  paymentRetryWindow: null
                  totalNumberOfProcessedPayments: 0
                  totalNumberOfErrorPayments: 0
                  createdDate: '2021-11-15 18:59:08'
                  updatedDate: '2021-11-15 18:59:08'
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  updatedBy: 402881e522cf4f9b0122cf5d82860002
                  AA_PICKLIST__c: null
                debitcard:
                - cardNumber: '************8888'
                  expirationMonth: 11
                  expirationYear: 2021
                  creditCardType: Electron
                  accountHolderInfo:
                    accountHolderName: John Smith
                    phone: ''
                    email: smith@example.com
                    addressLine1: 1051 E Hillsdale Blvd
                    addressLine2: ''
                    zipCode: '45101'
                    city: Tynan
                    country: United States
                    state: California
                  mandateInfo:
                    mitProfileAction: null
                    mitProfileType: null
                    mitConsentAgreementSrc: null
                    mitConsentAgreementRef: null
                    mitTransactionId: null
                    mitProfileAgreedOn: null
                  id: 4028839f7cd92a6b017cda4defd00006
                  type: CreditCard
                  isDefault: false
                  accountKey: 4028839f7ca29000017ca29c1ce8003f
                  status: Active
                  lastTransaction: Approved
                  useDefaultRetryRule: true
                  bankIdentificationNumber: '588888'
                  deviceSessionId: null
                  existingMandate: null
                  ipAddress: null
                  lastFailedSaleTransactionDate: null
                  lastTransactionDateTime: '2021-11-01 00:01:53'
                  lastTransactionStatus: Approved
                  maxConsecutivePaymentFailures: null
                  numConsecutiveFailures: 0
                  paymentRetryWindow: null
                  totalNumberOfProcessedPayments: 0
                  totalNumberOfErrorPayments: 0
                  createdDate: '2021-11-01 00:01:52'
                  updatedDate: '2021-11-01 00:01:52'
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  updatedBy: 402881e522cf4f9b0122cf5d82860002
                  AA_PICKLIST__c: null
                creditcardreferencetransaction:
                - tokenId: ABCE
                  secondTokenId: FGDSDF
                  id: 4028839f7ce8c530017ce9725e2c0003
                  type: CreditCardReferenceTransaction
                  isDefault: false
                  accountKey: 4028839f7ca29000017ca29c1ce8003f
                  status: Active
                  lastTransaction: Approved
                  useDefaultRetryRule: true
                  bankIdentificationNumber: null
                  deviceSessionId: null
                  existingMandate: null
                  ipAddress: null
                  lastFailedSaleTransactionDate: null
                  lastTransactionDateTime: '2021-11-03 22:35:59'
                  lastTransactionStatus: Approved
                  maxConsecutivePaymentFailures: null
                  numConsecutiveFailures: 0
                  paymentRetryWindow: null
                  totalNumberOfProcessedPayments: 0
                  totalNumberOfErrorPayments: 0
                  createdDate: '2021-11-03 22:35:59'
                  updatedDate: '2021-11-03 22:35:59'
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  updatedBy: 402881e522cf4f9b0122cf5d82860002
                  AA_PICKLIST__c: null
                  cardNumber: null
                  expirationMonth: 11
                  expirationYear: 2021
                  creditCardType: Visa
                  accountHolderInfo:
                    accountHolderName: ''
                    phone: null
                    email: ''
                    addressLine1: ''
                    addressLine2: ''
                    zipCode: ''
                    city: ''
                    country: null
                    state: ''
                  mandateInfo:
                    mitProfileAction: null
                    mitProfileType: null
                    mitConsentAgreementSrc: null
                    mitConsentAgreementRef: null
                    mitTransactionId: null
                    mitProfileAgreedOn: null
                ach:
                - bankABACode: '110000000'
                  bankAccountNumber: '********6789'
                  bankAccountType: Checking
                  bankName: Chase
                  bankAccountName: Test
                  accountHolderInfo:
                    accountHolderName: null
                    phone: '2554444'
                    email: test@test.com
                    addressLine1: DSDFD
                    addressLine2: ''
                    zipCode: '123456'
                    city: Example City
                    country: United States
                    state: Example State
                  mandateInfo:
                    mandateId: null
                    mandateReceivedStatus: null
                    existingMandateStatus: null
                    mandateCreationDate: null
                    mandateUpdateDate: null
                    mandateStatus: null
                    mandateReason: null
                  id: 4028839f7cc14262017cc1bca9eb0008
                  type: ACH
                  isDefault: false
                  accountKey: 4028839f7ca29000017ca29c1ce8003f
                  status: Active
                  lastTransaction: Approved
                  useDefaultRetryRule: true
                  bankIdentificationNumber: null
                  deviceSessionId: null
                  existingMandate: null
                  ipAddress: null
                  lastFailedSaleTransactionDate: null
                  lastTransactionDateTime: '2021-10-27 05:32:19'
                  lastTransactionStatus: Approved
                  maxConsecutivePaymentFailures: null
                  numConsecutiveFailures: 0
                  paymentRetryWindow: null
                  totalNumberOfProcessedPayments: 0
                  totalNumberOfErrorPayments: 0
                  createdDate: '2021-10-27 05:32:19'
                  updatedDate: '2021-11-10 00:50:12'
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  updatedBy: 402881e522cf4f9b0122cf5d82860002
                  AA_PICKLIST__c: null
                success: true
  /v1/accounts/{account-key}/payment-methods/default:
    get:
      summary: Retrieve the default payment method of an account
      operationId: GET_AcountDefaultPaymentMethod
      description: 'Retrieves the default payment method of the specified customer account.


        **Note:** This operation also supports retrieving the custom payment method created through the Open Payment Method service.'
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: account-key
        in: path
        description: Account number or account ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentMethodResponseForAccount'
              example:
                cardNumber: '************1111'
                expirationMonth: 11
                expirationYear: 2027
                creditCardType: Visa
                accountHolderInfo:
                  accountHolderName: John Smith
                  phone: '86123456789'
                  email: example@google.com
                  addressLine1: ABC
                  addressLine2: EFT
                  zipCode: '844000'
                  city: Example City
                  country: United States
                  state: Example State
                mandateInfo:
                  mitProfileAction: null
                  mitProfileType: null
                  mitConsentAgreementSrc: null
                  mitConsentAgreementRef: null
                  mitTransactionId: null
                  mitProfileAgreedOn: null
                id: 4028839f7d26a155017d26af16ef0001
                type: CreditCard
                isDefault: true
                accountKey: 4028839f7ca29000017ca29c1ce8003f
                status: Active
                lastTransaction: Approved
                useDefaultRetryRule: true
                bankIdentificationNumber: '411111'
                deviceSessionId: null
                existingMandate: null
                ipAddress: null
                lastFailedSaleTransactionDate: null
                lastTransactionDateTime: '2021-11-15 18:59:08'
                lastTransactionStatus: Approved
                maxConsecutivePaymentFailures: null
                numConsecutiveFailures: 0
                paymentRetryWindow: null
                totalNumberOfProcessedPayments: 0
                totalNumberOfErrorPayments: 0
                createdDate: '2021-11-15 18:59:08'
                updatedDate: '2021-11-15 18:59:08'
                createdBy: 402881e522cf4f9b0122cf5d82860002
                updatedBy: 402881e522cf4f9b0122cf5d82860002
                AA_PICKLIST__c: null
                success: true
components:
  schemas:
    SubscriptionObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Subscription object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Subscription object.

        '
      title: subscriptionFieldsCustom
      type: object
    GETAccountSummaryType:
      properties:
        basicInfo:
          $ref: '#/components/schemas/GETAccountSummaryTypeBasicInfo'
        billToContact:
          $ref: '#/components/schemas/GETAccountSummaryTypeBillToContact'
        invoices:
          description: 'Container for invoices. Only returns the last 6 invoices.

            '
          items:
            $ref: '#/components/schemas/GETAccountSummaryInvoiceType'
          type: array
        payments:
          description: 'Container for payments. Only returns the last 6 payments.

            '
          items:
            $ref: '#/components/schemas/GETAccountSummaryPaymentType'
          type: array
        soldToContact:
          $ref: '#/components/schemas/GETAccountSummaryTypeSoldToContact'
        subscriptions:
          description: 'Container for subscriptions.

            '
          items:
            $ref: '#/components/schemas/GETAccountSummarySubscriptionType'
          type: array
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
        taxInfo:
          description: 'Container for tax exempt information, used to establish the tax exempt status of a customer account.

            '
          properties:
            VATId:
              description: 'EU Value Added Tax ID.

                '
              type: string
            companyCode:
              description: 'Unique code that identifies a company account in Avalara.

                '
              type: string
            exemptCertificateId:
              description: 'ID of the customer tax exemption certificate.

                '
              type: string
            exemptCertificateType:
              description: 'Type of tax exemption certificate that the customer holds.

                '
              type: string
            exemptDescription:
              description: 'Description of the tax exemption certificate that the customer holds.

                '
              type: string
            exemptEffectiveDate:
              description: 'Date when the customer tax exemption starts.

                '
              format: date
              type: string
            exemptEntityUseCode:
              description: 'A unique entity use code to apply exemptions in Avalara AvaTax.


                This account-level field is required only when you choose Avalara as your tax engine. See [Exempt Transactions](https://developer.avalara.com/avatax/handling-tax-exempt-customers/)for more details.

                '
              maxLength: 64
              type: string
            exemptExpirationDate:
              description: 'Date when the customer tax exemption expires.

                '
              format: date
              type: string
            exemptIssuingJurisdiction:
              description: 'Jurisdiction in which the customer tax exemption certificate was issued.

                '
              type: string
            exemptStatus:
              description: 'Status of the account tax exemption.

                '
              type: string
          type: object
        usage:
          description: 'Container for usage data. Only returns the last 6 months of usage.


            **Note:** If the Active Rating feature is enabled, no usage data is returned in the response body field.

            '
          items:
            $ref: '#/components/schemas/GETAccountSummaryUsageType'
          type: array
      type: object
    POSTAccountType:
      allOf:
      - properties:
          accountNumber:
            description: 'A unique account number, up to 50 characters that do not begin with the default account number prefix.  If no account number is specified, one is generated.

              '
            type: string
          additionalEmailAddresses:
            description: 'A list of additional email addresses to receive email notifications. Use commas to separate email addresses.

              '
            items:
              type: string
            type: array
          applicationOrder:
            description: "The priority order to apply credit memos and/or unapplied payments to an invoice. Possible item values are: `CreditMemo`, `UnappliedPayment`.\n\n**Note:**\n  - This field is valid only if the `applyCredit` field is set to `true`.\n  - If no value is specified for this field, the default priority order is used, [\"CreditMemo\", \"UnappliedPayment\"], to apply credit memos first and then apply unapplied payments.\n  - If only one item is specified, only the items of the spedified type are applied to invoices. For example, if the value is `[\"CreditMemo\"]`, only credit memos are used to apply to invoices.\n"
            items:
              type: string
            type: array
          applyCredit:
            description: 'Whether to automatically apply credit memos or unapplied payments, or both to an invoice.


              If the value is `true`, the credit memo or unapplied payment, or both will be automatically applied to the invoice. If no value is specified or the value is `false`, no action is taken.


              **Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.

              '
            type: boolean
          applyCreditBalance:
            description: "Applies a credit balance to an invoice.\n\nIf the value is `true`, the credit balance is applied to the invoice. If the value is `false`, no action is taken.\n\nPrerequisite: `invoice` must be `true`.\n\nTo view the credit balance adjustment, retrieve the details of the invoice using the Get Invoices method.\n\n\n**Note:** \n  - If you are using the field `invoiceCollect` rather than the field `invoice`, the `invoiceCollect` value must be `true`.\n  - This field is deprecated if you have the Invoice Settlement feature enabled. \n"
            type: boolean
          autoPay:
            description: "Whether future payments are to be automatically billed when they are due. \n\n- If this field is set to `true`, you must specify either the `creditCard` field or the `hpmCreditCardPaymentMethodId` field, but not both.\n- If this field is set to `false`, you can specify neither the `creditCard` field nor the `hpmCreditCardPaymentMethodId` field.\n"
            type: boolean
          batch:
            description: 'The alias name given to a batch. A string of 50 characters or

              less.


              **Note**: By default, you have 50 configurable account batches. To increase the limit to 200 batches, you must have the <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Performance_Booster_Elite" target="_blank">Performance Booster Elite</a> package.

              '
            type: string
          billCycleDay:
            description: "The account's bill cycle day (BCD), when bill runs generate invoices for the account.  Specify any day of the month (1-31, where 31 = end-of-month), or 0 for auto-set.\n\nRequired if no subscription will be created. \n\nOptional if a subscription is created and defaults to the day-of-the-month of the subscription's `contractEffectiveDate`.\n"
            format: int64
            type: integer
          billToContact:
            $ref: '#/components/schemas/POSTAccountTypeBillToContact'
          collect:
            default: true
            description: "Collects an automatic payment for a subscription. The collection generated in this operation is only for this subscription, not for the entire customer account.\n\nIf the value is `true`, the automatic payment is collected. If the value is `false`, no action is taken.\n\nPrerequisite: The `invoice` or `runBilling` field must be `true`. \n\n**Note**: This field is only available if you set the `zuora-version` request header to `196.0` or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version).\n"
            type: boolean
          communicationProfileId:
            description: 'The ID of the communication profile that this account is linked to.


              You can provide either or both of the `communicationProfileId` and `profileNumber` fields.


              If both are provided, the request will fail if they do not refer to the same communication profile.

              '
            type: string
          creditCard:
            $ref: '#/components/schemas/POSTAccountTypeCreditCard'
          creditMemoReasonCode:
            description: A code identifying the reason for the credit memo transaction that is generated by the request. The value must be an existing reason code. If you do not pass the field or pass the field with empty value, Zuora uses the default reason code.
            type: string
          creditMemoTemplateId:
            description: '**Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.


              The unique ID of the credit memo template, configured in **Billing Settings** > **Manage Billing Document Configuration** through the Zuora UI. For example, 2c92c08a6246fdf101626b1b3fe0144b.

              '
            type: string
          crmId:
            description: 'CRM account ID for the account, up to 100 characters.

              '
            type: string
          currency:
            description: 'A currency as defined in Billing Settings in the Zuora UI.


              For payment method authorization, if the `paymentMethod` > `currencyCode` field is specified, `currencyCode` is used. Otherwise, this `currency` field is used for payment method authorization. If no currency is specified for the account, the default currency of the account is then used.

              '
            type: string
          debitMemoTemplateId:
            description: '**Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.


              The unique ID of the debit memo template, configured in **Billing Settings** > **Manage Billing Document Configuration** through the Zuora UI. For example, 2c92c08d62470a8501626b19d24f19e2.

              '
            type: string
          documentDate:
            description: "The date of the billing document, in `yyyy-mm-dd` format. It represents the invoice date for invoices, credit memo date for credit memos, and debit memo date for debit memos.\n\n- If this field is specified, the specified date is used as the billing document date. \n- If this field is not specified, the date specified in the `targetDate` is used as the billing document date.\n"
            format: date
            type: string
          einvoiceProfile:
            $ref: '#/components/schemas/PostAccountEInvoiceProfile'
          hpmCreditCardPaymentMethodId:
            description: 'The ID of the payment method associated with this account. The payment method specified for this field will be set as the default payment method of the account.


              If the `autoPay` field is set to `true`, you must provide the credit card payment method ID for either this field or the `creditCard` field, but not both.


              For the Credit Card Reference Transaction payment method, you can specify the payment method ID in this field or use the `paymentMethod` field to create a CC Reference Transaction payment method for an account.

              '
            type: string
          invoice:
            default: true
            description: "**Note:** This field has been replaced by the `runBilling` field. The\n`invoice` field is only available for backward compatibility. \n\nCreates an invoice for a subscription. The invoice generated in this\noperation is only for this subscription, not for the entire customer\naccount.\n\nIf the value is `true`, an invoice is created. If the value is\n`false`, no action is taken.\n\n**Note**: This field is only available if you set the `zuora-version` request header to `196.0` or `207.0`.\n"
            type: boolean
          invoiceCollect:
            description: '**Note:** This field has been replaced by the `invoice` field

              and the `collect` field. `invoiceCollect` is available only for backward

              compatibility.



              If this field is set to `true`, and a subscription is created, an invoice is generated at account creation time and payment is immediately collected using the account''s default payment method.



              **Note**: This field is only available if you set the `zuora-version` request header to `186.0`, `187.0`, `188.0`, or `189.0`. The default field value is `true`.

              '
            type: boolean
          invoiceDeliveryPrefsEmail:
            default: false
            description: "Whether the customer wants to receive invoices through email. \n"
            type: boolean
          invoiceDeliveryPrefsPrint:
            default: false
            description: 'Whether the customer wants to receive printed invoices, such as through postal mail.

              '
            type: boolean
          invoiceTargetDate:
            description: "**Note:** This field has been replaced by the `targetDate` field. The\n`invoiceTargetDate` field is only available for backward\ncompatibility.  \n\n\nDate through which to calculate charges if an invoice is generated, as yyyy-mm-dd. Default is current date.\n\n\nThis field is in REST API minor version control. To use this field in\nthe method, you can set the `zuora-version` parameter to the minor\nversion number in the request header. Supported minor versions are\n`207.0` and earlier [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). \n"
            format: date
            type: string
          invoiceTemplateId:
            description: 'Invoice template ID, configured in Billing Settings in the Zuora UI.

              '
            type: string
          name:
            description: 'Account name, up to 255 characters.

              '
            type: string
          notes:
            description: A string of up to 65,535 characters.
            type: string
          organizationLabel:
            description: "Name of the organization that the account belongs to.  \n\nThis field is only required when you have already turned on Multi-Org feature.    \n"
            type: string
          parentId:
            description: Identifier of the parent customer account for this Account object. The length is 32 characters. Use this field if you have <a href="https://knowledgecenter.zuora.com/Billing/Subscriptions/Customer_Accounts/A_Customer_Account_Introduction#Customer_Hierarchy" target="_blank">Customer Hierarchy</a> enabled.
            type: string
          partnerAccount:
            default: false
            description: "Whether the customer account is a partner, distributor, or reseller. \n\n\nYou can set this field to `true` if you have business with distributors or resellers, or operating in B2B model to manage numerous subscriptions through concurrent API requests. After this field is set to `true`, the calculation of account metrics is performed asynchronously during operations such as subscription creation, order changes, invoice generation, and payments.\n\n \n**Note**: This field is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Zuora_Billing/Manage_customer_accounts/AAA_Overview_of_customer_accounts/Reseller_Account\" target=\"_blank\">Reseller Account</a> feature enabled.\n"
            type: boolean
          paymentGateway:
            description: 'The name of the payment gateway instance. If null or left unassigned, the Account will use the Default Gateway.

              '
            type: string
          paymentMethod:
            $ref: '#/components/schemas/POSTAccountTypePaymentMethod'
          paymentTerm:
            description: 'Payment terms for this account. Possible values are: `Due Upon Receipt`, `Net 30`, `Net 60`, `Net 90`.


              **Note**: If you want to specify a payment term when creating a new account, you must set a value in this field. If you do not set a value in this field, Zuora will use `Due Upon Receipt` as the value instead of the default value set in **Billing Settings** > **Payment Terms** from Zuora UI.

              '
            type: string
          profileNumber:
            description: 'The number of the communication profile that this account is linked to.


              You can provide either or both of the `communicationProfileId` and `profileNumber` fields.


              If both are provided, the request will fail if they do not refer to the same communication profile.

              '
            type: string
          runBilling:
            default: true
            description: "Creates an invoice for a subscription. If you have the Invoice Settlement feature enabled, a credit memo might also be created based on the [invoice and credit memo generation rule](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/B_Credit_and_Debit_Memos/Rules_for_generating_invoices_and_credit_memos). \n\n\nThe billing documents generated\nin this operation is only for this subscription, not for the entire\ncustomer account.\n\n\nPossible values:\n\n- `true`: An invoice is created. If you have the Invoice Settlement feature enabled, a credit memo might also be created.\n\n\n- `false`: No invoice is created.\n\n\n**Note:** This field is in Zuora REST API version control. Supported\nminor versions are `211.0` and later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). To use this field in the method,\nyou must set the `zuora-version` parameter to the minor version number\nin the request header.\n"
            enum:
            - true
            - false
            type: boolean
          salesRep:
            description: The name of the sales representative associated with this account, if applicable. Maximum of 50 characters.
            type: string
          sequenceSetId:
            description: "The ID of the billing document sequence set to assign to the customer account. \n\nThe billing documents to generate for this account will adopt the prefix and starting document number configured in the sequence set.\n\nIf a customer account has no assigned billing document sequence set, billing documents generated for this account adopt the prefix and starting document number from the default sequence set.\n"
            type: string
          soldToContact:
            $ref: '#/components/schemas/POSTAccountTypeSoldToContact'
          soldToSameAsBillTo:
            description: "Whether the sold-to contact and bill-to contact are the same entity. \n\nThe created account has the same bill-to contact and sold-to contact entity only when all the following conditions are met in the request body:\n\n- This field is set to `true`. \n- A bill-to contact is specified.\n- No sold-to contact is specified.\n"
            type: boolean
          subscription:
            $ref: '#/components/schemas/POSTAccountTypeSubscription'
          tagging:
            description: ''
            type: string
          targetDate:
            description: 'Date through which to calculate charges if an invoice or a credit memo is generated, as yyyy-mm-dd. Default is current date.


              **Note:** The credit memo is only available only if you have the Invoice Settlement feature enabled.


              This field is in Zuora REST API version control. Supported minor versions are `211.0` and later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). To use this field in the method, you must set the  `zuora-version` parameter to the minor version number in the request header.

              '
            format: date
            type: string
          taxInfo:
            description: 'Container for tax exempt information, used to establish the tax exempt status of a customer account.

              '
            properties:
              VATId:
                description: "EU Value Added Tax ID. \n\n**Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com).\n"
                type: string
              companyCode:
                description: "Unique code that identifies a company account in Avalara. Use this field to calculate taxes based on origin and sold-to addresses in Avalara.\n\n**Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com). \n"
                type: string
              exemptCertificateId:
                description: 'ID of the customer tax exemption certificate. Requires Zuora Tax.

                  '
                type: string
              exemptCertificateType:
                description: 'Type of tax exemption certificate that the customer holds. Requires Zuora Tax.

                  '
                type: string
              exemptDescription:
                description: 'Description of the tax exemption certificate that the customer holds. Requires Zuora Tax.

                  '
                type: string
              exemptEffectiveDate:
                description: 'Date when the customer tax exemption starts. Requires Zuora Tax.


                  Format: `yyyy-mm-dd`. Defaults to the current date.

                  '
                format: date
                type: string
              exemptEntityUseCode:
                description: 'A unique entity use code to apply exemptions in Avalara AvaTax.


                  This account-level field is required only when you choose Avalara as your tax engine. See [Exempt Transactions](https://developer.avalara.com/avatax/handling-tax-exempt-customers/)for more details.

                  '
                maxLength: 64
                type: string
              exemptExpirationDate:
                description: 'Date when the customer tax exemption expires. Requires Zuora Tax.


                  Format: `yyyy-mm-dd`. Defaults to the current date.

                  '
                format: date
                type: string
              exemptIssuingJurisdiction:
                description: 'Jurisdiction in which the customer tax exemption certificate was issued.

                  '
                type: string
              exemptStatus:
                description: 'Status of the account tax exemption. Requires Zuora Tax.


                  Required if you use Zuora Tax. This field is unavailable if Zuora Tax is not used.


                  Values: `Yes`, `No`(default), `pendingVerification`. Note that the value will be set to `No` if no input.

                  '
                type: string
            type: object
        required:
        - name
        - currency
        - billToContact
        type: object
      - $ref: '#/components/schemas/AccountObjectNSFields'
      - $ref: '#/components/schemas/AccountObjectCustomFields'
      example:
        additionalEmailAddresses:
        - contact1@example.com
        - contact2@example.com
        autoPay: false
        billCycleDay: 0
        billToContact:
          address1: 1051 E Hillsdale Blvd
          city: Foster City
          country: United States
          firstName: John
          lastName: Smith
          state: CA
          workEmail: smith@example.com
          zipCode: '94404'
        creditMemoReasonCode: Unsatisfactory service
        currency: USD
        einvoiceProfile:
          businessName: legal business name
          businessNumber: 20002039
          businessNumberSchemeId: 088
          enabled: true
          endpointId: 08992
          endpointSchemeId: 088
          taxRegisterNumber: TAX393999
        hpmCreditCardPaymentMethodId: 2c92c0f93cf64d94013cfe2d20db61a7
        invoiceDeliveryPrefsEmail: true
        invoiceDeliveryPrefsPrint: false
        name: Zuora Test Account
        notes: This account is for demo purposes.
        partnerAccount: true
        paymentTerm: Due Upon Receipt
        subscription:
          autoRenew: true
          contractEffectiveDate: '2016-01-01'
          initialTerm: 12
          notes: This is a trial subscription for POST account demo.
          renewalTerm: 12
          subscribeToRatePlans:
          - chargeOverrides:
            - price: 1000
              productRatePlanChargeId: 2c92c0f94ac8307f014ae5d4a5156b28
            - price: 1000
              productRatePlanChargeId: 2c92c0f94ac8307f014ae5dbe2947851
            productRatePlanId: 2c92c0f94ac8307f014ae5d3d1d469e2
          - chargeOverrides:
            - price: 1000
              productRatePlanChargeId: 2c92c0f83cf64298013d027725a67b7b
            productRatePlanId: 2c92c0f93cf64d94013d027681560341
          termType: TERMED
    PUTAccountType:
      allOf:
      - properties:
          additionalEmailAddresses:
            description: 'A list of additional email addresses to receive email notifications. Use commas to separate email addresses.

              '
            items:
              type: string
            type: array
          autoPay:
            description: "Whether future payments are to be automatically billed when they are due. \n"
            type: boolean
          batch:
            description: 'The alias name given to a batch. A string of 50 characters or

              less.


              **Note**: By default, you have 50 configurable account batches. To increase the limit to 200 batches, you must have the <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Performance_Booster_Elite" target="_blank">Performance Booster Elite</a> package.

              '
            type: string
          billCycleDay:
            description: 'Sets the bill cycle day (BCD) for the charge. The BCD determines

              which day of the month the customer is billed. Values: Any activated system-defined bill cycle day （`1`-`31`）

              '
            maxLength: 2
            type: integer
          billToContact:
            $ref: '#/components/schemas/PUTAccountTypeBillToContact'
          communicationProfileId:
            description: 'The ID of the communication profile that this account is linked to.


              You can provide either or both of the `communicationProfileId` and `profileNumber` fields.


              If both are provided, the request will fail if they do not refer to the same communication profile.

              '
            type: string
          creditMemoTemplateId:
            description: '**Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.


              The unique ID of the credit memo template, configured in **Billing Settings** > **Manage Billing Document Configuration** through the Zuora UI. For example, 2c92c08a6246fdf101626b1b3fe0144b.

              '
            type: string
          crmId:
            description: 'CRM account ID for the account, up to 100 characters.

              '
            type: string
          customerServiceRepName:
            description: 'Name of the account’s customer service representative, if applicable.

              '
            maxLength: 50
            type: string
          debitMemoTemplateId:
            description: '**Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.


              The unique ID of the debit memo template, configured in **Billing Settings** > **Manage Billing Document Configuration** through the Zuora UI. For example, 2c92c08d62470a8501626b19d24f19e2.

              '
            type: string
          defaultPaymentMethodId:
            description: 'ID of the default payment method for the account.


              Values: a valid ID for an existing payment method.

              '
            maxLength: 64
            type: string
          einvoiceProfile:
            $ref: '#/components/schemas/PUTAccountEinvoiceProfile'
          invoiceDeliveryPrefsEmail:
            description: "Whether the customer wants to receive invoices through email. \n\nThe default value is `false`.\n"
            type: boolean
          invoiceDeliveryPrefsPrint:
            description: 'Whether the customer wants to receive printed invoices, such as through postal mail.


              The default value is `false`.

              '
            type: boolean
          invoiceTemplateId:
            description: 'Invoice template ID, configured in Billing Settings in the Zuora UI.

              '
            type: string
          name:
            description: 'Account name, up to 255 characters.

              '
            type: string
          notes:
            description: 'A string of up to 65,535 characters.

              '
            type: string
          parentId:
            description: Identifier of the parent customer account for this Account object. The length is 32 characters. Use this field if you have <a href="https://knowledgecenter.zuora.com/Billing/Subscriptions/Customer_Accounts/A_Customer_Account_Introduction#Customer_Hierarchy" target="_blank">Customer Hierarchy</a> enabled.
            type: string
          partnerAccount:
            default: false
            description: "Whether the customer account is a partner, distributor, or reseller. \n\n\nYou can set this field to `true` if you have business with distributors or resellers, or operating in B2B model to manage numerous subscriptions through concurrent API requests. After this field is set to `true`, the calculation of account metrics is performed asynchronously during operations such as subscription creation, order changes, invoice generation, and payments.\n\n\n**Note**: This field is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Zuora_Billing/Manage_customer_accounts/AAA_Overview_of_customer_accounts/Reseller_Account\" target=\"_blank\">Reseller Account</a> feature enabled.\n"
            type: boolean
          paymentGateway:
            description: 'The name of the payment gateway instance. If null or left unassigned, the Account will use the Default Gateway.

              '
            type: string
          paymentTerm:
            description: Payment terms for this account. Possible values are `Due Upon Receipt`, `Net 30`, `Net 60`, `Net 90`.
            type: string
          profileNumber:
            description: 'The number of the communication profile that this account is linked to.


              You can provide either or both of the `communicationProfileId` and `profileNumber` fields.


              If both are provided, the request will fail if they do not refer to the same communication profile.

              '
            type: string
          purchaseOrderNumber:
            description: The purchase order number provided by your customer for services, products, or both purchased.
            type: string
          salesRep:
            description: The name of the sales representative associated with this account, if applicable. Maximum of 50 characters.
            type: string
          sequenceSetId:
            description: "The ID of the billing document sequence set to assign to the customer account. \n\nThe billing documents to generate for this account will adopt the prefix and starting document number configured in the sequence set.\n\nIf a customer account has no assigned billing document sequence set, billing documents generated for this account adopt the prefix and starting document number from the default sequence set.\n"
            type: string
          soldToContact:
            $ref: '#/components/schemas/PUTAccountTypeSoldToContact'
          tagging:
            description: ''
            type: string
          taxInfo:
            description: 'Container for tax exempt information, used to establish the tax exempt status of a customer account.

              '
            properties:
              VATId:
                description: "EU Value Added Tax ID. \n\n**Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com).\n"
                type: string
              companyCode:
                description: "Unique code that identifies a company account in Avalara. Use this field to calculate taxes based on origin and sold-to addresses in Avalara.\n\n**Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com). \n"
                type: string
              exemptCertificateId:
                description: 'ID of the customer tax exemption certificate. Requires Zuora Tax.

                  '
                type: string
              exemptCertificateType:
                description: 'Type of tax exemption certificate that the customer holds. Requires Zuora Tax.

                  '
                type: string
              exemptDescription:
                description: 'Description of the tax exemption certificate that the customer holds. Requires Zuora Tax.

                  '
                type: string
              exemptEffectiveDate:
                description: 'Date when the customer tax exemption starts. Requires Zuora Tax.


                  Format: `yyyy-mm-dd`. Defaults to the current date.

                  '
                format: date
                type: string
              exemptEntityUseCode:
                description: 'A unique entity use code to apply exemptions in Avalara AvaTax.


                  This account-level field is required only when you choose Avalara as your tax engine. See [Exempt Transactions](https://developer.avalara.com/avatax/handling-tax-exempt-customers/)for more details.

                  '
                maxLength: 64
                type: string
              exemptExpirationDate:
                description: 'Date when the customer tax exemption expires. Requires Zuora Tax.


                  Format: `yyyy-mm-dd`. Defaults to the current date.

                  '
                format: date
                type: string
              exemptIssuingJurisdiction:
                description: 'Jurisdiction in which the customer tax exemption certificate was issued.

                  '
                type: string
              exemptStatus:
                description: 'Status of the account tax exemption. Requires Zuora Tax.


                  Required if you use Zuora Tax. This field is unavailable if Zuora Tax is not used.


                  Values: `Yes`, `No`(default), `pendingVerification`. Note that the value will be set to `No` if no input.

                  '
                type: string
            type: object
        type: object
      - $ref: '#/components/schemas/AccountObjectNSFields'
      - $ref: '#/components/schemas/AccountObjectCustomFields'
      example:
        additionalEmailAddresses:
        - contact3@example.com
        - contact4@example.com
        customerServiceRepName: CSR0001
        einvoiceProfile:
          businessName: legal business name
          businessNumber: 20002039
          businessNumberSchemeId: 088
          enabled: true
          endpointId: 08992
          endpointSchemeId: 088
          taxRegisterNumber: TAX393999
        paymentGateway: TestGateway
        purchaseOrderNumber: PO0001
    AccountObjectNSFields:
      description: 'Container for Account fields provided by the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

        '
      properties:
        Class__NS:
          description: 'Value of the Class field for the corresponding customer account in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        CustomerType__NS:
          description: 'Value of the Customer Type field for the corresponding customer account in NetSuite. The Customer Type field is used when the customer account is created in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          enum:
          - Company
          - Individual
          type: string
        Department__NS:
          description: 'Value of the Department field for the corresponding customer account in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        IntegrationId__NS:
          description: 'ID of the corresponding object in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        IntegrationStatus__NS:
          description: 'Status of the account''s synchronization with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        Location__NS:
          description: 'Value of the Location field for the corresponding customer account in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        Subsidiary__NS:
          description: 'Value of the Subsidiary field for the corresponding customer account in NetSuite. The Subsidiary field is required if you use NetSuite OneWorld. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        SyncDate__NS:
          description: 'Date when the account was sychronized with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        SynctoNetSuite__NS:
          description: 'Specifies whether the account should be synchronized with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          enum:
          - 'Yes'
          - 'No'
          type: string
      title: accountFieldsNetSuite
      type: object
    ContactObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Contact object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Contact object.

        '
      title: contactFieldsCustom
      type: object
    PUTAccountTypeBillToContact:
      allOf:
      - properties:
          address1:
            description: 'First address line, 255 characters or less.

              '
            type: string
          address2:
            description: 'Second address line, 255 characters or less.

              '
            type: string
          city:
            description: 'City, 40 characters or less.

              '
            type: string
          country:
            description: 'Country; must be a valid country name or abbreviation. If using Zuora Tax, you must specify a country in the sold-to contact to calculate tax. A bill-to contact may be used if no sold-to contact is provided.

              '
            type: string
          county:
            description: 'County; 32 characters or less. May optionally be used by Zuora Tax to calculate county tax.

              '
            type: string
          fax:
            description: 'Fax phone number, 40 characters or less.

              '
            type: string
          firstName:
            description: 'First name, 100 characters or less.

              '
            type: string
          homePhone:
            description: 'Home phone number, 40 characters or less.

              '
            type: string
          lastName:
            description: 'Last name, 100 characters or less.

              '
            type: string
          mobilePhone:
            description: 'Mobile phone number, 40 characters or less.

              '
            type: string
          nickname:
            description: 'Nickname for this contact

              '
            type: string
          otherPhone:
            description: 'Other phone number, 40 characters or less.

              '
            type: string
          otherPhoneType:
            description: 'Possible values are: `Work`, `Mobile`, `Home`, `Other`.

              '
            type: string
          personalEmail:
            description: 'Personal email address, 80 characters or less.

              '
            type: string
          state:
            description: 'State; must be a valid state or province name or 2-character abbreviation. If using Zuora Tax, be aware that Zuora Tax requires a state (in the US) or province (in Canada) in this field for the sold-to contact to calculate tax, and that a bill-to contact may be used if no sold-to contact is provided.

              '
            type: string
          taxRegion:
            description: 'If using Zuora Tax, a region string as optionally defined in your tax rules. Not required.

              '
            type: string
          workEmail:
            description: 'Work email address, 80 characters or less.

              '
            type: string
          workPhone:
            description: 'Work phone number, 40 characters or less.

              '
            type: string
          zipCode:
            description: 'Zip code, 20 characters or less.

              '
            type: string
        required:
        - firstName
        - lastName
        type: object
      - $ref: '#/components/schemas/ContactObjectCustomFields'
      description: 'Container for bill-to contact information for this account.

        '
      title: Contact
    GETAccountSummarySubscriptionType:
      allOf:
      - properties:
          autoRenew:
            description: 'If `true`, auto-renew is enabled. If `false`, auto-renew is disabled.

              '
            type: boolean
          id:
            description: 'Subscription ID.

              '
            type: string
          initialTerm:
            description: "Duration of the initial subscription term in whole months. \n"
            type: string
          ratePlans:
            description: 'Container for rate plans for this subscription.

              '
            items:
              $ref: '#/components/schemas/GETAccountSummarySubscriptionRatePlanType'
            type: array
          renewalTerm:
            description: 'Duration of the renewal term in whole months.

              '
            type: string
          status:
            description: 'Subscription status; possible values are: `Draft`, `PendingActivation`, `PendingAcceptance`, `Active`, `Cancelled`, `Expired`.

              '
            type: string
          subscriptionNumber:
            description: 'Subscription Number.

              '
            type: string
          subscriptionStartDate:
            description: 'Subscription start date.

              '
            format: date
            type: string
          termEndDate:
            description: 'End date of the subscription term. If the subscription is evergreen, this is either null or equal to the cancellation date, as appropriate.

              '
            format: date
            type: string
          termStartDate:
            description: 'Start date of the subscription term. If this is a renewal subscription, this date is different than the subscription start date.

              '
            format: date
            type: string
          termType:
            description: 'Possible values are: `TERMED`, `EVERGREEN`.

              '
            type: string
        type: object
      - $ref: '#/components/schemas/SubscriptionObjectQTFields'
      - $ref: '#/components/schemas/SubscriptionObjectNSFields'
      - $ref: '#/components/schemas/SubscriptionObjectCustomFields'
      title: subscriptions
    GETAccountTypeBasicInfo:
      allOf:
      - properties:
          accountNumber:
[...]
