openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Product Rate Plans API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Product Rate Plans
  description: A product rate plan is the part of a product that your customers subscribe to. Each product can have multiple product rate plans, and each product rate plan can have multiple product rate plan charges, which are fees for products and their product rate plans.
paths:
  /v1/products/{product-key}/product-rate-plans:
    get:
      summary: List all product rate plans of a product
      operationId: GET_ProductRatePlans
      description: Retrieves information about all product rate plans of a specific product.
      tags:
      - Product Rate Plans
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: product-key
        in: path
        description: 'The unique ID or SKU of a product. For example, 2c92c0f96487e16a016487f663c71a61 or SKU-00000987.

          '
        required: true
        schema:
          type: string
      - name: show-charge-definitions
        in: query
        description: 'Specifies whether to include the product charge definitions of this rate plan in the response.


          **Note**: This parameter is applicable only if the Attribute Based Pricing feature is enabled. To access this feature, submit a request at <a href="https://support.zuora.com" target="_blank">Zuora Global Support</a>.

          '
        required: false
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductRatePlansResponse'
              example:
                productRatePlans:
                - id: 40289f466464127601646473d6f7000f
                  status: Active
                  name: New Rate Plan
                  description: ''
                  effectiveStartDate: '2016-07-01'
                  effectiveEndDate: '2020-07-31'
                  grade: 3
                  productRatePlanNumber: PRP-00000001
                  productRatePlanCharges:
                  - id: 40289f4664641276016464740dd0001c
                    name: New Component
                    type: Recurring
                    model: FlatFee
                    uom: null
                    pricingSummary:
                    - USD100
                    pricing:
                    - currency: USD
                      price: 100
                      tiers: null
                      includedUnits: null
                      overagePrice: null
                      discountPercentage: null
                      discountAmount: null
                    defaultQuantity: null
                    applyDiscountTo: null
                    discountLevel: null
                    discountClass: null
                    productDiscountApplyDetails: []
                    endDateCondition: Subscription_End
                    upToPeriods: null
                    upToPeriodsType: null
                    billingDay: DefaultFromCustomer
                    listPriceBase: Per_Billing_Period
                    specificListPriceBase: null
                    billingTiming: IN_ADVANCE
                    billingPeriod: Month
                    billingPeriodAlignment: AlignToCharge
                    specificBillingPeriod: null
                    smoothingModel: null
                    numberOfPeriods: null
                    overageCalculationOption: null
                    overageUnusedUnitsCreditOption: null
                    unusedIncludedUnitPrice: null
                    usageRecordRatingOption: null
                    priceChangeOption: null
                    priceIncreasePercentage: null
                    useTenantDefaultForPriceChange: null
                    taxable: false
                    taxCode: ''
                    taxMode: null
                    triggerEvent: ContractEffective
                    description: ''
                    revenueRecognitionRuleName: Recognize upon invoicing
                    revRecTriggerCondition: ContractEffectiveDate
                    revRecCode: ''
                    useDiscountSpecificAccountingCode: null
                    productRatePlanChargeNumber: PRPC-00000001
                    financeInformation:
                      recognizedRevenueAccountingCode: ''
                      recognizedRevenueAccountingCodeType: null
                      deferredRevenueAccountingCode: ''
                      deferredRevenueAccountingCodeType: null
                    productChargeDefinitions: https://rest.zuora.com/v1/product-charge-definitions?charge=8a80808e8aaf3b0a018aaf3f2beb022b&rateplan=8a80808e8aaf3b0a018aaf3ed4cf021e
                success: true
  /v1/product-rate-plans/{id}:
    get:
      summary: Retrieve a product rate plan by ID
      operationId: GET_ProductRatePlan
      description: Retrieves a product rate plan by its ID.
      tags:
      - Product Rate Plans
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductRatePlanWithExternalIdResponse'
              example:
                id: 402888e67f8b3a68017f8bbb2a06062d
                status: Active
                name: New Rate Plan Change
                description: ''
                effectiveStartDate: '2012-02-01'
                effectiveEndDate: '2032-02-01'
                grade: 3
                externallyManagedPlanIds:
                - Apple0001
                - Apple0002
                - Google0003
                externalIdSourceSystem: apple
                productRatePlanNumber: PRP-00000008
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: id
        required: true
        description: 'The ID, external ID, or the natural key of the product rate plan to be retrieved. For example, `402888e67f8b3a68017f8bbb2a06062d`, `Apple0001`, or `PRP-00000008`.

          '
        schema:
          type: string
  /v1/product-rate-plans/external-id/{id}:
    get:
      summary: List product rate plans by external ID
      operationId: GET_ProductRatePlansByExternalID
      description: Retrieves information about one or multiple product rate plans by external ID.
      tags:
      - Product Rate Plans
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductRatePlanWithExternalIdMultiResponse'
              example:
              - id: 2c989020823f450c01823fef40421eb6
                status: Active
                name: My rate plan 072706
                description: ''
                effectiveStartDate: '2022-01-01'
                effectiveEndDate: '2023-01-01'
                externalIdSourceSystem: apple
                externallyManagedPlanIds:
                - a
              - id: 2c989020823f450c01823fede57d1eb5
                status: Active
                name: My rate plan 072705
                description: ''
                effectiveStartDate: '2022-01-01'
                effectiveEndDate: '2023-01-01'
                externalIdSourceSystem: apple
                externallyManagedPlanIds:
                - a
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: id
        required: true
        description: 'The external ID of the product rate plan to be retrieved. For example, `Apple0001`.

          '
        schema:
          type: string
  /v1/object/product-rate-plan:
    post:
      summary: 'CRUD: Create a product rate plan'
      operationId: Object_POSTProductRatePlan
      description: Retrieves a product rate plan.
      tags:
      - Product Rate Plans
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCreateOrModifyResponse'
              example:
                Success: true
                Id: 2c93808457d787030157e0324735512b
        '400':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyBadRequestResponse'
              example:
                Errors:
                - Code: INVALID_VALUE
                  Message: The account number 123xProxy is invalid.
                Success: false
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyCreateProductRatePlan'
        required: true
  /v1/object/product-rate-plan/{id}:
    get:
      summary: 'CRUD: Retrieve a product rate plan'
      operationId: Object_GETProductRatePlan
      description: Retrieves a product rate plan.
      tags:
      - Product Rate Plans
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      - name: fields
        in: query
        required: false
        description: Object fields to return
        schema:
          type: string
      - name: id
        in: path
        description: Object id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyGetProductRatePlan'
              example:
                ProductId: 2c93808457d787030157e02da0231850
                Id: 2c93808457d787030157e02da0d91852
                CreatedById: 2c93808457d787030157e02d84c116d5
                CreatedDate: '2016-10-20T05:41:09.000+02:00'
                UpdatedDate: '2016-10-20T05:41:09.000+02:00'
                EffectiveStartDate: '1966-10-20'
                UpdatedById: 2c93808457d787030157e02d84c116d5
                Name: ProductRatePlan1476934869186_new
                EffectiveEndDate: '2066-10-20'
                Description: Test create product rateplan via API
                Grade: 3
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
        '404':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyNoDataResponse'
              example:
                records: {}
                size: 0
                done: true
    put:
      summary: 'CRUD: Update a product rate plan'
      operationId: Object_PUTProductRatePlan
      description: Updates a product rate plan.
      tags:
      - Product Rate Plans
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      - name: id
        in: path
        description: Object id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCreateOrModifyResponse'
              example:
                Success: true
                Id: 2c93808457d787030157e02da0d91852
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyModifyProductRatePlan'
        required: true
    delete:
      summary: 'CRUD: Delete a product rate plan'
      operationId: Object_DELETEProductRatePlan
      description: Deletes a product rate plan.
      tags:
      - Product Rate Plans
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: id
        in: path
        description: Object id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyDeleteResponse'
              example:
                success: true
                id: 2c93808457d787030157e02d9dde184f
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
components:
  schemas:
    ProxyCreateProductRatePlan:
      allOf:
      - properties:
          ActiveCurrencies:
            description: 'A list of 3-letter currency codes representing active currencies for the product rate plan. Use a comma to separate each currency code.


              When creating a product rate plan, you can use this field to specify default currency and at most four other active currencies.

              '
            items:
              type: string
            type: array
          Description:
            description: 'A description of the product rate plan.

              '
            maxLength: 500
            type: string
          EffectiveEndDate:
            description: 'The date when the product rate plan expires and can''t be subscribed to, in `yyyy-mm-dd` format.

              '
            format: date
            maxLength: 29
            type: string
          EffectiveStartDate:
            description: 'The date when the product rate plan becomes available and can be subscribed to, in `yyyy-mm-dd` format.

              '
            format: date
            maxLength: 29
            type: string
          Grade:
            description: "The grade that is assigned for the product rate plan. The value of this field must be a positive integer. The greater the value, the higher the grade.\n\nA product rate plan to be added to a Grading catalog group must have one grade. You can specify a grade for a product rate plan in this request or update the product rate plan individually.\n\n**Notes**: \n  - To use this field, you must set the `X-Zuora-WSDL-Version` request header to `116` or later. Otherwise, an error occurs.\n  - This field is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at [Zuora Global Support](http://support.zuora.com/).\n"
            type: number
          Name:
            description: 'The name of the product rate plan. The name doesn''t have to be unique in a Product Catalog, but the name has to be unique within a product.

              '
            maxLength: 255
            type: string
          ProductId:
            description: 'The ID of the product that contains the product rate plan.

              '
            maxLength: 32
            type: string
          ProductRatePlanNumber:
            description: "The natural key of the product rate plan.\n\n**Possible values**:\n\n  - leave null for automatically generated string\n  - an alphanumeric string of 100 characters or fewer\n\n**Note**: This field is only available if you set the `X-Zuora-WSDL-Version` request header to `133` or later.\n"
            maxLength: 100
            type: string
        required:
        - Name
        - ProductId
        type: object
      - $ref: '#/components/schemas/ProductRatePlanObjectNSFields'
      - $ref: '#/components/schemas/ProductRatePlanObjectCustomFields'
      example:
        Description: Test create product rateplan via API
        EffectiveEndDate: '2066-10-20'
        EffectiveStartDate: '1966-10-20'
        Grade: 3
        Name: ProductRatePlan1476935173957
        ProductId: 2c93808457d787030157e03246ae5129
    ProxyCreateOrModifyResponse:
      properties:
        Id:
          description: ''
          type: string
        Success:
          description: ''
          type: boolean
      type: object
    GETProductRatePlanChargeType:
      allOf:
      - properties:
          applyDiscountTo:
            description: 'Specifies where (to what charge type) the discount will be applied. These field values are case-sensitive.


              Permissible values:

              - RECURRING

              - USAGE

              - ONETIMERECURRING

              - ONETIMEUSAGE

              - RECURRINGUSAGE

              - ONETIMERECURRINGUSAGE

              '
            type: string
          billingDay:
            description: 'The bill cycle day (BCD) for the charge. The BCD determines which day of the month or week the customer is billed. The BCD value in the account can override the BCD in this object.

              '
            type: string
          billingPeriod:
            description: 'The billing period for the charge. The start day of the billing period is also called the bill cycle day (BCD).


              Values:

              - Month

              - Quarter

              - Annual

              - Semi_Annual

              - Specific Months

              - Week

              - Specific_Weeks

              '
            type: string
          billingPeriodAlignment:
            description: 'Aligns charges within the same subscription if multiple charges begin on different dates.


              Possible values:

              - AlignToCharge

              - AlignToSubscriptionStart

              - AlignToTermStart

              '
            type: string
          billingTiming:
            description: "The billing timing for the charge. You can choose to bill for charges in advance or in arrears.\n\nValues:\n- In Advance\n- In Arrears\n\n**Note:** This feature is in Limited Availability. If you wish to have access to the feature, submit a request at [Zuora Global Support](https://support.zuora.com). \n"
            type: string
          chargeModelConfigurations:
            description: This field is for Zuora Internal Use only. See the **pricing** field for the same information as this field.
            type: object
          creditOption:
            description: "**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.\n\nThe way to calculate credit. See [Credit Option](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_prepayment_charge#Credit_Option) for more information. \n"
            enum:
            - TimeBased
            - ConsumptionBased
            - FullCreditBack
            type: string
          defaultQuantity:
            description: 'The default quantity of units.  This field is required if you use a per-unit charge model.

              '
            format: decimal
            type: string
          deliverySchedule:
            $ref: '#/components/schemas/GETProductRatePlanChargeDeliverySchedule'
          description:
            description: 'Usually a brief line item summary of the Rate Plan Charge.

              '
            type: string
          discountClass:
            description: 'The class that the discount belongs to. The discount class defines the order in which discount product rate plan charges are applied.


              For more information, see [Manage Discount Classes](https://knowledgecenter.zuora.com/BC_Subscription_Management/Product_Catalog/B_Charge_Models/Manage_Discount_Classes).

              '
            type: string
          discountLevel:
            description: "The level of the discount. \n\nValues:\n- RatePlan\n- Subscription\n- Account\n"
            type: string
          drawdownRate:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              The [conversion rate](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_drawdown_charge#UOM_Conversion) between Usage UOM and Drawdown UOM for a [drawdown charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_drawdown_charge). Must be a positive number (>0).

              '
            type: number
          drawdownUom:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              Unit of measurement for a [drawdown charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_drawdown_charge).

              '
            type: string
          endDateCondition:
            description: 'Defines when the charge ends after the charge trigger date. If the subscription ends before the charge end date, the charge ends when the subscription ends. But if the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge will end on the charge end date.


              Values:

              - Subscription_End

              - Fixed_Period

              '
            type: string
          excludeItemBillingFromRevenueAccounting:
            description: "The flag to exclude the related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the Billing - Revenue Integration feature enabled. \n"
            type: boolean
          excludeItemBookingFromRevenueAccounting:
            description: "The flag to exclude the related rate plan charges and order line items from revenue accounting.\n\n**Note**: This field is only available if you have the Billing - Revenue Integration feature enabled. \n"
            type: boolean
          financeInformation:
            description: 'Container for finance information of a rate plan charge.

              '
            properties:
              adjustmentLiabilityAccountingCode:
                description: "The accounting code for adjustment liability. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled. \n"
                type: string
              adjustmentLiabilityAccountingCodeType:
                description: "The type associated with the adjustment liability accounting code. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled.\n"
                type: string
              adjustmentRevenueAccountingCode:
                description: "The accounting code for adjustment revenue. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled. \n"
                type: string
              adjustmentRevenueAccountingCodeType:
                description: "The type associated with the adjustment revenue accounting code. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled.\n"
                type: string
              contractAssetAccountingCode:
                description: "The accounting code for contract asset. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled. \n"
                type: string
              contractAssetAccountingCodeType:
                description: "The type associated with the contract asset accounting code. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled.\n"
                type: string
              contractLiabilityAccountingCode:
                description: "The accounting code for contract liability. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled. \n"
                type: string
              contractLiabilityAccountingCodeType:
                description: "The type associated with the contract liability accounting code. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled.\n"
                type: string
              contractRecognizedRevenueAccountingCode:
                description: "The accounting code for contract recognized revenue. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled. \n"
                type: string
              contractRecognizedRevenueAccountingCodeType:
                description: "The type associated with the contract recognized revenue accounting code. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled.\n"
                type: string
              deferredRevenueAccountingCode:
                description: "The accounting code for deferred revenue, such as Monthly Recurring Liability. \n"
                type: string
              deferredRevenueAccountingCodeType:
                description: "The type associated with the deferred revenue accounting code, such as Deferred Revenue. \n"
                type: string
              recognizedRevenueAccountingCode:
                description: "The accounting code for recognized revenue, such as Monthly Recurring Charges or Overage Charges. \n"
                type: string
              recognizedRevenueAccountingCodeType:
                description: "The type associated with the recognized revenue accounting code, such as Sales Revenue or Sales Discount. \n"
                type: string
              unbilledReceivablesAccountingCode:
                description: "The accounting code for unbilled receivables. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled. \n"
                type: string
              unbilledReceivablesAccountingCodeType:
                description: "The type associated with the unbilled receivables accounting code. \n\n**Note**: This field is only available if you have the RevPro Integration feature enabled.\n"
                type: string
            title: financeInformation
            type: object
          formula:
            description: 'The pricing formula to calculate the actual rating amount for each usage record.


              This field is only available for the usage-based charges that use the Multi-Attribute Pricing charge model. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

              '
            type: string
          id:
            description: 'Unique product rate-plan charge ID.

              '
            type: string
          includedUnits:
            description: 'Specifies the number of units in the base set of units when the charge model is Overage.

              '
            format: decimal
            type: string
          isAllocationEligible:
            description: 'This field is used to identify if the charge segment is allocation eligible in revenue recognition.


              **Note**: This feature is in the **Early Adopter** phase. If you want to use the feature, submit a request at <a href="https://support.zuora.com/" target="_blank">Zuora Global Support</a>, and we will evaluate whether the feature is suitable for your use cases.

              '
            type: boolean
          isPrepaid:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              Indicates whether this charge is a prepayment (topup) charge or a drawdown charge. Values: `true` or `false`.

              '
            type: boolean
          isRollover:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              The value is either "True" or "False". It determines whether the rollover fields are needed.

              '
            type: boolean
          isStackedDiscount:
            description: '**Note**: This field is only applicable to the Discount - Percentage charge model.


              To use this field, you must set the `X-Zuora-WSDL-Version` request header to 130 or higher. Otherwise, an error occurs.


              This field indicates whether the discount is to be calculated as stacked discount. Possible values are as follows:


              - `true`: This is a stacked discount, which should be calculated by stacking with other discounts.


              - `false`: This is not a stacked discount, which should be calculated in sequence with other discounts.


              For more information, see [Stacked discounts](https://knowledgecenter.zuora.com/Zuora_Billing/Products/Product_Catalog/B_Charge_Models/B_Discount_Charge_Models).

              '
            type: boolean
          isUnbilled:
            description: 'This field is used to dictate how to perform the accounting during revenue recognition.


              **Note**: This feature is in the **Early Adopter** phase. If you want to use the feature, submit a request at <a href="https://support.zuora.com/" target="_blank">Zuora Global Support</a>, and we will evaluate whether the feature is suitable for your use cases.

              '
            type: boolean
          listPriceBase:
            description: 'The list price base for the product rate plan charge.


              This field is only applicable for recurring charges.

              '
            enum:
            - Per_Billing_Period
            - Per_Month
            - Per_Week
            - Per_Year
            - Per_Specific_Months
            type: string
          maxQuantity:
            description: 'Specifies the maximum number of units for this charge. Use this field and the `minQuantity` field to create a range of units allowed in a product rate plan charge.

              '
            format: decimal
            type: string
          minQuantity:
            description: 'Specifies the minimum number of units for this charge. Use this field and the `maxQuantity` field to create a range of units allowed in a product rate plan charge.

              '
            format: decimal
            type: string
          model:
            description: "Charge model which determines how charges are calculated. Charge models must be individually activated in Zuora Billing administration. \n\nPossible values are:\n- `FlatFee`\n- `PerUnit`\n- `Overage`\n- `Volume`\n- `Tiered`\n- `TieredWithOverage`\n- `DiscountFixedAmount`\n- `DiscountPercentage`\n- `Delivery` (available only if you have the Delivery Pricing charge model enabled)\n- `MultiAttributePricing` (available only if you have the Multi-Attribute Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)\n- `PreratedPerUnit` (available only if you have the Pre-rated Per Unit Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)\n- `PreratedPricing` (available only if you have the Pre-rated Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)\n- `HighWatermarkVolumePricing` (available only if you have the High Water Mark Volume Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)\n- `HighWatermarkTieredPricing` (available only if you have the High Water Mark Tiered Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)\n\nThe value of the `pricing` field contains details about these charge models and the value of `pricingSummary` field contains their associated pricing summary values.\n"
            type: string
          name:
            description: 'Name of the product rate-plan charge. (Not required to be unique.)

              '
            type: string
          numberOfPeriods:
            description: 'Value specifies the number of periods used in the smoothing model calculations Used when overage smoothing model is `RollingWindow` or `Rollover`.

              '
            format: int64
            type: integer
          overageCalculationOption:
            description: 'Value specifies when to calculate overage charges.


              Values:

              - EndOfSmoothingPeriod

              - PerBillingPeriod

              '
            type: string
          overageUnusedUnitsCreditOption:
            description: 'Determines whether to credit the customer with unused units of usage.


              Values:

              - NoCredit

              - CreditBySpecificRate

              '
            type: string
          prepaidOperationType:
            description: "**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.\n\nThe type of this charge. It is either a prepayment (topup) charge or a drawdown charge. \n"
            enum:
            - topup
            - drawdown
            type: string
          prepaidQuantity:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              The number of units included in a [prepayment charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_prepayment_charge). Must be a positive number (>0).

              '
            type: number
          prepaidTotalQuantity:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              The total amount of units that end customers can use during a validity period when they subscribe to a [prepayment charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_prepayment_charge).

              '
            type: number
          prepaidUom:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              Unit of measurement for a [prepayment charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_prepayment_charge).

              '
            type: string
          prepayPeriods:
            description: "The number of periods to which prepayment is set. \n\n**Note:** This field is only available if you already have the prepayment feature enabled. The prepayment feature is deprecated and available only for backward compatibility. Zuora does not support enabling this feature anymore.\n"
            format: int64
            type: integer
          priceChangeOption:
            description: 'Applies an automatic price change when a termed subscription is renewed and the following applies:


              1. AutomatedPriceChange setting is on

              2. Charge type is not one-time

              3. Charge model is not discount fixed amount


              Values:

              - NoChange (default)

              - SpecificPercentageValue

              - UseLatestProductCatalogPricing

              '
            type: string
          priceIncreasePercentage:
            description: 'Specifies the percentage to increase or decrease the price of a termed subscription''s renewal. Use this field if you set the `PriceChangeOption` value to `SpecificPercentageValue`.


              1. AutomatedPriceChange setting is on

              2. Charge type is not one-time

              3. Charge model is not discount fixed amount


              Values: a decimal between -100 and 100

              '
            format: decimal
            type: string
          pricing:
            description: "One or more price charge models with attributes that further describe the model. \nSome attributes show as null values when not applicable.\n"
            items:
              $ref: '#/components/schemas/GETProductRatePlanChargePricingType'
            type: array
          pricingSummary:
            description: 'A concise description of the charge model and pricing that is suitable to show to your customers. When the rate plan charge model is `Tiered` and multi-currency is enabled, this field includes an array of string of each currency, and each string of currency includes tier price description separated by comma.


              For the following charge models, the value of this field is an empty string:

              - Multi-Attribute Pricing

              - High Water Mark Tiered Pricing

              - High Water Mark Volume Pricing

              - Pre-Rated Per Unit Pricing

              - Pre-Rated Pricing


              The charge models are available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

              '
            items:
              type: string
            type: array
          productChargeDefinitions:
            description: 'A link to retrieve product charge definitions of this charge.

              '
            type: string
          productDiscountApplyDetails:
            description: "Container for the application details about a discount product rate plan charge. \n\nOnly discount product rate plan charges have values in this field.\n"
            items:
              $ref: '#/components/schemas/GETProductDiscountApplyDetailsType'
            type: array
          productRatePlanChargeNumber:
            description: 'The natural key of the product rate plan charge.

              '
            type: string
          ratingGroup:
            description: "Specifies a rating group based on which usage records are rated.\n\nPossible values:\n\n- `ByBillingPeriod` (default): The rating is based on all the usages in a billing period.\n- `ByUsageStartDate`: The rating is based on all the usages on the same usage start date. \n- `ByUsageRecord`: The rating is based on each usage record.\n- `ByUsageUpload`: The rating is based on all the  usages in a uploaded usage file (`.xls` or `.csv`).\n- `ByGroupId`: The rating is based on all the usages in a custom group.\n\n**Note:** \n- The `ByBillingPeriod` value can be applied for all charge models. \n- The `ByUsageStartDate`, `ByUsageRecord`, and `ByUsageUpload` values can only be applied for per unit, volume pricing, and tiered pricing charge models. \n- The `ByGroupId` value is only available if you have the Active Rating feature enabled.\n- Use this field only for Usage charges. One-Time Charges and Recurring Charges return `NULL`.\n"
            type: string
          revRecCode:
            description: 'Associates this product rate plan charge with a specific revenue recognition code. The value is a valid revenue recognition code.

              '
            maxLength: 70
            type: string
          revRecTriggerCondition:
            description: 'Specifies when revenue recognition begins.

              '
            enum:
            - ContractEffectiveDate
            - ServiceActivationDate
            - CustomerAcceptanceDate
            maxLength: 22
            type: string
          revenueRecognitionRuleName:
            description: 'The name of the revenue recognition rule governing the revenue schedule.

              '
            type: string
          rolloverApply:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              This field defines the priority of rollover, which is either first or last.

              '
            enum:
            - ApplyFirst
            - ApplyLast
            type: string
          rolloverPeriodLength:
            default: null
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              The period length of the rollover fund.

              '
            type: integer
          rolloverPeriods:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              This field defines the number of rollover periods, it is restricted to 3.

              '
            type: number
          smoothingModel:
            description: 'Specifies the smoothing model for an overage smoothing charge model or an tiered with overage model, which is an advanced type of a usage model that avoids spikes in usage charges. If a customer''s usage spikes in a single period, then an overage smoothing model eases overage charges by considering usage and multiple periods.


              One of the following values shows which smoothing model will be applied to the charge when `Overage` or `Tiered with Overage` is used:


              - `RollingWindow` considers a number of periods to smooth usage. The rolling window starts and increments forward based on billing frequency. When allowed usage is met, then period resets and a new window begins.

              - `Rollover` considers a fixed number of periods before calculating usage. The net balance at the end of a period is unused usage, which is carried over to the next period''s balance.

              '
            type: string
          specificBillingPeriod:
            description: 'When the billing period is set to `Specific` Months then this positive integer reflects the number of months for billing period charges.

              '
            format: int64
            type: integer
          specificListPriceBase:
            description: 'The number of months for the list price base of the charge. The value of this field is `null` if you do not set the value of the `listPriceBase` field to `Per_Specific_Months`.

              '
          taxCode:
            description: 'Specifies the tax code for taxation rules; used by Zuora Tax.

              '
            type: string
          taxMode:
            description: 'Specifies how to define taxation for the charge; used by Zuora Tax. Possible values are: `TaxExclusive`, `TaxInclusive`.

              '
            type: string
          taxable:
            description: 'Specifies whether the charge is taxable; used by Zuora Tax. Possible values are:`true`, `false`.

              '
            type: boolean
          triggerEvent:
            description: "Specifies when to start billing the customer for the charge.\n\nValues: one of the following:\n- `ContractEffective` is the date when the subscription's contract goes into effect and the charge is ready to be billed.\n- `ServiceActivation` is the date when the services or products for a subscription have been activated and the customers have access.\n- `CustomerAcceptance` is when the customer accepts the services or products for a subscription. \n- `SpecificDate` is the date specified.\n"
            type: string
          type:
            description: 'The type of charge. Possible values are: `OneTime`, `Recurring`, `Usage`.

              '
            type: string
          uom:
            description: 'Describes the Units of Measure (uom) configured in **Settings > Billing** for the productRatePlanCharges.


              Values: `Each`, `License`, `Seat`, or `null`

              '
            type: string
          upToPeriods:
            description: 'Specifies the length of the period during which the charge is active. If this period ends before the subscription ends, the charge ends when this period ends.

              If the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge end date will change accordingly up to the original period end.

              '
            format: int64
            type: integer
          upToPeriodsType:
            description: "The period type used to define when the charge ends.\n\nValues:\n- Billing_Periods\n- Days\n- Weeks\n- Months\n- Years\n  \n"
            type: string
          usageRecordRatingOption:
            description: "Determines how Zuora processes usage records for per-unit usage charges. \n"
            type: string
          useDiscountSpecificAccountingCode:
            description: 'Determines whether to define a new accounting code for the new discount charge.

              Values: `true`, `false`

              '
            type: boolean
          useTenantDefaultForPriceChange:
            description: 'Shows the tenant-level percentage uplift value for an automatic price change to a termed subscription''s renewal. You set the tenant uplift value in the web-based UI: **Settings > Billing > Define Default Subscription Settings**.


              Values: `true`, `false`

              '
            type: boolean
          validityPeriodType:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              The period in which the prepayment units are valid to use as defined in a [prepayment charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_prepayment_charge).

              '
            enum:
            - SUBSCRIPTION_TERM
            - ANNUAL
            - SEMI_ANNUAL
            - QUARTER
            - MONTH
            type: string
        type: object
      - $ref: '#/components/schemas/ProductRatePlanChargeObjectNSFields'
      - $ref: '#/components/schemas/ProductRatePlanChargeObjectCustomFields'
      title: productRatePlanCharges
    ProxyUnauthorizedResponse:
      properties:
        message:
          description: 'Error message.


            If the error message is "Authentication error", ensure that the `Authorization` request header contains valid authentication credentials, then retry the request. See [Authentication](/rest-api/general-concepts/authentication/) for more information.


            If the error message is "Failed to get user info", retry the request.

            '
          type: string
      type: object
    ProxyModifyProductRatePlan:
      allOf:
      - properties:
          ActiveCurrencies:
            description: 'A list of 3-letter currency codes representing active currencies for the product rate plan. Use a comma to separate each currency code.


              If the request body contains this field, the value of this field must contain the desired list of active currencies. The new list can never have more than four differences from the existing list.


              This field cannot be used to modify the status of more than four currencies in a single request. For example, in a single request, you can only activate four currencies, or deactivate four currencies, or activate two and deactivate two. Making more than four changes to currencies always requires more than one call.


              When specifying this field in the update request, you must provide the full list of active currencies you want, not just incremental changes. For each active currency update, provide the following currencies in the list:


              Current active currencies + at most four changes (additions or deletions)

              '
            items:
              type: string
            type: array
          Description:
            description: 'A description of the product rate plan.

              '
            maxLength: 500
            type: string
          EffectiveEndDate:
            description: 'The date when the product rate plan expires and can''t be subscribed to, in `yyyy-mm-dd` format.

              '
            format: date
            maxLength: 29
            type: string
          EffectiveStartDate:
            description: 'The date when the product rate plan becomes available and can be subscribed to, in `yyyy-mm-dd` format.

              '
            format: date
            maxLength: 29
            type: string
          Grade:
            description: "The grade that is assigned for the product rate plan. The value of this field must be a positive integer. The greater the value, the higher the grade.\n\nA product rate plan to be added to a Grading catalog group must have one grade. You can specify a grade for a product rate plan in this request or update the product rate plan individually.\n\n**Notes**: \n  - To use this field, you must set the `X-Zuora-WSDL-Version` request header to `116` or later. Otherwise, an error occurs.\n  - This field is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at [Zuora Global Support](http://support.zuora.com/).\n"
            type: number
          Name:
            description: 'The name of the product rate plan. The name doesn''t have to be unique in a Product Catalog, but the name has to be unique within a product.

              '
            maxLength: 255
            type: string
          ProductId:
            description: 'The ID of the product that contains the product rate plan.

              '
            maxLength: 32
            type: string
          ProductRatePlanNumber:
            description: "The natural key of the product rate plan. \n\nFor existing Product Rate Plan objects that are created before this field is introduced, this field will be null. Use this field to specify a value for only these objects. Zuora also provides a tool to help you automatically backfill this field with tenant ID for your existing product catalog. If you want to use this backfill tool, contact [Zuora Global Support](https://support.zuora.com/).\n\n**Note**: This field is only available if you set the `X-Zuora-WSDL-Version` request header to `133` or later.\n"
            maxLength: 100
            type: string
        type: object
      - $ref: '#/components/schemas/ProductRatePlanObjectNSFields'
      - $ref: '#/components/schemas/ProductRatePlanObjectCustomFields'
      example:
        Id: 2c93808457d787030157e02da0d91852
        Name: ProductRatePlan1476934869186_new
    ProductRatePlanObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Product Rate Plan object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Product Rate Plan object.

        '
      title: productRatePlanFieldsCustom
      type: object
    ProxyBadRequestResponse:
      properties:
        Errors:
          items:
            properties:
              Code:
                description: ''
                type: string
              Message:
                description: ''
                type: string
            type: object
          type: array
        Success:
          description: ''
          type: boolean
      type: object
    GETProductRatePlanWithExternalIdMultiResponse:
      items:
        properties:
          ExternalIdSourceSystem:
            description: 'The combination of `externallyManagedPlanId` and `externalIdSourceSystem` is the unique identifier for the rate plan purchased on a third-party store. This field is used to represent a subscription rate plan created through third-party stores.

              '
            type: string
          description:
            description: 'The short description of the product rate plan.

              '
            type: string
          effectiveEndDate:
            description: 'The end date of the product rate plan.

              '
            format: date
            type: string
          effectiveStartDate:
            description: 'The start date of the product rate plan.

              '
            format: date
            type: string
          externallyManagedPlanIds:
            description: 'The unique identifier for the product rate plan in a third-party store. This field is used to represent a rate plan created through third-party stores.

              '
            items:
              type: string
            type: array
          grade:
            description: 'The grade of the product rate plan.


              **Note**: This field is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at [Zuora Global Support](http://support.zuora.com/).

              '
            type: number
          id:
            description: 'The unique product rate plan ID.

              '
            type: string
          name:
            description: 'The name of the product rate plan.

              '
            type: string
          organizationLabels:
            description: "The organization(s) that the object belongs to. \n\nNote: This field is available only when the Multi-Org feature is enabled.            \n"
            items:
              properties:
                organizationId:
                  description: 'The organization ID.

                    '
                  type: string
                organizationName:
                  description: 'The organization name.

                    '
                  type: string
              type: object
            type: array
          status:
            description: "The status of the product rate plan. \n"
            enum:
            - Active
            - Expired
            - NotStarted
            type: string
          success:
            description: 'Returns `true` if the request was processed successfully.

              '
            type: boolean
      type: array
    GETProductRatePlansResponse:
      properties:
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        productRatePlans:
          description: 'Container for one or more products.

            '
          items:
            $ref: '#/components/schemas/GETProductRatePlanType'
          type: array
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    GETProductDiscountApplyDetailsType:
      properties:
        appliedProductRatePlanChargeId:
          description: 'The ID of the product rate plan charge that the discount product rate plan charge applies to.

            '
          type: string
        appliedProductRatePlanId:
          description: 'The ID of the product rate plan that the discount product rate plan charge applies to.

            '
          type: string
      title: productDiscountApplyDetails
      type: object
    ProxyGetProductRatePlan:
      allOf:
      - properties:
          ActiveCurrencies:
            description: "A list of 3-letter currency codes representing active currencies for the product rate plan. \n\nThis field cannot be queried in conjunction with any other fields except `id` at the same time. \n"
            items:
              type: string
            type: array
          CreatedById:
            description: 'The automatically generated ID of the Zuora user who created the `ProductRatePlan` object.

              '
            maxLength: 32
            type: string
          CreatedDate:
            description: 'The date when the `ProductRatePlan` object was created.

              '
            format: date-time
            maxLength: 29
            type: string
          Description:
            description: 'A description of the product rate plan.

              '
            maxLength: 500
            type: string
          EffectiveEndDate:
            description: 'The date when the product rate plan expires and can''t be subscribed to, in `yyyy-mm-dd` format.

              '
            format: date
            maxLength: 29
            type: string
          EffectiveStartDate:
            description: 'The date when the product rate plan becomes available and can be subscribed to, in `yyyy-mm-dd` format.

              '
            format: date
            maxLength: 29
            type: string
          Grade:
            description: "The grade that is assigned for the product rate plan.\n\n**Notes**: \n  - To use this field, you must set the `X-Zuora-WSDL-Version` request header to `116` or later. Otherwise, an error occurs.\n  - This field is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at [Zuora Global Support](http://support.zuora.com/).\n"
            type: number
          Id:
            description: Object identifier.
            type: string
          Name:
            description: 'The name of the product rate plan. The name doesn''t have to be unique in a Product Catalog, but the name has to be unique within a product.

              '
            maxLength: 255
            type: string
          ProductId:
            description: 'The ID of the product that contains the product rate plan.

              '
            maxLength: 32
            type: string
          UpdatedById:
            description: 'The automatically generated ID of the last user to update the object.

              '
            maxLength: 32
            type: string
          UpdatedDate:
            description: 'The date when the object was last updated.

              '
            format: date-time
            maxLength: 29
            type: string
        type: object
      - $ref: '#/components/schemas/ProductRatePlanObjectNSFields'
      - $ref: '#/components/schemas/ProductRatePlanObjectCustomFields'
    ProductRatePlanChargeObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Product Rate Plan Charge object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Product Rate Plan Charge object.

        '
      title: productRatePlanChargeFieldsCustom
      type: object
    GETProductRatePlanChargePricingType:
      properties:
        currency:
          description: 'Currency used by the charge model. For example: USD or EUR

            '
          type: string
        discountAmount:
          description: 'Value subtracted from price in currency specified. Used only when the charge model is DiscountFixedAmount.

            '
          format: decimal
          type: string
        discountPercentage:
          description: 'Percent discount applied to the price. Used only when the charge model is DiscountPercentage.

            '
          format: decimal
          type: string
        includedUnits:
          description: 'Specifies the number of units in the base set of units when the charge model is Overage.

            '
          format: decimal
          type: string
        overagePrice:
          description: 'Price per unit when base set of units is exceeded. Used only when charge model is Overage or Tiered with Overage.

            '
          format: decimal
          type: string
        price:
          description: 'The decimal value that applies when the charge model is not tiered

            '
          format: decimal
          type: string
        tiers:
          description: 'Container for one or many defined tier ranges with distinct pricing.  Applies when model is `Tiered`, `TieredWithOverage`, or `Volume`

            '
          items:
            $ref: '#/components/schemas/GETProductRatePlanChargePricingTierType'
          type: array
      title: pricing
      type: object
    GETProductRatePlanWithExternalIdResponse:
      properties:
        ExternalIdSourceSystem:
          description: 'The combination of `externallyManagedPlanId` and `externalIdSourceSystem` is the unique identifier for the rate plan purchased on a third-party store. This field is used to represent a subscription rate plan created through third-party stores.

            '
          type: string
        description:
          description: 'The short description of the product rate plan.

            '
          type: string
        effectiveEndDate:
          description: 'The end date of the product rate plan.

            '
          format: date
          type: string
        effectiveStartDate:
          description: 'The start date of the product rate plan.

            '
          format: date
          type: string
        externallyManagedPlanIds:
          description: 'The unique identifier for the product rate plan in a third-party store. This field is used to represent a rate plan created through third-party stores.

            '
          items:
            type: string
          type: array
        grade:
          description: 'The grade of the product rate plan.


            **Note**: This field is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at [Zuora Global Support](http://support.zuora.com/).

            '
          type: number
        id:
          description: 'The unique product rate plan ID.

            '
          type: string
        name:
          description: 'The name of the product rate plan.

            '
          type: string
        organizationLabels:
          description: "The organization(s) that the object belongs to. \n\nNote: This field is available only when the Multi-Org feature is enabled.            \n"
          items:
            properties:
              organizationId:
                description: 'The organization ID.

                  '
                type: string
              organizationName:
                description: 'The organization name.

                  '
                type: string
            type: object
          type: array
        productRatePlanNumber:
          description: 'The natural key of the product rate plan.

            '
          type: string
        status:
          description: "The status of the product rate plan. \n"
          enum:
          - Active
          - Expired
          - NotStarted
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    ProductRatePlanChargeObjectNSFields:
      description: 'Container for Product Rate Plan Charge fields provided by the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

        '
      properties:
        Class__NS:
          description: 'Class associated with the corresponding item in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        DeferredRevAccount__NS:
          description: 'Deferrred revenue account associated with the corresponding item in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        Department__NS:
          description: 'Department associated with the corresponding item in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        IncludeChildren__NS:
[...]
