openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Payment Methods API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Payment Methods
  description: Payment methods represents payment method details associated with a customer account.
paths:
  /v1/payment-methods:
    post:
      summary: Create a payment method
      operationId: POST_PaymentMethods
      description: You can use this operation to create either a payment method associated with a specific customer account, or an orphan payment method that is not associated with any customer account.
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTPaymentMethodResponse'
              example:
                id: 2c92a09650a7a80a0150ab50a5b746bd
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTPaymentMethodRequest'
        required: true
  /v1/payment-methods/decryption:
    post:
      summary: Create an Apple Pay payment method
      operationId: POST_PaymentMethodsDecryption
      description: 'The decryption API endpoint can conditionally perform 4 tasks in one atomic call:

        * Decrypt Apple Pay Payment token

        * Create Credit Card Payment Method in Zuora with decrypted Apple Pay information

        * Create a stored credential profile within the Apple Pay payment method

        * Process Payment on a specified Invoice (optional)'
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTPaymentMethodResponseDecryption'
              example:
                paymentMethodId: 2c92c8f83dcbd8b1013dcce1d6a600ce
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTPaymentMethodDecryption'
        required: true
  /v1/payment-methods/{payment-method-id}:
    put:
      summary: Update a payment method
      operationId: PUT_PaymentMethod
      description: 'This operation allows you to update an existing payment method.


        The following request body fields can be updated for any payment method types except for Credit Card Reference Transaction:

        * `authGateway`

        * `gatewayOptions`

        * `accountHolderInfo`

        * `ipAddress`

        * Custom fields


        The following request body fields can be updated only for the Credit Card payment method:

        * `expirationMonth`

        * `expirationYear`

        * `securityCode`


        The following request body field can be updated for the Credit Card, Credit Card Reference Transaction, ACH, and Bank Transfer payment methods:

        * `mandateInfo`'
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: Unique ID of the payment method to update.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTPaymentMethodResponse'
              example:
                id: 2c92c0f86c99b4eb016cae1ee301728f
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTPaymentMethodRequest'
        required: true
    get:
      summary: Retrieve a payment method
      operationId: GET_PaymentMethod
      description: 'This operation allows you to get the detailed information about a payment method.


        **Note:** This operation also supports retrieving the custom payment method created through the Open Payment Method service.'
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: Unique ID of the payment method to update.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentMethodResponse'
              example:
                cardNumber: '************1111'
                expirationMonth: 11
                expirationYear: 2027
                creditCardType: Visa
                accountHolderInfo:
                  accountHolderName: John Smith
                  phone: '86123456789'
                  email: example@google.com
                  addressLine1: ABC
                  addressLine2: EFT
                  zipCode: '844000'
                  city: Example City
                  country: United States
                  state: Example State
                mandateInfo:
                  mitProfileAction: null
                  mitProfileType: null
                  mitConsentAgreementSrc: null
                  mitConsentAgreementRef: null
                  mitTransactionId: null
                  mitProfileAgreedOn: null
                id: 4028839f7d26a155017d26af16ef0001
                type: CreditCard
                isDefault: true
                accountKey: 4028839f7ca29000017ca29c1ce8003f
                status: Active
                lastTransaction: Approved
                useDefaultRetryRule: true
                bankIdentificationNumber: '411111'
                deviceSessionId: null
                existingMandate: null
                ipAddress: null
                lastFailedSaleTransactionDate: null
                lastTransactionDateTime: '2021-11-15 18:59:08'
                lastTransactionStatus: Approved
                maxConsecutivePaymentFailures: null
                numConsecutiveFailures: 0
                paymentRetryWindow: null
                totalNumberOfProcessedPayments: 0
                totalNumberOfErrorPayments: 0
                createdDate: '2021-11-15 18:59:08'
                updatedDate: '2021-11-15 18:59:08'
                createdBy: 402881e522cf4f9b0122cf5d82860002
                updatedBy: 402881e522cf4f9b0122cf5d82860002
                AA_PICKLIST__c: null
                success: true
    delete:
      summary: Delete a payment method
      operationId: DELETE_PaymentMethods
      description: 'Deletes a credit card payment method.


        If the specified payment method is the account''s default payment

        method, the request will fail. In that case, you must first designate a

        different payment method for that customer to be the default.'
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: Unique identifier of a payment method. (Since this ID is unique, and linked to a customer account in the system, no customer identifier is needed.)
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/payment-methods/{payment-method-id}/verify:
    put:
      description: 'Sends an authorization request to the corresponding payment gateway to verify the payment method, even though no changes are made for the payment method. Supported payment methods are Credit Cards and Paypal.


        Zuora now supports performing a standalone zero dollar verification or one dollar authorization for credit cards. It also supports a billing agreement status check on PayPal payment methods.


        If a payment method is created by Hosted Payment Pages and is not assigned to any billing account, the payment method cannot be verified through this operation.'
      summary: Verify a payment method
      operationId: PUT_VerifyPaymentMethods
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - in: path
        name: payment-method-id
        required: true
        description: 'The ID of the payment method to be verified.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTVerifyPaymentMethodResponseType'
              example:
                success: true
                paymentMethodId: 402890765d9ce329015da18034ee0057
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTVerifyPaymentMethodType'
        required: true
  /v1/payment-methods/{payment-method-id}/scrub:
    put:
      tags:
      - Payment Methods
      summary: Scrub a payment method
      operationId: PUT_ScrubPaymentMethods
      description: 'This operation enables you to replace all sensitive data in a payment method, related payment method snapshot table, and four related log tables with dummy values that will be stored in Zuora databases.


        This operation will scrub the sensitive data and soft-delete the specified payment method at the same time.


        If you want to delete or anonymize personal data in Zuora, you must scrub the payment method before anonymizing the associated account and contact. See Delete or anonymize personal data for more information.


        **Note:** In order to use this operation, you must ensure that the **Scrub Sensitive Data of Specific Payment Method payments** permission is enabled in your user role. Contact your tenant administrator if you want to enable this permission. See Scrub Payment Methods for more information.'
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: 'The ID of the payment method where you want to scrub the sensitive data.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/payment-methods/{payment-method-id}/profiles:
    post:
      description: 'Creates a stored credential profile within a payment method.


        The stored credential profile represents a consent agreement that you have established with a customer. When you use the payment method in a transaction, Zuora may include information from the stored credential profile to inform the payment processor that the transaction is related to your pre-existing consent agreement with the customer.'
      summary: Create a stored credential profile
      operationId: POST_CreateStoredCredentialProfile
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: 'ID of a payment method.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedStoredCredentialProfileResponse'
              example:
                success: true
                paymentMethodId: 402881836953a3c7016953aec290000d
                number: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoredCredentialProfileRequest'
        required: true
    get:
      description: Retrieves the stored credential profiles within a payment method.
      summary: List stored credential profiles of a payment method
      operationId: GET_StoredCredentialProfiles
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: 'ID of a payment method.

          '
        schema:
          type: string
      - name: includeAll
        in: query
        description: 'Specifies whether to retrieve all the stored credential profiles within the payment method.


          By default, Zuora returns only the stored credential profiles with `Agreed` or `Active` status. If you set this parameter to `true`, Zuora returns all the stored credential profiles.

          '
        schema:
          type: boolean
          default: false
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStoredCredentialProfilesResponse'
              example:
                profiles:
                - paymentMethodId: 402881836953a3c7016953aec290000d
                  number: 1
                  brand: Visa
                  status: Cancelled
                  type: Recurring
                  consentAgreementSrc: External
                  consentAgreementRef: ACCT1338AgreementV1.pdf
                  agreedOn: '2019-03-06 07:45:55'
                  activatedOn: '2019-03-06 07:45:55'
                  cancelledOn: '2019-03-13 07:52:16'
                  expiredOn: null
                - paymentMethodId: 402881836953a3c7016953aec290000d
                  number: 2
                  brand: Visa
                  status: Active
                  type: Recurring
                  consentAgreementSrc: External
                  consentAgreementRef: ACCT1338AgreementV2.pdf
                  agreedOn: '2019-03-13 07:55:08'
                  activatedOn: '2019-03-13 07:55:08'
                  cancelledOn: null
                  expiredOn: null
                success: true
  /v1/payment-methods/{payment-method-id}/profiles/{profile-number}/cancel:
    post:
      description: 'Cancels a stored credential profile within a payment method.


        Cancelling the stored credential profile indicates that the stored credentials are no longer valid, per a customer request. You cannot reactivate the stored credential profile after you have cancelled it.'
      summary: Cancel a stored credential profile
      operationId: POST_CancelStoredCredentialProfile
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: 'ID of a payment method.

          '
        schema:
          type: string
      - name: profile-number
        in: path
        required: true
        description: 'Number that identifies a stored credential profile within the payment method.

          '
        schema:
          type: integer
      x-code-samples:
      - lang: curl
        label: Curl
        source: 'curl -X POST -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" "https://rest.zuora.com/v1/payment-methods/{payment-method-id}/profiles/{profile-number}/cancel"

          '
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedStoredCredentialProfileResponse'
              example:
                success: true
                paymentMethodId: 402881836953a3c7016953aec290000d
                number: 1
  /v1/payment-methods/{payment-method-id}/profiles/{profile-number}/expire:
    post:
      description: 'Expires a stored credential profile within a payment method.


        Expiring the stored credential profile indicates that the stored credentials are no longer valid, per an expiration policy in the stored credential transaction framework. You cannot reactivate the stored credential profile after you have expired it.'
      summary: Expire a stored credential profile
      operationId: POST_ExpireStoredCredentialProfile
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-method-id
        in: path
        required: true
        description: 'ID of a payment method.

          '
        schema:
          type: string
      - name: profile-number
        in: path
        required: true
        description: 'Number that identifies a stored credential profile within the payment method.

          '
        schema:
          type: integer
      x-code-samples:
      - lang: curl
        label: Curl
        source: 'curl -X POST -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" "https://rest.zuora.com/v1/payment-methods/{payment-method-id}/profiles/{profile-number}/expire"

          '
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedStoredCredentialProfileResponse'
              example:
                success: true
                paymentMethodId: 402881836953a3c7016953aec290000d
                number: 2
  /payment-methods/apple-pay/domains:
    post:
      description: 'Before adding Apple Pay to your checkout flow by integrating with the JavaScript SDK provided by Zuora, your domains that will show the Apple Pay button must be registered with Apple. Use this operation to register a domain.


        For more information about Zuora''s JavaScript SDK for Apple Pay integration, see Set up Apple Pay through the JavaScript SDK approach.'
      summary: Register an Apple Pay domain
      operationId: POST_RegisterApplePayDomain
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTRegisterApplePayDomainResponse'
              example:
                id: 402881a38924ff1001892502da090021
                domainName: testapplepay.zuora.com
                domainVerified: true
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTRegisterApplePayDomainRequest'
        required: true
    get:
      description: 'Use this operation to retrieve details of your domains that are already registered with Apple for Apple Pay button integration implemented through Zuora''s JavaScript SDK.


        You can use `domainName` as the query parameter to restrict domains returned in the response. Specify a domain name and the registered domains containing the specified domain name will be returned.


        For more information about Zuora''s JavaScript SDK for Apple Pay integration, see Set up Apple Pay through the JavaScript SDK approach.'
      summary: List registered Apple Pay domains
      operationId: GET_ListApplePayDomains
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: domainName
        in: query
        description: "Specifies a domain name such as `zuora.com` and the registered domains containing the specified domain name will be returned. \n\nFor example, `test1.zuora.com` and `test2.zuora.com` are two registered domains, but `zuora.com` is not registered. If you specify `zuora.com` in this query field, the data of `test1.zuora.com` and `test2.zuora.com` will be returned.\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETListApplePayDomainsResponse'
              example:
                domains:
                - id: 402881a38924ff1001892502da090021
                  domainName: testapplepay.zuora.com
                  domainVerified: true
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  createdOn: '2023-07-05 00:44:51'
                  updatedBy: 402881e522cf4f9b0122cf5d82860002
                  updatedOn: '2023-07-05 00:44:51'
                - id: 402881a3891fe7b401891fec61d40036
                  domainName: test1.zuora.com
                  domainVerified: false
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  createdOn: '2023-07-04 01:02:12'
                  updatedBy: 402881e522cf4f9b0122cf5d82860002
                  updatedOn: '2023-07-04 01:02:12'
                success: true
  /payment-methods/apple-pay/domains/{id}:
    delete:
      description: 'Use this operation to unregister a domain with Apple for Apple Pay button integration implemented through Zuora''s JavaScript SDK.


        For more information about Zuora''s JavaScript SDK for Apple Pay integration, see Set up Apple Pay through the JavaScript SDK approach.'
      summary: Unregister an Apple Pay domain
      operationId: DELETE_UnregisterApplePayDomain
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: id
        in: path
        required: true
        description: The ID of the domain, such as `402881a38924ff1001892502da090021`.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DELETEUnresigerApplePayDomainResponse'
              example:
                success: true
  /web-payments/sessions:
    post:
      description: When implementing Apple Pay integration by using Zuora's JavaScript SDK, use this operation to create a payment session on your server side. The response of this API operation contains a token for the payment session data. Send the token back to your client side to use in the subsequent implementation step. For more information, see Set up Apple Pay through the JavaScript SDK approach.
      summary: Create a payment session
      operationId: POST_CreatePaymentSession
      tags:
      - Payment Methods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTCreatePaymentSessionResponse'
              example:
                token: LTljuuLaDQnHxeVpWaX6zq2xY2FJ6sSE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTCreatePaymentSessionRequest'
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    ModifiedStoredCredentialProfileResponse:
      properties:
        number:
          description: 'The number that identifies the stored credential profile within the payment method.

            '
          type: integer
        paymentMethodId:
          description: 'ID of the payment method.

            '
          type: string
        success:
          type: boolean
      type: object
    POSTCreatePaymentSessionResponse:
      properties:
        token:
          description: 'The token for the payment session data. Send the token back to your client side for identifying your website to Zuora.


            For more information, see [Set up Apple Pay through the JavaScript SDK approach](https://knowledgecenter.zuora.com/Zuora_Payments/Payment_Methods/B_Define_Payment_Methods/Set_up_Apple_Pay_for_gateway_integrations_other_than_Adyen_Integration_v2.0).

            '
          type: string
      type: object
    CreatePaymentMethodCardholderInfo:
      description: 'Container for cardholder information. This container field is required for credit card payment methods. The nested `cardHolderName` field is required.

        '
      properties:
        addressLine1:
          description: 'First address line, 255 characters or less.

            '
          type: string
        addressLine2:
          description: 'Second address line, 255 characters or less.

            '
          type: string
        cardHolderName:
          description: 'The card holder''s full name as it appears on the card, e.g., "John J Smith", 50 characters or less.

            '
          type: string
        city:
          description: 'City, 40 characters or less.

            It is recommended to provide the city and country information when creating a payment method. The information will be used to process payments. If the information is not provided during payment method creation, the city and country data will be missing during payment processing.

            '
          type: string
        country:
          description: 'Country, must be a valid country name or abbreviation.

            It is recommended to provide the city and country information when creating a payment method. The information will be used to process payments. If the information is not provided during payment method creation, the city and country data will be missing during payment processing.

            '
          type: string
        email:
          description: 'Card holder''s email address, 80 characters or less.

            '
          type: string
        phone:
          description: 'Phone number, 40 characters or less.

            '
          type: string
        state:
          description: 'State; must be a valid state name or 2-character abbreviation.

            '
          type: string
        zipCode:
          description: 'Zip code, 20 characters or less.

            '
          type: string
      required:
      - cardHolderName
      title: cardHolderInfo
      type: object
    PUTPMCreditCardInfo:
      properties:
        expirationMonth:
          description: "One or two digits expiration month (1-12).\n        \n"
          type: integer
        expirationYear:
          description: 'Four-digit expiration year.

            '
          type: integer
        securityCode:
          description: "Optional. It is the CVV or CVV2 security code specific for the credit card or debit card. To ensure PCI compliance, this value is not stored and cannot be queried. \n\nIf securityCode code is not passed in the request payload, this operation only updates related fields in the payload. It does not validate the payment method through the gateway.\n\nIf securityCode is passed in the request payload, this operation retrieves the credit card information from payload and validates them through the gateway.\n"
          type: string
      type: object
    DELETEUnresigerApplePayDomainResponse:
      properties:
        success:
          description: Indicates whether this call succeeds.
          type: boolean
      type: object
    PUTPMAccountHolderInfo:
      description: 'The account holder information. This field is not supported in updating Credit Card Reference Transaction payment methods.

        '
      properties:
        addressLine1:
          description: 'The first line of the address for the account holder.


            This field is required for SEPA Direct Debit payment methods on Stripe v2 for [certain countries](https://stripe.com/docs/payments/sepa-debit/set-up-payment?platform=web#web-submit-payment-method).

            '
          type: string
        addressLine2:
          description: "The second line of the address for the account holder. \n"
          type: string
        city:
          description: 'The city where the account holder stays.

            '
          type: string
        country:
          description: 'The country where the account holder stays.


            This field is required for SEPA payment methods on Stripe v2 for [certain countries](https://stripe.com/docs/payments/sepa-debit/set-up-payment?platform=web#web-submit-payment-method).

            '
          type: string
        email:
          description: 'The email address of the account holder.

            '
          type: string
        phone:
          description: 'The phone number of the account holder.

            '
          type: string
        state:
          description: 'The state where the account holder stays.

            '
          type: string
        zipCode:
          description: 'The zip code for the address of the account holder.

            '
          type: string
      title: accountHolderInfo
      type: object
    POSTRegisterApplePayDomainResponse:
      properties:
        domainName:
          description: 'The name of the domain registered with Apple Pay, such as `testapplepay.zuora.com`.

            '
          type: string
        domainVerified:
          description: 'Indicates whether the domain registration is successfully verified.

            '
          type: boolean
        id:
          description: 'The ID of the domain, such as `402881a38924ff1001892502da090021`.

            '
          type: string
        success:
          description: 'Indicates whether this call succeeds.

            '
          type: boolean
      type: object
    POSTPaymentMethodResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          id:
            description: 'Internal ID of the payment method that was created.

              '
            type: string
          reasons:
            items:
              description: 'Error information. Only applicable if the payment method was not created.

                '
              properties:
                code:
                  description: 'Error code.

                    '
                  type: string
                message:
                  description: 'Error message.

                    '
                  type: string
              type: object
            type: array
        type: object
    POSTPaymentMethodResponseDecryption:
      properties:
        amount:
          description: 'The payment amount contained within the encrypted token.

            '
          type: string
        paymentId:
          description: 'The ID of newly processed payment,

            '
          type: string
        paymentMethodId:
          description: 'ID of the newly-created payment method.

            '
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    GETPaymentMethodResponseBankTransfer:
      properties:
        IBAN:
          description: 'The International Bank Account Number used to create the SEPA payment method. The value is masked.

            '
          type: string
        accountNumber:
          description: 'The number of the customer''s bank account and it is masked.

            '
          type: string
        bankCode:
          description: "The sort code or number that identifies the bank. This is also known as the sort code.         \n"
          type: string
        bankTransferType:
          description: 'The type of the Bank Transfer payment method. For example, `SEPA`.

            '
          type: string
        branchCode:
          description: "The branch code of the bank used for Direct Debit.          \n"
          type: string
        businessIdentificationCode:
          description: "The BIC code used for SEPA. The value is masked.       \n"
          type: string
        identityNumber:
          description: "The identity number used for Bank Transfer.        \n"
          type: string
      type: object
    GETPaymentMethodResponseApplePay:
      properties:
        appleBIN:
          description: 'This field is only available for Apple Pay payment methods.

            '
          type: string
        appleCardNumber:
          description: 'This field is only available for Apple Pay payment methods.

            '
          type: string
        appleCardType:
          description: 'This field is only available for Apple Pay payment methods.


            For Apple Pay payment methods on Adyen, the first 100 characters of [paymentMethodVariant](https://docs.adyen.com/development-resources/paymentmethodvariant) returned from Adyen are stored in this field.

            '
          type: string
        appleExpiryDate:
          description: 'This field is only available for Apple Pay payment methods.

            '
          type: string
        appleGatewayToken:
          description: 'This field is only available for Apple Pay payment methods.

            '
          type: string
      type: object
    GETPaymentMethodResponseGooglePay:
      properties:
        googleBIN:
          description: 'This field is only available for Google Pay payment methods.

            '
          type: string
        googleCardNumber:
          description: 'This field is only available for Google Pay payment methods.

            '
          type: string
        googleCardType:
          description: 'This field is only available for Google Pay payment methods.


            For Google Pay payment methods on Adyen, the first 100 characters of [paymentMethodVariant](https://docs.adyen.com/development-resources/paymentmethodvariant) returned from Adyen are stored in this field.

            '
          type: string
        googleExpiryDate:
          description: 'This field is only available for Google Pay payment methods.

            '
          type: string
        googleGatewayToken:
          description: 'This field is only available for Google Pay payment methods.

            '
          type: string
      type: object
    CreatePaymentMethodPayPalAdaptive:
      properties:
        preapprovalKey:
          description: 'The PayPal preapproval key.

            '
          type: string
      type: object
    POSTPaymentMethodRequest:
      allOf:
      - properties:
          accountKey:
            description: "Internal ID of the customer account that will own the payment method. \n\nTo create an orphan payment method that is not associated with any customer account, you do not need to specify this field during creation. However, you must associate the orphan payment method with a customer account within 10 days. Otherwise, this orphan payment method will be deleted.\n"
            type: string
          authGateway:
            description: 'Internal ID of the payment gateway that Zuora will use to authorize the payments that are made with the payment method.


              If you do not set this field, Zuora will use one of the following payment gateways instead:


              * The default payment gateway of the customer account that owns the payment method, if the `accountKey` field is set.

              * The default payment gateway of your Zuora tenant, if the `accountKey` field is not set.

              '
            type: string
          gatewayOptions:
            description: 'The field used to pass gateway-specific parameters and parameter values. The fields supported by gateways vary. For more information, see the Overview topic of each gateway integration in [Zuora Knowledge Center](https://knowledgecenter.zuora.com/Zuora_Billing/Billing_and_Payments/M_Payment_Gateways/Supported_Payment_Gateways).


              Zuora sends all the information that you specified to the gateway. If you specify any unsupported gateway option parameters, they will be ignored without error prompts.

              '
            properties:
              key:
                description: 'The name of a gateway-specific parameter.

                  '
                type: string
              value:
                description: 'The value of the gateway-specific parameter.

                  '
                type: string
            type: object
          ipAddress:
            description: "The IPv4 or IPv6 information of the user when the payment method is created or updated. Some gateways use this field for fraud prevention. If this field is passed to Zuora, Zuora directly passes it to gateways. \n\nIf the IP address length is beyond 45 characters, a validation error occurs.\n\nFor validating SEPA payment methods on Stripe v2, this field is required.\n"
            type: string
          makeDefault:
            default: false
            description: 'Specifies whether the payment method will be the default payment method of the customer account that owns the payment method. Only applicable if the `accountKey` field is set.


              When you set this field to `true`, make sure the payment method is supported by the default payment gateway.

              '
            type: boolean
          mandateInfo:
            description: 'The mandate information for the Credit Card, Credit Card Reference Transaction, ACH, or Bank Transfer payment method.

              '
            properties:
              mandateId:
                description: 'The mandate ID.


                  When creating an ACH payment method, if you need to pass in tokenized information, use the `mandateId` instead of `tokenId` field.

                  '
                maxLength: 36
                type: string
              mandateReason:
                description: 'The reason of the mandate from the gateway side.

                  '
                maxLength: 64
                type: string
              mandateStatus:
                description: 'The status of the mandate from the gateway side.

                  '
                maxLength: 64
                type: string
            type: object
          skipValidation:
            default: false
            description: "Specify whether to skip the validation of the information through the payment gateway. For example, when migrating your payment methods, you can set this field to `true` to skip the validation. \n"
            type: boolean
          type:
            description: 'Type of the payment method. Possible values include:


              * `CreditCard` - Credit card payment method.

              * `CreditCardReferenceTransaction` - Credit Card Reference Transaction. See [Supported payment methods](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/L_Payment_Methods/Supported_Payment_Methods) for payment gateways that support this type of payment method.

              * `ACH` - ACH payment method.

              * `SEPA` - Single Euro Payments Area.

              * `Betalingsservice` - Direct Debit DK.

              * `Autogiro` - Direct Debit SE.

              * `Bacs` - Direct Debit UK.

              * `Becs` - Direct Entry AU.

              * `Becsnz` - Direct Debit NZ.

              * `PAD` - Pre-Authorized Debit.

              * `PayPalCP` - PayPal Commerce Platform payment method. Use this type if you are using a [PayPal Commerce Platform Gateway](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/M_Payment_Gateways/Supported_Payment_Gateways/PayPal_Commerce_Platform_Gateway) instance.

              * `PayPalEC` - PayPal Express Checkout payment method. Use this type if you are using a [PayPal Payflow Pro Gateway](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/Supported_Payment_Gateways/PayPal_Payflow_Pro%2C_Website_Payments_Payflow_Edition%2C_Website_Pro_Payment_Gateway) instance.

              * `PayPalNativeEC` - PayPal Native Express Checkout payment method. Use this type if you are using a [PayPal Express Checkout Gateway](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/Supported_Payment_Gateways/PayPal_Express_Checkout_Gateway) instance.

              * `PayPalAdaptive` - PayPal Adaptive payment method. Use this type if you are using a [PayPal Adaptive Payment Gateway](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/Supported_Payment_Gateways/PayPal_Adaptive_Payments_Gateway) instance.

              * `AdyenApplePay` - Apple Pay on Adyen Integration v2.0. See [Set up Adyen Apple Pay](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/L_Payment_Methods/Payment_Method_Types/Apple_Pay_on_Web/Set_up_Adyen_Apple_Pay) for details.

              * `AdyenGooglePay` - Google Pay on Adyen Integration v2.0. See [Set up Adyen Google Pay](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/L_Payment_Methods/Payment_Method_Types/Set_up_Adyen_Google_Pay) for details.

              * `GooglePay` - Google Pay on Chase Paymentech Orbital gateway integration. See [Set up Google Pay on Chase](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/L_Payment_Methods/Payment_Method_Types/Set_up_Google_Pay_on_Chase) for details.

              * You can also specify a custom payment method type. See [Set up custom payment gateways and payment methods](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/MB_Set_up_custom_payment_gateways_and_payment_methods) for details.


              Note that Zuora is continuously adding new payment method types.

              '
            type: string
        required:
        - type
        type: object
      - $ref: '#/components/schemas/CreatePMPayPalECPayPalNativeECPayPalCP'
      - $ref: '#/components/schemas/CreatePaymentMethodPayPalAdaptive'
      - $ref: '#/components/schemas/CreatePaymentMethodCreditCard'
      - $ref: '#/components/schemas/CreatePaymentMethodACH'
      - $ref: '#/components/schemas/CreatePaymentMethodBankTransfer'
      - $ref: '#/components/schemas/CreatePaymentMethodCCReferenceTransaction'
      - $ref: '#/components/schemas/CreatePaymentMethodApplePayAdyen'
      - $ref: '#/components/schemas/CreatePaymentMethodGooglePayAdyenChase'
      - $ref: '#/components/schemas/PaymentMethodObjectCustomFields'
      example:
        BAID: I-1TJ3GAGG82Y9
        accountKey: 2c92c0f95be68649015bf14e001f2760
        email: customer@example.com
        type: PayPalEC
    GETPaymentMethodResponse:
      allOf:
      - properties:
          accountHolderInfo:
            $ref: '#/components/schemas/GETPMAccountHolderInfo'
          bankIdentificationNumber:
            description: 'The first six or eight digits of the payment method''s number, such as the credit card number or account number. Banks use this number to identify a payment method.

              '
            type: string
          createdBy:
            description: ID of the user who created this payment method.
            type: string
          createdOn:
            description: 'The date and time when the payment method was created, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          creditCardMaskNumber:
            description: 'The masked credit card number, such as:

              ```

              *********1112

              ```

              '
            type: string
          creditCardType:
            description: 'The type of the credit card or debit card.


              Possible values include `Visa`, `MasterCard`, `AmericanExpress`, `Discover`, `JCB`, and `Diners`. For more information about credit card types supported by different payment gateways, see [Supported Payment Gateways](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/Supported_Payment_Gateways).


              **Note:** This field is only returned for the Credit Card and Debit Card payment types.

              '
            type: string
          deviceSessionId:
            description: 'The session ID of the user when the `PaymentMethod` was created or updated.

              '
            type: string
          existingMandate:
            description: 'Indicates whether the mandate is an existing mandate.

              '
            enum:
            - 'Yes'
            - 'No'
            type: string
          id:
            description: 'The payment method ID.

              '
            type: string
          ipAddress:
            description: 'The IP address of the user when the payment method was created or updated.

              '
            type: string
          isDefault:
            description: 'Indicates whether this payment method is the default payment method for the account.

              '
            type: boolean
          lastFailedSaleTransactionDate:
            description: 'The date of the last failed attempt to collect payment with this payment method.

              '
            format: date-time
            type: string
          lastTransaction:
            description: ID of the last transaction of this payment method.
            type: string
          lastTransactionTime:
            description: The time when the last transaction of this payment method happened.
            format: date-time
            type: string
          mandateInfo:
            $ref: '#/components/schemas/POSTPMMandateInfo'
          maxConsecutivePaymentFailures:
            description: 'The number of allowable consecutive failures Zuora attempts with the payment method before stopping.

              '
            type: integer
          numConsecutiveFailures:
            description: "The number of consecutive failed payments for this payment method. It is reset to `0` upon successful payment. \n"
            format: int32
            type: integer
          paymentRetryWindow:
            description: 'The retry interval setting, which prevents making a payment attempt if the last failed attempt was within the last specified number of hours.

              '
            type: integer
          secondTokenId:
            description: 'A gateway unique identifier that replaces sensitive payment method data.


              **Note:** This field is only returned for the Credit Card Reference Transaction payment type.

              '
            type: string
          status:
            description: 'The status of the payment method.

              '
            enum:
            - Active
            - Closed
            - Scrubbed
            type: string
          tokenId:
            description: 'A gateway unique identifier that replaces sensitive payment method data or represents a gateway''s unique customer profile.


              **Note:** This field is only returned for the Credit Card Reference Transaction payment type.

              '
            type: string
          totalNumberOfErrorPayments:
            description: 'The number of error payments that used this payment method.

              '
            format: int32
            type: integer
          totalNumberOfProcessedPayments:
            description: 'The number of successful payments that used this payment method.

              '
            format: int32
            type: integer
          type:
            description: 'The type of the payment method. For example, `CreditCard`.

              '
            type: string
          updatedBy:
            description: ID of the user who made the last update to this payment method.
            type: string
          updatedOn:
            description: 'The last date and time when the payment method was updated, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          useDefaultRetryRule:
            description: 'Indicates whether this payment method uses the default retry rules configured in the Zuora Payments settings.

              '
            type: boolean
        type: object
      - $ref: '#/components/schemas/PaymentMethodObjectCustomFields'
      - $ref: '#/components/schemas/GETPaymentMethodResponseBankTransfer'
      - $ref: '#/components/schemas/GETPaymentMethodResponseACH'
      - $ref: '#/components/schemas/GETPaymentMethodResponseCreditCard'
      - $ref: '#/components/schemas/GETPaymentMethodResponsePayPal'
      - $ref: '#/components/schemas/GETPaymentMethodResponseGooglePay'
      - $ref: '#/components/schemas/GETPaymentMethodResponseApplePay'
    CreatePaymentMethodGooglePayAdyenChase:
      properties:
        googlePaymentToken:
          description: 'This field is specific for setting up Google Pay for Adyen and Chase gateway integrations to specify the stringified Google Pay token. For more information, see [Set up Adyen Google Pay](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/L_Payment_Methods/Payment_Method_Types/Set_up_Adyen_Google_Pay) and [Set up Google Pay on Chase](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/L_Payment_Methods/Payment_Method_Types/Set_up_Google_Pay_on_Chase).

            '
          type: string
      type: object
    PUTVerifyPaymentMethodType:
      example:
        gatewayOptions:
          Comments: test
          IPAddress: 192.168.1.1
        paymentGatewayName: Adyen
        securityCode: '737'
      properties:
        currencyCode:
          description: "The currency used for payment method authorization. \n"
          type: string
        gatewayOptions:
          description: 'The field used to pass gateway-specific parameters and parameter values. The fields supported by gateways vary. For more information, see the Overview topic of each gateway integration in [Zuora Knowledge Center](https://knowledgecenter.zuora.com/Zuora_Billing/Billing_and_Payments/M_Payment_Gateways/Supported_Payment_Gateways).


            Zuora sends all the information that you specified to the gateway. If you specify any unsupported gateway option parameters, they will be ignored without error prompts.

            '
          properties:
            key:
              description: 'The name of a gateway-specific parameter.

                '
              type: string
            value:
              description: 'The value of the gateway-specific parameter.

                '
              type: string
          type: object
        paymentGatewayName:
          description: 'The name of the payment gateway instance. If no value is specified for this field, the default payment gateway of the customer account will be used.

            '
          type: string
        securityCode:
          description: 'The CVV or CVV2 security code for the credit card or debit card. To ensure PCI compliance, the value of this field is not stored and cannot be queried.

            '
          type: string
      type: object
    CreatePMPayPalECPayPalNativeECPayPalCP:
      properties:
        BAID:
          description: 'ID of a PayPal billing agreement. For example, I-1TJ3GAGG82Y9.

            '
          type: string
        email:
          description: "Email address associated with the payment method. This field is supported for the following payment methods:\n  - PayPal payment methods. This field is required for creating any of the following PayPal payment methods.\n    - PayPal Express Checkout\n    - PayPal Adaptive\n    - PayPal Commerce Platform\n  - Apple Pay and Google Pay payment methods on Adyen v2.0. This field will be passed to Adyen as `shopperEmail`.\n"
          type: string
      type: object
    GETPaymentMethodResponsePayPal:
      properties:
        BAID:
          description: 'ID of a PayPal billing agreement. For example, I-1TJ3GAGG82Y9.

            '
          type: string
        email:
          description: "Email address associated with the PayPal payment method. \n"
          type: string
        preapprovalKey:
          description: 'The PayPal preapproval key.

            '
          type: string
      type: object
    CreatePaymentMethodCCReferenceTransaction:
      properties:
        creditCardMaskNumber:
          description: 'The masked credit card number, such as:

            ```

            *********1112

            ```


            This field is specific for the CC Reference Transaction payment method. It is an optional field that you can use to distinguish different CC Reference Transaction payment methods.


            Though there are no special restrictions on the input string, it is highly recommended to specify a card number that is masked.

            '
          maxLength: 19
          type: string
        secondTokenId:
          description: "A gateway unique identifier that replaces sensitive payment method data. \n\n`secondTokenId` is conditionally required only when `tokenId` is being used to represent a gateway customer profile. `secondTokenId` is used in the CC Reference Transaction payment method.\n"
          type: string
        tokenId:
          description: "A gateway unique identifier that replaces sensitive payment method data or represents a gateway's unique customer profile. `tokenId` is required for the CC Reference Transaction payment method.\n\nWhen `tokenId` is used to represent a customer profile, `secondTokenId` is conditionally required for representing the underlying tokenized payment method.\n\nThe values for the `tokenId` and `secondTokenId` fields differ for gateways. For more information, see the Knowledge Center article specific to each gateway that supports the CC Reference Transaction payment method.\n\n**Note:** \n  - When creating an ACH payment method, if you need to pass in tokenized information, use the `mandateId` instead of `tokenId` field.\n  - When creating the following payment methods, if you need to pass in token information, use the `tokens` > `tokenId` and `tokens` > `secondTokenId` fields instead of this `tokenId` field:\n      - SEPA on Adyen Integration v2.0\n      - BACS on Stripe v2\n    \n"
          type: string
      type: object
    POSTPaymentMethodDecryption:
      example:
        accountID: 402891a25a02e11c015a02f3c6100003
        integrationType: ApplePay
        invoiceId: INV000000005
        merchantID: merchant.CN.com.zuora.services416
        mitConsentAgreementSrc: External
        mitProfileAction: Activate
        mitProfileType: Recurring
        paymentGateway: CyberSourceOPG
        paymentToken:
          data: xGc......JDxuYz1gug0KZRrGXJQ=
          header:
            ephemeralPublicKey: MFkwEw......TMbLoojKBA==
            publicKeyHash: HuLvfqvLon......9jEyX0w=
            transactionId: abbadd18818baea1f37b40844c9e09afa9733b0eccb373905b811da43cf1753b
          signature: MIAGCSqGSIb......AEtrLSv7hE9gAAAAAAAA==
          version: EC_v1
        processPayment: true
      properties:
        accountID:
          description: 'The ID of the customer account associated with this payment method.

            To create an orphan payment method that is not associated with any customer account, you do not need to specify this field during creation. However, you must associate the orphan payment method with a customer account within 10 days. Otherwise, this orphan payment method will be deleted.'
          type: string
        cardHolderInfo:
          $ref: '#/components/schemas/CreatePaymentMethodCardholderInfo'
        integrationType:
          description: 'Field to identify the token decryption type.


            **Note:** The only value at this time is `ApplePay`.


            '
          type: string
        invoiceId:
          description: 'The id of invoice this payment will apply to.


            **Note:** When `processPayment` is `true`, this field is required.

            Only one invoice can be paid; for scenarios where you want to pay for multiple invoices, set `processPayment` to `false` and call payment API separately.

            '
          type: string
        merchantID:
          description: 'The Merchant ID that was configured for use with Apple Pay in the Apple iOS Developer Center.

            '
          type: string
        mitConsentAgreementSrc:
          description: "This field is only available for the following gateway integrations to create stored credential profiles within payment methods:\n  - Chase Paymentech Orbital Gateway\n  - CyberSource Payment API v2.0\n  - Stripe v2\n  - Vantiv (Now Worldpay)\n\nSpecify how the consent agreement has been established with the customer. The allowed value is `External`. It is required if the `mitProfileAction` field is specified. If you do not specify the `mitProfileAction` field, Zuora will automatically create a stored credential profile for the payment method, with the default value `External` set to this field.\n"
          enum:
          - External
          type: string
        mitProfileAction:
[...]
