openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Payment Gateway Reconciliation API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Payment Gateway Reconciliation
  description: Gateway reconciliation is the process of verifying that the electronic payment and refund transactions processed in Zuora match the transactions reported by the gateway.
paths:
  /v1/gateway-settlement/payments/{payment-key}/settle:
    post:
      summary: Settle a payment
      operationId: POST_SettlePayment
      description: 'If the Asynchronous Payment Statuses feature is not enabled, this API operation sets the Gateway State field of the payment to `Settled` and returns the Payment object as response.


        If the Asynchronous Payment Statuses feature is enabled, for ACH and Bank Transfer payments, this API operation sets the Payment Status field to `Processed` and the Gateway State field to `Settled`.'
      tags:
      - Payment Gateway Reconciliation
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-key
        in: path
        required: true
        description: The payment number starting with "P-" or the unique payment ID.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTSettlePaymentResponse'
              example:
                id: 2c90c8e26a6a5271016a8e78ba502e4b
                number: P-00000017
                status: Processed
                type: Electronic
                accountId: 2c90c8e26a6a5271016a6fda7f922c10
                amount: 332
                appliedAmount: 0
                unappliedAmount: 0
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2019-05-06'
                comment: ''
                paymentMethodId: 2c90c8e26a6a5271016a6fdf9b5f2caa
                paymentMethodSnapshotId: 2c90c8e26a6a5271016a8e78ba4a2e4a
                authTransactionId: null
                bankIdentificationNumber: '411111'
                gatewayId: 2c90c8e26a6a5271016a74321ba82ce0
                gatewayOrderId: null
                gatewayResponse: Approved
                gatewayResponseCode: '100'
                gatewayState: Settled
                markedForSubmissionOn: null
                referenceId: '5571684390686343603009'
                secondPaymentReferenceId: '549536'
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: '2019-05-06 11:47:19'
                settledOn: '2019-04-06 23:00:00'
                cancelledOn: null
                createdDate: '2019-05-06 11:47:17'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2019-05-06 12:11:05'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation: null
                gatewayReconciliationStatus: succeeded
                gatewayReconciliationReason: paid
                payoutId: PAYOUT123
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTSettlePaymentRequest'
        required: true
  /v1/gateway-settlement/payments/{payment-key}/reject:
    post:
      summary: Reject a payment
      operationId: POST_RejectPayment
      description: 'If the Asynchronous Payment Statuses feature is not enabled, this API operation sets the Gateway State field of the payment to `FailedToSettle`, creates a refund for the payment amount, and returns the Refund object as response.


        If the Asynchronous Payment Statuses feature is enabled, for ACH and Bank Transfer payments, this API operation sets the Payment Status field to `Error` and the Gateway State field to `FailedToSettle`, and unapply the payment if it is already applied.'
      tags:
      - Payment Gateway Reconciliation
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-key
        in: path
        required: true
        description: The payment number starting with "P-" or the unique payment ID.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTRejectPaymentResponse'
              example:
                id: 2c90c8e26a6a5271016a8e8232892e60
                number: R-00000001
                status: Processed
                type: External
                methodType: CreditCard
                accountId: 2c90c8e26a6a5271016a6fda7f922c10
                amount: 121
                refundDate: '2019-05-06'
                comment: null
                paymentMethodId: 2c90c8e26a6a5271016a749380452cfc
                paymentMethodSnapshotId: null
                paymentId: 2c90c8e26a6a5271016a8e80de242e56
                creditMemoId: null
                reasonCode: Payment Rejection
                gatewayId: null
                gatewayResponse: Insufficient funds latest msg 1
                gatewayResponseCode: '0231'
                gatewayState: FailedToSettle
                markedForSubmissionOn: null
                referenceId: '825522036728874689'
                secondRefundReferenceId: '825522036690700110'
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: '2019-05-07 20:56:32'
                cancelledOn: null
                createdDate: '2019-05-06 11:57:38'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2019-05-06 11:57:38'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation: null
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTRejectPaymentRequest'
        required: true
  /v1/gateway-settlement/payments/{payment-key}/chargeback:
    post:
      summary: Reverse a payment
      operationId: POST_ReversePayment
      description: 'If the Asynchronous Payment Statuses feature is not enabled, this API operation sets the Gateway State field of the payment to `Settled`, creates a refund for the amount specified in the request, and returns the Refund object as response.


        If the Asynchronous Payment Statuses feature is enabled, for ACH and Bank Transfer payments that are reversed before they are settled, this API operation sets the Payment Status field to `Processed`, sets the Gateway State field of the payment to `Settled`, creates an external refund for the amount specified in the request, and returns the Refund object as response.'
      tags:
      - Payment Gateway Reconciliation
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: payment-key
        in: path
        required: true
        description: The payment number starting with "P-" or the unique payment ID.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTReversePaymentResponse'
              example:
                id: 2c90c8e26a6a5271016a8e8232892e60
                number: R-00000001
                status: Processed
                type: External
                methodType: CreditCard
                accountId: 2c90c8e26a6a5271016a6fda7f922c10
                amount: 121
                refundDate: '2019-05-06'
                comment: null
                paymentMethodId: 2c90c8e26a6a5271016a749380452cfc
                paymentMethodSnapshotId: null
                paymentId: 2c90c8e26a6a5271016a8e80de242e56
                creditMemoId: null
                reasonCode: Payment Reversal
                gatewayId: null
                gatewayResponse: Insufficient funds latest msg 1
                gatewayResponseCode: '0231'
                gatewayState: Settled
                markedForSubmissionOn: null
                referenceId: '825522036728874689'
                secondRefundReferenceId: '825522036690700110'
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: '2019-05-07 20:56:32'
                cancelledOn: null
                createdDate: '2019-05-06 11:57:38'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2019-05-06 11:57:38'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation: null
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTReversePaymentRequest'
        required: true
  /v1/refunds/{refund-key}/reconcile:
    post:
      summary: Reconcile a refund
      operationId: POST_ReconcileRefund
      description: Reconciles a refund when receiving the gateway reconciliation request or event.
      tags:
      - Payment Gateway Reconciliation
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: refund-key
        in: path
        required: true
        description: The refund number starting with “R-” or the unique refund ID.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTReconcileRefundResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTReconcileRefundRequest'
        required: true
components:
  schemas:
    POSTReversePaymentRequest:
      example:
        amount: 100
        gatewayReconciliationReason: insufficient_funds
        gatewayReconciliationStatus: payment_failed
        gatewayResponse: Insufficient funds
        gatewayResponseCode: '023'
        payoutId: PAYOUT123
        referenceId: '825522036728874689'
        secondReferenceId: '825522036690700110'
        settledOn: '2019-05-07 20:56:32.981'
      properties:
        amount:
          description: "The amount that needs to be reversed (chargeback). It cannot be greater than the total Payment amount. \n"
          type: number
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        gatewayResponse:
          description: 'The transaction response returned by the gateway for this transaction. If the transaction was declined, this reason is provided in the message.

            '
          type: string
        gatewayResponseCode:
          description: 'Response message Code returned by the gateway about the transaction status.

            '
          type: string
        payoutId:
          description: 'The payout ID from the gateway side.

            '
          type: string
        referenceId:
          description: "Unique Id generated by the gateway for each transaction. Use this ID to find the respective Zuora Payment ID. \n"
          maxLength: 100
          type: string
        secondReferenceId:
          description: 'The second reference Id. Some gateways use two unique transaction IDs.

            '
          maxLength: 100
          type: string
        settledOn:
          description: 'The date and time of the transaction settlement. The format is `yyyy-mm-dd hh:mm:ss`.

            '
          format: date-time
          type: string
      required:
      - amount
      type: object
    POSTReconcileRefundRequest:
      example:
        action: settle
        actionDate: '2020-10-25 11:11:11'
        gatewayReconciliationReason: refund_paid
        gatewayReconciliationStatus: paid
        payoutId: PAYOUT123
      properties:
        action:
          description: "The action of the refund reconciliation.\n  - `settle`: Sets Gateway State to \"Settled\" and returns the refund object as response.\n  - `reject`: Sets Gateway State to \"FailedToSettle\" and handle the event according to the settings configured in the Gateway Reconciliation Configuration in Payments Settings through Zuora UI. See [Configure how to handle refund rejected events](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/M_Payment_Gateways/Gateway_Reconciliation#Configure_how_to_handle_refund_rejected_events) for details.\n"
          enum:
          - settle
          - reject
          type: string
        actionDate:
          description: 'The date and time of the refund reconciliation action, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: datetime
          type: string
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        payoutId:
          description: 'The payout ID of the refund from the gateway side.

            '
          type: string
      type: object
    POSTSettlePaymentRequest:
      example:
        gatewayReconciliationReason: paid
        gatewayReconciliationStatus: succeeded
        payoutId: PAYOUT123
        settledOn: '2019-05-07 20:56:32.981'
      properties:
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        payoutId:
          description: 'The payout ID from the gateway side.

            '
          type: string
        settledOn:
          description: 'The date and time of the transaction settlement. The format is `yyyy-mm-dd hh:mm:ss`.

            '
          format: date-time
          type: string
      type: object
    POSTSettlePaymentResponse:
      properties:
        accountId:
          description: 'The ID of the customer account that the payment is for.

            '
          type: string
        amount:
          description: 'The total amount of the payment.

            '
          format: double
          type: number
        appliedAmount:
          description: 'The applied amount of the payment.

            '
          format: double
          type: number
        authTransactionId:
          description: 'The authorization transaction ID from the payment gateway.

            '
          type: string
        bankIdentificationNumber:
          description: 'The first six or eight digits of the credit card or debit card used for the payment, when applicable.

            '
          type: string
        cancelledOn:
          description: 'The date and time when the payment was cancelled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        comment:
          description: 'Comments about the payment.

            '
          type: string
        createdById:
          description: 'The ID of the Zuora user who created the refund.

            '
          type: string
        createdDate:
          description: 'The date and time when the chargeback is created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2019-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditBalanceAmount:
          description: 'The amount that the payment transfers to the credit balance. The value is not `0` only for those payments that come from legacy payment operations performed without the Invoice Settlement feature.

            '
          format: double
          type: number
        currency:
          description: 'A currency defined in the web-based UI administrative settings.

            '
          type: string
        effectiveDate:
          description: 'The date and time when the payment takes effect, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        financeInformation:
          description: 'Container for the finance information related to the refund.

            '
          properties:
            bankAccountAccountingCode:
              description: 'The accounting code that maps to a bank account in your accounting system.

                '
              maxLength: 100
              minLength: 0
              type: string
            bankAccountAccountingCodeType:
              description: "The type of the accounting code that maps to a bank account in your accounting system.\n  \n"
              type: string
            transferredToAccounting:
              description: "Whether the refund was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
              enum:
              - Processing
              - 'Yes'
              - 'No'
              - Error
              - Ignore
              type: string
            unappliedPaymentAccountingCode:
              description: 'The accounting code for the unapplied payment.

                '
              maxLength: 100
              minLength: 0
              type: string
            unappliedPaymentAccountingCodeType:
              description: "The type of the accounting code for the unapplied payment.\n  \n"
              type: string
          type: object
        gatewayId:
          description: 'The ID of the gateway instance that processes the payment.

            '
          type: string
        gatewayOrderId:
          description: 'A merchant-specified natural key value that can be passed to the electronic payment gateway when a payment is created. If not specified, the payment number will be passed in instead.

            '
          type: string
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        gatewayResponse:
          description: 'The message returned from the payment gateway for the payment. This message is gateway-dependent.

            '
          type: string
        gatewayResponseCode:
          description: 'The code returned from the payment gateway for the payment. This code is gateway-dependent.

            '
          type: string
        gatewayState:
          description: 'The status of the payment in the gateway; specifically used for reconciliation.

            '
          enum:
          - Submitted
          - NotSubmitted
          - Settled
          - FailedToSettle
          type: string
        id:
          description: 'The ID of the payment chargeback.

            '
          type: string
        markedForSubmissionOn:
          description: 'The date and time when a charge was marked and waiting for batch submission to the payment process, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        number:
          description: 'The unique identification number of the payment. For example, P-00000001.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        paymentMethodId:
          description: 'The unique ID of the payment method that the customer used to make the payment.

            '
          type: string
        paymentMethodSnapshotId:
          description: 'The unique ID of the payment method snapshot which is a copy of the particular Payment Method used in a transaction.

            '
          type: string
        payoutId:
          description: 'The payout ID from the gateway side.

            '
          type: string
        referenceId:
          description: 'The transaction ID returned by the payment gateway for an electronic refund. Use this field to reconcile refunds between your gateway and Zuora Payments.

            '
          type: string
        refundAmount:
          description: 'The amount of the payment that is refunded.

            '
          format: double
          type: number
        secondPaymentReferenceId:
          description: "The transaction ID returned by the payment gateway if there is an additional transaction for the payment. \n"
          type: string
        settledOn:
          description: 'The date and time when the transaction is settled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        softDescriptor:
          description: 'A payment gateway-specific field that maps Zuora to other gateways.

            '
          type: string
        softDescriptorPhone:
          description: 'A payment gateway-specific field that maps Zuora to other gateways.

            '
          type: string
        status:
          description: 'The status of the payment.

            '
          type: string
        submittedOn:
          description: 'The date and time when the payment was submitted, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        success:
          description: 'Indicates if the request is processed successfully.

            '
          type: boolean
        type:
          description: 'The type of the payment.

            '
          enum:
          - External
          - Electronic
          type: string
        unappliedAmount:
          description: 'The unapplied amount of the payment.

            '
          format: double
          type: number
        updatedById:
          description: 'The ID of the Zuora user who last updated the payment.

            '
          type: string
        updatedDate:
          description: 'The date and time when the payment was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2019-03-02 15:36:10.

            '
          format: date-time
          type: string
      type: object
    POSTRejectPaymentResponse:
      properties:
        accountId:
          description: 'The ID of the customer account that the payment is for.

            '
          type: string
        amount:
          description: 'The total amount of the payment.

            '
          format: double
          type: number
        cancelledOn:
          description: 'The date and time when the payment was cancelled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        comment:
          description: 'Comments about the payment.

            '
          type: string
        createdById:
          description: 'The ID of the Zuora user who created the refund.

            '
          type: string
        createdDate:
          description: 'The date and time when the chargeback is created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2019-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditMemoId:
          description: 'The ID of the credit memo that is refunded.

            '
          type: string
        financeInformation:
          description: 'Container for the finance information related to the refund.

            '
          properties:
            bankAccountAccountingCode:
              description: 'The accounting code that maps to a bank account in your accounting system.

                '
              maxLength: 100
              minLength: 0
              type: string
            bankAccountAccountingCodeType:
              description: "The type of the accounting code that maps to a bank account in your accounting system.\n  \n"
              type: string
            transferredToAccounting:
              description: "Whether the refund was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
              enum:
              - Processing
              - 'Yes'
              - 'No'
              - Error
              - Ignore
              type: string
            unappliedPaymentAccountingCode:
              description: 'The accounting code for the unapplied payment.

                '
              maxLength: 100
              minLength: 0
              type: string
            unappliedPaymentAccountingCodeType:
              description: "The type of the accounting code for the unapplied payment.\n  \n"
              type: string
          type: object
        gatewayId:
          description: 'The ID of the gateway instance that processes the payment.

            '
          type: string
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        gatewayResponse:
          description: 'The message returned from the payment gateway for the payment. This message is gateway-dependent.

            '
          type: string
        gatewayResponseCode:
          description: 'The code returned from the payment gateway for the payment. This code is gateway-dependent.

            '
          type: string
        gatewayState:
          description: 'The status of the payment in the gateway; specifically used for reconciliation.

            '
          enum:
          - Submitted
          - NotSubmitted
          - Settled
          - FailedToSettle
          type: string
        id:
          description: 'The ID of the payment chargeback.

            '
          type: string
        markedForSubmissionOn:
          description: 'The date and time when a charge was marked and waiting for batch submission to the payment process, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        methodType:
          description: "How an external refund was issued to a customer. \n"
          enum:
          - ACH
          - Cash
          - Check
          - CreditCard
          - PayPal
          - WireTransfer
          - DebitCard
          - CreditCardReferenceTransaction
          - BankTransfer
          - Other
          type: string
        number:
          description: 'The unique identification number of the payment. For example, P-00000001.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        paymentId:
          description: 'The ID of the payment that is refunded.

            '
          type: string
        paymentMethodId:
          description: 'The unique ID of the payment method that the customer used to make the payment.

            '
          type: string
        paymentMethodSnapshotId:
          description: 'The unique ID of the payment method snapshot which is a copy of the particular Payment Method used in a transaction.

            '
          type: string
        payoutId:
          description: 'The payout ID from the gateway side.

            '
          type: string
        reasonCode:
          description: "A code identifying the reason for the transaction.      \n"
          type: string
        referenceId:
          description: 'The transaction ID returned by the payment gateway for an electronic refund. Use this field to reconcile refunds between your gateway and Zuora Payments.

            '
          type: string
        refundDate:
          description: "The date when the refund takes effect, in `yyyy-mm-dd` format. For example, 2017-03-01.       \n"
          format: date
          type: string
        refundTransactionTime:
          description: 'The date and time when the refund was issued, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        secondRefundReferenceId:
          description: "The transaction ID returned by the payment gateway if there is an additional refund. \n"
          type: string
        settledOn:
          description: 'The date and time when the transaction is settled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        softDescriptor:
          description: 'A payment gateway-specific field that maps Zuora to other gateways.

            '
          type: string
        softDescriptorPhone:
          description: "A payment gateway-specific field that maps Zuora to other gateways.          \n"
          type: string
        status:
          description: 'The status of the payment.

            '
          type: string
        submittedOn:
          description: 'The date and time when the payment was submitted, in yyyy-mm-dd hh:mm:ss format.

            '
          format: date-time
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
        type:
          description: 'The type of the payment.

            '
          enum:
          - External
          - Electronic
          type: string
        updatedById:
          description: 'The ID of the Zuora user who last updated the payment.

            '
          type: string
        updatedDate:
          description: 'The date and time when the payment was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2019-03-02 15:36:10.

            '
          format: date-time
          type: string
      type: object
    POSTReversePaymentResponse:
      properties:
        accountId:
          description: 'The ID of the customer account that the payment is for.

            '
          type: string
        amount:
          description: 'The total amount of the payment.

            '
          format: double
          type: number
        cancelledOn:
          description: 'The date and time when the payment was cancelled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        comment:
          description: 'Comments about the payment.

            '
          type: string
        createdById:
          description: 'The ID of the Zuora user who created the refund.

            '
          type: string
        createdDate:
          description: 'The date and time when the chargeback is created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2019-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditMemoId:
          description: 'The ID of the credit memo that is refunded.

            '
          type: string
        financeInformation:
          description: 'Container for the finance information related to the refund.

            '
          properties:
            bankAccountAccountingCode:
              description: 'The accounting code that maps to a bank account in your accounting system.

                '
              maxLength: 100
              minLength: 0
              type: string
            bankAccountAccountingCodeType:
              description: "The type of the accounting code that maps to a bank account in your accounting system.\n  \n"
              type: string
            transferredToAccounting:
              description: "Whether the refund was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
              enum:
              - Processing
              - 'Yes'
              - 'No'
              - Error
              - Ignore
              type: string
            unappliedPaymentAccountingCode:
              description: 'The accounting code for the unapplied payment.

                '
              maxLength: 100
              minLength: 0
              type: string
            unappliedPaymentAccountingCodeType:
              description: "The type of the accounting code for the unapplied payment.\n  \n"
              type: string
          type: object
        gatewayId:
          description: 'The ID of the gateway instance that processes the payment.

            '
          type: string
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        gatewayResponse:
          description: 'The message returned from the payment gateway for the payment. This message is gateway-dependent.

            '
          type: string
        gatewayResponseCode:
          description: 'The code returned from the payment gateway for the payment. This code is gateway-dependent.

            '
          type: string
        gatewayState:
          description: 'The status of the payment in the gateway; specifically used for reconciliation.

            '
          enum:
          - Submitted
          - NotSubmitted
          - Settled
          - FailedToSettle
          type: string
        id:
          description: 'The ID of the payment chargeback.

            '
          type: string
        markedForSubmissionOn:
          description: 'The date and time when a charge was marked and waiting for batch submission to the payment process, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        methodType:
          description: "How an external refund was issued to a customer. \n"
          enum:
          - ACH
          - Cash
          - Check
          - CreditCard
          - PayPal
          - WireTransfer
          - DebitCard
          - CreditCardReferenceTransaction
          - BankTransfer
          - Other
          type: string
        number:
          description: 'The unique identification number of the payment. For example, P-00000001.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        paymentId:
          description: 'The ID of the payment that is refunded.

            '
          type: string
        paymentMethodId:
          description: 'The unique ID of the payment method that the customer used to make the payment.

            '
          type: string
        paymentMethodSnapshotId:
          description: 'The unique ID of the payment method snapshot which is a copy of the particular Payment Method used in a transaction.

            '
          type: string
        payoutId:
          description: 'The payout ID from the gateway side.

            '
          type: string
        reasonCode:
          description: "A code identifying the reason for the transaction.   \n"
          type: string
        referenceId:
          description: 'The transaction ID returned by the payment gateway for an electronic refund. Use this field to reconcile refunds between your gateway and Zuora Payments.

            '
          type: string
        refundDate:
          description: 'The date when the refund takes effect, in `yyyy-mm-dd` format. For example, 2017-03-01.

            '
          format: date
          type: string
        refundTransactionTime:
          description: 'The date and time when the refund was issued, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        secondRefundReferenceId:
          description: "The transaction ID returned by the payment gateway if there is an additional refund. \n"
          type: string
        settledOn:
          description: 'The date and time when the transaction is settled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        softDescriptor:
          description: 'A payment gateway-specific field that maps Zuora to other gateways.

            '
          type: string
        softDescriptorPhone:
          description: "A payment gateway-specific field that maps Zuora to other gateways.          \n"
          type: string
        status:
          description: 'The status of the payment.

            '
          type: string
        submittedOn:
          description: 'The date and time when the payment was submitted, in yyyy-mm-dd hh:mm:ss format.

            '
          format: date-time
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
        type:
          description: 'The type of the payment.

            '
          enum:
          - External
          - Electronic
          type: string
        updatedById:
          description: 'The ID of the Zuora user who last updated the payment.

            '
          type: string
        updatedDate:
          description: 'The date and time when the payment was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2019-03-02 15:36:10.

            '
          format: date-time
          type: string
      type: object
    POSTRejectPaymentRequest:
      example:
        gatewayReconciliationReason: insufficient_funds
        gatewayReconciliationStatus: payment_failed
        gatewayResponse: Insufficient funds
        gatewayResponseCode: '023'
        referenceId: '825522036728874689'
        secondReferenceId: '825522036690700110'
        settledOn: '2019-05-07 20:56:32.981'
      properties:
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        gatewayResponse:
          description: 'The transaction response returned by the gateway for this transaction. If the transaction was declined, this reason is provided in the message.

            '
          type: string
        gatewayResponseCode:
          description: 'Response message Code returned by the gateway about the transaction status.

            '
          type: string
        referenceId:
          description: "Unique Id generated by the gateway for each transaction. Use this ID to find the respective Zuora Payment ID. \n"
          maxLength: 100
          type: string
        secondReferenceId:
          description: 'The second reference Id. Some gateway uses two unique transaction IDs.

            '
          maxLength: 100
          type: string
        settledOn:
          description: 'The date and time of the transaction settlement. The format is `yyyy-mm-dd hh:mm:ss`.

            '
          format: date-time
          type: string
      type: object
    POSTReconcileRefundResponse:
      example:
        accountId: 4028905f5a87c0ff015a87d25ae90025
        amount: 4
        cancelledOn: null
        comment: Create a refund for unapplied payment.
        createdById: 402881e522cf4f9b0122cf5d82860002
        createdDate: '2020-03-01 14:46:03'
        creditMemoId: null
        financeInformation:
          bankAccountAccountingCode: null
          bankAccountAccountingCodeType: null
          transferredToAccounting: 'No'
          unappliedPaymentAccountingCode: null
          unappliedPaymentAccountingCodeType: null
        gatewayId: null
        gatewayReconciliationReason: refund_paid
        gatewayReconciliationStatus: paid
        gatewayResponse: null
        gatewayResponseCode: null
        gatewayState: Settled
        id: 4028905f5a87c0ff015a889e590e00c9
        markedForSubmissionOn: null
        methodType: CreditCard
        number: R-00000001
        paymentId: 4028905f5a87c0ff015a889ddfb800c0
        paymentMethodId: null
        paymentMethodSnapshotId: null
        payoutId: PAYOUT123
        reasonCode: Standard Refund
        referenceId: null
        refundDate: '2020-03-01'
        refundTransactionTime: null
        secondRefundReferenceId: null
        settledOn: '2020-10-25 11:11:11'
        softDescriptor: null
        softDescriptorPhone: null
        status: Processed
        submittedOn: null
        success: true
        type: Electronic
        updatedById: 402881e522cf4f9b0122cf5d82860002
        updatedDate: '2020-03-01 14:46:03'
      properties:
        accountId:
          description: 'The ID of the customer account that the refund is for.

            '
          type: string
        amount:
          description: 'The total amount of the refund.

            '
          format: double
          type: number
        cancelledOn:
          description: 'The date and time when the transaction was cancelled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        comment:
          description: 'Comments about the refund.

            '
          type: string
        createdById:
          description: 'The ID of the Zuora user who created the refund.

            '
          type: string
        createdDate:
          description: 'The date and time when the refund is created, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        creditMemoId:
          description: 'The ID of the credit memo that is refunded.

            '
          type: string
        financeInformation:
          description: 'Container for the finance information related to the refund.

            '
          properties:
            bankAccountAccountingCode:
              description: 'The accounting code that maps to a bank account in your accounting system.

                '
              maxLength: 100
              minLength: 0
              type: string
            bankAccountAccountingCodeType:
              description: "The type of the accounting code that maps to a bank account in your accounting system.\n  \n"
              type: string
            transferredToAccounting:
              description: "Whether the refund was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
              enum:
              - Processing
              - 'Yes'
              - 'No'
              - Error
              - Ignore
              type: string
            unappliedPaymentAccountingCode:
              description: 'The accounting code for the unapplied payment.

                '
              maxLength: 100
              minLength: 0
              type: string
            unappliedPaymentAccountingCodeType:
              description: "The type of the accounting code for the unapplied payment.\n  \n"
              type: string
          type: object
        gatewayId:
          description: 'The ID of the gateway instance that processes the refund.

            '
          type: string
        gatewayReconciliationReason:
          description: 'The reason of gateway reconciliation.

            '
          type: string
        gatewayReconciliationStatus:
          description: 'The status of gateway reconciliation.

            '
          type: string
        gatewayResponse:
          description: 'The message returned from the payment gateway for the refund. This message is gateway-dependent.

            '
          type: string
        gatewayResponseCode:
          description: 'The code returned from the payment gateway for the refund. This code is gateway-dependent.

            '
          type: string
        gatewayState:
          description: 'The status of the refund in the gateway; specifically used for reconciliation.

            '
          enum:
          - Settled
          - FailedToSettle
          type: string
        id:
          description: 'The ID of the refund.

            '
          type: string
        markedForSubmissionOn:
          description: 'The date and time when a refund was marked and waiting for batch submission to the payment process, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        methodType:
          description: "How an external refund was issued to a customer. \n"
          enum:
          - ACH
          - Cash
          - Check
          - CreditCard
          - PayPal
          - WireTransfer
          - DebitCard
          - CreditCardReferenceTransaction
          - BankTransfer
          - Other
          type: string
        number:
          description: 'The unique identification number of the refund. For example, R-00000001.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        paymentId:
          description: 'The ID of the payment that is refunded.

            '
          type: string
        paymentMethodId:
          description: 'The unique ID of the payment method that the customer used to make the refund.

            '
          type: string
        paymentMethodSnapshotId:
          description: 'The unique ID of the payment method snapshot which is a copy of the particular Payment Method used in a transaction.

            '
          type: string
        payoutId:
          description: 'The payout ID of the refund from the gateway side.

            '
          type: string
        reasonCode:
          description: "A code identifying the reason for the transaction.      \n"
          type: string
        referenceId:
          description: 'The transaction ID returned by the payment gateway for an electronic refund. Use this field to reconcile refunds between your gateway and Zuora Payments.

            '
          type: string
        refundDate:
          description: "The date when the refund takes effect, in `yyyy-mm-dd` format. For example, 2020-03-01.       \n"
          format: date
          type: string
        refundTransactionTime:
          description: 'The date and time when the refund was issued, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        secondRefundReferenceId:
          description: "The transaction ID returned by the payment gateway if there is an additional refund. \n"
          type: string
        settledOn:
          description: 'The date and time when the transaction is settled, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
        softDescriptor:
          description: 'A payment gateway-specific field that maps Zuora to other gateways.

            '
          type: string
        softDescriptorPhone:
          description: "A payment gateway-specific field that maps Zuora to other gateways.          \n"
          type: string
        status:
          description: 'The status of the refund.

            '
          type: string
        submittedOn:
          description: 'The date and time when the refund was submitted, in yyyy-mm-dd hh:mm:ss format.

            '
          format: date-time
          type: string
        success:
          description: 'Indicates if the request is processed successfully.

            '
          type: boolean
        type:
          description: 'The type of the refund.

            '
          enum:
          - External
          - Electronic
          type: string
        updatedById:
          description: 'The ID of the Zuora user who last updated the refund.

            '
          type: string
        updatedDate:
          description: 'The date and time when the refund was last updated, in `yyyy-mm-dd hh:mm:ss` format.

            '
          format: date-time
          type: string
      type: object
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
