openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Actions API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Actions
  description: Actions are operations that are batch in nature.
paths:
  /v1/action/create:
    post:
      summary: Create
      operationId: Action_POSTcreate
      description: 'Use the create call to create one or more objects of a specific type. You can specify different types in different create calls, but each create call must apply to only one type of object.


        ### Limitations


        This call has the following limitations:


        * A maximum of 50 objects are supported in a single call.

        * The Orders feature is not supported.

        * The Invoice Settlement feature is not supported. This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement.

        * The default WSDL version for Actions is 79. To create objects according to a different WSDL version, set the `X-Zuora-WSDL-Version` header. To find out in which WSDL version a particular object or field was introduced, see Zuora SOAP API Version History.


        ### How to use this call


        You can create on an array of one or more zObjects. The fields you should specify can be found in the corresponding "CRUD: Create an *zObject*" operation.

        For example, to create one or multiple accounts, use the request fields in the CRUD: Create an account operation.


        It returns an array of SaveResults sorted in the same order, indicating the success or failure of creating each object. The following information applies to this call:


        * You cannot pass in null zObjects.

        * You can pass in a maximum of 50 zObjects at a time.

        * All objects must be of the same type.


        #### Using Create and Subscribe Calls


        Both the Create and Subscribe calls will create a new account. However, there are differences between the calls.


        Use the create call to create an account independent of a subscription.


        Use the subscribe call to create the account with the subscription and the initial payment information.'
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                description: ''
                type: array
                items:
                  $ref: '#/components/schemas/SaveResult'
              example:
              - Success: true
                Id: 2c93808457d787030157e0324aea5158
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyActioncreateRequest'
        required: true
  /v1/action/delete:
    post:
      summary: Delete
      operationId: Action_POSTdelete
      description: 'Deletes one or more objects of the same type. You can specify different types in different delete calls, but each delete call must apply only to one type of object.


        The following information applies to this call:


        * You will need to first determine the IDs for the objects you wish to delete.

        * You cannot pass in any null IDs.

        * All objects in a specific delete call must be of the same type.


        ### Objects per Call

        50 objects are supported in a single call.'
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: array
                description: ''
                items:
                  $ref: '#/components/schemas/DeleteResult'
              example:
              - id: 2c93808457d787030157e031fcd34e19
                success: true
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyActiondeleteRequest'
        required: true
  /v1/action/query:
    post:
      summary: Query
      operationId: Action_POSTquery
      description: 'The query call sends a query expression by specifying the object to query, the fields to retrieve from that object, and any filters to determine whether a given object should be queried.


        You can use Zuora Object Query Language (ZOQL) to construct those queries, passing them through the `queryString`.


        Once the call is made, the API executes the query against the specified object and returns a query response object to your application. Your application can then iterate through rows in the query response to retrieve information.


        ### Limitations


        This call has the following limitations:


        * All ZOQL limitations apply.

        * All ZOQL keywords must be in lower case.

        * The number of records returned is limited to 2000 records.

        * The Invoice Settlement feature is not supported. This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement.

        * The Orders feature is not supported, which means that the objects listed in Orders Object Model are not supported.

        * The Active Rating feature is not supported.

        * The default WSDL version for Actions is 79. To query objects or fields according to a different WSDL version, set the `X-Zuora-WSDL-Version` header. To find out in which WSDL version a particular object or field was introduced, see Zuora SOAP API Version History.

        * Fields with NULL values are not returned in the response.'
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyActionqueryResponse'
              example:
                records:
                - AdjustmentNumber: IIA-00000001
                  ServiceEndDate: '2016-10-20'
                  Id: 2c93808457d787030157e0324aea5158
                  AccountingCode: Accounts Receivable
                  UpdatedDate: '2016-10-20T05:46:14.000+02:00'
                  AccountId: 2c93808457d787030157e032485b5131
                  Comment: this is comments
                  InvoiceNumber: INV00000001
                  InvoiceId: 2c93808457d787030157e03248c75142
                  ServiceStartDate: '2016-10-20'
                  CreatedById: 2c93808457d787030157e032283c4fb2
                  CreatedDate: '2016-10-20T05:46:14.000+02:00'
                  InvoiceItemName: OneTime_Flat Fee Pricing1476935174089
                  UpdatedById: 2c93808457d787030157e032283c4fb2
                  Amount: 1.2
                  AdjustmentDate: '2016-10-20'
                  SourceId: 2c93808457d787030157e03248c95144
                  SourceType: InvoiceDetail
                  Status: Processed
                  Type: Credit
                  ReferenceId: refid-1476935174845
                  ReasonCode: Standard Adjustment
                size: 1
                done: true
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyActionqueryRequest'
        required: true
  /v1/action/queryMore:
    post:
      summary: QueryMore
      operationId: Action_POSTqueryMore
      description: 'Use queryMore to request additional results from a previous query call. If your initial query call returns more than 2000 results, you can use queryMore to query for the additional results.


        Any `queryLocator` results greater than 2,000, will only be stored by Zuora for 5 days before it is deleted.


        This call sends a request for additional results from an initial query call. If the initial query call returns more than 2000 results, you can use the `queryLocator` returned from query to request the next set of results.


        **Note:** Zuora expires queryMore cursors after 15 minutes of activity.


        To use queryMore, you first construct a query call. By default, the query call will return up to 2000 results. If there are more than 2000 results, query will return a boolean `done`, which will be marked as `false`, and a `queryLocator`, which is a marker you will pass to queryMore to get the next set of results.'
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyActionqueryMoreResponse'
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyActionqueryMoreRequest'
        required: true
  /v1/action/update:
    post:
      summary: Update
      operationId: Action_POSTupdate
      description: 'Updates the information in one or more objects of the same type. You can specify different types of objects in different update calls, but each specific update call must apply to only one type of object.


        ### Limitations


        This call has the following limitations:


        * A maximum of 50 objects are supported in a single call.

        * The Invoice Settlement feature is not supported. This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement.

        * The default WSDL version for Actions is 79. To update objects or fields according to a different WSDL version, set the `X-Zuora-WSDL-Version` header. To find out in which WSDL version a particular object or field was introduced, see Zuora SOAP API Version History.


        ### How to use this call?


        You can update an array of one or more zObjects. The fields you should specify can be found in the corresponding "CRUD: Update an *zObject*" operation.

        For example, to update one or multiple accounts, use the request fields in the CRUD: Update an account operation.


        It returns an array of SaveResults sorted in the same order, indicating the success or failure of updating each object. The following information applies to this call:


        * You cannot pass in null zObjects.

        * You can pass in a maximum of 50 zObjects at a time.

        * All objects must be of the same type.

        * For each field in each object, you must determine that object''s ID. Then populate the fields that you want update with the new information.

        * Zuora ignores unrecognized fields in update calls. For example, if an optional field is spelled incorrectly or a field that does not exist is specified, Zuora ignores the field and continues to process the call. No error message is returned for unrecognized fields.'
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                description: ''
                type: array
                items:
                  $ref: '#/components/schemas/SaveResult'
              example:
              - Success: true
                Id: 2c93808457d787030157e0321fdf4fab
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyActionupdateRequest'
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_rejectUnknownFields:
      name: rejectUnknownFields
      in: query
      required: false
      description: "Specifies whether the call fails if the request body contains unknown fields.\nWith `rejectUnknownFields` set to `true`, Zuora returns a 400 response if\nthe request body contains unknown fields. The body of the 400 response is:\n\n```json\n{\n    \"message\": \"Error - unrecognised fields\"\n}\n```\n\nBy default, Zuora ignores unknown fields in the request body.\n"
      schema:
        type: boolean
        default: false
    GLOBAL_HEADER_X_Zuora_WSDL_Version:
      name: X-Zuora-WSDL-Version
      in: header
      required: false
      description: 'Zuora WSDL version number.

        '
      schema:
        type: string
        default: 79
  schemas:
    ProxyActioncreateRequest:
      example:
        objects:
        - AccountingCode: Accounts Receivable
          AdjustmentDate: '2016-10-20'
          Amount: 1.2
          Comment: this is comments
          InvoiceId: 2c93808457d787030157e03248c75142
          InvoiceNumber: INV00000001
          ReferenceId: refid-1476935174845
          SourceId: 2c93808457d787030157e03248c95144
          SourceType: InvoiceDetail
          Type: Credit
        type: InvoiceItemAdjustment
      properties:
        objects:
          description: ''
          items:
            $ref: '#/components/schemas/zObject'
          type: array
        type:
          description: ''
          type: string
      required:
      - objects
      - type
      type: object
    SaveResult:
      properties:
        Errors:
          description: ''
          items:
            $ref: '#/components/schemas/ActionsErrorResponse'
          type: array
        Id:
          description: ''
          type: string
        Success:
          description: ''
          type: boolean
      type: object
    zObject:
      additionalProperties:
        description: 'Field of the object.

          '
      type: object
    ProxyUnauthorizedResponse:
      properties:
        message:
          description: 'Error message.


            If the error message is "Authentication error", ensure that the `Authorization` request header contains valid authentication credentials, then retry the request. See [Authentication](/rest-api/general-concepts/authentication/) for more information.


            If the error message is "Failed to get user info", retry the request.

            '
          type: string
      type: object
    ProxyActionqueryMoreResponse:
      properties:
        done:
          description: 'Indicates whether the returned records contain all the query results.

            * If the `queryLocator` field is returned, this field is set to `false`.

            * If no `queryLocator` field is returned, this field is set to `true`.

            '
          type: boolean
        queryLocator:
          description: A marker passed to QueryMore to get the next set of results.
          type: string
        records:
          description: A list of queried results.
          items:
            $ref: '#/components/schemas/zObject'
          type: array
        size:
          description: The number of the returned query results.
          format: int32
          type: integer
      type: object
    ProxyActionqueryResponse:
      properties:
        done:
          description: 'Indicates whether the returned records contain all the query results.

            * If the `queryLocator` field is returned, this field is set to `false`.

            * If no `queryLocator` field is returned, this field is set to `true`.

            '
          type: boolean
        queryLocator:
          description: A marker passed to QueryMore to get the next set of results. For more information, see [QueryMore](/api-references/api/operation/Action_POSTqueryMore/).
          type: string
        records:
          description: A list of queried results.
          items:
            $ref: '#/components/schemas/zObject'
          type: array
        size:
          description: The number of the returned query results.
          format: int32
          type: integer
      type: object
    DeleteResult:
      properties:
        errors:
          description: 'If the delete failed, this contains an array of Error objects.

            '
          items:
            $ref: '#/components/schemas/ActionsErrorResponse'
          type: array
        id:
          description: 'ID of the deleted object.

            '
          type: string
        success:
          description: 'A boolean field indicating the success of the delete operation. If the delete was successful, it is `true`. Otherwise, `false`.

            '
          type: boolean
      type: object
    zObject_update:
      allOf:
      - properties:
          Id:
            description: ''
            type: string
          fieldsToNull:
            description: 'Used to set a list of fields to null.

              '
            items:
              type: string
            type: array
        required:
        - Id
        type: object
      - $ref: '#/components/schemas/zObject'
      title: zObject
    ActionsErrorResponse:
      properties:
        Code:
          description: ''
          type: string
        Message:
          description: ''
          type: string
      type: object
    ProxyActionupdateRequest:
      example:
        objects:
        - AccountNumber: AN_1476935163869
          AutoPay: true
          Batch: Batch1
          BillCycleDay: 1
          BillToId: 2c93808457d787030157e03220684fac
          CrmId: crmid
          Currency: USD
          DefaultPaymentMethodId: 2c93808457d787030157e03220ec4fad
          Id: 2c93808457d787030157e0321fdf4fab
          InvoiceTemplateId: 2c93808457d787030157e03208864f97
          Name: AC_1476935163869
          Notes: this is notes
          PaymentTerm: Due Upon Receipt
          SoldToId: 2c93808457d787030157e03220684fac
          Status: Active
        type: Account
      properties:
        objects:
          description: ''
          items:
            $ref: '#/components/schemas/zObject_update'
          type: array
        type:
          description: ''
          type: string
      required:
      - objects
      - type
      type: object
    ProxyActionqueryMoreRequest:
      example:
        queryLocator: 2c92c0f9602fb240016049ac7e0b47e7-2000
      properties:
        conf:
          description: Configuration of the query result.
          properties:
            batchSize:
              description: 'Defines the batch size of the query result. The range is 1 - 2000 (inclusive). If a value higher than 2000 is submitted, only 2000 results are returned.

                '
              type: integer
          type: object
        queryLocator:
          description: A marker passed to QueryMore to get the next set of results.
          type: string
      required:
      - queryLocator
      type: object
    ProxyActiondeleteRequest:
      example:
        ids:
        - 2c93808457d787030157e031fcd34e19
        type: ProductRatePlanCharge
      properties:
        ids:
          description: 'A list of one or more IDs for the objects you want to delete.

            '
          items:
            type: string
          type: array
        type:
          description: 'The type of object that you are deleting.

            '
          type: string
      required:
      - type
      - ids
      type: object
    ProxyActionqueryRequest:
      example:
        queryString: select AccountId, AccountingCode, AdjustmentDate, AdjustmentNumber, Amount, CancelledById, CancelledDate, Comment, CreatedById, CreatedDate, InvoiceId, InvoiceItemName, InvoiceNumber, ReferenceId, ServiceEndDate, ServiceStartDate, SourceId, SourceType, Status, TransferredToAccounting, Type, UpdatedById, UpdatedDate, ReasonCode from InvoiceItemAdjustment where Id = '2c93808457d787030157e0324aea5158'
      properties:
        conf:
          description: Configuration of the query result.
          properties:
            batchSize:
              description: 'Defines the batch size of the query result. The range is 1 - 2000 (inclusive). If a value higher than 2000 is submitted, only 2000 results are returned.

                '
              type: integer
          type: object
        queryString:
          description: '[ZOQL](https://knowledgecenter.zuora.com/DC_Developers/K_Zuora_Object_Query_Language) expression that specifies the object to query, the fields to retrieve, and any filters.


            **Note:** When querying one time charges from ProductRatePlanCharge, you need to specify the `ChargeType` value as `One-Time` rather than `OneTime`.

            '
          type: string
      required:
      - queryString
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
