openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Credit Memos API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Credit Memos
  description: 'Credit memos reduce invoice and account balances. By applying one or more credit memos to invoices with positive balances, you can reduce the invoice balances in the same way that applying a payment to an invoice.


    For more information about credit memos, see Credit and debit memos.'
paths:
  /v1/creditmemos:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates an ad-hoc credit memo from a product rate plan charge. Zuora supports the creation of credit memos from any type of product rate plan charge. The charges can also have any amount and any charge model, except for discout charge models.


        When credit memos are created from product rate plan charges, the specified amount with decimal places is now validated based on the decimal places supported by each currency.


        You can create a credit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Create a credit memo from a charge
      operationId: POST_CreditMemoFromPrpc
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoType'
              example:
                id: 402890555a87d7f5015a88c7a6830022
                number: CM00000015
                accountId: 402890555a7e9791015a7f15fe44001c
                accountNumber: A00000001
                currency: USD
                creditMemoDate: '2017-10-17'
                targetDate: null
                postedById: null
                postedOn: null
                status: Draft
                amount: 2020
                taxAmount: 0
                totalTaxExemptAmount: 0
                unappliedAmount: 2020
                refundAmount: 0
                appliedAmount: 0
                comment: the comment
                source: AdhocFromPrpc
                sourceType: Standalone
                sourceId: null
                referredInvoiceId: null
                reasonCode: Correcting invoice error
                reversed: false
                createdDate: '2017-03-01 15:31:10'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 15:31:10'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                cancelledOn: null
                cancelledById: null
                latestPDFFileId: null
                transferredToAccounting: 'No'
                excludeFromAutoApplyRules: false
                excludeItemBillingFromRevenueAccounting: true
                autoApplyUponPosting: false
                taxStatus: null
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `charges` > `amount`\n* `charges` > `memoItemAmount`\n* `charges` > `chargeId`\n* `charges` > `productRatePlanChargeId`            \n* `charges` > `comment`\n* `charges` > `description`\n* `customRates` > `currency`\n* `customRates` > `customFxRate` \n* `customRates` > `rateDate` \n"
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditMemoFromChargeType'
        required: true
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all credit memos.


        For a use case of this operation, see Get credit memo.


        ### Filtering


        You can use query parameters to restrict the data returned in the response. Each query parameter corresponds to one field in the response body.


        If the value of a filterable field is string, you can set the corresponding query parameter to `null` when filtering. Then, you can get the response data with this field value being `null`.


        Examples:


        - /v1/creditmemos?status=Posted


        - /v1/creditmemos?referredInvoiceId=null&status=Draft


        - /v1/creditmemos?status=Posted&type=External&sort=+number'
      summary: List credit memos
      operationId: GET_CreditMemos
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoCollectionType'
              example:
                creditmemos:
                - id: 2c92c8f95bd63b94015bd7c39289112e
                  number: CM00000002
                  accountId: 2c92c8f95bd63b98015bd7ab09ef0926
                  accountNumber: A00000001
                  currency: USD
                  creditMemoDate: '2017-05-05'
                  targetDate: null
                  postedById: null
                  postedOn: null
                  status: Draft
                  amount: 23
                  taxAmount: 0
                  totalTaxExemptAmount: 0
                  unappliedAmount: 23
                  refundAmount: 0
                  appliedAmount: 0
                  comment: ''
                  source: BillRun
                  sourceType: Standalone
                  sourceId: BR-00000024
                  referredInvoiceId: null
                  reasonCode: Correcting invoice error
                  reversed: false
                  createdDate: '2017-05-05 01:39:30'
                  createdById: 2c92c8f95b79c9ad015b80614273052c
                  updatedDate: '2017-05-05 01:39:30'
                  updatedById: 2c92c8f95b79c9ad015b80614273052c
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: 2c92c8955bd63b6c015bd7c395e90023
                  transferredToAccounting: 'No'
                  excludeFromAutoApplyRules: false
                  autoApplyUponPosting: false
                  taxStatus: null
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  sequenceSetId: null
                - id: 2c92c8f95bd63b9d015bd7ad7fe206f9
                  number: CM00000001
                  accountId: 2c92c8f95bd63b98015bd7ab09ef0926
                  accountNumber: A00000001
                  currency: USD
                  creditMemoDate: '2017-05-01'
                  targetDate: null
                  postedById: null
                  postedOn: null
                  status: Draft
                  amount: 10
                  taxAmount: 0
                  totalTaxExemptAmount: 0
                  unappliedAmount: 10
                  refundAmount: 0
                  appliedAmount: 0
                  comment: ''
                  source: AdhocFromInvoice
                  sourceType: Standalone
                  sourceId: null
                  referredInvoiceId: 2c92c8955bd63cc1015bd7c151af02ab
                  reasonCode: Correcting invoice error
                  reversed: false
                  createdDate: '2017-05-05 01:15:23'
                  createdById: 2c92c8f95b79c9ad015b80614273052c
                  updatedDate: '2017-05-05 01:15:24'
                  updatedById: 2c92c8f95b79c9ad015b80614273052c
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: 2c92c8955bd63b6c015bd7ad8921001d
                  transferredToAccounting: 'No'
                  excludeFromAutoApplyRules: false
                  autoApplyUponPosting: false
                  taxStatus: null
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: accountId
        in: query
        required: false
        description: 'This parameter filters the response based on the `accountId` field.

          '
        schema:
          type: string
      - name: accountNumber
        in: query
        required: false
        description: 'This parameter filters the response based on the `accountNumber` field.

          '
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: "This parameter filters the response based on the `amount` field. \n"
        schema:
          type: number
          format: double
      - name: appliedAmount
        in: query
        required: false
        description: "This parameter filters the response based on the `appliedAmount` field. \n"
        schema:
          type: number
          format: double
      - name: autoApplyUponPosting
        in: query
        required: false
        description: "This parameter filters the response based on the `autoApplyUponPosting` field. \n"
        schema:
          type: boolean
      - name: createdById
        in: query
        required: false
        description: "This parameter filters the response based on the `createdById` field. \n"
        schema:
          type: string
      - name: createdDate
        in: query
        required: false
        description: "This parameter filters the response based on the `createdDate` field. \n"
        schema:
          type: string
          format: date-time
      - name: creditMemoDate
        in: query
        required: false
        description: "This parameter filters the response based on the `creditMemoDate` field. \n"
        schema:
          type: string
          format: date
      - name: currency
        in: query
        required: false
        description: "This parameter filters the response based on the `currency` field. \n"
        schema:
          type: string
      - name: excludeFromAutoApplyRules
        in: query
        required: false
        description: "This parameter filters the response based on the `excludeFromAutoApplyRules` field. \n"
        schema:
          type: boolean
      - name: number
        in: query
        required: false
        description: "This parameter filters the response based on the `number` field. \n"
        schema:
          type: string
      - name: referredInvoiceId
        in: query
        required: false
        description: "This parameter filters the response based on the `referredInvoiceId` field. \n"
        schema:
          type: string
      - name: refundAmount
        in: query
        required: false
        description: "This parameter filters the response based on the `refundAmount` field. \n"
        schema:
          type: number
          format: double
      - name: status
        in: query
        required: false
        description: "This parameter filters the response based on the `status` field. \n"
        schema:
          type: string
          enum:
          - Draft
          - Posted
          - Canceled
          - Error
          - PendingForTax
          - Generating
          - CancelInProgress
      - name: targetDate
        in: query
        required: false
        description: "This parameter filters the response based on the `targetDate` field. \n"
        schema:
          type: string
          format: date
      - name: taxAmount
        in: query
        required: false
        description: "This parameter filters the response based on the `taxAmount` field. \n"
        schema:
          type: number
          format: double
      - name: totalTaxExemptAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `totalTaxExemptAmount` field.

          '
        schema:
          type: number
          format: double
      - name: transferredToAccounting
        in: query
        required: false
        description: "This parameter filters the response based on the `transferredToAccounting` field. \n"
        schema:
          type: string
          enum:
          - Processing
          - 'Yes'
          - 'No'
          - Error
          - Ignore
      - name: unappliedAmount
        in: query
        required: false
        description: "This parameter filters the response based on the `unappliedAmount` field. \n"
        schema:
          type: number
          format: double
      - name: updatedById
        in: query
        required: false
        description: "This parameter filters the response based on the `updatedById` field. \n"
        schema:
          type: string
      - name: updatedDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        required: false
        description: "This parameter restricts the order of the data returned in the response. You can use this parameter to supply a dimension you want to sort on.\n\nA sortable field uses the following form: \n\n*operator* *field_name*\n\nYou can use at most two sortable fields in one URL path. Use a comma to separate sortable fields. For example:  *operator* *field_name*, *operator* *field_name*  \n\n*operator* is used to mark the order of sequencing. The operator is optional. If you only specify the sortable field without any operator, the response data is sorted in descending order by this field.\n\n  - The `-` operator indicates an ascending order.\n  - The `+` operator indicates a descending order.\n\nBy default, the response data is displayed in descending order by credit memo number.\n\n*field_name* indicates the name of a sortable field. The supported sortable fields of this operation are as below:\n\n  - accountId\n  - amount\n  - appliedAmount\n  - createdById\n  - createdDate\n  - creditMemoDate\n  - number\n  - referredInvoiceId\n  - refundAmount\n  - status\n  - targetDate\n  - taxAmount\n  - totalTaxExemptAmount\n  - transferredToAccounting\n  - unappliedAmount\n  - updatedDate\n\n  \nExamples:\n\n- /v1/creditmemos?sort=+number\n\n- /v1/creditmemos?status=Processed&sort=-number,+amount\n"
        schema:
          type: string
  /v1/creditmemos/bulk:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates multiple credit memos from invoices or product rate plan charges. You can create a maximum of 50 credit memos in one single request.


        - If you set the `sourceType` request field to `Invoice`, you can create multiple credit memos from invoices.

        - If you set the `sourceType` request field to `Standalone`, you can create multiple credit memos from product rate plan charges.


        The credit memos that are created are each in separate database transactions. If the creation of one credit memo fails, other credit memos can still be created successfully.


        You can create credit memos only if you have the user permission. See Billing Roles for more information.


        Zero-amount memo items are supported in the following scenarios:

        - If you want to correct taxation items only for an invoice, you can set the memo item amount to zero, but the taxation item amount to non-zero.

        - If you want to correct personal data in an invoice, you can set the memo item amount to zero to create a zero-amount credit memo from an invoice.'
      summary: Create credit memos
      operationId: POST_CreateCreditMemos
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreditMemosResponseType'
              example:
                success: true
                memos:
                - id: ff8080817fe9d7b9017fe9e5382f04f5
                  number: CM00000001
                  accountId: ff8080817fe9d7b9017fe9e5234d04cb
                  accountNumber: A00000001
                  currency: USD
                  creditMemoDate: '2022-04-02'
                  targetDate: null
                  postedById: null
                  postedOn: null
                  status: Draft
                  amount: 100
                  taxAmount: 0
                  totalTaxExemptAmount: 0
                  unappliedAmount: 100
                  refundAmount: 0
                  appliedAmount: 0
                  comment: test
                  source: AdhocFromInvoice
                  sourceId: null
                  referredInvoiceId: ff8080817fe9d7b9017fe9e5317f04e0
                  reasonCode: Correcting invoice error
                  createdDate: '2022-04-02 18:49:47'
                  createdById: ff8080817fe9d7b9017fe9e41732030e
                  updatedDate: '2022-04-02 18:49:47'
                  updatedById: ff8080817fe9d7b9017fe9e41732030e
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: null
                  transferredToAccounting: 'No'
                  excludeFromAutoApplyRules: false
                  autoApplyUponPosting: false
                  reversed: false
                  taxStatus: null
                  sourceType: Invoice
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  sequenceSetId: null
                  success: true
                - success: false
                  processId: 0356073CB721291A
                  reasons:
                  - code: 50000040
                    message: Cannot find a Invoice instance with id test.
                  objectIndex: 1
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: '

          The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTBulkCreditMemosRequestType'
        required: true
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates the basic and finance information about multiple credit memos. You can update a maximum of 50 credit memos in one single request.


        The credit memos that are updated are each in separate database transactions. If the update of one credit memo fails, other credit memos can still be updated successfully.


        Currently, Zuora supports updating tax-exclusive memo items, but does not support updating tax-inclusive memo items.


        If the amount of a memo item is updated, the tax will be recalculated in the following conditions:

        - The memo is created from a product rate plan charge and you use Avalara to calculate the tax.

        - The memo is created from an invoice and you use Avalara or Zuora Tax to calculate the tax.


        You can update credit memos only if you have the user permission. See Billing Roles for more information.'
      summary: Update credit memos
      operationId: PUT_UpdateCreditMemos
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreditMemosResponseType'
              example:
                success: true
                memos:
                - id: ff8080817fe9d7b9017fe9e5382f04f5
                  number: CM00000001
                  accountId: ff8080817fe9d7b9017fe9e5234d04cb
                  accountNumber: A00000001
                  currency: USD
                  creditMemoDate: '2022-04-02'
                  targetDate: null
                  postedById: null
                  postedOn: null
                  status: Draft
                  amount: 100
                  taxAmount: 0
                  totalTaxExemptAmount: 0
                  unappliedAmount: 100
                  refundAmount: 0
                  appliedAmount: 0
                  comment: test
                  source: AdhocFromInvoice
                  sourceId: null
                  referredInvoiceId: ff8080817fe9d7b9017fe9e5317f04e0
                  reasonCode: Correcting invoice error
                  createdDate: '2022-04-02 18:49:47'
                  createdById: ff8080817fe9d7b9017fe9e41732030e
                  updatedDate: '2022-04-02 18:49:47'
                  updatedById: ff8080817fe9d7b9017fe9e41732030e
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: null
                  transferredToAccounting: 'No'
                  excludeFromAutoApplyRules: false
                  autoApplyUponPosting: false
                  reversed: false
                  taxStatus: null
                  sourceType: Invoice
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  sequenceSetId: null
                  success: true
                - success: false
                  id: ff8080817fe9d7b9017fe9e41732030f
                  processId: 0356073CB721291A
                  reasons:
                  - code: 50000040
                    message: Cannot find a Invoice instance with id.
                  objectIndex: 1
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: '

          The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTBulkCreditMemosRequestType'
        required: true
  /v1/invoices/{invoiceKey}/creditmemos:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates an ad-hoc credit memo from an invoice.


        You can create a credit memo from an invoice only if you have the user permission. See Billing Roles for more information.


        For a use case of this operation, see Create credit memo.


        Zero-amount memo items are supported in the following scenarios:

        - If you want to correct taxation items only for an invoice, you can set the memo item amount to zero, but the taxation item amount to non-zero.

        - If you want to correct personal data in an invoice, you can set the memo item amount to zero to create a zero-amount credit memo from an invoice.'
      summary: Create a credit memo from an invoice
      operationId: POST_CreditMemoFromInvoice
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoType'
              example:
                id: 402890555a87d7f5015a88bd27f80014
                number: CM00000013
                accountId: 402890555a7d4022015a7dabf5f60088
                accountNumber: A00000001
                currency: USD
                creditMemoDate: '2017-11-30'
                targetDate: null
                postedById: null
                postedOn: null
                status: Draft
                amount: 0.01
                taxAmount: 0.01
                totalTaxExemptAmount: 0
                unappliedAmount: 0.01
                refundAmount: 0
                appliedAmount: 0
                comment: the comment
                source: AdhocFromInvoice
                sourceType: Invoice
                sourceId: null
                referredInvoiceId: 402890555a7d4022015a7dadb3b300a4
                reasonCode: Write-off
                reversed: false
                createdDate: '2017-03-01 15:19:42'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 15:19:42'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                cancelledOn: null
                cancelledById: null
                latestPDFFileId: null
                excludeItemBillingFromRevenueAccounting: true
                transferredToAccounting: 'No'
                excludeFromAutoApplyRules: false
                autoApplyUponPosting: false
                taxStatus: null
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `items` > `comment`\n* `items` > `description`\n"
        schema:
          type: string
      - in: path
        description: 'The ID or number of an invoice that you want to create a credit memo from. For example, 2c93808457d787030157e030d10f3f64 or INV00000001.

          '
        name: invoiceKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditMemoFromInvoiceType'
        required: true
  /v1/creditmemos/{creditMemoKey}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific credit memo.


        For a use case of this operation, see Get credit memo.'
      summary: Retrieve a credit memo
      operationId: GET_CreditMemo
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoType'
              example:
                id: 402890555a7e9791015a879f064a0054
                number: CM00000012
                accountId: 402890555a7e9791015a7f15fe44001c
                accountNumber: A00000001
                currency: USD
                creditMemoDate: '2017-03-01'
                targetDate: null
                postedById: null
                postedOn: null
                status: Draft
                amount: 3.1
                taxAmount: 0.1
                totalTaxExemptAmount: 0
                unappliedAmount: 3.1
                refundAmount: 0
                appliedAmount: 0
                comment: ''
                source: API
                sourceType: Standalone
                sourceId: null
                referredInvoiceId: 402890555a7e9791015a7f1756aa0035
                reasonCode: Correcting invoice error
                reversed: false
                createdDate: '2017-03-01 10:07:10'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 10:08:43'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                cancelledOn: null
                cancelledById: null
                latestPDFFileId: 402890555a7e9791015a879f07fb005e
                transferredToAccounting: 'No'
                excludeFromAutoApplyRules: false
                autoApplyUponPosting: false
                taxStatus: null
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The unique ID or number of a credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172 or CM00000001.

          '
        name: creditMemoKey
        required: true
        schema:
          type: string
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates the basic and finance information about a credit memo. Currently, Zuora supports updating tax-exclusive memo items, but does not support updating tax-inclusive memo items.


        If the amount of a memo item is updated, the tax will be recalculated in the following conditions:

        - The memo is created from a product rate plan charge and you use Avalara to calculate the tax.

        - The memo is created from an invoice and you use Avalara or Zuora Tax to calculate the tax.


        You can update a credit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Update a credit memo
      operationId: PUT_UpdateCreditMemo
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoType'
              example:
                id: 4028905f5a890526015a8d73f73d0015
                number: CM00000001
                accountId: 4028905f5a87c0ff015a87d25ae90025
                accountNumber: A00000001
                currency: USD
                creditMemoDate: '2017-03-02'
                targetDate: null
                postedById: null
                postedOn: null
                status: Draft
                amount: 10.76
                taxAmount: 0.76
                totalTaxExemptAmount: 0
                unappliedAmount: 10.76
                refundAmount: 0
                appliedAmount: 0
                comment: ''
                source: AdhocFromPrpc
                sourceId: null
                sourceType: Standalone
                referredInvoiceId: 4028905f5a87c0ff015a87d3f8f10043
                reasonCode: Correcting invoice error
                reversed: false
                createdDate: '2017-03-02 13:17:51'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-02 13:19:00'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                cancelledOn: null
                cancelledById: null
                latestPDFFileId: 4028905f5a890526015a8d7408730024
                transferredToAccounting: 'No'
                excludeFromAutoApplyRules: true
                autoApplyUponPosting: false
                taxStatus: null
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The unique ID or number of a credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172 or CM00000001.

          '
        name: creditMemoKey
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTCreditMemoType'
        required: true
    delete:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Deletes a credit memo. Only credit memos with the Cancelled status can be deleted.


        You can delete a credit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Delete a credit memo
      operationId: DELETE_CreditMemo
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: creditMemoKey
        description: 'The unique ID or number of a credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172 or CM00000001.

          '
        required: true
        schema:
          type: string
  /v1/creditmemos/{creditMemoKey}/apply:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Applies a posted credit memo to one or more invoices and debit memos.


        You can apply a credit memo to an invoice or a debit memo only if you have the user permission. See Billing Roles for more information.


        When you apply a credit memo, the total number of credit memo items and the items that credit memo items to be applied to must be less than or equal to 15,000.


        If the limit is hit, you can follow the following instructions:


        - If you want to apply one credit memo to multiple invoices or debit memos, decrease the number of invoices or debit memos in the request.

        - If you want to apply one credit memo to a single invoice or debit memo with a large volume of items, you have to specify invoice items or debit memo items in the request. The maximum number of invoice items or debit memo items that you can specify in the request is 1,000.

        - If a credit memo has a large volume of items, you have to specify credit memo items in the request. The maximum number of credit memo items that you can specify in the request is 1,000.


        If the Proration application rule is used, when applying credit memos, the following quantity must be less than or equal to 15,000:


        (number of invoice items + number of debit memo items) * number of credit memo items


        Otherwise, the First In First Out rule will be used instead of the Proration rule.'
      summary: Apply a credit memo
      operationId: PUT_ApplyCreditMemo
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoType'
              example:
                id: 4028905f5a890526015a8d73f73d0015
                number: CM00000001
                accountId: 4028905f5a87c0ff015a87d25ae90025
                accountNumber: A00000001
                currency: USD
                creditMemoDate: '2017-03-02'
                targetDate: null
                postedById: 402881e522cf4f9b0122cf5d82860002
                postedOn: '2017-03-02 13:21:55'
                status: Posted
                amount: 10.76
                taxAmount: 0.76
                totalTaxExemptAmount: 0
                unappliedAmount: 2.66
                refundAmount: 7.1
                appliedAmount: 1
                comment: ''
                source: AdhocFromPrpc
                sourceId: null
                sourceType: Standalone
                referredInvoiceId: 4028905f5a87c0ff015a87d3f8f10043
                reasonCode: Correcting invoice error
                reversed: false
                createdDate: '2017-03-02 13:17:51'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-02 13:25:29'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                cancelledOn: null
                cancelledById: null
                latestPDFFileId: 4028905f5a890526015a8d77af600036
                transferredToAccounting: 'No'
                excludeFromAutoApplyRules: true
                autoApplyUponPosting: false
                taxStatus: null
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: creditMemoKey
        description: 'The unique ID or number of a credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172.

          '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCreditMemoType'
        required: true
  /v1/creditmemos/{creditMemoKey}/cancel:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Cancels a credit memo. Only credit memos with the Draft status can be cancelled.


        You can cancel a credit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Cancel a credit memo
      operationId: PUT_CancelCreditMemo
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoType'
              example:
                id: 402890555a87d7f5015a88c7a6830022
                number: CM00000015
                accountId: 402890555a7e9791015a7f15fe44001c
                accountNumber: A00000001
                currency: USD
                creditMemoDate: '2017-10-17'
                targetDate: null
                postedById: null
                postedOn: null
                status: Canceled
                amount: 2020
                taxAmount: 0
                totalTaxExemptAmount: 0
                unappliedAmount: 2020
                refundAmount: 0
                appliedAmount: 0
                comment: the comment
                source: AdhocFromPrpc
                sourceId: null
                sourceType: Standalone
                referredInvoiceId: null
                reasonCode: Correcting invoice error
                reversed: false
                createdDate: '2017-03-01 15:31:10'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 15:36:57'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                cancelledOn: '2017-09-03 19:59:07'
                cancelledById: 402881e522cf4f9b0122cf5d82860002
                latestPDFFileId: 402890555a87d7f5015a88c7a7a2002a
                transferredToAccounting: 'No'
                excludeFromAutoApplyRules: false
                autoApplyUponPosting: false
                taxStatus: null
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The unique ID or number of a credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172 or CM00000001.

          '
        name: creditMemoKey
        required: true
        schema:
          type: string
  /v1/creditmemos/{creditMemoKey}/emails:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Sends a posted credit memo to the specified email addresses manually.


        ### Notes

        - You must activate the **Email Credit Memo | Manually email Credit Memo** notification before emailing credit memos. To include the credit memo PDF in the email, select the **Include Credit Memo PDF** check box in the **Edit notification** dialog from the Zuora UI. See Create and Edit Notifications for more information.


        - Zuora sends the email messages based on the email template you set. You can set the email template to use in the **Delivery Options** panel of the **Edit notification** dialog from the Zuora UI. By default, the **Manual Email for Credit Memo Default Template** template is used. See Create and Edit Email Templates for more information.


        - The credit memos are sent only to the work email addresses or personal email addresses of the Bill To contact if the following conditions are all met:


        * The `useEmailTemplateSetting` field is set to `false`.

        * The email addresses are not specified in the `emailAddresses` field.'
      summary: Email a credit memo
      operationId: POST_EmailCreditMemo
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: creditMemoKey
        in: path
        required: true
        description: 'The ID or number of a posted credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172 or CM00000001.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreditMemoEmailRequestType'
        required: true
  /v1/creditmemos/{creditMemoKey}/files:
    post:
      summary: Upload a file for a credit memo
      operationId: POST_UploadFileForCreditMemo
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Uploads an externally generated PDF file for a credit memo that is in Draft or Posted status.


        To use this operation, you must enable the Modify Modify Credit Memo permission. See Billing Permissions for more information.


        This operation has the following restrictions:

        - Only the PDF file format is supported.

        - The maximum size of the PDF file to upload is 4 MB.

        - A maximum of 50 PDF files can be uploaded for one credit memo.'
      tags:
      - Credit Memos
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: creditMemoKey
        in: path
        description: 'The ID or number of the credit memo that you want to upload a PDF file for. For example, 402890555a7e9791015a879f064a0054 or CM00000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTUploadFileResponse'
              example:
                success: true
                fileId: 40289f466463d683016463ef8b7301a4
      x-code-samples:
      - lang: curl
        label: Curl
        source: 'curl -X POST -H "Authorization: Bearer f21f017e4724445d8647b1f0de7ed6f1" -F "file=@CreditMemoFile.pdf" "https://rest.zuora.com/v1/creditmemos/402890555a7e9791015a879f064a0054/files"

          '
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: 'The PDF file to upload for the credit memo.

                    '
                  format: binary
  /v1/creditmemos/{creditMemoKey}/items:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all items of a credit memo. A credit memo item is a single line item in a credit memo.


        ### Filtering


        You can use query parameters to restrict the data returned in the response. Each query parameter corresponds to one field in the response body.


        If the value of a filterable field is string, you can set the corresponding query parameter to `null` when filtering. Then, you can get the response data with this field value being `null`.


        Examples:


        - /v1/creditmemos/402890245c7ca371015c7cb40ac30015/items?amount=100


        - /v1/creditmemos/402890245c7ca371015c7cb40ac30015/items?amount=100&sort=createdDate'
      summary: List credit memo items
      operationId: GET_CreditMemoItems
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoItemsListType'
              example:
                items:
                - id: 402890555a7e9791015a879f064d0055
                  amount: 1
                  amountWithoutTax: 0
                  appliedAmount: 0
                  appliedToItemId: null
                  refundAmount: 0
                  unappliedAmount: 1
                  comment: ''
                  taxMode: TaxExclusive
                  processingType: Charge
                  quantity: 1
                  sku: SKU-00000001
                  skuName: New Component
                  serviceStartDate: '2017-02-27'
                  serviceEndDate: '2017-03-26'
                  sourceItemType: InvoiceDetail
                  sourceItemId: 402890555a7e9791015a7f1756bc0037
                  creditFromItemSource: CreditMemoItem
                  creditFromItemId: 402880e97a56f30b017a574012e50085
                  excludeItemBillingFromRevenueAccounting: true
                  createdDate: '2017-03-01 10:07:10'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 10:08:43'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  subscriptionId: 402890d25bec1155015bec35cc7c0bc7
                  unitOfMeasure: Each
                  unitPrice: 1
                  soldToContactId: 402881e522cf4f9b0122cf5d82860003
                  soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860004
                  invoiceScheduleId: 402881e522cf4f9b0122cf5d82860005
                  invoiceScheduleItemId: 402881e522cf4f9b0122cf5d82860006
                  numberOfDeliveries: 1
                  financeInformation:
                    onAccountAccountingCode: null
                    onAccountAccountingCodeType: null
                    deferredRevenueAccountingCode: null
                    deferredRevenueAccountingCodeType: null
                    recognizedRevenueAccountingCode: null
                    recognizedRevenueAccountingCodeType: null
                  taxationItems:
                    data:
                    - id: 402890555a7e9791015a87a072880062
                      sourceTaxItemId: null
                      taxAmount: 0.1
                      appliedAmount: 0
                      unappliedAmount: 0.1
                      refundAmount: 0
                      name: STATE TAX
                      exemptAmount: 0
                      jurisdiction: CALIFORNIA
                      locationCode: '06'
                      taxCode: ServiceTaxCode
                      taxCodeDescription: This is tax code description!
                      taxDate: '2016-09-30'
                      taxRate: 0.0625
                      taxRateDescription: This is tax rate description!
                      taxRateType: Percentage
                      financeInformation:
                        onAccountAccountingCode: Check
                        onAccountAccountingCodeType: Cash
                        salesTaxPayableAccountingCode: Check
                        salesTaxPayableAccountingCodeType: Cash
                - id: 402890555a7e9791015a879f06610056
                  amount: 2
                  amountWithoutTax: 2
                  appliedAmount: 0
                  appliedToItemId: null
                  refundAmount: 0
                  unappliedAmount: 2
                  comment: ''
                  taxMode: TaxExclusive
                  processingType: Charge
                  quantity: 1
                  sku: SKU-00000001
                  skuName: New Component
                  serviceStartDate: '2017-02-27'
                  serviceEndDate: '2017-03-26'
                  sourceItemType: InvoiceDetail
                  sourceItemId: 402890555a7e9791015a7f1756bd0038
                  excludeItemBillingFromRevenueAccounting: true
                  creditFromItemSource: CreditMemoItem
                  creditFromItemId: 402880e97a56f30b017a574012f00086
                  createdDate: '2017-03-01 10:07:10'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 10:07:10'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  subscriptionId: 402890d25bec1155015bec35cc7c0bc7
                  unitOfMeasure: Each
                  unitPrice: 2
                  soldToContactId: 402881e522cf4f9b0122cf5d82860003
                  soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860004
                  invoiceScheduleId: 402881e522cf4f9b0122cf5d82860005
                  invoiceScheduleItemId: 402881e522cf4f9b0122cf5d82860006
                  numberOfDeliveries: 1
                  financeInformation:
                    onAccountAccountingCode: null
                    onAccountAccountingCodeType: null
                    deferredRevenueAccountingCode: null
                    deferredRevenueAccountingCodeType: null
                    recognizedRevenueAccountingCode: null
                    recognizedRevenueAccountingCodeType: null
                  taxationItems:
                    data: []
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - in: path
        name: creditMemoKey
        description: 'The unique ID or number of a credit memo. For example, 8a8082e65b27f6c3015ba45ff82c7172 or CM00000001.

          '
        required: true
        schema:
          type: string
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following response fields:\n* `items` > `creditTaxItems`\n* `items` > `taxationItems`\n* `items` > `comment`\n* `items` > `description`\n"
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: "This parameter filters the response based on the `amount` field. \n"
        schema:
          type: number
          format: double
      - name: appliedAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `appliedAmount` field.

          '
        schema:
          type: number
          format: double
      - name: createdById
        in: query
        required: false
        description: "This parameter filters the response based on the `createdById` field. \n"
        schema:
          type: string
      - name: createdDate
        in: query
        required: false
        description: "This parameter filters the response based on the `createdDate` field. \n"
        schema:
          type: string
          format: date-time
      - name: id
        in: query
        required: false
        description: "This parameter filters the response based on the `id` field. \n"
        schema:
          type: string
      - name: refundAmount
        in: query
        required: false
        description: "This parameter filters the response based on the `refundAmount` field. \n"
        schema:
          type: number
          format: double
      - name: serviceEndDate
        in: query
        required: false
        description: "This parameter filters the response based on the `serviceEndDate` field. \n"
        schema:
          type: string
          format: date
      - name: serviceStartDate
        in: query
        required: false
        description: "This parameter filters the response based on the `serviceStartDate` field. \n"
        schema:
          type: string
          format: date
      - name: sku
        in: query
        required: false
        description: "This parameter filters the response based on the `sku` field. \n"
        schema:
          type: string
      - name: skuName
        in: query
        required: false
        description: "This parameter filters the response based on the `skuName` field. \n"
        schema:
          type: string
      - name: sourceItemId
        in: query
        required: false
        description: "This parameter filters the response based on the `sourceItemId` field. \n"
        schema:
          type: string
      - name: subscriptionId
        in: query
        required: false
        description: 'This parameter filters the response based on the `subscriptionId` field.

          '
        schema:
          type: string
      - name: updatedById
        in: query
        required: false
        description: "This parameter filters the response based on the `updatedById` field. \n"
        schema:
          type: string
      - name: updatedDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        required: false
        description: "This parameter restricts the order of the data returned in the response. You can use this parameter to supply a dimension you want to sort on.\n\nA sortable field uses the following form: \n\n*operator* *field_name*\n\nYou can use at most two sortable fields in one URL path. Use a comma to separate sortable fields. For example:  *operator* *field_name*, *operator* *field_name*  \n\n*operator* is used to mark the order of sequencing. The operator is optional. If you only specify the sortable field without any operator, the response data is sorted in descending order by this field.\n\n  - The `-` operator indicates an ascending order.\n  - The `+` operator indicates a descending order.\n\nBy default, the response data is displayed in descending order by updated date.\n\n*field_name* indicates the name of a sortable field. The supported sortable fields of this operation are as below:\n\n  - amount\n  - appliedAmount\n  - createdById\n  - createdDate\n  - id\n  - refundAmount\n  - serviceEndDate\n  - serviceStartDate\n  - sku\n  - skuName\n  - sourceItemId\n  - subscriptionId\n  - updatedById\n  - updatedDate\n  \nExamples:\n\n- /v1/creditmemos/402890245c7ca371015c7cb40ac30015/items?sort=createdDate\n\n- /v1/creditmemos/402890245c7ca371015c7cb40ac30015/items?amount=100&sort=createdDate\n"
        schema:
          type: string
  /v1/creditmemos/{creditMemoKey}/items/{cmitemid}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific item of a credit memo. A credit memo item is a single line item in a credit memo.'
      summary: Retrieve a credit memo item
      operationId: GET_CreditMemoItem
      tags:
      - Credit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETCreditMemoItemType'
              example:
                id: 402890555a7e9791015a879f064d0055
                amount: 1
                amountWithoutTax: 1
                appliedAmount: 0
                appliedToItemId: null
                refundAmount: 0
                unappliedAmount: 1
                comment: ''
                taxMode: TaxExclusive
                processingType: Charge
                quantity: 1
                sku: SKU-00000001
                skuName: New Component
                serviceStartDate: '2017-02-27'
                serviceEndDate: '2017-03-26'
                sourceItemType: InvoiceDetail
                sourceItemId: 402890555a7e9791015a7f1756bc0037
                creditFromItemSource: CreditMemoItem
                creditFromItemId: 402880e97a56f30b017a574012f00086
                createdDate: '2017-03-01 10:07:10'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 10:08:43'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                excludeItemBillingFromRevenueAccounting: true
                subscriptionId: 402890d25bec1155015bec35cc7c0bc7
                unitOfMeasure: Each
                unitPrice: 1
                soldToContactId: 402881e522cf4f9b0122cf5d82860003
                soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860004
                invoiceScheduleId: 402881e522cf4f9b0122cf5d82860005
                invoiceScheduleItemId: 402881e522cf4f9b0122cf5d82860006
                numberOfDeliveries: 1
                financeInformation:
                  onAccountAccountingCode: null
                  onAccountAccountingCodeType: null
                  deferredRevenueAccountingCode: null
                  deferredRevenueAccountingCodeType: null
                  recognizedRevenueAccountingCode: null
                  recognizedRevenueAccountingCodeType: null
                taxationItems:
                  data: []
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
[...]
