openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Price Book Items API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Price Book Items
  description: 'Use price book items to define as many price points as needed for an individual product rate plan charge without the need of duplicating the product rate plan and rate plan charges in your catalog.


    The Price Book Item object is in the **Beta** phase.'
paths:
  /v1/price-book-items:
    post:
      summary: Create a price book item
      operationId: POST_CreatePriceBookItem
      description: 'Creates a price book item.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Price Book Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPriceBookItemResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTPriceBookItemRequest'
        required: true
    get:
      summary: List price book items
      operationId: GET_ListPriceBookItems
      description: 'Retrieves basic information about all price book items.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Price Book Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - name: offer
        in: query
        required: false
        description: 'Used if you want to filter the PBIs associated with one offer. Can be offer id or number

          '
        schema:
          type: string
      - name: charge
        in: query
        required: false
        description: 'Used if you want to filter the PBIs of a charge. Charge id for now.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllPriceBookItemsResponse'
              example:
                priceBookItems:
                - id: 402880ec8702226b01870c971e0c02cc
                  number: PBI-00000004
                  productChargeId: 402880ec8702226b01870c971d1e02c7
                  offerId: null
                  offerNumber: null
                  effectiveStartDate: '2023-01-01'
                  effectiveEndDate: '2024-03-01'
                  currency: USD
                  defaultQuantity: 0
                  listPriceBase: Per_Billing_Period
                  includedUnits: 10
                  price: null
                  overagePrice: 5
                  tiers: null
                  intervalPrices: null
                success: true
  /v1/price-book-items/{price-book-item-key}:
    get:
      summary: Retrieve a price book item
      operationId: GET_RetrievePriceBookItem
      description: 'Retrieves basic information about a price book item.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Price Book Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: price-book-item-key
        in: path
        description: 'The unique number or ID of the price book item to be retrieved.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPriceBookItemResponse'
    put:
      summary: Update a price book item
      operationId: PUT_UpdatePriceBookItem
      description: 'Update a price book item.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Price Book Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: price-book-item-key
        in: path
        description: 'The unique number or ID of the price book item to be updated.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPriceBookItemResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTPriceBookItemRequest'
        required: true
    delete:
      summary: Delete a price book item
      operationId: DELETE_PriceBookItem
      description: 'Deletes a price book item.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Price Book Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: price-book-item-key
        in: path
        description: 'The unique number or ID of the price book item to be deleted.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: 'true'
components:
  schemas:
    GETPriceBookItemTier:
      properties:
        endingUnit:
          description: 'The ending unit of the tier.

            '
          type: number
        price:
          description: 'The price of the tier.

            '
          type: number
        priceFormat:
          description: 'The price format of the tier.

            '
          enum:
          - FlatFee
          - PerUnit
          type: string
        startingUnit:
          description: 'The starting unit of the tier.

            '
          type: number
        tier:
          description: 'The number of the tier.

            '
          type: number
      title: tiers
      type: object
    GETPriceBookItemIntervalPrice:
      properties:
        duration:
          description: 'The duration of the interval.

            '
          type: number
        overagePrice:
          description: 'The overage price of the interval.


            This field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.

            '
          type: number
        price:
          description: "The price of the interval. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        sequence:
          description: "The sequence of the interval. \n"
          type: number
        tiers:
          description: "Container for the tiers of the interval. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/GETPriceBookItemTier'
          type: array
        type:
          description: 'The type of the interval.

            '
          enum:
          - Infinity
          - Day
          - Month
          type: string
      title: intervalPrices
      type: object
    POSTPriceBookItemIntervalPrice:
      properties:
        duration:
          description: "The duration of the interval. \n\nIf you set the `type` field to `Infinity`, do not specify the `duration` field in the request.\n"
          type: number
        overagePrice:
          description: "The overage price. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
          type: number
        price:
          description: "The price for the interval. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        sequence:
          description: 'The sequence of the interval.


            The value must be a consecutive positive integer starting from `1`.

            '
          minimum: 1
          type: number
        tiers:
          description: "Container for the tiers. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/POSTPriceBookItemTier'
          type: array
        type:
          description: 'The type of the interval.

            '
          enum:
          - Infinity
          - Day
          - Month
          type: string
      required:
      - type
      - sequence
      title: intervalPrices
      type: object
    ListAllPriceBookItemsResponse:
      properties:
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        priceBookItems:
          description: 'The list of price book items that are retrieved..

            '
          items:
            $ref: '#/components/schemas/GETPriceBookItemResponse'
          type: array
        success:
          description: 'Whether the call succeeded.

            '
          type: boolean
      type: object
    GETPriceBookItemResponse:
      properties:
        currency:
          description: 'The currency for the price.

            '
          type: string
        defaultQuantity:
          description: "The default quantity. \n\nThis field is applicable only for one-time and recurring charges.\n"
          type: number
        effectiveEndDate:
          description: 'The effective end date of the price book item.

            '
          format: date
          type: string
        effectiveStartDate:
          description: 'The effective start date of the price book item.

            '
          format: date
          type: string
        id:
          description: 'The unique ID of the price book item.

            '
          type: string
        includedUnits:
          description: "The number of units included in the price book item. \n\nThis field is only applicable for charges with the Overage pricing charge model. \n"
          type: number
        intervalPrices:
          description: "Container for the interval prices of the product rate plan charge. \n\nThis field is applicable only if you want to use interval prices for different periods.\n"
          items:
            $ref: '#/components/schemas/GETPriceBookItemIntervalPrice'
          type: array
        listPriceBase:
          description: "The list price base. \n\nThis field is applicable only for recurring charges.\n\n**Note**: The `Per_Year` enum value is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        number:
          description: 'The unique number of the price book item.

            '
          type: string
        offerId:
          description: 'The ID of the offer associated with the price book item.

            '
          type: string
        offerNumber:
          description: 'The number of the offer associated with the price book item.

            '
          type: string
        overagePrice:
          description: "The overage price of the price book item. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
          type: number
        price:
          description: "The price of the price book item. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        productChargeId:
          description: 'The ID of the product rate plan charge associated with the price book item.

            '
          type: string
        success:
          description: 'Whether the call succeeded.

            '
          type: boolean
        tiers:
          description: "Container for the tiers of the price book item. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/GETPriceBookItemTier'
          type: array
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    POSTPriceBookItemRequest:
      allOf:
      - properties:
          currency:
            description: 'The currency for the price.

              '
            type: string
          defaultQuantity:
            description: "The default quantity of the price book item. \n\nThis field is only applicable for one-time and recurring charges.\n"
            type: number
          effectiveEndDate:
            description: 'The effective end date of the offer.

              '
            format: date
            type: string
          effectiveStartDate:
            description: 'The effective start date of the price book item.

              '
            format: date
            type: string
          includedUnits:
            description: "The number of units included in the price book item. \n\nThis field is only applicable for charges with the Overage pricing charge model.\n"
            type: number
          intervalPrices:
            description: "Container for the interval prices of the product rate plan charge. \n\nThis field is applicable only if you want to use interval prices for different periods.\n"
            items:
              $ref: '#/components/schemas/POSTPriceBookItemIntervalPrice'
            type: array
          listPriceBase:
            description: "The list price base of the price book item. \n\nThis field is only applicable for recurring charges.\n"
            enum:
            - Per_Billing_Period
            - Per_Month
            - Per_Week
            - Per_Year
            type: string
          offerId:
            description: 'The ID of the offer that you want to associate the price book item with.


              You can specify either `offerId` or `offerNumber`.

              '
            type: string
          offerNumber:
            description: "The number of the offer that you want to associate the price book item with. \n\nYou can specify either `offerId` or `offerNumber`.\n"
            type: string
          overagePrice:
            description: "The overage price of the price book item. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
            type: number
          price:
            description: "The price of the price book item. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
            type: number
          productChargeId:
            description: 'The ID of the product rate plan charge associated with the price book item.

              '
            type: string
          tiers:
            description: "Container for the tiers of the price book item. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
            items:
              $ref: '#/components/schemas/POSTPriceBookItemTier'
            type: array
        required:
        - productChargeId
        - currency
        type: object
      example:
        currency: USD
        defaultQuantity: 10
        intervalPrices:
        - duration: 2
          sequence: 1
          tiers:
          - endingUnit: 10
            price: 5
            priceFormat: FlatFee
            startingUnit: 0
            tier: 1
          - endingUnit: 20
            price: 4
            priceFormat: FlatFee
            startingUnit: 11
            tier: 2
          type: Month
        listPriceBase: Per_Month
        offerId: 402880e8813bff7a01813c1f71f90024
        offerNumber: OF-00000001
        productChargeId: 402880e8813bff7a01813c1f71f90024
    POSTPriceBookItemTier:
      properties:
        endingUnit:
          description: 'The ending unit of the tier.

            '
          type: number
        price:
          description: 'The price of the tier.

            '
          type: number
        priceFormat:
          description: 'The price format of the tier.

            '
          enum:
          - FlatFee
          - PerUnit
          type: string
        startingUnit:
          description: 'The starting unit of the tier.

            '
          type: number
        tier:
          description: 'The number of the tier.

            '
          type: number
      required:
      - tier
      - startingUnit
      - price
      title: tiers
      type: object
    PUTPriceBookItemRequest:
      example:
        intervalPrices:
        - duration: 2
          price: 10
          sequence: 1
          type: Month
        - price: 100
          sequence: 2
          type: Infinity
      properties:
        defaultQuantity:
          description: "The default quantity of the price book item. \n\nThis field is only applicable for one-time and recurring charges.\n"
          type: number
        includedUnits:
          description: "The number of units included in the price book item. \n\nThis field is only applicable for charges with the Overage pricing charge model.\n"
          type: number
        intervalPrices:
          description: "Container for the interval prices of the product rate plan charge. \n\nThis field is applicable only if you want to use interval prices for different periods.\n"
          items:
            $ref: '#/components/schemas/POSTPriceBookItemIntervalPrice'
          type: array
        listPriceBase:
          description: "The list price base of the price book item. \n\nThis field is only applicable for recurring charges.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        overagePrice:
          description: "The overage price of the price book item. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
          type: number
        price:
          description: "The price of the price book item. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        tiers:
          description: "Container for the tiers of the price book item. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/POSTPriceBookItemTier'
          type: array
      type: object
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
