openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Debit Memos API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Debit Memos
  description: 'Debit memos increase the amount a customer owes. It is a separate document from the invoice. Debit memos can be used to correct undercharging on an invoice or to levy ad hoc charges outside the context of a subscription. Just like an invoice, debit memo balances can be settled by applying either a payment or a credit memo.


    For more information about debit memos, see Credit and debit memos.'
paths:
  /v1/debitmemos:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates an ad-hoc debit memo from a product rate plan charge. Zuora supports the creation of debit memos from any type of product rate plan charge. The charges can also have any amount and any charge model, except for discout charge models.


        When debit memos are created from product rate plan charges, the specified amount with decimal places is now validated based on the decimal places supported by each currency.


        You can create a debit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Create a debit memo from a charge
      operationId: POST_DebitMemoFromPrpc
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoType'
              example:
                id: 4028ab1f87121698018712e8ed250a5b
                number: DM00000001
                accountId: 4028ab1f87121698018712e8e8fe0a4a
                accountNumber: AN_1679649466484
                debitMemoDate: '2023-03-24'
                currency: USD
                targetDate: null
                dueDate: '2023-04-23'
                postedOn: null
                postedById: null
                status: Draft
                amount: 100.0
                taxAmount: 0.0
                totalTaxExemptAmount: 0.0
                balance: 100.0
                beAppliedAmount: 0.0
                autoPay: true
                comment: test
                referredInvoiceId: null
                transferredToAccounting: 'No'
                reasonCode: Correcting invoice error
                createdDate: '2023-03-24 14:47:47'
                createdById: ee47f07f310c4bbeb436bb9ec0e0e627
                updatedDate: '2023-03-24 14:47:47'
                updatedById: ee47f07f310c4bbeb436bb9ec0e0e627
                cancelledOn: null
                cancelledById: null
                referredCreditMemoId: null
                latestPDFFileId: null
                taxStatus: Complete
                sourceType: Standalone
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                paymentTerm: null
                sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `charges` > `amount`\n* `charges` > `memoItemAmount`\n* `charges` > `chargeId`\n* `charges` > `productRatePlanChargeId`       \n* `charges` > `comment`\n* `charges` > `description`\n* `customRates` > `currency`\n* `customRates` > `customFxRate` \n* `customRates` > `rateDate`\n"
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebitMemoFromChargeType'
        required: true
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates the due date for multiple debit memos in one single request.


        This API operation will be deprecated. You can use the Update debit memos instead, which provides more flexible functionality.'
      summary: Update due dates for debit memos
      operationId: PUT_UpdateDebitMemosDueDates
      tags:
      - Debit Memos
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTBatchDebitMemosRequest'
        required: true
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all debit memos associated with all customer accounts.


        ### Filtering


        You can use query parameters to restrict the data returned in the response. Each query parameter corresponds to one field in the response body.


        If the value of a filterable field is string, you can set the corresponding query parameter to `null` when filtering. Then, you can get the response data with this field value being `null`.


        Examples:


        - /v1/debitmemos?status=Posted


        - /v1/debitmemos?referredInvoiceId=null&status=Draft


        - /v1/debitmemos?status=Posted&type=External&sort=+number'
      summary: List debit memos
      operationId: GET_DebitMemos
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoCollectionType'
              example:
                debitmemos:
                - id: 402890555a87d7f5015a892f2ba10057
                  number: DM00000006
                  accountId: 402890555a7e9791015a7f15fe44001c
                  accountNumber: AN_1679649466484
                  debitMemoDate: '2017-10-17'
                  targetDate: null
                  dueDate: '2017-11-16'
                  postedOn: null
                  postedById: null
                  status: Draft
                  sourceType: Standalone
                  amount: 50
                  taxAmount: 0
                  totalTaxExemptAmount: 0
                  balance: 50
                  beAppliedAmount: 0
                  autoPay: true
                  comment: the comment
                  referredInvoiceId: null
                  transferredToAccounting: 'No'
                  reasonCode: Correcting invoice error
                  createdDate: '2017-03-01 17:24:14'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 17:24:14'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: 402890555a87d7f5015a892f2c5c0060
                  taxStatus: null
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  paymentTerm: null
                  sequenceSetId: null
                - id: 402890555a87d7f5015a89251edc0045
                  number: DM00000003
                  accountId: 402890555a7d4022015a7dabf5f60088
                  accountNumber: AN_1679649466488
                  debitMemoDate: '2017-11-30'
                  targetDate: null
                  dueDate: '2017-12-30'
                  postedOn: null
                  postedById: null
                  status: Draft
                  sourceType: Standalone
                  amount: 0.01
                  taxAmount: 0.01
                  totalTaxExemptAmount: 0
                  balance: 0.01
                  beAppliedAmount: 0
                  autoPay: true
                  comment: the comment
                  referredInvoiceId: 402890555a7d4022015a7dadb3b300a4
                  transferredToAccounting: 'No'
                  reasonCode: Charge Dispute
                  createdDate: '2017-03-01 17:13:15'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 17:13:15'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: null
                  taxStatus: null
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  paymentTerm: null
                  sequenceSetId: null
                - id: 402890555a87d7f5015a8919e4fe002e
                  number: DM00000002
                  accountId: 402890555a7d4022015a7dabf5f60088
                  accountNumber: AN_1679649466488
                  debitMemoDate: '2017-03-01'
                  targetDate: null
                  dueDate: '2017-03-31'
                  postedOn: null
                  postedById: null
                  status: Draft
                  sourceType: Standalone
                  amount: 9
                  taxAmount: 8
                  totalTaxExemptAmount: 0
                  balance: 9
                  beAppliedAmount: 0
                  autoPay: true
                  comment: ''
                  referredInvoiceId: 402890555a7d4022015a7dadb3b300a4
                  referredCreditMemoId: null
                  transferredToAccounting: 'No'
                  reasonCode: Correcting invoice error
                  createdDate: '2017-03-01 17:01:00'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 17:01:00'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: 402890555a87d7f5015a8919e95d003a
                  taxStatus: null
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  paymentTerm: null
                  sequenceSetId: null
                - id: 402890555a7e9791015a87b082940067
                  number: DM00000001
                  accountId: 402890555a7e9791015a7f15fe44001c
                  accountNumber: AN_1679649466684
                  debitMemoDate: '2017-03-01'
                  targetDate: null
                  dueDate: '2017-03-31'
                  postedOn: null
                  postedById: null
                  status: Draft
                  sourceType: Standalone
                  amount: 8.02
                  taxAmount: 0.02
                  totalTaxExemptAmount: 0
                  balance: 8.02
                  beAppliedAmount: 0
                  autoPay: true
                  comment: ''
                  referredInvoiceId: 402890555a7e9791015a7f1756aa0035
                  referredCreditMemoId: null
                  transferredToAccounting: 'No'
                  reasonCode: Correcting invoice error
                  createdDate: '2017-03-01 10:26:16'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 10:45:03'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  cancelledOn: null
                  cancelledById: null
                  latestPDFFileId: 402890555a7e9791015a87b083f00072
                  taxStatus: null
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  paymentTerm: null
                  sequenceSetId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: accountId
        in: query
        required: false
        description: 'This parameter filters the response based on the `accountId` field.

          '
        schema:
          type: string
      - name: accountNumber
        in: query
        required: false
        description: 'This parameter filters the response based on the `accountNumber` field.

          '
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: 'This parameter filters the response based on the `amount` field.

          '
        schema:
          type: number
          format: double
      - name: balance
        in: query
        required: false
        description: 'This parameter filters the response based on the `balance` field.

          '
        schema:
          type: number
          format: double
      - name: beAppliedAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `beAppliedAmount` field.

          '
        schema:
          type: number
          format: double
      - name: createdById
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdById` field.

          '
        schema:
          type: string
      - name: createdDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: currency
        in: query
        required: false
        description: 'This parameter filters the response based on the `currency` field.

          '
        schema:
          type: string
      - name: debitMemoDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `debitMemoDate` field.

          '
        schema:
          type: string
          format: date
      - name: dueDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `dueDate` field.

          '
        schema:
          type: string
          format: date
      - name: number
        in: query
        required: false
        description: 'This parameter filters the response based on the `number` field.

          '
        schema:
          type: string
      - name: referredInvoiceId
        in: query
        required: false
        description: 'This parameter filters the response based on the `referredInvoiceId` field.

          '
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: 'This parameter filters the response based on the `status` field.

          '
        schema:
          type: string
          enum:
          - Draft
          - Posted
          - Canceled
          - Error
          - PendingForTax
          - Generating
          - CancelInProgress
      - name: targetDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `targetDate` field.

          '
        schema:
          type: string
          format: date
      - name: taxAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `taxAmount` field.

          '
        schema:
          type: number
          format: double
      - name: totalTaxExemptAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `totalTaxExemptAmount` field.

          '
        schema:
          type: number
          format: double
      - name: updatedById
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedById` field.

          '
        schema:
          type: string
      - name: updatedDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        required: false
        description: "This parameter restricts the order of the data returned in the response. You can use this parameter to supply a dimension you want to sort on.\n\nA sortable field uses the following form: \n\n*operator* *field_name*\n\nYou can use at most two sortable fields in one URL path. Use a comma to separate sortable fields. For example:  *operator* *field_name*, *operator* *field_name*  \n\n*operator* is used to mark the order of sequencing. The operator is optional. If you only specify the sortable field without any operator, the response data is sorted in descending order by this field.\n\n  - The `-` operator indicates an ascending order.\n  - The `+` operator indicates a descending order.\n\nBy default, the response data is displayed in descending order by debit memo number.\n\n*field_name* indicates the name of a sortable field. The supported sortable fields of this operation are as below:\n\n  - number\n  - accountId\n  - debitMemoDate\n  - targetDate\n  - dueDate\n  - amount\n  - taxAmount\n  - totalTaxExemptAmount\n  - balance\n  - beAppliedAmount\n  - referredInvoiceId\n  - createdDate\n  - createdById\n  - updatedDate\n  - updatedById\n  \nExamples:\n\n- /v1/debitmemos?sort=+number\n\n- /v1/debitmemos?status=Processed&sort=-number,+amount\n"
        schema:
          type: string
  /v1/debitmemos/bulk:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates multiple debit memos from invoices or product rate plan charges. You can create a maximum of 50 debit memos in one single request.


        - If you set the `sourceType` request field to `Invoice`, you can create multiple debit memos from invoices.

        - If you set the `sourceType` request field to `Standalone`, you can create multiple debit memos from product rate plan charges.


        The debit memos that are created are each in separate database transactions. If the creation of one debit memo fails, other debit memos can still be created successfully.


        You can create debit memos only if you have the user permission. See Billing Roles for more information.'
      summary: Create debit memos
      operationId: POST_CreateDebitMemos
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDebitMemosResponseType'
              example:
                success: true
                memos:
                - id: 4028ab1f87121698018712ff1b0633e2
                  number: DM00000001
                  accountId: 4028ab1f87121698018712fef63e33cb
                  accountNumber: AN_Test11679650911374
                  debitMemoDate: '2023-03-24'
                  currency: USD
                  targetDate: null
                  dueDate: '2023-03-24'
                  postedOn: null
                  postedById: null
                  status: Draft
                  amount: 100.0
                  taxAmount: 0.0
                  totalTaxExemptAmount: 0.0
                  balance: 100.0
                  beAppliedAmount: 0.0
                  autoPay: true
                  comment: This is a comment
                  referredInvoiceId: null
                  transferredToAccounting: 'No'
                  reasonCode: Correcting invoice error
                  createdDate: '2023-03-24 15:12:01'
                  createdById: 3e2bcd869cea43eeb00d7a20cc1cb72b
                  updatedDate: '2023-03-24 15:12:01'
                  updatedById: 3e2bcd869cea43eeb00d7a20cc1cb72b
                  cancelledOn: null
                  cancelledById: null
                  referredCreditMemoId: null
                  latestPDFFileId: null
                  taxStatus: Complete
                  sourceType: Standalone
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  paymentTerm: null
                  sequenceSetId: null
                  organizationLabel: MS US
                  success: true
                - success: false
                  processId: 0356073CB721291A
                  reasons:
                  - code: 50000040
                    message: Cannot find a Invoice instance with id test.
                  objectIndex: 1
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: '

          The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTBulkDebitMemosRequestType'
        required: true
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates the basic and finance information about multiple debit memos. You can update a maximum of 50 credit memos in one single request.


        The credit memos that are updated are each in separate database transactions. If the update of one debit memo fails, other debit memos can still be updated successfully.


        Currently, Zuora supports updating tax-exclusive memo items, but does not support updating tax-inclusive memo items.


        If the amount of a memo item is updated, the tax will be recalculated in the following conditions:

        - The memo is created from a product rate plan charge and you use Avalara to calculate the tax.

        - The memo is created from an invoice and you use Avalara or Zuora Tax to calculate the tax.


        You can update debit memos only if you have the user permission. See Billing Roles for more information.'
      summary: Update debit memos
      operationId: PUT_UpdateDebitMemos
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDebitMemosResponseType'
              example:
                success: true
                memos:
                - id: 4028ab1f8712169801872685a5f46605
                  number: DM00000001
                  accountId: 4028ab1f87121698018726851cc765ee
                  accountNumber: AN_Test11679978470016
                  debitMemoDate: '2023-03-27'
                  currency: USD
                  targetDate: null
                  dueDate: '2023-03-27'
                  postedOn: null
                  postedById: null
                  status: Draft
                  amount: 100.0
                  taxAmount: 0.0
                  totalTaxExemptAmount: 0.0
                  balance: 100.0
                  beAppliedAmount: 0.0
                  autoPay: true
                  comment: new comment123
                  referredInvoiceId: null
                  transferredToAccounting: 'No'
                  reasonCode: Correcting invoice error
                  createdDate: '2023-03-28 10:11:45'
                  createdById: aff81dbb5dd846868685592640363b5b
                  updatedDate: '2023-03-28 10:12:37'
                  updatedById: aff81dbb5dd846868685592640363b5b
                  cancelledOn: null
                  cancelledById: null
                  referredCreditMemoId: null
                  latestPDFFileId: null
                  taxStatus: Complete
                  sourceType: Standalone
                  taxMessage: null
                  einvoiceStatus: null
                  einvoiceFileId: null
                  einvoiceErrorCode: null
                  einvoiceErrorMessage: null
                  billToContactId: null
                  billToContactSnapshotId: null
                  paymentTerm: null
                  sequenceSetId: null
                  organizationLabel: MS US
                  success: true
                - id: 2c98907562482a8301624b9c0a1a0056
                  processId: string
                  reasons:
                  - code: string
                    message: string
                  objectIndex: 1
                  success: false
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: '

          The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTBulkDebitMemosRequestType'
        required: true
  /v1/invoices/{invoiceKey}/debitmemos:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates an ad-hoc debit memo from an invoice.


        You can create a debit memo from an invoice only if you have the user permission. See Billing Roles for more information.'
      summary: Create a debit memo from an invoice
      operationId: POST_DebitMemoFromInvoice
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoType'
              example:
                id: 4028ab1f87121698018712fc005a2ba7
                number: DM00000001
                accountId: 4028ab1f87121698018712fb22312b70
                accountNumber: AN_Test11679650660490
                debitMemoDate: '2023-04-29'
                currency: USD
                targetDate: null
                dueDate: '2023-04-29'
                postedOn: null
                postedById: null
                status: Draft
                amount: 1.0
                taxAmount: 0.0
                totalTaxExemptAmount: 0.0
                balance: 1.0
                beAppliedAmount: 0.0
                autoPay: true
                comment: the comment
                referredInvoiceId: 4028ab1f87121698018712fb2a3b2b91
                transferredToAccounting: 'No'
                reasonCode: Correcting invoice error
                createdDate: '2023-03-24 15:08:37'
                createdById: bd19d326bce5465c81df19d3262954c3
                updatedDate: '2023-03-24 15:08:37'
                updatedById: bd19d326bce5465c81df19d3262954c3
                cancelledOn: null
                cancelledById: null
                referredCreditMemoId: null
                latestPDFFileId: null
                taxStatus: null
                sourceType: Invoice
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                paymentTerm: null
                sequenceSetId: null
                organizationLabel: MS US
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The ID or number of an invoice that you want to create a debit memo from. For example, 2c93808457d787030157e030d10f3f64 or INV00000001.

          '
        name: invoiceKey
        required: true
        schema:
          type: string
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `items` > `comment`\n* `items` > `description`\n"
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebitMemoFromInvoiceType'
        required: true
  /v1/debitmemos/{debitMemoKey}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific debit memo.'
      summary: Retrieve a debit memo
      operationId: GET_DebitMemo
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoType'
              example:
                id: 4028ab1f87121698018722ff2bff58b8
                number: DM00000001
                accountId: 4028ab1f87121698018722ff25be58a1
                accountNumber: AN_Test11679919358984
                debitMemoDate: '2023-03-27'
                currency: USD
                targetDate: null
                dueDate: '2023-03-27'
                postedOn: null
                postedById: null
                status: Draft
                amount: 100.0
                taxAmount: 0.0
                totalTaxExemptAmount: 0.0
                balance: 100.0
                beAppliedAmount: 0.0
                autoPay: true
                comment: This is a comment
                referredInvoiceId: null
                transferredToAccounting: 'No'
                reasonCode: Correcting invoice error
                createdDate: '2023-03-27 17:46:01'
                createdById: 0124a1a5d0f84d4288d875fc3b34b1e1
                updatedDate: '2023-03-27 17:46:01'
                updatedById: 0124a1a5d0f84d4288d875fc3b34b1e1
                cancelledOn: null
                cancelledById: null
                referredCreditMemoId: null
                latestPDFFileId: null
                taxStatus: Complete
                sourceType: Standalone
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                paymentTerm: null
                sequenceSetId: null
                organizationLabel: MS US
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The unique ID or number of a debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e or DM00000001.

          '
        name: debitMemoKey
        required: true
        schema:
          type: string
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates the basic and finance information about a debit memo. Currently, Zuora supports updating tax-exclusive memo items, but does not support updating tax-inclusive memo items.


        If the amount of a memo item is updated, the tax will be recalculated in the following conditions:

        - The memo is created from a product rate plan charge and you use Avalara to calculate the tax.

        - The memo is created from an invoice and you use Avalara or Zuora Tax to calculate the tax.


        You can update a debit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Update a debit memo
      operationId: PUT_DebitMemo
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoType'
              example:
                id: 4028ab1f87121698018722f8335b3ffb
                number: DM00000001
                accountId: 4028ab1f87121698018722f82d133fe4
                accountNumber: AN_Test11679918902100
                debitMemoDate: '2023-03-27'
                currency: USD
                targetDate: null
                dueDate: '2023-03-27'
                postedOn: null
                postedById: null
                status: Draft
                amount: 100.0
                taxAmount: 0.0
                totalTaxExemptAmount: 0.0
                balance: 100.0
                beAppliedAmount: 0.0
                autoPay: true
                comment: new comment123
                referredInvoiceId: null
                transferredToAccounting: 'No'
                reasonCode: Correcting invoice error
                createdDate: '2023-03-27 17:38:24'
                createdById: 97e12d40f0ab4418a95a93118b272fb6
                updatedDate: '2023-03-27 17:38:27'
                updatedById: 97e12d40f0ab4418a95a93118b272fb6
                cancelledOn: null
                cancelledById: null
                referredCreditMemoId: null
                latestPDFFileId: null
                taxStatus: Complete
                sourceType: Standalone
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                paymentTerm: null
                sequenceSetId: null
                organizationLabel: MS US
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: debitMemoKey
        description: 'The unique ID or number of a debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e or DM00000001.

          '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTDebitMemoType'
        required: true
    delete:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Deletes a debit memo. Only debit memos with the Cancelled status can be deleted.


        You can delete a debit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Delete a debit memo
      operationId: DELETE_DebitMemo
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The unique ID or number of a debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e or DM00000003.

          '
        name: debitMemoKey
        required: true
        schema:
          type: string
  /v1/debitmemos/{debitMemoId}/application-parts:
    get:
      summary: List all application parts of a debit memo
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves information about the payments or credit memos that are applied to a specified debit memo.'
      operationId: GET_DebitMemoApplicationParts
      tags:
      - Debit Memos
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: debitMemoId
        in: path
        required: true
        description: 'The unique ID of a debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDebitMemoApplicationPartCollectionType'
              example:
                applicationParts:
                - paymentId: null
                  creditMemoId: 4028905f60a165a50160b4f632ff023d
                  appliedAmount: 22
                  createdDate: '2018-01-02 11:42:16'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2018-01-02 11:42:16'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                - paymentId: 4028905f60a165a50160b4f5d5cb0229
                  creditMemoId: null
                  appliedAmount: 11
                  createdDate: '2018-01-02 11:41:38'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2018-01-02 11:41:38'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
  /v1/debitmemos/{debitMemoKey}/cancel:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Cancels a debit memo. Only debit memos with the Draft status can be cancelled.


        You can cancel a debit memo only if you have the user permission. See Billing Roles for more information.'
      summary: Cancel a debit memo
      operationId: PUT_CancelDebitMemo
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoType'
              example:
                id: 4028ab1f87121698018722fd34c6507d
                number: DM00000001
                accountId: 4028ab1f87121698018722fd2e705066
                accountNumber: AN_Test11679919230033
                debitMemoDate: '2023-03-27'
                currency: USD
                targetDate: null
                dueDate: '2023-03-27'
                postedOn: null
                postedById: null
                status: Canceled
                amount: 100.0
                taxAmount: 0.0
                totalTaxExemptAmount: 0.0
                balance: 100.0
                beAppliedAmount: 0.0
                autoPay: true
                comment: This is a comment
                referredInvoiceId: null
                transferredToAccounting: 'No'
                reasonCode: Correcting invoice error
                createdDate: '2023-03-27 17:43:52'
                createdById: bc0211e8ca1440eb97a0aff808f87293
                updatedDate: '2023-03-27 17:43:59'
                updatedById: bc0211e8ca1440eb97a0aff808f87293
                cancelledOn: '2023-03-27 17:43:59'
                cancelledById: bc0211e8ca1440eb97a0aff808f87293
                referredCreditMemoId: null
                latestPDFFileId: 4028ab1f87121698018722fd39fe5087
                taxStatus: Complete
                sourceType: Standalone
                taxMessage: null
                einvoiceStatus: null
                einvoiceFileId: null
                einvoiceErrorCode: null
                einvoiceErrorMessage: null
                billToContactId: null
                billToContactSnapshotId: null
                paymentTerm: null
                sequenceSetId: null
                organizationLabel: MS US
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The unique ID or number of a debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e or DM00000003.

          '
        name: debitMemoKey
        required: true
        schema:
          type: string
  /v1/debitmemos/{debitMemoKey}/collect:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        This API operation provides an easy way to let the client-side to collect an existing posted debit memo.

        It supports the following steps:

        1. Apply unapplied credit memos to the posted debit memo by Oldest-First-Largest-First rule if there are more than one unapplied credit memos.

        2. Apply unapplied payments to the posted debit memo by Oldest-First-Largest-First rule if there are more than one unapplied payments.

        3. Process payment to the posted debit memo if there is an open-balance on it.


        **Restrictions**


        Since this API will do lots of works, and some of them are resource consuming, we need to restrict the usage of this API by the following conditions:

        1. If the target debit memo gets more than 10 debit memo items, the request will be rejected.

        2. If `CreditMemo` is specified in `applicationOrder`, when there are more than 25 credit memos will be used to apply to the debit memo, the request will be rejected.

        3. If `CreditMemo` is specified in `applicationOrder`, when there are more than 100 credit memo items will be used to apply to the debit memo, the request will be rejected.

        4. If `UnappliedPayment` is specified in `applicationOrder`, when there are more than 25 payments will be used to apply to the debit memo, the request will be rejected.'
      summary: Collect a posted debit memo
      operationId: POST_DebitMemoCollect
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebitMemoCollectResponse'
              example:
                debitMemo:
                  id: 2c98902f6f1de6d1016f1dfc86aa3c34
                  number: DM00003326
                appliedCreditMemos:
                - id: 2c98902f6f1de6d1016f1def4c003bd8
                  number: CM00000452
                  appliedAmount: 12.8
                  unappliedAmount: 0E-9
                - id: 2c98902f6f1de6d1016f1deef1b93bbe
                  number: CM00009201
                  appliedAmount: 9.99
                  unappliedAmount: 0E-9
                appliedPayments:
                - id: 2c98902f6f1de6d1016f1defbf3e3bf5
                  number: P-00001602
                  appliedAmount: 3.33
                  unappliedAmount: 0E-9
                - id: 2c98902f6f1de6d1016f1def887f3bec
                  number: P-00001761
                  appliedAmount: 1.2
                  unappliedAmount: 0E-9
                processedPayment:
                  id: 2c98902f6f1de6d1016f1dfc8ad23c68
                  number: P-00001803
                  status: Processed
                  amount: 12.68
                  paymentMethodId: 2c98902f6f1de6d1016f1dedba313ba2
                  gatewayId: 2c98902f6f1de6d1016f1ded559f3b9d
                  gatewayResponse: This transaction has been approved by Test gateway.
                  gatewayResponseCode: approve
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: debitMemoKey
        in: path
        required: true
        description: 'The ID or number of a posted debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebitMemoCollectRequest'
        required: true
  /v1/debitmemos/{debitMemoKey}/emails:
    post:
      summary: Email a debit memo
      operationId: POST_EmailDebitMemo
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Sends a posted debit memo to the specified email addresses manually.


        ### Notes

        - You must activate the **Email Debit Memo | Manually email Debit Memo** notification before emailing debit memos. To include the debit memo PDF in the email, select the **Include Debit Memo PDF** check box in the **Edit notification** dialog from the Zuora UI. See Create and Edit Notifications for more information.


        - Zuora sends the email messages based on the email template you set. You can set the email template to use in the **Delivery Options** panel of the **Edit notification** dialog from the Zuora UI. By default, the **Manual Email for Debit Memo Default Template** template is used. See Create and Edit Email Templates for more information.


        - The debit memos are sent only to the work email addresses or personal email addresses of the Bill To contact if the following conditions are all met:


        * The `useEmailTemplateSetting` field is set to `false`.

        * The email addresses are not specified in the `emailAddresses` field.'
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: debitMemoKey
        in: path
        required: true
        description: 'The ID or number of a posted debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e or DM00000001.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebitMemoEmailType'
        required: true
  /v1/debitmemos/{debitMemoKey}/files:
    post:
      summary: Upload a file for a debit memo
      operationId: POST_UploadFileForDebitMemo
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Uploads an externally generated PDF file for a debit memo that is in Draft or Posted status.


        To use this operation, you must enable the Modify Debit Memo permission. See Billing Permissions for more information.


        This operation has the following restrictions:

        - Only the PDF file format is supported.

        - The maximum size of the PDF file to upload is 4 MB.

        - A maximum of 50 PDF files can be uploaded for one debit memo.'
      tags:
      - Debit Memos
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: debitMemoKey
        in: path
        description: 'The ID or number of the debit memo that you want to upload a PDF file for. For example, 402890555a87d7f5015a8919e4fe002e or DM00000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTUploadFileResponse'
              example:
                success: true
                fileId: 40289f466463d683016463ef8b7301a3
      x-code-samples:
      - lang: curl
        label: Curl
        source: 'curl -X POST -H "Authorization: Bearer f21f017e4724445d8647b1f0de7ed6f1" -F "file=@DebitMemoFile.pdf" "https://rest.zuora.com/v1/debitmemos/402890555a87d7f5015a8919e4fe002e/files"

          '
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: 'The PDF file to upload for the debit memo.

                    '
                  format: binary
  /v1/debitmemos/{debitMemoKey}/items:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all items of a debit memo. A debit memo item is a single line item in a debit memo.


        ### Filtering


        You can use query parameters to restrict the data returned in the response. Each query parameter corresponds to one field in the response body.


        If the value of a filterable field is string, you can set the corresponding query parameter to `null` when filtering. Then, you can get the response data with this field value being `null`.


        Examples:


        - /v1/debitmemos/402890245c7ca371015c7cb40b28001f/items?amount=100


        - /v1/debitmemos/402890245c7ca371015c7cb40b28001f/items?amount=100&sort=createdDate'
      summary: List debit memo items
      operationId: GET_DebitMemoItems
      tags:
      - Debit Memos
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETDebitMemoItemCollectionType'
              example:
                items:
                - id: 402890555a87d7f5015a89251ede0046
                  amount: 1
                  amountWithoutTax: 1
                  beAppliedAmount: 0
                  balance: 1
                  taxMode: TaxExclusive
                  sku: SKU-00000002
                  skuName: SKU-30
                  serviceStartDate: '2017-11-01'
                  serviceEndDate: '2017-11-30'
                  sourceItemType: InvoiceDetail
                  sourceItemId: 402890555a7d4022015a7dadb3b700a6
                  appliedToItemId: 402890555a7d4022015a2dadb3b700a6
                  excludeItemBillingFromRevenueAccounting: true
                  processingType: Charge
                  createdDate: '2017-03-01 17:13:15'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 17:13:15'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  comment: This is comment!
                  subscriptionId: null
                  unitOfMeasure: Each
                  unitPrice: 1
                  quantity: 1
                  soldToContactId: 402881e522cf4f9b0122cf5d82860003
                  soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860004
                  financeInformation:
                    deferredRevenueAccountingCode: Subscription Revenue
                    deferredRevenueAccountingCodeType: SalesRevenue
                    recognizedRevenueAccountingCode: Subscription Revenue
                    recognizedRevenueAccountingCodeType: SalesRevenue
                  taxationItems:
                    data:
                    - id: 402890555a87d7f5015a89251ef10047
                      sourceTaxItemId: 402890555a7d4022015a7dadb39b00a1
                      taxAmount: 0.01
                      balance: 0.01
                      paymentAmount: 0
                      creditAmount: 0
                      name: STATE TAX
                      exemptAmount: 0
                      jurisdiction: CALIFORNIA
                      locationCode: '06'
                      taxCode: ZtaxCode
                      taxCodeDescription: ''
                      taxDate: '2017-11-30'
                      taxRate: 0.0625
                      taxRateDescription: This is tax rate description!
                      taxRateType: Percentage
                      financeInformation:
                        salesTaxPayableAccountingCode: null
                        salesTaxPayableAccountingCodeType: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - in: path
        description: 'The unique ID or number of a debit memo. For example, 8a8082e65b27f6c3015ba419f3c2644e or DM00000001.

          '
        name: debitMemoKey
        required: true
        schema:
          type: string
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following response fields:\n* `items` > `taxItems`\n* `items` > `taxationItems`\n* `items` > `comment`\n* `items` > `description`\n"
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: 'This parameter filters the response based on the `amount` field.

          '
        schema:
          type: number
          format: double
      - name: beAppliedAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `beAppliedAmount` field.

          '
        schema:
          type: number
          format: double
      - name: createdById
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdById` field.

          '
        schema:
          type: string
      - name: createdDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: id
        in: query
        required: false
        description: 'This parameter filters the response based on the `id` field.

          '
        schema:
          type: string
      - name: serviceEndDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `serviceEndDate` field.

          '
        schema:
          type: string
          format: date
      - name: serviceStartDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `serviceStartDate` field.

          '
        schema:
          type: string
          format: date
      - name: sku
        in: query
        required: false
        description: 'This parameter filters the response based on the `sku` field.

          '
        schema:
          type: string
      - name: skuName
        in: query
        required: false
        description: 'This parameter filters the response based on the `skuName` field.

          '
        schema:
          type: string
      - name: sourceItemId
        in: query
        required: false
        description: 'This parameter filters the response based on the `sourceItemId` field.

          '
        schema:
          type: string
      - name: subscriptionId
        in: query
        required: false
        description: 'This parameter filters the response based on the `subscriptionId` field.

          '
        schema:
          type: string
      - name: updatedById
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedById` field.

          '
        schema:
          type: string
      - name: updatedDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        required: false
[...]
