openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Fulfillments API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Fulfillments
  description: 'Fulfillments are subordinate objects attached to their related order line item. Fulfillment items are subordinate objects attached to their related fulfillment.


    For more information, see Overview of Order Line Items.'
paths:
  /v1/fulfillments:
    post:
      summary: Create fulfillments
      operationId: Create_Fulfillment
      description: 'Creates one or multiple Fulfillment objects. You can also generate invoices or memos for these Fulfillment objects in this API call. The following tutorials demonstrate how to use this operation:

        * Create a sales order line item with fulfillments

        * Create a return order line item with fulfillments'
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostFulfillmentsResponseType'
              example:
                fulfillments:
                - id: 4028828c82819b740182821bb3b415c6
                  fulfillmentNumber: F-00000001
                - id: 4028828c82819b740182821bb3bc15c7
                  fulfillmentNumber: F-00000002
                invoiceNumbers:
                - INV00000001
                creditMemoNumbers: null
                paymentNumber: P-00000001
                paidAmount: 100.0
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFulfillmentsRequestType'
        required: true
  /v1/fulfillments/{key}:
    get:
      summary: Retrieve a fulfillment
      operationId: GET_Fulfillment
      description: 'Retrieves the detailed information about a specified fulfillment. The following tutorial demonstrates how to use this operation:

        * View details of a fulfillment'
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: The id or fulfillment number of the Fulfillment to retrieve.
        required: true
        schema:
          type: string
          format: UUID
      - name: fulfillment-items
        in: query
        description: Return the related fulfillment items or not.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFulfillmentResponseType'
              example:
                success: true
                fulfillment:
                  id: 4028828c82819b74018281a69d3f0d93
                  fulfillmentNumber: F-00000001
                  orderLineItemId: 4028828c82819b74018281a69adf0d4e
                  fulfillmentDate: '2022-01-01'
                  fulfillmentType: Delivery
                  quantity: 1.0
                  state: SentToBilling
                  billTargetDate: '2022-01-01'
                  description: description
                  trackingNumber: T-00091912
                  carrier: carrier
                  fulfillmentSystem: fulfillment system
                  fulfillmentLocation: location
                  externalId: 9dc1a064-b5d1-4d7b-bd0b-ca26a1be8e01
                  customFields:
                    priority__c: Hight
                  fulfillmentItems:
                  - id: 4028828c82819b74018281a69d680d98
                    fulfillmentId: 4028828c82819b74018281a69d3f0d93
                    description: description
                    itemIdentifier: 87309cf0-10c7-4130-8da2-439c96daa1ff
                    customFields:
                      category__c: Old
    put:
      summary: Update a fulfillment
      operationId: PUT_Fulfillment
      description: 'Updates a specified fulfillment. The `state` field of a fulfillment can only be updated when it is in a different state, to trigger the state transition. The other fields of a fulfillment can only be updated when the fulfillment is in the `Executing` state, or when the fulfillment is in the `Booked` state and the user has the "Allow Edit Of Booked Order Line Items" permission.

        The following tutorial demonstrates how to use this operation:

        * Update or cancel a fulfillment'
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: The id or fulfillment number of the Fulfillment to update.
        required: true
        schema:
          type: string
          format: UUID
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutFulfillmentRequestType'
        required: true
    delete:
      summary: Delete a fulfillment
      operationId: Delete_Fulfillment
      description: Deletes a specified fulfillment. A fulfillment can only be deleted when it is in the `Executing` state.
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: The id or fulfillment number of the Fulfillment to delete.
        required: true
        schema:
          type: string
          format: UUID
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/fulfillment-items:
    post:
      summary: Create fulfillment items
      operationId: Create_FulfillmentItem
      description: Creates one or multiple fulfillment items.
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostFulfillmentItemsResponseType'
              example:
                fulfillmentItems:
                - id: 4028828c82819b74018282544fea17c6
                - id: 4028828c82819b7401828254507a17c7
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFulfillmentItemsRequestType'
        required: true
  /v1/fulfillment-items/{id}:
    get:
      summary: Retrieve a fulfillment item
      operationId: GET_FulfillmentItem
      description: Retrieves the detailed information about a specified fulfillment item.
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: id
        in: path
        description: The id of the Fulfillment Item to retrieve.
        required: true
        schema:
          type: string
          format: UUID
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFulfillmentItemResponseType'
              example:
                success: true
                fulfillmentItem:
                  id: 4028828c82819b7401828257303a19b6
                  fulfillmentId: 4028828c82819b74018282572f6719b4
                  description: item description
                  itemIdentifier: 5da7a054-24c6-4f29-866b-2c570d844fd0
                  customFields:
                    PICKLIST_CF__c: option_2
    put:
      summary: Update a fulfillment item
      operationId: PUT_FulfillmentItem
      description: Updates a specified fulfillment item.
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: id
        in: path
        description: The id of the Fulfillment Item to update.
        required: true
        schema:
          type: string
          format: UUID
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutFulfillmentItemRequestType'
        required: true
    delete:
      summary: Delete a fulfillment item
      operationId: Delete_FulfillmentItem
      description: Deletes a specified fulfillment item.
      tags:
      - Fulfillments
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: id
        in: path
        description: The id of the Fulfillment Item to delete.
        required: true
        schema:
          type: string
          format: UUID
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    FulfillmentCommon:
      properties:
        billTargetDate:
          description: 'The target date for the Fulfillment to be picked up by bill run for billing.

            '
          format: date
          type: string
        carrier:
          description: 'The carrier of the Fulfillment. The available values can be configured in **Billing Settings** > **Fulfillment Settings** through Zuora UI.

            '
          type: string
        customFields:
          $ref: '#/components/schemas/FulfillmentCustomFields'
        description:
          description: 'The description of the Fulfillment.

            '
          type: string
        excludeItemBillingFromRevenueAccounting:
          description: "The flag to exclude Fulfillment related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration) feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: "The flag to exclude Fulfillment from revenue accounting.\n\n**Note**: This field is only available if you have the [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration) feature enabled. \n"
          type: boolean
        externalId:
          description: 'The external id of the Fulfillment.

            '
          type: string
        fulfillmentDate:
          description: 'The date of the Fulfillment.

            '
          format: date
          type: string
        fulfillmentLocation:
          description: 'The fulfillment location of the Fulfillment. The available values can be configured in **Billing Settings** > **Fulfillment Settings** through Zuora UI.

            '
          type: string
        fulfillmentSystem:
          description: 'The fulfillment system of the Fulfillment. The available values can be configured in **Billing Settings** > **Fulfillment Settings** through Zuora UI.

            '
          type: string
        fulfillmentType:
          description: "The type of the Fulfillment. \n"
          enum:
          - Delivery
          - Return
          type: string
        orderLineItemId:
          description: 'The reference id of the related Order Line Item.

            '
          format: UUID
          type: string
        quantity:
          description: 'The quantity of the Fulfillment.

            '
          type: number
        state:
          description: 'The state of the Fulfillment. See [State transitions for an order, order line item, and fulfillment](https://knowledgecenter.zuora.com/Billing/Subscriptions/Orders/Order_Line_Items/AB_Order_Line_Item_States_and_Order_States) for more information.

            '
          enum:
          - Executing
          - Booked
          - SentToBilling
          - Complete
          - Cancelled
          type: string
        trackingNumber:
          description: 'The tracking number of the Fulfillment.

            '
          type: string
      title: Fulfillment
      type: object
    PutFulfillmentRequestType:
      example:
        billTargetDate: '2022-01-01'
        fulfillmentDate: '2022-01-01'
        fulfillmentType: Delivery
        quantity: 5
        state: SentToBilling
      properties:
        billTargetDate:
          description: 'The target date for the Fulfillment to be picked up by bill run for billing.

            '
          format: date
          type: string
        carrier:
          description: 'The carrier of the Fulfillment. The available values can be managed in the Fulfillment Settings page under Billing Settings.

            '
          type: string
        customFields:
          $ref: '#/components/schemas/FulfillmentCustomFields'
        description:
          description: 'The description of the Fulfillment.

            '
          type: string
        excludeItemBillingFromRevenueAccounting:
          description: "The flag to exclude Fulfillment related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the Billing - Revenue Integration feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: "The flag to exclude Fulfillment from revenue accounting.\n\n**Note**: This field is only available if you have the Billing - Revenue Integration feature enabled. \n"
          type: boolean
        externalId:
          description: 'The external id of the Fulfillment.

            '
          type: string
        fulfillmentDate:
          description: 'The date of the Fulfillment.

            '
          format: date
          type: string
        fulfillmentLocation:
          description: 'The fulfillment location of the Fulfillment. The available values can be managed in the Fulfillment Settings page under Billing Settings.

            '
          type: string
        fulfillmentSystem:
          description: 'The fulfillment system of the Fulfillment. The available values can be managed in the Fulfillment Settings page under Billing Settings.

            '
          type: string
        fulfillmentType:
          description: "The type of the Fulfillment. \n"
          enum:
          - Delivery
          - Return
          type: string
        orderLineItemId:
          description: 'The reference id of the related Order Line Ite

            '
          format: UUID
          type: string
        quantity:
          description: 'The quantity of the Fulfillment.

            '
          type: number
        state:
          description: 'The state of the Fulfillment. See [Order Line Item states, Order states, and state transitions](https://knowledgecenter.zuora.com/Billing/Subscriptions/Orders/Order_Line_Items/AB_Order_Line_Item_States_and_Order_States) for more information.

            '
          enum:
          - Executing
          - Booked
          - SentToBilling
          - Complete
          - Cancelled
          type: string
        trackingNumber:
          description: 'The tracking number of the Fulfillment.

            '
          type: string
      type: object
    FulfillmentGet:
      allOf:
      - properties:
          fulfillmentNumber:
            description: 'The sytem generated number for the Fulfillment.

              '
            type: string
          id:
            description: 'The sytem generated Id.

              '
            format: UUID
            type: string
        type: object
      - $ref: '#/components/schemas/FulfillmentCommon'
    ProcessingOptions:
      description: Processing options for generating billing documents.
      properties:
        billingOptions:
          $ref: '#/components/schemas/BillingOptions'
        runBilling:
          description: Indicates if the current request needs to generate a billing document. The billing document will be generated against all Order Line Items included in this order.
          type: boolean
      type: object
    FulfillmentPost:
      allOf:
      - properties:
          orderLineItemId:
            description: 'The reference id of the related Order Line Item.

              '
            format: UUID
            type: string
        type: object
      - $ref: '#/components/schemas/FulfillmentCommon'
      - properties:
          fulfillmentItems:
            items:
              $ref: '#/components/schemas/FulfillmentItemPostFromFulfillmentPost'
            type: array
        type: object
    PostFulfillmentItemsResponseType:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          fulfillmentItems:
            items:
              properties:
                id:
                  description: 'The sytem generated Id.

                    '
                  format: UUID
                  type: string
              type: object
            type: array
        type: object
    PostFulfillmentItemsRequestType:
      example:
        fulfillmentItems:
        - customFields:
            PICKLIST_CF__c: option_1
          description: description1
          fulfillmentNumber: F-00000001
          itemIdentifier: 0c27b769-5bba-46a5-80aa-cdd95f931216
        - customFields:
            PICKLIST_CF__c: option_2
          description: description2
          fulfillmentNumber: F-00000001
          itemIdentifier: 456d3812-33d2-454c-b272-4c5a9a3e2742
      properties:
        fulfillmentItems:
          items:
            $ref: '#/components/schemas/FulfillmentItemPost'
          type: array
      type: object
    FulfillmentItemPostFromFulfillmentPost:
      allOf:
      - $ref: '#/components/schemas/FulfillmentItemCommon'
    BillingOptions:
      properties:
        documentDate:
          description: The invoice date displayed on the billing document.
          format: date
          type: string
        targetDate:
          description: Date through which to calculate charges for order line items if a billing document is generated. See [What is a Target Date?](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/G_Bill_Runs/Creating_Bill_Runs#What_is_a_Target_Date.3F).
          format: date
          type: string
      type: object
    FulfillmentItemGet:
      allOf:
      - properties:
          fulfillmentId:
            description: 'The reference id of the related Fulfillment.

              '
            format: UUID
            type: string
          id:
            description: 'The sytem generated Id.

              '
            format: UUID
            type: string
        type: object
      - $ref: '#/components/schemas/FulfillmentItemCommon'
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    PostFulfillmentsRequestType:
      example:
        fulfillments:
        - billTargetDate: '2022-01-01'
          fulfillmentDate: '2022-01-01'
          fulfillmentType: Delivery
          orderLineItemId: 4028828c82819b740182821bb23e15c4
          quantity: 5
          state: SentToBilling
        - billTargetDate: '2022-01-01'
          fulfillmentDate: '2022-01-01'
          fulfillmentType: Delivery
          orderLineItemId: 4028828c82819b740182821bb23e15c4
          quantity: 5
          state: SentToBilling
        processingOptions:
          billingOptions:
            documentDate: '2022-01-01'
            targetDate: '2022-01-01'
          collectPayment: true
          runBilling: true
      properties:
        fulfillments:
          items:
            $ref: '#/components/schemas/FulfillmentPost'
          type: array
        processingOptions:
          $ref: '#/components/schemas/ProcessingOptions'
      type: object
    GetFulfillmentItemResponseType:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          fulfillmentItem:
            $ref: '#/components/schemas/FulfillmentItemGet'
        type: object
    GetFulfillmentResponseType:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          fulfillment:
            $ref: '#/components/schemas/FulfillmentGet'
        type: object
    FulfillmentItemCustomFields:
      additionalProperties:
        description: 'Custom fields of the Fulfillment Item object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Fulfillment Item object.

        '
      title: FulfillmentItemCustomFields
      type: object
    PutFulfillmentItemRequestType:
      example:
        customFields:
          PICKLIST_CF__c: option_1
        description: description1
        itemIdentifier: 0c27b769-5bba-46a5-80aa-cdd95f931216
      properties:
        customFields:
          $ref: '#/components/schemas/FulfillmentItemCustomFields'
        description:
          description: 'The description of the Fulfillment Item.

            '
          type: string
        itemIdentifier:
          description: 'The external identifier of the Fulfillment Item.

            '
          type: string
      type: object
    FulfillmentCustomFields:
      additionalProperties:
        description: 'Custom fields of the Fulfillment object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Fulfillment object.

        '
      title: FulfillmentCustomFields
      type: object
    FulfillmentItemCommon:
      properties:
        customFields:
          $ref: '#/components/schemas/FulfillmentItemCustomFields'
        description:
          description: 'The description of the Fulfillment Item.

            '
          type: string
        itemIdentifier:
          description: 'The external identifier of the Fulfillment Item.

            '
          type: string
      title: FulfillmentItem
      type: object
    FulfillmentItemPost:
      allOf:
      - properties:
          fulfillmentNumber:
            description: 'The reference of the related Fulfillment.

              '
            type: string
        type: object
      - $ref: '#/components/schemas/FulfillmentItemCommon'
    PostFulfillmentsResponseType:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          creditMemoNumbers:
            description: 'An array of the credit memo numbers generated in this request. The credit memo is only available if you have the Invoice Settlement feature enabled.

              '
            items:
              type: string
            type: array
          fulfillments:
            items:
              properties:
                fulfillmentItems:
                  items:
                    properties:
                      id:
                        description: 'The sytem generated Id.

                          '
                        format: UUID
                        type: string
                    type: object
                  type: array
                fulfillmentNumber:
                  description: 'The sytem generated number for the Fulfillment.

                    '
                  type: string
                id:
                  description: 'The sytem generated Id.

                    '
                  format: UUID
                  type: string
              type: object
            type: array
          invoiceNumbers:
            description: 'An array of the invoice numbers generated in this request. Normally it includes one invoice number only.

              '
            items:
              type: string
            type: array
          paidAmount:
            description: 'The total amount collected in this request.

              '
            type: number
          paymentNumber:
            description: 'The payment number collected in this request.

              '
            type: string
        type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
