openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Invoices API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Invoices
  description: 'Invoices provides information about customers'' accounts for invoices, for examples, dates, status, and amounts.


    For more information about invoices, see Invoice.'
paths:
  /v1/invoices/batch:
    post:
      description: 'Creates multiple standalone invoices for selling physical goods, services or other items on a non-recurring basis to your subscription customers.


        To use this operation, you must have the "Create Standalone Invoice" and "Modify Invoice" user permissions. See Billing Roles for more information. As of Zuora Release 2022.03.R5, newly created standard Billing users have the “Create Standalone Invoice” permission enabled by default.


        ### Limitations


        This operation has the following limitations:

        * You can create a maximum of 50 invoices in one request.

        * You can create a maximum of 1,000 invoice items in one request.'
      summary: Create standalone invoices
      operationId: POST_StandaloneInvoices
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBatchInvoiceResponse'
              example:
                invoices:
                - id: 4028818484f483d20184f5006b97003f
                  invoiceNumber: INV00000001
                  accountId: 4028818484f483d20184f4f7efc40001
                  amount: 700.0
                  amountWithoutTax: 700.0
                  discount: 0.0
                  invoiceDate: '2022-10-31'
                  dueDate: '2022-11-30'
                  autoPay: true
                  comments: ''
                  status: Posted
                  transferredToAccounting: string
                  sourceType: Subscription
                  sequenceSetId: 402881e522cf4f9b0122cf5d82860003
                  adjustmentAmount: 0.0
                  balance: 700.0
                  billToContactSnapshotId: 402881e522cf4f9b0122cf5d82860004
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  createdDate: '2022-12-08 19:49:16'
                  includesOneTime: true
                  includesRecurring: true
                  includesUsage: true
                  lastEmailSentDate: '2022-12-08 19:51:16'
                  paymentAmount: 0.0
                  postedBy: 402881e522cf4f9b0122cf5d82860002
                  postedDate: '2022-12-09'
                  refundAmount: 0.0
                  soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860005
                  source: BillRun
                  sourceId: BR-00000001
                  targetDate: '2022-10-31'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2022-12-08 19:51:23'
                  billRunId: 4028818484f483d20184f50064950035
                  IntegrationId__NS: string
                  IntegrationStatus__NS: string
                  SyncDate__NS: string
                  complexity__c: Middle
                  description__c: description
                  currency: USD
                  success: true
                - success: false
                  processId: CA037C0B8C5B0682
                  reasons:
                  - code: 58490020
                    message: No account is found with accountId ff8080817cda56fa017cda87aaa2071f.
                  objectIndex: 1
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBatchInvoicesType'
        required: true
  /v1/invoices:
    post:
      description: 'Creates a standalone invoice for selling physical goods, services or other items on a non-recurring basis to your subscription customers.


        To use this operation, you must have the "Create Standalone Invoice" and "Modify Invoice" user permissions. See Billing Roles for more information. As of Zuora Release 2022.03.R5, newly created standard Billing users have the “Create Standalone Invoice” permission enabled by default.'
      summary: Create a standalone invoice
      operationId: POST_StandaloneInvoice
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostInvoiceResponse'
              example:
                id: 4028818484f483d20184f5006b97003f
                invoiceNumber: INV00000001
                accountId: 4028818484f483d20184f4f7efc40001
                amount: 700.0
                amountWithoutTax: 700.0
                discount: 0.0
                invoiceDate: '2022-10-31'
                dueDate: '2022-11-30'
                autoPay: true
                comments: ''
                status: Posted
                transferredToAccounting: string
                sourceType: Subscription
                sequenceSetId: 402881e522cf4f9b0122cf5d82860006
                adjustmentAmount: 0.0
                balance: 700.0
                billToContactSnapshotId: 402881e522cf4f9b0122cf5d82860007
                createdById: 402881e522cf4f9b0122cf5d82860002
                createdDate: '2022-12-08 19:49:16'
                includesOneTime: true
                includesRecurring: true
                includesUsage: true
                lastEmailSentDate: '2022-12-08 19:51:16'
                paymentAmount: 0.0
                postedBy: 402881e522cf4f9b0122cf5d82860002
                postedDate: '2022-12-09'
                refundAmount: 0.0
                soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860008
                source: BillRun
                sourceId: BR-00000001
                targetDate: '2022-10-31'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2022-12-08 19:51:23'
                billRunId: 4028818484f483d20184f50064950035
                IntegrationId__NS: string
                IntegrationStatus__NS: string
                SyncDate__NS: string
                complexity__c: Middle
                description__c: description
                currency: EUR
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInvoiceType'
        required: true
    put:
      description: 'Updates multiple invoices in batches with one call.


        ### Limitations

        This operation has the following limitations:

        * You can update a maximum of 50 invoices by one call.'
      summary: Update invoices
      operationId: PUT_BatchUpdateInvoices
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutBatchInvoiceType'
        required: true
  /v1/invoices/bulk-post:
    post:
      summary: Post invoices
      operationId: POST_PostInvoices
      description: 'Posts multiple invoices.


        You can post a maximum of 50 invoices in one single request. Additionally, you can also update invoice dates while posting the invoices.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesBatchPostResponseType'
              example:
                success: true
                invoices:
                - id: 402890555a7e9791015a7f15fe440123
                  success: true
                - id: 402890555a7e9791015a7f15fe44013a
                  success: true
                - success: false
                  processId: F3D4DAF98E6CE569
                  reasons:
                  - code: 59210020
                    message: Only invoices with Draft status can be posted.
                  id: ff808081804f25b001804f2d8971079f
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTInvoicesBatchPostType'
        required: true
  /v1/invoices/{invoiceKey}:
    put:
      summary: Update an invoice
      operationId: PUT_UpdateInvoice
      description: Updates a specific invoice.
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutInvoiceResponseType'
              example:
                id: 40288ae9600808280160081dc9c13f15
                number: INV00000090
                accountId: 40288ae9600808280160081db1533506
                invoiceDate: '2017-11-29'
                currency: USD
                targetDate: '2017-11-29'
                dueDate: '2017-12-18'
                postedOn: null
                postedById: null
                status: Draft
                amount: 100
                taxAmount: 0
                totalTaxExemptAmount: 0
                balance: 100
                discount: 0.0
                comment: ''
                autoPay: false
                transferredToAccounting: 'No'
                creditBalanceAdjustmentAmount: 0
                createdDate: '2017-11-29 22:10:58'
                createdById: 40288ae9600808280160081d833a311a
                updatedDate: '2017-11-30 13:47:52'
                updatedById: 40288ae9600808280160081d833a311a
                cancelledOn: null,
                cancelledById: null,
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutInvoiceType'
        required: true
    delete:
      summary: Delete an invoice
      operationId: DELETE_DeleteInvoice
      description: 'Deletes a specific invoice.


        Whether to delete an invoice synchronously or asynchronously depends on the number of invoice items contained in the invoice. By default, if an invoice contains less than 100 items, the invoice is deleted synchronously. Otherwise, the invoice is deleted asynchronously. If you want to change the threshold, submit a request at Zuora Global Support.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice to be deleted. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInvoiceResponseType'
              example:
                id: 40288ae9600808280160081dc9c13f15
                jobId: 40288ae9600808280160081db1533506
                jobStatus: Completed
                success: true
    get:
      summary: Retrieve an invoice
      operationId: Get_GetInvoice
      description: Retrieves a specific invoice.
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostInvoiceResponse'
              example:
                id: 4028818484f483d20184f5006b97003f
                invoiceNumber: INV00000001
                accountId: 4028818484f483d20184f4f7efc40001
                amount: 700.0
                amountWithoutTax: 700.0
                discount: 0.0
                invoiceDate: '2022-10-31'
                dueDate: '2022-11-30'
                autoPay: true
                comments: ''
                status: Posted
                transferredToAccounting: string
                sourceType: Subscription
                sequenceSetId: 402881e522cf4f9b0122cf5d82860009
                adjustmentAmount: 0.0
                balance: 700.0
                billToContactSnapshotId: 402881e522cf4f9b0122cf5d82860010
                createdById: 402881e522cf4f9b0122cf5d82860002
                createdDate: '2022-12-08 19:49:16'
                includesOneTime: true
                includesRecurring: true
                includesUsage: true
                lastEmailSentDate: '2022-12-08 19:51:16'
                paymentAmount: 0.0
                postedBy: 402881e522cf4f9b0122cf5d82860002
                postedDate: '2022-12-09'
                refundAmount: 0.0
                soldToContactSnapshotId: 402881e522cf4f9b0122cf5d82860011
                source: BillRun
                sourceId: BR-00000001
                targetDate: '2022-10-31'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2022-12-08 19:51:23'
                billRunId: 4028818484f483d20184f50064950035
                IntegrationId__NS: string
                IntegrationStatus__NS: string
                SyncDate__NS: string
                complexity__c: Middle
                description__c: description
                currency: USD
                success: true
  /v1/invoices/{invoiceKey}/application-parts:
    get:
      summary: List all application parts of an invoice
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves information about the payments or credit memos that are applied to a specified invoice.'
      operationId: GET_InvoiceApplicationParts
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceApplicationPartCollectionType'
              example:
                applicationParts:
                - paymentId: null
                  creditMemoId: 4028905f60a165a50160b4f632ff023d
                  appliedAmount: 22
                  createdDate: '2018-01-02 11:42:16'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2018-01-02 11:42:16'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                - paymentId: 4028905f60a165a50160b4f5d5cb0229
                  creditMemoId: null
                  appliedAmount: 11
                  createdDate: '2018-01-02 11:41:38'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2018-01-02 11:41:38'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
  /v1/invoices/{invoiceKey}/emails:
    post:
      summary: Email an invoice
      operationId: POST_EmailInvoice
      description: 'Sends a posted invoice to the specified email addresses manually.

        ### Notes

        - You must activate the **Manual Email For Invoice | Manual Email For Invoice** notification before emailing invoices. To include the invoice PDF in the email, select the **Include Invoice PDF** check box in the **Edit notification** dialog from the Zuora UI. See Create and Edit Notifications for more information.


        - Zuora sends the email messages based on the email template you set. You can set the email template to use in the **Delivery Options** panel of the **Edit notification** dialog from the Zuora UI. By default, the **Invoice Posted Default Email Template** template is used. See Create and Edit Email Templates for more information.


        - The invoices are sent only to the work email addresses or personal email addresses of the Bill To contact if the following conditions are all met:

        * The `useEmailTemplateSetting` field is set to `false`.

        * The email addresses are not specified in the `emailAddresses` field.'
      tags:
      - Invoices
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInvoiceEmailRequestType'
        required: true
  /v1/invoices/{invoiceKey}/files:
    post:
      summary: Upload a file for an invoice
      operationId: POST_UploadFileForInvoice
      description: 'Uploads an externally generated invoice PDF file for an invoice that is in Draft or Posted status.

        To use this operation, you must enable the Modify Invoice permission. See Billing Permissions for more information.

        This operation has the following restrictions:

        - Only the PDF file format is supported.

        - The maximum size of the PDF file to upload is 4 MB.

        - A maximum of 50 PDF files can be uploaded for one invoice.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: invoiceKey
        in: path
        description: 'The ID or number of the invoice that you want to upload a PDF file for. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV00000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTUploadFileResponse'
              example:
                success: true
                fileId: 40289f466463d683016463ef8b7301a2
      x-code-samples:
      - lang: curl
        label: Curl
        source: 'curl -X POST -H "Authorization: Bearer f21f017e4724445d8647b1f0de7ed6f1" -F "file=@InvoiceFile.pdf" "https://rest.zuora.com/v1/invoices/2c92c8955bd63cc1015bd7c151af02ab/files"

          '
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: 'The PDF file to upload for the invoice.

                    '
                  format: binary
    get:
      summary: List all files of an invoice
      operationId: GET_InvoiceFiles
      description: 'Retrieves the information about all PDF files of a specified invoice.


        Invoice PDF files are returned in reverse chronological order by the value of the `versionNumber` field.

        **Note**: This API only retrieves the PDF files that have been generated. If the latest PDF file is being generated, it will not be included in the response.

        You can use the Query action to get the latest PDF file, for example: `"select Body from Invoice where Id = ''2c93808457d787030157e0324aea5158''"`.

        See Query an Invoice Body for more information.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - name: invoiceKey
        in: path
        description: 'The unique ID or number of an invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV00000001.

          '
        required: true
        schema:
          type: string
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETInvoiceFilesResponse'
              example:
                invoiceFiles:
                - id: 2c98901f62d7d83d0162d7facec2262f
                  versionNumber: 1524041954479
                  pdfFileUrl: /v1/files/2c98901f62d7d83d0162d7facea6262d
                - id: 2c98901f62d7d83d0162d7f4a9792629
                  versionNumber: 1524041551946
                  pdfFileUrl: /v1/files/2c98901f62d7d83d0162d7f4a95c2627
                - id: 2c98901f62d7d83d0162d7f491ea2626
                  versionNumber: 1524041544112
                  pdfFileUrl: /v1/files/2c98901f62d7d83d0162d7f490f22624
                success: true
  /v1/invoices/{invoiceKey}/items:
    get:
      summary: List all items of an invoice
      operationId: GET_InvoiceItems
      description: Retrieves the information about all items of a specified invoice.
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - name: invoiceKey
        in: path
        description: 'The unique ID or number of an invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV00000001.

          '
        required: true
        schema:
          type: string
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETInvoiceItemsResponse'
              example:
                invoiceItems:
                - id: 2c92c095511f5b4401512682dd017989
                  subscriptionName: A-S00000004
                  subscriptionId: 2c92c0f9511f56b2015126814ad532cc
                  serviceStartDate: 2015-11-20
                  serviceEndDate: 2015-11-30
                  balance: 21.1
                  chargeAmount: 21.1
                  chargeDescription: ''
                  chargeName: Annual Fee
                  chargeDate: '2015-11-20 19:53:00'
                  chargeType: Recurring
                  processingType: Charge
                  excludeItemBillingFromRevenueAccounting: true
                  chargeId: 2c92c0f9511f56b2015126814af832d2
                  description: ''
                  productName: TeamCollab Enterprise
                  sourceItemType: SubscriptionComponent
                  quantity: 1
                  taxAmount: 0
                  unitOfMeasure: ''
                  unitPrice: 21.1
                  appliedToItemId: null
                  soldToContactId: 2c92c0f9511f56b2015126814ad532cd
                  soldToContactSnapshotId: 2c92c0f9511f56b2015126814ad532cd
                  invoiceScheduleId: 402881e522cf4f9b0122cf5d82860005
                  invoiceScheduleItemId: 402881e522cf4f9b0122cf5d82860006
                  numberOfDeliveries: 1
                  taxationItems:
                    data:
                    - balance: 2.11
                      paymentAmount: 0
                      creditAmount: 0
                      id: 2c98901a68ff26800168ffce6eeb0ffe
                      taxAmount: 2.11
                      name: taxName
                      exemptAmount: 0
                      jurisdiction: County
                      locationCode: 000-1
                      taxCode: TAXCODE-1
                      taxCodeDescription: null
                      taxDate: 2015-11-20
                      taxRate: 0.1
                      taxRateDescription: ''
                      taxRateType: Percentage
                - id: 3e28d61d442f433797e268e2b7c11eeb
                  subscriptionName: A-S00000004
                  subscriptionId: c2d9a5768db440cbbf2709a55c614bed
                  serviceStartDate: 2015-11-20
                  serviceEndDate: 2015-11-30
                  chargeAmount: -2.1
                  chargeDescription: ''
                  chargeName: Discount
                  chargeDate: '2015-11-20 19:53:00'
                  chargeType: OneTime
                  processingType: Discount
                  sourceItemType: SubscriptionComponent
                  excludeItemBillingFromRevenueAccounting: true
                  chargeId: 1b3dede652fa47db833a83be55d850a5
                  description: ''
                  productName: TeamCollab Enterprise
                  quantity: 0
                  taxAmount: 0
                  unitOfMeasure: ''
                  unitPrice: 10.0
                  appliedToItemId: 2c92c095511f5b4401512682dd017989
                  soldToContactId: 2c92c0f9511f56b2015126814ad532cd
                  soldToContactSnapshotId: 2c92c0f9511f56b2015126814ad532cd
                  invoiceScheduleId: 402881e522cf4f9b0122cf5d82860005
                  invoiceScheduleItemId: 402881e522cf4f9b0122cf5d82860006
                  numberOfDeliveries: 1
                  taxationItems:
                    data:
                    - balance: 0.21
                      paymentAmount: 0
                      creditAmount: 0
                      id: 2c98901a68ff26800168ffce6eeb0ffe
                      taxAmount: 0.21
                      name: taxName
                      exemptAmount: 0
                      jurisdiction: County
                      locationCode: 000-1
                      taxCode: TAXCODE-1
                      taxCodeDescription: null
                      taxDate: 2015-11-20
                      taxRate: 0.1
                      taxRateDescription: ''
                      taxRateType: Percentage
                success: true
  /v1/invoices/{invoiceKey}/items/{itemId}/taxation-items:
    get:
      summary: List all taxation items of an invoice item
      operationId: GET_TaxationItemsOfInvoiceItem
      description: Retrieves information about the taxation items of a specific invoice item.
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - name: invoiceKey
        in: path
        description: 'The unique ID or number of an invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV00000001.

          '
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: 'The unique ID of an invoice item. For example, 2c86c8955bd63cc1015bd7c151af02ef.

          '
        required: true
        schema:
          type: string
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: "A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.        \n"
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETInvoiceTaxationItemsResponse'
              example:
                data:
                - balance: 10
                  paymentAmount: 0
                  creditAmount: 0
                  id: 2c98901a68ff26800168ffce84e3102c
                  taxAmount: 10
                  name: test
                  exemptAmount: 0
                  jurisdiction: test
                  locationCode: code - 001
                  taxCode: taxcode
                  taxCodeDescription: description
                  taxDate: 2019-02-18
                  taxRate: 2
                  taxRateDescription: test
                  taxRateType: FlatFee
                - balance: 10
                  paymentAmount: 0
                  creditAmount: 0
                  id: 2c98901a68ff26800168ffce85d6102e
                  taxAmount: 10
                  name: test
                  exemptAmount: 0
                  jurisdiction: test
                  locationCode: code - 001
                  taxCode: taxcode
                  taxCodeDescription: description
                  taxDate: 2019-02-18
                  taxRate: 2
                  taxRateDescription: test
                  taxRateType: FlatFee
                success: true
  /v1/invoices/{invoiceKey}/reverse:
    put:
      summary: Reverse an invoice
      operationId: PUT_ReverseInvoice
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Reverses a posted invoice.


        **Restrictions**


        You are not allowed to reverse an invoice if any of the following restrictions is met:

        * Payments and credit memos are applied to the invoice.

        * The invoice is split.

        * The invoice is not in Posted status.

        * The total amount of the invoice is less than 0 (a negative invoice).

        * Using Tax Connector for Extension Platform to calculate taxes.

        * An invoice contains more than 2,000 items in total, including invoice items, discount items, and taxation items.


        See Invoice Reversal for more information.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutReverseInvoiceResponseType'
              example:
                creditMemo:
                  id: 402890555a40ca7f015a5b099b0e307a
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutReverseInvoiceType'
        required: true
  /v1/invoices/{invoiceKey}/write-off:
    put:
      summary: Write off an invoice
      operationId: PUT_WriteOffInvoice
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Writes off a posted invoice.


        By writing off an invoice, a credit memo is created and applied to the invoice. The generated credit memo items and credit memo taxation items are applied to invoice items and invoice taxation items based on the configured default application rule. If an invoice is written off, the balance of each invoice item and invoice taxation item must be zero.


        If you set the **Create credit memos mirroring invoice items billing rule** to **Yes**, you can write off an invoice even if all its items have zero balance.


        **Restrictions**: You cannot write off an invoice if any of the following restrictions is met:

        * The balance of an invoice has been changed before Invoice Settlement is enabled.

        For example, before Invoice Settlement is enabled, any credit balance adjustments, invoice item adjustments, or invoice adjustments have been applied to an invoice.

        * An invoice contains more than 2,000 items in total, including invoice items, discount items, and taxation items.

        See Invoice Write-off for more information.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTWriteOffInvoiceResponse'
              example:
                creditMemo:
                  id: 402890555a40ca7f015a5b099b0e307a
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTWriteOffInvoiceRequest'
        required: true
  /v1/invoices/{invoiceKey}/taxationitems:
    post:
      description: Creates taxation items for an invoice.
      summary: Create taxation items for an invoice
      operationId: POST_INV_TaxationItems
      tags:
      - Invoices
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETTaxationItemListType'
              example:
                taxationItems:
                - createdById: 402881e522cf4f9b0122cf5d82860002
                  createdDate: '2017-03-01 10:08:43'
                  exemptAmount: 0
                  id: 402890555a7e9791015a87a072880062
                  invoiceItemId: 402890555a7e9791015a879f064d0055
                  jurisdiction: CALIFORNIA
                  locationCode: '06'
                  name: STATE TAX
                  taxAmount: 0.1
                  taxCode: ServiceTaxCode
                  taxMode: TaxExclusive
                  taxCodeDescription: This is tax code description!
                  taxDate: '2016-09-30'
                  taxRate: 0.0625
                  taxRateDescription: This is tax rate description!
                  taxRateType: Percentage
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 10:08:43'
                  financeInformation:
                    accountsReceivableAccountingCode: Check
                    accountsReceivableAccountingCodeType: Cash
                    salesTaxPayableAccountingCode: Check
                    salesTaxPayableAccountingCodeType: Cash
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: invoiceKey
        required: true
        description: 'The unique ID or number of an invoice. For example, 8a8082e65b27f6c3015ba45ff82c7172 or INV00000001.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTTaxationItemList'
        required: true
  /v1/invoices/{invoiceKey}/einvoice/generate:
    put:
      summary: Generate an e-invoice file for an invoice
      operationId: PUT_GenerationEInvoiceGenerationForInvoices
      description: 'Generates an e-invoice file for an invoice.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - Invoices
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: invoiceKey
        in: path
        required: true
        description: 'The ID or number of the invoice. For example, 2c92c8955bd63cc1015bd7c151af02ab or INV-0000001.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
  schemas:
    PostDiscountItemType:
      allOf:
      - properties:
          accountingCode:
            description: 'The accounting code associated with the discount item.

              '
            type: string
          accountsReceivableAccountingCode:
            description: 'The accounting code for accounts receivable.

              '
            type: string
          adjustmentLiabilityAccountingCode:
            description: 'The accounting code for adjustment liability.

              **Note**: This field is only available if you have the Billing - Revenue Integration feature enabled.

              '
            type: string
          adjustmentRevenueAccountingCode:
            description: 'The accounting code for adjustment revenue.

              **Note**: This field is only available if you have the Billing - Revenue Integration feature enabled.

              '
            type: string
          amount:
            description: 'The amount of the discount item.

              - Should be a negative number. For example, `-10`.

              - Always a fixed amount no matter whether the discount charge associated with the discount item uses the [fixed-amount model or percentage model](https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/B_Charge_Models/B_Discount_Charge_Models#Fixed_amount_model_and_percentage_model).

              - For tax-exclusive discount items, this amount indicates the discount item amount excluding tax.

              - For tax-inclusive discount items, this amount indicates the discount item amount including tax.

              '
            format: number
            type: string
          bookingReference:
            description: 'The booking reference of the discount item.

              '
            type: string
          chargeDate:
            description: 'The date when the discount item is charged, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          chargeName:
            description: 'The name of the charge associated with the discount item.

              This field is required if the `productRatePlanChargeId` field is not specified in the request body.

              '
            type: string
          contractAssetAccountingCode:
            description: 'The accounting code for contract asset.

              **Note**: This field is only available if you have the Billing - Revenue Integration feature enabled.

              '
            type: string
          contractLiabilityAccountingCode:
            description: 'The accounting code for contract liability.

              **Note**: This field is only available if you have the Billing - Revenue Integration feature enabled.

              '
            type: string
          contractRecognizedRevenueAccountingCode:
            description: 'The accounting code for contract recognized revenue.

              **Note**: This field is only available if you have the Billing - Revenue Integration feature enabled.

              '
            type: string
          deferredRevenueAccountingCode:
            description: 'The accounting code for the deferred revenue, such as Monthly Recurring Liability.

              **Note:** This field is only available if you have Zuora Finance enabled.

              '
            type: string
          description:
            description: 'The description of the discount item.

              '
            type: string
          itemType:
            description: 'The type of the discount item.

              '
            type: string
          productRatePlanChargeId:
            description: 'The ID of the product rate plan charge that the discount item is created from.


              If you specify a value for the `productRatePlanChargeId` field in the request, Zuora directly copies the values of the following fields from the corresponding product rate plan charge, regardless of the values specified in the request body:

              - `chargeName`

              - `sku`


              If you specify a value for the `productRatePlanChargeId` field in the request, Zuora directly copies the values of the following fields from the corresponding discount charge that [uses discount specific accounting codes, rule and segment to manage revenue](https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/B_Charge_Models/Manage_Discount_Charges#Use_discount_specific_accounting_codes.2C_rule_and_segment_to_manage_revenue), regardless of the values specified in the request body:

              - `accountingCode`

              - `deferredRevenueAccountingCode`

              - `recognizedRevenueAccountingCode`


              If you specify a value for the `productRatePlanChargeId` field in the request, Zuora directly copies the values of the following fields from the corresponding invoice item charge if the discount charge DOES NOT [use discount specific accounting codes, rule and segment to manage revenue](https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/B_Charge_Models/Manage_Discount_Charges#Use_discount_specific_accounting_codes.2C_rule_and_segment_to_manage_revenue), regardless of the values specified in the request body:

              - `accountingCode`

              - `deferredRevenueAccountingCode`

              - `recognizedRevenueAccountingCode`

              '
            type: string
          purchaseOrderNumber:
            description: 'The purchase order number associated with the discount item.

              '
            type: string
          recognizedRevenueAccountingCode:
            description: 'The accounting code for the recognized revenue, such as Monthly Recurring Charges or Overage Charges.

              **Note:** This field is only available if you have Zuora Finance enabled.

              '
            type: string
          revRecCode:
            description: 'The revenue recognition code.

              '
            type: string
          revRecTriggerCondition:
            description: 'The date when revenue recognition is triggered.

              '
            enum:
            - ContractEffectiveDate
            - ServiceActivationDate
            - CustomerAcceptanceDate
            type: string
          revenueRecognitionRuleName:
            description: 'The name of the revenue recognition rule governing the revenue schedule.

              **Note:** This field is only available if you have Zuora Finance enabled.

              '
            type: string
          sku:
            description: 'The SKU of the invoice item. The SKU of the discount item must be different from the SKU of any existing product.

              '
            type: string
          taxItems:
            description: 'Container for taxation items. The maximum number of taxation items is 5.


              **Note**: This field is only available only if you have Taxation enabled.

              '
            items:
              $ref: '#/components/schemas/PostTaxationItemType'
            type: array
          unbilledReceivablesAccountingCode:
            description: 'The accounting code for unbilled receivables.

              **Note**: This field is only available if you have the Billing - Revenue Integration feature enabled.

              '
            type: string
          unitPrice:
            description: 'The per-unit price of the discount item.

              If the discount charge associated with the discount item uses the percentage model, the unit price will display as a percentage amount in PDF. For example: if unit price is 5.00, it will display as 5.00% in PDF.

              '
            format: number
            type: string
        required:
        - amount
        title: invoiceItems
        type: object
      - $ref: '#/components/schemas/DiscountItemObjectNSFields'
      - $ref: '#/components/schemas/DiscountItemObjectCustomFields'
    InvoicePostResponseType:
      allOf:
      - properties:
          id:
            description: 'The ID of the invoice that was posted.

              '
            type: string
          success:
            description: 'Returns `true` if the invoice was posted successfully.

              '
            type: boolean
        type: object
    ContactCustomFields:
      additionalProperties:
        description: "Custom fields of the Contact object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.\n\n  \n  \n"
      type: object
    CreditMemoItemFromWriteOffInvoice:
      allOf:
      - properties:
          comment:
            description: 'Comments about the credit memo item.

              '
            type: string
          financeInformation:
            description: 'Container for the finance information related to the credit memo item.

              '
            properties:
              deferredRevenueAccountingCode:
                description: 'The accounting code for the deferred revenue, such as Monthly Recurring Liability.

                  '
                maxLength: 100
                minLength: 0
                type: string
              onAccountAccountingCode:
                description: 'The accounting code that maps to an on account in your accounting system.

                  '
                maxLength: 100
                minLength: 0
                type: string
              recognizedRevenueAccountingCode:
                description: 'The accounting code for the recognized revenue, such as Monthly Recurring Charges or Overage Charges.

                  '
                maxLength: 100
                minLength: 0
                type: string
              revenueRecognitionRuleName:
                description: 'The name of the revenue recognition rule governing the revenue schedule.

                  '
                maxLength: 100
                minLength: 0
                type: string
            type: object
          invoiceItemId:
            description: 'The ID of the invoice item.

              '
            type: string
          serviceEndDate:
            description: "The service end date of the credit memo item. \n"
            format: date
            type: string
          serviceStartDate:
            description: "The service start date of the credit memo item. \n"
            format: date
            type: string
          skuName:
            description: 'The name of the charge associated with the invoice.

              '
            type: string
          unitOfMeasure:
            description: 'The definable unit that you measure when determining charges.

              '
            type: string
        type: object
      - $ref: '#/components/schemas/CreditMemoItemObjectCustomFields'
      title: items
    InvoiceItemObjectNSFields:
      description: 'Container for Invoice Item fields provided by the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

        '
      properties:
        IntegrationId__NS:
          description: 'ID of the corresponding object in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        IntegrationStatus__NS:
          description: 'Status of the invoice item''s synchronization with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        SyncDate__NS:
          description: 'Date when the invoice item was synchronized with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
      title: invoiceItemFieldsNS
      type: object
    CreditMemoObjectNSFields:
      description: 'Container for Credit Memo fields provided by the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

        '
      properties:
        IntegrationId__NS:
          description: 'ID of the corresponding object in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        IntegrationStatus__NS:
          description: 'Status of the credit memo''s synchronization with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        Origin__NS:
          description: 'Origin of the corresponding object in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        SyncDate__NS:
          description: 'Date when the credit memo was synchronized with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        Transaction__NS:
          description: 'Related transaction in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
      title: creditMemoFieldsNS
      type: object
    PostInvoiceEmailRequestType:
      example:
        emailAddresses: contact1@example.com,contact2@example.com
        includeAdditionalEmailAddresses: false
        useEmailTemplateSetting: false
      properties:
        emailAddresses:
          description: 'The valid email addresses you want to email an invoice to. Use commas to separate email addresses.

            **Note:** This field is only applicable if you set the `useEmailTemplateSetting` field to `false`.

            '
          type: string
        includeAdditionalEmailAddresses:
          default: false
          description: "Whether to send an invoice to the additional email addresses of the invoice account. \nYou can set the additional email addresses in the **Additional Email Addresses** field on the account detail page from the Zuora UI. See [Create a Customer Account](https://knowledgecenter.zuora.com/BC_Subscription_Management/Customer_Accounts/B_Create_a_Customer_Account#section_2) for more information.\n"
          enum:
          - true
          - false
          type: boolean
        useEmailTemplateSetting:
          default: false
[...]
