openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Payment Schedules API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Payment Schedules
  description: 'Use payment schedules to split invoice or account balances into several installments and automatically process payments for the installments.

    For more information about payment schedules, see Payment Schedules.'
paths:
  /v1/payment-schedules:
    post:
      description: 'Creates a payment schedule. You can create either recurring payment schedules or custom payment schedules.


        **Note:**

        - This operation is only available if you have Invoice Settlement enabled.

        - You can choose to use payment schedules to process payments associated with billing documents or unapplied payments. If Standalone Payment is enabled, you can also use payment schedules to process standalone payments.

        - This operation is version controlled. If you set `zuora-version` to `329.0`, when creating custom payment schedules associated with billing documents, you need to specify the billing document for each payment schedule item; If `zuora-version` is set to `330.0`, when creating custom payment schedules associated with billing documents, you only need to specify the billing documents at the payment schedule level. The default version number is `329.0`. However, we recommend that you specify the version to `330.0`. `329.0` will be deprecated soon.'
      summary: Create a payment schedule
      operationId: POST_PaymentSchedule
      tags:
      - Payment Schedules
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `billingDocument`\n* `items` > `billingDocument`\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTPaymentScheduleResponse'
              example:
                success: true
                id: 402880e749b72b310149b7343ef80005
                paymentScheduleNumber: PS-00000001
                accountId: 402880e741112b310149b7343ef81234
                accountNumber: A-00000001
                startDate: '2021-11-01'
                period: Monthly
                runHour: 1
                occurrences: 2
                totalAmount: 20
                status: Active
                nextProcessDate: '2021-11-01'
                recentProcessedDate: null
                processedCount: 0
                errorCount: 0
                description: null
                “isCustom”: true
                “standalone”: true
                cf1__c: v1
                createdDate: '2021-11-01 19:40:00'
                updatedDate: '2021-11-01 19:40:00'
                createdById: 402892f942306295014230a4ab4909bf
                updatedById: 402892f942306295014230a4ab4909bf
                items:
                - id: 412880e749b72b310149b7343ef81346
                  number: 1
                  paymentScheduleId: 402880e749b72b310149b7343ef80005
                  paymentScheduleNumber: PS-00000001
                  accountId: 402880e741112b310149b7343ef81234
                  scheduledDate: '2021-11-01'
                  amount: 10
                  currency: USD
                  runHour: 1
                  paymentMethodId: '123'
                  paymentGatewayId: abc
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  standalone: true
                  description: null
                  cf1__c: v1
                  createdDate: '2021-11-01 19:40:00'
                  updatedDate: '2021-11-01 19:40:00'
                  createdById: 402892f942306295014230a4ab4909bf
                  updatedById: 402892f942306295014230a4ab4909bf
                  billingDocument:
                    number: INV00002345
                    id: 2c9890306fb2121e016fb21a6b550041
                    type: Invoice
                - id: 412880e749b72b310149b7343ef81347
                  number: 1
                  paymentScheduleId: string
                  paymentScheduleNumber: string
                  accountId: 402880e741112b310149b7343ef81234
                  scheduledDate: '2021-12-01'
                  amount: 10
                  currency: USD
                  runHour: 1
                  paymentMethodId: '123'
                  paymentGatewayId: abc
                  standalone: true
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  description: null
                  cf1__c: v1
                  createdDate: '2021-11-01 19:40:00'
                  updatedDate: '2021-11-01 19:40:00'
                  createdById: 402892f942306295014230a4ab4909bf
                  updatedById: 402892f942306295014230a4ab4909bf
                  billingDocument:
                    number: INV00007765
                    id: 2c9890306f6fb21a6b550041b2121e01
                    type: Invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTPaymentScheduleRequest'
        required: true
    get:
      description: 'Retrieves payment schedules of a customer account.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: List payment schedules by customer account
      operationId: GET_PaymentSchedules
      tags:
      - Payment Schedules
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: lastProcessedItems
        in: query
        description: 'Number of the most recent processed payment schedules dispalyed in the response body.

          '
        required: false
        schema:
          type: integer
      - name: nextPendingItems
        in: query
        description: 'Number of next pending payment schedule items displayed in the response body.

          '
        required: false
        schema:
          type: integer
      - name: accountId
        in: query
        description: "The ID of the customer account. If neither `accountId` nor `accountNumber` is specified, all payment schedules will be returned. \n"
        required: false
        schema:
          type: string
      - name: accountNumber
        in: query
        description: "The number of the customer account. If neither `accountId` nor `accountNumber` is specified, all payment schedules will be returned. \n"
        required: false
        schema:
          type: integer
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following fields:\n* `items` > `paymentId`          \n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentSchedulesResponse'
              example:
              - id: 8a90857b822459cd018224dcb9eb13be
                paymentScheduleNumber: PS-00000007
                standalone: false
                accountId: 8a90a2fd8074995801807816dbac52a4
                accountNumber: A00000002
                startDate: '2022-07-31'
                runHour: 0
                period: null
                occurrences: 2
                totalAmount: 50
                status: Active
                nextPaymentDate: '2022-07-31'
                recentPaymentDate: null
                totalPaymentsProcessed: 0
                totalPaymentsErrored: 0
                description: ''
                isCustom: true
                billingDocument: null
                createdDate: '2022-07-22 00:43:42'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-22 00:45:36'
                updatedById: 8a90e082802185b901802199e15902d1
                items:
                - id: 8a90857b822459cd018224dcb9ec13bf
                  number: 1
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2022-07-31'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 30.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: ''
                  createdDate: '2022-07-22 00:43:42'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-22 00:43:42'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90a2fd822459ec018224de77a0359d
                  number: 2
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2022-08-31'
                  runHour: 20
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: ''
                  createdDate: '2022-07-22 00:45:35'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-22 00:45:35'
                  updatedById: 8a90e082802185b901802199e15902d1
              - id: 8a90e0828219a57101821f00287a3abd
                paymentScheduleNumber: PS-00000006
                standalone: false
                accountId: 8a90a2fd8074995801807816dbac52a4
                accountNumber: A00000002
                startDate: '2022-07-21'
                runHour: 11
                period: BiWeekly
                occurrences: 4
                totalAmount: 40
                status: Active
                nextPaymentDate: '2022-08-04'
                recentPaymentDate: '2022-07-21'
                totalPaymentsProcessed: 1
                totalPaymentsErrored: 0
                description: test update ps Xiaokai
                isCustom: false
                billingDocument: null
                createdDate: '2022-07-20 21:24:40'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-21 11:00:21'
                updatedById: '3'
                items:
                - id: 8a90e0828219a57101821f00287a3abf
                  number: 1
                  paymentScheduleId: 8a90e0828219a57101821f00287a3abd
                  paymentScheduleNumber: PS-00000006
                  standalone: false
                  scheduledDate: '2022-07-21'
                  runHour: 11
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Processed
                  errorMessage: null
                  paymentId: 8a90e86d821fd6d1018221eae795158b
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: test update ps
                  createdDate: '2022-07-20 21:24:40'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-21 11:00:19'
                  updatedById: '3'
                - id: 8a90e0828219a57101821f00287b3ac0
                  number: 2
                  paymentScheduleId: 8a90e0828219a57101821f00287a3abd
                  paymentScheduleNumber: PS-00000006
                  standalone: false
                  scheduledDate: '2022-08-04'
                  runHour: 11
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: test update ps
                  createdDate: '2022-07-20 21:24:40'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-20 21:26:26'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e0828219a57101821f00287b3ac1
                  number: 3
                  paymentScheduleId: 8a90e0828219a57101821f00287a3abd
                  paymentScheduleNumber: PS-00000006
                  standalone: false
                  scheduledDate: '2022-08-18'
                  runHour: 11
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: test update ps
                  createdDate: '2022-07-20 21:24:40'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-20 21:26:26'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e0828219a57101821f01c5447f04
                  number: 4
                  paymentScheduleId: 8a90e0828219a57101821f00287a3abd
                  paymentScheduleNumber: PS-00000006
                  standalone: false
                  scheduledDate: '2022-09-01'
                  runHour: 11
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: test update ps
                  createdDate: '2022-07-20 21:26:26'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-20 21:26:26'
                  updatedById: 8a90e082802185b901802199e15902d1
  /v1/payment-schedules/batch:
    post:
      description: 'Creates multiple payment schedules at once. You can create both recurring payment schedules and custom payment schedules in one request. The maximum number of payment schedules that can be created by a single request is 50. The maximum number of payment schedule items that each payment schedule can contain is 1000, i.e., you must specify less than 1000 items for a custom payment schedule, and the `occurrences` field must be less than 1000 for a recurring payment schedule.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.

        - If Standalone Payment is enabled, you can choose to use payment schedules to process payments associated with billing documents, standalone payments, or unapplied payments. If Standalone Payment is not enabled, you can only use payment schedules to process unapplied payments or payments associated with billing documents.

        - This operation is version controlled. If you set `zuora-version` to `329.0`, when creating custom payment schedules associated with billing documents, you need to specify the billing document for each payment schedule item; If `zuora-version` is set to `330.0`, when creating custom payment schedules associated with billing documents, you only need to specify the billing documents at the payment schedule level. The default version number is `329.0`. However, we recommend that you specify the version to `330.0`. `329.0` will be deprecated soon.'
      summary: Create multiple payment schedules at once
      operationId: POST_PaymentSchedules
      tags:
      - Payment Schedules
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `paymentSchedules` > `billingDocument`\n* `paymentSchedules` > `items` > `billingDocument`\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTPaymentSchedulesResponse'
              example:
                paymentSchedules:
                - id: 402880e741112b310149b7343ef81234
                  paymentScheduleNumber: PS-00311401
                - id: 402880e741112b310149b7343ef81234
                  paymentScheduleNumber: PS-00311402
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTPaymentSchedulesRequest'
        required: true
  /v1/payment-schedules/{paymentScheduleKey}:
    get:
      description: 'Retrieves a payment schedule by payment schedule key.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Retrieve a payment schedule
      operationId: GET_PaymentSchedule
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleResponse'
              example:
                id: 8a90857b822459cd018224dcb9eb13be
                paymentScheduleNumber: PS-00000007
                standalone: false
                accountId: 8a90a2fd8074995801807816dbac52a4
                accountNumber: A00000002
                startDate: '2022-07-31'
                runHour: 0
                period: null
                occurrences: 2
                totalAmount: 40
                status: Active
                nextPaymentDate: '2022-07-31'
                recentPaymentDate: null
                totalPaymentsProcessed: 0
                totalPaymentsErrored: 0
                description: ''
                isCustom: true
                billingDocument:
                  id: 8a90a2fd819503b50181959525e5205d
                  number: INV00000001
                  type: Invoice
                createdDate: '2022-07-22 00:43:42'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-22 00:45:36'
                updatedById: 8a90e082802185b901802199e15902d1
                items:
                - id: 8a90857b822459cd018224dcb9ec13bf
                  number: 1
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2022-07-31'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 30.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: ''
                  createdDate: '2022-07-22 00:43:42'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-22 00:43:42'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90a2fd822459ec018224de77a0359d
                  number: 2
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2022-08-31'
                  runHour: 20
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: ''
                  createdDate: '2022-07-22 00:45:35'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-22 00:45:35'
                  updatedById: 8a90e082802185b901802199e15902d1
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: nextPendingItems
        in: query
        description: 'Number of next pending payment schedule items displayed in the response body.

          '
        required: false
        schema:
          type: integer
      - name: lastProcessedItems
        in: query
        description: 'Number of the most recent processed payment schedule items dispalyed in the response body.

          '
        required: false
        schema:
          type: integer
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following response fields:\n  - `items` > `paymentId`\n"
        schema:
          type: string
      - in: path
        name: paymentScheduleKey
        required: true
        description: 'The unique ID or number of a payment schedule. For example, `8a90857b822459cd018224dcb9eb13be`, or `PS-00000007`.

          '
        schema:
          type: string
    put:
      description: 'Updates a payment schedule. For custom payment schedules, only the custom fields on the payment schedules can be udpated. Use the Update a payment schedule item operation to update payment schedule items of custom payment schedule.


        Note the following rules for the `periodStartDate`, `period`, and `occurrences`:


        - If `periodStartDate` is specified, all pending payment schedule items will be rescheduled using this new `periodStartDate`. If `period` is changed, we recommend passing in `periodStartDate`. Otherwise, the system would use the original start date if there is no processed or canceled items, or the last processed or canceled ''`scheduleDate` + 1 `period`'' as the new `periodStartDate`.

        - If only `occurrences` is updated, the new item will start with the last processed or canceled ''`scheduleDate` + 1 `period`''.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Update a payment schedule
      operationId: PUT_PaymentSchedule
      tags:
      - Payment Schedules
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following fields:\n- `items` > `paymentId`\n"
        schema:
          type: string
      - in: path
        name: paymentScheduleKey
        required: true
        description: 'The unique ID or number of a payment schedule. For example, `8a90857b822459cd018224dcb9eb13be`, or `PS-00000007`.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleResponse'
              example:
                id: 8a90e08281e10bb00181e749f4db01b8
                paymentScheduleNumber: PS-00000002
                standalone: true
                accountId: 8a90a2fd8074995801807816dbac52a4
                accountNumber: A00000002
                startDate: '2022-07-10'
                runHour: 23
                period: Monthly
                occurrences: 5
                totalAmount: 230
                status: Active
                nextPaymentDate: '2022-11-01'
                recentPaymentDate: null
                totalPaymentsProcessed: 0
                totalPaymentsErrored: 0
                description: test xiaokai
                isCustom: false
                billingDocument: null
                createdDate: '2022-07-10 01:46:33'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-28 06:12:39'
                updatedById: 8a90e082802185b901802199e15902d1
                items:
                - id: 8a90e08281e10bb00181e749f4dd01b9
                  number: 1
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-07-10'
                  runHour: 12
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 100.0
                  currency: USD
                  status: Canceled
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-10 01:46:33'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e08281e10bb00181e749f4e501ba
                  number: 2
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-08-10'
                  runHour: 12
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 100.0
                  currency: USD
                  status: Canceled
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-10 01:46:33'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e08281e10bb00181e749f4e601bb
                  number: 3
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-11-01'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-10 01:46:33'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a908de6822b2e1501823352ac745b53
                  number: 4
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-12-01'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-24 20:07:12'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e082824456ae018244f00e0317eb
                  number: 5
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2023-01-01'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-28 06:12:39'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e159021d
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTPaymentScheduleRequest'
        required: true
  /v1/payment-schedules/{paymentScheduleKey}/preview:
    put:
      description: 'Preview the result of a payment schedule update. This operation only provides a preview. No changes will be made to the database. For custom payment schedules, only the custom fields on the payment schedules can be udpated. Use the Update a payment schedule item operation to update payment schedule items of custom payment schedule.


        Note the following rules for the `periodStartDate`, `period`, and `occurrences`:


        - If `periodStartDate` is specified, all pending payment schedule items will be rescheduled using this new `periodStartDate`. If `period` is changed, we recommend passing in `periodStartDate`. Otherwise, the system would use the original start date if there is no processed or canceled items, or the last processed or canceled ''`scheduleDate` + 1 `period`'' as the new `periodStartDate`.

        - If only `occurrences` is updated, the new item will start with the last processed or canceled ''`scheduleDate` + 1 `period`''.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.'
      summary: Preview the result of payment schedule updates
      operationId: PUT_PaymentScheduleUpdatePreview
      tags:
      - Payment Schedules
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following fields:\n- `items` > `paymentId`\n"
        schema:
          type: string
      - in: path
        name: paymentScheduleKey
        required: true
        description: 'The unique ID or number of a payment schedule. For example, `8a90857b822459cd018224dcb9eb13be`, or `PS-00000007`.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleResponse'
              example:
                id: 8a90e08281e10bb00181e749f4db01b8
                paymentScheduleNumber: PS-00000002
                standalone: true
                accountId: 8a90a2fd8074995801807816dbac52a4
                accountNumber: A00000002
                startDate: '2022-07-10'
                runHour: 23
                period: Monthly
                occurrences: 5
                status: Active
                nextPaymentDate: '2022-11-01'
                recentPaymentDate: null
                totalPaymentsProcessed: 0
                totalPaymentsErrored: 0
                description: test xiaokai
                isCustom: false
                billingDocument: null
                createdDate: '2022-07-10 01:46:33'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-28 06:12:39'
                updatedById: 8a90e082802185b901802199e15902d1
                items:
                - id: 8a90e08281e10bb00181e749f4dd01b9
                  number: 1
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-07-10'
                  runHour: 12
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 100.0
                  currency: USD
                  status: Canceled
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-10 01:46:33'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e08281e10bb00181e749f4e501ba
                  number: 2
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-08-10'
                  runHour: 12
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 100.0
                  currency: USD
                  status: Canceled
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-10 01:46:33'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e08281e10bb00181e749f4e601bb
                  number: 3
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-11-01'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-10 01:46:33'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a908de6822b2e1501823352ac745b53
                  number: 4
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2022-12-01'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-24 20:07:12'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e082824456ae018244f00e0317eb
                  number: 5
                  paymentScheduleId: 8a90e08281e10bb00181e749f4db01b8
                  paymentScheduleNumber: PS-00000002
                  standalone: true
                  scheduledDate: '2023-01-01'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument: null
                  description: test xiaokai
                  createdDate: '2022-07-28 06:12:39'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 06:12:39'
                  updatedById: 8a90e082802185b901802199e15902d1
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTPreviewPaymentScheduleRequest'
        required: true
  /v1/payment-schedules/{paymentScheduleKey}/cancel:
    put:
      description: 'Cancels a payment schedule.


        **Note:**

        - All pending payment schedule items will be canceled, effective from `cancelDate`.

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Cancel a payment schedule
      operationId: PUT_CancelPaymentSchedule
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleResponse'
              example:
                success: true
                id: 402880e749b72b310149b7343ef80005
                paymentScheduleNumber: PS-00000001
                accountId: 402880e741112b310149b7343ef81234
                accountNumber: A-00000001
                startDate: '2021-11-01'
                period: Monthly
                runHour: 1
                occurrences: 2
                totalAmount: 20
                status: Canceled
                nextProcessDate: '2021-11-01'
                recentProcessedDate: null
                processedCount: 0
                errorCount: 0
                description: null
                cf1__c: v1
                createdDate: '2021-11-01 19:40:00'
                updatedDate: '2021-11-01 19:40:00'
                createdById: 402892f942306295014230a4ab4909bf
                updatedById: 402892f942306295014230a4ab4909bf
                items:
                - id: 412880e749b72b310149b7343ef81346
                  number: 1
                  paymentScheduleId: string
                  paymentScheduleNumber: string
                  accountId: 402880e741112b310149b7343ef81234
                  scheduledDate: '2021-11-01'
                  amount: 10
                  currency: USD
                  runHour: 1
                  paymentMethodId: '123'
                  paymentGatewayId: abc
                  status: Canceled
                  errorMessage: null
                  paymentId: null
                  description: null
                  cf1__c: v1
                  createdDate: '2021-11-01 19:40:00'
                  updatedDate: '2021-11-01 19:40:00'
                  createdById: 402892f942306295014230a4ab4909bf
                  updatedById: 402892f942306295014230a4ab4909bf
                - id: 412880e749b72b310149b7343ef81347
                  number: 2
                  paymentScheduleId: string
                  paymentScheduleNumber: string
                  accountId: 402880e741112b310149b7343ef81234
                  scheduledDate: '2021-12-01'
                  amount: 10
                  currency: USD
                  runHour: 1
                  paymentMethodId: '123'
                  paymentGatewayId: abc
                  status: Canceled
                  errorMessage: null
                  paymentId: null
                  description: null
                  cf1__c: v1
                  createdDate: '2021-11-01 19:40:00'
                  updatedDate: '2021-11-01 19:40:00'
                  createdById: 402892f942306295014230a4ab4909bf
                  updatedById: 402892f942306295014230a4ab4909bf
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentScheduleKey
        required: true
        description: 'The unique ID or number of a payment schedule. For example, `8a90857b822459cd018224dcb9eb13be`, or `PS-00000007`.

          '
        schema:
          type: string
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the followiing response fields:\n  - `items` > `paymentId`\n"
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTCancelPaymentScheduleRequest'
        required: true
  /v1/payment-schedules/{paymentScheduleKey}/items:
    post:
      description: 'Adds payment schedule items to a custom payment schedule. You cannot use this operation to add payment schedule items to recurring payment schedules.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Add payment schedule items to a custom payment schedule
      operationId: POST_AddItemsToCustomPaymentSchedule
      tags:
      - Payment Schedules
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following fields:\n- `items` > `paymentId`\n"
        schema:
          type: string
      - in: path
        name: paymentScheduleKey
        required: true
        description: 'The unique ID or number of a payment schedule. For example, `8a90857b822459cd018224dcb9eb13be`, or `PS-00000007`.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleResponse'
              example:
                id: 8a90857b822459cd018224dcb9eb13be
                paymentScheduleNumber: PS-00000007
                standalone: false
                accountId: 8a90a2fd8074995801807816dbac52a4
                accountNumber: A00000002
                startDate: '2022-07-31'
                runHour: 0
                period: null
                occurrences: 3
                totalAmount: 50
                status: Active
                nextPaymentDate: '2022-07-31'
                recentPaymentDate: null
                totalPaymentsProcessed: 0
                totalPaymentsErrored: 0
                description: ''
                isCustom: true
                billingDocument: null
                createdDate: '2022-07-22 00:43:42'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-28 23:15:23'
                updatedById: 8a90e082802185b901802199e15902d1
                items:
                - id: 8a90857b822459cd018224dcb9ec13bf
                  number: 1
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2022-07-31'
                  runHour: 23
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 30.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: ''
                  createdDate: '2022-07-22 00:43:42'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-22 00:43:42'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90a2fd822459ec018224de77a0359d
                  number: 2
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2022-08-31'
                  runHour: 20
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: ''
                  createdDate: '2022-07-22 00:45:35'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-22 00:45:35'
                  updatedById: 8a90e082802185b901802199e15902d1
                - id: 8a90e082824507750182489868257126
                  number: 3
                  paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                  paymentScheduleNumber: PS-00000007
                  standalone: false
                  scheduledDate: '2023-01-01'
                  runHour: 1
                  paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                  paymentGatewayId: 8a90a2fd807499580180781775c452a8
                  amount: 10.0
                  currency: USD
                  status: Pending
                  errorMessage: null
                  paymentId: null
                  billingDocument:
                    id: 8a90a2fd819503b50181959525e5205d
                    number: INV00000001
                    type: Invoice
                  description: test test
                  createdDate: '2022-07-28 23:15:23'
                  createdById: 8a90e082802185b901802199e15902d1
                  updatedDate: '2022-07-28 23:15:23'
                  updatedById: 8a90e082802185b901802199e15902d1
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTAddItemsToPaymentScheduleRequest'
        required: true
  /v1/payment-schedules/statistics/{yyyy-mm-dd}:
    get:
      description: 'Retrieves the payment schedule statistic of a specific date.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.'
      summary: Retrieve payment schedule statistic of a date
      operationId: GET_PaymentScheduleStatistic
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleStatisticResponse'
              example:
                date: '2022-07-29'
                paymentScheduleItems:
                  pending: 0
                  processed: 0
                  error: 0
                paymentRuns: []
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: yyyy-mm-dd
        required: true
        description: "Specifies the date of the payment schedule statistic you want to view. \n"
        schema:
          type: string
          format: date
  /v1/payment-schedule-items/{item-id}:
    get:
      description: 'Retrieves a payment schedule item by ID.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Retrieve a payment schedule item
      operationId: GET_PaymentScheduleItem
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentScheduleItemResponse'
              example:
                id: 8a90857b822459cd018224dcb9ec13bf
                number: 1
                paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                paymentScheduleNumber: PS-00000007
                standalone: false
                scheduledDate: '2022-07-31'
                runHour: 23
                paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                paymentGatewayId: 8a90a2fd807499580180781775c452a8
                amount: 30.0
                currency: USD
                status: Pending
                errorMessage: null
                paymentId: null
                billingDocument:
                  id: 8a90a2fd819503b50181959525e5205d
                  number: INV00000001
                  type: Invoice
                description: ''
                createdDate: '2022-07-22 00:43:42'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-22 00:43:42'
                updatedById: 8a90e082802185b901802199e15902d1
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following response fields:\n- `paymentId`\n"
        schema:
          type: string
      - in: path
        name: item-id
        required: true
        description: 'The unique ID of a payment schedule item.

          '
        schema:
          type: string
    put:
      description: 'Updates a payment schedule item by ID.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manag](https://knowledgecenter.zuora.com/Zuora_Payments/Payments_Settings/Manage_Features).

        - This operation is only available if you have Invoice Settlement enabled.

        - To link a single payment to the payment schedule item, specify the `paymentID` field in the request body and set `zuora-version` to equal to or smaller than `336.0`; To link or unlink multiple payments with the item, specify the `linkPayments` and `unlinkPayments` field in the request body.

        - The maximum number of payments that are allowed to be linked to a payment schedule item is `10`.

        - When unlinking and linking payments with the payment schedule item in one request, Zuora will first unlink the linked payments, and then link new payments to the item.'
      summary: Update a payment schedule item
      operationId: PUT_PaymentScheduleItem
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTPaymentScheduleItemResponse'
              example:
                id: 8a90857b822459cd018224dcb9ec13bf
                number: 1
                paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                paymentScheduleNumber: PS-00000007
                standalone: false
                scheduledDate: '2022-07-31'
                runHour: 23
                paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                paymentGatewayId: 8a90a2fd807499580180781775c452a8
                amount: 30.0
                currency: USD
                status: Pending
                errorMessage: null
                paymentId: null
                billingDocument:
                  id: 8a90a2fd819503b50181959525e5205d
                  number: INV00000001
                  type: Invoice
                description: ''
                cancellationReason: null
                createdDate: '2022-07-22 00:43:42'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-22 00:43:42'
                updatedById: 8a90e082802185b901802199e15902d1
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: item-id
        required: true
        description: 'The unique ID of a payment schedule item.

          '
        schema:
          type: string
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following request fields:\n* `paymentId`\n* `linkPayments`\n* `unlinkPayments`\n\nThis header affects the availability of the following response fields:\n* `paymentId`            \n"
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTPaymentScheduleItemRequest'
        required: true
  /v1/payment-schedule-items/{item-id}/cancel:
    put:
      description: 'Cancels a payment schedule item by ID.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Cancel a payment schedule item
      operationId: PUT_CancelPaymentScheduleItem
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTPaymentScheduleItemResponse'
              example:
                id: 8a90857b822459cd018224dcb9ec13bf
                number: 1
                paymentScheduleId: 8a90857b822459cd018224dcb9eb13be
                paymentScheduleNumber: PS-00000007
                standalone: false
                scheduledDate: '2022-11-01'
                runHour: 23
                paymentMethodId: 8a90a2fd8074995801807817ebed52aa
                paymentGatewayId: 8a90a2fd807499580180781775c452a8
                amount: 30.0
                currency: USD
                status: Canceled
                errorMessage: null
                paymentId: null
                billingDocument:
                  id: 8a90a2fd819503b50181959525e5205d
                  number: INV00000001
                  type: Invoice
                description: ''
                cancellationReason: Skip Payment
                createdDate: '2022-07-22 00:43:42'
                createdById: 8a90e082802185b901802199e15902d1
                updatedDate: '2022-07-29 02:54:54'
                updatedById: 8a90e082802185b901802199e15902d1
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following response fields:\n- `paymentId`\n"
        schema:
          type: string
      - in: path
        name: item-id
        required: true
        description: "The unique ID of a payment schedule item.     \n"
        schema:
          type: string
  /v1/payment-schedule-items/{item-id}/skip:
    put:
      description: 'Skips a payment schedule item by ID. The skipped payment schedule item will turn to the `canceled` status, and a new item will be scheduled on the next recurring date after the last existing scheduled date.


        **Note:**

        - Only payment schedule items in recurring payment schedules can be skipped, and the item must be in the `pending` status.

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Skip a payment schedule item
      operationId: PUT_SkipPaymentScheduleItem
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTSkipPaymentScheduleItemResponse'
              example:
                id: 402881a683642cff018364354abf12b6
                number: 7
                paymentScheduleId: 402881a68361af72018361d4be120047
                paymentScheduleNumber: PS-00000004
                standalone: true
                scheduledDate: '2022-11-04'
                runHour: 3
                paymentMethodId: 402892f9423062950142306f326c0056
                paymentGatewayId: null
                amount: 30.0
                currency: USD
                status: Pending
                errorMessage: null
                paymentId: null
                billingDocument: null
                description: ''
                cf1__c: null
                cf2__c: null
                cancellationReason: Skip Payment
                createdDate: '2022-09-22 00:59:17'
                createdById: 402892f9423062950142306f2f530002
                updatedDate: '2022-09-22 00:59:17'
                updatedById: 402892f9423062950142306f2f530002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. See [Minor Version](/api-references/api/overview/#section/API-Versions/Minor-Version) for information about REST API version control. \n\nThis header affects the availability of the following response fields:\n- `paymentId`\n"
        schema:
          type: string
      - in: path
        name: item-id
        required: true
        description: "The unique ID of a payment schedule item.   \n"
        schema:
          type: string
  /v1/payment-schedule-items/retry-payment:
    post:
      description: 'Retries failed payment schedule items. The payment method and payment gateway of the failed payment can be updated to new values before the retry.


        Note that you can retry a payment schedule item only when the payment schedule item is either in the `Error` or `Pending` status.


        **Note:**

        - The Payment Schedules feature is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.

        - This operation is only available if you have Invoice Settlement enabled.'
      summary: Retry failed payment schedule items
      operationId: POST_RetryPaymentScheduleItem
      tags:
      - Payment Schedules
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
[...]
