openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Ramps API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Ramps
  description: 'A Ramp is a time container to associate with rate plan charges in your subscription. Inside the Ramp, you can further define a set of Ramp Intervals (time-based periods) where products or pricing can change. These periods are sub time containers to enable you to report out-of-the-box metrics based on Ramp Intervals.


    **Notes**: You must have both the Ramps feature and Orders feature enabled for your tenant to use the Ramps operations.


    For more information, see Ramps and Ramp Metrics.'
paths:
  /v1/ramps/{rampNumber}:
    get:
      description: '**Note**: This operation is only available if you have the Ramps feature enabled. The Orders feature must be enabled before you can access the Ramps feature. The Ramps feature is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see Zuora Editions for pricing information coming October 2020.


        Retrieves the latest definition of a specified ramp.'
      summary: Retrieve a ramp
      operationId: GET_RampByRampNumber
      tags:
      - Ramps
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRampByRampNumberResponseType'
              example:
                success: true
                ramp:
                  id: 40289f7b7321f5ce0173229d798300cf
                  number: R-00000268
                  name: Two Years Ramp
                  description: ''
                  intervals:
                  - name: Year 1
                    description: ''
                    startDate: '2020-01-01'
                    endDate: '2020-12-31'
                  - name: Year 2
                    description: ''
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
                  subscriptionNumber: A-S00000287
                  charges:
                  - chargeNumber: C-00000202
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The automatically generated number of a ramp. For example, R-00000268.

          '
        name: rampNumber
        required: true
        schema:
          type: string
  /v1/ramps/{rampNumber}/ramp-metrics:
    get:
      description: '**Note**: This operation is only available if you have the Ramps feature enabled. The Orders feature must be enabled before you can access the Ramps feature. The Ramps feature is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see Zuora Editions for pricing information coming October 2020.


        Retrieves key metrics about a specified ramp, including the following metrics:


        * TCB, TCV in the Ramp level

        * TCB, TCV in the Interval level

        * TCB, TCV, Quantity, and MRR in Interval Metrics

        * Delta TCB, Delta TCV, Delta Quantity, and Delta MRR in Interval Delta Metrics


        See Key metrics for Ramps for more information.'
      summary: List all ramp metrics of a ramp
      operationId: GET_RampMetricsByRampNumber
      tags:
      - Ramps
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRampMetricsByRampNumberResponseType'
              example:
                success: true
                rampMetrics:
                  name: Two Years Ramp
                  number: R-00000268
                  description: ''
                  grossTcb: 240.0
                  netTcb: 240.0
                  discountTcb: 0.0
                  grossTcv: 240.0
                  netTcv: 240.0
                  discountTcv: 0.0
                  intervals:
                  - name: Year 1
                    startDate: '2020-01-01'
                    endDate: '2020-12-31'
                    description: ''
                    grossTcb: 120.0
                    netTcb: 120.0
                    discountTcb: 0.0
                    grossTcv: 120.0
                    netTcv: 120.0
                    discountTcv: 0.0
                    intervalMetrics:
                    - subscriptionNumber: A-S00000287
                      chargeNumber: C-00000202
                      ratePlanChargeId: 40289f7b7321f5ce0173229d792c00c8
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      startDate: '2020-01-01'
                      endDate: '2020-12-31'
                      grossTcb: 120.0
                      netTcb: 120.0
                      discountTcb: 0.0
                      grossTcv: 120.0
                      netTcv: 120.0
                      discountTcv: 0.0
                      quantity: 1
                      mrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2020-01-01'
                        endDate: '2020-12-31'
                  - name: Year 2
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
                    description: ''
                    grossTcb: 120.0
                    netTcb: 120.0
                    discountTcb: 0.0
                    grossTcv: 120.0
                    netTcv: 120.0
                    discountTcv: 0.0
                    intervalMetrics:
                    - subscriptionNumber: A-S00000287
                      chargeNumber: C-00000202
                      ratePlanChargeId: 40289f7b7321f5ce0173229d792c00c8
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      startDate: '2021-01-01'
                      endDate: '2021-12-31'
                      grossTcb: 120.0
                      netTcb: 120.0
                      discountTcb: 0.0
                      grossTcv: 120.0
                      netTcv: 120.0
                      discountTcv: 0.0
                      quantity: 1
                      mrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2021-01-01'
                        endDate: '2021-12-31'
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The automatically generated number of a ramp. For example, R-00000268.

          '
        name: rampNumber
        required: true
        schema:
          type: string
  /v1/subscriptions/{subscriptionKey}/ramps:
    get:
      description: '**Note**: This operation is only available if you have the Ramps feature enabled. The Orders feature must be enabled before you can access the Ramps feature. The Ramps feature is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see Zuora Editions for pricing information coming October 2020.


        Retrieves the definition of the ramp associated with a specified subscription.'
      summary: Retrieve a ramp by subscription key
      operationId: GET_RampsBySubscriptionKey
      tags:
      - Ramps
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRampsBySubscriptionKeyResponseType'
              example:
                success: true
                ramps:
                - id: 40289f7b7321f5ce0173229d798300cf
                  number: R-00000268
                  name: Two Years Ramp
                  description: ''
                  intervals:
                  - name: Year 1
                    description: ''
                    startDate: '2020-01-01'
                    endDate: '2020-12-31'
                  - name: Year 2
                    description: ''
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
                  subscriptionNumber: A-S00000287
                  charges:
                  - chargeNumber: C-00000202
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The ID or number of an existing subscription.

          '
        name: subscriptionKey
        required: true
        schema:
          type: string
  /v1/subscriptions/{subscriptionKey}/ramp-metrics:
    get:
      description: '**Note**: This operation is only available if you have the Ramps feature enabled. The Orders feature must be enabled before you can access the Ramps feature. The Ramps feature is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see Zuora Editions for pricing information coming October 2020.


        Retrieves key ramp metrics about a specified subscription, including the following metrics:


        * TCB, TCV in the Ramp level

        * TCB, TCV in the Interval level

        * TCB, TCV, Quantity, and MRR in Interval Metrics

        * Delta TCB, Delta TCV, Delta Quantity, and Delta MRR in Interval Delta Metrics


        See Key metrics for Ramps for more information.'
      summary: List ramp metrics by subscription key
      operationId: GET_RampMetricsBySubscriptionKey
      tags:
      - Ramps
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRampMetricsBySubscriptionKeyResponseType'
              example:
                success: true
                rampMetrics:
                  name: Two Years Ramp
                  number: R-00000268
                  description: ''
                  grossTcb: 240.0
                  netTcb: 240.0
                  discountTcb: 0.0
                  grossTcv: 240.0
                  netTcv: 240.0
                  discountTcv: 0.0
                  intervals:
                  - name: Year 1
                    startDate: '2020-01-01'
                    endDate: '2020-12-31'
                    description: ''
                    grossTcb: 120.0
                    netTcb: 120.0
                    discountTcb: 0.0
                    grossTcv: 120.0
                    netTcv: 120.0
                    discountTcv: 0.0
                    intervalMetrics:
                    - subscriptionNumber: A-S00000287
                      chargeNumber: C-00000202
                      ratePlanChargeId: 40289f7b7321f5ce0173229d792c00c8
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      startDate: '2020-01-01'
                      endDate: '2020-12-31'
                      grossTcb: 120.0
                      netTcb: 120.0
                      discountTcb: 0.0
                      grossTcv: 120.0
                      netTcv: 120.0
                      discountTcv: 0.0
                      quantity: 1
                      mrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2020-01-01'
                        endDate: '2020-12-31'
                  - name: Year 2
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
                    description: ''
                    grossTcb: 120.0
                    netTcb: 120.0
                    discountTcb: 0.0
                    grossTcv: 120.0
                    netTcv: 120.0
                    discountTcv: 0.0
                    intervalMetrics:
                    - subscriptionNumber: A-S00000287
                      chargeNumber: C-00000202
                      ratePlanChargeId: 40289f7b7321f5ce0173229d792c00c8
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      startDate: '2021-01-01'
                      endDate: '2021-12-31'
                      grossTcb: 120.0
                      netTcb: 120.0
                      discountTcb: 0.0
                      grossTcv: 120.0
                      netTcv: 120.0
                      discountTcv: 0.0
                      quantity: 1
                      mrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2021-01-01'
                        endDate: '2021-12-31'
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The ID or number of an existing subscription.

          '
        name: subscriptionKey
        required: true
        schema:
          type: string
  /v1/orders/{orderNumber}/ramp-metrics:
    get:
      description: '**Note**: This operation is only available if you have the Ramps feature enabled. The Orders feature must be enabled before you can access the Ramps feature. The Ramps feature is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see Zuora Editions for pricing information coming October 2020.


        Retrieves key ramp metrics about a specified order, including the following metrics:


        * TCB, TCV in the Ramp level

        * TCB, TCV in the Interval level

        * TCB, TCV, Quantity, and MRR in Interval Metrics

        * Delta TCB, Delta TCV, Delta Quantity, and Delta MRR in Interval Delta Metrics


        See Key metrics for Ramps for more information.'
      summary: List ramp metrics by order number
      operationId: GET_RampMetricsByOrderNumber
      tags:
      - Ramps
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRampMetricsByOrderNumberResponseType'
              example:
                rampMetrics:
                - name: Two Years Ramp
                  number: R-00000270
                  description: ''
                  grossTcb: 240.0
                  netTcb: 240.0
                  discountTcb: 0.0
                  grossTcv: 240.0
                  netTcv: 240.0
                  discountTcv: 0.0
                  intervals:
                  - name: Year 1
                    startDate: '2020-01-01'
                    endDate: '2020-12-31'
                    description: ''
                    grossTcb: 120.0
                    netTcb: 120.0
                    discountTcb: 0.0
                    grossTcv: 120.0
                    netTcv: 120.0
                    discountTcv: 0.0
                    intervalMetrics:
                    - subscriptionNumber: A-S00000289
                      chargeNumber: C-00000204
                      ratePlanChargeId: 40289f7b7322a15901732392a904000a
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      startDate: '2020-01-01'
                      endDate: '2020-12-31'
                      grossTcb: 120.0
                      netTcb: 120.0
                      discountTcb: 0.0
                      grossTcv: 120.0
                      netTcv: 120.0
                      discountTcv: 0.0
                      quantity: 1
                      mrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2020-01-01'
                        endDate: '2020-12-31'
                    intervalDeltaMetrics:
                    - subscriptionNumber: A-S00000289
                      chargeNumber: C-00000204
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      deltaGrossTcb: 120.0
                      deltaNetTcb: 120.0
                      deltaDiscountTcb: 0.0
                      deltaGrossTcv: 120.0
                      deltaNetTcv: 120.0
                      deltaDiscountTcv: 0.0
                      deltaMrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2020-01-01'
                        endDate: '2020-12-31'
                      deltaQuantity:
                      - amount: 1
                        startDate: '2020-01-01'
                        endDate: '2020-12-31'
                  - name: Year 2
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
                    description: ''
                    grossTcb: 120.0
                    netTcb: 120.0
                    discountTcb: 0.0
                    grossTcv: 120.0
                    netTcv: 120.0
                    discountTcv: 0.0
                    intervalMetrics:
                    - subscriptionNumber: A-S00000289
                      chargeNumber: C-00000204
                      ratePlanChargeId: 40289f7b7322a15901732392a904000a
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      startDate: '2021-01-01'
                      endDate: '2021-12-31'
                      grossTcb: 120.0
                      netTcb: 120.0
                      discountTcb: 0.0
                      grossTcv: 120.0
                      netTcv: 120.0
                      discountTcv: 0.0
                      quantity: 1
                      mrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2021-01-01'
                        endDate: '2021-12-31'
                    intervalDeltaMetrics:
                    - subscriptionNumber: A-S00000289
                      chargeNumber: C-00000204
                      productRatePlanChargeId: 40289f7b7115832f0171158e6dd906cd
                      deltaGrossTcb: 120.0
                      deltaNetTcb: 120.0
                      deltaDiscountTcb: 0.0
                      deltaGrossTcv: 120.0
                      deltaNetTcv: 120.0
                      deltaDiscountTcv: 0.0
                      deltaMrr:
                      - gross: 10.0
                        net: 10.0
                        discount: 0.0
                        startDate: '2021-01-01'
                        endDate: '2021-12-31'
                      deltaQuantity:
                      - amount: 1
                        startDate: '2021-01-01'
                        endDate: '2021-12-31'
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        description: 'The number of the existing order.

          '
        name: orderNumber
        required: true
        schema:
          type: string
components:
  schemas:
    RampResponse:
      properties:
        charges:
          description: Container for the rate plan charges that are considered as part of the ramp deal.
          items:
            $ref: '#/components/schemas/RampChargeResponse'
          type: array
        description:
          description: The short description of the ramp.
          type: string
        id:
          description: The ID of the ramp.
          type: string
        intervals:
          description: Container for the intervals that the ramp is split into in its timeline.
          items:
            $ref: '#/components/schemas/RampIntervalResponse'
          type: array
        name:
          description: The name of the ramp.
          type: string
        number:
          description: The number of the ramp. It is automaticcally generated by the billing system.
          type: string
        subscriptionNumber:
          description: The number of the subscription that is considered as part of the ramp deal.
          type: string
      title: Ramp
      type: object
    RampIntervalMetrics:
      properties:
        description:
          description: The short description of the interval.
          type: string
        discountTcb:
          description: The discount amount for the TCB.
          type: number
        discountTcv:
          description: The discount amount for the TCV.
          type: number
        endDate:
          description: The end date of the interval.
          format: date
          type: string
        grossTcb:
          description: The gross TCB value before discount charges are applied.
          type: number
        grossTcv:
          description: The gross TCV value before discount charges are applied.
          type: number
        intervalMetrics:
          description: Container for the detailed metrics for each rate plan charge in each ramp interval.
          items:
            $ref: '#/components/schemas/RampIntervalChargeMetrics'
          type: array
        name:
          description: The name of the interval.
          type: string
        netTcb:
          description: The net TCB value after discount charges are applied.
          type: number
        netTcv:
          description: The net TCV value after discount charges are applied.
          type: number
        startDate:
          description: The start date of the interval.
          format: date
          type: string
      type: object
    GETRampMetricsBySubscriptionKeyResponseType:
      allOf:
      - properties:
          rampMetrics:
            $ref: '#/components/schemas/RampMetrics'
        type: object
      - $ref: '#/components/schemas/CommonResponseType'
    OrderRampMetrics:
      properties:
        description:
          description: The short description of the ramp.
          type: string
        discountTcb:
          description: The discount amount for the TCB.
          type: number
        discountTcv:
          description: The discount amount for the TCV.
          type: number
        grossTcb:
          description: The gross TCB value before discount charges are applied.
          type: number
        grossTcv:
          description: The gross TCV value before discount charges are applied.
          type: number
        intervals:
          description: The ramp metrics for each ramp intervals in its timeline.
          items:
            $ref: '#/components/schemas/OrderRampIntervalMetrics'
          type: array
        name:
          description: The name of the ramp.
          type: string
        netTcb:
          description: The net TCB value after discount charges are applied.
          type: number
        netTcv:
          description: The net TCV value after discount charges are applied.
          type: number
        number:
          description: The number of the ramp. It is automaticcally generated by the billing system.
          type: string
      title: RampMetrics
      type: object
    RampMetrics:
      properties:
        description:
          description: The short description of the ramp.
          type: string
        discountTcb:
          description: The discount amount for the TCB.
          type: number
        discountTcv:
          description: The discount amount for the TCV.
          type: number
        grossTcb:
          description: The gross TCB value before discount charges are applied.
          type: number
        grossTcv:
          description: The gross TCV value before discount charges are applied.
          type: number
        intervals:
          description: Container for the intervals that the ramp is split into in its timeline.
          items:
            $ref: '#/components/schemas/RampIntervalMetrics'
          type: array
        name:
          description: The name of the ramp.
          type: string
        netTcb:
          description: The net TCB value after discount charges are applied.
          type: number
        netTcv:
          description: The net TCV value after discount charges are applied.
          type: number
        number:
          description: The number of the ramp. It is automaticcally generated by the billing system.
          type: string
      type: object
    RampIntervalChargeDeltaMetrics:
      properties:
        chargeNumber:
          description: The number of the rate plan charge.
          type: string
        deltaDiscountTcb:
          description: The discount delta amount for the TCB.
          type: number
        deltaDiscountTcv:
          description: The discount delta amount for the TCV.
          type: number
        deltaGrossTcb:
          description: The TCB delta value before discount charges are applied.
          type: number
        deltaGrossTcv:
          description: The TCV delta value before discount charges are applied.
          type: number
        deltaMrr:
          description: The MRR changing history of the current rate plan charge in the current ramp interval.
          items:
            properties:
              discount:
                description: The discount delta amount for the MRR.
                type: number
              endDate:
                description: The end date.
                format: date
                type: string
              gross:
                description: The MRR delta amount before discounts charges are applied.
                type: number
              net:
                description: The MRR delta amount after discounts charges are applied.
                type: number
              startDate:
                description: The start date.
                format: date
                type: string
            type: object
          type: array
        deltaNetTcb:
          description: The TCB delta value after discount charges are applied.
          type: number
        deltaNetTcv:
          description: The TCV delta value after discount charges are applied.
          type: number
        deltaQuantity:
          description: The charge quantity changing history of the current rate plan charge in the current ramp interval.
          items:
            properties:
              amount:
                description: The delta amount of the charge quantity.
                type: number
              endDate:
                description: The end date.
                format: date
                type: string
              startDate:
                description: The start date.
                format: date
                type: string
            type: object
          type: array
        productRatePlanChargeId:
          description: The ID of the corresponding product rate plan charge.
          type: string
        subscriptionNumber:
          description: The number of the subscription that the current rate plan charge belongs to.
          type: string
      title: intervalDeltaMetrics
      type: object
    RampIntervalChargeMetrics:
      properties:
        chargeNumber:
          description: The number of the charge.
          type: string
        discountTcb:
          description: The discount amount for the TCB.
          type: number
        discountTcv:
          description: The discount amount for the TCV.
          type: number
        endDate:
          description: The end date of the rate plan charge in the current ramp interval.
          format: date
          type: string
        grossTcb:
          description: The gross TCB value before discount charges are applied.
          type: number
        grossTcv:
          description: The gross TCV value before discount charges are applied.
          type: number
        mrr:
          description: The MRR changing history of the current rate plan charge in the current ramp interval.
          items:
            properties:
              discount:
                description: The discount amount for the MRR.
                type: number
              endDate:
                description: The end date.
                format: date
                type: string
              gross:
                description: The gross MRR amount before discounts charges are applied.
                type: number
              net:
                description: The net MRR amount after discounts charges are applied.
                type: number
              startDate:
                description: The start date.
                format: date
                type: string
            type: object
          type: array
        netTcb:
          description: The net TCB value after discount charges are applied.
          type: number
        netTcv:
          description: The net TCV value after discount charges are applied.
          type: number
        productRatePlanChargeId:
          description: The ID of the corresponding product rate plan charge.
          type: string
        quantity:
          description: The quantity of the rate plan charge.
          type: number
        ratePlanChargeId:
          description: The ID of the rate plan charge.
          type: string
        startDate:
          description: The start date of the rate plan charge in the current ramp interval.
          format: date
          type: string
        subscriptionNumber:
          description: The number of the subscription that the current rate plan charge belongs to.
          type: string
      title: intervalMetrics
      type: object
    RampChargeResponse:
      properties:
        chargeNumber:
          description: The number of the rate plan charge.
          type: string
      title: charges
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    OrderRampIntervalMetrics:
      properties:
        description:
          description: The short description of the interval.
          type: string
        discountTcb:
          description: The discount amount for the TCB.
          type: number
        discountTcv:
          description: The discount amount for the TCV.
          type: number
        endDate:
          description: The end date of the interval.
          format: date
          type: string
        grossTcb:
          description: The gross TCB value before discount charges are applied.
          type: number
        grossTcv:
          description: The gross TCV value before discount charges are applied.
          type: number
        intervalDeltaMetrics:
          description: Container for the delta metrics for each rate plan charge in each ramp interval. The delta is the difference of the subscription metrics between before and after the order.
          items:
            $ref: '#/components/schemas/RampIntervalChargeDeltaMetrics'
          type: array
        intervalMetrics:
          description: Container for the detailed metrics for each rate plan charge in each ramp interval.
          items:
            $ref: '#/components/schemas/RampIntervalChargeMetrics'
          type: array
        name:
          description: The name of the interval.
          type: string
        netTcb:
          description: The net TCB value after discount charges are applied.
          type: number
        netTcv:
          description: The net TCV value after discount charges are applied.
          type: number
        startDate:
          description: The start date of the interval.
          format: date
          type: string
      title: RampIntervalMetrics
      type: object
    RampIntervalResponse:
      properties:
        description:
          description: The short description of the interval.
          type: string
        endDate:
          description: The end date of the interval.
          format: date
          type: string
        name:
          description: The name of the interval.
          type: string
        startDate:
          description: The start date of the interval.
          format: date
          type: string
      title: intervals
      type: object
    GETRampMetricsByOrderNumberResponseType:
      allOf:
      - properties:
          rampMetrics:
            items:
              $ref: '#/components/schemas/OrderRampMetrics'
            type: array
        type: object
      - $ref: '#/components/schemas/CommonResponseType'
    GETRampByRampNumberResponseType:
      allOf:
      - properties:
          ramp:
            $ref: '#/components/schemas/RampResponse'
        type: object
      - $ref: '#/components/schemas/CommonResponseType'
    GETRampsBySubscriptionKeyResponseType:
      allOf:
      - properties:
          ramps:
            items:
              $ref: '#/components/schemas/RampResponse'
            type: array
        type: object
      - $ref: '#/components/schemas/CommonResponseType'
    GETRampMetricsByRampNumberResponseType:
      allOf:
      - properties:
          rampMetrics:
            $ref: '#/components/schemas/RampMetrics'
        type: object
      - $ref: '#/components/schemas/CommonResponseType'
  parameters:
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
