openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Product Charge Definitions API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Product Charge Definitions
  description: 'Use product charge definitions to define the attributes that can determine the charge behavior, such as billing attributes, pricing attributes,

    taxation attributes, or accounting attributes.


    The Product Charge Definition object is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you are interested, please reach out to your CSM.'
paths:
  /v1/product-charge-definitions:
    post:
      summary: Create a product charge definition
      operationId: POST_CreateProductChargeDefinition
      description: 'Creates a product charge definition for a charge. You can create as many product charge definitions as needed for one charge.


        In the request, you must specify the unique ID or number of the charge for which this charge definition is to be created.

        The ID or number of a product rate plan is optional.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTChargeDefinitionResponse'
              example:
                chargeDefinitionId: 8a90988c8b177a24018b17857411002a
                chargeDefinitionNumber: CD-00002089
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTChargeDefinitionRequest'
        required: true
    get:
      summary: List product charge definitions
      operationId: GET_RetrieveProductChargeDefinitions
      description: 'Retrieves basic information about the product charge definitions.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - name: charge
        in: query
        description: 'The unique number or ID of the charge for which the product charge definitions are to be retrieved.

          '
        required: false
        schema:
          type: string
      - name: rateplan
        in: query
        description: 'The unique number or ID of the product rate plan for which the product charge definitions are to be retrieved.

          '
        required: false
        schema:
          type: string
      - name: hide-inherited-values
        in: query
        description: 'The flag that controls whether the response will merge the default charge definition fields for those fields that are not overridden.

          '
        required: false
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductChargeDefinitionsResponse'
              example:
                chargeDefinitions:
                - productChargeDefinitionId: 2c9890f78b0d09d2018b0d13c7fd0004
                  productChargeDefinitionNumber: CD-00000201
                  isDefault: true
                  productRatePlanChargeId: 2c9890f78b0d09d2018b0d13c7fd0004
                  productRatePlanChargeNumber: null
                  productRatePlanId: null
                  productRatePlanNumber: null
                  productRatePlanName: null
                  effectiveStartDate: '2022-10-07 09:00:00'
                  effectiveEndDate: '2023-10-13 09:00:00'
                  listPriceBase: Per_Billing_Period
                  specificListPriceBase: null
                  billingPeriod: Month
                  billingPeriodAlignment: AlignToCharge
                  specificBillingPeriod: null
                  billingTiming: IN_ADVANCE
                  ratingGroup: null
                  taxable: false
                  taxMode: null
                  taxCode: ''
                  termPeriodType: null
                  termType: null
                  term: null
                  uom: null
                  chargeModel: FlatFee
                  defaultQuantity: 1.0
                  prices:
                  - currency: EUR
                    price: 10.0
                  - currency: JPY
                    price: 20.0
                  - currency: USD
                    price: 25.0
                  applyDiscountTo: null
                  discountLevel: null
                  discountClass: null
                  smoothingModel: null
                  numberOfPeriods: null
                  overageCalculationOption: null
                  overageUnusedUnitsCreditOption: null
                  unusedIncludedUnitPrice: null
                  usageRecordRatingOption: null
                  priceChangeOption: null
                  priceIncreasePercentage: null
                  useTenantDefaultForPriceChange: true
                  productDiscountApplyDetails: []
                  endDateCondition: Subscription_End
                  upToPeriods: null
                  upToPeriodsType: null
                  billingDay: DefaultFromCustomer
                  triggerEvent: ContractEffective
                  description: ''
                  revRecCode: null
                  revRecTriggerCondition: null
                  revenueRecognitionRuleName: Recognize upon invoicing
                  useDiscountSpecificAccountingCode: null
                  financeInformation:
                    deferredRevenueAccountingCode: ''
                    deferredRevenueAccountingCodeType: null
                    recognizedRevenueAccountingCode: ''
                    recognizedRevenueAccountingCodeType: null
                    accountsReceivableAccountingCode: null
                    accountsReceivableAccountingCodeType: null
                  deliverySchedule: null
                  isStackedDiscount: false
                success: true
  /v1/product-charge-definitions/bulk:
    post:
      summary: Create product charge definitions
      operationId: POST_CreateProductChargeDefinitionBulk
      description: 'Bulk creates product charge definitions for a charge. You can create up to 1000 product charge definitions at a given time for a specific charge.


        In the request, you must specify the unique ID or number of the charge for which this charge definition is to be created.

        The ID or number of a product rate plan is optional.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTChargeDefinitionBulkResponse'
              example:
                productChargeDefinitions:
                - chargeDefinitionId: 8a90988c8b177a24018b17857411002a
                  chargeDefinitionNumber: CD-00002089
                  success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTChargeDefinitionRequestBulk'
        required: true
    put:
      summary: Update product charge definitions
      operationId: PUT_UpdateProductChargeDefinitionBulk
      description: 'Bulk updates multiple product charge definitions.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductChargeDefinitionsResponse'
              example:
                chargeDefinitions:
                - productChargeDefinitionId: 2c9890f78b0d09d2018b0d13c7fd0004
                  productChargeDefinitionNumber: CD-00000201
                  isDefault: true
                  productRatePlanChargeId: 2c9890f78b0d09d2018b0d13c7fd0004
                  productRatePlanChargeNumber: null
                  productRatePlanId: null
                  productRatePlanNumber: null
                  productRatePlanName: null
                  listPriceBase: Per_Billing_Period
                  specificListPriceBase: null
                  billingPeriod: Month
                  billingPeriodAlignment: AlignToCharge
                  specificBillingPeriod: null
                  billingTiming: IN_ADVANCE
                  ratingGroup: null
                  taxable: false
                  taxMode: null
                  taxCode: ''
                  termPeriodType: null
                  termType: null
                  term: null
                  uom: null
                  chargeModel: FlatFee
                  defaultQuantity: 1.0
                  prices:
                  - currency: EUR
                    price: 10.0
                  - currency: JPY
                    price: 20.0
                  - currency: USD
                    price: 25.0
                  applyDiscountTo: null
                  discountLevel: null
                  discountClass: null
                  smoothingModel: null
                  numberOfPeriods: null
                  overageCalculationOption: null
                  overageUnusedUnitsCreditOption: null
                  unusedIncludedUnitPrice: null
                  usageRecordRatingOption: null
                  priceChangeOption: null
                  priceIncreasePercentage: null
                  useTenantDefaultForPriceChange: true
                  productDiscountApplyDetails: []
                  endDateCondition: Subscription_End
                  upToPeriods: null
                  upToPeriodsType: null
                  billingDay: DefaultFromCustomer
                  triggerEvent: ContractEffective
                  description: ''
                  revRecCode: null
                  revRecTriggerCondition: null
                  revenueRecognitionRuleName: Recognize upon invoicing
                  useDiscountSpecificAccountingCode: null
                  financeInformation:
                    deferredRevenueAccountingCode: ''
                    deferredRevenueAccountingCodeType: null
                    recognizedRevenueAccountingCode: ''
                    recognizedRevenueAccountingCodeType: null
                    accountsReceivableAccountingCode: null
                    accountsReceivableAccountingCodeType: null
                  deliverySchedule: null
                  isStackedDiscount: false
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTProductChargeDefinitionBulkRequest'
        required: true
  /v1/product-charge-definitions/{product-charge-definition-key}:
    get:
      summary: Retrieve a product charge definition
      operationId: GET_RetrieveProductChargeDefinition
      description: 'Retrieves basic information about a product charge definition.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - name: product-charge-definition-key
        in: path
        description: 'The unique number or ID of the product charge definition to be retrieved.

          '
        required: true
        schema:
          type: string
      - name: hide-inherited-values
        in: query
        description: 'The flag that controls whether the response will merge the default charge definition fields for those fields that are not overridden.

          '
        required: false
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductChargeDefinitionResponse'
              example:
                productChargeDefinitionId: 2c9890f78b0d09d2018b0d13c7fd0004
                productChargeDefinitionNumber: CD-00000201
                isDefault: true
                productRatePlanChargeId: 2c9890f78b0d09d2018b0d13c7fd0004
                productRatePlanChargeNumber: null
                productRatePlanId: null
                productRatePlanNumber: null
                productRatePlanName: null
                effectiveStartDate: '2022-10-07 09:00:00'
                effectiveEndDate: '2023-10-13 09:00:00'
                listPriceBase: Per_Billing_Period
                specificListPriceBase: null
                billingPeriod: Month
                billingPeriodAlignment: AlignToCharge
                specificBillingPeriod: null
                billingTiming: IN_ADVANCE
                ratingGroup: null
                taxable: false
                taxMode: null
                taxCode: ''
                termPeriodType: null
                termType: null
                term: null
                uom: null
                chargeModel: FlatFee
                defaultQuantity: 1.0
                prices:
                - currency: EUR
                  price: 10.0
                - currency: JPY
                  price: 20.0
                - currency: USD
                  price: 25.0
                applyDiscountTo: null
                discountLevel: null
                discountClass: null
                smoothingModel: null
                numberOfPeriods: null
                overageCalculationOption: null
                overageUnusedUnitsCreditOption: null
                unusedIncludedUnitPrice: null
                usageRecordRatingOption: null
                priceChangeOption: null
                priceIncreasePercentage: null
                useTenantDefaultForPriceChange: true
                productDiscountApplyDetails: []
                endDateCondition: Subscription_End
                upToPeriods: null
                upToPeriodsType: null
                billingDay: DefaultFromCustomer
                triggerEvent: ContractEffective
                description: ''
                revRecCode: null
                revRecTriggerCondition: null
                revenueRecognitionRuleName: Recognize upon invoicing
                useDiscountSpecificAccountingCode: null
                financeInformation:
                  deferredRevenueAccountingCode: ''
                  deferredRevenueAccountingCodeType: null
                  recognizedRevenueAccountingCode: ''
                  recognizedRevenueAccountingCodeType: null
                  accountsReceivableAccountingCode: null
                  accountsReceivableAccountingCodeType: null
                deliverySchedule: null
                isStackedDiscount: false
                success: true
    put:
      summary: Update a product charge definition
      operationId: PUT_UpdateProductChargeDefinition
      description: 'Update a product charge definition.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - name: product-charge-definition-key
        in: path
        description: 'The unique number or ID of the product charge definition to be updated.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductChargeDefinitionResponse'
              example:
                productChargeDefinitionId: 2c9890f78b0d09d2018b0d13c7fd0004
                productChargeDefinitionNumber: CD-00000201
                isDefault: true
                productRatePlanChargeId: 2c9890f78b0d09d2018b0d13c7fd0004
                productRatePlanChargeNumber: null
                productRatePlanId: null
                productRatePlanNumber: null
                productRatePlanName: null
                effectiveStartDate: '2022-10-07 09:00:00'
                effectiveEndDate: '2023-10-13 09:00:00'
                listPriceBase: Per_Billing_Period
                specificListPriceBase: null
                billingPeriod: Month
                billingPeriodAlignment: AlignToCharge
                specificBillingPeriod: null
                billingTiming: IN_ADVANCE
                ratingGroup: null
                taxable: false
                taxMode: null
                taxCode: ''
                termPeriodType: null
                termType: null
                term: null
                uom: null
                chargeModel: FlatFee
                defaultQuantity: 1.0
                prices:
                - currency: USD
                  price: 10.0
                applyDiscountTo: null
                discountLevel: null
                discountClass: null
                smoothingModel: null
                numberOfPeriods: null
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTProductChargeDefinitionRequest'
        required: true
    delete:
      summary: Delete a product charge definition
      operationId: DELETE_ProductChargeDefnition
      description: 'Deletes a product charge definition.


        **Note**: This operation requires the Attribute-based Pricing feature to be enabled, which is in the **Early Adopter** phase.'
      tags:
      - Product Charge Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - name: product-charge-definition-key
        in: path
        description: 'The unique number or ID of the product charge definition to be deleted.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: 'true'
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
  schemas:
    POSTChargeDefinitionResponse:
      properties:
        chargeDefinitionId:
          description: 'The unique ID of the product charge definition.

            '
          type: string
        chargeDefinitionNumber:
          description: 'The unique number (natural key) of the product charge definition.

            '
          type: string
        success:
          description: 'Indicates whether the request succeeded.

            '
          type: boolean
      type: object
    GETDeliverySchedule:
      properties:
        frequency:
          description: 'The frequency of the delivery. Only weekly delivery is supported now.

            '
          enum:
          - Weekly
          type: string
        friday:
          description: 'The flag to indicate whether the delivery happens on Friday.

            '
          type: boolean
        monday:
          description: 'The flag to indicate whether the delivery happens on Monday.

            '
          type: boolean
        saturday:
          description: 'The flag to indicate whether the delivery happens on Saturday.

            '
          type: boolean
        sunday:
          description: 'The flag to indicate whether the delivery happens on Sunday.

            '
          type: boolean
        thursday:
          description: 'The flag to indicate whether the delivery happens on Thursday.

            '
          type: boolean
        tuesday:
          description: 'The flag to indicate whether the delivery happens on Tuesday.

            '
          type: boolean
        wendesday:
          description: 'The flag to indicate whether the delivery happens on Wendesday.

            '
          type: boolean
      title: DeliverySchedule
      type: object
    POSTChargeDefinitionPricingTier:
      description: 'An array of charge pricing tier.

        '
      items:
        properties:
          currency:
            description: 'The code corresponding to the currency for the tier''s price.

              '
            type: string
          endingUnit:
            description: 'The end number of a range of units for the tier. This field is required for charges based on the Tiered Pricing or Tiered with Overage Pricing charge model.

              '
            format: double
            type: number
          price:
            description: 'The price of the tier if the price format is flat fee, or the price of each unit in the tier if the price format is per unit.

              '
            format: double
            type: number
          priceFormat:
            description: 'The price format of the tier.

              '
            enum:
            - Flat Fee
            - Per Unit
            type: string
          startingUnit:
            description: 'The starting number of a range of units for the tier. This field is required for charges based on the Tiered Pricing or Tiered with Overage Pricing charge model.

              '
            format: double
            type: number
        type: object
      title: pricingTiers
      type: array
    ProductChargeDefinitionObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Product Charge Definition object. The name of each custom field has the form of <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Product Charge Definition object.

        '
      title: productChargeDefinitionFieldsCustom
      type: object
    PUTProductChargeDefinitionBulkRequest:
      example:
        productChargeDefinitions:
        - billingPeriod: Specific_Months
          chargeModel: FlatFee
          defaultQuantity: 10
          listPriceBase: Per_Billing_Period
          prices:
          - currency: USD
            price: 10
          productChargeDefinitionKey: CD-00000037
          specificBillingPeriod: 10
          specificListPriceBase: 101
          taxCode: a valid tax code
          taxMode: TaxExclusive
          taxable: false
          term: 24
          termPeriodType: Month
          termType: TERMED
          uom: Each
      properties:
        productChargeDefinitions:
          description: 'The list of updated product charge definitions.

            '
          items:
            $ref: '#/components/schemas/PUTBulkProductChargeDefinitionRequest'
            title: productChargeDefinitions
          type: array
      type: object
    PUTProductChargeDefinitionRequest:
      example:
        billingPeriod: Specific_Months
        defaultQuantity: 10
        effectiveEndDate: '2024-07-01 00:00:00'
        effectiveStartDate: '2024-01-01 00:00:00'
        listPriceBase: Per_Billing_Period
        prices:
        - currency: USD
          price: 15
        specificBillingPeriod: 5
        specificListPriceBase: 10
        term: 12
        termPeriodType: Month
        termType: TERMED
        uom: Each
      properties:
        billingPeriod:
          description: 'The override value of the billingPeriod for the product charge definition.

            '
          type: string
        billingTiming:
          description: 'The override value of the billingTiming for the product charge definition.

            '
          enum:
          - IN_ADVANCE
          - IN_ARREARS
          type: string
        chargeModel:
          description: 'Determines how to calculate charges. Charge models must be individually activated in Zuora Billing administration.

            '
          enum:
          - DiscountFixedAmount
          - DiscountPercentage
          - FlatFee
          - PerUnit
          - Tiered
          - Volume
          - Delivery
          type: string
        defaultQuantity:
          description: "The default quantity. \n\nThis field is applicable only for one-time and recurring charges.\n"
          type: number
        effectiveEndDate:
          description: 'The effective end date of the product charge definition.

            '
          format: date-time
          type: string
        effectiveStartDate:
          description: 'The effective start date of the product charge definition.

            '
          format: date-time
          type: string
        excludeItemBillingFromRevenueAccounting:
          description: "Indicates whether to exclude the related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: 'Indicates whether to exclude the related rate plan charges and order line items from revenue accounting.


            **Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled.

            '
          type: boolean
        isAllocationEligible:
          description: 'Indicates whether the charge segment is allocation eligible in revenue recognition. The default value is `false`.


            **Values**: `true`, `false`


            **Note**: This field is available only if you have the Additional Revenue Fields property enabled.

            '
          type: boolean
        isUnbilled:
          description: "Specifies how to perform the accounting during revenue recognition. The default value is `false`.\n\n**Values**: `true`, `false`\n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.     \n"
          type: boolean
        listPriceBase:
          description: "The list price base. \n\nThis field is applicable only for recurring charges.\n\n**Note**: The `Per_Year` enum value is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        prices:
          description: 'Container for the new prices to override the existing prices of the product charge definition.

            '
          items:
            $ref: '#/components/schemas/POSTProductChargeDefinitionPricing'
          type: array
        productCategory:
          description: "This field is used to maintain the product category for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
          type: string
        productClass:
          description: "This field is used to maintain the product class for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
          type: string
        productFamily:
          description: "This field is used to maintain the product family for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
          type: string
        productLine:
          description: "This field is used to maintain the product line for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
          type: string
        specificBillingPeriod:
          description: 'The override value of the specificBillingPeriod for the product charge definition.

            '
          type: number
        specificListPriceBase:
          description: "The number of months for the list price base of the charge definition. \nThe field is `null` if the `listPriceBase` field is not set to `Per_Specific_Months`.\n"
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        taxCode:
          description: 'Specifies the tax code for taxation rules. This field is equired when the `Taxable` field is set to `True`.


            **Note**: This value affects the tax calculation of the charge.

            '
          maxLength: 64
          type: string
        taxMode:
          description: 'Determines how to define taxation for the charge. This field is equired when the `Taxable` field is set to `True`.


            **Note**: This value affects the tax calculation of the charge.

            '
          enum:
          - TaxExclusive
          - TaxInclusive
          type: string
        taxable:
          description: 'Determines whether the charge definition is taxable. When this field is set to `True`, the `TaxMode` and `TaxCode` fields are required.


            **Character limit**: 5


            **Values**: `True`, `False`


            **Note**: This value affects the tax calculation of the charge.

            '
          type: boolean
        term:
          description: "The number of periods of a termed subscription that is eligible for this charge definition. This field is applicable when the `termType` field is set to `TERMED`, \nand is to be used together with the `termPeriodType` field.\n"
          type: number
        termPeriodType:
          description: 'Specifies the period type for the subscription term that is eligible for this charge definition.

            '
          enum:
          - Month
          - Year
          - Day
          - Week
          type: string
        termType:
          description: 'The type of the subscription that is eligible for this charge definition.

            '
          enum:
          - TERMED
          - EVERGREEN
          type: string
        uom:
          description: 'Describes the unit of measure (UOM) configured in **Settings > Billing**.


            **Values**: `Each`, `License`, `Seat`, or `null`

            '
          type: string
      type: object
    POSTProductChargeDefinitionPricing:
      properties:
        currency:
          description: 'The currency for the price.

            '
          type: string
        discountAmount:
          description: 'The specific amount for a fixed discount. The field is applicable only for charges based on the Discount-Fixed Amount charge model.

            '
          format: double
          type: number
        discountPercentage:
          description: 'The percentage of discount for a percentage discount. The field is applicable only for charges based on the Discount-Percentage charge model.

            '
          format: double
          type: number
        price:
          description: "The price of this item. \n\nThis field is only applicable for charges based on the following charge models:\n  - Flat Fee\n  - Per Unit\n  - Delivery Pricing\n"
          type: number
        tiers:
          description: "Container for the tiers of the price item. \n\nThis field is only applicable for charges based on the following charge models:\n  - Tiered Pricing\n  - Volume Pricing\n\nYou must specify all relevant fields of all tiers, including pricing information for each currency.\nFor each currency, ensure that the tiers appear in ascending order of `StartingUnit`.\n\nFor example:\n\n```\n[\n  {\n    \"startingUnit\": \"1\",\n    \"endingUnit\": \"150\",\n    \"currency\": \"USD\",\n    \"price\": 1.95,\n    \"priceFormat\": \"Per Unit\"\n  },\n  {\n    \"startingUnit\": \"151\",\n    \"endingUnit\": \"300\",\n    \"currency\": \"USD\",\n    \"price\": 1.45,\n    \"priceFormat\": \"Per Unit\"\n  },\n  {\n    \"startingUnit\": \"1\",\n    \"endingUnit\": \"150\",\n    \"currency\": \"EUR\",\n    \"price\": 1.75,\n    \"priceFormat\": \"Per Unit\"\n  },\n  {\n    \"startingUnit\": \"151\",\n    \"endingUnit\": \"300\",\n    \"currency\": \"EUR\",\n    \"price\": 1.30,\n    \"priceFormat\": \"Per Unit\"\n  }\n]\n```    \n"
          items:
            $ref: '#/components/schemas/POSTChargeDefinitionPricingTier'
          type: array
      title: prices
      type: object
    POSTChargeDefinitionRequestBulk:
      example:
        productChargeDefinitions:
        - billingPeriod: Specific_Months
          chargeModel: FlatFee
          defaultQuantity: 10
          effectiveEndDate: '2025-01-01 00:00:00'
          effectiveStartDate: '2024-01-01 00:00:00'
          listPriceBase: Per_Billing_Period
          prices:
          - currency: USD
            price: 10
          productRatePlanChargeId: 2c9890e489f227bd0189f22f3482001f
          productRatePlanChargeNumber: PRPC-00000015
          productRatePlanId: 2c9890e489f227bd0189f22c3c730002
          productRatePlanNumber: PRP-NEW-00000242
          specificBillingPeriod: 10
          specificListPriceBase: 101
          taxCode: a valid tax code
          taxMode: TaxExclusive
          taxable: false
          term: 24
          termPeriodType: Month
          termType: TERMED
          uom: Each
      properties:
        productChargeDefinitions:
          description: 'Container for the array of product charge definition.

            '
          items:
            $ref: '#/components/schemas/POSTChargeDefinitionRequest'
          type: array
      type: object
    GETProductDiscountApplyDetailsType:
      properties:
        appliedProductRatePlanChargeId:
          description: 'The ID of the product rate plan charge that the discount product rate plan charge applies to.

            '
          type: string
        appliedProductRatePlanId:
          description: 'The ID of the product rate plan that the discount product rate plan charge applies to.

            '
          type: string
      title: productDiscountApplyDetails
      type: object
    GETProductChargeDefinitionResponse:
      properties:
        applyDiscountTo:
          description: 'Indicates which type of charge the discount charge applies to.

            '
          enum:
          - ONETIME
          - RECURRING
          - USAGE
          - ONETIMERECURRING
          - ONETIMEUSAGE
          - RECURRINGUSAGE
          - ONETIMERECURRINGUSAGE
          type: string
        billingDay:
          description: 'The bill cycle type for the charge.

            '
          type: string
        billingPeriod:
          description: 'The billing period for the product charge definition.

            '
          type: string
        billingPeriodAlignment:
          description: 'The billing period alignment setting for the charge.

            '
          enum:
          - AlignToCharge
          - AlignToSubscriptionStart
          - AlignToTermStart
          - AlignToTermEnd
          type: string
        billingTiming:
          description: 'The billing timing setting for the product charge definition.

            '
          enum:
          - IN_ADVANCE
          - IN_ARREARS
          type: string
        chargeModel:
          description: 'Determines how to calculate charges. Charge models must be individually activated in Zuora Billing administration.

            '
          enum:
          - DiscountFixedAmount
          - DiscountPercentage
          - FlatFee
          - PerUnit
          - Overage
          - Tiered
          - TieredWithOverage
          - Volume
          - Delivery
          - MultiAttributePricing
          - PreratedPerUnit
          - PreratedPricing
          - HighWatermarkVolumePricing
          - HighWatermarkTieredPricing
          type: string
        chargeType:
          description: 'Indicates the type of charge.

            '
          enum:
          - OneTime
          - Recurring
          - Usage
          type: string
        customFields:
          $ref: '#/components/schemas/ProductChargeDefinitionObjectCustomFields'
        defaultQuantity:
          description: "The default quantity. \n\nThis field is applicable only for one-time and recurring charges.\n"
          type: number
        deliverySchedule:
          $ref: '#/components/schemas/GETDeliverySchedule'
        description:
          description: 'The description for the charge.

            '
          type: string
        discountClass:
          description: 'The class that the discount belongs to. The discount class defines the order in which discount product rate plan charges are applied.


            For more information, see [Manage Discount Classes](https://knowledgecenter.zuora.com/BC_Subscription_Management/Product_Catalog/B_Charge_Models/Manage_Discount_Classes).

            '
          type: string
        discountLevel:
          description: 'The application scope of the discount charge. For example, if the value of this field is `subscription` and the value of the `applyDiscountTo` field is `RECURRING`, the discount charge applies to all recurring charges in the same subscription as the discount charge.

            '
          enum:
          - rateplan
          - subscription
          - account
          type: string
        effectiveEndDate:
          description: 'The effective end date of the product charge definition.

            '
          format: date-time
          type: string
        effectiveStartDate:
          description: 'The effective start date of the product charge definition.

            '
          format: date-time
          type: string
        endDateCondition:
          description: 'The end date condition for this charge.

            '
          enum:
          - Subscription_End
          - One_Time
          - Fixed_Period
          - Specific_End_Date
          type: string
        excludeItemBillingFromRevenueAccounting:
          description: "Indicates whether to exclude the related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: 'Indicates whether to exclude the related rate plan charges and order line items from revenue accounting.


            **Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled.

            '
          type: boolean
        financeInformation:
          description: 'Container for finance information of the rate plan charge.

            '
          properties:
            accountsReceivableAccountingCode:
              description: 'The accounting code for accounts receivable.

                '
              type: string
            accountsReceivableAccountingCodeType:
              description: 'The type of the accounting code for accounts receivable.

                '
              type: string
            adjustmentLiabilityAccountingCode:
              description: "The accounting code for adjustment liability. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            adjustmentLiabilityAccountingCodeType:
              description: "The type associated with the adjustment liability accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            adjustmentRevenueAccountingCode:
              description: "The accounting code for adjustment revenue. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            adjustmentRevenueAccountingCodeType:
              description: "The type associated with the adjustment revenue accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractAssetAccountingCode:
              description: "The accounting code for contract asset. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractAssetAccountingCodeType:
              description: "The type associated with the contract asset accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractLiabilityAccountingCode:
              description: "The accounting code for contract liability. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractLiabilityAccountingCodeType:
              description: "The type associated with the contract liability accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractRecognizedRevenueAccountingCode:
              description: "The accounting code for contract recognized revenue. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractRecognizedRevenueAccountingCodeType:
              description: "The type associated with the contract recognized revenue accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            deferredRevenueAccountingCode:
              description: 'The accounting code for deferred revenue, such as Monthly Recurring Liability.

                '
              type: string
            deferredRevenueAccountingCodeType:
              description: "The type associated with the deferred revenue accounting code, such as Deferred Revenue. \n"
              type: string
            recognizedRevenueAccountingCode:
              description: 'The accounting code for recognized revenue, such as Monthly Recurring Charges or Overage Charges.

                '
              type: string
            recognizedRevenueAccountingCodeType:
              description: 'The type associated with the recognized revenue accounting code, such as Sales Revenue or Sales Discount.

                '
              type: string
            unbilledReceivablesAccountingCode:
              description: "The accounting code for unbilled receivables. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            unbilledReceivablesAccountingCodeType:
              description: "The type associated with the unbilled receivables accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
          title: financeInformation
          type: object
        isAllocationEligible:
          description: 'Indicates whether the charge segment is allocation eligible in revenue recognition. The default value is `false`.


            **Values**: `true`, `false`


            **Note**: This field is available only if you have the Additional Revenue Fields property enabled.

            '
          type: boolean
        isDefault:
          description: 'Indicates whether this charge definition is the default one for the charge.

            '
          type: boolean
        isStackedDiscount:
          description: "**Note**: This field is only applicable to the Discount - Percentage charge model.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 130 or higher. Otherwise, an error occurs.\n\nThis field indicates whether the discount is to be calculated as stacked discount. Possible values are as follows:\n  - `True`: This is a stacked discount, which should be calculated by stacking with other discounts.\n  - `False`: This is not a stacked discount, which should be calculated in sequence with other discounts.\n\nFor more information, see [Stacked discounts](https://knowledgecenter.zuora.com/Zuora_Billing/Products/Product_Catalog/B_Charge_Models/B_Discount_Charge_Models).\n"
          type: boolean
        isUnbilled:
          description: "Specifies how to perform the accounting during revenue recognition. The default value is `false`.\n\n**Values**: `true`, `false`\n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.     \n"
          type: boolean
        listPriceBase:
          description: "The list price base. \n\nThis field is applicable only for recurring charges.\n\n**Note**: The `Per_Year` enum value is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        numberOfPeriod:
          description: 'Indicates the number of periods to use when calculating charges in an overage smoothing charge model. The valid value is a positive whole number.

            '
          format: int64
          type: integer
        overageCalculationOption:
          description: "Determines when to calculate overage charges. If the value of the `SmoothingMode` field is not specified, the value of this field is ignored.\n\n**Values**: \n  - `EndOfSmoothingPeriod`: This option is used by default. The overage is charged at the end of the smoothing period.\n  - `PerBillingPeriod`: The overage is charged on-demand rather than waiting until the end of the smoothing period.\n"
          enum:
          - EndOfSmoothingPeriod
          - PerBillingPeriod
          type: string
        overageUnusedUnitsCreditOption:
          description: 'Determines whether to credit the customer with unused units of usage.

            '
          enum:
          - NoCredit
          - CreditBySpecificRate
          type: string
        priceChangeOption:
          default: NoChange
          description: 'Applies an automatic price change when a termed subscription is renewed.

            '
          enum:
          - NoChange
          - SpecificPercentageValue
          - UseLatestProductCatalogPricing
          type: string
        priceIncreaseOption:
          description: 'Applies an automatic price change when a termed subscription is renewed.

            '
          enum:
          - FromTenantPercentageValue
          - SpecificPercentageValue
          type: string
        priceIncreasePercentage:
          description: 'Specifies the percentage to increase or decrease the price of a termed subscription''s renewal. Use this field if you set the `priceIncreaseOption` value to `SpecificPercentageValue`.


            **Character limit**: 16


            **Values**: a decimal value between -100 and 100

            '
          format: double
          type: number
        prices:
          description: 'Container for the prices of the product charge definition.

            '
          items:
            $ref: '#/components/schemas/GETProductChargeDefinitionPricing'
          type: array
        productCategory:
          description: "This field is used to maintain the product category for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
          type: string
        productChargeDefinitionId:
          description: 'The unique ID of the product charge definition.

            '
          type: string
        productChargeDefinitionNumber:
          description: 'The unique number (natural key) of the product charge definition.

            '
          type: string
        productClass:
          description: "This field is used to maintain the product class for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
          type: string
        productDiscountApplyDetails:
          description: "Container for the application details about a discount product rate plan charge. \n\nOnly discount product rate plan charges have values for this field.\n"
          items:
            $ref: '#/components/schemas/GETProductDiscountApplyDetailsType'
          type: array
        productFamily:
          description: "This field is used to maintain the product family for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
          type: string
        productLine:
          description: "This field is used to maintain the product line for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
          type: string
        productRatePlanChargeId:
          description: 'The unique ID of the product charge of the charge definition.

            '
          type: string
        productRatePlanChargeNumber:
          description: 'The unique number (natural key) of the product charge of the charge definition.

            '
          type: string
        productRatePlanId:
          description: 'The unique ID of the product rate plan that uses this charge definition.

            '
          type: string
        productRatePlanName:
          description: 'Th name of the product rate plan that uses this charge definition.

            '
          type: string
        productRatePlanNumber:
          description: 'The unique number (natural key) of the product rate plan that uses this charge definition.

            '
          type: string
        ratingGroup:
          default: ByBillingPeriod
          description: "The rating group based on which usage records are rated.\n\nPossible values:                \n  - `ByBillingPeriod`: The rating is based on all the usages in a billing period. \n  - `ByUsageStartDate`: The rating is based on all the usages on the same usage start date. \n  - `ByUsageRecord`: The rating is based on each usage record.\n  - `ByUsageUpload`: The rating is based on all the  usages in a uploaded usage file (`.xls` or `.csv`).\n  - `ByGroupId`: The rating is based on all the usages in a custom group.\n\n**Notes:** \n  - The `ByBillingPeriod` value can be applied for all charge models. \n  - The `ByUsageStartDate`, `ByUsageRecord`, and `ByUsageUpload` values can only be applied for Per Unit, Volume Pricing, and Tiered Pricing charge models. \n  - The `ByGroupId` value is only available if you have the Active Rating feature enabled.\n  - Use this field only for Usage charges. One-time charges and recurring charges return `NULL`.\n"
          enum:
          - ByBillingPeriod
          - ByUsageStartDate
          - ByUsageRecord
          - ByUsageUpload
          - ByGroupId
          type: string
        recognizedRevenueAccount:
          description: "The name of the recognized revenue account for this charge.\n  - Required when the Allow Blank Accounting Code setting is No.\n  - Optional when the Allow Blank Accounting Code setting is Yes.\n\n  This feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).\n"
          maxLength: 100
          type: string
        revRecCode:
          description: 'Associates this product rate plan charge with a specific revenue recognition code.

            '
          maxLength: 70
          type: string
        revRecTriggerCondition:
          description: 'Indicates when revenue recognition begins.

            '
          enum:
          - ContractEffectiveDate
          - ServiceActivationDate
          - CustomerAcceptanceDate
          type: string
        revenueRecognitionRuleName:
          description: 'Determines when to recognize the revenue for this charge.

            '
          enum:
          - Recognize upon invoicing
          - Recognize daily over time
          type: string
        smoothingModel:
          description: 'Indicates the smoothing model for an overage smoothing charge model.

            '
          enum:
          - RollingWindow
          - Rollover
          type: string
        specificBillingPeriod:
          description: 'The specific number of billing period for the product charge definition.

            '
          type: number
        specificListPriceBase:
          description: "The number of months for the list price base of the charge definition.  \nThis field is `null` if the `listPriceBase` field is not set to `Per_Specific_Months`.\n"
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        success:
          description: 'Indicates whether the request succeeded.

            '
          type: boolean
        taxCode:
          description: 'Specifies the tax code for taxation rules.


            **Note**: This value affects the tax calculation of the rate plan charge.

            '
          maxLength: 64
          type: string
        taxMode:
          description: 'Determines how to define taxation for the charge.


            **Note**: This value affects the tax calculation of the rate plan charge.

            '
          enum:
          - TaxExclusive
          - TaxInclusive
          type: string
        taxable:
          description: 'Determines whether the charge definition is taxable.


            **Character limit**: 5


            **Values**: `True`, `False`


            **Note**: This value affects the tax calculation of the rate plan charge.

            '
          type: boolean
        term:
          description: "The number of periods of a termed subscription that is eligible for this charge definition. This field is applicable when the `termType` field is set to `TERMED`, \nand is to be used together with the `termPeriodType` field.\n"
          type: number
        termPeriodType:
          description: 'The period type for the subscription term that is eligible for this charge definition.

            '
          enum:
          - Month
          - Year
          - Day
          - Week
          type: string
        termType:
          description: 'The type of the subscription that is eligible for this charge definition.

            '
          enum:
          - TERMED
          - EVERGREEN
          type: string
        triggerEvent:
          description: "Specifies when to start billing the customer for the charge definition.\n\n**Values**:\n  - `ContractEffective` is the date when the subscription's contract goes into effect and the charge is ready to be billed.\n  - `ServiceActivation` is the date when the services or products for a subscription have been activated and the customers have access.\n  - `CustomerAcceptance` is when the customer accepts the services or products for a subscription.\n"
          enum:
          - ContractEffective
          - ServiceActivation
          - CustomerAcceptance
          type: string
        uom:
          description: 'Indicates the unit of measure (UOM) that is configured in **Settings > Billing** for the product rate plan charge.

            '
          type: string
        upToPeriods:
          description: 'The number of up-to periods for this charge.

            '
          type: number
        upToPeriodsType:
          description: 'The up-to-periods type for this charge.

            '
          enum:
          - Billing_Periods
          - Days
          - Weeks
          - Months
          - Years
          type: string
        usageRecordRatingOption:
          default: EndOfBillingPeriod
          description: 'Determines how Zuora processes usage records for per-unit usage charges.

            '
          enum:
          - EndOfBillingPeriod
          - OnDemand
          type: string
        useDiscountSpecificAccountingCode:
          description: 'Determines whether to define a new accounting code for the new discount charge.


            **Character limit**: 5


            **Values**: `True`, `False`

            '
          type: boolean
        useTenantDefaultForPriceChange:
          description: "Applies the tenant-level percentage uplift value for an automatic price change to a termed subscription's renewal. \n\n**Character limit**: 5\n\n**Values**: `true`, `false`\n"
          type: boolean
      type: object
    POSTChargeDefinitionBulkResponse:
      properties:
        productChargeDefinitions:
          description: 'The list of created product charge definitions.

            '
          items:
            $ref: '#/components/schemas/POSTChargeDefinitionResponse'
          type: array
      type: object
    GETChargeDefinitionPricingTier:
      description: 'An array of charge pricing tiers.

        '
      items:
        properties:
          currency:
            description: 'The code corresponding to the currency for the tier''s price.

              '
            type: string
          discountAmount:
            description: 'The specific amount for a fixed discount. The field is applicable only for charges based on the Discount-Fixed Amount charge model.

              '
            format: double
            type: number
          discountPercentage:
            description: 'The percentage of discount for a percentage discount. The field is applicable only for charges based on the Discount-Percentage charge model.

              '
            format: double
            type: number
          endingUnit:
            description: 'The end number of a range of units for the tier. The field is applicable only for charges based on the Tiered Pricing or Tiered with Overage Pricing charge model.

              '
            format: double
            type: number
          overagePrice:
            description: 'Indicates whether the price is an overage price, which is the price when usage surpasses the last defined tier.

              '
            format: double
            type: number
          price:
            description: 'The price of the tier if the price format is flat fee, or the price of each unit in the tier if the price format is per unit.

              '
            format: double
            type: number
          startingUnit:
            description: 'The starting number of a range of units for the tier. The field is applicable only for charges based on the Tiered Pricing or Tiered with Overage Pricing charge model.

              '
            format: double
            type: number
        type: object
      title: pricingTiers
      type: array
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    GETProductChargeDefinitionsResponse:
      properties:
        chargeDefinitions:
          description: 'The list of the product charge definitions that are retrieved.

            '
          items:
            properties:
              applyDiscountTo:
                description: 'Indicates which type of charge the discount charge applies to.

                  '
                enum:
                - ONETIME
                - RECURRING
                - USAGE
                - ONETIMERECURRING
                - ONETIMEUSAGE
                - RECURRINGUSAGE
                - ONETIMERECURRINGUSAGE
                type: string
              billingDay:
                description: 'The bill cycle type for the charge.

                  '
                type: string
              billingPeriod:
                description: 'The billing period for the product charge definition.

                  '
                type: string
              billingPeriodAlignment:
                description: 'The billing period alignment setting for the charge.

                  '
                enum:
                - AlignToCharge
                - AlignToSubscriptionStart
                - AlignToTermStart
                - AlignToTermEnd
                type: string
              billingTiming:
                description: 'The billing timing setting for the product charge definition.

                  '
                enum:
                - IN_ADVANCE
                - IN_ARREARS
                type: string
              chargeModel:
                description: 'Determines how to calculate charges. Charge models must be individually activated in Zuora Billing administration.

                  '
                enum:
                - DiscountFixedAmount
                - DiscountPercentage
                - FlatFee
                - PerUnit
                - Overage
                - Tiered
                - TieredWithOverage
                - Volume
                - Delivery
                - MultiAttributePricing
                - PreratedPerUnit
                - PreratedPricing
                - HighWatermarkVolumePricing
                - HighWatermarkTieredPricing
                type: string
              chargeType:
                description: 'Indicates the type of charge.

                  '
                enum:
                - OneTime
                - Recurring
                - Usage
                type: string
              customFields:
                $ref: '#/components/schemas/ProductChargeDefinitionObjectCustomFields'
              defaultQuantity:
                description: "The default quantity. \n\nThis field is applicable only for one-time and recurring charges.\n"
                type: number
              deliverySchedule:
                $ref: '#/components/schemas/GETDeliverySchedule'
              description:
                description: 'The description for the charge.

                  '
                type: string
              discountClass:
                description: 'The class that the discount belongs to. The discount class defines the order in which discount product rate plan charges are applied.


                  For more information, see [Manage Discount Classes](https://knowledgecenter.zuora.com/BC_Subscription_Management/Product_Catalog/B_Charge_Models/Manage_Discount_Classes).

                  '
                type: string
              discountLevel:
                description: 'The application scope of the discount charge. For example, if the value of this field is `subscription` and the value of the `applyDiscountTo` field is `RECURRING`, the discount charge applies to all recurring charges in the same subscription as the discount charge.

                  '
                enum:
                - rateplan
                - subscription
                - account
                type: string
              effectiveEndDate:
                description: 'The effective end date of the product charge definition.

                  '
                format: date-time
                type: string
              effectiveStartDate:
                description: 'The effective start date of the product charge definition.

                  '
                format: date-time
                type: string
              endDateCondition:
                description: 'The end date condition for this charge.

                  '
                enum:
                - Subscription_End
                - One_Time
                - Fixed_Period
                - Specific_End_Date
                type: string
              excludeItemBillingFromRevenueAccounting:
                description: "Indicates whether to exclude the related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled. \n"
                type: boolean
              excludeItemBookingFromRevenueAccounting:
                description: 'Indicates whether to exclude the related rate plan charges and order line items from revenue accounting.


                  **Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled.

                  '
                type: boolean
              financeInformation:
                description: 'Container for finance information of the rate plan charge.

                  '
                properties:
                  accountsReceivableAccountingCode:
                    description: 'The accounting code for accounts receivable.

                      '
                    type: string
                  accountsReceivableAccountingCodeType:
                    description: 'The type of the accounting code for accounts receivable.

                      '
                    type: string
                  adjustmentLiabilityAccountingCode:
                    description: "The accounting code for adjustment liability. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  adjustmentLiabilityAccountingCodeType:
                    description: "The type associated with the adjustment liability accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  adjustmentRevenueAccountingCode:
                    description: "The accounting code for adjustment revenue. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  adjustmentRevenueAccountingCodeType:
                    description: "The type associated with the adjustment revenue accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  contractAssetAccountingCode:
                    description: "The accounting code for contract asset. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  contractAssetAccountingCodeType:
                    description: "The type associated with the contract asset accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  contractLiabilityAccountingCode:
                    description: "The accounting code for contract liability. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  contractLiabilityAccountingCodeType:
                    description: "The type associated with the contract liability accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  contractRecognizedRevenueAccountingCode:
                    description: "The accounting code for contract recognized revenue. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  contractRecognizedRevenueAccountingCodeType:
                    description: "The type associated with the contract recognized revenue accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  deferredRevenueAccountingCode:
                    description: 'The accounting code for deferred revenue, such as Monthly Recurring Liability.

                      '
                    type: string
                  deferredRevenueAccountingCodeType:
                    description: "The type associated with the deferred revenue accounting code, such as Deferred Revenue. \n"
                    type: string
                  recognizedRevenueAccountingCode:
                    description: 'The accounting code for recognized revenue, such as Monthly Recurring Charges or Overage Charges.

                      '
                    type: string
                  recognizedRevenueAccountingCodeType:
                    description: 'The type associated with the recognized revenue accounting code, such as Sales Revenue or Sales Discount.

                      '
                    type: string
                  unbilledReceivablesAccountingCode:
                    description: "The accounting code for unbilled receivables. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                  unbilledReceivablesAccountingCodeType:
                    description: "The type associated with the unbilled receivables accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
                    type: string
                title: financeInformation
                type: object
              isAllocationEligible:
                description: 'Indicates whether the charge segment is allocation eligible in revenue recognition. The default value is `false`.


                  **Values**: `true`, `false`


                  **Note**: This field is available only if you have the Additional Revenue Fields property enabled.

                  '
                type: boolean
              isDefault:
                description: 'Indicates whether this charge definition is the default one for the charge.

                  '
                type: boolean
              isStackedDiscount:
                description: "**Note**: This field is only applicable to the Discount - Percentage charge model.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 130 or higher. Otherwise, an error occurs.\n\nThis field indicates whether the discount is to be calculated as stacked discount. Possible values are as follows:\n  - `True`: This is a stacked discount, which should be calculated by stacking with other discounts.\n  - `False`: This is not a stacked discount, which should be calculated in sequence with other discounts.\n\nFor more information, see [Stacked discounts](https://knowledgecenter.zuora.com/Zuora_Billing/Products/Product_Catalog/B_Charge_Models/B_Discount_Charge_Models).\n"
                type: boolean
              isUnbilled:
                description: "Specifies how to perform the accounting during revenue recognition. The default value is `false`.\n\n**Values**: `true`, `false`\n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.     \n"
                type: boolean
              listPriceBase:
                description: "The list price base. \n\nThis field is applicable only for recurring charges.\n\n**Note**: The `Per_Year` enum value is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.\n"
                enum:
                - Per_Billing_Period
                - Per_Month
                - Per_Week
                - Per_Year
                type: string
              numberOfPeriod:
                description: 'Indicates the number of periods to use when calculating charges in an overage smoothing charge model. The valid value is a positive whole number.

                  '
                format: int64
                type: integer
              overageCalculationOption:
                description: "Determines when to calculate overage charges. If the value of the `SmoothingMode` field is not specified, the value of this field is ignored.\n\n**Values**: \n  - `EndOfSmoothingPeriod`: This option is used by default. The overage is charged at the end of the smoothing period.\n  - `PerBillingPeriod`: The overage is charged on-demand rather than waiting until the end of the smoothing period.\n"
                enum:
                - EndOfSmoothingPeriod
                - PerBillingPeriod
                type: string
              overageUnusedUnitsCreditOption:
                description: 'Determines whether to credit the customer with unused units of usage.

                  '
                enum:
                - NoCredit
                - CreditBySpecificRate
                type: string
              priceChangeOption:
                default: NoChange
                description: 'Applies an automatic price change when a termed subscription is renewed.

                  '
                enum:
                - NoChange
                - SpecificPercentageValue
                - UseLatestProductCatalogPricing
                type: string
              priceIncreaseOption:
                description: 'Applies an automatic price change when a termed subscription is renewed.

                  '
                enum:
                - FromTenantPercentageValue
                - SpecificPercentageValue
                type: string
              priceIncreasePercentage:
                description: 'Specifies the percentage to increase or decrease the price of a termed subscription''s renewal. Use this field if you set the `priceIncreaseOption` value to `SpecificPercentageValue`.


                  **Character limit**: 16


                  **Values**: a decimal value between -100 and 100

                  '
                format: double
                type: number
              prices:
                description: 'Container for the prices of the product charge definition.

                  '
                items:
                  $ref: '#/components/schemas/GETProductChargeDefinitionPricing'
                type: array
              productCategory:
                description: "This field is used to maintain the product category for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
                type: string
              productChargeDefinitionId:
                description: 'The unique ID of the product charge definition.

                  '
                type: string
              productChargeDefinitionNumber:
                description: 'The unique number (natural key) of the product charge definition.

                  '
                type: string
              productClass:
                description: "This field is used to maintain the product class for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
                type: string
              productDiscountApplyDetails:
                description: "Container for the application details about a discount product rate plan charge. \n\nOnly discount product rate plan charges have values for this field.\n"
                items:
                  $ref: '#/components/schemas/GETProductDiscountApplyDetailsType'
                type: array
              productFamily:
                description: "This field is used to maintain the product family for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
                type: string
              productLine:
                description: "This field is used to maintain the product line for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
                type: string
              productRatePlanChargeId:
                description: 'The unique ID of the product charge of the charge definition.

                  '
                type: string
              productRatePlanChargeNumber:
                description: 'The unique number (natural key) of the product charge of the charge definition.

                  '
                type: string
              productRatePlanId:
                description: 'The unique ID of the product rate plan that uses this charge definition.

                  '
                type: string
              productRatePlanName:
                description: 'Th name of the product rate plan that uses this charge definition.

                  '
                type: string
              productRatePlanNumber:
                description: 'The unique number (natural key) of the product rate plan that uses this charge definition.

                  '
                type: string
              ratingGroup:
                default: ByBillingPeriod
[...]
