openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference E Invoicing API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: E-Invoicing
  description: 'With the E-Invoicing feature, Zuora supports electronic invoices through an integration with partners that have a local presence, where required, which guarantees compliance with local invoice regulations.


    All the operations in this section are available only if you have the E-Invoicing feature enabled.'
paths:
  /v1/einvoice/service-providers:
    post:
      summary: Create an e-invoicing service provider
      operationId: POST_EInvoicingServiceProvider
      description: 'Creates an e-invoicing service provider.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoicingServiceProviderResponse'
              example:
                id: 4028948972a2bf990172bc9b27724eef
                name: Sovos e-invoice service
                serviceProviderNumber: EISP-00000001
                provider: Sovos
                test: 'false'
                apiKey: e765630e-1cf0-437e-8041-680a85eca651
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEInvoicingServiceProviderRequest'
        required: true
    get:
      summary: List e-invoicing service providers
      operationId: GET_EInvoicingServiceProviders
      description: 'Lists information about e-invoicing service providers.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEInvoicingServiceProvidersResponse'
              example:
                serviceProviders:
                - id: 4028948972a2bf990172bc9b27724eef
                  name: Sovos e-invoice service
                  serviceProviderNumber: EISP-00000001
                  provider: Sovos
                  test: 'false'
                  apiKey: e765630e-1cf0-437e-8041-680a85eca651
  /v1/einvoice/service-providers/{key}:
    get:
      summary: Retrieve an e-invoicing service provider
      operationId: GET_EInvoicingServiceProvider
      description: 'Retrieves information about an e-invoicing service privider.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: 'The unique ID or number of the e-invoicing service provider that you want to retrieve information about.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoicingServiceProviderResponse'
              example:
                id: 4028948972a2bf990172bc9b27724eef
                name: Sovos e-invoice service
                serviceProviderNumber: EISP-00000001
                provider: Sovos
                test: 'false'
                apiKey: e765630e-1cf0-437e-8041-680a85eca651
    put:
      summary: Update an e-invoicing service provider
      operationId: PUT_UpdateEInvoicingServiceProvider
      description: 'Updates information about an e-invoicing service privider.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        required: true
        description: 'The unique ID or number of the e-invoicing service provider that you want to update.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoicingServiceProviderResponse'
              example:
                id: 4028948972a2bf990172bc9b27724eef
                name: Sovos e-invoice service
                serviceProviderNumber: EISP-00000001
                provider: Sovos
                test: 'true'
                apiKey: e765630e-1cf0-437e-8041-680a85eca651
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEInvoicingServiceProviderRequest'
        required: true
    delete:
      summary: Delete an e-invoicing service provider
      operationId: DELETE_EInvoicingServiceProvider
      description: 'Deletes an e-invoicing service privider.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: "The unique ID or number of the e-invoicing service provider that you want to \n"
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/einvoice/business-regions:
    post:
      summary: Create an e-invoicing business region
      operationId: POST_CreateEInvoicingBusinessRegion
      description: 'Creates an e-invoicing business region.


        You must create business regions to store the business detail information as a seller. If you have multiple GSTINs for different states, you can create multiple business region objects for India.


        The business region objects can be looked up according to the country and state, and its related fields can be mapped accordingly within the e-invoice file template.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoicingBusinessRegionResponse'
              example:
                id: 4028b2aa8890c524018890c7e9ef3826
                country: JP
                businessName: legal business name
                businessNumber: '20002039'
                businessNumberSchemaId: 088
                businessRegionNumber: EIBR-00000002
                tradeName: Zuora
                taxRegisterNumber: TAX393999
                addressLine1: ''
                addressLine2: ''
                postalCode: '368779'
                city: Tokyo
                state: ''
                contactName: ''
                email: ''
                phoneNumber: ''
                serviceProviderId: 4028948972a2bf990172bc9b27724ddc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEInvoicingBusinessRegionRequest'
        required: true
    get:
      summary: List e-invoicing business regions
      operationId: GET_EInvoicingBusinessRegions
      description: 'Lists information about e-invoicing business regions.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEInvoicingBusinessRegionsResponse'
              example:
                regions:
                - country: JP
                  businessName: legal business name
                  businessNumber: '20002039'
                  businessNumberSchemaId: 088
                  businessRegionNumber: EIBR-00000008
                  tradeName: Zuora
                  taxRegisterNumber: TAX393999
                  endpointId: 08992
                  endpointSchemeId: 088
                  addressLine1: ''
                  addressLine2: ''
                  postalCode: '368779'
                  city: Tokyo
                  state: ''
                  phoneNumber: ''
                  contactName: ''
                  email: ''
                  serviceProviderId: 4028948972a2bf990172bc9b27724ddc
                - country: FR
                  businessName: legal business name
                  businessNumber: '20002039'
                  businessNumberSchemaId: 088
                  businessRegionNumber: EIBR-00000006
                  tradeName: Zuora
                  taxRegisterNumber: TAX393999
                  endpointId: 08992
                  endpointSchemeId: 088
                  addressLine1: ''
                  addressLine2: ''
                  postalCode: '368779'
                  city: Paris
                  state: ''
                  phoneNumber: ''
                  contactName: ''
                  email: ''
                  serviceProviderId: 4028948972a2bf990172bc9b27724ddc
                success: true
  /v1/einvoice/business-regions/{key}:
    get:
      summary: Retrieve an e-invoicing business region
      operationId: GET_EInvoicingBusinessRegion
      description: 'Retrieves information about an e-invoicing business region.


        You can search for an e-invoicing business region by key. The key can be the unique ID or number of an e-invoicing business region.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: 'The unqiue ID or number of the e-invoicing business region that you want to retrieve information about.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoicingBusinessRegionResponse'
              example:
                id: 8a90f508885201ad018856a2d9070163
                country: IT
                businessName: legal business name
                businessNumber: '20002039'
                businessNumberSchemeId: 088
                businessRegionNumber: EIBR-00000002
                tradeName: Zuora
                endpointId: 08992
                endpointSchemeId: 088
                taxRegisterNumber: TAX393999
                state: ''
                city: Rome
                postalCode: '368779'
                addressLine1: ''
                addressLine2: ''
                contactName: ''
                phoneNumber: ''
                email: ''
                serviceProviderId: 8a90876c8851d877018855e81a6b710d
                success: true
    put:
      summary: Update an e-invoicing business region
      operationId: PUT_UpdateEInvoicingBusinessRegion
      description: 'Updates an e-invoicing business region by key. The key can be the unique ID or number of an e-invoicing business region.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        required: true
        description: 'The unqiue ID or number of the e-invoicing business region that you want to update.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoicingBusinessRegionResponse'
              example:
                country: JP
                businessName: legal business name
                businessNumber: '20002039'
                businessNumberSchemaId: '88'
                businessRegionNumber: EIBR-00000002
                tradeName: Zuora
                taxRegisterNumber: TAX393999
                endpointId: '8992'
                endpointSchemeId: '88'
                addressLine1: null
                addressLine2: null
                postalCode: '368779'
                city: Tokyo
                state: null
                contactName: null
                email: null
                phoneNumber: null
                serviceProviderId: 4028948972a2bf990172bc9b27724ddc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEInvoicingBusinessRegionRequest'
        required: true
    delete:
      summary: Delete an e-invoicing business region
      operationId: DELETE_EInvoicingBusinessRegion
      description: 'Deletes an e-invoicing business region by key. The key can be the unique ID or number of an e-invoicing business region.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: 'The unqiue ID or number of the e-invoicing business region that you want to delete.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/einvoice/templates:
    post:
      summary: Create an e-invoice file template
      operationId: POST_CreateEInvoiceFileTemplate
      description: 'Creates an e-invoice file templates for your billing documents, including invoices, credit memos, and debit memos.


        Zuora provides default e-invoice file templates, so you can just customize them as needed. For example, some country specific fields like HSN (Harmonized System of Nomenclature) might be stored on product rate plan charges.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoiceFileTemplateResponse'
              example:
                id: 4028818484f483d20184f5006b97003f
                name: Sovos e-invoice service
                templateNumber: EITEMP-00000003
                provider: Sovos
                country: IN
                documentType: Invoice
                content: base64 encoded content
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEInvoiceFileTemplateRequest'
        required: true
    get:
      summary: List e-invoice file templates
      operationId: GET_EInvoiceFileTemplates
      description: 'Lists information about e-invoice file templates.


        You can query e-invoice file templates by conditions. For example, if your service provider is Sovos, you can use the following example URL to retrieve information about a list of e-invoice file templates for invoices in India:

        `/v1/einvoice/templates?country=IN&documentType=Invoice&provider=Sovos`


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: country
        in: query
        description: 'The short name of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

          '
        required: true
        schema:
          type: string
      - name: documentType
        in: query
        description: 'The type of billing documents for which the e-invoice file template is intended.

          '
        required: true
        schema:
          type: string
          enum:
          - Invoice
          - CreditMemo
          - DebitMemo
      - name: provider
        in: query
        description: "The name of the e-invoicing service provider that assists in generating e-invoice files. \n"
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEInvoiceFileTemplatesResponse'
              example:
                templates:
                - id: 402833ec89d46b390189d51402d937b0
                  country: SA
                  name: EInvoice Template Name
                  templateNumber: EITEMP-00000006
                  documentType: Invoice
                  provider: Sovos
                - id: 402833ec89d46b390189d514030537b2
                  country: SA
                  name: EInvoice Template Name
                  templateNumber: EITEMP-00000008
                  documentType: CreditMemo
                  provider: Sovos
                - id: 402833ec89d46b390189d514032037b4
                  country: SA
                  name: EInvoice Template Name
                  templateNumber: EITEMP-00000009
                  documentType: DebitMemo
                  provider: Sovos
                success: true
  /v1/einvoice/templates/{key}:
    get:
      summary: Retrieve an e-invoice file template
      operationId: GET_EInvoiceFileTemplate
      description: 'Retrieves information about an e-invoice file template.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: 'The unique number or ID of the e-invoice file template that you want to retrieve information about.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoiceFileTemplateResponse'
              example:
                id: 4028818484f483d20184f5006b97003f
                name: Sovos e-invoice service
                provider: Sovos
                country: IN
                templateNumber: EITEMP-00000003
                documentType: Invoice
                content: base64 encoded content
                success: true
    put:
      summary: Update an e-invoice file template
      operationId: PUT_EInvoiceFileTemplate
      description: 'Updates information about an e-invoice file template.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        required: true
        description: 'The unique number or ID of the e-invoice file template that you want to update.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEInvoiceFileTemplateResponse'
              example:
                id: 4028818484f483d20184f5006b97003f
                name: Sovos e-invoice service
                provider: Sovos
                country: IN
                templateNumber: EITEMP-00000003
                documentType: Invoice
                content: base64 encoded content
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEInvoiceFileTemplateRequest'
        required: true
    delete:
      summary: Delete an e-invoice file template
      operationId: DELETE_EInvoiceFileTemplate
      description: 'Deletes an e-invoice file template by key. The key can be the unique ID or number of an e-invoice file template.


        **Note**: This operation is available only if you have the E-Invoicing feature in **Early Adopter** phase enabled.'
      tags:
      - E-Invoicing
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: key
        in: path
        description: 'The unique ID or number of the e-invoice file template that you want to delete.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    CreateEInvoicingBusinessRegionRequest:
      allOf:
      - properties:
          addressLine1:
            description: 'The first line of the Seller’s address, which is often a street address or business name.

              '
            type: string
          addressLine2:
            description: 'The second line of the Seller’s address, which is often the name of a building.

              '
            type: string
          businessName:
            description: 'The full official name that the Seller is registered with the relevant legal authority.

              '
            maxLength: 255
            type: string
          businessNumber:
            description: 'The specify the unique identifier number of the legal entity or person that you do business with.


              For example, you must use a GSTIN for India and Tax Identification Number (TIN) for Saudi Arabia.

              '
            type: string
          businessNumberSchemaId:
            description: 'The identification scheme identifier that an official registrar issues to identify the Seller as a legal entity or person.

              '
            type: string
          city:
            description: 'The the name of the city where the business is located.

              '
            type: string
          contactName:
            description: 'The name of the Seller contact to receive e-invoicing data.

              '
            maxLength: 255
            type: string
          country:
            description: 'The short name of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

              '
            type: string
          email:
            description: 'The email address of the Seller contact to receive e-invoicing data.

              '
            type: string
          endpointId:
            description: 'The Seller''s electronic address, to which the application-level response to the e-invoice file might be delivered.

              '
            type: string
          endpointSchemeId:
            description: 'The identification scheme identifier of the Seller’s electronic address.

              '
            type: string
          phoneNumber:
            description: 'The business phone number of the Seller contact to receive e-invoicing data.

              '
            type: string
          postalCode:
            description: 'The short code that can identify the business address.

              '
            type: string
          serviceProviderId:
            description: 'The unique ID of the e-invoicing service provider that is associated to the business region.

              '
            type: string
          state:
            description: 'The name of the state or province where the business is located.

              '
            type: string
          taxRegisterNumber:
            description: 'The Seller''s VAT identifier (also known as Seller VAT identification number) or the local identification (defined by the Seller’s address) of the Seller for tax purposes, or a reference that enables the Seller to state the registered tax status.

              '
            type: string
          tradeName:
            description: 'The name that the Seller is known as, other than the legal business name.

              '
            maxLength: 100
            type: string
        required:
        - country
        - businessName
        type: object
      example:
        addressLine1: null
        addressLine2: null
        businessName: legal business name
        businessNumber: '20002039'
        businessNumberSchemaId: 088
        city: Tokyo
        contactName: null
        country: JP
        email: null
        endpointId: 08992
        endpointSchemeId: 088
        phoneNumber: null
        postalCode: '368779'
        serviceProviderId: 4028948972a2bf990172bc9b27724ddc
        state: null
        taxRegisterNumber: TAX393999
        tradeName: Zuora
    UpdateEInvoicingBusinessRegionRequest:
      allOf:
      - properties:
          addressLine1:
            description: 'The first line of the Seller’s address, which is often a street address or business name.

              '
            type: string
          addressLine2:
            description: 'The second line of the Seller’s address, which is often the name of a building.

              '
            type: string
          businessName:
            description: 'The full official name that the Seller is registered with the relevant legal authority.

              '
            maxLength: 255
            type: string
          businessNumber:
            description: 'The specify the unique identifier number of the legal entity or person that you do business with.


              For example, you must use a GSTIN for India and Tax Identification Number (TIN) for Saudi Arabia.

              '
            type: string
          businessNumberSchemaId:
            description: 'The identification scheme identifier that an official registrar issues to identify the Seller as a legal entity or person.

              '
            type: string
          city:
            description: 'The the name of the city where the business is located.

              '
            type: string
          contactName:
            description: 'The name of the Seller contact to receive e-invoicing data.

              '
            maxLength: 255
            type: string
          country:
            description: 'The short name of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

              '
            type: string
          email:
            description: 'The email address of the Seller contact to receive e-invoicing data.

              '
            type: string
          endpointId:
            description: 'The Seller''s electronic address, to which the application-level response to the e-invoice file might be delivered.

              '
            type: string
          endpointSchemeId:
            description: 'The identification scheme identifier of the Seller’s electronic address.

              '
            type: string
          phoneNumber:
            description: 'The business phone number of the Seller contact to receive e-invoicing data.

              '
            type: string
          postalCode:
            description: 'The short code that can identify the business address.

              '
            type: string
          serviceProviderId:
            description: 'The unique ID of the e-invoicing service provider that is associated to the business region.

              '
            type: string
          state:
            description: 'The name of the state or province where the business is located.

              '
            type: string
          taxRegisterNumber:
            description: 'The Seller''s VAT identifier (also known as Seller VAT identification number) or the local identification (defined by the Seller’s address) of the Seller for tax purposes, or a reference that enables the Seller to state the registered tax status.

              '
            type: string
          tradeName:
            description: 'The name that the Seller is known as, other than the legal business name.

              '
            maxLength: 100
            type: string
        type: object
      example:
        addressLine1: null
        addressLine2: null
        businessName: legal business name
        businessNumber": '20002039'
        businessNumberSchemaId: 088
        city: Tokyo
        contactName: null
        country: JP
        email: null
        endpointId: 08992
        endpointSchemeId: 088
        phoneNumber: null
        postalCode: '368779'
        serviceProviderId: 4028948972a2bf990172bc9b27724ddc
        state: null
        taxRegisterNumber: TAX393999
        tradeName: Zuora
    ListEInvoicingServiceProvidersResponse:
      properties:
        serviceProviders:
          description: 'Container for e-invoicing service providers.

            '
          items:
            $ref: '#/components/schemas/GetEInvoicingServiceProviderResponse'
          type: array
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    GetEInvoicingServiceProviderResponse:
      allOf:
      - properties:
          apiKey:
            description: 'You must create authentication keys (API and Secret Keys) from a third-party service provider. With hese keys, you can send requests and interact with the third-party integration endpoints.

              '
            type: string
          id:
            description: 'The ID of the e-invoicing service provider.

              '
            type: string
          name:
            description: 'The name of the e-invoicing service provider.

              '
            maxLength: 100
            type: string
          provider:
            description: 'The name of the e-invoicing service provider that can help you generate e-invoice files for billing documents.

              '
            enum:
            - Sovos
            type: string
          serviceProviderNumber:
            description: 'The unique number of the e-invoicing service provider.

              '
            type: string
          test:
            description: "Whether the e-invoicing service provider's configuration is intended for testing. \n\n- If you set this field to `true`, requests are directed to the testing integration endpoints.\nIf you set this field to `false`, requests are directed to the production integration endpoints.\n"
            type: boolean
        title: serviceProviders
        type: object
    UpdateEInvoicingServiceProviderRequest:
      allOf:
      - properties:
          apiKey:
            description: 'You must create authentication keys (API and Secret Keys) from a third-party service provider. With hese keys, you can send requests and interact with the third-party integration endpoints.

              '
            type: string
          name:
            description: 'The name of the e-invoicing service provider.

              '
            maxLength: 100
            type: string
          secretKey:
            description: 'You must create authentication keys (API and Secret Keys) from a third-party service provider. With hese keys, you can send requests and interact with the third-party integration endpoints.

              '
          test:
            description: "Whether the e-invoicing service provider's configuration is intended for testing. \n\n- If you set this field to `true`, requests are directed to the testing integration endpoints.\nIf you set this field to `false`, requests are directed to the production integration endpoints.\n"
            type: boolean
        type: object
      example:
        apiKey: e765630e-1cf0-437e-8041-680a85eca651
        name: Sovos e-invoice service
        secretKey: xxxxxxxxx
        test: false
    GetEInvoiceFileTemplateResponse:
      allOf:
      - properties:
          content:
            description: 'The content of the e-invoice file template, which must be encoded in Base64 format.

              '
            type: string
          country:
            description: 'The short name of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

              '
            type: boolean
          documentType:
            description: 'The type of billing document for which the e-invoice file template is intended.

              '
            enum:
            - Invoice
            - CreditMemo
            - DebitMemo
            type: string
          id:
            description: 'The unique ID of the e-invoice file template.

              '
            type: string
          name:
            description: 'The name of the e-invoice file template.

              '
            maxLength: 255
            type: string
          provider:
            description: "The name of the e-invoicing service provider that assists in generating e-invoice files for billing documents. \n"
            enum:
            - Sovos
            type: string
          templateNumber:
            description: 'The unique number of the e-invoice file template.

              '
            type: string
        title: templates
        type: object
    GetEInvoicingBusinessRegionResponse:
      allOf:
      - properties:
          addressLine1:
            description: 'The first line of the Seller’s address, which is often a street address or business name.

              '
            type: string
          addressLine2:
            description: 'The second line of the Seller’s address, which is often the name of a building.

              '
            type: string
          businessName:
            description: 'The full official name that the Seller is registered with the relevant legal authority.

              '
            maxLength: 255
            type: string
          businessNumber:
            description: 'The specify the unique identifier number of the legal entity or person that you do business with.


              For example, you must use a GSTIN for India and Tax Identification Number (TIN) for Saudi Arabia.

              '
            type: string
          businessNumberSchemaId:
            description: 'The identification scheme identifier that an official registrar issues to identify the Seller as a legal entity or person.

              '
            type: string
          businessRegionNumber:
            description: 'The unique number of the e-invoicing business region.

              '
            type: string
          city:
            description: 'The the name of the city where the business is located.

              '
            type: string
          contactName:
            description: 'The name of the Seller contact to receive e-invoicing data.

              '
            maxLength: 255
            type: string
          country:
            description: 'The short name of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

              '
            type: string
          email:
            description: 'The email address of the Seller contact to receive e-invoicing data.

              '
            type: string
          endpointId:
            description: 'The Seller''s electronic address, to which the application-level response to the e-invoice file might be delivered.

              '
            type: string
          endpointSchemeId:
            description: 'The identification scheme identifier of the Seller’s electronic address.

              '
            type: string
          id:
            description: 'The unique ID of the e-invoicing business region.

              '
            type: string
          phoneNumber:
            description: 'The business phone number of the Seller contact to receive e-invoicing data.

              '
            type: string
          postalCode:
            description: 'The short code that can identify the business address.

              '
            type: string
          serviceProviderId:
            description: 'The unique ID of the e-invoicing service provider that is associated to the business region.

              '
            type: string
          state:
            description: 'The name of the state or province where the business is located.

              '
            type: string
          taxRegisterNumber:
            description: 'The Seller''s VAT identifier (also known as Seller VAT identification number) or the local identification (defined by the Seller’s address) of the Seller for tax purposes, or a reference that enables the Seller to state the registered tax status.

              '
            type: string
          tradeName:
            description: 'The name that the Seller is known as, other than the legal business name.

              '
            maxLength: 100
            type: string
        title: regions
        type: object
    ListEInvoicingBusinessRegionsResponse:
      properties:
        regions:
          description: 'Container for e-invoicing business regions.

            '
          items:
            $ref: '#/components/schemas/GetEInvoicingBusinessRegionResponse'
          type: array
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    ListEInvoiceFileTemplatesResponse:
      properties:
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
        templates:
          description: 'Container for e-invoice file emplates.

            '
          items:
            $ref: '#/components/schemas/GetEInvoiceFileTemplateResponse'
          type: array
      type: object
    UpdateEInvoiceFileTemplateRequest:
      allOf:
      - properties:
          content:
            description: 'The content of the e-invoice file template, which must be encoded in Base64 format.

              '
            type: string
          country:
            description: 'The short name of of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

              '
            type: string
          documentType:
            description: 'The type of billing documents, which the e-invoice file template is intended for.

              '
            enum:
            - Invoice
            - CreditMemo
            - DebitMemo
            type: string
          name:
            description: 'The name of the e-invoice file template.

              '
            maxLength: 255
            type: string
          provider:
            description: 'The name of an e-invoicing service provider that assists in generating e-invoice files.

              '
            enum:
            - Sovos
            type: string
        type: object
      example:
        content: base64 encoded content
        country: IN
        documentType: Invoice
        name: Sovos e-invoice service
        provider: Sovos
    CreateEInvoiceFileTemplateRequest:
      allOf:
      - properties:
          content:
            description: 'The content of the e-invoice file template, which must be encoded in Base64 format.

              '
            type: string
          country:
            description: 'The short name of of a country or region where you must comply with e-invoicing requirements. For example, `IN` for India. For the full list of country names and codes, see <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/A_Country_Names_and_Their_ISO_Codes" target="_blank">ISO Standard Country Codes</a>.

              '
            type: string
          documentType:
            description: 'The type of billing documents, which the e-invoice file template is intended for.

              '
            enum:
            - Invoice
            - CreditMemo
            - DebitMemo
            type: string
          name:
            description: 'The name of the e-invoice file template.

              '
            maxLength: 255
            type: string
          provider:
            description: 'The name of an e-invoicing service provider that assists in generating e-invoice files.

              '
            enum:
            - Sovos
            type: string
        required:
        - country
        - documentType
        - provider
        - content
        - name
        type: object
      example:
        content: base64 encoded content
        country: IN
        documentType: Invoice
        name: Sovos e-invoice service
        provider: Sovos
    CreateEInvoicingServiceProviderRequest:
      allOf:
      - properties:
          apiKey:
            description: 'You must create authentication keys (API and Secret Keys) from a third-party service provider. With hese keys, you can send requests and interact with the third-party integration endpoints.

              '
            type: string
          name:
            description: 'The name of the e-invoicing service provider.

              '
            maxLength: 100
            type: string
          provider:
            description: 'The name of the e-invoicing service provider that can help you generate e-invoice files for billing documents.

              '
            enum:
            - Sovos
            type: string
          secretKey:
            description: 'You must create authentication keys (API and Secret Keys) from a third-party service provider. With hese keys, you can send requests and interact with the third-party integration endpoints.

              '
            type: string
          test:
            description: "Whether the e-invoicing service provider's configuration is intended for testing. \n\n- If you set this field to `true`, requests are directed to the testing integration endpoints.\nIf you set this field to `false`, requests are directed to the production integration endpoints.\n"
            type: boolean
        required:
        - name
        - provider
        - apiKey
        - secretKey
        type: object
      example:
        apiKey: e765630e-1cf0-437e-8041-680a85eca651
        name: Sovos e-invoice service
        provider: Sovos
        secretKey: xxxxxxxxx
        test: false
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
