openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Payment Method Snapshots API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Payment Method Snapshots
  description: 'A Payment Method Snapshot is a copy of the particular Payment Method used in a transaction. If the Payment Method is deleted, the Snapshot continues to retain the data used in each of the past transactions.

    As such, the Snapshot helps with display of historical transactions, integrations to external systems, and reporting.'
paths:
  /v1/object/payment-method-snapshot/{id}:
    get:
      summary: 'CRUD: Retrieve a payment method snapshot'
      operationId: Object_GETPaymentMethodSnapshot
      description: 'This REST API reference describes how to retrieve a Payment Method Snapshot.


        A Payment Method Snapshot is a copy of the particular Payment Method used in a transaction. If the Payment Method is deleted, the Payment Method Snapshot continues to retain the data used in each of the past transactions.


        ### Notes

        The following Payment Method fields are not available in Payment Method Snapshots:


        * `Active`

        * `AchAddress1`

        * `AchAddress2`

        * `CreatedById`

        * `CreatedDate`

        * `UpdatedById`

        * `UpdatedDate`


        The Payment Method Snapshot field `PaymentMethodId` is not available in Payment Methods.'
      tags:
      - Payment Method Snapshots
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: fields
        in: query
        required: false
        description: Object fields to return
        schema:
          type: string
      - name: id
        in: path
        description: Object id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyGetPaymentMethodSnapshot'
              example:
                CreditCardExpirationMonth: 12
                CreditCardAddress1: 312 2nd Ave W
                Id: 2c93808457d787030157e0314f2245d8
                CreditCardExpirationYear: 2020
                CreditCardCity: Seattle
                CreditCardState: Washington
                AccountId: 2c93808457d787030157e0314c0945d4
                NumConsecutiveFailures: 0
                CreditCardType: Visa
                BankIdentificationNumber: '411111'
                TotalNumberOfProcessedPayments: 0
                CreditCardPostalCode: '98119'
                CreditCardCountry: United States
                PaymentMethodId: 2c93808457d787030157e0314e8145d7
                CreditCardMaskNumber: '************1111'
                CreditCardHolderName: Somebody
                TotalNumberOfErrorPayments: 0
                UseDefaultRetryRule: true
                Type: CreditCard
                PaymentMethodStatus: Active
                IdentityNumber: ''
                IsCompany: false
                CompanyName: ''
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
        '404':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyNoDataResponse'
              example:
                records: {}
                size: 0
                done: true
components:
  schemas:
    ProxyNoDataResponse:
      properties:
        done:
          description: ''
          type: boolean
        records:
          description: ''
          items:
            type: object
          type: array
        size:
          description: ''
          type: integer
      type: object
    ProxyGetPaymentMethodSnapshot:
      properties:
        AccountId:
          description: The ID of the customer account associated with this payment method.
          type: string
        AchAbaCode:
          description: The nine-digit routing number or ABA number used by banks. Applicable to ACH payment methods.
          type: string
        AchAccountName:
          description: The name of the account holder, which can be either a person or a company. Applicable to ACH payment methods.
          type: string
        AchAccountNumberMask:
          description: 'This is a masked displayable version of the ACH account number, used for security purposes. For example: `XXXXXXXXX54321`.'
          type: string
        AchAccountType:
          description: The type of bank account associated with the ACH payment.
          enum:
          - BusinessChecking
          - Checking
          - Saving
          type: string
        AchBankName:
          description: The name of the bank where the ACH payment account is held.
          type: string
        BankBranchCode:
          description: The branch code of the bank used for direct debit.
          type: string
        BankCheckDigit:
          description: The check digit in the international bank account number, which confirms the validity of the account. Applicable to direct debit payment methods.
          type: string
        BankCity:
          description: The city of the direct debit bank.
          type: string
        BankCode:
          description: The sort code or number that identifies the bank. This is also known as the sort code.
          type: string
        BankIdentificationNumber:
          description: The first six or eight digits of the payment method's number, such as the credit card number or account number. Banks use this number to identify a payment method.
          type: string
        BankName:
          description: The name of the direct debit bank.
          type: string
        BankPostalCode:
          description: The zip code or postal code of the direct debit bank.
          type: string
        BankStreetName:
          description: The name of the street of the direct debit bank.
          type: string
        BankStreetNumber:
          description: The number of the direct debit bank.
          type: string
        BankTransferAccountName:
          description: The name on the direct debit bank account.
          type: string
        BankTransferAccountNumberMask:
          description: 'This is a masked displayable version of the bank account number, used for security purposes. For example: `XXXXXXXXX54321`.'
          type: string
        BankTransferAccountType:
          description: The type of the customer's bank account. Applicable to direct debit payment methods.
          type: string
        BankTransferType:
          description: "Specifies the type of direct debit transfer. The value of this field is dependent on the country of the user.\n\nPossible Values: \n\n\n* `AutomatischIncasso` (NL)\n\n* `LastschriftDE` (Germany)\n\n* `LastschriftAT` (Austria)\n\n* `DemandeDePrelevement` (FR)\n\n* `DirectDebitUK` (UK)\n\n* `Domicil` (Belgium)\n\n* `LastschriftCH` (CH)\n\n* `RID` (Italy)\n\n* `OrdenDeDomiciliacion` (Spain)\n* `Autogiro` (Sweden)\n* `Betalingsservice` (Denmark)\n"
          enum:
          - AutomatischIncasso
          - LastschriftDE
          - LastschriftAT
          - DemandeDePrelevement
          - DirectDebitUK
          - Domicil
          - LastschriftCH
          - RID
          - OrdenDeDomiciliacion
          - Autogiro
          - Betalingsservice
          type: string
        BusinessIdentificationCode:
          description: The business identification code for Swiss direct payment methods that use the Global Collect payment gateway. Only applicable to direct debit payments in Switzerland with Global Collect.
          type: string
        City:
          description: The city of the customer's address. Applicable to debit payment methods.
          type: string
        CompanyName:
          description: 'The name of the company.

            '
          type: string
        Country:
          description: The two-letter country code of the customer's address. Applicable to direct debit payment methods.
          type: string
        CreditCardAddress1:
          description: The first line of the card holder's address, which is often a street address or business name. Applicable to credit card and direct debit payment methods.
          type: string
        CreditCardAddress2:
          description: The second line of the card holder's address. Applicable to credit card and direct debit payment methods.
          type: string
        CreditCardCity:
          description: The city of the card holder's address. Applicable to credit card and direct debit payment methods.
          type: string
        CreditCardCountry:
          description: The country of the card holder's address.
          type: string
        CreditCardExpirationMonth:
          description: The expiration month of the credit card or debit card. Applicable to credit card and direct debit payment methods.
          format: int32
          type: integer
        CreditCardExpirationYear:
          description: The expiration month of the credit card or debit card. Applicable to credit card and direct debit payment methods.
          format: int32
          type: integer
        CreditCardHolderName:
          description: The full name of the card holder. Applicable to credit card and direct debit payment methods.
          type: string
        CreditCardMaskNumber:
          description: A masked version of the credit or debit card number.
          type: string
        CreditCardPostalCode:
          description: The billing address's zip code.
          type: string
        CreditCardState:
          description: The billing address's state. Applicable if `CreditCardCountry` is either Canada or the US.
          type: string
        CreditCardType:
          description: The type of credit card or debit card.
          enum:
          - AmericanExpress
          - Discover
          - MasterCard
          - Visa
          type: string
        DeviceSessionId:
          description: The session ID of the user when the `PaymentMethod` was created or updated.
          type: string
        Email:
          description: An email address for the payment method in addition to the bill to contact email address.
          type: string
        ExistingMandate:
          description: Indicates if the customer has an existing mandate or a new mandate. Only applicable to direct debit payment methods.
          enum:
          - 'Yes'
          - 'No'
          type: string
        FirstName:
          description: The customer's first name. Only applicable to direct debit payment methods.
          type: string
        IBAN:
          description: The International Bank Account Number. Only applicable to direct debit payment methods.
          type: string
        IPAddress:
          description: The IP address of the user when the payment method was created or updated.
          type: string
        Id:
          description: Object identifier.
          type: string
        IdentityNumber:
          description: "The unique identity number of the customer account. \n"
          type: string
        IsCompany:
          description: 'Whether the customer account is a company.

            '
          type: boolean
        LastFailedSaleTransactionDate:
          description: The date of the last failed attempt to collect payment with this payment method.
          format: date-time
          type: string
        LastName:
          description: The customer's last name. Only applicable to direct debit payment methods.
          type: string
        LastTransactionDateTime:
          description: The date of the most recent transaction.
          format: date-time
          type: string
        LastTransactionStatus:
          description: The status of the most recent transaction.
          type: string
        MandateCreationDate:
          description: The date when the mandate was created, in `yyyy-mm-dd` format. A mandate is a signed authorization for UK and NL customers. Only applicable to direct debit payment methods.
          format: date
          type: string
        MandateID:
          description: The ID of the mandate. A mandate is a signed authorization for UK and NL customers. Only applicable to direct debit payment methods.
          type: string
        MandateReceived:
          description: Indicates if  the mandate was received. A mandate is a signed authorization for UK and NL customers. Only applicable to direct debit payment methods.
          type: string
        MandateUpdateDate:
          description: The date when the mandate was last updated, in `yyyy-mm-dd` format. A mandate is a signed authorization for UK and NL customers. Only applicable to direct debit payment methods.
          format: date
          type: string
        MaxConsecutivePaymentFailures:
          description: The number of allowable consecutive failures Zuora attempts with the payment method before stopping.
          type: integer
        Name:
          description: The name of the payment method.
          type: string
        NumConsecutiveFailures:
          description: The number of consecutive failed payment for the payment method.
          format: int32
          type: integer
        PaymentMethodId:
          description: Object identifier of the payment method.
          type: string
        PaymentMethodStatus:
          description: Specifies the status of the payment method.
          enum:
          - Active
          - Closed
          type: string
        PaymentRetryWindow:
          description: The retry interval setting, which prevents making a payment attempt if the last failed attempt was within the last specified number of hours.
          type: integer
        PaypalBaid:
          description: The PayPal billing agreement ID, which is a contract between two PayPal accounts.
          type: string
        PaypalEmail:
          description: The email address associated with the account holder's PayPal account or of the PayPal account of the person paying for the service.
          type: string
        PaypalPreapprovalKey:
          description: PayPal's Adaptive Payments API key.
          type: string
        PaypalType:
          description: 'Specifies the PayPal gateway: PayFlow Pro (Express Checkout) or Adaptive Payments.'
          enum:
          - ExpressCheckout
          - AdaptivePayments
          type: string
        Phone:
          description: The phone number that the account holder registered with the bank. This field is used for credit card validation when passing to a gateway.
          type: string
        PostalCode:
          description: The zip code of the customer's address. Only applicable to direct debit payment methods.
          type: string
        SecondTokenId:
          description: A gateway unique identifier that replaces sensitive payment method data. Applicable to CC Reference Transaction payment methods.
          type: string
        State:
          description: The state of the customer's address. Only applicable to direct debit payment methods.
          type: string
        StreetName:
          description: The street name of the customer's address. Only applicable to direct debit payment methods.
          type: string
        StreetNumber:
          description: The street number of the customer's address. Only applicable to direct debit payment methods.
          type: string
        TokenId:
          description: A gateway unique identifier that replaces sensitive payment method data or represents a gateway's unique customer profile. Applicable to CC Reference Transaction payment methods.
          type: string
        TotalNumberOfErrorPayments:
          description: The number of error payments that used this payment method.
          format: int32
          type: integer
        TotalNumberOfProcessedPayments:
          description: The number of successful payments that used this payment method.
          format: int32
          type: integer
        Type:
          description: The type of payment method.
          enum:
          - ACH
          - ApplePay
          - BankTransfer
          - Cash
          - Check
          - CreditCard
          - CreditCardReferenceTransaction
          - DebitCard
          - Other
          - PayPal
          - WireTransfer
          type: string
        UseDefaultRetryRule:
          description: Determines whether to use the default retry rules configured in the Zuora Payments settings.
          type: boolean
      type: object
    ProxyUnauthorizedResponse:
      properties:
        message:
          description: 'Error message.


            If the error message is "Authentication error", ensure that the `Authorization` request header contains valid authentication credentials, then retry the request. See [Authentication](/rest-api/general-concepts/authentication/) for more information.


            If the error message is "Failed to get user info", retry the request.

            '
          type: string
      type: object
  parameters:
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
