openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Contact Snapshots API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Contact Snapshots
  description: Every time a contact is updated a snapshot is taken.
paths:
  /v1/contact-snapshots/{contact-snapshot-id}:
    get:
      tags:
      - Contact Snapshots
      summary: Retrieve a contact snapshot
      description: Retrieves detailed information about the snapshot of a contact, either a bill-to contact or sold-to contact.
      operationId: GET_ContactSnapshot
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: contact-snapshot-id
        in: path
        description: 'The unique ID of the contact snapshot to be retrieved. For example, 2c92c8955bd63cc1015bd7c151af02ab.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETContactSnapshotResponse'
              example:
                address1: 4th street Custom colony
                address2: Thoraipakkam
                city: Chennai
                contactId: 4028c7628741ebe3018745f2c4123514
                country: India
                county: null
                fax: 43212
                firstName: Pat
                homePhone: 09877
                id: 4028c7628741ebe3018745f2c4133515
                lastName: Parker
                mobilePhone: 1234567890
                nickname: this is a nick name
                otherPhone: 9876543210
                otherPhoneType: Work
                personalEmail: test123@gmail.com
                state: TN
                taxRegion: null
                workEmail: test123@zuora.com
                workPhone: 123
                postalCode: 123456
                description: null
                success: true
components:
  parameters:
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    GETContactSnapshotResponse:
      allOf:
      - properties:
          address1:
            description: 'The first line for the address of the contact, which is often a street address or business name.

              '
            type: string
          address2:
            description: 'The second line for the address of the contact, which is mostly the locality.

              '
            type: string
          city:
            description: 'The city for the address of the contact.

              '
            type: string
          contactId:
            description: 'The Zuora ID of the contact who the snapshot belongs to.

              '
            type: string
          country:
            description: 'The country for the address of the contact.

              '
            type: string
          county:
            description: 'The county for the address of the contact. The field value might optionally be used by Zuora Tax to calculate county tax.

              '
            type: string
          description:
            description: 'A description of the contact.

              '
            type: string
          fax:
            description: 'The fax number of the contact.

              '
            format: number
            type: string
          firstName:
            description: 'The first name of the contact.

              '
            type: string
          homePhone:
            description: 'The home phone number of the contact.

              '
            format: number
            type: string
          id:
            description: 'The unique ID of the contact snapshot.

              '
            type: string
          lastName:
            description: 'The last name of the contact.

              '
            type: string
          mobilePhone:
            description: 'The mobile phone number of the contact.

              '
            format: number
            type: string
          nickname:
            description: 'A nickname for the contact.

              '
            type: string
          otherPhone:
            description: 'An additional phone number for the contact.

              '
            type: string
          otherPhoneType:
            description: 'The type of the additional phone number.

              '
            enum:
            - Work
            - Mobile
            - Home
            - Other
            type: string
          personalEmail:
            description: 'The personal email address of the contact.

              '
            type: string
          postalCode:
            description: 'The postal code for the address of the contact.

              '
            format: number
            type: string
          state:
            description: 'The state or province for the address of the contact.

              '
            type: string
          taxRegion:
            description: 'If using Zuora Tax rules.

              '
            type: string
          workEmail:
            description: 'The business email address of the contact.

              '
            type: string
          workPhone:
            description: 'The business email address of the contact.

              '
            format: number
            type: string
        type: object
      - $ref: '#/components/schemas/ContactSnapshotObjectCustomFields'
    ContactSnapshotObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Contact Snapshot object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Custom_fields/Manage_custom_fields" target="_blank">Manage custom fields</a>.

          '
      description: 'Container for custom fields of a Contact Snapshot object.

        '
      title: contactSnapshotFieldsCustom
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
