openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Order Line Items API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Order Line Items
  description: 'Use order line item to launch non-subscription and unified monetization business models in Zuora, in addition to subscription business models.

    For more information about order line items, see Order Line Items.'
paths:
  /v1/order-line-items/{itemId}:
    get:
      summary: Retrieve an order line item
      operationId: GET_OrderLineItem
      description: '**Note:** The Order Line Items feature is now generally available to all Zuora customers. You need to enable the Orders feature to access the Order Line Items feature. As of Zuora Billing Release 313 (November 2021), new customers who onboard on Orders will have the Order Line Items feature enabled by default. If you are a new customer who onboard on Orders Harmonization and want to enable the Order Line Items feature, submit a request at Zuora Global Support. If you are an existing Orders or Orders Harmonization customer and want to enable the Order Line Items feature, submit a request at Zuora Global Support.


        Retrieves the detailed information about a specified order line item. The following tutorial demonstrates how to use this operation:

        * View details of an order line item'
      tags:
      - Order Line Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: itemId
        in: path
        description: The id of the Order Line Item to retrieve.
        required: true
        schema:
          type: string
          format: UUID
      - name: fulfillment
        in: query
        description: 'Return the related fulfillments or not.

          '
        required: false
        schema:
          type: boolean
          default: false
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderLineItemResponseType'
              example:
                success: true
                orderLineItem:
                  id: 4028fc827a0e48c1017a0e4dccc60002
                  orderId: 4028fc827a0e48c1017a0e58b9330014
                  itemName: webcam
                  itemNumber: '1'
                  itemState: Executing
                  itemType: Product
                  description: With Dual Stereo Microphones, HD 1080p, Black,USB connectivity for ease of use.
                  relatedSubscriptionNumber: Warranty-00002
                  purchaseOrderNumber: 960-000764
                  productCode: C9201
                  amount: 10000
                  amountWithoutTax: 10000
                  quantity: 2
                  amountPerUnit: 5000
                  listPricePerUnit: 59
                  listPrice: 118
                  billTargetDate: null
                  soldTo: 4028fc828244a0ac018244dfc9a90bee
                  soldToSnapshotId: 4028fc828244a0ac018244dfc9b00bf0
                  billTo: 2c9081a03c6d7b51013c6d7e2dfc09fa
                  billToSnapshotId: 4028fc8487c0a43c0187c12a91500060
                  ownerAccountId: ff80808187ff38570187ff433f974203
                  ownerAccountNumber: AN_1683614809986
                  ownerAccountName: AC_AC_16836148099861683614809986
                  invoiceOwnerAccountId: ff80808187ff38570187ff433cbd38ef
                  invoiceOwnerAccountNumber: AN_1683614809001
                  invoiceOwnerAccountName: AC_AC_16836148090011683614809001
                  transactionDate: '2021-02-01'
                  accountingCode: null
                  UOM: null
                  productRatePlanChargeId: null
                  customFields:
                    externalNumber5__c: olinumber-023
    put:
      summary: Update an order line item
      operationId: PUT_OrderLineItem
      description: '**Note:** The Order Line Items feature is now generally available to all Zuora customers. You need to enable the Orders feature to access the Order Line Items feature. As of Zuora Billing Release 313 (November 2021), new customers who onboard on Orders will have the Order Line Items feature enabled by default. If you are a new customer who onboard on Orders Harmonization and want to enable the Order Line Items feature, submit a request at Zuora Global Support. If you are an existing Orders or Orders Harmonization customer and want to enable the Order Line Items feature, submit a request at Zuora Global Support.


        Updates a specified order line item. The following tutorials demonstrate how to use this operation:

        * Update an order line item

        * Cancel an order line item'
      tags:
      - Order Line Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: itemId
        in: path
        description: The id of the Order Line Item to update.
        required: true
        schema:
          type: string
          format: UUID
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutOrderLineItemResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTOrderLineItemRequestType'
        required: true
  /v1/order-line-items/bulk:
    post:
      summary: Update order line items
      operationId: Post_OrderLineItems
      description: '**Note:** The Order Line Items feature is now generally available to all Zuora customers. You need to enable the Orders feature to access the Order Line Items feature. As of Zuora Billing Release 313 (November 2021), new customers who onboard on Orders will have the Order Line Items feature enabled by default. If you are a new customer who onboard on Orders Harmonization and want to enable the Order Line Items feature, submit a request at Zuora Global Support. If you are an existing Orders or Orders Harmonization customer and want to enable the Order Line Items feature, submit a request at Zuora Global Support.


        Bulk-updates multiple order line items. You can also choose to generate an invoice for these updated order line items.


        The maximum number of order line items allowable to update in a call is 100.'
      tags:
      - Order Line Items
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderLineItemResponseType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOrderLineItemsRequestType'
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    FulfillmentCommon:
      properties:
        billTargetDate:
          description: 'The target date for the Fulfillment to be picked up by bill run for billing.

            '
          format: date
          type: string
        carrier:
          description: 'The carrier of the Fulfillment. The available values can be configured in **Billing Settings** > **Fulfillment Settings** through Zuora UI.

            '
          type: string
        customFields:
          $ref: '#/components/schemas/FulfillmentCustomFields'
        description:
          description: 'The description of the Fulfillment.

            '
          type: string
        excludeItemBillingFromRevenueAccounting:
          description: "The flag to exclude Fulfillment related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration) feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: "The flag to exclude Fulfillment from revenue accounting.\n\n**Note**: This field is only available if you have the [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration) feature enabled. \n"
          type: boolean
        externalId:
          description: 'The external id of the Fulfillment.

            '
          type: string
        fulfillmentDate:
          description: 'The date of the Fulfillment.

            '
          format: date
          type: string
        fulfillmentLocation:
          description: 'The fulfillment location of the Fulfillment. The available values can be configured in **Billing Settings** > **Fulfillment Settings** through Zuora UI.

            '
          type: string
        fulfillmentSystem:
          description: 'The fulfillment system of the Fulfillment. The available values can be configured in **Billing Settings** > **Fulfillment Settings** through Zuora UI.

            '
          type: string
        fulfillmentType:
          description: "The type of the Fulfillment. \n"
          enum:
          - Delivery
          - Return
          type: string
        orderLineItemId:
          description: 'The reference id of the related Order Line Item.

            '
          format: UUID
          type: string
        quantity:
          description: 'The quantity of the Fulfillment.

            '
          type: number
        state:
          description: 'The state of the Fulfillment. See [State transitions for an order, order line item, and fulfillment](https://knowledgecenter.zuora.com/Billing/Subscriptions/Orders/Order_Line_Items/AB_Order_Line_Item_States_and_Order_States) for more information.

            '
          enum:
          - Executing
          - Booked
          - SentToBilling
          - Complete
          - Cancelled
          type: string
        trackingNumber:
          description: 'The tracking number of the Fulfillment.

            '
          type: string
      title: Fulfillment
      type: object
    OrderLineItemCommon:
      properties:
        UOM:
          description: 'Specifies the units to measure usage.


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        accountingCode:
          description: 'The accountingCode for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        adjustmentLiabilityAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        adjustmentRevenueAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        amountPerUnit:
          description: 'The actual charged amount per unit for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: number
        billTargetDate:
          description: 'The target date for the Order Line Item (OLI) to be picked up by bill run for generating billing documents.


            To generate billing documents for an OLI, you must set this field and set the `itemState` field to `SentToBilling`.


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          format: date
          type: string
        billTo:
          description: 'The ID of a contact that belongs to the billing account of the order line item. Use this field to assign an existing account as the bill-to contact of an order line item.


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        billingRule:
          default: TriggerWithoutFulfillment
          description: 'The rule for billing of the Order Line Item (OLI).


            You can update this field for a sales or return OLI only when it is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          enum:
          - TriggerWithoutFulfillment
          - TriggerAsFulfillmentOccurs
          type: string
        contractAssetAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        contractLiabilityAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        contractRecognizedRevenueAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        customFields:
          $ref: '#/components/schemas/OrderLineItemCustomFields'
        deferredRevenueAccountingCode:
          description: 'The deferred revenue accounting code for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        description:
          description: 'The description of the Order Line Item (OLI).


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        inlineDiscountPerUnit:
          description: 'You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).


            Use this field in accordance with the `inlineDiscountType` field, in the following manner:

            * If the `inlineDiscountType` field is set as `Percentage`, this field specifies the discount percentage for each unit of the order line item. For exmaple, if you specify `5` in this field, the discount percentage is 5%.

            * If the `inlineDiscountType` field is set as `FixedAmount`, this field specifies the discount amount on each unit of the order line item. For exmaple, if you specify `10` in this field, the discount amount on each unit of the order line item is 10.


            Once you set the `inlineDiscountType`, `inlineDiscountPerUnit`, and `listPricePerUnit` fields, the system will automatically generate the `amountPerUnit` field. You shall not set the `amountPerUnit` field by yourself.

            '
          type: number
        inlineDiscountType:
          description: "You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).\n\nUse this field to specify the inline discount type, which can be `Percentage`, `FixedAmount`, or `None`. The default value is `Percentage`.\n\nUse this field together with the `inlineDiscountPerUnit` field to specify inline discounts for order line items. The inline discount is applied to the list price of an order line item. \n\nOnce you set the `inlineDiscountType`, `inlineDiscountPerUnit`, and `listPricePerUnit` fields, the system will automatically generate the `amountPerUnit` field. You shall not set the `amountPerUnit` field by yourself.\n"
          enum:
          - Percentage
          - FixedAmount
          - None
          type: string
        isAllocationEligible:
          description: 'This field is used to identify if the charge segment is allocation eligible in revenue recognition.


            **Note**: This feature is in the **Early Adopter** phase. If you want to use the feature, submit a request at <a href="https://support.zuora.com/" target="_blank">Zuora Global Support</a>, and we will evaluate whether the feature is suitable for your use cases.

            '
          type: boolean
        isUnbilled:
          description: 'This field is used to dictate how to perform the accounting during revenue recognition.


            **Note**: This feature is in the **Early Adopter** phase. If you want to use the feature, submit a request at <a href="https://support.zuora.com/" target="_blank">Zuora Global Support</a>, and we will evaluate whether the feature is suitable for your use cases.

            '
          type: boolean
        itemName:
          description: 'The name of the Order Line Item (OLI).


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        itemNumber:
          description: 'The number for the Order Line Item (OLI).


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        itemState:
          description: 'The state of the Order Line Item (OLI). See [State transitions for an order, order line item, and fulfillment](https://knowledgecenter.zuora.com/Billing/Subscriptions/Orders/Order_Line_Items/AB_Order_Line_Item_States_and_Order_States) for more information.


            To generate invoice for an OLI, you must set this field to `SentToBilling` and set the `billTargetDate` field .


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` or ''Booked'' or `SentToBilling`state (when the `itemState` field is set as `Executing` or `SentToBilling`).

            '
          enum:
          - Executing
          - Booked
          - SentToBilling
          - Complete
          - Cancelled
          type: string
        itemType:
          description: "The type of the Order Line Item (OLI). \n\nYou can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).\n"
          enum:
          - Product
          - Fee
          - Services
          type: string
        listPricePerUnit:
          description: 'The list price per unit for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: number
        ownerAccountNumber:
          description: 'Use this field to assign an existing account as the owner of an order line item.


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        productCode:
          description: 'The product code for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        purchaseOrderNumber:
          description: 'Used by customers to specify the Purchase Order Number provided by the buyer.


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        quantity:
          description: 'The quantity of units, such as the number of authors in a hosted wiki service.


            You can update this field for a sales or return OLI only when the OLI in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: number
        recognizedRevenueAccountingCode:
          description: 'The recognized revenue accounting code for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        relatedSubscriptionNumber:
          description: 'Use this field to relate an order line item to an subscription. Specify this field to the subscription number of the subscription to relate.


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        revenueRecognitionRule:
          description: 'The Revenue Recognition rule for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        sequenceSetId:
          description: 'The ID of the sequence set associated with the orderLineItem.

            '
          type: string
        soldTo:
          description: "Use this field to assign an existing account as the sold-to contact of an order line item, by the following rules:\n\n* If the `ownerAccountNumber` field is set, then this field must be the ID of a contact that belongs to the owner account of the order line item. \n* If the `ownerAccountNumber` field is not set, then this field must be the ID of a contact that belongs to the billing account of the order line item.\n\nYou can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).\n"
          type: string
        taxCode:
          description: 'The tax code for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
        taxMode:
          description: 'The tax mode for the Order Line Item (OLI).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          enum:
          - TaxInclusive
          - TaxExclusive
          type: string
        transactionEndDate:
          description: 'The date a transaction is completed. The default value of this field is the transaction start date. Also, the value of this field should always equal or be later than the value of the `transactionStartDate` field.


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          format: date
          type: string
        transactionStartDate:
          description: 'The date a transaction starts. The default value of this field is the order date.


            You can update this field for a sales or return OLI only when the OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          format: date
          type: string
        unbilledReceivablesAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).


            You can update this field only for a sales OLI and only when the sales OLI is in the `Executing` state (when the `itemState` field is set as `Executing`).

            '
          type: string
      title: OrderLineItem
      type: object
    PutOrderLineItemResponseType:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
    PUTOrderLineItemRequestType:
      allOf:
      - $ref: '#/components/schemas/PutOrderLineItemUpdateType'
    PutOrderLineItemUpdateType:
      allOf:
      - $ref: '#/components/schemas/OrderLineItemCommon'
    OrderLineItemCustomFieldsRetrieveOrderLineItem:
      additionalProperties:
        description: 'Custom fields of the Order Line Item object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Order Line Item object.

        '
      title: OrderLineItemCustomFields
      type: object
    FulfillmentGet:
      allOf:
      - properties:
          fulfillmentNumber:
            description: 'The sytem generated number for the Fulfillment.

              '
            type: string
          id:
            description: 'The sytem generated Id.

              '
            format: UUID
            type: string
        type: object
      - $ref: '#/components/schemas/FulfillmentCommon'
    OrderLineItemCommonRetrieveOrderLineItem:
      properties:
        UOM:
          description: 'Specifies the units to measure usage.

            '
          type: string
        accountingCode:
          description: 'The accountingCode for the Order Line Item.

            '
          type: string
        adjustmentLiabilityAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).

            '
          type: string
        adjustmentRevenueAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).

            '
          type: string
        amendedByOrderOn:
          description: 'The date when the rate plan charge is amended through an order or amendment. This field is to standardize the booking date information to increase audit ability and traceability of data between Zuora Billing and Zuora Revenue. It is mapped as the booking date for a sales order line in Zuora Revenue.

            '
          format: date
          type: string
        amountPerUnit:
          description: 'The actual charged amount per unit for the Order Line Item.

            '
          type: number
        billTargetDate:
          description: 'The target date for the Order Line Item to be picked up by bill run for billing.

            '
          format: date
          type: string
        billTo:
          description: 'The ID of a contact that belongs to the billing account of the order line item. Use this field to assign an existing account as the bill-to contact of an order line item.

            '
          type: string
        billToSnapshotId:
          description: 'The snapshot of the ID for an account used as the bill-to contact of an order line item. This field is used to store the original information about the account, in case the information about the account is changed after the creation of the order line item. The `billToSnapshotId` field is exposed while retrieving the order line item details.

            '
          type: string
        billingRule:
          description: 'The billing rule for the Order Line Item.

            '
          enum:
          - TriggerWithoutFulfillment
          - TriggerAsFulfillmentOccurs
          type: string
        contractAssetAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).

            '
          type: string
        contractLiabilityAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).

            '
          type: string
        contractRecognizedRevenueAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).

            '
          type: string
        customFields:
          $ref: '#/components/schemas/OrderLineItemCustomFieldsRetrieveOrderLineItem'
        deferredRevenueAccountingCode:
          description: 'The deferred revenue accounting code for the Order Line Item.

            '
          type: string
        description:
          description: 'The description of the Order Line Item.

            '
          type: string
        discount:
          description: 'This field shows the total discount amount that is applied to an order line item after the `inlineDiscountType`, `inlineDiscountPerUnit` and `quantity` fields are set.


            The inline discount is applied to the list price of an order line item (see the `listPrice` field).

            '
          type: number
        excludeItemBillingFromRevenueAccounting:
          description: "The flag to exclude Order Line Item related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration) feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: "The flag to exclude Order Line Item from revenue accounting.\n\n**Note**: This field is only available if you have the [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration) feature enabled. \n"
          type: boolean
        inlineDiscountPerUnit:
          description: 'This field is used in accordance with the `inlineDiscountType` field, in the following manner:

            * If the `inlineDiscountType` field is set as `Percentage`, this field specifies the discount percentage for each unit of the order line item. For exmaple, if you specify `5` in this field, the discount percentage is 5%.

            * If the `inlineDiscountType` field is set as `FixedAmount`, this field specifies the discount amount on each unit of the order line item. For exmaple, if you specify `10` in this field, the discount amount on each unit of the order line item is 10.


            Once you set the `inlineDiscountType`, `inlineDiscountPerUnit`, and `listPricePerUnit` fields, the system will automatically generate the `amountPerUnit` field. You shall not set the `amountPerUnit` field by yourself.

            '
          type: number
        inlineDiscountType:
          description: "This field is used to specify the inline discount type, which can be `Percentage`, `FixedAmount`, or `None`. The default value is `Percentage`.\n\nThis field is used together with the `inlineDiscountPerUnit` field to specify inline discounts for order line items. The inline discount is applied to the list price of an order line item. \n\nOnce you set the `inlineDiscountType`, `inlineDiscountPerUnit`, and `listPricePerUnit` fields, the system will automatically generate the `amountPerUnit` field. You shall not set the `amountPerUnit` field by yourself.\n"
          enum:
          - Percentage
          - FixedAmount
          - None
          type: string
        invoiceOwnerAccountId:
          description: 'The account ID of the invoice owner of the order line item.

            '
          type: string
        invoiceOwnerAccountName:
          description: 'The account name of the invoice owner of the order line item.

            '
          type: string
        invoiceOwnerAccountNumber:
          description: 'The account number of the invoice owner of the order line item.

            '
          type: string
        isAllocationEligible:
          description: 'This field is used to identify if the charge segment is allocation eligible in revenue recognition.


            **Note**: This feature is in the **Early Adopter** phase. If you want to use the feature, submit a request at <a href="https://support.zuora.com/" target="_blank">Zuora Global Support</a>, and we will evaluate whether the feature is suitable for your use cases.

            '
          type: boolean
        isUnbilled:
          description: 'This field is used to dictate how to perform the accounting during revenue recognition.


            **Note**: This feature is in the **Early Adopter** phase. If you want to use the feature, submit a request at <a href="https://support.zuora.com/" target="_blank">Zuora Global Support</a>, and we will evaluate whether the feature is suitable for your use cases.

            '
          type: boolean
        itemCategory:
          default: Sales
          description: 'The category for the Order Line Item, to indicate a product sales or return.

            '
          enum:
          - Sales
          - Return
          type: string
        itemName:
          description: 'The name of the Order Line Item.

            '
          type: string
        itemNumber:
          description: 'The number for the Order Line Item.

            '
          type: string
        itemState:
          description: 'The state of the Order Line Item. See [State transitions for an order, order line item, and fulfillment](https://knowledgecenter.zuora.com/Billing/Subscriptions/Orders/Order_Line_Items/AB_Order_Line_Item_States_and_Order_States) for more information.

            '
          enum:
          - Executing
          - Booked
          - SentToBilling
          - Complete
          - Cancelled
          type: string
        itemType:
          description: "The type of the Order Line Item. \n"
          enum:
          - Product
          - Fee
          - Services
          type: string
        listPrice:
          description: 'The extended list price for an order line item, calculated by the formula: listPrice = listPricePerUnit * quantity

            '
          type: number
        listPricePerUnit:
          description: 'The list price per unit for the Order Line Item.

            '
          type: number
        originalOrderDate:
          description: 'The date when the rate plan charge is created through an order or amendment. This field is to standardize the booking date information to increase audit ability and traceability of data between Zuora Billing and Zuora Revenue. It is mapped as the booking date for a sales order line in Zuora Revenue.

            '
          format: date
          type: string
        originalOrderId:
          description: 'The ID of the original sales order for a return order line item.

            '
          type: string
        originalOrderLineItemId:
          description: 'The ID of the original sales order line item for a return order line item.

            '
          type: string
        originalOrderLineItemNumber:
          description: 'The number of the original sales order line item for a return order line item.

            '
          type: string
        originalOrderNumber:
          description: 'The number of the original sales order for a return order line item.

            '
          type: string
        ownerAccountId:
          description: 'The account ID of the owner of the order line item.

            '
          type: string
        ownerAccountName:
          description: 'The account name of the owner of the order line item.

            '
          type: string
        ownerAccountNumber:
          description: 'The account number of the owner of the order line item.

            '
          type: string
        productCode:
          description: 'The product code for the Order Line Item.

            '
          type: string
        productRatePlanChargeId:
          description: 'Id of a Product Rate Plan Charge. Only one-time charges are supported.

            '
          type: string
        purchaseOrderNumber:
          description: 'Used by customers to specify the Purchase Order Number provided by the buyer.

            '
          type: string
        quantity:
          description: 'The quantity of units, such as the number of authors in a hosted wiki service.

            '
          type: number
        quantityAvailableForReturn:
          description: "The quantity that can be returned for an order line item. \n"
          type: number
        quantityFulfilled:
          description: "The fulfilled quantity for an order line item. \n"
          type: number
        quantityPendingFulfillment:
          description: "The quantity to fulfill for an order line item. \n"
          type: number
        recognizedRevenueAccountingCode:
          description: 'The recognized revenue accounting code for the Order Line Item.

            '
          type: string
        relatedSubscriptionNumber:
          description: 'Use this field to relate an order line item to an subscription. Specify this field to the subscription number of the subscription to relate.

            '
          type: string
        requiresFulfillment:
          description: 'The flag to show whether fulfillment is needed or not. It''s derived from billing rule of the Order Line Item.

            '
          type: boolean
        revenueRecognitionRule:
          description: 'The Revenue Recognition rule for the Order Line Item.

            '
          type: string
        sequenceSetId:
          description: 'The ID of the sequence set associated with the OrderLineItem.

            '
          type: string
        soldTo:
          description: 'The ID of a contact that belongs to the owner account or billing account of the order line item. Use this field to assign an existing account as the sold-to contact of an order line item.

            '
          type: string
        soldToSnapshotId:
          description: 'The snapshot of the ID for an account used as the sold-to contact of an order line item. This field is used to store the original information about the account, in case the information about the account is changed after the creation of the order line item. The `soldToSnapshotId` field is exposed while retrieving the order line item details.

            '
          type: string
        taxCode:
          description: 'The tax code for the Order Line Item.

            '
          type: string
        taxMode:
          description: 'The tax mode for the Order Line Item.

            '
          enum:
          - TaxInclusive
          - TaxExclusive
          type: string
        transactionEndDate:
          description: 'The date a transaction is completed. The default value of this field is the transaction start date. Also, the value of this field should always equal or be later than the value of the `transactionStartDate` field.

            '
          format: date
          type: string
        transactionStartDate:
          description: 'The date a transaction starts. The default value of this field is the order date.

            '
          format: date
          type: string
        unbilledReceivablesAccountingCode:
          description: 'The accounting code on the Order Line Item object for customers using [Zuora Billing - Revenue Integration](https://knowledgecenter.zuora.com/Zuora_Revenue/Zuora_Billing_-_Revenue_Integration).

            '
          type: string
      title: OrderLineItem
      type: object
    PostOrderLineItemsRequestType:
      properties:
        orderLineItems:
          items:
            $ref: '#/components/schemas/PostOrderLineItemUpdateType'
          type: array
        processingOptions:
          $ref: '#/components/schemas/ProcessingOptions'
      type: object
    ProcessingOptions:
      description: Processing options for generating billing documents.
      properties:
        billingOptions:
          $ref: '#/components/schemas/BillingOptions'
        runBilling:
          description: Indicates if the current request needs to generate a billing document. The billing document will be generated against all Order Line Items included in this order.
          type: boolean
      type: object
    OrderLineItemCustomFields:
      additionalProperties:
        description: 'Custom fields of the Order Line Item object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Order Line Item object.

        '
      title: OrderLineItemCustomFields
      type: object
    BillingOptions:
      properties:
        documentDate:
          description: The invoice date displayed on the billing document.
          format: date
          type: string
        targetDate:
          description: Date through which to calculate charges for order line items if a billing document is generated. See [What is a Target Date?](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/G_Bill_Runs/Creating_Bill_Runs#What_is_a_Target_Date.3F).
          format: date
          type: string
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    PostOrderLineItemUpdateType:
      allOf:
      - properties:
          id:
            description: 'The sytem generated Id for the Order Line Item(OLI). Use this field to specify which OLI to update.

              '
            format: UUID
            type: string
        required:
        - id
        type: object
      - $ref: '#/components/schemas/OrderLineItemCommon'
    GetOrderLineItemResponseType:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          orderLineItem:
            $ref: '#/components/schemas/OrderLineItem'
        type: object
    OrderLineItem:
      allOf:
      - properties:
          amount:
            description: 'The calculated gross amount for the Order Line Item.

              '
            type: number
          amountWithoutTax:
            description: 'The calculated gross amount for an order line item excluding tax. If the tax mode is tax exclusive, the value of this field equals that of the `amount` field.


              If the tax mode of an order line item is not set, the system treats it as tax exclusive by default. The value of the `amountWithoutTax` field equals that of the `amount` field.


              If you create an order line item from the product catalog, the tax mode and tax code of the product rate plan charge are used for the order line item by default. You can still overwrite this default set-up by setting the tax mode and tax code of the order line item.

              '
            type: number
          id:
            description: 'The sytem generated Id for the Order Line Item.

              '
            format: UUID
            type: string
          quantityFulfilled:
            description: 'The quantity that has been fulfilled by fulfillments for the order line item. This field will be updated automatically when related fulfillments become ''SentToBilling'' or ''Complete'' state.

              '
            type: number
          quantityPendingFulfillment:
            description: 'The quantity that needs to be fulfilled by fulfillments for the order line item. This field will be updated automatically when related fulfillments become ''SentToBilling'' or ''Complete'' state.

              '
            type: number
        type: object
      - $ref: '#/components/schemas/OrderLineItemCommonRetrieveOrderLineItem'
      - properties:
          fulfillments:
            description: 'Container for the fulfillments attached to an order line item.

              '
            items:
              $ref: '#/components/schemas/FulfillmentGet'
            type: array
        type: object
    FulfillmentCustomFields:
      additionalProperties:
        description: 'Custom fields of the Fulfillment object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Fulfillment object.

        '
      title: FulfillmentCustomFields
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
