openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Accounting Codes API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Accounting Codes
  description: 'Accounting Codes are commonly referred to as General Ledger Accounts or General Ledger Account Codes. In Zuora, the use of accounting codes are optional but recommended.


    This section contains the operations that allow you to create, update, get, delete, activate, or deactivate accounting codes in Zuora.'
paths:
  /v1/accounting-codes:
    post:
      summary: Create an accounting code
      operationId: POST_AccountingCode
      description: 'This reference describes how to create a new accounting code through the REST API.

        The accounting code will be active as soon as it has been created.


        ### Prerequisites

        If you have Zuora Finance enabled on your tenant, you must have the Configure Accounting Codes permission.'
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTAccountingCodeResponseType'
              example:
                id: 8a8081ae547aac1e01547efb61f20140
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTAccountingCodeType'
        required: true
    get:
      summary: List all accounting codes
      operationId: GET_AllAccountingCodes
      description: This reference describes how to query all accounting codes in your chart of accounts through the REST API.
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize_finance_accounting'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountingCodesType'
              example:
                accountingCodes:
                - id: e20b0747478025a10147816ba1c20097
                  name: Accounts Receivable
                  type: AccountsReceivable
                  glAccountName: null
                  glAccountNumber: null
                  notes: null
                  category: Assets
                  status: Active
                  createdOn: '2014-07-29 02:20:20'
                  createdBy: e20b074746ec48f40147140f51e30a1a
                  updatedOn: '2014-07-29 02:20:20'
                  updatedBy: e20b074746ec48f40147140f51e30a1a
                - id: e20b0747478025a10147816ba21900a0
                  name: Discounts
                  type: SalesDiscounts
                  glAccountName: null
                  glAccountNumber: null
                  notes: null
                  category: Revenue
                  status: Inactive
                  createdOn: '2014-07-29 02:20:20'
                  createdBy: e20b074746ec48f40147140f51e30a1a
                  updatedOn: '2014-09-27 22:11:07'
                  updatedBy: e20b074746ec48f40147140f51e30a1a
                success: true
  /v1/accounting-codes/{ac-id}/activate:
    put:
      summary: Activate an accounting code
      operationId: PUT_ActivateAccountingCode
      description: 'This reference describes how to activate an accounting code through the REST API.


        Prerequisites

        -------------

        If you have Zuora Finance enabled on your tenant, you must have the Manage Accounting Code permission.'
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ac-id
        in: path
        required: true
        description: ID of the accounting code you want to activate.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/accounting-codes/{ac-id}/deactivate:
    put:
      summary: Deactivate an accounting code
      operationId: PUT_DeactivateAccountingCode
      description: 'This reference describes how to deactivate an accounting code through the REST API.


        ### Prerequisites

        If you have Zuora Finance enabled on your tenant, you must have the Manage Accounting Code permission.

        ### Limitations

        You can only deactivate accounting codes that are not associated with any transactions.

        You cannot disable accounting codes of type AccountsReceivable.'
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ac-id
        in: path
        required: true
        description: ID of the accounting code you want to deactivate.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/accounting-codes/{ac-id}:
    delete:
      summary: Delete an accounting code
      operationId: DELETE_AccountingCode
      description: 'This reference describes how to delete an accounting code through the REST API.

        ### Prerequisites

        If you have Zuora Finance enabled on your tenant, then you must have the Delete Unused Accounting Code permission.

        ### Limitations

        You can only delete accounting codes that have never been associated with any transactions. An accounting code must be deactivated before you can delete it.'
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ac-id
        in: path
        required: true
        description: ID of the accounting code you want to delete.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
    get:
      summary: Retrieve an accounting code
      operationId: GET_AccountingCode
      description: This reference describes how to query an accounting code through the REST API.
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ac-id
        in: path
        description: ID of the accounting code you want to query.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountingCodeItemType'
              example:
                id: 8a8081ae547aac1e01547efb61f20140
                name: CASH
                type: Cash
                glAccountName: null
                glAccountNumber: null
                notes: null
                category: Assets
                status: Active
                createdOn: '2016-05-04 01:23:07'
                createdBy: e20b074746ec48f40147140f51e30a1a
                updatedOn: '2016-05-05 20:07:38'
                updatedBy: e20b074746ec48f40147140f51e30a1a
                success: true
    put:
      summary: Update an accounting code
      operationId: PUT_AccountingCode
      description: 'This reference describes how to update an existing accounting code through the REST API.

        ### Prerequisites

        If you have Zuora Finance enabled on your tenant, you must have the Manage Accounting Code permission.

        ### Limitations

        You can only update accounting codes that are not already associated with any transactions.'
      tags:
      - Accounting Codes
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ac-id
        in: path
        description: ID of the accounting code you want to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTAccountingCodeType'
        required: true
components:
  parameters:
    GLOBAL_REQUEST_pageSize_finance_accounting:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 300
        maximum: 300
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    AccountingCodeObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Accounting Code object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Accounting Code object.

        '
      title: accountingCodeFieldsCustom
      type: object
    POSTAccountingCodeResponseType:
      properties:
        id:
          description: 'ID of the newly created accounting code.

            '
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    GETAccountingCodeItemType:
      allOf:
      - properties:
          category:
            description: 'The category associated with the accounting code.

              '
            enum:
            - Assets
            - Liabilities
            - Equity
            - Revenue
            - Expenses
            type: string
          createdBy:
            description: 'The ID of the user who created the accounting code.

              '
            type: string
          createdOn:
            description: 'Date and time when the accounting code was created.

              '
            format: date-time
            type: string
          glAccountName:
            description: 'Name of the account in your general ledger.


              Field only available if you have Zuora Finance enabled.

              '
            type: string
          glAccountNumber:
            description: 'Account number in your general ledger.


              Field only available if you have Zuora Finance enabled.

              '
            type: string
          id:
            description: 'ID of the accounting code.

              '
            type: string
          name:
            description: 'Name of the accounting code.

              '
            type: string
          notes:
            description: 'Any optional notes for the accounting code.

              '
            type: string
          status:
            description: 'The accounting code status.

              '
            enum:
            - Active
            - Inactive
            type: string
          success:
            description: 'Returns `true` if the request was processed successfully.

              '
            type: boolean
          type:
            description: "Accounting code type. \n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
          updatedBy:
            description: 'The ID of the user who last updated the accounting code.

              '
            type: string
          updatedOn:
            description: 'Date and time when the accounting code was last updated.

              '
            format: date-time
            type: string
        type: object
      - $ref: '#/components/schemas/AccountingCodeObjectCustomFields'
    GETAccountingCodesType:
      properties:
        accountingCodes:
          description: 'An array of all the accounting codes in your chart of accounts. Each accounting code has the following fields.

            '
          items:
            $ref: '#/components/schemas/GETAccountingCodeItemWithoutSuccessType'
          type: array
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    POSTAccountingCodeType:
      allOf:
      - properties:
          glAccountName:
            description: 'Name of the account in your general ledger.


              Field only available if you have Zuora Finance enabled. Maximum of 255 characters.

              '
            type: string
          glAccountNumber:
            description: 'Account number in your general ledger.


              Field only available if you have Zuora Finance enabled. Maximum of 255 characters.

              '
            type: string
          name:
            description: 'Name of the accounting code.


              Accounting code name must be unique. Maximum of 100 characters.

              '
            type: string
          notes:
            description: 'Maximum of 2,000 characters.

              '
            type: string
          type:
            description: "If you want to create multiple accounting codes of the type `AccountsReceivable`, you need to have [Invoice Item Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/C_Invoice_Item_Settlement) enabled and contact [Zuora Global Support](http://support.zuora.com) to access the Multiple AR Accounting Codes feature. \n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
        required:
        - name
        - type
        type: object
      - $ref: '#/components/schemas/AccountingCodeObjectCustomFields'
      example:
        name: CASH
        type: Cash
    GETAccountingCodeItemWithoutSuccessType:
      allOf:
      - properties:
          category:
            description: 'The category associated with the accounting code.

              '
            enum:
            - Assets
            - Liabilities
            - Equity
            - Revenue
            - Expenses
            type: string
          createdBy:
            description: 'The ID of the user who created the accounting code.

              '
            type: string
          createdOn:
            description: 'Date and time when the accounting code was created.

              '
            format: date-time
            type: string
          glAccountName:
            description: 'Name of the account in your general ledger.


              Field only available if you have Zuora Finance enabled.

              '
            type: string
          glAccountNumber:
            description: 'Account number in your general ledger.


              Field only available if you have Zuora Finance enabled.

              '
            type: string
          id:
            description: 'ID of the accounting code.

              '
            type: string
          name:
            description: 'Name of the accounting code.

              '
            type: string
          notes:
            description: 'Any optional notes for the accounting code.

              '
            type: string
          status:
            description: 'The accounting code status.

              '
            enum:
            - Active
            - Inactive
            type: string
          type:
            description: "Accounting code type. \n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
          updatedBy:
            description: 'The ID of the user who last updated the accounting code.

              '
            type: string
          updatedOn:
            description: 'Date and time when the accounting code was last updated.

              '
            format: date-time
            type: string
        type: object
      - $ref: '#/components/schemas/AccountingCodeObjectCustomFields'
      title: accountingCodes
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    PUTAccountingCodeType:
      allOf:
      - properties:
          glAccountName:
            description: 'Name of the account in your general ledger.


              Field only available if you have Zuora Finance enabled. Maximum of 255 characters.

              '
            type: string
          glAccountNumber:
            description: 'Account number in your general ledger.


              Field only available if you have Zuora Finance enabled. Maximum of 255 characters.

              '
            type: string
          name:
            description: 'Name of the accounting code.


              Accounting code name must be unique. Maximum of 100 characters.

              '
            type: string
          notes:
            description: 'Maximum of 2,000 characters.

              '
            type: string
          type:
            description: "Accounting code type. You cannot change the type of an accounting code from `AccountsReceivable` to a different type. \n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
        type: object
      - $ref: '#/components/schemas/AccountingCodeObjectCustomFields'
      example:
        name: CASH
        type: Cash
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
