openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Custom Object Definitions API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Custom Object Definitions
  description: With Custom Objects service, you can define custom objects, extending the Zuora data model to accommodate your specific use cases.
paths:
  /objects/definitions/default:
    get:
      summary: List custom object definitions
      description: Get all custom objects definitions for a given tenant. If you want to copy all the existing custom objects from an old tenant to a new tenant, you can call this operation in your old tenant and then use its response directly as the request of the Create custom object definitions call in the new tenant to import all the custom objects from the old tenant.
      operationId: GET_AllCustomObjectDefinitionsInNamespace
      tags:
      - Custom Object Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: select
        description: 'If you set `select` to `type`, the response will only contain the `type` of each custom object.

          '
        in: query
        required: false
        schema:
          type: string
          enum:
          - type
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAllCustomObjectDefinitionsInNamespaceResponse'
    post:
      summary: Create custom object definitions
      operationId: POST_CustomObjectDefinitions
      description: 'You can post custom object definitions with the request body schema described below.


        This operation also allows you to use the List custom object definitions response schema as its request schema. If you want to copy all the existing custom objects from an old tenant to a new tenant, you can make a List custom object definitions call in your old tenant and then use its response directly as the request of this operation in the new tenant to import all the custom objects from the old tenant.


        The `label` field is the UI label of the custom object. The `object` field contains the API Name of the custom object.


        ### Limitations


        This custom object definition has the following limitations:


        * The maximum number of characters for the Custom Object API Name (`object`) is 64.

        * The maximum number of characters for the Custom Object Label (`label`) is 64.

        * The maximum number of characters for the Custom Object Description 250.

        * The maximum number of custom fields in an custom object is 50.

        * The maximum number of characters for the custom field API name is 64.

        * The maximum number of characters for the custom field label (`label`) is 64.

        * The maximum number of characters for the custom field Description is 250.

        * The maximum number of picklist or multiselect options is 250.

        * The default maximum number of characters for the Text field is 512. You can configure the max length up to 8,192 characters when creating or updating the custom object definition via API.

        However, if the Text field is filterable, the max length must be 512 or less.

        * The maximum number of digits to the left of the decimal point for the Number field is 13, and to the right is 9.'
      tags:
      - Custom Object Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAllCustomObjectDefinitionsInNamespaceResponse'
        '400':
          description: Bad request
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCustomObjectDefinitionsRequest'
        description: The custom object definitions to be created
        required: true
  /objects/definitions/default/{object}:
    get:
      summary: Retrieve a custom object definition
      description: Retrieves the custom object definition by type for the given tenant.
      operationId: GET_CustomObjectDefinitionByType
      tags:
      - Custom Object Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectDefinition'
        '404':
          description: Resource Request-URI not found.
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
    delete:
      summary: Delete a custom object definition
      description: 'Deletes the custom object definition for the provided type.


        **Note:** A custom object definition can only be deleted if no record of this custom object type exists.'
      operationId: Delete_CustomObjectDefinitionByType
      tags:
      - Custom Object Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: string
                description: The URI of the deleted custom object definition
                format: uri
                example: /objects/definitions/default/test_custom_object
  /objects/migrations:
    post:
      summary: Update a custom object definition
      operationId: POST_UpdateCustomObjectDefinition
      description: 'Updates a custom object definition by posting migration resource to initiate the migration of definitions.


        ### Limitations


        Updating custom field definition has the following limitations:


        * You can only have one action per update request.

        * You cannot delete fields from custom objects that contain records.

        * You can only add required fields to custom objects with no records.

        * You can change optional fields to required only on the custom objects with no records.'
      tags:
      - Custom Object Definitions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationUpdateCustomObjectDefinitionsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationUpdateCustomObjectDefinitionsRequest'
        description: Migration resource for object and namespace changes.
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth:
      name: Authorization
      in: header
      required: true
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    CommonErrorResponse:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        requestId:
          description: 'The Id of the request.

            '
          format: uuid
          maxLength: 36
          minLength: 36
          type: string
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    CustomObjectAllFieldsDefinition:
      allOf:
      - properties:
          CreatedById:
            description: The `CreatedById` field definition
            properties:
              format:
                description: The field data format
                enum:
                - uuid
                type: string
              label:
                description: The UI name of the field
                type: string
              origin:
                description: Specifies whether the field is a system field or a custom field
                enum:
                - system
                type: string
              type:
                description: The field data type
                enum:
                - string
                type: string
            type: object
          CreatedDate:
            description: The `CreatedDate` field definition
            properties:
              format:
                description: The field data format
                enum:
                - date-time
                type: string
              origin:
                description: Specifies the field is a system field
                enum:
                - system
                type: string
              type:
                description: The field data type
                enum:
                - string
                type: string
            type: object
          Id:
            description: The `Id` field definition
            properties:
              format:
                description: The field data format
                enum:
                - uuid
                type: string
              label:
                description: The UI name of the field
                type: string
              origin:
                description: Specifies whether the field is a system field or a custom field
                enum:
                - system
                type: string
              type:
                description: The field data type
                enum:
                - string
                type: string
            type: object
          UpdatedById:
            description: The `UpdatedById` field definition
            properties:
              format:
                description: The field data format
                enum:
                - uuid
                type: string
              label:
                description: The UI name of the field
                type: string
              origin:
                description: Specifies whether the field is a system field or a custom field
                enum:
                - system
                type: string
              type:
                description: The field data type
                enum:
                - string
                type: string
            type: object
          UpdatedDate:
            description: The `UpdatedDate` field definition
            properties:
              format:
                description: The field data format
                enum:
                - date-time
                type: string
              origin:
                description: Specifies the field is a system field
                enum:
                - system
                type: string
              type:
                description: The field data type
                enum:
                - string
                type: string
            type: object
        type: object
      - $ref: '#/components/schemas/CustomObjectCustomFieldsDefinition'
      description: The definitions of all the fields in the custom object definition
      title: customObjectFieldDefinition
    CustomObjectDefinition:
      example:
        CreatedById: 7b39d73f-22e6-404a-b8e7-894f7620e91c
        CreatedDate: '2019-09-29T06:45:23.378Z'
        Id: df7f10f9-4ec9-4389-a9eb-a6a3d549bb61
        UpdatedById: 7b39d73f-22e6-404a-b8e7-894f7620e91c
        UpdatedDate: '2019-09-29T06:45:23.378Z'
        schema:
          filterable:
          - last_name__c
          - email__c
          label: Personal Profile
          object: person
          properties:
            CreatedById:
              format: uuid
              label: CreatedById
              origin: system
              type: string
            CreatedDate:
              format: date-time
              label: CreatedDate
              origin: system
              type: string
            Id:
              format: uuid
              label: Id
              origin: system
              type: string
            UpdatedById:
              format: uuid
              label: UpdatedById
              origin: system
              type: string
            UpdatedDate:
              format: date-time
              label: UpdatedDate
              origin: system
              type: string
            age__c:
              description: Age in years
              minimum: 0
              origin: custom
              type: integer
            email__c:
              format: email
              maxLength: 128
              origin: custom
              type: string
            home_address__c:
              format: uuid
              origin: custom
              type: string
            last_name__c:
              maxLength: 128
              origin: custom
              type: string
            marital_status__c:
              default: Unknown
              enum:
              - Single
              - Married
              - Unknown
              origin: custom
              type: string
            work_address__c:
              format: uuid
              origin: custom
              type: string
          relationships:
          - cardinality: manyToOne
            fields:
              home_address__c: Id
            namespace: default
            object: address
            recordConstraints:
              create:
                enforceValidMapping: false
          - cardinality: manyToOne
            fields:
              work_address__c: Id
            namespace: default
            object: address
            recordConstraints:
              create:
                enforceValidMapping: false
          - cardinality: oneToMany
            fields:
              Id: person_id__c
            namespace: default
            object: car
            recordConstraints:
              create:
                enforceValidMapping: false
          - cardinality: oneToMany
            fields:
              Id: person_id__c
            namespace: default
            object: device
            recordConstraints:
              create:
                enforceValidMapping: false
          required:
          - last_name__c
          - marital_status__c
          type: object
        type: person
      properties:
        CreatedById:
          description: The creator's Id
          format: uuid
          type: string
        CreatedDate:
          description: The creation time of the custom object definition in date-time format.
          format: date-time
          type: string
        Id:
          description: The unique Id of the custom object definition
          format: uuid
          type: string
        UpdatedById:
          description: The modifier's Id
          format: uuid
          type: string
        UpdatedDate:
          description: The update time of the custom object definition in date-time format.
          format: date-time
          type: string
        schema:
          description: The schema of the custom object definition
          properties:
            auditable:
              description: The set of fields which Audit Trail tracks and records changes of.
              items:
                type: string
              type: array
            enableCreateRecordAuditing:
              description: Indicates whether to audit the creation of custom object records of this custom object definition.
              type: boolean
            enableDeleteRecordAuditing:
              description: Indicates whether to audit the deletion of custom object records of this custom object definition.
              type: boolean
            filterable:
              description: The set of fields that are allowed to be queried on. Queries on non-filterable fields will be rejected. You can not change a non-filterable field to filterable.
              items:
                type: string
              type: array
            label:
              description: A label for the custom object
              type: string
            object:
              description: The API name of the custom object
              type: string
            properties:
              $ref: '#/components/schemas/CustomObjectAllFieldsDefinition'
              description: all fields definition of the custom object definition
              type: object
            relationships:
              description: An array of relationships with Zuora objects or other custom objects
              items:
                additionalProperties: false
                properties:
                  cardinality:
                    default: manyToOne
                    description: 'The cardinality of the relationship from this object to another object.


                      A `manyToOne` relationship means this object is the child object (the "many" side), and the referenced object (the "one" side) is the parent.


                      A `oneToMany` relationship means this object is the parent object (the "one" side), and the referenced object (the "many" side) is the child.

                      '
                    enum:
                    - manyToOne
                    - oneToMany
                    type: string
                  fields:
                    $ref: '#/components/schemas/FieldsAdditionalProperties'
                  namespace:
                    description: The namespace where the related object is located
                    type: string
                  object:
                    description: The API name of the related object
                    type: string
                  recordConstraints:
                    description: 'Specifies contraints to apply to custom object records.

                      '
                    properties:
                      create:
                        properties:
                          enforceValidMapping:
                            description: 'Specifies whether Zuora validates the values of mapped fields

                              in custom object records.

                              '
                            type: boolean
                        type: object
                    type: object
                type: object
              type: array
            required:
              description: The required fields of the custom object definition. You can change required fields to optional. However, you can only change optional fields to required on the custom objects with no records.
              items:
                type: string
              type: array
            type:
              description: The custom object definition type. Can only be `object` currently.
              enum:
              - object
              type: string
            unique:
              description: The fields with unique constraints.
              items:
                type: string
              type: array
          type: object
        type:
          description: The API name of the custom object
          type: string
      title: customObjectDefinition
      type: object
    MigrationUpdateCustomObjectDefinitionsRequest:
      additionalProperties: false
      properties:
        actions:
          description: The actions of updating custom object definitions, to be performed as parts of the migration.  Currently only one action per migration is supported.
          items:
            $ref: '#/components/schemas/CustomObjectDefinitionUpdateActionRequest'
          maxItems: 1
          minItems: 1
          type: array
      required:
      - actions
      type: object
    FieldsAdditionalProperties:
      additionalProperties:
        type: string
      description: 'Field mappings in the form of `<this-object-field-name>`: `<other-object-field-name>`.

        '
      title: relationshipFieldMapping
      type: object
    CustomObjectDefinitionUpdateActionRequest:
      example:
        field:
          definition:
            description: Address zip code
            label: Zip code
            maxLength: 10
            type: string
          name: zip__c
        namespace: default
        object: address
        type: addField
      properties:
        description:
          description: Optional property for `updateObject` action
          type: string
        enableCreateRecordAuditing:
          description: 'Optional property for `updateObject` action.


            Indicates whether to audit the creation of custom object records of this custom object definition.


            Note that you must enable the **Custom Object Definition** audit trail setting in your Zuora tenant before auditing custom object record creation. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Tenant_Management/A_Administrator_Settings/Manage_Audit_Trail_Settings" target="_blank">Manage audit trail settings</a>.

            '
          type: boolean
        enableDeleteRecordAuditing:
          description: 'Optional property for `updateObject` action.


            Indicates whether to audit the deletion of custom object records of this custom object definition.


            Note that you must enable the **Custom Object Definition** audit trail setting in your Zuora tenant before auditing custom object record deletion. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Tenant_Management/A_Administrator_Settings/Manage_Audit_Trail_Settings" target="_blank">Manage audit trail settings</a>.

            '
          type: boolean
        field:
          $ref: '#/components/schemas/UpdateCustomObjectCusotmField'
        label:
          description: Optional property for `updateObject` action
          type: string
        namespace:
          description: The namespace of the custom object definition to be updated
          type: string
        object:
          description: The API name of the custom object definition to be updated
          type: string
        relationship:
          additionalProperties: false
          properties:
            cardinality:
              description: 'The cardinality of the relationship from this object to another object.


                Only the `manyToOne` cardinality can be used when creating relationships.  A relationship with `oneToMany` cardinality is created implicitly when a `manyToOne` relationship is created.


                A custom object definition can have a maximum of 2 `manyToOne` relationships.

                '
              enum:
              - manyToOne
              type: string
            fields:
              $ref: '#/components/schemas/FieldsAdditionalProperties'
            namespace:
              description: The namespace where the related object is located
              type: string
            object:
              description: The API name of the related object
              type: string
            recordConstraints:
              description: 'Specifies contraints to apply to custom object records.

                '
              properties:
                create:
                  properties:
                    enforceValidMapping:
                      default: true
                      description: 'Specifies whether Zuora validates the values of mapped fields

                        in custom object records.


                        By default, Zuora validates the values of mapped fields

                        in custom object records. For example, if the

                        custom object definition has a field called `AccountId__c`

                        that is mapped to the `Id` field of the `account` object,

                        Zuora verifies that the value of `AccountId__c` is a valid

                        account ID when a custom object record is created.

                        If the value of `AccountId__c` is not a valid account ID,

                        the operation fails.

                        '
                      type: boolean
                  type: object
              type: object
          required:
          - namespace
          - object
          - fields
          type: object
        type:
          description: The type of the updating action on a custom object definition
          enum:
          - addField
          - deleteField
          - updateField
          - updateObject
          - renameField
          - addRelationship
          - deleteRelationship
          type: string
      required:
      - type
      - namespace
      - object
      type: object
    PostCustomObjectDefinitionsRequestDefinitions:
      additionalProperties:
        $ref: '#/components/schemas/PostCustomObjectDefinitionsRequestDefinition'
      description: 'The custom object definitions. This object maps types to custom object definitions.

        '
      title: customObjectDefinitions
      type: object
    FieldsAdditionalPropertiesForPostDefinition:
      additionalProperties:
        type: string
      description: 'Field mappings in the form of `<this-object-field-name>`: `<other-object-field-name>`. Usually the `<other-object-field-name>` can only be the `Id` field of the related object. Two exceptions are Subscription Name and Rate Plan Charge Number as both of them are unique.

        '
      title: relationshipFieldMapping
      type: object
    CustomObjectCustomFieldDefinition:
      description: The custom field definition in the custom object
      properties:
        displayName:
          description: 'Indicates whether to use this field as the display name of the custom object when being linked to another custom object.


            This field applies only to the Text custom field type:


            - The `type` field is `string`.

            - The `enum` field is not specified.

            '
          type: boolean
        format:
          description: The data format of the custom field
          type: string
        label:
          description: The UI label of the custom field
          type: string
        maxLength:
          description: "The maximum length of string that can be stored in the custom field.\n\nThis field applies only to the following custom field types:\n\n- Text:\n  - The `type` field is `string`.\n  - The `format` field is not specified or is `url`.\n  - The `enum` field is not specified.\n- Picklist:\n  - The `type` field is `string`.\n  - The `enum` field is specified.\n  - The `multiselect` field is not specified or is `false`.\n- Multiselect:\n  - The `type` field is `string`.\n  - The `enum` field is specified.\n  - The `multiselect` field is `true`.\n"
          type: integer
        multiselect:
          description: 'Indicates whether this is a multiselect custom field.


            This field applies only to the Picklist or Multiselect custom field types:


            - The `type` field is `string`.

            - The `maxLength` field is specified.

            - The `enum` field is specified.

            '
          type: boolean
        origin:
          description: Specifies that this is a custom field
          enum:
          - custom
          type: string
        type:
          description: The data type of the custom field
          type: string
      title: customObjectCustomFieldDefinition
      type: object
    GETAllCustomObjectDefinitionsInNamespaceResponse:
      example:
        count: 2
        definitions:
          Delivery:
            CreatedById: 2c92c0f9-6a07-409d-016a-0a58ab1172eb
            CreatedDate: '2021-04-29T04:06:07.876Z'
            Id: 362e0954-7108-49ca-abb0-6f628478e77f
            UpdatedById: 2c92c0f9-6a07-409d-016a-0a58ab1172eb
            UpdatedDate: '2021-04-29T04:06:07.876Z'
            schema:
              description: Delivery schedule for shipping products based on customer's subscription.
              filterable:
              - ContactId__c
              - SubscriptionId__c
              - Quantity__c
              - ProductName__c
              - Cancelled__c
              - ShippingStatus__c
              - Id
              - CreatedById
              - UpdatedById
              - CreatedDate
              - UpdatedDate
              label: Delivery
              object: Delivery
              properties:
                CancellationTime__c:
                  description: The time at which customer cancelled this particular shipment.
                  format: date-time
                  label: Cancellation Time
                  origin: custom
                  type: string
                Cancelled__c:
                  default: false
                  description: Indicator is true when the customer has cancelled this particular shipment.
                  label: Shipment Cancelled
                  origin: custom
                  type: boolean
                ContactEmail__c:
                  description: The customer's email address.
                  label: Customer Email
                  maxLength: 128
                  origin: custom
                  type: string
                ContactId__c:
                  description: The customer contact who will receive the shipment.
                  format: uuid
                  label: Ship To Customer
                  origin: custom
                  type: string
                CreatedById:
                  label: CreatedById
                  origin: system
                  type: string
                CreatedDate:
                  format: date-time
                  label: CreatedDate
                  origin: system
                  type: string
                Id:
                  format: uuid
                  label: Id
                  origin: system
                  type: string
                ProductName__c:
                  description: The name of the product that is being shipped to customer.
                  label: Product Name
                  maxLength: 512
                  origin: custom
                  type: string
                Quantity__c:
                  description: The quantity of product that is being shipped to customer.
                  label: Quantity
                  maximum: 20
                  minimum: 1
                  origin: custom
                  type: integer
                ShippingDate__c:
                  description: The date the product will be sent to shipping vendor for delivery.
                  format: date
                  label: Shipping Date
                  origin: custom
                  type: string
                ShippingStatus__c:
                  default: Pending
                  description: The status of the shipment - e.g. Pending, Preparing shipment, Waiting for tracking information, or Shipped.
                  enum:
                  - Pending
                  - Preparing shipment
                  - Waiting for tracking information
                  - Shipped
                  label: Shipping Status
                  maxLength: 512
                  origin: custom
                  type: string
                SubscriptionId__c:
                  description: The subscription that is associated with the shipment record.
                  format: uuid
                  label: Subscription
                  origin: custom
                  type: string
                TotalWeight__c:
                  description: The total weight of the product and packaging that is being shipped to customer.
                  label: Total Weight (lbs.)
                  minimum: 0
                  origin: custom
                  type: number
                UpdatedById:
                  label: UpdatedById
                  origin: system
                  type: string
                UpdatedDate:
                  format: date-time
                  label: UpdatedDate
                  origin: system
                  type: string
              relationships:
              - cardinality: manyToOne
                fields:
                  ContactId__c: Id
                namespace: com_zuora
                object: contact
                recordConstraints:
                  create:
                    enforceValidMapping: false
              - cardinality: manyToOne
                fields:
                  SubscriptionId__c: Id
                namespace: com_zuora
                object: subscription
                recordConstraints:
                  create:
                    enforceValidMapping: false
              required:
              - SubscriptionId__c
              - ContactId__c
              - ProductName__c
              - Quantity__c
              - ShippingDate__c
              - Id
              - CreatedById
              - UpdatedById
              - CreatedDate
              - UpdatedDate
            type: Delivery
          birth_place_custom_object:
            CreatedById: 2c92c0f9-6a07-409d-016a-0a58ab1172eb
            CreatedDate: '2021-04-29T04:06:07.876Z'
            Id: 25924740-669d-4bcd-97b2-61c7410c7563
            UpdatedById: 2c92c0f9-6a07-409d-016a-0a58ab1172eb
            UpdatedDate: '2021-04-29T04:06:07.876Z'
            schema:
              filterable:
              - ContactId__c
              - city__c
              - Id
              - CreatedById
              - UpdatedById
              - CreatedDate
              - UpdatedDate
              label: Birth Place Custom Object
              object: birth_place_custom_object
              properties:
                ContactId__c:
                  format: uuid
                  label: Contact
                  origin: custom
                  type: string
                CreatedById:
                  label: CreatedById
                  origin: system
                  type: string
                CreatedDate:
                  format: date-time
                  label: CreatedDate
                  origin: system
                  type: string
                Id:
                  format: uuid
                  label: Id
                  origin: system
                  type: string
                UpdatedById:
                  label: UpdatedById
                  origin: system
                  type: string
                UpdatedDate:
                  format: date-time
                  label: UpdatedDate
                  origin: system
                  type: string
                city__c:
                  label: city label
                  maxLength: 512
                  origin: custom
                  type: string
                country__c:
                  label: country label
                  maxLength: 512
                  origin: custom
                  type: string
                state__c:
                  label: state label
                  maxLength: 512
                  origin: custom
                  type: string
              relationships:
              - cardinality: manyToOne
                fields:
                  ContactId__c: Id
                namespace: com_zuora
                object: contact
                recordConstraints:
                  create:
                    enforceValidMapping: false
              required:
              - city__c
              - state__c
              - country__c
              - Id
              - CreatedById
              - UpdatedById
              - CreatedDate
              - UpdatedDate
              type: object
            type: birth_place_custom_object
      properties:
        count:
          description: The number of objects in the `definitions` object. The value of this field is the number of custom object definitions in the namespace.
          type: integer
        definitions:
          $ref: '#/components/schemas/CustomObjectDefinitions'
      type: object
    CustomObjectDefinitionUpdateActionResponse:
      example:
        field:
          definition:
            description: Address zip code
            label: Zip code
            maxLength: 10
            type: string
          name: zip__c
        namespace: default
        object: address
        type: addField
      properties:
        description:
          description: Optional property for `updateObject` action
          type: string
        enableCreateRecordAuditing:
          description: Indicates whether to audit the creation of custom object records of this custom object definition.
          type: boolean
        enableDeleteRecordAuditing:
          description: Indicates whether to audit the deletion of custom object records of this custom object definition.
          type: boolean
        field:
          $ref: '#/components/schemas/UpdateCustomObjectCusotmField'
        label:
          description: Optional property for `updateObject` action
          type: string
        namespace:
          description: The namespace of the custom object definition to be updated
          type: string
        object:
          description: The API name of the custom object definition to be updated
          type: string
        relationship:
          additionalProperties: false
          properties:
            cardinality:
              default: manyToOne
              description: 'The cardinality of the relationship from this object to another object.


                A `manyToOne` relationship means this object is the child object (the "many" side), and the referenced object (the "one" side) is the parent.


                A `oneToMany` relationship means this object is the parent object (the "one" side), and the referenced object (the "many" side) is the child.

                '
              enum:
              - manyToOne
              - oneToMany
              type: string
            fields:
              $ref: '#/components/schemas/FieldsAdditionalProperties'
            namespace:
              description: The namespace where the related object is located
              type: string
            object:
              description: The API name of the related object
              type: string
            recordConstraints:
              description: 'Specifies contraints to apply to custom object records.

                '
              properties:
                create:
                  properties:
                    enforceValidMapping:
                      default: true
                      description: 'Specifies whether Zuora validates the values of mapped fields

                        in custom object records.

                        '
                      type: boolean
                  type: object
              type: object
          type: object
        type:
          description: The type of the updating action on a custom object definition
          enum:
          - addField
          - deleteField
          - updateField
          - updateObject
          - renameField
          - addRelationship
          - deleteRelationship
          type: string
      type: object
    PostCustomObjectDefinitionFieldsDefinitionRequest:
      additionalProperties:
        $ref: '#/components/schemas/PostCustomObjectDefinitionFieldDefinitionRequest'
      title: customObjectCustomFieldDefinitions
      type: object
    PostCustomObjectDefinitionsRequestDefinition:
      properties:
        auditable:
          description: The set of fields which Audit Trail tracks and records changes of. You can change auditable fields to non-auditable, and vice versa. One custom object can have a maximum of five auditable fields.
          items:
            type: string
          type: array
        enableCreateRecordAuditing:
          default: false
          description: 'Indicates whether to audit the creation of custom object records of this custom object definition.


            Note that you must enable the **Custom Object Definition** audit trail setting in your Zuora tenant before auditing custom object record creation. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Tenant_Management/A_Administrator_Settings/Manage_Audit_Trail_Settings" target="_blank">Manage audit trail settings</a>.

            '
          type: boolean
        enableDeleteRecordAuditing:
          default: false
          description: 'Indicates whether to audit the deletion of custom object records of this custom object definition.


            Note that you must enable the **Custom Object Definition** audit trail setting in your Zuora tenant before auditing custom object record deletion. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Tenant_Management/A_Administrator_Settings/Manage_Audit_Trail_Settings" target="_blank">Manage audit trail settings</a>.

            '
          type: boolean
        filterable:
          description: The set of fields that are allowed to be queried on. Queries on non-filterable fields will be rejected. You can not change a non-filterable field to filterable.
          items:
            type: string
          type: array
        label:
          description: A UI label for the custom object
          type: string
        object:
          description: The API name of the custom object
          type: string
        properties:
          $ref: '#/components/schemas/PostCustomObjectDefinitionFieldsDefinitionRequest'
          description: The custom field of the custom object
          type: object
        relationships:
          description: An array of relationships with Zuora objects or other custom objects. You can add at most 2 `manyToOne` relationships when creating a custom field definition.
          items:
            additionalProperties: false
            properties:
              cardinality:
                description: 'The cardinality of the relationship from this object to another object.


                  Only the `manyToOne` cardinality can be used when creating relationships.  A relationship with `oneToMany` cardinality is created implicitly when a `manyToOne` relationship is created.


                  A custom object definition can have a maximum of 2 `manyToOne` relationships.

                  '
                enum:
                - manyToOne
                type: string
              fields:
                $ref: '#/components/schemas/FieldsAdditionalPropertiesForPostDefinition'
              namespace:
                description: The namespace where the related object is located
                type: string
              object:
                description: The API name of the related object
                type: string
              recordConstraints:
                description: 'Specifies contraints to apply to custom object records.

                  '
                properties:
                  create:
                    properties:
                      enforceValidMapping:
                        default: true
                        description: 'Specifies whether Zuora validates the values of mapped fields

                          in custom object records.


                          By default, Zuora validates the values of mapped fields

                          in custom object records. For example, if the

                          custom object definition has a field called `AccountId__c`

                          that is mapped to the `Id` field of the `account` object,

                          Zuora verifies that the value of `AccountId__c` is a valid

                          account ID when a custom object record is created.

                          If the value of `AccountId__c` is not a valid account ID,

                          the operation fails.

                          '
                        type: boolean
                    type: object
                type: object
            required:
            - namespace
            - object
            - fields
            type: object
          type: array
        required:
          description: The required fields of the custom object. You can change required fields to optional. However, you can only change optional fields to required on the custom objects with no records.
          items:
            type: string
          type: array
        unique:
          description: The fields with unique constraints. You can remove the unique constraint on a field. However, you can only add a unique constraint to a filterable field if the custom object contains no record. One custom object can have a maximum of five fields with unique constraints.
          items:
            type: string
          type: array
      required:
      - object
      - label
      title: customObjectDefinition
      type: object
    MigrationUpdateCustomObjectDefinitionsResponse:
      additionalProperties: false
      properties:
        actions:
          description: The actions of updating custom object definitions, to be performed as parts of the migration.  Currently only one action per migration is supported.
          items:
            $ref: '#/components/schemas/CustomObjectDefinitionUpdateActionResponse'
          maxItems: 1
          minItems: 1
          type: array
      type: object
    UpdateCustomObjectCusotmField:
      description: A reference to a field.
      properties:
        auditable:
          description: 'Indicates whether Audit Trail will record changes of this custom field. You can change auditable fields to non-auditable, and vice versa. One custom object can have a maximum of five auditable fields.

            '
          type: boolean
        definition:
          $ref: '#/components/schemas/CustomObjectCustomFieldDefinitionUpdate'
          description: The custom field definition to be added or updated
          type: object
        filterable:
          description: 'Indicates whether the field is filterable or not. Applicable to `addField` and `updateField` actions.


            You can change a filterable field to non-filterable and vice versa. You can also add a filterable field. One custom object can have a maximum of 10 filterable fields.


            Note that changing filterable fields triggers reindexing. It will take 12-24 hours before all your data are reindexed and available to query.

            '
          type: boolean
        name:
          description: The name of the custom field to be updated
          type: string
        required:
          description: 'Indicates whether the field is required or optional.


            You can update a required field to optional. On the other hand, you can only update an optional field to required on the custom object with no records.


            You can only add a required field to the custom object with no records.

            '
          type: boolean
        targetName:
          description: Required if the `type` of the action is `renameField`
          type: string
        unique:
          description: 'Indicates whether to specify a unique constraint to the field. You can remove the unique constraint on the field. However, you can only add a unique constraint to a filterable field if the custom object contains no record. One custom object can have a maximum of five fields with unique constraints.

            '
          type: boolean
      type: object
    CustomObjectCustomFieldsDefinition:
      additionalProperties:
        $ref: '#/components/schemas/CustomObjectCustomFieldDefinition'
      description: The custom field definition in the custom object definition
      title: customObjectCustomFieldDefinition
      type: object
    CustomObjectDefinitions:
      additionalProperties:
        $ref: '#/components/schemas/CustomObjectDefinition'
      description: The custom object definitions. This object maps types to custom object definitions.
      title: customObjectDefinitions
      type: object
    PostCustomObjectDefinitionsRequest:
      example:
        definitions:
          Delivery:
            description: Delivery schedule for shipping products based on customer's subscription.
            filterable:
            - Quantity__c
            - ProductName__c
            - Cancelled__c
            - ShippingStatus__c
            label: Delivery
            object: Delivery
            properties:
              CancellationTime__c:
                description: The time at which customer cancelled this particular shipment.
                format: date-time
                label: Cancellation Time
                type: string
              Cancelled__c:
                default: false
                description: Indicator is true when the customer has cancelled this particular shipment.
                label: Shipment Cancelled
                type: boolean
              ContactEmail__c:
                description: The customer's email address.
                label: Customer Email
                maxLength: 128
                type: string
              ContactId__c:
                description: The customer contact who will receive the shipment.
                format: uuid
                label: Ship To Customer
                type: string
              ProductName__c:
                description: The name of the product that is being shipped to customer.
                label: Product Name
                type: string
              Quantity__c:
                description: The quantity of product that is being shipped to customer.
                label: Quantity
                maximum: 20
                minimum: 1
                type: integer
              ShippingDate__c:
                description: The date the product will be sent to shipping vendor for delivery.
                format: date
                label: Shipping Date
                type: string
              ShippingStatus__c:
                default: Pending
                description: The status of the shipment - e.g. Pending, Preparing shipment, Waiting for tracking information, or Shipped.
                enum:
                - Pending
                - Preparing shipment
                - Waiting for tracking information
                - Shipped
                label: Shipping Status
                type: string
              SubscriptionId__c:
                description: The subscription that is associated with the shipment record.
                format: uuid
                label: Subscription
                type: string
              TotalWeight__c:
                description: The total weight of the product and packaging that is being shipped to customer.
                label: Total Weight (lbs.)
                minimum: 0
                type: number
            relationships:
            - cardinality: manyToOne
              fields:
                SubscriptionId__c: Id
              namespace: com_zuora
              object: subscription
              recordConstraints:
                create:
                  enforceValidMapping: false
            - cardinality: manyToOne
              fields:
                ContactId__c: Id
              namespace: com_zuora
              object: contact
              recordConstraints:
                create:
                  enforceValidMapping: false
            required:
            - SubscriptionId__c
            - ContactId__c
            - ProductName__c
            - Quantity__c
            - ShippingDate__c
          birth_place_custom_object:
            filterable:
            - city__c
            label: Birth Place Custom Object
            object: birth_place_custom_object
            properties:
              ContactId__c:
                format: uuid
                label: Contact
                type: string
              city__c:
                label: city label
                type: string
              country__c:
                label: country label
                type: string
              state__c:
                label: state label
                type: string
            relationships:
            - cardinality: manyToOne
              fields:
                ContactId__c: Id
              namespace: com_zuora
              object: contact
              recordConstraints:
                create:
                  enforceValidMapping: false
            required:
            - city__c
            - state__c
            - country__c
            type: object
      properties:
        definitions:
          $ref: '#/components/schemas/PostCustomObjectDefinitionsRequestDefinitions'
      type: object
    CustomObjectCustomFieldDefinitionUpdate:
      description: The custom field definition in the custom object
      properties:
        default:
          description: Applicable if the `type` of the action is  `updateField`
          type: string
        description:
          description: Applicable if the `type` of the action is  `updateField`
          type: string
        displayName:
          description: 'Indicates whether to use this field as the display name of the custom object when being linked to another custom object.


            This field applies only to the Text custom field type:


            - The `type` field is `string`.

            - The `enum` field is not specified.

            '
          type: boolean
        format:
          description: The data format of the custom field
          type: string
        label:
          description: The UI label of the custom field
          type: string
        maxLength:
          description: "The maximum length of string that can be stored in the custom field.\n\nThis field applies only to the following custom field types:\n\n- Text:\n  - The `type` field is `string`.\n  - The `format` field is not specified or is `url`.\n  - The `enum` field is not specified.\n- Picklist:\n  - The `type` field is `string`.\n  - The `enum` field is specified.\n  - The `multiselect` field is not specified or is `false`.\n- Multiselect:\n  - The `type` field is `string`.\n  - The `enum` field is specified.\n  - The `multiselect` field is `true`.\n\nIf the custom field is filterable, the value of `maxLength` must be 512 or less.\n"
          type: integer
        multiselect:
          description: 'Indicates whether this is a multiselect custom field.


            This field applies only to the creation of Picklist or Multiselect custom fields:


            - The action `type` field is `addField`.

            - The definition `type` field is `string`.

            - The `maxLength` field is specified.

            - The `enum` field is specified.

            '
          type: boolean
        origin:
          description: Specifies that this is a custom field
          enum:
          - custom
          type: string
        type:
          description: The data type of the custom field
          type: string
      title: customObjectCustomFieldDefinition
      type: object
    PostCustomObjectDefinitionFieldDefinitionRequest:
      properties:
        displayName:
          description: 'Indicates whether to use this field as the display name of the custom object when being linked to another custom object.


            This field applies only to the Text custom field type:


            - The `type` field is `string`.

            - The `enum` field is not specified.

            '
          type: boolean
        format:
          description: The data format of the custom field
          type: string
        label:
          description: The UI label of the custom field
          type: string
        maxLength:
          description: "The maximum length of string that can be stored in the custom field.\n\nThis field applies only to the following custom field types:\n\n- Text:\n  - The `type` field is `string`.\n  - The `format` field is not specified or is `url`.\n  - The `enum` field is not specified.\n- Picklist:\n  - The `type` field is `string`.\n  - The `enum` field is specified.\n  - The `multiselect` field is not specified or is `false`.\n- Multiselect:\n  - The `type` field is `string`.\n  - The `enum` field is specified.\n  - The `multiselect` field is `true`.\n\nIf the custom field is filterable, the value of `maxLength` must be 512 or less.\n"
          type: integer
        multiselect:
          description: 'Indicates whether this is a multiselect custom field.


            This field applies only to the Picklist or Multiselect custom field types:


            - The `type` field is `string`.

            - The `maxLength` field is specified.

            - The `enum` field is specified.

            '
          type: boolean
        type:
          description: The data type of the custom field
          type: string
      required:
      - type
      - label
      title: customObjectCustomFieldDefinition
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
