openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Summary Journal Entries API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Summary Journal Entries
  description: 'A summary journal entry is a summary of Zuora transaction amounts organized by accounting code and general ledger segments. A segment adds more reporting granularity through business dimensions, such as country or product.


    For more information, see Summary Journal Entries Introduction'
paths:
  /v1/journal-entries:
    post:
      summary: Create a summary journal entry
      operationId: POST_SummaryJournalEntry
      description: 'This REST API reference describes how to manually create a summary journal entry. Request and response field descriptions and sample code are provided.

        ### Requirements

        1.The sum of debits must equal the sum of credits in the summary journal entry.


        2.The following applies only if you use foreign currency conversion:

        * If you have configured Aggregate transactions with different currencies during a Journal Run to "Yes", the value of the **currency** field must be the same as your tenant''s home currency. That is, you must create journal entries using your home currency.

        * All journal entries in an accounting period must either all be aggregated or all be unaggregated. You cannot have a mix of aggregated and unaggregated journal entries in the same accounting period.'
      tags:
      - Summary Journal Entries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTJournalEntryResponseType'
              example:
                success: true
                journalEntryNumber: JE-00000001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTJournalEntryType'
        required: true
  /v1/journal-entries/journal-runs/{jr-number}:
    get:
      summary: List all summary journal entries in a journal run
      operationId: GET_AllSummaryJournalEntries
      description: This REST API reference describes how to retrieve information about all summary journal entries in a journal run.
      tags:
      - Summary Journal Entries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize_finance_revenue'
      - name: jr-number
        in: path
        description: Journal run number.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETJournalEntriesInJournalRunType'
              example:
                success: true
                journalEntries:
                - number: JE-00000006
                  status: Created
                  journalEntryDate: '2016-12-31'
                  currency: USD
                  homeCurrency: USD
                  aggregateCurrency: true
                  transactionType: Invoice Item
                  accountingPeriodName: Dec'16
                  timePeriodStart: '2016-12-01'
                  timePeriodEnd: '2016-12-31'
                  transferredToAccounting: 'No'
                  notes: note
                  segments:
                  - segmentName: Seg1
                    segmentValue: seg value
                  journalEntryItems:
                  - accountingCodeType: AccountsReceivable
                    accountingCodeName: Accounts Receivable
                    glAccountName: Accounts Receivable
                    glAccountNumber: 10-001-000-1234
                    type: Debit
                    amount: 100.0
                    homeCurrencyAmount: 100.0
                  - accountingCodeType: SalesRevenue
                    accountingCodeName: Sales Revenue
                    glAccountName: Sales Revenue
                    glAccountNumber: 10-001-000-1000
                    type: Credit
                    amount: 100.0
                    homeCurrencyAmount: 100.0
  /v1/journal-entries/{je-number}:
    get:
      summary: Retrieve a summary journal entry
      operationId: GET_SummaryJournalEntry
      description: This REST API reference describes how to get information about a summary journal entry by its journal entry number.
      tags:
      - Summary Journal Entries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: je-number
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETJournalEntryDetailType'
              example:
                number: JE-00000001
                status: Created
                journalEntryDate: '2016-01-31'
                currency: USD
                homeCurrency: USD
                aggregateCurrency: true
                transactionType: Revenue Event Item
                accountingPeriodName: Jan'16
                timePeriodStart: '2016-01-01'
                timePeriodEnd: '2016-01-31'
                transferredToAccounting: null
                transferredBy: null
                transferDateTime: null
                notes: null
                segments:
                - segmentName: Customer Code
                  segmentValue: A00000001
                - segmentName: Charge Type
                  segmentValue: OneTime
                journalEntryItems:
                - accountingCodeType: DeferredRevenue
                  accountingCodeName: Deferred Revenue
                  glAccountName: null
                  glAccountNumber: null
                  type: Debit
                  homeCurrencyAmount: 424.08
                  amount: 424.08
                - accountingCodeType: SalesRevenue
                  accountingCodeName: Professional Services Revenue
                  glAccountName: null
                  glAccountNumber: null
                  type: Credit
                  homeCurrencyAmount: 424.08
                  amount: 424.08
                success: true
    delete:
      summary: Delete a summary journal entry
      operationId: DELETE_SummaryJournalEntry
      description: 'This reference describes how to delete a summary journal entry using the REST API.


        You must have the "Delete Cancelled Journal Entry" user permission enabled to delete summary journal entries.


        A summary journal entry must be canceled before it can be deleted.'
      tags:
      - Summary Journal Entries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: je-number
        in: path
        required: true
        description: Journal entry number in the format JE-00000001.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/journal-entries/{je-number}/cancel:
    put:
      summary: Cancel a summary journal entry
      operationId: PUT_SummaryJournalEntry
      description: 'This reference describes how to cancel a summary journal entry using the REST API.


        You must have the "Cancel Journal Entry" user permission enabled to cancel summary journal entries.


        A summary journal entry cannot be canceled if its Transferred to Accounting status is "Yes" or "Processing".'
      tags:
      - Summary Journal Entries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: je-number
        in: path
        description: Journal entry number in the format JE-00000001.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/journal-entries/{je-number}/basic-information:
    put:
      summary: Update a summary journal entry
      operationId: PUT_BasicSummaryJournalEntry
      description: This REST API reference describes how to update the basic information of a summary journal entry. Request and response field descriptions and sample code are provided.
      tags:
      - Summary Journal Entries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: je-number
        in: path
        description: Journal entry number in the format JE-00000001.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUT_BasicSummaryJournalEntryType'
        required: true
components:
  schemas:
    POSTJournalEntryItemType:
      allOf:
      - properties:
          accountingCodeName:
            description: 'Name of the accounting code.

              '
            type: string
          accountingCodeType:
            description: "Accounting code type. This field is required if `accountingCodeName` is not unique.\n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
          amount:
            description: 'Journal entry item amount in transaction currency.

              '
            format: decimal
            type: string
          homeCurrencyAmount:
            description: 'Journal entry item amount in home currency.


              This field is required if you have set your home currency for foreign currency conversion. Otherwise, do not pass this field.

              '
            format: decimal
            type: string
          type:
            description: 'Type of journal entry item. '
            enum:
            - Credit
            - Debit
            type: string
        required:
        - accountingCodeName
        - type
        - amount
        type: object
      - $ref: '#/components/schemas/JournalEntryItemObjectCustomFields'
      title: journalEntryItems
    POSTJournalEntrySegmentType:
      properties:
        segmentName:
          description: 'Name of segment. You must use the segment name that has already been specified in the default segment rule. In addition, segments need to be passed in the order where they were defined in the segmentation rule. If multiple segments are configured in the default rule, you need to specify all of them in order. '
          type: string
        segmentValue:
          description: 'Value of segment in this summary journal entry.

            '
          type: string
      required:
      - segmentName
      - segmentValue
      title: segments
      type: object
    JournalEntryObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Journal Entry object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Journal Entry object.

        '
      title: journalEntryFieldsCustom
      type: object
    POSTJournalEntryType:
      allOf:
      - properties:
          accountingPeriodName:
            description: 'Name of the accounting period. The open-ended accounting period is named `Open-Ended`.

              '
            type: string
          currency:
            description: 'The type of currency used. Currency must be active.

              '
            type: string
          journalEntryDate:
            description: 'Date of the journal entry.

              '
            format: date
            type: string
          journalEntryItems:
            description: 'Key name that represents the list of journal entry items.

              '
            items:
              $ref: '#/components/schemas/POSTJournalEntryItemType'
            type: array
          notes:
            description: 'The number associated with the revenue event.


              Character limit: 2,000

              '
            type: string
          organizationLabel:
            description: "Name of the organization that the journal entry belongs to.  \n\nThis field is only required when you have already turned on Multi-Org feature.    \n"
            type: string
          segments:
            description: 'List of segments that apply to the summary journal entry.

              '
            items:
              $ref: '#/components/schemas/POSTJournalEntrySegmentType'
            type: array
          transferredToAccounting:
            description: 'Status shows whether the journal entry has been transferred to an accounting system.

              '
            enum:
            - 'No'
            - Processing
            - 'Yes'
            - Error
            - Ignore
            type: string
        required:
        - journalEntryDate
        - accountingPeriodName
        - currency
        - journalEntryItems
        type: object
      - $ref: '#/components/schemas/JournalEntryObjectCustomFields'
      example:
        accountingPeriodName: Nov-2014
        currency: USD
        journalEntryDate: '2014-09-09'
        journalEntryItems:
        - accountingCodeName: Accounts Receivable
          accountingCodeType: Deferred Revenue
          amount: '400.9'
          homeCurrencyAmount: '801.8'
          type: Credit
        - accountingCodeName: Subscription Revenue
          accountingCodeType: Sales Revenue
          amount: '400.9'
          homeCurrencyAmount: '801.8'
          type: Debit
        notes: my account
        segments:
        - segmentName: billToCountry
          segmentValue: United States
        - segmentName: billToState
          segmentValue: California
        transferredToAccounting: 'No'
    PUT_BasicSummaryJournalEntryType:
      allOf:
      - properties:
          journalEntryItems:
            description: 'Key name that represents the list of journal entry items.

              '
            items:
              $ref: '#/components/schemas/PUTJournalEntryItemType'
            type: array
          notes:
            description: 'Additional information about this record.


              ***Character limit:*** 2,000

              '
            type: string
          transferredToAccounting:
            description: "Status shows whether the journal entry has been transferred to an accounting system. \n\nThis field cannot be changed after the summary journal entry has been canceled.\n\n**Note:** The Zuora Finance ***Override Transferred to Accounting*** permission is required to change `transferredToAccounting` from `Yes` to any other value.\n"
            enum:
            - 'No'
            - Processing
            - 'Yes'
            - Error
            - Ignore
            type: string
        type: object
      - $ref: '#/components/schemas/JournalEntryObjectCustomFields'
      example:
        journalEntryItems:
        - accountingCodeName: Accounts Receivable
          type: Credit
        - accountingCodeName: ''
          type: Debit
        notes: Transfer to accounting system
        transferredToAccounting: 'Yes'
    GETJournalEntriesInJournalRunType:
      properties:
        journalEntries:
          description: 'Key name that represents the list of journal entries.

            '
          items:
            $ref: '#/components/schemas/GETJournalEntryDetailTypeWithoutSuccess'
          type: array
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    GETJournalEntryDetailType:
      allOf:
      - properties:
          accountingPeriodName:
            description: 'Name of the accounting period that the journal entry belongs to.

              '
            type: string
          aggregateCurrency:
            description: 'Returns true if the journal entry is aggregating currencies. That is, if the journal entry was created when the `Aggregate transactions with different currencies during a Journal Run` setting was configured to `Yes`. Otherwise, returns `false`.

              '
            type: boolean
          currency:
            description: 'Currency used.

              '
            type: string
          homeCurrency:
            description: 'Home currency used.

              '
            type: string
          journalEntryDate:
            description: 'Date of the journal entry.

              '
            format: date
            type: string
          journalEntryItems:
            description: 'Key name that represents the list of journal entry items.

              '
            items:
              $ref: '#/components/schemas/GETJournalEntryItemType'
            type: array
          notes:
            description: '

              Additional information about this record.

              Character limit: 2,000

              '
            type: string
          number:
            description: 'Journal entry number in the format JE-00000001.

              '
            type: string
          organizationLabel:
            description: 'The organization that this object belongs to.


              Note: This field is available only when the Multi-Org feature is enabled.

              '
            type: string
          segments:
            description: 'List of segments that apply to the summary journal entry.

              '
            items:
              $ref: '#/components/schemas/GETJournalEntrySegmentType'
            type: array
          status:
            description: 'Status of journal entry.

              '
            enum:
            - Created
            - Cancelled
            type: string
          success:
            description: 'Returns `true` if the request was processed successfully.

              '
            type: boolean
          timePeriodEnd:
            description: 'End date of time period included in the journal entry.

              '
            format: date
            type: string
          timePeriodStart:
            description: 'Start date of time period included in the journal entry.

              '
            format: date
            type: string
          transactionType:
            description: 'Transaction type of the transactions included in the summary journal entry.

              '
            type: string
          transferDateTime:
            description: 'Date and time that transferredToAccounting was changed to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.

              '
            format: date-time
            type: string
          transferredBy:
            description: 'User ID of the person who changed transferredToAccounting to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.

              '
            type: string
          transferredToAccounting:
            description: 'Status shows whether the journal entry has been transferred to an accounting system. '
            enum:
            - 'No'
            - Processing
            - 'Yes'
            - Error
            - Ignore
            type: string
        type: object
      - $ref: '#/components/schemas/JournalEntryObjectCustomFields'
    GETJournalEntryDetailTypeWithoutSuccess:
      allOf:
      - properties:
          accountingPeriodName:
            description: 'Name of the accounting period that the journal entry belongs to.

              '
            type: string
          aggregateCurrency:
            description: 'Returns true if the journal entry is aggregating currencies. That is, if the journal entry was created when the `Aggregate transactions with different currencies during a JournalRun` setting was configured to "Yes". Otherwise, returns `false`.

              '
            type: boolean
          currency:
            description: 'Currency used.

              '
            type: string
          homeCurrency:
            description: 'Home currency used.

              '
            type: string
          journalEntryDate:
            description: 'Date of the journal entry.

              '
            format: date
            type: string
          journalEntryItems:
            description: 'Key name that represents the list of journal entry items.

              '
            items:
              $ref: '#/components/schemas/GETJournalEntryItemType'
            type: array
          notes:
            description: 'Additional information about this record.

              Character limit: 2,000

              '
            type: string
          number:
            description: 'Journal entry number in the format JE-00000001.

              '
            type: string
          organizationLabel:
            description: 'The organization that this object belongs to.


              Note: This field is available only when the Multi-Org feature is enabled.

              '
            type: string
          segments:
            description: 'List of segments that apply to the summary journal entry.

              '
            items:
              $ref: '#/components/schemas/GETJournalEntrySegmentType'
            type: array
          status:
            description: 'Status of journal entry. '
            enum:
            - Created
            - Cancelled
            type: string
          timePeriodEnd:
            description: 'End date of time period included in the journal entry.

              '
            format: date
            type: string
          timePeriodStart:
            description: 'Start date of time period included in the journal entry.

              '
            format: date
            type: string
          transactionType:
            description: 'Transaction type of the transactions included in the summary journal entry.

              '
            type: string
          transferDateTime:
            description: 'Date and time that transferredToAccounting was changed to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.

              '
            format: date-time
            type: string
          transferredBy:
            description: 'User ID of the person who changed transferredToAccounting to `Yes`. This field is returned only when transferredToAccounting is `Yes`. Otherwise, this field is `null`.

              '
            type: string
          transferredToAccounting:
            description: 'Status shows whether the journal entry has been transferred to an accounting system. '
            enum:
            - 'No'
            - Processing
            - 'Yes'
            - Error
            - Ignore
            type: string
        type: object
      - $ref: '#/components/schemas/JournalEntryObjectCustomFields'
      title: journalEntries
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    JournalEntryItemObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Journal Entry Item object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Journal Entry Item object.

        '
      title: journalEntryItemFieldsCustom
      type: object
    POSTJournalEntryResponseType:
      properties:
        journalEntryNumber:
          description: 'Journal entry number in the format JE-00000001.

            '
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    GETJournalEntryItemType:
      allOf:
      - properties:
          accountingCodeName:
            description: 'Name of the accounting code.

              '
            type: string
          accountingCodeType:
            description: "Accounting code type.\n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
          amount:
            description: 'Journal entry item amount in transaction currency.

              '
            format: decimal
            type: string
          glAccountName:
            description: 'The account number in the general ledger (GL) that corresponds to the accounting code.

              '
            type: string
          glAccountNumber:
            description: 'The account name in the general ledger (GL) that corresponds to the accounting code.

              '
            type: string
          homeCurrencyAmount:
            description: 'Journal entry item amount in home currency.

              '
            format: decimal
            type: string
          type:
            description: 'Type of journal entry item. '
            enum:
            - Credit
            - Debit
            type: string
        type: object
      - $ref: '#/components/schemas/JournalEntryItemObjectCustomFields'
      title: journalEntryItems
    GETJournalEntrySegmentType:
      properties:
        segmentName:
          description: 'Name of segment.

            '
          type: string
        segmentValue:
          description: 'Value of segment in this summary journal entry.

            '
          type: string
      title: segments
      type: object
    PUTJournalEntryItemType:
      allOf:
      - properties:
          accountingCodeName:
            description: 'Name of the accounting code.


              If the Journal Entry Item has a blank accounting code, enter the empty string.

              '
            type: string
          accountingCodeType:
            description: "Accounting code type.\n\nNote that `On-Account Receivable` is only available if you enable the Invoice Settlement feature. \n"
            enum:
            - AccountsReceivable
            - On-Account Receivable
            - Cash
            - OtherAssets
            - CustomerCashOnAccount
            - DeferredRevenue
            - SalesTaxPayable
            - OtherLiabilities
            - SalesRevenue
            - SalesDiscounts
            - OtherRevenue
            - OtherEquity
            - BadDebt
            - OtherExpenses
            type: string
          type:
            description: 'Type of journal entry item. '
            enum:
            - Credit
            - Debit
            type: string
        required:
        - accountingCodeName
        - type
        type: object
      - $ref: '#/components/schemas/JournalEntryItemObjectCustomFields'
      title: journalEntryItems
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_pageSize_finance_revenue:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 8
        maximum: 300
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
