openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Invoice Schedules API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Invoice Schedules
  description: 'Use invoice schedules to trigger invoice generation processes.


    For more information about invoice schedules, see Billing Schedule overview.'
paths:
  /v1/invoice-schedules:
    post:
      tags:
      - Invoice Schedules
      summary: Create an invoice schedule
      description: 'Creates an invoice schedule.


        ### Limitations


        This API operation has the following limitations:

        * You can create at most 50 invoice schedule items in one request.

        * You can associate at most 10 orders with an invoice schedule in one request.

        * You can associate at most 300 subscriptions with an invoice schedule in one request, including those contained in orders and separate subscriptions.'
      operationId: POST_CreateInvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceScheduleResponses'
              example:
                id: e2441b3e24eb42859194be7da2403b38
                number: IS-00000004
                status: Pending
                nextRunDate: '2022-02-24'
                totalAmount: 70200.0
                actualAmount: 70200.0
                billedAmount: 0.0
                unbilledAmount: 70200.0
                notes: 2022 Billing Schedule
                currency: USD
                scheduleItems:
                - id: 8a8881aa82118bec018211daf9f01680
                  amount: 50000.0
                  actualAmount: 50000.0
                  status: Pending
                  runDate: '2022-02-24'
                  targetDateForAdditionalSubscriptions: '2022-02-24'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11681
                  amount: 14000.0
                  status: Pending
                  actualAmount: 14000.0
                  runDate: '2022-10-17'
                  targetDateForAdditionalSubscriptions: '2022-10-17'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11682
                  amount: 6200.0
                  actualAmount: 6200.0
                  status: Pending
                  runDate: '2022-11-14'
                  targetDateForAdditionalSubscriptions: '2022-11-14'
                  percentage: null
                orders:
                - O-00000007
                - O-00000008
                specificSubscriptions:
                - orderKey: O-00000008
                  subscriptionKey: S-00000008
                invoiceSeparately: false
                additionalSubscriptionsToBill:
                - S-00000001
                - S-00000002
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTCreateInvoiceScheduleRequest'
        required: true
  /v1/invoice-schedules/{scheduleKey}:
    put:
      tags:
      - Invoice Schedules
      summary: Update an invoice schedule
      description: 'Updates a pending invoice schedule.


        You can use this API operation to update invoice schedules in the following aspects:

        - Update notes and pending invoice schedule items

        - Update orders associated with invoice schedules

        - Remove or add invoice schedule items


        For more samples, see Edit invoice schedules.


        ### Restrictions and limitations


        When updating invoice schedules through the REST API, keep the following restrictions and limitations in mind:

        - You can only update invoice schedule items in Pending status.

        - You can only add orders or specific subscriptions to pending invoice schedules, and remove orders or specific subscriptions from pending invoice schedules.

        - For the invoice schedule items that you want to update, you must include the new values for these items in the request.

        - For the invoice schedule items that you want to keep unchanged, you must include all the existing information about these items in the request. Otherwise, the existing invoice schedule items that you do not mention in the request are deleted.

        - For the orders that you want to keep unchanged for an invoice schedule, you must include all the existing order numbers associated with the invoice schedule in the request. Otherwise, the existing orders that you do not mention in the request are removed.'
      operationId: PUT_UpdateInvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: scheduleKey
        in: path
        description: 'The unique ID or number of the invoice schedule to be updated. For example, 2c92c8955bd63cc1015bd7c151af02ab or IS-0000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceScheduleResponses'
              example:
                id: e2441b3e24eb42859194be7da2403b38
                number: IS-00000004
                status: Pending
                nextRunDate: '2022-02-24'
                totalAmount: 70200.0
                billedAmount: 0.0
                actualAmount: 70200.0
                unbilledAmount: 70200.0
                notes: 2022 Billing Schedule
                currency: USD
                scheduleItems:
                - id: 8a8881aa82118bec018211daf9f01680
                  amount: 54000.0
                  actualAmount: 54000.0
                  status: Pending
                  runDate: '2022-02-24'
                  targetDateForAdditionalSubscriptions: '2022-02-24'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11681
                  amount: 10000.0
                  actualAmount: 10000.0
                  status: Pending
                  runDate: '2022-10-17'
                  targetDateForAdditionalSubscriptions: '2022-10-17'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11682
                  amount: 6200.0
                  actualAmount: 6200.0
                  status: Pending
                  runDate: '2022-11-14'
                  targetDateForAdditionalSubscriptions: '2022-11-14'
                  percentage: null
                orders:
                - O-00000007
                - O-00000008
                specificSubscriptions:
                - orderKey: O-00000008
                  subscriptionKey: S-00000008
                invoiceSeparately: false
                additionalSubscriptionsToBill:
                - S-00000001
                - S-00000002
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTUpdateInvoiceScheduleRequest'
        required: true
    get:
      tags:
      - Invoice Schedules
      summary: Retrieve an invoice schedule
      description: Retrieves detailed information about an invoice schedule.
      operationId: GET_InvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: scheduleKey
        in: path
        description: 'The unique ID or number of the invoice schedule to be retrieved. For example, 2c92c8955bd63cc1015bd7c151af02ab or IS-0000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceScheduleResponses'
              example:
                id: e2441b3e24eb42859194be7da2403b38
                number: IS-00000004
                status: PartiallyProcessed
                nextRunDate: '2022-10-17'
                totalAmount: 70200.0
                billedAmount: 50000.0
                actualAmount: 20200.0
                unbilledAmount: 20200.0
                notes: 2022 Billing Schedule
                currency: USD
                scheduleItems:
                - id: 8a8881aa82118bec018211daf9f01680
                  amount: 50000.0
                  actualAmount: 0.0
                  status: Processed
                  invoiceId: 8a8881aa82118bec018211dafc1e1695
                  runDate: '2022-02-24'
                  targetDateForAdditionalSubscriptions: '2022-02-24'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11681
                  amount: 14000.0
                  actualAmount: 14000.0
                  status: Pending
                  runDate: '2022-10-17'
                  targetDateForAdditionalSubscriptions: '2022-10-17'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11682
                  amount: 6200.0
                  actualAmount: 6200.0
                  status: Pending
                  runDate: '2022-11-14'
                  targetDateForAdditionalSubscriptions: '2022-11-14'
                  percentage: null
                orders:
                - O-00000007
                - O-00000008
                specificSubscriptions:
                - orderKey: O-00000008
                  subscriptionKey: S-00000008
                invoiceSeparately: false
                additionalSubscriptionsToBill:
                - S-00000001
                - S-00000002
                success: true
    delete:
      tags:
      - Invoice Schedules
      summary: Delete an invoice schedule
      description: Deletes an invoice schedule in Pending status. The status of the invoice schedule to be deleted must be `Pending`.
      operationId: DELETE_InvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: scheduleKey
        in: path
        description: 'The unique ID or number of the invoice schedule to be deleted. For example, 2c92c8955bd63cc1015bd7c151af02ab or IS-0000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
  /v1/invoice-schedules/{scheduleKey}/pause:
    put:
      tags:
      - Invoice Schedules
      summary: Pause an invoice schedule
      description: 'Pauses an invoice schedule immediately.


        After one invoice schedule is paused, it cannot be automatically executed by Zuora Scheduler or by the Execute an invoice schedule API operation.


        If you want to run a paused invoice schedule, you can create a bill run with the target date greater than the next run date of the invoice schedule.'
      operationId: PUT_PauseInvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: scheduleKey
        in: path
        description: 'The unique ID or number of the schedule to be paused. For example, 2c92c8955bd63cc1015bd7c151af02ab or IS-0000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceScheduleResponses'
              example:
                id: e2441b3e24eb42859194be7da2403b38
                number: IS-00000004
                status: Paused
                nextRunDate: '2022-10-17'
                totalAmount: 70200.0
                billedAmount: 50000.0
                actualAmount: 20200.0
                unbilledAmount: 20200.0
                notes: 2022 Billing Schedule
                currency: USD
                scheduleItems:
                - id: 8a8881aa82118bec018211daf9f01680
                  amount: 50000.0
                  actualAmount: 0.0
                  status: Processed
                  invoiceId: 8a8881aa82118bec018211dafc1e1695
                  runDate: '2022-02-24'
                  targetDateForAdditionalSubscriptions: '2022-02-24'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11681
                  amount: 14000.0
                  actualAmount: 14000.0
                  status: Pending
                  runDate: '2022-10-17'
                  targetDateForAdditionalSubscriptions: '2022-10-17'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11682
                  amount: 6200.0
                  actualAmount: 6200.0
                  status: Pending
                  runDate: '2022-11-14'
                  targetDateForAdditionalSubscriptions: '2022-11-14'
                  percentage: null
                orders:
                - O-00000007
                - O-00000008
                specificSubscriptions:
                - orderKey: O-00000008
                  subscriptionKey: S-00000008
                success: true
  /v1/invoice-schedules/{scheduleKey}/resume:
    put:
      tags:
      - Invoice Schedules
      summary: Resume an invoice schedule
      description: 'Resumes an invoice schedule in Paused status immediately.


        After an invoice schedule is resumed, it can continue to be automatically executed by Zuora Scheduler or by the Execute an invoice schedule API operation.'
      operationId: PUT_ResumeInvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: scheduleKey
        in: path
        description: 'The unique ID or number of the schedule to be resumed. For example, 2c92c8955bd63cc1015bd7c151af02ab or IS-0000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceScheduleResponses'
              example:
                id: e2441b3e24eb42859194be7da2403b38
                number: IS-00000004
                status: PartiallyProcessed
                nextRunDate: '2022-10-17'
                totalAmount: 70200.0
                billedAmount: 50000.0
                actualAmount: 20200.0
                unbilledAmount: 20200.0
                notes: 2022 Billing Schedule
                currency: USD
                scheduleItems:
                - id: 8a8881aa82118bec018211daf9f01680
                  amount: 50000.0
                  actualAmount: 0.0
                  status: Processed
                  invoiceId: 8a8881aa82118bec018211dafc1e1695
                  runDate: '2022-02-24'
                  targetDateForAdditionalSubscriptions: '2022-02-24'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11681
                  amount: 14000.0
                  actualAmount: 14000.0
                  status: Pending
                  runDate: '2022-10-17'
                  targetDateForAdditionalSubscriptions: '2022-10-17'
                  percentage: null
                - id: 8a8881aa82118bec018211daf9f11682
                  amount: 6200.0
                  actualAmount: 6200.0
                  status: Pending
                  runDate: '2022-11-14'
                  targetDateForAdditionalSubscriptions: '2022-11-14'
                  percentage: null
                orders:
                - O-00000007
                - O-00000008
                specificSubscriptions:
                - orderKey: O-00000008
                  subscriptionKey: S-00000008
                success: true
  /v1/invoice-schedules/{scheduleKey}/execute:
    post:
      tags:
      - Invoice Schedules
      summary: Execute an invoice schedule
      description: 'Executes an invoice schedule immediately.


        During the execution, a bill run is created and generates an invoice or a credit memo asynchronously.


        When you use this API operation to execute an invoice schedule item, you have the flexibility to decide whether to specify a specific item ID.


        - If you specify the unique ID of an invoice schedule item to be executed in the request, the corresponding invoice schedule item is executed.

        - If you do not specify the ID of any invoice schedule item in the request, the subscription end date is used as the target date to determine the next pending schedule item to be executed.


        For more samples, see Execute invoice schedules.'
      operationId: POST_ExecuteInvoiceSchedule
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: scheduleKey
        in: path
        description: 'The unique ID or number of the schedule to be executed. For example, 2c92c8955bd63cc1015bd7c151af02ab or IS-0000001.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteInvoiceScheduleBillRunResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTExecuteInvoiceScheduleRequest'
        required: true
components:
  schemas:
    BillRunFilters:
      allOf:
      - properties:
          accountId:
            description: 'The target account of the bill run.

              '
            type: string
          filterType:
            description: 'The type of the filter to determine whether to create a bill run at the account level or subscription level.

              '
            enum:
            - Account
            - Subscription
            - InvoiceSchedule
            type: string
          subscriptionId:
            description: "The unique ID of the target subscription belonged to the target account. \n\nThis field is required if you set the `filterType` field to `Subscription`.\n"
            type: string
        type: object
      - {}
      title: billRunFilters
    InvoiceScheduleItemCustomFields:
      additionalProperties:
        description: 'Custom fields of the Invoice Schedule Item object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Invoice Schedule Item object.

        '
      title: invoiceScheduleItemCustomFields
      type: object
    POSTScheduleItemType:
      allOf:
      - properties:
          amount:
            description: "The amount of the invoice to be generated during the processing of the invoice schedule item. \n\nYou can only specify either the `amount` field or `percentage` field in one request. \n  - If you choose to specify the `amount` field in the request, `null` is returned as the value of the `percentage` field in the corresponding response. \n  - If you choose to specify the `percentage` field in the request, the value of the `amount` field returned in the corresponding response is calculated based on the percentage of the total amount.            \n"
            format: number
            type: string
          name:
            description: 'The name of the invoice schedule item.

              '
            maxLength: 100
            type: string
          percentage:
            description: "The percentage of the total amount to be billed during the processing of the invoice schedule item. \n\nYou can only specify either the `amount` field or `percentage` field in one request. \n  - If you choose to specify the `amount` field in the request, `null` is returned as the value of the `percentage` field in the corresponding response. \n  - If you choose to specify the `percentage` field in the request, the value of the `amount` field returned in the corresponding response is calculated based on the percentage of the total amount.\n"
            format: number
            maximum: 100
            type: string
          runDate:
            description: "The date in the tenant’s time zone when the invoice schedule item is planned to be processed to generate an invoice.\n\n\nWhen specifying run dates for invoice schedule items, consider that:\n- An invoice schedule item with a blank run date will not be executed.\n- You can only update the run date for an invoice schedule item in Pending status.\n- If the run date of an invoice schedule item is left empty, the dates of all subsequent invoice schedule items must also be blank.\n- You must specify run dates in chronological order for invoice schedule items.                  \n"
            format: date
            type: string
          targetDateForAdditionalSubscriptions:
            description: "The date in the tenant's time zone used by the invoice schedule to determine which fixed-period regular charges to be billed together with the invoice schedule item. \n\nThe regular charges must come from the subscriptions specified in the `additionalSubscriptionsToBill` field.\n"
            format: date
            type: string
        type: object
      - $ref: '#/components/schemas/InvoiceScheduleItemCustomFields'
      - {}
      title: scheduleItems
    PUTUpdateInvoiceScheduleRequest:
      allOf:
      - properties:
          additionalSubscriptionsToBill:
            description: "A list of the numbers of the subscriptions that need to be billed together with the invoice schedule. \n\nOne invoice schedule can have at most 600 additional subscriptions.\n"
            items:
              type: string
            type: array
          invoiceSeparately:
            description: 'Whether the invoice items created from the invoice schedule appears on a separate invoice when Zuora generates invoices.

              '
            type: boolean
          nextRunDate:
            description: "The run date of the next execution of the invoice schedule. \n\nBy default, the next run date is the same as the run date of next pending invoice schedule item. The date can be overwritten by a different date other than the default value. If the invoice schedule has completed the execution, the next run date is `null`.\n"
            format: date
            type: string
          notes:
            description: 'Comments on the invoice schedule.

              '
            maxLength: 255
            type: string
          orders:
            description: 'A list of the IDs or numbers of the orders associated with the invoice schedule. One invoice schedule can be associated with at most 10 orders.


              The orders specified in this field override all the existing orders associated with the invoice schedule.

              '
            items:
              type: string
            type: array
          scheduleItems:
            description: 'Container for invoice schedule items. The maximum number of schedule items is 50.


              The invoice schedule items specified in this field override all the existing invoice schedule items.

              '
            items:
              $ref: '#/components/schemas/UpdateScheduleItems'
            type: array
          specificSubscriptions:
            description: "A list of the numbers of specific subscriptions associated with the invoice schedule.\n\n- If the subscriptions specified in this field belong to the orders specified in the `orders` field, only the specific subscriptions instead of the orders are associated with the invoice schedule. \n- If only the `orders` field is specified, all the subscriptions from the order are associated with the invoice schedule.\n  \nThe specific subscriptions specified in this field override all the existing specific subscriptions associated with the invoice schedule.\n\nExample:\n```\n{\n  \"orders\": [\n    \"O-00000001\", \"O-00000002\"\n  ],\n  \"specificSubscriptions\": [\n    {\n      \"orderKey\": \"O-00000001\",\n      \"subscriptionKey\": \"S-00000001\"\n    }\n  ]\n}\n```\n- For the order with number O-00000001, only subscription S-00000001 contained in the order is associated with the invoice schedule.\n- For the order with number O-00000002, all subscriptions contained in the order are associated with the invoice schedule.\n"
            items:
              $ref: '#/components/schemas/InvoiceScheduleSpecificSubscriptions'
            type: array
        type: object
      - $ref: '#/components/schemas/InvoiceScheduleCustomFields'
      - {}
      example:
        additionalSubscriptionsToBill:
        - S-00000001
        - S-00000002
        invoiceSeparately: false
        nextRunDate: '2022-02-01'
        notes: 2022 Billing Schedule - V2
        orders:
        - O-00000007
        - O-00000008
        scheduleItems:
        - amount: 54000
          id: 8a8881aa82118bec018211daf9f01680
          runDate: '2022-02-24'
          targetDateForAdditionalSubscriptions: '2022-02-24'
        - amount: 10000
          id: 8a8881aa82118bec018211daf9f11681
          runDate: '2022-10-17'
          targetDateForAdditionalSubscriptions: '2022-10-17'
        - amount: 6200
          id: 8a8881aa82118bec018211daf9f11682
          runDate: '2022-11-14'
          targetDateForAdditionalSubscriptions: '2022-11-14'
        specificSubscriptions:
        - orderKey: O-00000008
          subscriptionKey: S-00000008
    InvoiceScheduleSpecificSubscriptions:
      properties:
        chargeNumbers:
          description: 'A list of charges in the subscription that are chosen to be included in the invoice schedule.

            '
          type: string
        orderKey:
          description: 'The unique ID or number of the order associated with the invoice schedule.

            '
          type: string
        subscriptionKey:
          description: 'The unique number of the subscription contained in the order associated with the invoice schedule.

            '
          type: string
      title: specificSubscriptions
      type: object
    ExecuteInvoiceScheduleBillRunResponse:
      allOf:
      - properties:
          autoEmail:
            description: 'Whether to automatically send an email after Auto-Post is complete.

              '
            type: boolean
          autoPost:
            description: 'Whether to automatically post the bill run after the bill run is created.

              '
            type: boolean
          autoRenewal:
            description: 'Whether to automatically renew auto-renew subscriptions that are up for renewal.

              '
            type: boolean
          batches:
            description: "A list of the batches of accounts for this bill run. \n\nThis field cannot exist with the `billRunFilters` field.\n\n**Values:** `AllBatches` or Batch*n* where *n* is a number between 1 and 50, for example, `Batch7`.\n"
            items:
              type: string
            type: array
          billCycleDay:
            description: "The day of the bill cycle, this field is only valid when `batches` is specified.\n\n**Values:** \n- `AllBillCycleDays` or 1 - 31 for an ad-hoc bill run \n- `AllBillCycleDays` or 1 - 31 or `AsRunDay` for a scheduled bill run\n"
            type: string
          billRunFilters:
            description: 'A list of the target account or subscriptions for this bill run.


              This field cannot exist with the `batches` field.

              '
            items:
              $ref: '#/components/schemas/BillRunFilters'
            type: array
          billRunNumber:
            description: 'The number of bill run.

              '
            type: string
          chargeTypeToExclude:
            description: 'The types of the charges to be excluded from the generation of billing documents.

              '
            items:
              enum:
              - OneTime
              - Recurring
              - Usage
              type: string
            type: array
          createdById:
            description: 'The ID of the user who created the bill run.

              '
            type: string
          createdDate:
            description: 'The date and time when the bill run was created.

              '
            format: date-time
            type: string
          id:
            description: 'The unique ID of the bill run.

              '
            type: string
          invoiceDate:
            description: 'The invoice date for this bill run, only valid for ad-hoc bill runs.

              '
            format: date
            type: string
          invoiceDateOffset:
            description: 'The offset compared to bill run execution date, only valid for scheduled bill runs.

              '
            type: integer
          noEmailForZeroAmountInvoice:
            description: "Whether to suppress emails for invoices with the total amount of zero or not for this bill run after the bill run is complete. \n\n**Note**: Do not email invoices with the total amount of zero.\n"
            type: boolean
          organizationLabels:
            description: "The organization(s) that the object belongs to. \n\nNote: This field is available only when the Multi-Org feature is enabled.            \n"
            items:
              properties:
                organizationId:
                  description: 'The organization ID.

                    '
                  type: string
                organizationName:
                  description: 'The organization name.

                    '
                  type: string
              type: object
            type: array
          scheduledExecutionTime:
            description: 'The scheduled execution time for a bill run.

              '
            format: date-time
            type: string
          status:
            description: 'The status of the bill run.

              '
            enum:
            - Pending
            - Processing
            - Completed
            - Error
            - Canceled
            - Posted
            - PostInProgress
            - CancelInProgress
            - RemoveInProgress
            - Paused
            type: string
          targetDate:
            description: 'The target date for this bill run, only valid for ad-hoc bill run.

              '
            format: date
            type: string
          targetDateOffset:
            description: 'The offset compared to bill run execution date, only valid for scheduled bill run.

              '
            type: integer
          updatedById:
            description: 'The ID of the user who updated the bill run.

              '
            type: string
          updatedDate:
            description: 'The date and time when the bill run was updated.

              '
            format: date-time
            type: string
        type: object
      - {}
      example:
        autoEmail: false
        autoPost: false
        autoRenewal: false
        billRunFilters:
        - accountId: 2c9081a03c63c94c013c66688a2c00bf
          filterType: Subscription
          subscriptionId: 402882297e387c51017e38a245c313db
        billRunNumber: BR-00000016
        chargeTypeToExclude:
        - OneTime
        - Usage
        createdById: ff808081298c6e5401298c7274a40005
        createdDate: '2022-01-24 19:58:27'
        id: 2c9890077e8a8490017e8bf3a5171a43
        invoiceDate: '2020-02-01'
        noEmailForZeroAmountInvoice: false
        status: Pending
        success: true
        targetDate: '2020-02-01'
        updatedById: ff808081298c6e5401298c7274a40005
        updatedDate: '2022-01-24 19:58:27'
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    ScheduleItemsResponse:
      allOf:
      - properties:
          actualAmount:
            description: 'The actual amount that needs to be billed during the processing of the invoice schedule item.


              By default, the actual amount is the same as the total amount. Even if order changes occur like Remove Product or Cancel Subscription, the value of the `amount` field keeps unchanged. The value of the `actualAmount` field reflects the actual amount to be billed.

              '
            format: number
            type: string
          amount:
            description: "The amount of the invoice generated during the processing of the invoice schedule item.\n\nYou can only specify either the `amount` field or `percentage` field in one request. \n- If you choose to specify the `amount` field in the request, `null` is returned as the value of the `percentage` field in the corresponding response. \n- If you choose to specify the `percentage` field in the request, the value of the `amount` field returned in the corresponding response is calculated based on the percentage of the total amount.\n\nThe value of this field keeps unchanged once invoice schedule items are created. \n"
            format: number
            type: string
          creditMemoId:
            description: 'The ID of the credit memo that is generated during the processing of the invoice schedule item.

              '
            type: string
          id:
            description: 'The unique ID of the invoice schedule item.

              '
            type: string
          invoiceId:
            description: 'The ID of the invoice that is generated during the processing of the invoice schedule item.

              '
            type: string
          name:
            description: 'The name of the invoice schedule item.

              '
            maxLength: 100
            type: string
          percentage:
            description: "The percentage of the total amount to be billed during the processing of the invoice schedule item. \n\nYou can only specify either the `amount` field or `percentage` field in one request. \n- If you choose to specify the `amount` field in the request, `null` is returned as the value of the `percentage` field in the corresponding response. \n- If you choose to specify the `percentage` field in the request, the value of the `amount` field returned in the corresponding response is calculated based on the percentage of the total amount.\n"
          runDate:
            description: 'The date in the tenant’s time zone when the invoice schedule item is processed to generate an invoice.

              '
            format: date
            type: string
          status:
            description: 'The status of the invoice schedule item.

              '
            enum:
            - Pending
            - Executing
            - Processed
            type: string
          targetDateForAdditionalSubscriptions:
            description: "The date in the tenant's time zone used by the invoice schedule to determine which fixed-period regular charges to be billed together with the invoice schedule item. \n\nThe regular charges must come from the subscriptions specified in the `additionalSubscriptionsToBill` field.\n"
            format: date
            type: string
        type: object
      - $ref: '#/components/schemas/InvoiceScheduleItemCustomFields'
      - {}
      title: scheduleItems
    POSTCreateInvoiceScheduleRequest:
      allOf:
      - properties:
          accountKey:
            description: 'The ID or number of the account associated with the invoice schedule.

              '
            type: string
          additionalSubscriptionsToBill:
            description: "A list of the numbers of the subscriptions that need to be billed together with the invoice schedule. \n\nOne invoice schedule can have at most 600 additional subscriptions.\n"
            items:
              type: string
            type: array
          invoiceSeparately:
            description: 'Whether the invoice items created from the invoice schedule appears on a separate invoice when Zuora generates invoices.

              '
            type: boolean
          notes:
            description: 'Comments on the invoice schedule.

              '
            maxLength: 255
            type: string
          orders:
            description: 'A list of the IDs or numbers of the orders associated with the invoice schedule. One invoice schedule can be associated with at most 10 orders.

              '
            items:
              type: string
            type: array
          scheduleItems:
            description: 'Container for invoice schedule items. One invoice schedule can have at most 50 invoice schedule items.

              '
            items:
              $ref: '#/components/schemas/POSTScheduleItemType'
            type: array
          specificSubscriptions:
            description: "A list of the numbers of specific subscriptions associated with the invoice schedule.\n\n- If the subscriptions specified in this field belong to the orders specified in the `orders` field, only the specific subscriptions instead of the orders are associated with the invoice schedule. \n- If only the `orders` field is specified, all the subscriptions from the order are associated with the invoice schedule.\n\nExample:\n```\n{\n  \"orders\": [\n    \"O-00000001\", \"O-00000002\"\n  ],\n  \"specificSubscriptions\": [\n    {\n      \"orderKey\": \"O-00000001\",\n      \"subscriptionKey\": \"S-00000001\"\n    }\n  ]\n}\n```\n- For the order with number O-00000001, only subscription S-00000001 contained in the order is associated with the invoice schedule.\n- For the order with number O-00000002, all subscriptions contained in the order are associated with the invoice schedule.\n"
            items:
              $ref: '#/components/schemas/InvoiceScheduleSpecificSubscriptions'
            type: array
        type: object
      - $ref: '#/components/schemas/InvoiceScheduleCustomFields'
      - {}
      example:
        accountKey: A00000007
        additionalSubscriptionsToBill:
        - S-00000001
        - S-00000002
        invoiceSeparately: false
        notes: 2022 Billing Schedule
        orders:
        - O-00000007
        - O-00000008
        scheduleItems:
        - amount: 50000
          runDate: '2022-02-24'
          targetDateForAdditionalSubscriptions: '2022-02-24'
        - amount: 14000
          runDate: '2022-10-17'
          targetDateForAdditionalSubscriptions: '2022-10-17'
        - amount: 6200
          runDate: '2022-11-14'
          targetDateForAdditionalSubscriptions: '2022-11-14'
        specificSubscriptions:
        - orderKey: O-00000008
          subscriptionKey: S-00000008
    POSTExecuteInvoiceScheduleRequest:
      allOf:
      - properties:
          scheduleItemId:
            description: 'The ID of the invoice schedule item to be executed.


              The item must be the earliest pending schedule item. If all the invoice schedule items have been processed and credit is needed to be generated, do not specify this field in the request.

              '
            type: string
        type: object
      - {}
      example:
        scheduleItemId: 8ad09b7d82b5c62f0182c5cd16944f73
    UpdateScheduleItems:
      allOf:
      - properties:
          amount:
            description: "The amount of the invoice to be generated during the processing of the invoice schedule item. \n\nYou can only specify either the `amount` field or `percentage` field in one request. \n- If you choose to specify the `amount` field in the request, `null` is returned as the value of the `percentage` field in the corresponding response. \n- If you choose to specify the `percentage` field in the request, the value of the `amount` field returned in the corresponding response is calculated based on the percentage of the total amount.\n"
            format: number
            type: string
          id:
            description: "The unique ID of the invoice schedule item to be updated. \n\nIf this field is not provided, a new invoice schedule item is added to the invoice schedule.\n"
            type: string
          name:
            description: 'The name of the invoice schedule item.

              '
            maxLength: 100
            type: string
          percentage:
            description: "The percentage of the total amount to be billed during the processing of the invoice schedule item. \n\nYou can only specify either the `amount` field or `percentage` field in one request. \n- If you choose to specify the `amount` field in the request, `null` is returned as the value of the `percentage` field in the corresponding response. \n- If you choose to specify the `percentage` field in the request, the value of the `amount` field returned in the corresponding response is calculated based on the percentage of the total amount.              \n"
          runDate:
            description: 'The date in the tenant’s time zone when the invoice schedule item is planned to be processed to generate an invoice.

              '
            format: date
            type: string
          targetDateForAdditionalSubscriptions:
            description: "The date in the tenant's time zone used by the invoice schedule to determine which fixed-period regular charges to be billed together with the invoice schedule item. \n\nThe regular charges must come from the subscriptions specified in the `additionalSubscriptionsToBill` field.\n"
            format: date
            type: string
        type: object
      - $ref: '#/components/schemas/InvoiceScheduleItemCustomFields'
      - {}
      title: scheduleItems
    InvoiceScheduleCustomFields:
      additionalProperties:
        description: 'Custom fields of the Invoice Schedule object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Invoice Schedule object.

        '
      title: invoiceScheduleCustomFields
      type: object
    InvoiceScheduleResponses:
      allOf:
      - properties:
          accountId:
            description: 'The ID of the customer account that the invoice schedule belongs to.

              '
            type: string
          actualAmount:
            description: 'The actual amount that needs to be billed during the processing of the invoice schedule.


              By default, the actual amount is the same as the total amount. Even if order changes occur like Remove Product or Cancel Subscription, the value of the `totalAmount` field keeps unchanged. The value of the `actualAmount` field reflects the actual amount to be billed.

              '
            format: number
            type: string
          additionalSubscriptionsToBill:
            description: "A list of the numbers of the subscriptions that need to be billed together with the invoice schedule. \n\nOne invoice schedule can have at most 600 additional subscriptions.\n"
            items:
              type: string
            type: array
          billedAmount:
            description: 'The amount that has been billed during the processing of the invoice schedule.

              '
            format: number
            type: string
          currency:
            description: "The currency of the billing documents generated during the processing of the invoice schedule.\n\n**Note**: \n- This field is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Zuora_Billing/Bill_your_customers/Flexible_Billing/Multiple_Currencies\" target=\"_blank\">Multiple Currencies</a> feature in the **Early Adopter** phase enabled.\n- If you have the Multiple Currencies feature disabled, the corresponding account's default currency is always used.\n"
            type: string
          id:
            description: 'The unique ID of the invoice schedule.

              '
            type: string
          invoiceSeparately:
            description: 'Whether the invoice items created from the invoice schedule appears on a separate invoice when Zuora generates invoices.

              '
            type: boolean
          nextRunDate:
            description: 'The run date of the next execution of invoice schedule. By default, the next run date is the same as run date of next pending invoice schedule item. It can be overwritten with a different date other than the default value. When the invoice schedule has completed the execution, the next run date is null.

              '
            format: date
            type: string
          notes:
            description: 'Comments on the invoice schedule.

              '
            maxLength: 255
            type: string
          number:
            description: 'The sequence number of the invoice schedule.

              '
            type: string
          orders:
            description: 'A list of the IDs or numbers of the orders associated with the invoice schedule. One invoice schedule can be associated with at most 10 orders.

              '
            items:
              type: string
            type: array
          scheduleItems:
            description: 'Container for schedule items. One invoice schedule can have at most 50 invoice schedule items.

              '
            items:
              $ref: '#/components/schemas/ScheduleItemsResponse'
            type: array
          specificSubscriptions:
            description: 'A list of the numbers of specific subscriptions associated with the invoice schedule.

              '
            items:
              $ref: '#/components/schemas/InvoiceScheduleSpecificSubscriptions'
            type: array
          status:
            description: 'The status of the invoice schedule.

              '
            enum:
            - Pending
            - PartiallyProcessed
            - Paused
            - FullyProcessed
            type: string
          totalAmount:
            description: "The total amount that needs to be billed during the processing of the invoice schedule. \n\nThe value of this field keeps unchanged once invoice schedule items are created.\n"
            format: number
            type: string
          unbilledAmount:
            description: 'The amount that is waiting to be billed during the processing of the invoice schedule.

              '
            format: number
            type: string
        type: object
      - $ref: '#/components/schemas/InvoiceScheduleCustomFields'
      - {}
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
