openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Custom Object Records API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Custom Object Records
  description: With Custom Objects service, you can create, update, delete and find custom object records.
paths:
  /objects/records/default/{object}:
    post:
      summary: Create custom object records
      operationId: POST_CustomObjectRecords
      description: 'Creates custom object records with the given type.


        Upon creating records of a custom object type, the 200 response contains a list of records that have been successfully processed and stored.


        ### Limitations


        This call has the following limitations:

        * The maximum number of records that you can create by one call is 1,000.

        * The storage of empty strings in records is not supported.

        * Null values must be formatted as the following example:

        ```

        {

        "records": [

        {

        "fieldName__c": null

        }

        ]

        }

        ```'
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      responses:
        '200':
          description: 'OK


            The 200 response indicates that the records have been partially or completely created.


            * If the `allowPartialSuccess` flag is set to `false`, the 200 response indicates that all object records have been successfully created.

            * If the `allowPartialSuccess` flag is set to `true`, the 200 response indicates that some records might not be succesffully created and the error information might be contained in the response body.

            '
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCustomObjectRecordsResponse'
        '400':
          description: Failed schema validation
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401Record'
        '500':
          description: Internal error. Retry the returned records.
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsThrottledResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCustomObjectRecordsRequest'
        required: true
    get:
      summary: List records for a custom object
      description: 'Lists all object records of the given type. You can also use the `q` query parameter to filter the output records.


        ### Custom Objects read consistency


        Custom Objects support eventually consistency. When you read custom object records, the response might not reflect the result of a recently completed operation and might include some stale data. The operations include creating, updating, and deleting custom object records. If you repeat your read request after a short time, the response should return the latest data.


        For example, if you create five records and perform a query that these five records satisfy the query conditions, there might be a delay before these records can be returned in the query result.'
      operationId: GET_AllRecordsForCustomObjectType
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      - name: q
        description: 'The query string to filter the records of a custom object. See the [Query syntax of custom object records](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Data_Model/Custom_object_records/Query_syntax_of_custom_object_records) for more information.


          Note that the `q` parameter only applies to filterable fields.

          '
        in: query
        required: false
        schema:
          type: string
      - name: ids
        description: 'UUIDs of the records to be queried. Each UUID must be a string of 36 characters. For example:


          `GET /objects/records/default/passenger?ids=258d65b2-7bc6-4142-88bc-5184931af493&ids=82ecc9f7-b192-4f88-a4a3-4b2af6c750a1`

          '
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: The number of records returned per page in the response.
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: cursor
        description: The `cursor` points to the last record of the previous result set. The cursor record is not included in the query result. The call returns the first page if `cursor` is not provided and `pageSize` is valid.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCustomObjectRecordsResponse'
  /objects/records/default/{object}/{id}:
    get:
      summary: Retrieve a custom object record
      description: Retrieves a record of a given type by ID.
      operationId: GET_CustomObjectRecordByID
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Id identifier in uuid form
        schema:
          type: string
          format: uuid
          maxLength: 36
          minLength: 36
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordWithAllFields'
        '404':
          description: Not exist
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
    put:
      summary: Update a custom object record
      description: 'Updates a record of the given type and ID.


        ### Limitations


        * The storage of empty strings in records is not supported.

        * Null values must be formatted as the following example:

        ```

        {

        "records": [

        {

        "fieldName__c": null

        }

        ]

        }

        ```'
      operationId: PUT_CustomObjectRecord
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_If_Match'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Id identifier in uuid form
        schema:
          type: string
          format: uuid
          maxLength: 36
          minLength: 36
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordWithAllFields'
        '404':
          description: Object record does not exist
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectRecordWithOnlyCustomFields'
        required: true
    patch:
      summary: Partially update a custom object record
      operationId: Patch_PartialUpdateCustomObjectRecord
      description: 'Updates one or many fields of a custom object record. Patch update uses JSON Merge Patch as specified in RFC 7386.


        ### Limitations


        * The storage of empty strings in records is not supported.

        * Null values must be formatted as the following example:

        ```

        {

        "records": [

        {

        "fieldName__c": null

        }

        ]

        }

        ```'
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Id identifier in uuid form
        schema:
          type: string
          format: uuid
          maxLength: 36
          minLength: 36
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordWithAllFields'
        '404':
          description: Object record does not exist
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorResponse'
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/CustomObjectRecordWithOnlyCustomFields'
        required: true
    delete:
      summary: Delete a custom object record
      description: 'Deletes a custom object record of the given type and ID.


        Note that 200 response will be returned under either of the following conditions:

        * The record is identified and successfully deleted

        * The record could not be found


        Note that the record is deleted immediately and, therefore, will not be retained upon successful deletion.'
      operationId: Delete_CustomObjectRecordByID
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Id identifier in uuid form
        schema:
          type: string
          format: uuid
          maxLength: 36
          minLength: 36
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: string
                description: The URI of the deleted custom object record.
                format: uri
                example: /objects/records/default/test_custom_object/3a437f0b-fa7a-45bf-a9a5-2187a5a13ec0
  /objects/batch/default/{object}:
    post:
      summary: Update or delete custom object records
      operationId: POST_CustomObjectRecordsBatchUpdateOrDelete
      description: 'Makes a batch update or delete of custom object records.

        ### Limitations


        This call has the following limitations:

        * The maximum number of records that you can update by one call is 1,000.

        * The maximum number of records that you can delete by one call is 1,000.

        * The storage of empty strings in records is not supported.

        * Null values must be formatted as the following example:

        ```

        {

        "action": {

        "type": "update",

        "records": {

        "64edb2a5-2796-4e95-9559-846f8636a01b": {

        "fieldName__c": null

        }

        }

        }

        }

        ```'
      tags:
      - Custom Object Records
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: Zuora-Version
        in: header
        required: false
        description: API version that determines the response schema. The default version is used if this parameter is not included. Specify `Zuora-Version` in the request header if you expect a specific response schema.
        schema:
          type: string
          format: date
      - name: object
        in: path
        required: true
        description: Specifies the custom object's API name as object. It is case-sensitive.
        schema:
          type: string
      responses:
        '200':
          description: 'OK


            For the bacth `delete` action, it indicates the batch records have been successfully deleted.


            For the batch `update` action, it indicates that the batch records have been partially or completely updated.


            * If the `allowPartialSuccess` flag is set to `false`, the 200 response indicates that all object records have been successfully updated.

            * If the `allowPartialSuccess` flag is set to `true`, the 200 response indicates that some records might not be succesffully updated and the error information might be contained in the response body.

            '
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsBatchUpdatePartialSuccessResponse'
        '400':
          description: 'Failed schema validation


            For the batch `update` action, the 400 response only returns when the `allowPartialSuccess` flag is set to `false` and the batch records have failed schema validation.

            '
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401Record'
        '500':
          description: Internal error. Retry the returned records.
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectRecordsThrottledResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomObjectRecordBatchRequest'
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth:
      name: Authorization
      in: header
      required: true
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_HEADER_If_Match:
      name: If-Match
      in: header
      required: false
      description: "The expected ETag of the resource. You can use this header to perform a conditional request. Zuora responds with 412 Precondition Failed if the ETag of the resource does not match the value of this header. \n"
      schema:
        type: string
  schemas:
    ErrorResponse401Record:
      properties:
        code:
          example: 7101251X
          format: Int32
          type: integer
        details:
          example:
          - code: 7101251X
            message: Unauthorized to view object record.
          items:
            $ref: '#/components/schemas/Error401'
          type: array
        message:
          example: Unauthorized to process object record.
          type: string
      type: object
    CustomObjectRecordsThrottledResponse:
      properties:
        code:
          example: 71012561
          format: Int32
          type: integer
        details:
          example:
          - code: 71012561
            message: Unable to process record due to internal error or database throttling.
            record:
              Id: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
              age__c: 32
              email__c: smith123@example.com
              home_address__c: 59b38ad1-27d4-40e8-af66-8c138bc382ee
              last_name__c: Smith
              marital_status__c: Married
              work_address__c: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
          items:
            $ref: '#/components/schemas/CustomObjectRecordsWithError'
          type: array
        message:
          example: Unabled to create object records, please try again later.
          type: string
      type: object
    CommonErrorResponse:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        requestId:
          description: 'The Id of the request.

            '
          format: uuid
          maxLength: 36
          minLength: 36
          type: string
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    CustomObjectRecordWithAllFields:
      allOf:
      - properties:
          CreatedById:
            description: The creator's Id
            type: string
          CreatedDate:
            description: The record creation time in the date-time format
            format: date-time
            type: string
          Id:
            description: The unique Id of the custom object record
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          UpdatedById:
            description: The modifier's Id
            type: string
          UpdatedDate:
            description: The record modification time in the date-time format
            format: date-time
            type: string
          type:
            description: The type of the custom object record. It is the API name of the custom object definition.
            type: string
      - $ref: '#/components/schemas/CustomObjectRecordWithOnlyCustomFields'
      description: Record data from an object
      example:
        CreatedById: 58bcc694-0b01-4c38-83d9-679891aee4dc
        CreatedDate: '2017-06-07T17:26:47.501Z'
        Id: f4f3d0a8-9d45-43d6-956c-4820f2de7559
        UpdatedById: 58bcc694-0b01-4c38-83d9-679891aee4dc
        UpdatedDate: '2017-06-07T17:26:47.501Z'
        age__c: 32
        email__c: smith123@example.com
        home_address__c: 59b38ad1-27d4-40e8-af66-8c138bc382ee
        last_name__c: Smith
        marital_status__c: Married
        type: person
        version: 1
        work_address__c: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
      title: customObjectRecord
      type: object
    CustomObjectRecordBatchAction:
      description: The batch action on custom object records
      properties:
        allowPartialSuccess:
          default: false
          description: 'Indicates whether the records that pass the schema validation should be updated when not all records in the request pass the schema validation.


            Only applicable when `type` is `update`.

            '
          example: true
          type: boolean
        ids:
          description: Ids of the custom object records that you want to delete. Each ID must be a string of 36 characters. Only applicable when `type` is `delete`.
          example:
          - 64edb2a5-2796-4e95-9559-846f8636a01b
          - dbfb35a3-dd2b-42c9-b8f7-eb36fed1a1e1
          - 2c2a1810-bfef-4150-84de-50e769978e42
          items:
            format: uuid
            type: string
          type: array
        records:
          $ref: '#/components/schemas/CustomObjectRecordBatchUpdateMapping'
          type: object
        type:
          description: The type of the batch action
          enum:
          - delete
          - update
          type: string
      required:
      - type
      title: updateDeleteBatchAction
      type: object
    CustomObjectRecordsWithError:
      properties:
        code:
          description: 'See [Custom Objects API error code](https://knowledgecenter.zuora.com/Central_Platform/Custom_Objects/Z_Custom_Objects_API#Custom_Objects_API_error_code) for details.

            '
          enum:
          - 71012520
          - 71012521
          - 71012522
          - 71012523
          - 71012524
          - 71012525
          - 71012526
          - 71012530
          format: Int32
          type: integer
        message:
          example: Field [last_name__c] cannot accept empty string.
          type: string
        record:
          $ref: '#/components/schemas/CustomObjectRecordWithAllFields'
          example:
            age__c: 32
            email__c: smith123@example.com
            home_address__c: 59b38ad1-27d4-40e8-af66-8c138bc382ee
            last_name__c: Smith
            marital_status__c: Married
            work_address__c: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
          type: object
      type: object
    CustomObjectRecordBatchUpdateMapping:
      additionalProperties:
        description: Map of object Id and associated custom fields data to be updated
        type: object
      description: Object records that you want to update. Only applicable when `type` is `update`.
      example:
        64edb2a5-2796-4e95-9559-846f8636a01b:
          name__c: elba43
          person_id__c": 30c52793-8f06-41c6-b623-04829710d7a
      title: updateIdFieldsMapping
      type: object
    CustomObjectRecordsErrorResponse:
      properties:
        code:
          example: 710125XX
          format: Int32
          type: integer
        details:
          example:
          - code: 710125XX
            message: Field [age__c] is an integer field but received a string value.
            record:
              Id: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
              age__c: '32'
              email__c: smith123@example.com
              home_address__c: 59b38ad1-27d4-40e8-af66-8c138bc382ee
              last_name__c: Smith
              marital_status__c: Married
              work_address__c: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
          items:
            $ref: '#/components/schemas/CustomObjectRecordsWithError'
          type: array
        message:
          example: Unabled to create object records due to invalid request.
          type: string
      type: object
    Error401:
      properties:
        code:
          example: 7101251X
          format: Int32
          type: integer
        message:
          example: Unauthorized Action
          type: string
      type: object
    CustomObjectRecordsBatchUpdatePartialSuccessResponse:
      example:
        error:
          code: 710125XX
          details:
          - code: 710125XX
            message: Field [age__c] is an integer field but received a string value.
            record:
              Id: 64edb2a5-2796-4e95-9559-846f8636a01b
              age__c: 19
              name__c: elba43
              person_id__c: 30c52793-8f06-41c6-b623-04829710d7a
          message: Unabled to update object records due to invalid request.
      properties:
        error:
          $ref: '#/components/schemas/CustomObjectRecordsErrorResponse'
          description: 'If the `allowPartialSuccess` flag is set to true, this field will capture the failures that occurred in the partially successful update operation.

            '
          type: object
      type: object
    CustomObjectRecordBatchRequest:
      description: Request of processing custom object records in batch.
      example:
        action:
          allowPartialSuccess: true
          records:
            64edb2a5-2796-4e95-9559-846f8636a01b:
              age__c: eighteen
              name__c: elba43
              person_id__c: 30c52793-8f06-41c6-b623-04829710d7a
          type: update
      properties:
        action:
          $ref: '#/components/schemas/CustomObjectRecordBatchAction'
          type: object
      required:
      - action
      type: object
    QueryCustomObjectRecordsResponse:
      properties:
        count:
          description: The record count of the given custom object type
          example: 1
          type: integer
        records:
          example:
          - CreatedById: 58bcc694-0b01-4c38-83d9-679891aee4dc
            CreatedDate: '2017-06-07T17:26:47.501Z'
            Id: f4f3d0a8-9d45-43d6-956c-4820f2de7559
            UpdatedById: 58bcc694-0b01-4c38-83d9-679891aee4dc
            UpdatedDate: '2017-06-07T17:26:47.501Z'
            age__c: 32
            email__c: smith123@example.com
            home_address__c: 59b38ad1-27d4-40e8-af66-8c138bc382ee
            last_name__c: Smith
            marital_status__c: Married
            type: person
            version: 1
            work_address__c: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
          items:
            $ref: '#/components/schemas/CustomObjectRecordWithAllFields'
          type: array
      required:
      - count
      - records
      type: object
    PostCustomObjectRecordsResponse:
      example:
        error:
          code: 71012520
          details:
          - code: 71012524
            message: 'Json input does not match schema. Error: Field [GrossAmount] should be number type but received string.'
            record:
              GrossAmount__c: '123'
              Id: ca0b22f3-7bea-4a19-b4fc-7712c24c6516
              ItemName__c: test
              ItemNumber__c: '1'
              ItemState__c: PendingCreation
              ItemType__c: Product
              OrderId__c: c086028c-5df8-427d-a3c8-7a7fb5d32d3d
          message: Request contains invalid record that failed validation against the object schema.
        records:
        - CreatedById: 11e65ead-0ead-4025-bd2d-002590fc20f6
          CreatedDate: '2021-05-11T17:55:17.854Z'
          GrossAmount__c: 123
          Id: 46b79af2-9892-4937-80a0-6f5841a85f19
          ItemName__c: test
          ItemNumber__c: '1'
          ItemState__c: PendingCreation
          ItemType__c: Product
          OrderId__c: c086028c-5df8-427d-a3c8-7a7fb5d32d3d
          UpdatedById: 11e65ead-0ead-4025-bd2d-002590fc20f6
          UpdatedDate: '2021-05-11T17:55:17.854Z'
          type: OrderLineItem
      properties:
        error:
          $ref: '#/components/schemas/CustomObjectRecordsErrorResponse'
          description: 'If the `allowPartialSuccess` flag is set to true, this field will capture the failures that occurred in the partially successful creation operation.

            '
          type: object
        records:
          description: The custom object records that are succesfully created and stored
          items:
            $ref: '#/components/schemas/CustomObjectRecordWithAllFields'
          type: array
      type: object
    CustomObjectRecordWithOnlyCustomFields:
      additionalProperties:
        description: The field-value pairs for a custom object record
      example:
        age__c: 32
        email__c: smith123@example.com
        home_address__c: 59b38ad1-27d4-40e8-af66-8c138bc382ee
        last_name__c: Smith
        marital_status__c: Married
        work_address__c: 8a19f16a-2b5e-4a26-bb20-c79cd6984714
      title: customObjectRecord
      type: object
    PostCustomObjectRecordsRequest:
      example:
        allowPartialSuccess: true
        records:
        - GrossAmount__c: 123
          ItemName__c: test
          ItemNumber__c: '1'
          ItemState__c: PendingCreation
          ItemType__c: Product
          OrderId__c: c086028c-5df8-427d-a3c8-7a7fb5d32d3d
        - GrossAmount__c: '123'
          ItemName__c: test
          ItemNumber__c: '1'
          ItemState__c: PendingCreation
          ItemType__c: Product
          OrderId__c: c086028c-5df8-427d-a3c8-7a7fb5d32d3d
      properties:
        allowPartialSuccess:
          default: false
          description: Indicates whether the records that pass the schema validation should be created when not all records in the request pass the schema validation.
          example: true
          type: boolean
        records:
          description: A list of custom object records to be created
          items:
            $ref: '#/components/schemas/CustomObjectRecordWithOnlyCustomFields'
          type: array
      required:
      - records
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
