openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Payment Method Updater API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Payment Method Updater
  description: Zuora Payment Method Updater (PMU) enables merchants to automatically incorporate changes made to a customer's credit cards. For more information about Zuora PMU, see Payment Method Updater.
paths:
  /v1/payment-method-updaters/batches:
    post:
      summary: Create a Payment Method Updater batch asynchronously
      operationId: POST_PaymentMethodUpdaterBatch
      description: Creates a Payment Method Updater (PMU) batch asynchronously. PMU for American Express (AMEX) is not supported.
      tags:
      - Payment Method Updater
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTPaymentMethodUpdaterResponse'
              example:
                success: false
                processId: CFF02E89CBBC584E
                reasons:
                - code: 70370120
                  message: '''updaterAccountId'' may not be empty.'
                requestId: 228fab35-add0-4538-9523-32ce55a009db
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTPaymentMethodUpdaterBatchRequest'
        required: true
  /v1/payment-method-updaters:
    get:
      summary: List Payment Method Updater instances
      operationId: GET_PaymentMethodUpdaterInstances
      description: Retrieves the detailed information of all Payment Method Updater (PMU) instances on your tenant, except for American Express (AMEX).
      tags:
      - Payment Method Updater
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentMethodUpdaterInstancesResponse'
              example:
                updaters:
                - id: 418734b01fbb11ee821f0e4e5eec84cf
                  updaterName: CyberSourceUpdater
                  updaterGatewayType: CyberSource
                  daysToUpdateBeforeBcd: 7
                  isDefault: true
                  isActive: true
                  processVisa: true
                  processMastercard: true
                  processAssociatedGwOnly: true
                  processAutopayDefaultPmOnly: true
                  isTest: true
                - id: 418739741fbb11ee821f0e4e5eec84cf
                  updaterName: WorldPayUpdater
                  updaterGatewayType: WorldPay
                  daysToUpdateBeforeBcd: 8
                  isDefault: false
                  isActive: true
                  processVisa: true
                  processMastercard: true
                  processAssociatedGwOnly: true
                  processAutopayDefaultPmOnly: true
                  isTest: true
                success: true
components:
  schemas:
    GETPaymentMethodUpdaterInstancesResponse:
      properties:
        success:
          description: Indicates whether the call is successful.
          type: boolean
        updaters:
          description: 'Container for PMU instances available on your tenant.

            '
          properties:
            daysToUpdateBeforeBcd:
              description: 'The days prior to the Bill Cycle Day to start PMU service.

                '
              type: integer
            id:
              description: 'The ID of the PMU instance.

                '
              type: string
            isActive:
              description: '`true` indicates that this PMU instance is active.

                '
              type: boolean
            isDefault:
              description: '`true` indicates that it is the default PMU instance.

                '
              type: boolean
            isTest:
              description: '`true` indicates that this PMU instance is for testing.

                '
              type: string
            processAssociatedGwOnly:
              description: "`true` indicates that only the payment methods for customer accounts that meet either of the following conditions are included in the updates:\n  - The default payment gateway of the customer account is set to an instance of the same type as `updaterGatewayType`.\n  - The default payment gateway of the customer account is not configured, but the default payment gateway of the tenant is set to an instance of the same type as `updaterGatewayType`.\n\n`false` indicates that information of all payment methods is submitted.\n"
              type: boolean
            processAutopayDefaultPmOnly:
              description: "`true` indicates that only the default payment methods for customer accounts with the AutoPay setting enabled are included in the updates. \n\n`false` indicates that data of all payment methods for all customer accounts is submitted, regardless of whether AutoPay is enabled for the customer account or not.\n"
              type: boolean
            processMastercard:
              description: '`true` indicates that Mastercard data processing is supported.

                '
              type: boolean
            processVisa:
              description: '`true` indicates that Visa data processing is supported.

                '
              type: boolean
            updaterGatewayType:
              description: 'The payment gateway type of the PMU instance.

                '
              type: string
            updaterName:
              description: 'The name of the PMU instance.

                '
              type: string
          type: object
      type: object
    POSTPaymentMethodUpdaterResponse:
      properties:
        processId:
          description: 'The ID of the running process when the exception occurs. This field is available only if the `success` field is `false`.

            '
          type: string
        reasons:
          description: 'The container of the error code and message. This field is available only if the `success` field is `false`.

            '
          items:
            properties:
              code:
                description: 'Error code.

                  '
                type: string
              message:
                description: 'Error message.

                  '
                type: string
            type: object
          type: array
        requestId:
          description: 'The ID of the request. This field is available only if the `success` field is `false`

            '
          type: string
        success:
          description: 'Indicates whether the request to create a PMU batch is sent successfully.

            '
          type: boolean
      type: object
    POSTPaymentMethodUpdaterBatchRequest:
      example:
        billingCycleDay: 5
        updaterAccountId: 418734b01fbb11ee821f0e4e5eec84cf
      properties:
        billingCycleDay:
          description: 'The billing cycle day. The allowed value is an integer in the range of 1 - 31.


            The payment methods from accounts where the billing cycle day is the specified value in this field will be included in the updates.

            '
          type: integer
        updaterAccountId:
          description: 'The ID (UUID) of the PMU account. This field must be a string of 32 characters consisting of digits and letters a - f.

            '
          type: string
      required:
      - updaterAccountId
      - billingCycleDay
      type: object
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
