openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Accounting Periods API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Accounting Periods
  description: 'A key step in configuring Finance is to create accounting periods in Zuora to match your company''s financial calendar.

    This allows Zuora to produce reports and data exports organized by accounting periods, and to perform the work of closing the accounting periods for the revenue sub-ledger.'
paths:
  /v1/accounting-periods/{ap-id}/close:
    put:
      summary: Close an accounting period
      operationId: PUT_CloseAccountingPeriod
      description: 'Close an accounting period by accounting period ID.


        Prerequisites

        -------------

        You must have Zuora Finance enabled on your tenant. You must have the Manage Close Process and Run Trial Balance user permissions.


        Limitations

        -----------

        * The accounting period cannot already be closed.

        * The accounting period cannot be in the process of running a trial balance.

        * All earlier accounting periods must be closed.

        * There must be no required action items for the accounting period. See Reconcile Transactions Before Closing an Accounting Period for more information.


        Notes

        -----

        When you close an accounting period in Zuora, a trial balance is automatically run for that period. A successful response means only that the accounting period is now closed, but does not mean that the trial balance has successfully completed.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        description: ID of the accounting period you want to close.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/accounting-periods/{ap-id}/pending-close:
    put:
      summary: Set an accounting period to pending close
      operationId: PUT_PendingCloseAccountingPeriod
      description: 'Sets an accounting period to pending close.


        Prerequisites

        -------------


        * You must have Zuora Finance enabled on your tenant.

        * You must have the Manage Close Process and Run Trial Balance user permissions.


        Limitations

        -----------


        * The accounting period cannot be closed or pending close.


        * The accounting period cannot be in the process of running a trial balance.


        * All earlier accounting periods must be closed.


        Notes

        -----

        When you set an accounting period to pending close in Zuora, a trial balance is automatically run for that period. A response of `{ "success": true }` means only that the accounting period status is now pending close, but does not mean that the trial balance has successfully completed. You can use the Get Accounting Period REST API call to view details about the outcome of the trial balance.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        description: ID of the accounting period you want to set to pending close.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/accounting-periods:
    post:
      summary: Create an accounting period
      operationId: POST_AccountingPeriod
      description: 'Creates an accounting period.

        Prerequisites

        -------------

        * You must have Zuora Finance enabled on your tenant.

        * You must have the Create Accounting Period user permission.


        Limitations

        -----------

        * When creating the first accounting period on your tenant, the start date must be equal to or earlier than the date of the earliest transaction on the tenant.

        * Start and end dates of accounting periods must be contiguous. For example, if one accounting period ends on January 31, the next period must start on February 1.

        * If you have the Revenue Recognition Package and have enabled the "Monthly recognition over time" revenue recognition model, the accounting period start date and end date must be on the first day and last day of the month, respectively. Note that the start and end dates do not necessarily have to be in the same month.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTAccountingPeriodResponseType'
              example:
                id: 7b7181ae547aac1e01547efb61f20162
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTAccountingPeriodType'
        required: true
    get:
      summary: List all accounting periods
      operationId: GET_AllAccountingPeriods
      description: Retrieves all accounting periods on your tenant.
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize_finance_accounting'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountingPeriodsType'
              example:
                accountingPeriods:
                - id: 8a8081ae5374904f01538338b66e1005
                  name: Mar 2016
                  startDate: '2016-03-01'
                  endDate: '2016-03-31'
                  status: Open
                  runTrialBalanceStatus: Error
                  runTrialBalanceStart: '2016-03-16 23:25:22'
                  runTrialBalanceEnd: null
                  runTrialBalanceErrorMessage: 'Error creating the trial balance: exchange rate from USD to GBP on 08/03/2015 is not available.  Please import the rate and run trial balance again.'
                  fiscalYear: 2016
                  notes: ''
                  fileIds:
                    unprocessedChargesFileId: null
                    accountsReceivableInvoiceAgingDetailExportFileId: 8a8081ae5374904f01538340273013f3
                    accountsReceivableAccountAgingDetailExportFileId: 8a8081ae5374904f01538340274a13f4
                    revenueDetailExcelFileId: 8a8081ae5374904f0153834032e41417
                    revenueDetailCsvFileId: 8a8081ae5374904f0153834033221418
                    arRollForwardDetailExportFileId: null
                    fxRealizedGainAndLossDetailExportFileId: null
                    fxUnrealizedGainAndLossDetailExportFileId: null
                  createdOn: '2016-03-16 23:17:25'
                  createdBy: e20b074746ec48f40147140f51e30a1a
                  updatedOn: '2016-03-16 23:25:22'
                  updatedBy: e20b074746ec48f40147140f51e30a1a
                - id: 8a8081ae5374904f0153833918af1007
                  name: Apr 2016
                  startDate: '2016-04-01'
                  endDate: '2016-04-30'
                  status: Open
                  runTrialBalanceStatus: Error
                  runTrialBalanceStart: '2016-03-16 23:23:40'
                  runTrialBalanceEnd: null
                  runTrialBalanceErrorMessage: null
                  fiscalYear: 2016
                  notes: ''
                  fileIds:
                    unprocessedChargesFileId: null
                    accountsReceivableInvoiceAgingDetailExportFileId: 8a8081ae5374904f0153833e9a651363
                    accountsReceivableAccountAgingDetailExportFileId: 8a8081ae5374904f0153833e9a7a1364
                    revenueDetailExcelFileId: 8a8081ae5374904f0153833ea2c813ae
                    revenueDetailCsvFileId: 8a8081ae5374904f0153833ea2d613af
                    arRollForwardDetailExportFileId: null
                    fxRealizedGainAndLossDetailExportFileId: null
                    fxUnrealizedGainAndLossDetailExportFileId: null
                  createdOn: '2016-03-16 23:17:50'
                  createdBy: e20b074746ec48f40147140f51e30a1a
                  updatedOn: '2016-03-16 23:23:40'
                  updatedBy: e20b074746ec48f40147140f51e30a1a
                - id: 8a8081ae5374904f0153833e4590132d
                  name: May 2016
                  startDate: '2016-05-01'
                  endDate: '2016-05-31'
                  status: Open
                  runTrialBalanceStatus: Error
                  runTrialBalanceStart: '2016-05-18 01:42:30'
                  runTrialBalanceEnd: null
                  runTrialBalanceErrorMessage: null
                  fiscalYear: 2016
                  notes: ''
                  fileIds:
                    unprocessedChargesFileId: null
                    accountsReceivableInvoiceAgingDetailExportFileId: null
                    accountsReceivableAccountAgingDetailExportFileId: null
                    revenueDetailExcelFileId: 8a8081ae54c2eabb0154c307e27e0033
                    revenueDetailCsvFileId: 8a8081ae54c2eabb0154c307e2920034
                    arRollForwardDetailExportFileId: null
                    fxRealizedGainAndLossDetailExportFileId: null
                    fxUnrealizedGainAndLossDetailExportFileId: null
                  createdOn: '2016-03-16 23:23:29'
                  createdBy: e20b074746ec48f40147140f51e30a1a
                  updatedOn: '2016-05-18 01:42:30'
                  updatedBy: e20b074746ec48f40147140f51e30a1a
                - id: e20b0747478025a1014780e489a60002
                  name: Open-Ended
                  startDate: '2016-06-01'
                  endDate: null
                  status: Open
                  runTrialBalanceStatus: Pending
                  runTrialBalanceStart: null
                  runTrialBalanceEnd: null
                  runTrialBalanceErrorMessage: null
                  fiscalYear: 0
                  notes: null
                  fileIds:
                    unprocessedChargesFileId: null
                    accountsReceivableInvoiceAgingDetailExportFileId: null
                    accountsReceivableAccountAgingDetailExportFileId: null
                    revenueDetailExcelFileId: null
                    revenueDetailCsvFileId: null
                    arRollForwardDetailExportFileId: null
                    fxRealizedGainAndLossDetailExportFileId: null
                    fxUnrealizedGainAndLossDetailExportFileId: null
                  createdOn: '2014-07-28 23:52:46'
                  createdBy: 402881e522cf4f9b0122cf5d82860002
                  updatedOn: '2016-03-16 23:23:29'
                  updatedBy: e20b074746ec48f40147140f51e30a1a
                success: true
  /v1/accounting-periods/{ap-id}:
    get:
      summary: Retrieve an accounting period
      operationId: GET_AccountingPeriod
      description: 'Retrieves an accounting period.

        Prerequisites

        -------------


        You must have Zuora Finance enabled on your tenant.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        description: ID of the accounting period you want to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETAccountingPeriodType'
              example:
                id: e20b074749d2a38b0149eac2e9550aa9
                name: Oct 2014
                startDate: '2014-10-01'
                endDate: '2014-10-31'
                status: Closed
                runTrialBalanceStatus: Completed
                runTrialBalanceStart: '2015-09-28 00:53:13'
                runTrialBalanceEnd: '2015-09-28 00:53:36'
                runTrialBalanceErrorMessage: null
                fiscalYear: 2014
                notes: ''
                fileIds:
                  unprocessedChargesFileId: null
                  accountsReceivableInvoiceAgingDetailExportFileId: 8a8081ae5002967c015012f122f10913
                  accountsReceivableAccountAgingDetailExportFileId: 8a8081ae5002967c015012f1230e0914
                  revenueDetailExcelFileId: 8a8081ae5002967c015012f129870925
                  revenueDetailCsvFileId: 8a8081ae5002967c015012f129a10926
                  arRollForwardDetailExportFileId: 8a8081ae5002967c015012f15d7b09e2
                  fxRealizedGainAndLossDetailExportFileId: 8a8081ae5002967c015012f151a609ba
                  fxUnrealizedGainAndLossDetailExportFileId: 8a8081ae5002967c015012f150b509b8
                createdOn: '2014-11-25 22:21:22'
                createdBy: e20b074746ec48f40147140f51e30a1a
                updatedOn: '2015-09-28 00:53:13'
                updatedBy: e20b074746ec48f40147140f51e30a1a
                success: true
    put:
      summary: Update an accounting period
      operationId: PUT_UpdateAccountingPeriod
      description: 'Updates an accounting period.


        Prerequisites

        -------------


        * You must have Zuora Finance enabled on your tenant.


        * You must have the Create Accounting Period user permission. See Finance Roles.


        Limitations

        -----------


        * You can update the start date of only the earliest accounting period on your tenant. You cannot update the start date of later periods.


        * If you update the earliest accounting period, the start date must be equal to or earlier than the date of the earliest transaction on the tenant.


        * Start and end dates of accounting periods must be contiguous. For example, if one accounting period ends on January 31, the next period must start on February 1.


        * If you have the Revenue Recognition Package and have enabled the "Monthly recognition over time" revenue recognition model, the accounting period start date and end date must be on the first day and last day of the month, respectively. Note that the start and end dates do not necessarily have to be in the same month.


        * You cannot update the start date or end date of an accounting period if:

        * Any revenue has been distributed into the period.

        * The period has any active journal entries.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        description: ID of the accounting period you want to update.
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTAccountingPeriodType'
        required: true
    delete:
      summary: Delete an accounting period
      operationId: DELETE_AccountingPeriod
      description: 'Deletes an accounting period.


        Prerequisites

        -------------


        * You must have Zuora Finance enabled on your tenant.


        * You must have the Delete Accounting Period user permission. See Finance Roles.


        Limitations

        -----------


        The accounting period to be deleted:


        * Must be the most recent accounting period


        * Must be an open accounting period


        * Must have no revenue distributed into it


        * Must not have any active journal entries


        * Must not be the open-ended accounting period


        * Must not be in the process of running a trial balance'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        required: true
        description: ID of the accounting period you want to delete.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/accounting-periods/{ap-id}/reopen:
    put:
      summary: Reopen an accounting period
      operationId: PUT_ReopenAccountingPeriod
      description: 'Re-opens an accounting period.

        Prerequisites

        -------------

        * You must have Zuora Finance enabled on your tenant.

        * You must have the Manage Close Process and Run Trial Balance user permissions.


        Limitations

        -----------

        * The accounting period must be closed or pending close.

        * You can only re-open an accounting period that is immediately previous to an open period.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        required: true
        description: ID of the accounting period that you want to re-open.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
  /v1/accounting-periods/{ap-id}/run-trial-balance:
    put:
      summary: Run trial balance
      operationId: PUT_RunTrialBalance
      description: 'Runs the trial balance for an accounting period.


        Prerequisites

        -------------


        * You must have Zuora Finance enabled on your tenant.


        * You must have the Manage Close Process and Run Trial Balance user permissions. See Finance Roles.


        Limitations

        -----------


        * The accounting period must be open.


        * The accounting period cannot already be in the process of running a trial balance.


        Notes

        -----

        The trial balance is run asynchronously. A response of `{ "success": true }` means only that the trial balance has started processing, but does not mean that the trial balance has successfully completed. You can use the Get Accounting Period REST API call to view details about the outcome of the trial balance.'
      tags:
      - Accounting Periods
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ap-id
        in: path
        required: true
        description: ID of the accounting period for which you want to run a trial balance.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
components:
  parameters:
    GLOBAL_REQUEST_pageSize_finance_accounting:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 300
        maximum: 300
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    AccountingPeriodObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Accounting Period object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Accounting Period object.

        '
      title: accountingPeriodFieldsCustom
      type: object
    POSTAccountingPeriodType:
      allOf:
      - properties:
          endDate:
            description: 'The end date of the accounting period in yyyy-mm-dd format, for example, "2016-02-19".

              '
            format: date
            type: string
          fiscalYear:
            description: 'Fiscal year of the accounting period in yyyy format, for example, "2016".

              '
            type: string
          fiscal_quarter:
            description: ''
            format: int64
            type: integer
          name:
            description: 'Name of the accounting period.


              Accounting period name must be unique. Maximum of 100 characters.

              '
            type: string
          notes:
            description: 'Notes about the accounting period.


              Maximum of 255 characters.

              '
            type: string
          organizationLabels:
            description: "The organization that the accounting period belongs to. \n\nFor each item in the array, either the `organizationId` or the `organizationName` field is required.\n\nThis field is only required when you have already turned on Multi-Org feature.\n"
            items:
              properties:
                organizationId:
                  description: 'The organization ID.

                    '
                  type: string
                organizationName:
                  description: 'The organization name.

                    '
                  type: string
              type: object
            type: array
          startDate:
            description: 'The start date of the accounting period in yyyy-mm-dd format, for example, "2016-02-19".

              '
            format: date
            type: string
        required:
        - name
        - startDate
        - endDate
        - fiscalYear
        type: object
      - $ref: '#/components/schemas/AccountingPeriodObjectCustomFields'
      example:
        endDate: '2016-06-30'
        fiscalYear: 2016
        name: Jun 2016
        notes: optional notes here
        startDate: '2016-06-01'
    GETAccountingPeriodType:
      allOf:
      - properties:
          createdBy:
            description: 'ID of the user who created the accounting period.

              '
            type: string
          createdOn:
            description: 'Date and time when the accounting period was created.

              '
            format: date-time
            type: string
          endDate:
            description: 'The end date of the accounting period.

              '
            format: date
            type: string
          fileIds:
            description: 'File IDs of the reports available for the accounting period. You can retrieve the reports by specifying the file ID in a [Get Files](/api-references/api/operation/GET_Files) REST API call.

              '
            properties:
              accountsReceivableAccountAgingDetailExportFileId:
                description: 'File ID of the Accounts Receivable Aging Account Detail report.

                  '
                type: string
              accountsReceivableInvoiceAgingDetailExportFileId:
                description: 'File ID of the Accounts Receivable Aging Invoice Detail report.

                  '
                type: string
              arRollForwardDetailExportFileId:
                description: 'File ID of the Accounts Receivable Detail report.

                  '
                type: string
              fxRealizedGainAndLossDetailExportFileId:
                description: 'File ID of the Realized Gain and Loss Detail report.


                  Returned only if you have Foreign Currency Conversion enabled.

                  '
                type: string
              fxUnrealizedGainAndLossDetailExportFileId:
                description: 'File ID of the Unrealized Gain and Loss Detail report.


                  Returned only if you have Foreign Currency Conversion enabled

                  '
                type: string
              revenueDetailCsvFileId:
                description: 'File ID of the Revenue Detail report in CSV format.

                  '
                type: string
              revenueDetailExcelFileId:
                description: 'File ID of the Revenue Detail report in XLSX format.

                  '
                type: string
              unprocessedChargesFileId:
                description: 'File ID of a report containing all unprocessed charges for the accounting period.

                  '
                type: string
            type: object
          fiscalYear:
            description: 'Fiscal year of the accounting period.

              '
            type: string
          fiscal_quarter:
            description: ''
            format: int64
            type: integer
          id:
            description: 'ID of the accounting period.

              '
            type: string
          name:
            description: 'Name of the accounting period.

              '
            type: string
          notes:
            description: 'Any optional notes about the accounting period.

              '
            type: string
          organizationLabels:
            description: "The organization(s) that the object belongs to. \n\nNote: This field is available only when the Multi-Org feature is enabled.            \n"
            items:
              properties:
                organizationId:
                  description: 'The organization ID.

                    '
                  type: string
                organizationName:
                  description: 'The organization name.

                    '
                  type: string
              type: object
            type: array
          runTrialBalanceEnd:
            description: 'Date and time that the trial balance was completed. If the trial balance status is `Pending`, `Processing`, or `Error`, this field is `null`.

              '
            format: date-time
            type: string
          runTrialBalanceErrorMessage:
            description: 'If trial balance status is Error, an error message is returned in this field.

              '
            type: string
          runTrialBalanceStart:
            description: 'Date and time that the trial balance was run. If the trial balance status is Pending, this field is null.

              '
            format: date-time
            type: string
          runTrialBalanceStatus:
            description: 'Status of the trial balance for the accounting period. Possible values:


              * `Pending`

              * `Processing`

              * `Completed`

              * `Error`

              '
            type: string
          startDate:
            description: 'The start date of the accounting period.

              '
            format: date
            type: string
          status:
            description: 'Status of the accounting period. Possible values:

              * `Open`

              * `PendingClose`

              * `Closed`

              '
            type: string
          success:
            description: 'Returns `true` if the request was processed successfully.

              '
            type: boolean
          updatedBy:
            description: 'ID of the user who last updated the accounting period.

              '
            type: string
          updatedOn:
            description: 'Date and time when the accounting period was last updated.

              '
            format: date-time
            type: string
        type: object
      - $ref: '#/components/schemas/AccountingPeriodObjectCustomFields'
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    GETAccountingPeriodWithoutSuccessType:
      allOf:
      - properties:
          createdBy:
            description: 'ID of the user who created the accounting period.

              '
            type: string
          createdOn:
            description: 'Date and time when the accounting period was created.

              '
            format: date-time
            type: string
          endDate:
            description: 'The end date of the accounting period.

              '
            format: date
            type: string
          fileIds:
            description: 'File IDs of the reports available for the accounting period. You can retrieve the reports by specifying the file ID in a [Get Files](/api-references/api/operation/GET_Files) REST API call.

              '
            properties:
              accountsReceivableAccountAgingDetailExportFileId:
                description: 'File ID of the Accounts Receivable Aging Account Detail report.

                  '
                type: string
              accountsReceivableInvoiceAgingDetailExportFileId:
                description: 'File ID of the Accounts Receivable Aging Invoice Detail report.

                  '
                type: string
              arRollForwardDetailExportFileId:
                description: 'File ID of the Accounts Receivable Detail report.

                  '
                type: string
              fxRealizedGainAndLossDetailExportFileId:
                description: 'File ID of the Realized Gain and Loss Detail report.


                  Returned only if you have Foreign Currency Conversion enabled.

                  '
                type: string
              fxUnrealizedGainAndLossDetailExportFileId:
                description: 'File ID of the Unrealized Gain and Loss Detail report.


                  Returned only if you have Foreign Currency Conversion enabled

                  '
                type: string
              revenueDetailCsvFileId:
                description: 'File ID of the Revenue Detail report in CSV format.

                  '
                type: string
              revenueDetailExcelFileId:
                description: 'File ID of the Revenue Detail report in XLSX format.

                  '
                type: string
              unprocessedChargesFileId:
                description: 'File ID of a report containing all unprocessed charges for the accounting period.

                  '
                type: string
            type: object
          fiscalYear:
            description: 'Fiscal year of the accounting period.

              '
            type: string
          fiscal_quarter:
            description: ''
            format: int64
            type: integer
          id:
            description: 'ID of the accounting period.

              '
            type: string
          name:
            description: 'Name of the accounting period.

              '
            type: string
          notes:
            description: 'Any optional notes about the accounting period.

              '
            type: string
          organizationLabels:
            description: "The organization(s) that the object belongs to. \n\nNote: This field is available only when the Multi-Org feature is enabled.            \n"
            items:
              properties:
                organizationId:
                  description: 'The organization ID.

                    '
                  type: string
                organizationName:
                  description: 'The organization name.

                    '
                  type: string
              type: object
            type: array
          runTrialBalanceEnd:
            description: 'Date and time that the trial balance was completed. If the trial balance status is `Pending`, `Processing`, or `Error`, this field is `null`.

              '
            format: date-time
            type: string
          runTrialBalanceErrorMessage:
            description: 'If trial balance status is Error, an error message is returned in this field.

              '
            type: string
          runTrialBalanceStart:
            description: 'Date and time that the trial balance was run. If the trial balance status is `Pending`, this field is `null`.

              '
            format: date-time
            type: string
          runTrialBalanceStatus:
            description: 'Status of the trial balance for the accounting period. Possible values:


              * `Pending`

              * `Processing`

              * `Completed`

              * `Error`

              '
            type: string
          startDate:
            description: 'The start date of the accounting period.

              '
            format: date
            type: string
          status:
            description: 'Status of the accounting period. Possible values:


              * `Open`

              * `PendingClose`

              * `Closed`

              '
            type: string
          updatedBy:
            description: 'D of the user who last updated the accounting period.

              '
            type: string
          updatedOn:
            description: 'Date and time when the accounting period was last updated.

              '
            format: date-time
            type: string
        type: object
      - $ref: '#/components/schemas/AccountingPeriodObjectCustomFields'
      title: accountingPeriods
    PUTAccountingPeriodType:
      allOf:
      - properties:
          endDate:
            description: 'The end date of the accounting period in yyyy-mm-dd format, for example, "2016-02-19".

              '
            format: date
            type: string
          fiscalYear:
            description: 'Fiscal year of the accounting period in yyyy format, for example, "2016".

              '
            type: string
          fiscal_quarter:
            description: ''
            format: int64
            type: integer
          name:
            description: 'Name of the accounting period.


              Accounting period name must be unique. Maximum of 100 characters.

              '
            type: string
          notes:
            description: 'Notes about the accounting period.


              Maximum of 255 characters.

              '
            type: string
          startDate:
            description: 'The start date of the accounting period in yyyy-mm-dd format, for example, "2016-02-19".

              '
            format: date
            type: string
        type: object
      - $ref: '#/components/schemas/AccountingPeriodObjectCustomFields'
      example:
        endDate: '2016-01-31'
        fiscalYear: 2016
        name: Jan 2016
        startDate: '2016-01-01'
    GETAccountingPeriodsType:
      properties:
        accountingPeriods:
          description: 'An array of all accounting periods on your tenant. The accounting periods are returned in ascending order of start date; that is, the latest period is returned first.

            '
          items:
            $ref: '#/components/schemas/GETAccountingPeriodWithoutSuccessType'
          type: array
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    POSTAccountingPeriodResponseType:
      properties:
        id:
          description: 'ID of the newly-created accounting period.

            '
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
