openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Rate Plans API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Rate Plans
  description: A rate plan is part of a subscription or an amendment to a subscription, and it comes from a product rate plan.
paths:
  /v1/rateplans/{ratePlanId}:
    get:
      summary: Retrieve a rate plan
      operationId: GET_RatePlan
      description: 'Retrieves the detailed information about a specific subscription rate plan.


        * If you have the Orders feature enabled, this operation retrieves information about a subscription rate plan and the related order that has amended the rate plan.


        * If you have the Orders Harmonization feature enabled, this operation retrieves information about a subscription rate plan and the related order and amendment that have amended the rate plan.


        * If you are an existing Zuora Subscribe and Amend customer, this operation retrieves information about a subscription rate plan and the related amendment that has amended the rate plan.


        **Note:** Orders is now generally available as of Zuora Billing Release 284 (August 2020). If you are an existing Zuora Subscribe and Amend customer and want to adopt Orders, see What is Orders Harmonization and join the Orders Harmonization community group for more information. If you want to enable Orders, submit a request at Zuora Global Support.


        **Note:** You can only retrieve information about the following order actions:


        * `addProduct`

        * `updateProduct`

        * `removeProduct`

        * `changePlan`'
      tags:
      - Rate Plans
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: ratePlanId
        in: path
        description: The ID of the subscription rate plan to be retrieved.
        required: true
        schema:
          type: string
          format: string
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderActionRatePlanResponse'
              example:
                success: true
                id: 402880e47ccbaca1017ccbdd63aa18c8
                lastChangeType: Update
                productId: 2c9890207c9649c0017c96a0588201a2
                productName: MMORPG game
                productSku: SKU-00000001
                productRatePlanId: 2c9890207c9649c0017c96a0f11001a4
                ratePlanName: Rate Plan 1
                subscriptionId: 402880e47ccbaca1017ccbdd644d18d0
                subscriptionVersion: 5
                amendment:
                  id: 402880e47ccbaca1017ccbdd63c818cb
                  type: UpdateProduct
                  code: A-AM00000047
                  effectiveDate: '2021-12-29'
                  description: null
                  name: update
                  createdBy: 2c9890207c9649c0017c969bc6330002
                  createdDate: '2021-10-29 19:44:16'
                  updatedBy: 2c9890207c9649c0017c969bc6330002
                  updatedDate: '2021-10-29 19:44:16'
                  serviceActivationDate: '2021-12-29'
                  customerAcceptanceDate: '2021-12-29'
                  contractEffectiveDate: '2021-12-29'
                order:
                  id: 402880e47ccbaca1017ccbdd7b0e18fd
                  orderNumber: O-00000037
                  orderActions:
                  - id: 402880e47ccbaca1017ccbdd7b1418ff
                    serviceActivationDate: '2021-12-29'
                    customerAcceptanceDate: '2021-12-29'
                    contractEffectiveDate: '2021-12-29'
                    type: UpdateProduct
                    updateProduct:
                      ratePlanId: 402880e47ccbaca1017ccbdd620818ba
                      uniqueToken: null
                      specificUpdateDate: null
                      newRatePlanId: 402880e47ccbaca1017ccbdd63aa18c8
                      productRatePlanId: 2c9890207c9649c0017c96a0f11001a4
                      chargeUpdates: []
                      customFields: {}
components:
  schemas:
    OrderActionRatePlanChargeTier:
      properties:
        endingUnit:
          description: 'Limit on the number of units for which the tier is effective.

            '
          type: number
        price:
          description: 'Price or per-unit price of the tier, depending on the value of the `priceFormat` field.

            '
          type: number
        priceFormat:
          description: 'Specifies whether the tier has a fixed price or a per-unit price.

            '
          enum:
          - FlatFee
          - PerUnit
          type: string
        startingUnit:
          description: 'Number of units at which the tier becomes effective.

            '
          type: number
        tier:
          description: 'Index of the tier in the charge.

            '
          minimum: 1
          type: integer
      required:
      - tier
      - startingUnit
      - price
      - priceFormat
      title: chargeTier
      type: object
    OrderActionRatePlanUsageTieredWithOveragePricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          numberOfPeriods:
            description: 'Number of periods that Zuora considers when calculating overage charges with overage smoothing.

              '
            minimum: 1
            type: integer
          overagePrice:
            description: 'Price per overage unit consumed.

              '
            type: number
          overageUnusedUnitsCreditOption:
            description: 'Specifies whether to credit the customer for unused units.


              If the value of this field is `CreditBySpecificRate`, use the `unusedUnitsCreditRates` field to specify the rate at which to credit the customer for unused units.

              '
            enum:
            - NoCredit
            - CreditBySpecificRate
            type: string
          tiers:
            description: 'List of cumulative pricing tiers in the charge.

              '
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
          unusedUnitsCreditRates:
            description: 'Per-unit rate at which to credit the customer for unused units. Only applicable if the value of the `overageUnusedUnitsCreditOption` field is `CreditBySpecificRate`.

              '
            type: number
        type: object
      description: 'Pricing information about a usage charge that uses the "tiered with overage" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are consumed. The charge also has a fixed price per unit consumed beyond the limit of the final tier.

        '
      title: usageTieredWithOverage
    OrderActionRatePlanChargeOverride:
      description: 'Charge associated with a rate plan.

        '
      properties:
        billing:
          description: 'Billing information about the charge.

            '
          properties:
            billCycleDay:
              description: 'Day of the month that each billing period begins on. Only applicable if the value of the `billCycleType` field is `SpecificDayofMonth`.

                '
              maximum: 31
              minimum: 0
              type: integer
            billCycleType:
              description: "Specifies how Zuora determines the day that each billing period begins on.\n\n  * `DefaultFromCustomer` - Each billing period begins on the bill cycle day of the account that owns the subscription.\n  * `SpecificDayofMonth` - Use the `billCycleDay` field to specify the day of the month that each billing period begins on.\n  * `SubscriptionStartDay` - Each billing period begins on the same day of the month as the start date of the subscription.\n  * `ChargeTriggerDay` - Each billing period begins on the same day of the month as the date when the charge becomes active.\n  * `SpecificDayofWeek` - Use the `weeklyBillCycleDay` field to specify the day of the week that each billing period begins on.\n"
              enum:
              - DefaultFromCustomer
              - SpecificDayofMonth
              - SubscriptionStartDay
              - ChargeTriggerDay
              - SpecificDayofWeek
              type: string
            billingPeriod:
              description: 'Billing frequency of the charge. The value of this field controls the duration of each billing period.


                If the value of this field is `Specific_Months` or `Specific_Weeks`, use the `specificBillingPeriod` field to specify the duration of each billing period.

                '
              enum:
              - Month
              - Quarter
              - Semi_Annual
              - Annual
              - Eighteen_Months
              - Two_Years
              - Three_Years
              - Five_Years
              - Specific_Months
              - Subscription_Term
              - Week
              - Specific_Weeks
              type: string
            billingPeriodAlignment:
              description: 'Specifies how Zuora determines when to start new billing periods. You can use this field to align the billing periods of different charges.


                * `AlignToCharge` - Zuora starts a new billing period on the first billing day that falls on or after the date when the charge becomes active.

                * `AlignToSubscriptionStart` - Zuora starts a new billing period on the first billing day that falls on or after the start date of the subscription.

                * `AlignToTermStart` - For each term of the subscription, Zuora starts a new billing period on the first billing day that falls on or after the start date of the term.


                See the `billCycleType` field for information about how Zuora determines the billing day.

                '
              enum:
              - AlignToCharge
              - AlignToSubscriptionStart
              - AlignToTermStart
              type: string
            billingTiming:
              description: 'Specifies whether to invoice for a billing period on the first day of the billing period (billing in advance) or the first day of the next billing period (billing in arrears).

                '
              enum:
              - IN_ADVANCE
              - IN_ARREARS
              type: string
            specificBillingPeriod:
              description: 'Duration of each billing period in months or weeks, depending on the value of the `billingPeriod` field. Only applicable if the value of the `billingPeriod` field is `Specific_Months` or `Specific_Weeks`.

                '
              type: integer
            weeklyBillCycleDay:
              description: 'Day of the week that each billing period begins on. Only applicable if the value of the `billCycleType` field is `SpecificDayofWeek`.

                '
              enum:
              - Sunday
              - Monday
              - Tuesday
              - Wednesday
              - Thursday
              - Friday
              - Saturday
              type: string
          type: object
        chargeNumber:
          description: 'Charge number of the charge. For example, C-00000307.


            If you do not set this field, Zuora will generate the charge number.

            '
          maxLength: 50
          type: string
        customFields:
          $ref: '#/components/schemas/OrderActionRatePlanRatePlanChargeObjectCustomFields'
        description:
          description: 'Description of the charge.

            '
          maxLength: 500
          type: string
        endDate:
          $ref: '#/components/schemas/OrderActionRatePlanEndConditions'
        pricing:
          description: 'Pricing information about the charge.

            '
          properties:
            chargeModelData:
              $ref: '#/components/schemas/OrderActionRatePlanChargeModelDataOverride'
            discount:
              $ref: '#/components/schemas/OrderActionRatePlanDiscountPricingOverride'
            oneTimeFlatFee:
              $ref: '#/components/schemas/OrderActionRatePlanOneTimeFlatFeePricingOverride'
            oneTimePerUnit:
              $ref: '#/components/schemas/OrderActionRatePlanOneTimePerUnitPricingOverride'
            oneTimeTiered:
              $ref: '#/components/schemas/OrderActionRatePlanOneTimeTieredPricingOverride'
            oneTimeVolume:
              $ref: '#/components/schemas/OrderActionRatePlanOneTimeVolumePricingOverride'
            recurringDelivery:
              $ref: '#/components/schemas/OrderActionRatePlanRecurringDeliveryPricingOverride'
            recurringFlatFee:
              $ref: '#/components/schemas/OrderActionRatePlanRecurringFlatFeePricingOverride'
            recurringPerUnit:
              $ref: '#/components/schemas/OrderActionRatePlanRecurringPerUnitPricingOverride'
            recurringTiered:
              $ref: '#/components/schemas/OrderActionRatePlanRecurringTieredPricingOverride'
            recurringVolume:
              $ref: '#/components/schemas/OrderActionRatePlanRecurringVolumePricingOverride'
            usageFlatFee:
              $ref: '#/components/schemas/OrderActionRatePlanUsageFlatFeePricingOverride'
            usageOverage:
              $ref: '#/components/schemas/OrderActionRatePlanUsageOveragePricingOverride'
            usagePerUnit:
              $ref: '#/components/schemas/OrderActionRatePlanUsagePerUnitPricingOverride'
            usageTiered:
              $ref: '#/components/schemas/OrderActionRatePlanUsageTieredPricingOverride'
            usageTieredWithOverage:
              $ref: '#/components/schemas/OrderActionRatePlanUsageTieredWithOveragePricingOverride'
            usageVolume:
              $ref: '#/components/schemas/OrderActionRatePlanUsageVolumePricingOverride'
          type: object
        productRatePlanChargeId:
          description: 'Internal identifier of the product rate plan charge that the charge is based on.

            '
          type: string
        revRecCode:
          description: 'Revenue Recognition Code

            '
          maxLength: 70
          type: string
        revRecTriggerCondition:
          description: "Specifies the revenue recognition trigger condition.\n\n  * `Contract Effective Date`\n  * `Service Activation Date`\n  * `Customer Acceptance Date`\n"
          enum:
          - Contract Effective Date
          - Service Activation Date
          - Customer Acceptance Date
          type: string
        revenueRecognitionRuleName:
          description: "Specifies the revenue recognition rule.\n\n  * `Recognize upon invoicing`\n  * `Recognize daily over time`\n"
          enum:
          - Recognize upon invoicing
          - Recognize daily over time
          type: string
        startDate:
          $ref: '#/components/schemas/OrderActionRatePlanTriggerParams'
        uniqueToken:
          description: 'Unique identifier for the charge. This identifier enables you to refer to the charge before the charge has an internal identifier in Zuora.


            For instance, suppose that you want to use a single order to add a product to a subscription and later update the same product. When you add the product, you can set a unique identifier for the charge. Then when you update the product, you can use the same unique identifier to specify which charge to modify.

            '
          maxLength: 50
          type: string
      required:
      - productRatePlanChargeId
      title: charge
      type: object
    OrderActionRatePlanUsageVolumePricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          tiers:
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
    OrderActionRatePlanDiscountPricingUpdate:
      properties:
        applyDiscountTo:
          description: 'Specifies which type of charge the discount charge applies to.

            '
          enum:
          - ONETIME
          - RECURRING
          - USAGE
          - ONETIMERECURRING
          - ONETIMEUSAGE
          - RECURRINGUSAGE
          - ONETIMERECURRINGUSAGE
          type: string
        discountLevel:
          description: 'Application scope of the discount charge. For example, if the value of this field is `subscription` and the value of the `applyDiscountTo` field is `RECURRING`, the discount charge applies to all recurring charges in the same subscription as the discount charge.

            '
          enum:
          - rateplan
          - subscription
          - account
          type: string
        discountPercentage:
          description: 'The amount of the discount as a percentage. This field is only used for percentage discounts.

            '
          type: number
        priceChangeOption:
          description: 'Specifies how Zuora changes the price of the charge each time the subscription renews.

            '
          enum:
          - NoChange
          - UseLatestProductCatalogPricing
          type: string
      type: object
    OrderActionRatePlanRecurringPerUnitPricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            description: 'Per-unit price of the charge in each recurring period.

              '
            type: number
          listPriceBase:
            description: "Specifies the duration of each recurring period.\n\n**Note**: The `Per_Year` and `Per_Specific_Months` enum values are available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.              \n"
            enum:
            - Per_Billing_Period
            - Per_Month
            - Per_Week
            - Per_Year
            - Per_Specific_Months
            type: string
          quantity:
            description: 'Number of units purchased.

              '
            minimum: 0
            type: number
          specificListPriceBase:
            description: 'The number of months for the list price base of the charge. This field is required if you set the value of the `listPriceBase` field to `Per_Specific_Months`.

              '
            format: int32
            maximum: 200
            minimum: 1
            type: integer
        type: object
      description: 'Pricing information about a recurring charge that uses the "per unit" charge model. In this charge model, the charge has a fixed price per unit purchased.

        '
      title: recurringPerUnit
    OrderActionRatePlanOneTimeVolumePricingOverride:
      description: 'Pricing information about a one-time charge that uses the "volume pricing" charge model. In this charge model, the charge has a variable price per unit, depending on how many units are purchased.

        '
      properties:
        quantity:
          description: 'Number of units purchased.

            '
          minimum: 0
          type: number
        tiers:
          description: 'List of variable pricing tiers in the charge.

            '
          items:
            $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
          type: array
      title: oneTimeVolume
      type: object
    OrderActionRatePlanOrderAction:
      description: Represents the processed order action.
      properties:
        addProduct:
          $ref: '#/components/schemas/OrderActionRatePlanRatePlanOverride'
        customFields:
          $ref: '#/components/schemas/OrderActionRatePlanOrderActionObjectCustomFields'
        id:
          description: The Id of the order action processed in the order.
          type: string
        removeProduct:
          $ref: '#/components/schemas/OrderActionRatePlanRemoveProduct'
        type:
          description: Type of the order action.
          enum:
          - AddProduct
          - UpdateProduct
          - RemoveProduct
          type: string
        updateProduct:
          $ref: '#/components/schemas/OrderActionRatePlanRatePlanUpdate'
      type: object
    OrderActionRatePlanRatePlanChargeObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Rate Plan Charge object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Rate Plan Charge object.

        '
      title: ratePlanChargeFieldsCustom
      type: object
    OrderActionRatePlanRecurringPerUnitPricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            type: number
          quantity:
            minimum: 0
            type: number
        type: object
    OrderActionRatePlanUsageTieredPricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          ratingGroup:
            description: "Specifies how Zuora groups usage records when rating usage. See [Usage Rating by Group](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Usage/Usage_Rating_by_Group) for more information.\n  * ByBillingPeriod (default): The rating is based on all the usages in a billing period.\n  * ByUsageStartDate: The rating is based on all the usages on the same usage start date.\n  * ByUsageRecord: The rating is based on each usage record.\n  * ByUsageUpload: The rating is based on all the usages in a uploaded usage file (.xls or .csv). If you import a mass usage in a single upload, which contains multiple usage files in .xls or .csv format, usage records are grouped for each usage file.\n"
            enum:
            - ByBillingPeriod
            - ByUsageStartDate
            - ByUsageRecord
            - ByUsageUpload
            type: string
          tiers:
            description: 'List of cumulative pricing tiers in the charge.

              '
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
      description: 'Pricing information about a usage charge that uses the "tiered pricing" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are consumed.

        '
      title: usageTiered
    OrderActionRatePlanRatePlanObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Rate Plan object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Rate Plan object.

        '
      title: ratePlanFieldsCustom
      type: object
    OrderActionRatePlanEndConditions:
      description: 'Specifies when a charge becomes inactive.

        '
      properties:
        endDateCondition:
          description: 'Condition for the charge to become inactive.


            If the value of this field is `Fixed_Period`, the charge is active for a predefined duration based on the value of the `upToPeriodsType` and `upToPeriods` fields.


            If the value of this field is `Specific_End_Date`, use the `specificEndDate` field to specify the date when then charge becomes inactive.

            '
          enum:
          - Subscription_End
          - Fixed_Period
          - Specific_End_Date
          type: string
        specificEndDate:
          description: 'Date in YYYY-MM-DD format. Only applicable if the value of the `endDateCondition` field is `Specific_End_Date`.

            '
          format: date
          type: string
        upToPeriods:
          description: 'Duration of the charge in billing periods, days, weeks, months, or years, depending on the value of the `upToPeriodsType` field. Only applicable if the value of the `endDateCondition` field is `Fixed_Period`.

            '
          type: integer
        upToPeriodsType:
          description: 'Unit of time that the charge duration is measured in. Only applicable if the value of the `endDateCondition` field is `Fixed_Period`.

            '
          enum:
          - Billing_Periods
          - Days
          - Weeks
          - Months
          - Years
          type: string
      title: endDate
      type: object
    OrderActionRatePlanUsageOveragePricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          includedUnits:
            description: 'Number of free units that may be consumed.

              '
            minimum: 0
            type: number
          numberOfPeriods:
            description: 'Number of periods that Zuora considers when calculating overage charges with overage smoothing.

              '
            minimum: 1
            type: integer
          overagePrice:
            description: 'Price per overage unit consumed.

              '
            type: number
          overageUnusedUnitsCreditOption:
            description: 'Specifies whether to credit the customer for unused units.


              If the value of this field is `CreditBySpecificRate`, use the `unusedUnitsCreditRates` field to specify the rate at which to credit the customer for unused units.

              '
            enum:
            - NoCredit
            - CreditBySpecificRate
            type: string
          unusedUnitsCreditRates:
            description: 'Per-unit rate at which to credit the customer for unused units. Only applicable if the value of the `overageUnusedUnitsCreditOption` field is `CreditBySpecificRate`.

              '
            type: number
        type: object
      description: 'Pricing information about a usage charge that uses the "overage" charge model. In this charge model, the charge has an allowance of free units and a fixed price per additional unit consumed.

        '
      title: usageOverage
    OrderActionRatePlanUsagePerUnitPricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            type: number
        type: object
    OrderActionRatePlanRecurringDeliveryPricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          deliverySchedule:
            $ref: '#/components/schemas/DeliveryScheduleParams'
          listPrice:
            description: 'Price of the charge in each recurring period.

              '
            type: number
        type: object
      description: 'Pricing information about a recurring charge that uses the Delivery Pricing charge model. In this charge model, the charge has a fixed price. This field is only available if you have the Delivery Pricing charge model enabled.


        **Note**: The Delivery Pricing charge model is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at <a href="http://support.zuora.com/" target="_blank">Zuora Global Support</a>.

        '
      title: recurringDelivery
    GetOrderActionRatePlanResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponseType'
      - properties:
          amendment:
            $ref: '#/components/schemas/OrderActionRatePlanAmendment'
          externallyManagedPlanId:
            description: 'The unique identifier for the rate plan purchased on a third-party store. This field is used to represent a subscription rate plan created through third-party stores.

              '
            type: string
          id:
            description: Unique subscription rate-plan ID.
            type: string
          lastChangeType:
            description: 'Latest change type. Possible values are:


              - New

              - Update

              - Remove

              '
            type: string
          order:
            $ref: '#/components/schemas/OrderActionRatePlanOrder'
          productId:
            description: 'Product ID

              '
            type: string
          productName:
            description: 'The name of the product.

              '
            type: string
          productRatePlanId:
            description: 'Product rate plan ID

              '
            type: string
          productSku:
            description: 'The unique SKU for the product.

              '
            type: string
          ratePlanName:
            description: 'The name of the rate plan.

              '
            type: string
          subscriptionId:
            description: 'Subscription ID.

              '
            type: string
          subscriptionVersion:
            description: 'The version of the subscription.

              '
        type: object
    OrderActionRatePlanUsagePerUnitPricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            description: 'Per-unit price of the charge.

              '
            type: number
          ratingGroup:
            description: "Specifies how Zuora groups usage records when rating usage. See [Usage Rating by Group](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Usage/Usage_Rating_by_Group) for more information.\n  * ByBillingPeriod (default): The rating is based on all the usages in a billing period.\n  * ByUsageStartDate: The rating is based on all the usages on the same usage start date.\n  * ByUsageRecord: The rating is based on each usage record.\n  * ByUsageUpload: The rating is based on all the usages in a uploaded usage file (.xls or .csv). If you import a mass usage in a single upload, which contains multiple usage files in .xls or .csv format, usage records are grouped for each usage file.\n"
            enum:
            - ByBillingPeriod
            - ByUsageStartDate
            - ByUsageRecord
            - ByUsageUpload
            type: string
        type: object
      description: 'Pricing information about a usage charge that uses the "per unit" charge model. In this charge model, the charge has a fixed price per unit consumed.

        '
      title: usagePerUnit
    OrderActionRatePlanChargeModelDataOverride:
      description: 'Container for charge model configuration data.


        **Note**: This field is only available if you have the High Water Mark, Pre-Rated Pricing, or Multi-Attribute Pricing charge models enabled. The charge models are available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

        '
      properties:
        chargeModelConfiguration:
          properties:
            customFieldPerUnitRate:
              description: 'The custom field that carries the per-unit rate for each usage record. For example, `perUnitAmount__c`.


                This field is only available for the usage-based charges that use the Pre-Rated Per Unit Pricing charge model. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

                '
              type: string
            customFieldTotalAmount:
              description: 'The custom field that carries the total amount to charge for a usage record. For example, `totalAmount__c`.


                This field is only available for the usage-based charges that use the Pre-Rated Pricing charge model. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

                '
              type: string
            formula:
              description: 'The pricing formula to calculate actual rating amount for each usage record.


                This field is only available for the usage-based charges that use the Multi-Attribute Pricing charge model. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

                '
              type: string
          type: object
        tiers:
          description: 'List of cumulative pricing tiers in the charge.


            **Note**: When you override tiers of the charge with a High Water Mark Pricing charge model, you have to provide all of the tiers, including the ones you do not want to change. The new tiers will completely override the previous ones. The High Water Mark Pricing charge models are available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

            '
          items:
            $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
          type: array
      title: chargeModelData
      type: object
    OrderActionRatePlanOrderActionObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Order Action object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of an Order Action object.

        '
      title: orderActionFieldsCustom
      type: object
    OrderActionRatePlanUsageTieredPricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          tiers:
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
    OrderActionRatePlanRatePlanOverride:
      description: 'Rate plan associated with a subscription.

        '
      properties:
        chargeOverrides:
          description: 'List of charges associated with the rate plan.

            '
          items:
            $ref: '#/components/schemas/OrderActionRatePlanChargeOverride'
          type: array
        customFields:
          $ref: '#/components/schemas/OrderActionRatePlanRatePlanObjectCustomFields'
        newRatePlanId:
          description: 'Internal identifier of the rate plan.

            '
          type: string
        productRatePlanId:
          description: 'Internal identifier of the product rate plan that the rate plan is based on.

            '
          type: string
        uniqueToken:
          description: 'Unique identifier for the rate plan. This identifier enables you to refer to the rate plan before the rate plan has an internal identifier in Zuora.


            For instance, suppose that you want to use a single order to add a product to a subscription and later update the same product. When you add the product, you can set a unique identifier for the rate plan. Then when you update the product, you can use the same unique identifier to specify which rate plan to modify.

            '
          maxLength: 50
          type: string
      required:
      - productRatePlanId
      title: ratePlan
      type: object
    OrderActionRatePlanUsageTieredWithOveragePricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          overagePrice:
            type: number
          tiers:
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
    OrderActionRatePlanRecurringTieredPricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          quantity:
            minimum: 0
            type: number
          tiers:
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
    OrderActionRatePlanUsageFlatFeePricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            description: 'Price of the charge.

              '
            type: number
        type: object
      description: 'Pricing information about a usage charge that uses the "flat fee" charge model. In this charge model, the charge has a fixed price.

        '
      title: usageFlatFee
    OrderActionRatePlanTriggerParams:
      description: 'Specifies when a charge becomes active.

        '
      properties:
        specificTriggerDate:
          description: "Date in YYYY-MM-DD format. Only applicable if the value of the `triggerEvent` field is `SpecificDate`.\n\nWhile this field is applicable, if this field is not set, your `CreateSubscription` order action creates a `Pending` order and a `Pending Acceptance` subscription. If at the same time the service activation date is required and not set, a `Pending Activation` subscription is created.\n\nWhile this field is applicable, if this field is not set, the following order actions create a `Pending` order but do not impact the subscription status. **Note**: This feature is in **Limited Availability**. If you want to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).\n * AddProduct\n * UpdateProduct\n * RemoveProduct\n * RenewSubscription\n * TermsAndConditions\n"
          format: date
          type: string
        triggerEvent:
          description: 'Condition for the charge to become active.


            If the value of this field is `SpecificDate`, use the `specificTriggerDate` field to specify the date when the charge becomes active.

            '
          enum:
          - ContractEffective
          - ServiceActivation
          - CustomerAcceptance
          type: string
      title: startDate
      type: object
    OrderActionRatePlanDiscountPricingOverride:
      description: 'Pricing information about a discount charge.

        '
      properties:
        applyDiscountTo:
          description: 'Specifies which type of charge the discount charge applies to.

            '
          enum:
          - ONETIME
          - RECURRING
          - USAGE
          - ONETIMERECURRING
          - ONETIMEUSAGE
          - RECURRINGUSAGE
          - ONETIMERECURRINGUSAGE
          type: string
        discountAmount:
          description: 'Only applicable if the discount charge is a fixed-amount discount.

            '
          type: number
        discountLevel:
          description: 'Application scope of the discount charge. For example, if the value of this field is `subscription` and the value of the `applyDiscountTo` field is `RECURRING`, the discount charge applies to all recurring charges in the same subscription as the discount charge.

            '
          enum:
          - rateplan
          - subscription
          - account
          type: string
        discountPercentage:
          description: 'Only applicable if the discount charge is a percentage discount.

            '
          type: number
        priceChangeOption:
          description: 'Specifies how Zuora changes the price of the charge each time the subscription renews.

            '
          enum:
          - NoChange
          - UseLatestProductCatalogPricing
          type: string
      title: discount
      type: object
    OrderActionRatePlanBillingUpdate:
      properties:
        billingPeriodAlignment:
          enum:
          - AlignToCharge
          - AlignToSubscriptionStart
          - AlignToTermStart
          type: string
      type: object
    OrderActionRatePlanChargeUpdate:
      description: The JSON object containing the information for a charge update in the 'UpdateProduct' type order action.
      properties:
        billing:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanBillingUpdate'
          description: 'Billing information about the charge.

            '
        chargeNumber:
          description: 'Read only. Identifies the charge to be updated.

            '
          type: string
        customFields:
          $ref: '#/components/schemas/OrderActionRatePlanRatePlanChargeObjectCustomFields'
        description:
          description: 'Description of the charge.

            '
          type: string
        effectiveDate:
          $ref: '#/components/schemas/OrderActionRatePlanTriggerParams'
        pricing:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanPricingUpdate'
          description: 'Pricing information about the charge.

            '
        uniqueToken:
          description: 'A unique string to represent the rate plan charge in the order. The unique token is used to perform multiple actions against a newly added rate plan. For example, if you want to add and update a product in the same order, you would assign a unique token to the product rate plan when added and use that token in future order actions.

            '
          type: string
      type: object
    OrderActionRatePlanRecurringFlatFeePricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            description: 'Price of the charge in each recurring period.

              '
            type: number
          listPriceBase:
            description: 'Specifies the duration of each recurring period.

              '
            enum:
            - Per_Billing_Period
            - Per_Month
            - Per_Week
            - Per_Year
            - Per_Specific_Months
            type: string
          specificListPriceBase:
            description: 'The number of months for the list price base of the charge. The value of this field is `null` if you do not set the value of the `listPriceBase` field to `Per_Specific_Months`.

              '
            format: int32
            maximum: 200
            minimum: 1
            type: integer
        type: object
      description: 'Pricing information about a recurring charge that uses the "flat fee" charge model. In this charge model, the charge has a fixed price.

        '
      title: recurringFlatFee
    OrderActionRatePlanRecurringVolumePricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          quantity:
            minimum: 0
            type: number
          tiers:
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
    OrderActionRatePlanRemoveProduct:
      description: 'Information about an order action of type `RemoveProduct`.

        '
      properties:
        ratePlanId:
          description: 'Internal identifier of the rate plan to remove.

            '
          type: string
        uniqueToken:
          description: A unique string to represent the rate plan charge in the order. The unique token is used to perform multiple actions against a newly added rate plan. For example, if you want to add and update a product in the same order, you would assign a unique token to the product rate plan when added and use that token in future order actions.A unique string in the order to represent the rate plan.
          type: string
      title: removeProduct
      type: object
    OrderActionRatePlanPriceChangeParams:
      properties:
        priceChangeOption:
          description: 'Specifies how Zuora changes the price of the charge each time the subscription renews.


            If the value of this field is `SpecificPercentageValue`, use the `priceIncreasePercentage` field to specify how much the price of the charge should change.

            '
          enum:
          - NoChange
          - SpecificPercentageValue
          - UseLatestProductCatalogPricing
          type: string
        priceIncreasePercentage:
          description: 'Specifies the percentage by which the price of the charge should change each time the subscription renews. Only applicable if the value of the `priceChangeOption` field is `SpecificPercentageValue`.

            '
          minimum: -100
          type: number
      type: object
    OrderActionRatePlanOrder:
      description: 'The order that is related to the subscription rate plan.

        '
      properties:
        id:
          description: The order ID.
          type: string
        orderActions:
          items:
            $ref: '#/components/schemas/OrderActionRatePlanOrderAction'
          type: array
        orderNumber:
          description: The order number of the order.
          type: string
      type: object
    DeliveryScheduleParams:
      properties:
        frequency:
          description: 'Specifies the frequency for delivery schedule

            '
          enum:
          - Weekly
          type: string
        friday:
          description: 'Indicates whether delivery on friday.

            '
          type: boolean
        monday:
          description: 'Indicates whether delivery on monday.

            '
          type: boolean
        saturday:
          description: 'Indicates whether delivery on saturday.

            '
          type: boolean
        sunday:
          description: 'Indicates whether delivery on sunday.

            '
          type: boolean
        thursday:
          description: 'Indicates whether delivery on thursday.

            '
          type: boolean
        tuesday:
          description: 'Indicates whether delivery on tuesday.

            '
          type: boolean
        wednesday:
          description: 'Indicates whether delivery on wednesday.

            '
          type: boolean
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    OrderActionRatePlanRecurringDeliveryPricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          deliverySchedule:
            $ref: '#/components/schemas/DeliveryScheduleParams'
          listPrice:
            type: number
        type: object
    OrderActionRatePlanRecurringFlatFeePricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            type: number
        type: object
    OrderActionRatePlanPricingUpdate:
      properties:
        chargeModelData:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanChargeModelDataOverride'
          description: 'Container for charge model configuration data.

            '
        discount:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanDiscountPricingUpdate'
          description: 'Pricing information about a discount charge.

            '
        recurringDelivery:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanRecurringDeliveryPricingUpdate'
          description: 'Pricing information about a recurring charge that uses the Delivery Pricing charge model. In this charge model, the charge has a fixed price. This field is only available if you have the Delivery Pricing charge model enabled.


            **Note**: The Delivery Pricing charge model is in the **Early Adopter** phase. We are actively soliciting feedback from a small set of early adopters before releasing it as generally available. If you want to join this early adopter program, submit a request at <a href="http://support.zuora.com/" target="_blank">Zuora Global Support</a>.

            '
        recurringFlatFee:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanRecurringFlatFeePricingUpdate'
          description: 'Pricing information about a recurring charge that uses the "flat fee" charge model. In this charge model, the charge has a fixed price.

            '
        recurringPerUnit:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanRecurringPerUnitPricingUpdate'
          description: 'Pricing information about a recurring charge that uses the "per unit" charge model. In this charge model, the charge has a fixed price per unit purchased.

            '
        recurringTiered:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanRecurringTieredPricingUpdate'
          description: 'Pricing information about a recurring charge that uses the "tiered pricing" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are purchased.

            '
        recurringVolume:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanRecurringVolumePricingUpdate'
          description: 'Pricing information about a recurring charge that uses the "volume pricing" charge model. In this charge model, the charge has a variable price per unit, depending on how many units are purchased.

            '
        usageFlatFee:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanUsageFlatFeePricingUpdate'
          description: 'Pricing information about a usage charge that uses the "flat fee" charge model. In this charge model, the charge has a fixed price.

            '
        usageOverage:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanUsageOveragePricingUpdate'
          description: 'Pricing information about a usage charge that uses the "overage" charge model. In this charge model, the charge has an allowance of free units and a fixed price per additional unit consumed.

            '
        usagePerUnit:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanUsagePerUnitPricingUpdate'
          description: 'Pricing information about a usage charge that uses the "per unit" charge model. In this charge model, the charge has a fixed price per unit consumed.

            '
        usageTiered:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanUsageTieredPricingUpdate'
          description: 'Pricing information about a usage charge that uses the "tiered pricing" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are consumed.

            '
        usageTieredWithOverage:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanUsageTieredWithOveragePricingUpdate'
          description: 'Pricing information about a usage charge that uses the "tiered with overage" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are consumed. The charge also has a fixed price per unit consumed beyond the limit of the final tier.

            '
        usageVolume:
          allOf:
          - $ref: '#/components/schemas/OrderActionRatePlanUsageVolumePricingUpdate'
          description: 'Pricing information about a usage charge that uses the "volume pricing" charge model. In this charge model, the charge has a variable price per unit, depending on how many units are consumed.

            '
      type: object
    OrderActionRatePlanRatePlanUpdate:
      description: 'Information about an order action of type `UpdateProduct`.

        '
      properties:
        chargeUpdates:
          items:
            $ref: '#/components/schemas/OrderActionRatePlanChargeUpdate'
          type: array
        customFields:
          $ref: '#/components/schemas/OrderActionRatePlanRatePlanObjectCustomFields'
        newRatePlanId:
          description: 'Internal identifier of the updated rate plan in the new subscription version.

            '
          type: string
        ratePlanId:
          description: 'Internal identifier of the rate plan that was updated.

            '
          type: string
        specificUpdateDate:
          description: '

            The date when the Update Product order action takes effect. This field is only applicable if there is already a future-dated Update Product order action on the subscription. The format of the date is yyyy-mm-dd.


            See [Update a Product on Subscription with Future-dated Updates](https://knowledgecenter.zuora.com/BC_Subscription_Management/Orders/AC_Orders_Tutorials/C_Update_a_Product_in_a_Subscription/Update_a_Product_on_Subscription_with_Future-dated_Updates) for more information about this feature.

            '
          format: date
          type: string
        uniqueToken:
          description: 'A unique string to represent the rate plan charge in the order. The unique token is used to perform multiple actions against a newly added rate plan. For example, if you want to add and update a product in the same order, you would assign a unique token to the product rate plan when added and use that token in future order actions.

            '
          type: string
      title: updateProduct
      type: object
    OrderActionRatePlanRecurringVolumePricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPriceBase:
            description: 'Specifies the duration of each recurring period.


              **Note**: The `Per_Year` and `Per_Specific_Months` enum values are available only if you have the <a href="https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price" target="_blank">Annual List Price</a> feature enabled.

              '
            enum:
            - Per_Billing_Period
            - Per_Month
            - Per_Week
            - Per_Year
            - Per_Specific_Months
            type: string
          quantity:
            description: 'Number of units purchased.

              '
            minimum: 0
            type: number
          specificListPriceBase:
            description: 'The number of months for the list price base of the charge. This field is required if you set the value of the `listPriceBase` field to `Per_Specific_Months`.

              '
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          tiers:
            description: 'List of variable pricing tiers in the charge.

              '
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
      description: 'Pricing information about a recurring charge that uses the "volume pricing" charge model. In this charge model, the charge has a variable price per unit, depending on how many units are purchased.

        '
      title: recurringVolume
    OrderActionRatePlanRecurringTieredPricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPriceBase:
            description: 'Specifies the duration of each recurring period.

              '
            enum:
            - Per_Billing_Period
            - Per_Month
            - Per_Week
            - Per_Year
            - Per_Specific_Months
            type: string
          quantity:
            description: 'Number of units purchased.

              '
            minimum: 0
            type: number
          specificListPriceBase:
            description: 'The number of months for the list price base of the charge. This field is required if you set the value of the `listPriceBase` field to `Per_Specific_Months`.

              '
            format: int32
            maximum: 200
            minimum: 1
            type: integer
          tiers:
            description: 'List of cumulative pricing tiers in the charge.

              '
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
      description: 'Pricing information about a recurring charge that uses the "tiered pricing" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are purchased.

        '
      title: recurringTiered
    OrderActionRatePlanOneTimePerUnitPricingOverride:
      description: 'Pricing information about a one-time charge that uses the "per unit" charge model. In this charge model, the charge has a fixed price per unit purchased.

        '
      properties:
        listPrice:
          description: 'Per-unit price of the charge.

            '
          type: number
        quantity:
          description: 'Number of units purchased.

            '
          minimum: 0
          type: number
      title: oneTimePerUnit
      type: object
    OrderActionRatePlanAmendment:
      description: 'The amendment that is related to the subscription rate plan.

        '
      properties:
        code:
          description: 'The amendment code.

            '
          type: string
        contractEffectiveDate:
          description: 'The date when the amendment becomes effective for billing purposes, as `yyyy-mm-dd`.

            '
          format: date
          type: string
        createdBy:
          description: 'The ID of the user who created this amendment.

            '
          type: string
        createdDate:
          description: The time that the amendment gets created in the system, in the `YYYY-MM-DD HH:MM:SS` format.
          format: datetime
          type: string
        customerAcceptanceDate:
          description: 'The date when the customer accepts the amendment changes to the subscription, as `yyyy-mm-dd`.

            '
          format: date
          type: string
        description:
          description: 'Description of the amendment.

            '
          type: string
        effectiveDate:
          description: "The date when the amendment changes take effective. \n"
          format: date
          type: string
        id:
          description: 'The amendment ID.

            '
          type: string
        name:
          description: 'The name of the amendment.

            '
          type: string
        serviceActivationDate:
          description: 'The date when service is activated, as `yyyy-mm-dd`.

            '
          format: date
          type: string
        type:
          description: 'Type of the amendment.

            Possible values are:



            - NewProduct

            - RemoveProduct

            - UpdateProduct

            '
          type: string
        updatedBy:
          description: The ID of the user who updated this amendment.
          type: string
        updatedDate:
          description: The time that the amendment gets updated in the system, in the `YYYY-MM-DD HH:MM:SS` format.
          format: datetime
          type: string
      type: object
    OrderActionRatePlanUsageFlatFeePricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          listPrice:
            type: number
        type: object
    OrderActionRatePlanOneTimeTieredPricingOverride:
      description: 'Pricing information about a one-time charge that uses the "tiered pricing" charge model. In this charge model, the charge has cumulative pricing tiers that become effective as units are purchased.

        '
      properties:
        quantity:
          description: 'Number of units purchased.

            '
          minimum: 0
          type: number
        tiers:
          description: 'List of cumulative pricing tiers in the charge.

            '
          items:
            $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
          type: array
      title: oneTimeTiered
      type: object
    OrderActionRatePlanUsageVolumePricingOverride:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          ratingGroup:
            description: "Specifies how Zuora groups usage records when rating usage. See [Usage Rating by Group](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Usage/Usage_Rating_by_Group) for more information.\n  * ByBillingPeriod (default): The rating is based on all the usages in a billing period.\n  * ByUsageStartDate: The rating is based on all the usages on the same usage start date.\n  * ByUsageRecord: The rating is based on each usage record.\n  * ByUsageUpload: The rating is based on all the usages in a uploaded usage file (.xls or .csv). If you import a mass usage in a single upload, which contains multiple usage files in .xls or .csv format, usage records are grouped for each usage file.\n"
            enum:
            - ByBillingPeriod
            - ByUsageStartDate
            - ByUsageRecord
            - ByUsageUpload
            type: string
          tiers:
            description: 'List of variable pricing tiers in the charge.

              '
            items:
              $ref: '#/components/schemas/OrderActionRatePlanChargeTier'
            type: array
        type: object
      description: 'Pricing information about a usage charge that uses the "volume pricing" charge model. In this charge model, the charge has a variable price per unit, depending on how many units are consumed.

        '
      title: usageVolume
    OrderActionRatePlanUsageOveragePricingUpdate:
      allOf:
      - $ref: '#/components/schemas/OrderActionRatePlanPriceChangeParams'
      - properties:
          includedUnits:
            description: 'A certain quantity of units for free in the overage charge model. It cannot be negative. It must be 0 and above. Decimals are allowed.

              '
            type: number
          overagePrice:
            type: number
        type: object
    OrderActionRatePlanOneTimeFlatFeePricingOverride:
      description: 'Pricing information about a one-time charge that uses the "flat fee" charge model. In this charge model, the charge has a fixed price.

        '
      properties:
        listPrice:
          description: 'Price of the charge.

            '
          type: number
      required:
      - listPrice
      title: oneTimeFlatFee
      type: object
  parameters:
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
