openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Subscriptions API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Subscriptions
  description: 'A subscription is a product or service that has recurring charges, such as a monthly flat fee or charges based on usage. Subscriptions can also include one-time charges, such as activation fees. Every subscription must be associated with an account. At least one active account must exist before any subscriptions can be created.


    For more information, see Subscriptions.'
paths:
  /v1/subscriptions/preview:
    post:
      summary: Preview a subscription
      operationId: POST_PreviewSubscription
      description: 'The REST API reference describes how to create a new subscription in preview mode. This call does not require a valid customer account. It can be used to show potential new customers a preview of a subscription with complete details and charges before creating an account, or to let existing customers preview a subscription with all charges before committing.


        ### Notes

        - The response of the Preview Subscription call is based on the REST API minor version you set in the request header. The response structure might be different if you use different minor version numbers.


        - If you have the Invoice Settlement feature enabled, we recommend that you set the `zuora-version` parameter to `207.0` or later available versions. Otherwise, an error is returned.


        - Default values for **customerAcceptanceDate** and **serviceActivationDate** are set as follows.


        | | serviceActivationDate (SA) specified | serviceActivationDate (SA) NOT specified |

        | ------------- |:-------------:| -----:|

        | customerAcceptanceDate (CA) specified | SA uses value in the request call; CA uses value in the request call| CA uses value in the request call;SA uses CE as default |

        | customerAcceptanceDate (CA) NOT specified | SA uses value in the request call; CA uses SA as default | SA and CA use CE as default |'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. \n\nYou need to set this parameter if you use the following fields:\n* targetDate\n* includeExistingDraftDocItems\n* previewType\n* taxationItems\n\n\nIf you have the Invoice Settlement feature enabled, you need to specify this parameter. Otherwise, an error is returned.\n\n\n. \n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTSubscriptionPreviewResponseType'
              example:
                success: true
                contractedMrr: 100
                amount: 100
                amountWithoutTax: 90
                taxAmount: 10
                invoiceTargetDate: '2021-12-31'
                invoice:
                  amount: 100.0
                  amountWithoutTax: 90.0
                  taxAmount: 10.0
                  invoiceItems:
                  - serviceStartDate: '2021-08-04'
                    serviceEndDate: '2021-08-31'
                    chargeAmount: 90
                    chargeDescription: Recurring Flat Fee Pricing
                    chargeName: Recurring_Flat Fee Pricing1628472350306
                    productName: P_1628472348863
                    productRatePlanChargeId: 402881547b216168017b2884182f12e7
                    quantity: 1
                    taxAmount: 10
                    taxationItems:
                    - exemptAmount: 0.0
                      jurisdiction: Country
                      locationCode: 000-1
                      name: taxName1
                      taxAmount: 10
                      taxCode: TAXCODE-1628472348524123456789012345678901234567890
                      taxCodeDescription: null
                      taxDate: '2021-10-08'
                      taxRateDescription: taxRateDescription1
                      taxRateType: FlatFee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTSubscriptionPreviewType'
        required: true
  /v1/subscriptions:
    post:
      summary: Create a subscription
      operationId: POST_Subscription
      description: 'This REST API reference describes how to create a new subscription for an existing customer account.


        ### Notes


        If you have the Invoice Settlement feature enabled, it is best practice to set the `zuora-version` parameter to `211.0` or later available versions. Otherwise, an error occurs.


        If `invoiceCollect` is `true`, the call will not return `success` = `true` unless the subscription, invoice, and payment are all successful.


        Default values for **customerAcceptanceDate** and **serviceActivationDate** are set as follows. This API operation does not support creating a pending subscription.


        | | serviceActivationDate(SA) specified | serviceActivationDate (SA) NOT specified |

        | ------------- |:-------------:| -----:|

        | customerAcceptanceDate (CA) specified| SA uses value in the request call; CA uses value in the request call| CA uses value in the request call;SA uses CE as default |

        | customerAcceptanceDate (CA) NOT specified | SA uses value in the request call; CA uses SA as default | SA and CA use CE as default |'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. \n\nYou only need to set this parameter if you use the following fields:\n* invoice\n* collect\n* runBilling\n* targetDate\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTSubscriptionResponseType'
              example:
                success: true
                subscriptionId: 402890fc4fa094d5014fa0a4aa78001d
                subscriptionNumber: A-S00000041
                contractedMrr: 1950
                totalContractedValue: 6227.41935465
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTSubscriptionType'
        required: true
  /v1/subscriptions/accounts/{account-key}:
    get:
      summary: List subscriptions by account key
      operationId: GET_SubscriptionsByAccount
      description: 'Retrieves all subscriptions associated with the specified account. Zuora only returns the latest version of the subscriptions.


        Subscription data is returned in reverse chronological order based on `updatedDate`. Note that the rate plans inside the subscriptions are not sorted specifically and are returned in a random order.'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: account-key
        in: path
        description: '

          Possible values are:

          * an account number

          * an account ID

          '
        required: true
        schema:
          type: string
      - name: charge-detail
        in: query
        description: "The segmented rate plan charges.\n\nWhen an amendment results in a change to a charge, Zuora creates a segmented rate plan charge. Use this field to track segment charges.\n\nPossible values are:\n\n* __last-segment__: (Default) The last rate plan charge on the subscription. The last rate plan charge is the last one in the order of time on the subscription rather than the most recent changed charge on the subscription.\n * __current-segment__: The segmented charge that is active on today’s date (effectiveStartDate <= today’s date < effectiveEndDate).\n \n * __all-segments__: All the segmented charges. The `chargeSegments` field is returned in the response. The `chargeSegments` field contains an array of the charge information for all the charge segments.\n\n * __specific-segment&as-of-date=date__: The segmented charge that is active on a date you specified (effectiveStartDate <= specific date < effectiveEndDate). The format of the date is yyyy-mm-dd.\n"
        required: false
        schema:
          type: string
      - name: exclude-rate-plans-with-no-charges
        in: query
        required: false
        description: 'If the `exclude-rate-plans-with-no-charges` is `true`, only the active charges and rate plans will be in the response. The default value is `false`.

          '
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETSubscriptionWrapper'
              example:
                subscriptions:
                - id: 8a8082c45aa81b51015ad68743ec0fdb
                  accountId: 8a8082c45aa81b51015ad64396090f5c
                  accountNumber: A00002641
                  accountName: ABCD
                  version: 1
                  revision: '1.0'
                  invoiceOwnerAccountId: 8a8082c45aa81b51015ad64396090f5c
                  invoiceOwnerAccountNumber: A00002641
                  invoiceOwnerAccountName: ABCD
                  subscriptionNumber: A-S00007412
                  termType: TERMED
                  invoiceSeparately: false
                  contractEffectiveDate: '2017-01-01'
                  serviceActivationDate: '2017-01-01'
                  customerAcceptanceDate: '2017-01-01'
                  subscriptionStartDate: '2017-01-01'
                  termStartDate: '2017-01-01'
                  termEndDate: '2018-01-01'
                  initialTerm: 12
                  initialTermPeriodType: Month
                  currentTerm: 12
                  currentTermPeriodType: Month
                  autoRenew: true
                  renewalSetting: RENEW_WITH_SPECIFIC_TERM
                  renewalTerm: 12
                  renewalTermPeriodType: Month
                  currency: USD
                  contractedMrr: 8.33
                  totalContractedValue: 100
                  notes: ''
                  paymentTerm: Net 30
                  billToContact:
                    address1: ''
                    address2: ''
                    city: ''
                    country: null
                    county: null
                    fax: ''
                    firstName: Test
                    homePhone: ''
                    id: 2c9081a03c6d7b51013c6d7e46c80a17
                    lastName: Test
                    mobilePhone: ''
                    nickname: ''
                    otherPhone: ''
                    otherPhoneType: null
                    personalEmail: ''
                    state: ''
                    taxRegion: null
                    workEmail: contact@example.com
                    workPhone: ''
                    zipCode: ''
                  invoiceTemplateId: 2c9081a03c638994013c63978baf002b
                  invoiceTemplateName: InvoiceTemplateName
                  sequenceSetId: 6abcc30846de11e990900242ac1f0003
                  sequenceSetName: DEFAULT
                  soldToContact:
                    address1: ''
                    address2: ''
                    city: ''
                    country: null
                    county: null
                    fax: ''
                    firstName: Test
                    homePhone: ''
                    id: 2c9081a03c6d7b51013c6d7e46c80a17
                    lastName: Test
                    mobilePhone: ''
                    nickname: ''
                    otherPhone: ''
                    otherPhoneType: null
                    personalEmail: ''
                    state: ''
                    taxRegion: null
                    workEmail: contact@example.com
                    workPhone: ''
                    zipCode: ''
                  status: Active
                  invoiceScheduleId: ec6f0d5dc8af451ab95343fb3c588c1a
                  ratePlans:
                  - id: 8a8082c45aa81b51015ad68744030fe3
                    productId: 8a8082c45aa81b51015ad5a2d07d0e89
                    productName: ABC
                    productSku: SKU-00000987
                    productRatePlanId: 8a8082c45aa81b51015ad5a473fb0e8d
                    ratePlanName: RatePlan 1
                    ratePlanCharges:
                    - id: 8a8082c45aa81b51015ad68744160fe4
                      originalChargeId: 8a8082c45aa81b51015ad68744160fe4
                      productRatePlanChargeId: 8a8082c45aa81b51015ad5a655c00e8f
                      number: C-00032238
                      name: Annual Charge
                      type: Recurring
                      model: FlatFee
                      uom: null
                      version: 1
                      pricingSummary: USD100
                      priceChangeOption: NoChange
                      priceIncreasePercentage: null
                      currency: USD
                      price: 100
                      tiers: null
                      includedUnits: null
                      overagePrice: null
                      discountPercentage: null
                      discountAmount: null
                      applyDiscountTo: null
                      discountLevel: null
                      discountClass: null
                      discountApplyDetails: null
                      billingDay: DefaultFromCustomer
                      listPriceBase: Per_Billing_Period
                      billingPeriod: Annual
                      specificBillingPeriod: null
                      billingTiming: IN_ADVANCE
                      billingPeriodAlignment: AlignToCharge
                      quantity: 1
                      smoothingModel: null
                      numberOfPeriods: null
                      overageCalculationOption: null
                      overageUnusedUnitsCreditOption: null
                      unusedUnitsCreditRates: null
                      usageRecordRatingOption: null
                      segment: 1
                      effectiveStartDate: '2017-01-01'
                      effectiveEndDate: '2018-01-01'
                      processedThroughDate: null
                      chargedThroughDate: null
                      done: false
                      triggerDate: null
                      triggerEvent: ContractEffective
                      endDateCondition: Subscription_End
                      upToPeriodsType: null
                      upToPeriods: null
                      specificEndDate: null
                      mrr: 8.333333
                      dmrc: 8.333333
                      tcv: 100
                      dtcv: 100
                      description: ''
                      invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
                    - id: 8a8082c45aa81b51015ad68744240fe5
                      originalChargeId: 8a8082c45aa81b51015ad68744240fe5
                      productRatePlanChargeId: 8a8082c45aa81b51015ad683bc590fd8
                      number: C-00032239
                      name: Discount-Fixed 10
                      type: Recurring
                      model: DiscountFixedAmount
                      uom: null
                      version: 1
                      pricingSummary: USD10 fixed amount discount
                      priceChangeOption: null
                      priceIncreasePercentage: null
                      currency: USD
                      price: null
                      tiers: null
                      includedUnits: null
                      overagePrice: null
                      discountPercentage: null
                      discountAmount: 10
                      applyDiscountTo: ONETIMERECURRINGUSAGE
                      discountLevel: subscription
                      discountClass: VIP Discount
                      discountApplyDetails:
                      - appliedProductRatePlanId: 8a8082c45aa81b51015ad5a473fb0e8d
                        appliedProductRatePlanChargeId: 8a8082c45aa81b51015ad5a655c00e8f
                        appliedProductName: ABC
                        appliedProductRatePlanName: RatePlan 1
                        appliedProductRatePlanChargeName: Annual Charge
                      - appliedProductRatePlanId: 8a8082c45aa81b51015ad5a473fb0e8d
                        appliedProductRatePlanChargeId: 8a8082c45aa81b51015ad5a655c00e8f
                        appliedProductName: ABC
                        appliedProductRatePlanName: RatePlan 1
                        appliedProductRatePlanChargeName: Annual Charge
                      billingDay: DefaultFromCustomer
                      listPriceBase: null
                      billingPeriod: Month
                      specificBillingPeriod: null
                      billingTiming: null
                      billingPeriodAlignment: AlignToCharge
                      quantity: null
                      smoothingModel: null
                      numberOfPeriods: null
                      overageCalculationOption: null
                      overageUnusedUnitsCreditOption: null
                      unusedUnitsCreditRates: null
                      usageRecordRatingOption: null
                      segment: 1
                      effectiveStartDate: '2017-01-01'
                      effectiveEndDate: '2018-01-01'
                      processedThroughDate: null
                      chargedThroughDate: null
                      done: false
                      triggerDate: null
                      triggerEvent: ContractEffective
                      endDateCondition: Subscription_End
                      upToPeriodsType: null
                      upToPeriods: null
                      specificEndDate: null
                      mrr: 0
                      dmrc: 0
                      tcv: 0
                      dtcv: 0
                      description: ''
                      invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
                    - id: 4028818386ba85070186bab54f99573d
                      originalChargeId: 4028818386ba85070186bab54f065731
                      productRatePlanChargeId: 4028818386b61be50186b6293eb30017
                      number: C-00032240
                      name: Delivery Charge
                      type: Recurring
                      model: Delivery
                      uom: null
                      version: 1
                      subscriptionChargeDeliverySchedule:
                        frequency: Weekly
                        monday: false
                        tuesday: false
                        wednesday: false
                        thursday: false
                        friday: false
                        saturday: false
                        sunday: true
                        dayOfMonth: null
                        monthOfYear: null
                      subscriptionChargeIntervalPricing:
                      - sequence: 1
                        type: Day
                        duration: 365
                        price: 5.0
                        subscriptionChargeIntervalPriceTiers: []
                      - sequence: 2
                        type: Day
                        duration: 365
                        price: 7.0
                        subscriptionChargeIntervalPriceTiers: []
                      - sequence: 3
                        type: Infinity
                        duration: null
                        price: 9.0
                        subscriptionChargeIntervalPriceTiers: []
                      numberOfDeliveries: 52.0
                      pricingSummary: ''
                      priceChangeOption: null
                      priceIncreasePercentage: null
                      currency: USD
                      price: 9.0
                      tiers: null
                      chargeModelConfiguration: null
                      inputArgumentId: null
                      includedUnits: null
                      overagePrice: null
                      discountPercentage: null
                      discountAmount: null
                      applyDiscountTo: null
                      discountLevel: null
                      discountClass: null
                      discountApplyDetails: null
                      billingDay: DefaultFromCustomer
                      listPriceBase: Per_Billing_Period
                      billingPeriod: Month
                      specificBillingPeriod: null
                      billingTiming: IN_ADVANCE
                      ratingGroup: null
                      billingPeriodAlignment: AlignToCharge
                      quantity: 1.0
                      smoothingModel: null
                      numberOfPeriods: null
                      overageCalculationOption: null
                      overageUnusedUnitsCreditOption: null
                      unusedUnitsCreditRates: null
                      usageRecordRatingOption: null
                      segment: 3
                      effectiveStartDate: '2024-12-31'
                      effectiveEndDate: '2026-01-01'
                      processedThroughDate: null
                      chargedThroughDate: null
                      done: false
                      triggerDate: null
                      triggerEvent: ContractEffective
                      endDateCondition: Subscription_End
                      upToPeriodsType: null
                      upToPeriods: null
                      specificEndDate: null
                      mrr: 38.571428571
                      dmrc: 38.571428571
                      tcv: 468.0
                      dtcv: 468.0
                      originalOrderDate: '2023-01-01'
                      amendedByOrderOn: null
                      description: ''
                      invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
                success: true
  /v1/subscriptions/{subscription-key}:
    put:
      summary: Update a subscription
      operationId: PUT_Subscription
      description: 'Use this call to make the following kinds of changes to a subscription:

        * Add a note

        * Change the renewal term or auto-renewal flag

        * Change the term length or change between evergreen and termed

        * Add a new product rate plan

        * Remove an existing subscription rate plan

        * Change the quantity or price of an existing subscription rate plan

        * Change rate plans - to replace the existing rate plans in a subscription with other rate plans. Changing rate plans is currently not supported for Billing - Revenue Integration. When Billing - Revenue Integration is enabled, changing rate plans will no longer be applicable in Zuora Billing.


        ### Notes

        * The "Update a subscription" call creates a new subscription object that has a new version number and to which the subscription changes are applied. The new subscription object has the same subscription name but a new, different, subscription ID. The `Status` field of the new subscription object will be set to `Active` unless the change applied was a cancelation or suspension in which case the status reflects that. The `Status` field of the originating subscription object changes from `Active` to `Expired`. A status of `Expired` does not imply that the subscription itself has expired or ended, merely that this subscription object is no longer the most recent.

        * In one request, this call can make:

        * Up to 9 combined add, update, and remove changes

        * No more than 1 change to terms & conditions

        * Updates are performed in the following sequence:

        1. First change the notes on the existing subscription, if requested.

        2. Then change the terms and conditions, if requested.

        3. Then perform the remaining amendments based upon the effective dates specified. If multiple amendments have the same contract-effective dates, then execute adds before updates, and updates before removes.

        * The update operation is atomic. If any of the updates fails, the entire operation is rolled back.

        * The response of the Update Subscription call is based on the REST API minor version you set in the request header. The response structure might be different if you use different minor version numbers.

        * If you have the Invoice Settlement feature enabled, it is best practice to set the `zuora-version` parameter to `211.0` or later available versions. Otherwise, an error occurs.


        ### Override a Tiered Price

        There are two ways you override a tiered price:


        * Override a specific tier number

        For example: `tiers[{tier:1,price:8},{tier:2,price:6}]`


        * Override the entire tier structure

        For example: `tiers[{tier:1,price:8,startingUnit:1,endingUnit:100,priceFormat:"FlatFee"},

        {tier:2,price:6,startingUnit:101,priceFormat:"FlatFee"}]`


        If you just override a specific tier, do not include the `startingUnit` field in the request.'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. \n\nYou need to set this parameter if you use the following fields:\n* collect\n* invoice\n* includeExistingDraftDocItems\n* previewType\n* runBilling\n* targetDate\n* taxationItems\n\n\nIf you have the Invoice Settlement feature enabled, you need to specify this parameter. Otherwise, an error is returned.\n\n\nSee [Zuora REST API Versions](/api-references/api/overview/#section/API-Versions) for more information.\n"
        schema:
          type: string
      - name: subscription-key
        in: path
        required: true
        description: "\nSubscription number or ID. \nID can be the latest version or any history version of ID. \n* To make sure you update the last version of the subscription, use one of the following operations to retrieve the last version of ID:\n  * [List subscriptions by account key](/api-references/api/operation/GET_SubscriptionsByAccount)\n  * [Retrieve a subscription by key](/api-references/api/operation/GET_SubscriptionsByKey) by using the subscription number as the subscription-key\n* If you want to use any history version of ID, the `STABLE_ID_PUBLIC_API` permission must be enabled. Submit a request at [Zuora Global Support](http://support.zuora.com/) to enable the permission. To retrieve a history version of ID, use the [Retrieve a subscription by key and version](/api-references/api/operation/GET_SubscriptionsByKeyAndVersion) operation.\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTSubscriptionResponseType'
              example:
                success: true
                subscriptionId: 4028bb83510f8ed7015114a503cf0373
                totalDeltaMrr: 100.0
                totalDeltaTcv: 4867.7419355
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTSubscriptionType'
        required: true
    get:
      summary: Retrieve a subscription by key
      operationId: GET_SubscriptionsByKey
      description: This REST API reference describes how to retrieve detailed information about a specified subscription in the latest version.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: subscription-key
        in: path
        description: "Possible values are:\n  * a subscription number\n  * a subscription ID\n"
        required: true
        schema:
          type: string
      - name: charge-detail
        in: query
        description: "\nThe segmented rate plan charges. When an amendment results in a change to a charge, Zuora creates a segmented rate plan charge. Use this field to track segment charges.\n\nPossible values are:\n\n * __last-segment__: (Default) The last rate plan charge on the subscription. The last rate plan charge is the last one in the order of time on the subscription rather than the most recent changed charge on the subscription.\n * __current-segment__: The segmented charge that is active on today’s date (effectiveStartDate <= today’s date < effectiveEndDate).\n \n * __all-segments__: All the segmented charges. The `chargeSegments` field is returned in the response. The `chargeSegments` field contains an array of the charge information for all the charge segments.\n\n * __specific-segment&as-of-date=date__: The segmented charge that is active on a date you specified ((specific date = effectiveStartDate) OR (effectiveStartDate < specific date < effectiveEndDate)). The format of the date is yyyy-mm-dd.\n"
        required: false
        schema:
          type: string
      - name: exclude-rate-plans-with-no-charges
        in: query
        required: false
        description: 'If the `exclude-rate-plans-with-no-charges` is `true`, only the active charges and rate plans will be in the response. The default value is `false`.

          '
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETSubscriptionTypeWithSuccess'
              example:
                success: true
                id: 8a8082c45aa81b51015ad68743ec0fdb
                accountId: 8a8082c45aa81b51015ad64396090f5c
                accountNumber: A00002641
                accountName: ABCD
                version: 1
                revision: '1.0'
                invoiceOwnerAccountId: 8a8082c45aa81b51015ad64396090f5c
                invoiceOwnerAccountNumber: A00002641
                invoiceOwnerAccountName: ABCD
                subscriptionNumber: A-S00007412
                termType: TERMED
                invoiceSeparately: false
                contractEffectiveDate: '2017-01-01'
                serviceActivationDate: '2017-01-01'
                customerAcceptanceDate: '2017-01-01'
                subscriptionStartDate: '2017-01-01'
                termStartDate: '2017-01-01'
                termEndDate: '2018-01-01'
                initialTerm: 12
                initialTermPeriodType: Month
                currentTerm: 12
                currentTermPeriodType: Month
                autoRenew: true
                renewalSetting: RENEW_WITH_SPECIFIC_TERM
                renewalTerm: 12
                renewalTermPeriodType: Month
                currency: USD
                contractedMrr: 8.33
                totalContractedValue: 100
                notes: ''
                status: Active
                paymentTerm: Net 30
                billToContact:
                  address1: ''
                  address2: ''
                  city: ''
                  country: null
                  county: null
                  fax: ''
                  firstName: Test
                  homePhone: ''
                  id: 2c9081a03c6d7b51013c6d7e46c80a17
                  lastName: Test
                  mobilePhone: ''
                  nickname: ''
                  otherPhone: ''
                  otherPhoneType: null
                  personalEmail: ''
                  state: ''
                  taxRegion: null
                  workEmail: contact@example.com
                  workPhone: ''
                  zipCode: ''
                invoiceTemplateId: 2c9081a03c638994013c63978baf002b
                invoiceTemplateName: InvoiceTemplateName
                sequenceSetId: 6abcc30846de11e990900242ac1f0003
                invoiceScheduleId: ec6f0d5dc8af451ab95343fb3c588c1a
                sequenceSetName: DEFAULT
                soldToContact:
                  address1: ''
                  address2: ''
                  city: ''
                  country: null
                  county: null
                  fax: ''
                  firstName: Test
                  homePhone: ''
                  id: 2c9081a03c6d7b51013c6d7e46c80a17
                  lastName: Test
                  mobilePhone: ''
                  nickname: ''
                  otherPhone: ''
                  otherPhoneType: null
                  personalEmail: ''
                  state: ''
                  taxRegion: null
                  workEmail: contact@example.com
                  workPhone: ''
                  zipCode: ''
                ratePlans:
                - id: 8a8082c45aa81b51015ad68744030fe3
                  productId: 8a8082c45aa81b51015ad5a2d07d0e89
                  productName: ABC
                  productSku: SKU-00000987
                  productRatePlanId: 8a8082c45aa81b51015ad5a473fb0e8d
                  ratePlanName: RatePlan 1
                  ratePlanCharges:
                  - id: 8a8082c45aa81b51015ad68744160fe4
                    originalChargeId: 8a8082c45aa81b51015ad68744160fe4
                    productRatePlanChargeId: 8a8082c45aa81b51015ad5a655c00e8f
                    number: C-00032238
                    name: Annual Charge
                    type: Recurring
                    model: FlatFee
                    uom: null
                    version: 1
                    pricingSummary: USD100
                    priceChangeOption: NoChange
                    priceIncreasePercentage: null
                    currency: USD
                    price: 100
                    tiers: null
                    includedUnits: null
                    overagePrice: null
                    discountPercentage: null
                    discountAmount: null
                    applyDiscountTo: null
                    discountLevel: null
                    discountClass: null
                    discountApplyDetails: null
                    billingDay: DefaultFromCustomer
                    listPriceBase: Per_Billing_Period
                    billingPeriod: Annual
                    specificBillingPeriod: null
                    billingTiming: IN_ADVANCE
                    billingPeriodAlignment: AlignToCharge
                    quantity: 1
                    smoothingModel: null
                    numberOfPeriods: null
                    overageCalculationOption: null
                    overageUnusedUnitsCreditOption: null
                    unusedUnitsCreditRates: null
                    usageRecordRatingOption: null
                    segment: 1
                    effectiveStartDate: '2017-01-01'
                    effectiveEndDate: '2018-01-01'
                    processedThroughDate: null
                    chargedThroughDate: null
                    done: false
                    triggerDate: null
                    triggerEvent: ContractEffective
                    endDateCondition: Subscription_End
                    upToPeriodsType: null
                    upToPeriods: null
                    specificEndDate: null
                    mrr: 8.333333
                    dmrc: 8.333333
                    tcv: 100
                    dtcv: 100
                    description: ''
                    invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
                  - id: 8a8082c45aa81b51015ad68744240fe5
                    originalChargeId: 8a8082c45aa81b51015ad68744240fe5
                    productRatePlanChargeId: 8a8082c45aa81b51015ad683bc590fd8
                    number: C-00032239
                    name: Discount-Fixed 10
                    type: Recurring
                    model: DiscountFixedAmount
                    uom: null
                    version: 1
                    pricingSummary: USD10 fixed amount discount
                    priceChangeOption: null
                    priceIncreasePercentage: null
                    currency: USD
                    price: null
                    tiers: null
                    includedUnits: null
                    overagePrice: null
                    discountPercentage: null
                    discountAmount: 10
                    applyDiscountTo: ONETIMERECURRINGUSAGE
                    discountLevel: subscription
                    discountClass: VIP Discount
                    discountApplyDetails:
                    - appliedProductRatePlanId: 8a8082c45aa81b51015ad5a473fb0e8d
                      appliedProductRatePlanChargeId: 8a8082c45aa81b51015ad5a655c00e8f
                      appliedProductName: ABC
                      appliedProductRatePlanName: RatePlan 1
                      appliedProductRatePlanChargeName: Annual Charge
                    billingDay: DefaultFromCustomer
                    listPriceBase: null
                    billingPeriod: Month
                    specificBillingPeriod: null
                    billingTiming: null
                    billingPeriodAlignment: AlignToCharge
                    quantity: null
                    smoothingModel: null
                    numberOfPeriods: null
                    overageCalculationOption: null
                    overageUnusedUnitsCreditOption: null
                    unusedUnitsCreditRates: null
                    usageRecordRatingOption: null
                    segment: 1
                    effectiveStartDate: '2017-01-01'
                    effectiveEndDate: '2018-01-01'
                    processedThroughDate: null
                    chargedThroughDate: null
                    done: false
                    triggerDate: null
                    triggerEvent: ContractEffective
                    endDateCondition: Subscription_End
                    upToPeriodsType: null
                    upToPeriods: null
                    specificEndDate: null
                    mrr: 0
                    dmrc: 0
                    tcv: 0
                    dtcv: 0
                    description: ''
                    invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
                  - id: 4028818386ba85070186bab54f99573d
                    originalChargeId: 4028818386ba85070186bab54f065731
                    productRatePlanChargeId: 4028818386b61be50186b6293eb30017
                    number: C-00032240
                    name: Delivery Charge
                    type: Recurring
                    model: Delivery
                    uom: null
                    version: 1
                    subscriptionChargeDeliverySchedule:
                      frequency: Weekly
                      monday: false
                      tuesday: false
                      wednesday: false
                      thursday: false
                      friday: false
                      saturday: false
                      sunday: true
                      dayOfMonth: null
                      monthOfYear: null
                    subscriptionChargeIntervalPricing:
                    - sequence: 1
                      type: Day
                      duration: 365
                      price: 5.0
                      subscriptionChargeIntervalPriceTiers: []
                    - sequence: 2
                      type: Day
                      duration: 365
                      price: 7.0
                      subscriptionChargeIntervalPriceTiers: []
                    - sequence: 3
                      type: Infinity
                      duration: null
                      price: 9.0
                      subscriptionChargeIntervalPriceTiers: []
                    numberOfDeliveries: 52.0
                    pricingSummary: ''
                    priceChangeOption: null
                    priceIncreasePercentage: null
                    currency: USD
                    price: 9.0
                    tiers: null
                    chargeModelConfiguration: null
                    inputArgumentId: null
                    includedUnits: null
                    overagePrice: null
                    discountPercentage: null
                    discountAmount: null
                    applyDiscountTo: null
                    discountLevel: null
                    discountClass: null
                    discountApplyDetails: null
                    billingDay: DefaultFromCustomer
                    listPriceBase: Per_Billing_Period
                    billingPeriod: Month
                    specificBillingPeriod: null
                    billingTiming: IN_ADVANCE
                    ratingGroup: null
                    billingPeriodAlignment: AlignToCharge
                    quantity: 1.0
                    smoothingModel: null
                    numberOfPeriods: null
                    overageCalculationOption: null
                    overageUnusedUnitsCreditOption: null
                    unusedUnitsCreditRates: null
                    usageRecordRatingOption: null
                    segment: 3
                    effectiveStartDate: '2024-12-31'
                    effectiveEndDate: '2026-01-01'
                    processedThroughDate: null
                    chargedThroughDate: null
                    done: false
                    triggerDate: null
                    triggerEvent: ContractEffective
                    endDateCondition: Subscription_End
                    upToPeriodsType: null
                    upToPeriods: null
                    specificEndDate: null
                    mrr: 38.571428571
                    dmrc: 38.571428571
                    tcv: 468.0
                    dtcv: 468.0
                    originalOrderDate: '2023-01-01'
                    amendedByOrderOn: null
                    description: ''
                    invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
  /v1/subscriptions/{subscription-key}/versions/{version}:
    get:
      summary: Retrieve a subscription by key and version
      operationId: GET_SubscriptionsByKeyAndVersion
      description: This REST API reference describes how to retrieve detailed information about a specified subscription in a specified version. When you create a subscription amendment, you create a new version of the subscription. You can use this method to retrieve information about a subscription in any version.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: subscription-key
        in: path
        description: 'Subscription number. For example, A-S00000135.

          '
        required: true
        schema:
          type: string
      - name: version
        in: path
        description: 'Subscription version. For example, 1.

          '
        required: true
        schema:
          type: string
      - name: charge-detail
        in: query
        description: "\nThe segmented rate plan charges. When an amendment results in a change to a charge, Zuora creates a segmented rate plan charge. Use this field to track segment charges.\n\nPossible values are:\n\n * __last-segment__: (Default) The last rate plan charge on the subscription. The last rate plan charge is the last one in the order of time on the subscription rather than the most recent changed charge on the subscription.\n * __current-segment__: The segmented charge that is active on today’s date (effectiveStartDate <= today’s date < effectiveEndDate).\n \n * __all-segments__: All the segmented charges. The `chargeSegments` field is returned in the response. The `chargeSegments` field contains an array of the charge information for all the charge segments.\n\n * __specific-segment&as-of-date=date__: The segmented charge that is active on a date you specified (effectiveStartDate <= specific date < effectiveEndDate). The format of the date is yyyy-mm-dd.\n"
        required: false
        schema:
          type: string
      - name: exclude-rate-plans-with-no-charges
        in: query
        required: false
        description: 'If the `exclude-rate-plans-with-no-charges` is `true`, only the active charges and rate plans will be in the response. The default value is `false`.

          '
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETSubscriptionTypeWithSuccess'
              example:
                success: true
                id: 2c9081a03c63c94c013c687b864e0195
                accountId: 2c9081a03c63c94c013c66688a2c00bf
                accountNumber: RestAPI
                accountName: RestAPI
                subscriptionNumber: A-S00000004
                version: 1
                revision: '1.0'
                termType: TERMED
                contractEffectiveDate: '2012-02-01'
                serviceActivationDate: '2012-02-01'
                customerAcceptanceDate: '2012-02-01'
                subscriptionStartDate: '2012-02-01'
                termStartDate: '2012-02-01'
                termEndDate: '2013-02-01'
                initialTermPeriodType: Week
                currentTerm: 12
                currentTermPeriodType: Week
                autoRenew: false
                renewalSetting: RENEW_WITH_SPECIFIC_TERM
                renewalTerm: 0
                renewalTermPeriodType: Week
                currency: USD
                contractedMrr: 26.67
                totalContractedValue: 404.0
                notes: ''
                status: Active
                invoiceScheduleId: ec6f0d5dc8af451ab95343fb3c588c1a
                ratePlans:
                - id: 2c9081a03c63c94c013c687b868901a4
                  productId: 2c9081a03c63c94c013c66499ef0001b
                  productName: OneTime
                  productSku: SKU-00000022
                  productRatePlanId: 2c9081a03c63c94c013c665102e5003a
                  ratePlanName: OT_Tiered
                  ratePlanCharges:
                  - id: 2c9081a03c63c94c013c687b868901a5
                    originalChargeId: 2c9081a03c63c94c013c687a92d70175
                    productRatePlanChargeId: 2c9081a03c63c94c013c6651d677003c
                    number: C-00000010
                    name: OT_Tiered
                    type: OneTime
                    model: Tiered
                    uom: Each
                    version: 1
                    pricingSummary: '0 to 10 Each: USD20 flat fee;  11 Each or more: USD4/Each'
                    priceChangeOption: null
                    priceIncreasePercentage: null
                    currency: USD
                    price: null
                    tiers:
                    - tier: 1
                      startingUnit: 0E-9
                      endingUnit: 10.0
                      price: 20.0
                      priceFormat: FlatFee
                    - tier: 2
                      startingUnit: 11.0
                      endingUnit: null
                      price: 4.0
                      priceFormat: PerUnit
                    includedUnits: null
                    overagePrice: null
                    discountPercentage: null
                    discountAmount: null
                    applyDiscountTo: null
                    discountLevel: null
                    billingDay: null
                    listPriceBase: null
                    billingPeriod: null
                    specificBillingPeriod: null
                    billingTiming: null
                    billingPeriodAlignment: null
                    quantity: 11.0
                    smoothingModel: null
                    numberOfPeriods: null
                    overageCalculationOption: null
                    overageUnusedUnitsCreditOption: null
                    unusedUnitsCreditRates: null
                    usageRecordRatingOption: null
                    segment: 1
                    effectiveStartDate: '2012-02-01'
                    effectiveEndDate: '2012-02-02'
                    processedThroughDate: '2012-02-02'
                    chargedThroughDate: '2012-02-02'
                    done: true
                    triggerDate: null
                    triggerEvent: ContractEffective
                    endDateCondition: One_Time
                    upToPeriodsType: null
                    upToPeriods: null
                    specificEndDate: null
                    mrr: null
                    dmrc: null
                    tcv: 24.0
                    dtcv: 24.0
                    description: ''
                    invoiceScheduleId: 8a8082c45aa81b51015ad68744240ff5
  /v1/subscriptions/{subscription-key}/renew:
    put:
      summary: Renew a subscription
      operationId: PUT_RenewSubscription
      description: 'Renews a termed subscription using existing renewal terms.

        When you renew a subscription, the current subscription term is extended by creating a new term.

        If any charge in your subscription has the billing period set as `SubscriptionTerm`， a new charge segment is generated for the new term.


        **Note**: If you have the Invoice Settlement feature enabled, it is best practice to set the `zuora-version` parameter to `211.0` or later available versions. Otherwise, an error occurs.'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. \n\nYou only need to set this parameter if you use the following fields:\n* invoice\n* collect\n* runBilling\n* targetDate \n"
        schema:
          type: string
      - name: subscription-key
        in: path
        required: true
        description: Subscription number or ID
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTRenewSubscriptionResponseType'
              example:
                termStartDate: '2014-02-01'
                success: true
                termEndDate: '2014-05-01'
                subscriptionId: 2c92c8f83dcbd8b1013dcce0f09100a5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTRenewSubscriptionType'
        required: true
  /v1/subscriptions/{subscription-key}/cancel:
    put:
      summary: Cancel a subscription
      operationId: PUT_CancelSubscription
      description: 'This REST API reference describes how to cancel an active subscription.


        **Note**: If you have the Invoice Settlement feature enabled, it is best practice to set the `zuora-version` parameter to `211.0` or later available versions. Otherwise, an error occurs.'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. \n\nYou only need to set this parameter if you use the following fields:\n* invoice\n* collect\n* runBilling\n* targetDate \n"
        schema:
          type: string
      - name: subscription-key
        in: path
        required: true
        description: Subscription number or ID. Subscription status must be `Active`.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTSubscriptionCancellationResponseType'
              example:
                success: true
                subscriptionId: 8a8082c453cd2a620154efc7bba0350e
                cancelledDate: '2019-05-31'
                totalDeltaMrr: 0
                totalDeltaTcv: -703.2258065
                invoiceId: 8a8082c453cd2a620153e426c7eb78b3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTSubscriptionCancellationType'
        required: true
  /v1/subscriptions/{subscription-key}/resume:
    put:
      summary: Resume a subscription
      operationId: PUT_ResumeSubscription
      description: 'This REST API reference describes how to resume a suspended subscription.


        **Note**: If you have the Invoice Settlement feature enabled, it is best practice to set the `zuora-version` parameter to `211.0` or later available versions. Otherwise, an error occurs.'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. \n\nYou only need to set this parameter if you use the following fields:\n* invoice\n* collect\n* runBilling\n* targetDate\n"
        schema:
          type: string
      - name: subscription-key
        in: path
        required: true
        description: Subscription number or ID. Subscription status must be Suspended.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTSubscriptionResumeResponseType'
              example:
                success: true
                subscriptionId: 8a8082c4539c5bcc0153a752f9c87094
                resumeDate: '2019-10-01'
                termEndDate: '2020-01-31'
                totalDeltaTcv: 396.7741935
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTSubscriptionResumeType'
        required: true
  /v1/subscriptions/{subscription-key}/suspend:
    put:
      summary: Suspend a subscription
      operationId: PUT_SuspendSubscription
      description: 'This REST API reference describes how to suspend an active subscription.


        **Note**: If you have the Invoice Settlement feature enabled, it is best practice to set the `zuora-version` parameter to `211.0` or later available versions. Otherwise, an error occurs.'
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "The minor version of the Zuora REST API. \n\nYou only need to set this parameter if you use the following fields:\n* invoice\n* collect\n* runBilling\n* targetDate\n"
        schema:
          type: string
      - name: subscription-key
        in: path
        required: true
        description: Subscription number or ID. Subscription status must be Active.
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTSubscriptionSuspendResponseType'
              example:
                success: true
                subscriptionId: 8a8082c4539c5bcc0153a658a9636fcc
                suspendDate: '2019-05-01'
                resumeDate: '2016-06-01'
                termEndDate: '2020-02-01'
                totalDeltaTcv: -896.6666667
                invoiceId: 8a8082c453bb061f0153c529bc921b4b
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTSubscriptionSuspendType'
        required: true
  /v1/subscriptions/{subscription-key}/delete:
    put:
      summary: Delete a subscription by number
      operationId: PUT_DeleteSubscription
      description: This REST API reference describes how to delete a subscription of the specified subscription number.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: subscription-key
        in: path
        required: true
        description: Subscription number
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTDeleteSubscriptionResponseType'
              example:
                success: true
  /v1/subscriptions/{subscriptionNumber}/versions/{version}/customFields:
    put:
      tags:
      - Subscriptions
      summary: Update subscription custom fields of a subscription version
      description: Updates the custom fields of a specified subscription version.
      operationId: PUT_UpdateSubscriptionCustomFieldsOfASpecifiedVersion
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: subscriptionNumber
        in: path
        description: The subscription number to be updated.
        required: true
        schema:
          type: string
          format: string
      - name: version
        in: path
        description: The subscription version to be updated.
        required: true
        schema:
          type: string
          format: string
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTSubscriptionPatchSpecificVersionRequestType'
        required: true
components:
  schemas:
    SubscriptionObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Subscription object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Subscription object.

        '
      title: subscriptionFieldsCustom
      type: object
    POSTSubscriptionPreviewResponseType:
      properties:
        amount:
          description: 'Invoice amount.

            '
          type: number
        amountWithoutTax:
          description: 'Invoice amount minus tax.

            '
          type: number
        chargeMetrics:
          description: 'Container for charge metrics.

            '
          properties:
            dmrr:
              description: 'Change in monthly recurring revenue.

                '
              type: string
            dtcv:
              description: 'Change in total contract value.

                '
              type: string
            mrr:
              description: 'Monthly recurring revenue.

                '
              type: string
            number:
              description: 'The charge number of the subscription. Only available for update subscription.

                '
              type: string
            originRatePlanId:
              description: 'The origin rate plan ID. Only available for update subscription.

                '
              type: string
            originalId:
              description: 'The original rate plan charge ID. Only available for update subscription.

                '
              type: string
            productRatePlanChargeId:
              description: 'The product rate plan charge ID.

                '
              type: string
            productRatePlanId:
              description: 'The product rate plan ID.

                '
              type: string
            tcv:
              description: 'Total contract value.

                '
              type: string
          type: object
        contractedMrr:
          description: 'Monthly recurring revenue of the subscription.

            '
          type: number
        creditMemo:
          description: "\nContainer for credit memos.\n\n**Note:** This container is only available if you set the Zuora REST API minor version to 207.0 or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version) in the request header, and you have  [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information. \n"
          properties:
            amount:
              description: Credit memo amount.
              format: double
              type: number
            amountWithoutTax:
              description: Credit memo amount minus tax.
              format: double
              type: number
            creditMemoItems:
              description: ''
              items:
                $ref: '#/components/schemas/POSTSubscriptionPreviewCreditMemoItemsType'
              type: array
            taxAmount:
              description: Tax amount on the credit memo.
              format: double
              type: number
          type: object
        documentDate:
          description: "The date of the billing document, in `yyyy-mm-dd` format. It represents the invoice date for invoices, credit memo date for credit memos, and debit memo date for debit memos.\n\n- If this field is specified, the specified date is used as the billing document date. \n- If this field is not specified, the date specified in the `targetDate` is used as the billing document date.\n"
          format: date
          type: string
        invoice:
          description: "Container for invoices.\n\n\n **Note:** This field is only available if you set the Zuora REST API minor version to 207.0 or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version) in the request header. Also, the response structure is changed and the following invoice related response fields are moved to this **invoice** container:\n  \n   * amount\n   * amountWithoutTax\n   * taxAmount\n   * invoiceItems\n   * targetDate\n"
          properties:
            amount:
              description: Invoice amount.
              type: number
            amountWithoutTax:
              description: 'Invoice amount minus tax.

                '
              type: number
            invoiceItems:
              description: 'Container for invoice items.

                '
              items:
                $ref: '#/components/schemas/POSTSubscriptionPreviewInvoiceItemsType'
              type: array
            targetDate:
              description: 'Date through which to calculate charges if an invoice is generated, as yyyy-mm-dd. Default is current date.


                **Note:** This field is only available if you set the Zuora REST API minor version to 207.0 or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version) in the request header.

                '
              type: string
            taxAmount:
              description: 'The tax amount of the invoice.

                '
              type: number
          type: object
        invoiceItems:
          description: 'Container for invoice items.

            '
          items:
            $ref: '#/components/schemas/POSTSubscriptionPreviewInvoiceItemsType'
          type: array
        invoiceTargetDate:
          description: 'Date through which charges are calculated on the invoice, as yyyy-mm-dd.


            **Note:** This field is only available if you do not specify the Zuora REST API minor version or specify the minor version to 186.0, 187.0, 188.0, 189.0, 196.0, and 206.0.

            '
          format: date
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
        targetDate:
          description: 'Date through which to calculate charges if an invoice is generated, as yyyy-mm-dd. Default is current date.


            **Note:** This field is only available if you set the Zuora REST API minor version to 207.0 or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version) in the request header.

            '
          format: date
          type: string
        taxAmount:
          description: 'Tax amount on the invoice.

            '
          type: number
        totalContractedValue:
          description: 'Total contracted value of the subscription.

            '
          type: number
      type: object
    PUTSubscriptionSuspendType:
      example:
        collect: false
        contractEffectiveDate: '2019-02-01'
        creditMemoReasonCode: Unsatisfactory service
        extendsTerm: true
        resume: true
        resumePolicy: SpecificDate
        resumeSpecificDate: '2019-06-01'
        runBilling: true
        suspendPeriods: 10
        suspendPeriodsType: Day
        suspendPolicy: FixedPeriodsFromToday
      properties:
        applicationOrder:
          description: "The priority order to apply credit memos and/or unapplied payments to an invoice. Possible item values are: `CreditMemo`, `UnappliedPayment`.\n\n**Note:**\n  - This field is valid only if the `applyCredit` field is set to `true`.\n  - If no value is specified for this field, the default priority order is used, [\"CreditMemo\", \"UnappliedPayment\"], to apply credit memos first and then apply unapplied payments.\n  - If only one item is specified, only the items of the spedified type are applied to invoices. For example, if the value is `[\"CreditMemo\"]`, only credit memos are used to apply to invoices.\n"
          items:
            type: string
          type: array
        applyCredit:
          description: 'If the value is true, the credit memo or unapplied payment on the order account will be automatically applied to the invoices generated by this order. The credit memo generated by this order will not be automatically applied to any invoices.



            **Note:** This field is only available if you have [Invoice Settlement](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement) enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.

            '
          type: boolean
        applyCreditBalance:
          description: "Whether to automatically apply a credit balance to an invoice.\n\nIf the value is `true`, the credit balance is applied to the invoice. If the value is `false`, no action is taken.\n\n\nTo view the credit balance adjustment, retrieve the details of the invoice using the Get Invoices method.\n\nPrerequisite: `invoice` must be `true`. \n\n**Note:** \n  - If you are using the field `invoiceCollect` rather than the field `invoice`, the `invoiceCollect` value must be `true`.\n  - This field is deprecated if you have the Invoice Settlement feature enabled.\n"
          type: boolean
        bookingDate:
          description: "The booking date that you want to set for the amendment contract when you suspend the subscription. If `resume` is `true`, which means you also choose to resume the subscription at some point, then this field is also the booking date for the Resume amendment contract.\n\nThis field must be in the `yyyy-mm-dd` format. The default value of this field is the current date when you make the API call. \n"
          format: date
          type: string
        collect:
          default: false
          description: "Collects an automatic payment for a subscription. The collection generated in this operation is only for this subscription, not for the entire customer account.\n\nIf the value is `true`, the automatic payment is collected. If the value is `false`, no action is taken.\n\nPrerequisite: The `invoice` or `runBilling` field must be `true`. \n\n**Note**: This field is only available if you set the `zuora-version` request header to `196.0` or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version).\n"
[...]
