openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Operations API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Operations
  description: Use operations to generate invoices and credit memos, collect payments for posted invoices, and generate previews of future invoice items for customer accounts.
paths:
  /v1/operations/invoice-collect:
    post:
      summary: Invoice and collect
      operationId: POST_TransactionInvoicePayment
      description: 'Generates and posts invoices and credit memos and collects payments for posted invoices. Credit memos are only available if you have the Invoice Settlement feature enabled and negative charges exist. Credit memos will not be applied to invoices. If draft invoices and credit memos exist when you run this operation, this operation will post the invoices and credit memos. Note that draft credit memos created from an invoice or a product rate plan charge will not be posted.


        You can use this operation to generate invoices and collect payments on the posted invoices,

        or else simply collect payment on a specified existing

        invoice. The customer''s default payment method is used, and the full

        amount due is collected. The operation depends on the parameters you

        specify.


        - To generate one or more new invoices for that customer and collect

        payment on the generated and other unpaid invoice(s), leave the **invoiceId** field empty.


        - To collect payment on an existing invoice, specify the invoice ID.


        The operation is atomic; if any part is unsuccessful, the entire

        operation is rolled back.


        When an error occurs, gateway reason codes and error messages are returned the error response of this operation. The following items are some gateway response code examples.


        - Orbital: `05 Do Not Honor`; `14 Invalid Credit Card Number`

        - Vantiv: `301 Invalid Account Number`; `304 Lost/Stolen Card`

        - CyberSource2: `202 Expired card`; `231 Invalid account number`


        For more reason code information, see the corresponding payment gateway documentation.


        ### Notes


        Timeouts may occur when using this method on an account that

        has an extremely high number of subscriptions.'
      tags:
      - Operations
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: zuora-version
        in: header
        required: false
        description: "\nThe minor version of the Zuora REST API. \n\nYou need to set this parameter if you use the following fields:\n* documentDate\n* targetDate            \n\nIf you have the Invoice Settlement feature enabled, you need to specify this parameter. Otherwise, an error is returned.\n\n\nSee [Zuora REST API Versions](/api-references/api/overview/#section/API-Versions) for more information.\n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTInvoiceCollectResponseType'
              example:
                invoices:
                - invoiceId: 4028925a4cb74ec9014cb7540988002e
                  invoiceNumber: INV00000091
                  invoiceAmount: 801.73
                creditMemos:
                - id: 402890555a7e9791015a879f064a0054
                  memoNumber: CM00000012
                  memoAmount: 801.73
                paymentId: 402892053e100406013e1024ab7c00e3
                amountCollected: 801.73
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTInvoiceCollectType'
        required: true
  /v1/operations/billing-preview:
    post:
      summary: Generate a billing preview
      operationId: POST_BillingPreview
      description: 'Generates a preview of future invoice items for one customer account. Use the BillingPreview call to calculate how much a single customer will be invoiced from the most recent invoice to a specific end of term date in the future.


        Additionally, you can use the BillingPreview service to access real-time data on an individual customer''s usage consumption.


        The BillingPreview call only calculates taxes for charges in the subscription if you use Zuora Tax and the product rate plan charge associated with the invoice item uses the tax inclusive mode; otherwise, this call does not calculate taxes.


        If you have the Invoice Settlement feature enabled, you can also generate a preview of future credit memo items for one customer account. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.'
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      tags:
      - Operations
      responses:
        200:
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPreviewResult'
              example:
                accountId: 402890b75972406c0159724cd4d00011
                invoiceItems:
                - id: 93ac165212294c1a8bef1c8f99121461
                  subscriptionName: A-S00000001
                  subscriptionId: 402890b75972406c0159724e2e810029
                  subscriptionNumber: A-S00000001
                  serviceStartDate: '2017-05-01'
                  serviceEndDate: '2017-05-31'
                  chargeAmount: 100
                  chargeDescription: ''
                  chargeName: positive-charge
                  chargeNumber: C-00000001
                  chargeId: 402890b75972406c0159724e2eec0031
                  productName: FA-freshAir
                  quantity: 1
                  taxAmount: 0
                  unitOfMeasure: License
                  chargeDate: '2017-01-06 16:38:26'
                  chargeType: Recurring
                  numberOfDeliveries: 0
                  processingType: Charge
                  appliedToItemId: null
                - id: 3e28d61d442f433797e268e2b7c11eeb
                  subscriptionName: A-S00000001
                  subscriptionId: c2d9a5768db440cbbf2709a55c614bed
                  subscriptionNumber: A-S00000001
                  serviceStartDate: '2017-05-01'
                  serviceEndDate: '2017-05-31'
                  chargeAmount: 10
                  chargeDescription: ''
                  chargeName: discount-charge
                  chargeNumber: C-00000003
                  chargeId: 402890b75972406c0159724e2eec0031
                  productName: FA-freshAir
                  quantity: 0
                  taxAmount: 0
                  unitOfMeasure: ''
                  chargeDate: '2017-01-06 16:38:26'
                  chargeType: Recurring
                  numberOfDeliveries: 1
                  processingType: Discount
                  appliedToItemId: 93ac165212294c1a8bef1c8f99121461
                creditMemoItems:
                - id: cf6326638f3c4ddda3722734aebd7ba7
                  subscriptionId: 402890b75972406c0159724e2e810029
                  amount: 50
                  amountWithoutTax: 50
                  comment: ''
                  sku: SKU-00000001
                  skuName: negative_charge
                  serviceStartDate: '2017-05-01'
                  serviceEndDate: '2017-05-31'
                  unitOfMeasure: License
                  ratePlanChargeId: 402890b75972406c0159724e2ef10032
                  quantity: 1
                  chargeDate: '2017-01-06 16:38:26'
                  chargeType: Recurring
                  numberOfDeliveries: 0
                  processingType: Charge
                  subscriptionNumber: A-S00000001
                  chargeNumber: C-00000002
                - id: 3e28d61d442f433797e268e2b7c11eeb
                  subscriptionName: A-S00000001
                  subscriptionId: c2d9a5768db440cbbf2709a55c614bed
                  subscriptionNumber: A-S00000001
                  serviceStartDate: '2017-05-01'
                  serviceEndDate: '2017-05-31'
                  chargeAmount: 5
                  chargeDescription: ''
                  chargeName: discount-charge
                  chargeNumber: C-00000003
                  chargeId: 402890b75972406c0159724e2eec0031
                  productName: FA-freshAir
                  quantity: 0
                  taxAmount: 0
                  unitOfMeasure: ''
                  chargeDate: '2017-01-06 16:38:26'
                  chargeType: Recurring
                  numberOfDeliveries: 1
                  processingType: Discount
                  appliedToItemId: cf6326638f3c4ddda3722734aebd7ba7
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBillingPreviewParam'
        required: true
  /v1/operations/jobs/{jobId}:
    get:
      summary: Retrieve an operation job
      description: 'Retrieves information about a specific operation job.


        Currently, you can only use this API operation to retrieve the status information about invoice deletion operation jobs.'
      operationId: GET_OperationJob
      tags:
      - Operations
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: jobId
        in: path
        required: true
        description: 'The ID of the operation job to retrieve information about. For example, 2c92c8955bd63cc1015bd7c151af02ab.

          '
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOperationJobResponseType'
              example:
                id: 4028818484a949680184a95174cb0019
                operationType: Delete
                objectType: Invoice
                objectId: 4028818484a949680184a9510c960009
                status: Completed
                success: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    BillingPreviewResult:
      properties:
        accountId:
          description: 'ID of the customer account to which the billing preview applies.

            '
          type: string
        creditMemoItems:
          description: 'An array of credit memo items returned as the result of the billing preivew request.


            **Note:** The credit memo items are only available if you have Invoice Settlement feature enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.

            '
          items:
            $ref: '#/components/schemas/POSTBillingPreviewCreditMemoItem'
          type: array
        invoiceItems:
          description: 'An array of invoice items returned as the result of the billing preview request.

            '
          items:
            $ref: '#/components/schemas/POSTBillingPreviewInvoiceItem'
          type: array
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    POSTInvoiceCollectCreditMemosType:
      properties:
        id:
          description: 'The ID of the credit memo.

            '
          type: string
        memoAmount:
          description: 'The amount of the credit memo.

            '
          format: decimal
          type: string
        memoNumber:
          description: 'The unique identification number of the credit memo.

            '
          type: string
      title: creditMemos
      type: object
    POSTInvoiceCollectType:
      example:
        accountKey: 4028925a4cb74ec9014cb7520fc00005
        invoiceId: 4028925a4cb74ec9014cb7540988002e
        paymentGateway: TestGateway
      properties:
        accountKey:
          description: 'Customer account ID or account number.

            '
          type: string
        documentDate:
          description: "The date that should appear on the invoice and credit memo being generated,\nin `yyyy-mm-dd` format. If this field is omitted\nand `invoiceId` is not specified, the current date is used by default. \n\n\n**Note:** The credit memo is only available if you have the Invoice Settlement feature enabled.\n\n\nThis field is in Zuora REST API version control. Supported minor\nversions are `215.0` and later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). To use this field in the method, you\nmust set the  `zuora-version` parameter to the minor version number in\nthe request header.\n"
          format: date
          type: string
        invoiceDate:
          description: "**Note:** This field has been replaced by the `documentDate` field in Zuora REST API version `215.0` and later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). The\n`invoiceDate` field is only available for backward\ncompatibility.\n\nThe date that should appear on the invoice being generated,\nin `yyyy-mm-dd` format. If this field is omitted\nand `invoiceId` is not specified, the current date is used by default. \n\nThis field is in Zuora REST API version control. Supported minor\nversions are `214.0` and earlier [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version).\n"
          format: date
          type: string
        invoiceId:
          description: "The ID of an existing invoice for which to collect payment using\nthe account's default payment method. If this value is specified, no new\ninvoice is generated, and the following fields are ignored:\n  - `invoiceDate` and `invoiceTargetDate` (if the Zuora REST API version is 214.0 or earlier)\n  - `documentDate` and `targetDate` (if the Zuora REST API version is 215.0 or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version))\n"
          type: string
        invoiceNumber:
          description: "The number of an existing invoice for which to collect payment using\nthe account's default payment method. If this value is specified, no new\ninvoice is generated, and the following fields are ignored:\n  - `invoiceDate` and `invoiceTargetDate` (if the Zuora REST API version is 214.0 or earlier)\n  - `documentDate` and `targetDate` (if the Zuora REST API version is 215.0 or later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version))\n"
          type: string
        invoiceTargetDate:
          description: "**Note:** This field has been replaced by the `targetDate` field in Zuora REST API version `215.0` and later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). The\n`invoiceTargetDate` field is only available for backward\ncompatibility.\n\n\nThe date through which to calculate charges on this account if an invoice is generated, in `yyyy-mm-dd` format. If this field is omitted\nand `invoiceId` is not specified, the current date is used by default. \n\n\nThis field is in Zuora REST API version control. Supported minor\nversions are `214.0` and earlier [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version).  \n"
          format: date
          type: string
        paymentGateway:
          description: 'The name of the gateway that will be used for the payment. Must be a valid gateway name and the gateway must support the specific payment method. If a value is not specified, the default gateway on the Account will be used.

            '
          type: string
        targetDate:
          description: "The date through which to calculate charges on this account if an invoice or a credit memo is generated, \nin `yyyy-mm-dd` format. If this field is omitted\nand `invoiceId` is not specified, the current date is used by default. \n\n\n**Note:** The credit memo is only available if you have the Invoice Settlement feature enabled.\n\n\nThis field is in Zuora REST API version control. Supported minor\nversions are `215.0` and later [available versions](/api-references/api/overview/#section/API-Versions/Minor-Version). To use this field in the method, you\nmust set the  `zuora-version` parameter to the minor version number in\nthe request header.\n"
          format: date
          type: string
      required:
      - accountKey
      type: object
    PostBillingPreviewParam:
      example:
        accountNumber: A00000001
        assumeRenewal: None
        chargeTypeToExclude: ''
        includingEvergreenSubscription: 'true'
        targetDate: '2017-05-10'
      properties:
        accountId:
          description: 'The ID of the customer account to which the billing preview applies.


            **Note**: When posting billing preview, you must specify either `accountId` or `accountNumber` in the request body.

            '
          maxLength: 255
          type: string
        accountNumber:
          description: 'The number of the customer account to which the billing preview applies.


            **Note**: When posting billing preview, you must specify either `accountId` or `accountNumber` in the request body.

            '
          type: string
        assumeRenewal:
          description: "Indicates whether to generate a preview of future invoice items and credit memo items with the assumption that the subscriptions are renewed.\n\nSet one of the following values in this field to decide how the assumption is applied in the billing preview.\n\n  * **All:** The assumption is applied to all the subscriptions. Zuora generates preview invoice item data and credit memo item data from the first day of the customer's next billing period to the target date.\n  \n  * **None:** (Default) The assumption is not applied to the subscriptions. Zuora generates preview invoice item data and credit memo item data based on the current term end date and the target date.\n  \n    * If the target date is later than the current term end date, Zuora generates preview invoice item data and credit memo item data from the first day of the customer's next billing period to the current term end date.\n\n    * If the target date is earlier than the current term end date, Zuora generates preview invoice item data and credit memo item data from the first day of the customer's next billing period to the target date.\n\n  * **Autorenew:** The assumption is applied to the subscriptions that have auto-renew enabled. Zuora generates preview invoice item data and credit memo item data from the first day of the customer's next billing period to the target date.\n\n**Note:** \n  - This field can only be used if the subscription renewal term is not set to 0.  \n  \n  \n  - The credit memo item data is only available if you have Invoice Settlement feature enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.\n"
          type: string
        chargeTypeToExclude:
          description: 'The charge types to exclude from the billing preview.


            **Possible values:** OneTime, Recurring, Usage, and any combination of these values.

            '
          type: string
        includingDraftItems:
          description: "Whether draft document items are included in the billing preview run. By default, draft document items are not included.\n\nThis field loads draft invoice items and credit memo items. The `chargeTypeToExclude`, `targetDate`, `includingEvergreenSubscription`, and `assumeRenewal` fields do not affect the behavior of the `includingDraftItems` field.          \n"
          type: boolean
        includingEvergreenSubscription:
          description: 'Indicates if evergreen subscriptions are included in the billingPreview call.

            '
          type: boolean
        targetDate:
          description: "The target date for the billingPreview call. The billingPreview call generates preview invoice item data and credit memo item data from the first day of the customer's next billing period to the TargetDate. \n\nIf the TargetDate is later than the subscription current term end date, the preview invoice item data and credit memo item data is generated from the first day of the customer's next billing period to the current term end date. If you want to generate preview invoice item data and credit memo item data past the end of the subscription current term, specify the `AssumeRenewal` field in the request.\n\n\n**Note:** The credit memo item data is only available if you have Invoice Settlement feature enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see [Invoice Settlement Enablement and Checklist Guide](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/Invoice_Settlement/Invoice_Settlement_Migration_Checklist_and_Guide) for more information.\n"
          format: date
          type: string
      required:
      - targetDate
      type: object
    POSTInvoiceCollectInvoicesType:
      properties:
        invoiceAmount:
          description: 'The amount of the invoice.

            '
          format: decimal
          type: string
        invoiceId:
          description: 'The ID of the invoice.

            '
          type: string
        invoiceNumber:
          description: 'The unique identification number of the invoice.

            '
          type: string
      title: invoices
      type: object
    GetOperationJobResponseType:
      properties:
        id:
          description: 'The ID of the operation job to retrieve information about.

            '
          type: string
        objectId:
          description: 'The ID of the business object which is being operated.

            '
          type: string
        objectType:
          description: "The object type of the job. \n"
          enum:
          - Invoice
          type: string
        operationType:
          description: 'The operation type of the job.

            '
          enum:
          - Delete
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of the response.

                  '
                type: string
              message:
                description: 'The detail information of the error response.

                  '
                type: string
            type: object
          type: array
        status:
          description: "The status of the operation job. \n"
          enum:
          - Pending
          - Processing
          - Failed
          - Completed
          type: string
        success:
          description: 'Whether the call succeeded.

            '
          type: boolean
      type: object
    POSTBillingPreviewInvoiceItem:
      properties:
        appliedToItemId:
          description: 'The unique ID of the invoice item that the discount charge is applied to.

            '
          type: string
        chargeAmount:
          description: 'The amount of the charge. This amount doesn''t include taxes regardless if the charge''s tax mode is inclusive or exclusive.

            '
          format: decimal
          type: string
        chargeDate:
          description: 'The date when the invoice item was created.

            '
          format: date-time
          type: string
        chargeDescription:
          description: 'Description of the charge.

            '
          type: string
        chargeId:
          description: 'Id of the charge.

            '
          type: string
        chargeName:
          description: 'Name of the charge.

            '
          type: string
        chargeNumber:
          description: 'Number of the charge.

            '
          type: string
        chargeType:
          description: "The type of charge. \n\nPossible values are `OneTime`, `Recurring`, and `Usage`.\n"
          type: string
        id:
          description: 'Invoice item ID.

            '
          type: string
        numberOfDeliveries:
          description: "The number of deliveries dedicated to the Delivery Pricing charges. The value might be different, as follows:\n\n**Note**: This field is available only if you have the Delivery Pricing feature enabled.  \n"
        processingType:
          description: "Identifies the kind of charge. \n\nPossible values:\n* charge\n* discount\n* prepayment\n* tax\n"
          type: string
        productName:
          description: 'Name of the product associated with this item.

            '
          type: string
        quantity:
          description: 'Quantity of this item, in the configured unit of measure for the charge.

            '
          format: decimal
          type: string
        serviceEndDate:
          description: 'End date of the service period for this item, i.e., the last day of the service period, in `yyyy-mm-dd` format.

            '
          format: date
          type: string
        serviceStartDate:
          description: 'Start date of the service period for this item, in `yyyy-mm-dd` format. If the charge is a one-time fee, this is the date of that charge.

            '
          format: date
          type: string
        subscriptionId:
          description: 'ID of the subscription associated with this item.

            '
          type: string
        subscriptionName:
          description: 'Name of the subscription associated with this item.

            '
          type: string
        subscriptionNumber:
          description: 'Number of the subscription associated with this item.

            '
          type: string
        taxAmount:
          description: "If you use [Zuora Tax](https://knowledgecenter.zuora.com/Billing/Taxes/A_Zuora_Tax) and the product rate plan charge associated with the invoice item is of [tax inclusive mode](https://knowledgecenter.zuora.com/Billing/Taxes/A_Zuora_Tax/D_Associate_tax_codes_with_product_charges_and_set_the_tax_mode), the value of this field is the amount of tax applied to the charge. Otherwise, the value of this field is `0`. \n"
          format: decimal
          type: string
        unitOfMeasure:
          description: 'Unit used to measure consumption.

            '
          type: string
      title: invoiceItems
      type: object
    POSTInvoiceCollectResponseType:
      properties:
        amountCollected:
          description: 'Payment amount applied.

            '
          format: decimal
          type: string
        creditMemos:
          description: 'Information on one or more credit memos associated with this operation.

            '
          items:
            $ref: '#/components/schemas/POSTInvoiceCollectCreditMemosType'
          type: array
        invoices:
          description: 'Information on one or more invoices associated with this operation.

            '
          items:
            $ref: '#/components/schemas/POSTInvoiceCollectInvoicesType'
          type: array
        paymentId:
          description: 'Payment ID.

            '
          type: string
        success:
          description: 'Returns `true` if the request was processed successfully.

            '
          type: boolean
      type: object
    POSTBillingPreviewCreditMemoItem:
      properties:
        amount:
          description: 'The amount of the credit memo item. For tax-inclusive credit memo items, the amount indicates the credit memo item amount including tax. For tax-exclusive credit memo items, the amount indicates the credit memo item amount excluding tax

            '
          format: double
          type: number
        amountWithoutTax:
          description: 'The credit memo item amount excluding tax.

            '
          format: double
          type: number
        appliedToItemId:
          description: 'The unique ID of the credit memo item that the discount charge is applied to.

            '
          type: string
        chargeDate:
          description: 'The date when the credit memo item is created.

            '
          format: date-time
          type: string
        chargeNumber:
          description: 'Number of the charge.

            '
          type: string
        chargeType:
          description: "The type of charge. \n\nPossible values are `OneTime`, `Recurring`, and `Usage`.\n"
          type: string
        comment:
          description: 'Comment of the credit memo item.

            '
          type: string
        id:
          description: 'Credit memo item id.

            '
          type: string
        numberOfDeliveries:
          description: "The number of deliveries dedicated to the Delivery Pricing charges. The value might be different, as follows:\n\n**Note**: This field is available only if you have the Delivery Pricing feature enabled.      \n"
        processingType:
          description: "Identifies the kind of charge. \n\nPossible values:\n* charge\n* discount\n* prepayment\n* tax\n"
          type: string
        quantity:
          description: 'Quantity of this item, in the configured unit of measure for the charge.

            '
          format: decimal
          type: string
        ratePlanChargeId:
          description: 'Id of the rate plan charge associated with this item.

            '
          type: string
        serviceEndDate:
          description: 'End date of the service period for this item, i.e., the last day of the service period, in yyyy-mm-dd format.

            '
          format: date
          type: string
        serviceStartDate:
          description: 'Start date of the service period for this item, in yyyy-mm-dd format. If the charge is a one-time fee, this is the date of that charge.

            '
          format: date
          type: string
        sku:
          description: 'Unique SKU for the product associated with this item.

            '
          type: string
        skuName:
          description: 'Name of the unique SKU for the product associated with this item.

            '
          type: string
        subscriptionId:
          description: 'ID of the subscription associated with this item.

            '
          type: string
        subscriptionNumber:
          description: 'Name of the subscription associated with this item.

            '
          type: string
        unitOfMeasure:
          description: 'Unit used to measure consumption.

            '
          type: string
      title: creditMemoItems
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
