openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Aggregate Queries API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Aggregate Queries
  description: The Aggregate Query API (AQuA) is a REST API that executes multiple Export ZOQL or ZOQL queries.
paths:
  /v1/batch-query/:
    post:
      operationId: POST_BatchQueryJob
      summary: Submit an aggregate query job
      description: Submits an AQuA job that contains an aggregated list of ZOQL and Export ZOQL queries.
      tags:
      - Aggregate Queries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitBatchQueryResponse'
              example:
                sourceData: LIVE
                encrypted: none
                partner: salesforce
                useLastCompletedJobQueries: false
                project: 00170000011k3ub
                batches:
                - localizedStatus: pending
                  apiVersion: '91.0'
                  full: false
                  recordCount: 0
                  batchId: 2c92c0f966cd4f580166ec0ac8a75bb8
                  batchType: zoqlexport
                  status: pending
                  name: AccountingPeriod
                  query: select Id,StartDate,EndDate,FiscalYear,Name,Status from AccountingPeriod
                status: submitted
                name: Example
                id: 2c92c0f966cd4f580166ec0ac89d5bb7
                version: '1.1'
                format: CSV
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitBatchQueryRequest'
        required: true
  /v1/batch-query/jobs/{jobid}:
    get:
      operationId: GET_BatchQueryJob
      summary: Retrieve an aggregate query job
      description: 'Retrieves an aggregate query using the Job ID.


        Note that the completed AQuA jobs that were created 180 days ago are deleted permanently from Zuora, so you cannot query these jobs through API or AQuA job finder.'
      tags:
      - Aggregate Queries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: jobid
        in: path
        required: true
        description: 'Internal identifier of the query job.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAggregateQueryJobResponse'
              example:
                batches:
                - full: true
                  name: AccountingPeriod
                  message: ''
                  query: select Id,StartDate,EndDate,FiscalYear,Name,Status from AccountingPeriod
                  status: completed
                  recordCount: 1
                  apiVersion: '60.0'
                  fileId: 402881824835bb2a01483c19f8190259
                  batchType: zoqlexport
                  batchId: 402881824835bb2a01483c19f7da0257
                project: 00170000011K3Ub
                partner: salesforce
                name: Example
                id: 402881824835bb2a01483c19f7d70256
                version: '1.1'
                format: CSV
                sourceData: LIVE
                startTime: '2014-09-03 08:20:07'
                status: completed
                encrypted: none
    delete:
      operationId: DELETE_BatchQueryJob
      summary: Cancel a running aggregate query job
      description: Cancels the current AQuA job, only if the job is not complete. If the job is complete, an error is thrown.
      tags:
      - Aggregate Queries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: jobid
        in: path
        required: true
        description: 'Internal identifier of the query job.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBatchQueryJobResponse'
              example:
                name: June10
                id: e20b07474688ad5001468daf10e501de
                version: '1.1'
                format: CSV
                sourceData: LIVE
                status: cancelled
                batches:
                - name: InvoiceItemAdjustment
                  message: ''
                  query: select AccountingCode,CancelledDate,CreatedDate,Id,InvoiceId,InvoiceItemName, InvoiceNumber,SourceType,AdjustmentNumber,ServiceStartDate,ServiceEndDate,AdjustmentDate, Amount,Status,AccountId,SourceId,Type,ReasonCode, UpdatedDate  from  InvoiceItemAdjustment
                  status: completed
                  recordCount: 1580
                  fileId: e20b07474688ad5001468daf155f01f5
                  batchId: e20b07474688ad5001468daf10ea01df
                  batchType: zoqlexport
                - name: InvoiceAdjustment
                  message: ''
                  query: select AccountingCode,CancelledOn,CreatedDate,Id,ImpactAmount,Invoice.Id, InvoiceNumber,AdjustmentNumber,AdjustmentDate,Amount,Status,Account.Id,Type,ReasonCode, UpdatedDate  from  InvoiceAdjustment
                  status: completed
                  recordCount: 411
                  fileId: e20b07474688ad5001468daf166601f6
                  batchId: e20b07474688ad5001468daf10ec01e0
                  batchType: zoqlexport
                encrypted: none
  /v1/batch-query/jobs/partner/{partner}/project/{project}:
    get:
      operationId: GET_LastBatchQueryJob
      summary: Retrieve the last completed aggregate query job
      description: 'Returns the details of the last completed job.


        The completed AQuA jobs that were created 180 days ago are deleted permanently from Zuora, so you cannot query these jobs through API or AQuA job finder.'
      tags:
      - Aggregate Queries
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: partner
        in: path
        required: true
        description: "The unique ID of a data integration partner. \n"
        schema:
          type: string
      - name: project
        in: path
        required: true
        description: 'The unique ID of a data integration project for a particular partner.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAggregateQueryJobResponse'
              example:
                batches:
                - full: false
                  name: AccountingPeriod
                  message: ''
                  query: select Id,StartDate,EndDate,FiscalYear,Name,Status from AccountingPeriod
                  status: completed
                  recordCount: 0
                  apiVersion: '60.0'
                  fileId: 402881824835bb2a01483c1e67c7025d
                  batchType: zoqlexport
                  batchId: 402881824835bb2a01483c1e678c025b
                project: 00170000011K3Ub
                partner: salesforce
                name: Example
                id: 402881824835bb2a01483c1e678a025a
                version: '1.1'
                format: CSV
                sourceData: LIVE
                startTime: '2014-09-03 08:24:58'
                status: completed
                encrypted: none
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Authorization_OAuth:
      name: Authorization
      in: header
      required: true
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
  schemas:
    BatchesQueries:
      properties:
        apiVersion:
          description: 'The API version for the query. If an API version is not specified, the latest version is used by default. Using the latest WSDL version is most useful for reporting use cases. For integration purposes, specify the WSDL version to ensure consistent query behavior, that is, what is supported and included in the response returned by the API.


            **Note**: As of API version 69 and later, Zuora changed the format of certain fields. See <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/G_SOAP_API/AB_Getting_started_with_the__SOAP_API/C_Date_Field_Changes_in_the_SOAP_API" target="_blank">Date Field Changes in the SOAP API</a> for more information and a list of affected fields.

            '
          type: string
        batchId:
          description: 'A 32-character ID of the query batch.

            '
          type: string
        batchType:
          description: 'The kind of batch job being submitted.

            '
          enum:
          - zoql
          - zoqlexport
          type: string
        deleted:
          description: 'This field indicates that the AQuA incremental load will retrieve deleted records.


            **Note**: AQuA API is subject to Zuora Data Retention Policy. The retention period of deleted data is 30 days. You can only retrieve deleted data for 30 days through AQuA.

            '
          items:
            properties:
              column:
                description: "Name of the Column in the extracted file that points to the deleted records. \n"
                type: string
              format:
                description: "Can be set to either `Numeric` or `Boolean`. If set to `Numeric`, deleted records are marked as `1`. If set to `Boolean`, deleted records are marked as `true`.          \n"
                type: string
            title: deletedRecord
            type: object
          type: array
        full:
          description: "This field indicates a full or incremental load. `True` = Full and `False` = Incremental.          \n"
          type: boolean
        name:
          description: 'Name of the query supplied in the request.

            '
          type: string
        query:
          description: 'The requested query string.

            '
          type: string
        recordCount:
          description: 'The number of records included in the query output file.

            '
          type: string
        status:
          description: 'The status of the query task:

            - submitted: The query was submitted to the query executor for processing.

            - pending: The query was waiting for being processed.

            - executing: The query is being processed.

            - completed: The query was successfully executed.

            - aborted: The query execution failed.

            - deleted_notallowed: The query execution failed because objects included in the query do not support the querying of deleted records.

            '
          enum:
          - submitted
          - pending
          - executing
          - completed
          - aborted
          - deleted_notallowed
          type: string
      title: batch
    BatchQueries:
      properties:
        batchId:
          description: 'A 32-character ID of the query batch.

            '
          type: string
        batchType:
          description: "The kind of batch job being submitted.              \n"
          enum:
          - zoql
          - zoqlexport
          type: string
        fileId:
          description: 'The ID of the query results file.


            Use Get Results Files to download the query results file. The query results file is formatted as requested in the batch job. Supported formats are CSV, GZIP, and ZIP.

            '
          type: string
        message:
          description: 'The error message.

            '
          maximum: 2048
          type: string
        name:
          description: 'Name of the query supplied in the request.

            '
          type: string
        query:
          description: 'The requested query string.

            '
          type: string
        recordCount:
          description: 'The number of records included in the query output file.

            '
          type: string
        segments:
          description: 'Array of IDs of query results files. Replaces fileId for full data loads in stateful mode if <a href = "https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/G_File_Segmentation" target="_blank">File Segmentation</a> is enabled.


            Use Get Results Files to download each query results file. Each query results file contains at most 500,000 records and is formatted as requested in the batch job. Supported formats are CSV, GZIP, and ZIP.

            '
          type: array
        status:
          description: 'The status of the query task:

            - submitted: The query was submitted to the query executor for processing.

            - pending: The query was waiting for being processed.

            - executing: The query is being processed.

            - completed: The query was successfully executed.

            - aborted: The query execution failed.

            - deleted_notallowed: The query execution failed because objects included in the query do not support the querying of deleted records.

            '
          enum:
          - submitted
          - pending
          - executing
          - completed
          - aborted
          - deleted_notallowed
          type: string
      title: batch
    SubmitBatchQueryRequest:
      example:
        dateTimeUtc: 'true'
        encrypted: none
        format: csv
        name: Example
        partner: salesforce
        project: 00170000011K3Ub
        queries:
        - name: AccountingPeriod
          query: select Id,StartDate,EndDate,FiscalYear,Name,Status from AccountingPeriod
          type: zoqlexport
        sourceData: LIVE
        useQueryLabels: 'true'
        version: '1.1'
      properties:
        dateTimeUtc:
          description: 'When using WSDL 69 and later you can ensure that the exported output of dateTime records are rendered according to ISO-8601 generic UTC form by setting `dateTimeUtc` to `true`.


            When `dateTimeUtc` is set to `true`, exports of dateTime data types will be rendered in the following generic format: `YYYY-MM-DDThh:mm:ss-hhmm` or `YYYY-MM-DDThh:mm:ss+hhmm`.


            **Note**: Regardless of what batchType query is used (`zoql` or `zoqlexport`), the query response output for datetime data types can be standardized by setting dateTimeUtc to `true`. When `true`, the results will display datetime types with the format: YYYY-MM-DDThh:mm:ss+/-hhmm.

            '
          type: boolean
        format:
          description: 'The format of the query. The default value is `csv`.

            '
          enum:
          - csv
          - zip
          - gzip
          type: string
        incrementalTime:
          description: 'Allows you to override the time from which a Stateful AQuA job incrementally retrieves records that have been created or modified, using the `incrementalTime` parameter. For example, if you set `incrementalTime` = `2015-01-21 10:30:01`, AQuA will retrieve records that have created or modified beginning at 10:30:01. If this parameter is not set, AQuA continues to use the Start Time of the last AQuA session to retrieve records incrementally.


            The time zone of `incrementalTime` depends on which Zuora data center you use. For US Data Center customers, the time zone of `incrementalTime` is Pacific Time. For EU Data Center customers, the time zone of `incrementalTime` is UTC. If the time zone of your system is different from the time zone of `incrementalTime`, you will need to convert to the appropriate time zone before setting `incrementalTime`.


            **Note**: This field can only be used in Stateful AQuA mode.

            '
          format: dateTime
          type: string
        name:
          description: 'The name of the job. 32 character limit.

            '
          type: string
        notifyUrl:
          description: "If URL is provided, the AQuA job will call this `notifyUrl` once the job has completed. The value of `notifyUrl` needs to have `${JOBID}` and `${STATUS}` placeholders. These placeholders will be replaced by the actual job ID and status when returned in the response. Status will be `Completed` after the AQuA job is done.\n\nIf you submit an AQuA query with `notifyUrl` specified, the value of `notifyUrl` will be ignored if your organization has already <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/Callout_Notification_for_Completed_AQuA_Jobs\" target=\"_blank\">configured a callout notification through the Zuora user interface</a>. \n"
          type: string
        nullReplacement:
          description: 'The string used to represent null values in the query results. If you do not set this parameter, null values are represented by the empty string in the query results.

            '
          type: string
        offset:
          default: 0
          description: "This field specifies the time offset for AQuA queries in stateful mode. It is an integer in the range 0 to 3,600 seconds.\n\nFor example, if you set this field to 600 seconds and you post a query in stateful mode at 2:00 AM, it will query against data created or updated between the completion time of the previous query and 1:50 AM.\n\nThe value of this field will override the value you configured in **Settings** > **Administration** > **AQuA API Stateful Mode Time Offset**.        \n"
          format: integer
          type: number
        partner:
          description: "The partner field indicates the unique ID of a data integration partner. The dropdown list of this field displays partner IDs for the past thirty days.\nIt must be used together with \"project\" field to uniquely identify a data integration target.\n\nFor example, if a continuous AQuA session is to retrieve data incrementally for a Salesforce.com Org 00170000011K3Ub, you can use partner as \"Salesforce\", and \"project\" as \"00170000011K3Ub.\" \nThis field is required only if you are using AQuA in stateful mode. Otherwise, if you are using AQuA in stateless mode, partner field can be null.\n\n**Note**: Zuora highly recommends you use the stateless mode instead of the stateful mode to extract bulk data. See <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/Bulk_data__extraction_from_Zuora_using_AQuA\" target=\"_blank\">Bulk data extraction from Zuora using AQuA</a> for best practices.\n**Note**: Submit a request at <a href=\"http://support.zuora.com\" target=\"_blank\">Zuora Global Support</a> to obtain a partner ID.\n"
          type: string
        project:
          description: "The project field contains the unique ID of a data integration project for a particular partner. The dropdown list of this field displays project IDs for the past thirty days.\n\nThis field must be used together with partner field to uniquely identify a data integration target. \n\nThis field is required only if you are using AQuA in stateful mode. Otherwise, if you are using AQuA in stateless mode, partner field can be null.\n"
          type: string
        queries:
          description: 'A JSON array object that contains a list of batch objects.

            '
          items:
            $ref: '#/components/schemas/BatchQuery'
          required:
          - name
          - query
          type: array
        sourceData:
          description: 'Specify the source this aggregate query runs against:


            * `LIVE` represents the live transactional databases at Zuora (Data Query Live).


            * `WAREHOUSE` represents Zuora Warehouse, which has better performance and fewer limitations than the live transactional database. This option is available only if you have the Zuora Warehouse feature enabled in your tenant. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Zuora_Warehouse/A_Zuora_Warehouse_overview" target="_blank">Zuora Warehouse</a>. <br>If this option is selected, you can specify warehouse size in `warehouseSize`.


            If this field is not specified, the default value `LIVE` will be used.

            '
          enum:
          - LIVE
          - WAREHOUSE
          type: string
        useQueryLabels:
          description: "When this optional flag is set to `true` the request will use object and field API names for the CSV header output instead of the field labels. Data integration projects should set `useQueryLabels` to `true` so that API names remain the same.\n\nBy default `useQueryLabels` is `false`, so that output CSV headers display the more user-friendly object and field labels. \n"
          type: boolean
        version:
          description: "The API version you want to use. \n\nThe supported versions are as follows:\n  - `1.1`. It supports both modes\n  - `1.0`. Default. It supports stateless modes only.\n\nSee <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/BA_Stateless_and_Stateful_Modes\" target=\"_blank\">Stateless and stateful modes</a> for more information.\n"
          format: float
          type: number
        warehouseSize:
          description: 'Specify the size of Zuora Warehouse. This field is available only if the `sourceData` is `WAREHOUSE`.


            If this field is not specified or set to `NULL`, the default value `xsmall` will be used.

            '
          enum:
          - xsmall
          - 'NULL'
          type: string
      type: object
    SubmitBatchQueryResponse:
      properties:
        batches:
          description: 'A JSON array object that contains a list of batch objects.

            '
          items:
            $ref: '#/components/schemas/BatchesQueries'
          required:
          - name
          - query
          - status
          - batchId
          - batchType
          type: array
        encrypted:
          description: "If enabled, you must supply the formatting (zip or unzip) first and decrypt it to get the actual contents.      \n"
          enum:
          - pgp
          - none
          type: string
        format:
          description: 'The format of the query. The default value is `csv`.

            '
          enum:
          - csv
          - zip
          - gzip
          type: string
        id:
          description: "The job ID created for the AQuA API request. The job ID can be used for querying for the query status. \n\nThe ID exists only if the JSON request can be parsed and validated successfully. Otherwise, the job ID is null.\n"
          type: string
        incrementalTime:
          description: "Allows you to override the time from which a Stateful AQuA job incrementally retrieves records that have been created or modified, using the `incrementalTime` parameter. For example, if you set `incrementalTime` = `2015-01-21 10:30:01`, AQuA will retrieve records that have created or modified beginning at 10:30:01. If this parameter is not set, AQuA continues to use the Start Time of the last AQuA session to retrieve records incrementally.\n\nThe time zone of `incrementalTime` depends on which Zuora data center you use. For US Data Center customers, the time zone of `incrementalTime` is Pacific Time. For EU Data Center customers, the time zone of `incrementalTime` is UTC. If the time zone of your system is different from the time zone of `incrementalTime`, you will need to convert to the appropriate time zone before setting `incrementalTime`.\n\n**Note**: This field can only be used in Stateful AQuA mode.    \n"
          format: dateTime
          type: string
        name:
          description: 'The name of the job. 32 character limit.

            '
          type: string
        notifyUrl:
          description: "If URL is provided, the AQuA job will call this `notifyUrl` once the job has completed. The value of `notifyUrl` needs to have `${JOBID}` and `${STATUS}` placeholders. These placeholders will be replaced by the actual job ID and status when returned in the response. Status will be `Completed` after the AQuA job is done.\n\nIf you submit an AQuA query with `notifyUrl` specified, the value of `notifyUrl` will be ignored if your organization has already <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/Callout_Notification_for_Completed_AQuA_Jobs\" target=\"_blank\">configured a callout notification through the Zuora user interface</a>.           \n"
          type: string
        offset:
          default: 0
          description: "This field specifies the time offset for AQuA queries in stateful mode. It is an integer in the range 0 to 3,600 seconds.\n\nFor example, if you set this field to 600 seconds and you post a query in stateful mode at 2:00 AM, it will query against data created or updated between the completion time of the previous query and 1:50 AM.\n\nThe value of this field will override the value you configured in **Settings** > **Administration** > **AQuA API Stateful Mode Time Offset**.    \n"
          format: integer
          type: number
        partner:
          description: "The partner field indicates the unique ID of a data integration partner. The dropdown list of this field displays partner IDs for the past thirty days.\n\nIt must be used together with \"project\" field to uniquely identify a data integration target.\n\nFor example, if a continuous AQuA session is to retrieve data incrementally for a Salesforce.com Org 00170000011K3Ub, you can use partner as \"Salesforce\", and \"project\" as \"00170000011K3Ub.\" \n\nThis field is required only if you are using AQuA in stateful mode. Otherwise, if you are using AQuA in stateless mode, partner field can be null.\n\n**Note**: Zuora highly recommends you use the stateless mode instead of the stateful mode to extract bulk data. See <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/Bulk_data__extraction_from_Zuora_using_AQuA\" target=\"_blank\">Bulk data extraction from Zuora using AQuA</a> for best practices.\n\n**Note**: Submit a request at <a href=\"http://support.zuora.com\" target=\"_blank\">Zuora Global Support</a> to obtain a partner ID.\n"
          type: string
        project:
          description: "The project field contains the unique ID of a data integration project for a particular partner. The dropdown list of this field displays project IDs for the past thirty days.\n\nThis field must be used together with partner field to uniquely identify a data integration target. \n\nThis field is required only if you are using AQuA in stateful mode. Otherwise, if you are using AQuA in stateless mode, partner field can be null.\n"
          type: string
        sourceData:
          description: 'Indicates the source this aggregate query runs against:


            * `LIVE` represents the live transactional databases at Zuora (Data Query Live).


            * `WAREHOUSE` represents Zuora Warehouse, which has better performance and fewer limitations than the live transactional database. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Zuora_Warehouse/A_Zuora_Warehouse_overview" target="_blank">Zuora Warehouse</a>.

            '
          type: string
        status:
          description: 'The status of the AQuA job:

            - submitted: The AQuA job was submitted to the query executor for processing.

            - executing: The AQuA job is being processed.

            - completed: The AQuA job was successfully executed.

            - error: The AQuA job was not processed because of validation errors.

            - aborted: The AQuA job execution failed because one or more queries of this job failed.

            - cancelled: The AQuA job was cancelled.

            '
          enum:
          - submitted
          - executing
          - completed
          - error
          - aborted
          - cancelled
          type: string
        useLastCompletedJobQueries:
          description: 'If this flag is set to `true`, then all the previous queries are merged with existing queries.


            If the flag is set to `false`, then the previous queries are ignored, and only the new query is executed.

            '
          type: boolean
        version:
          description: "The API version you want to use. \n\nThe supported versions are as follows:\n  - `1.1`. It supports both modes\n  - `1.0`. Default. It supports stateless modes only.\n\nSee <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/BA_Stateless_and_Stateful_Modes\" target=\"_blank\">Stateless and stateful modes</a> for more information.\n"
          format: float
          type: number
      type: object
    GetAggregateQueryJobResponse:
      properties:
        batches:
          description: 'A JSON array object that contains a list of batch objects.

            '
          items:
            $ref: '#/components/schemas/BatchesQueriesById'
          required:
          - name
          - query
          - status
          - batchId
          - batchType
          type: array
        encrypted:
          description: 'If enabled, you must supply the formatting (zip or unzip) first and decrypt it to get the actual contents.

            '
          enum:
          - pgp
          - none
          type: string
        format:
          description: 'The format of the query. The default value is `csv`.

            '
          enum:
          - csv
          - zip
          - gzip
          type: string
        id:
          description: "The job ID created for the AQuA API request. The job ID can be used for querying for the query status. \n\nThe ID exists only if the JSON request can be parsed and validated successfully. Otherwise, the job ID is null.\n"
          type: string
        name:
          description: 'The name of the job. 32 character limit.

            '
          type: string
        partner:
          description: "The partner field indicates the unique ID of a data integration partner. The dropdown list of this field displays partner IDs for the past thirty days.\n\nIt must be used together with \"project\" field to uniquely identify a data integration target.\n\nFor example, if a continuous AQuA session is to retrieve data incrementally for a Salesforce.com Org 00170000011K3Ub, you can use partner as \"Salesforce\", and \"project\" as \"00170000011K3Ub.\" \n\nThis field is required only if you are using AQuA in stateful mode. Otherwise, if you are using AQuA in stateless mode, partner field can be null.\n\n**Note**: Zuora highly recommends you use the stateless mode instead of the stateful mode to extract bulk data. See <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/Bulk_data__extraction_from_Zuora_using_AQuA\" target=\"_blank\">Bulk data extraction from Zuora using AQuA</a> for best practices.\n\n**Note**: Submit a request at <a href=\"http://support.zuora.com\" target=\"_blank\">Zuora Global Support</a> to obtain a partner ID.\n"
          type: string
        project:
          description: "The project field contains the unique ID of a data integration project for a particular partner. The dropdown list of this field displays project IDs for the past thirty days.\n\nThis field must be used together with partner field to uniquely identify a data integration target. \n\nThis field is required only if you are using AQuA in stateful mode. Otherwise, if you are using AQuA in stateless mode, partner field can be null.\n"
          type: string
        sourceData:
          description: 'Indicates the source this aggregate query runs against:


            * `LIVE` represents the live transactional databases at Zuora (Data Query Live).


            * `WAREHOUSE` represents Zuora Warehouse, which has better performance and fewer limitations than the live transactional database. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Zuora_Warehouse/A_Zuora_Warehouse_overview" target="_blank">Zuora Warehouse</a>.

            '
          type: string
        startTime:
          description: "The start time of the query. \n"
          type: string
        status:
          description: 'The status of the AQuA job:

            - submitted: The AQuA job was submitted to the query executor for processing.

            - executing: The AQuA job is being processed.

            - completed: The AQuA job was successfully executed.

            - error: The AQuA job was not processed because of validation errors.

            - aborted: The AQuA job execution failed because one or more queries of this job failed.

            - cancelled: The AQuA job was cancelled.

            '
          enum:
          - submitted
          - executing
          - completed
          - error
          - aborted
          - cancelled
          type: string
        version:
          description: "The API version you want to use. \n\nThe supported versions are as follows:\n  - `1.1`. It supports both modes\n  - `1.0`. Default. It supports stateless modes only.\n\nSee <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/BA_Stateless_and_Stateful_Modes\" target=\"_blank\">Stateless and stateful modes</a> for more information.\n"
          format: float
          type: number
      type: object
    DeleteBatchQueryJobResponse:
      properties:
        batches:
          description: 'A JSON array object that contains a list of batch objects.

            '
          items:
            $ref: '#/components/schemas/BatchQueries'
          required:
          - name
          - query
          - status
          - batchId
          - batchType
          type: array
        format:
          description: 'The format of the query. The default value is `csv`.

            '
          enum:
          - csv
          - zip
          - gzip
          type: string
        id:
          description: "The job ID created for the AQuA API request. The job ID can be used for querying for the query status. \n\nThe ID exists only if the JSON request can be parsed and validated successfully. Otherwise, the job ID is null.\n"
          type: string
        name:
          description: 'The name of the job. 32 character limit.

            '
          type: string
        sourceData:
          description: 'Indicates the source this aggregate query runs against:


            * `LIVE` represents the live transactional databases at Zuora (Data Query Live).


            * `WAREHOUSE` represents Zuora Warehouse, which has better performance and fewer limitations than the live transactional database. For more information, see <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/Zuora_Warehouse/A_Zuora_Warehouse_overview" target="_blank">Zuora Warehouse</a>.

            '
          type: string
        status:
          description: 'The status of the AQuA job:

            - submitted: The AQuA job was submitted to the query executor for processing.

            - executing: The AQuA job is being processed.

            - completed: The AQuA job was successfully executed.

            - error: The AQuA job was not processed because of validation errors.

            - aborted: The AQuA job execution failed because one or more queries of this job failed.

            - cancelled: The AQuA job was cancelled.

            '
          enum:
          - submitted
          - executing
          - completed
          - error
          - aborted
          - cancelled
          type: string
        version:
          description: "The API version you want to use. \n\nThe supported versions are as follows:\n  - `1.1`. It supports both modes\n  - `1.0`. Default. It supports stateless modes only.\n\nSee <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/BA_Stateless_and_Stateful_Modes\" target=\"_blank\">Stateless and stateful modes</a> for more information.\n"
          format: float
          type: number
      type: object
    BatchQuery:
      properties:
        apiVersion:
          description: 'The API version for the query. If an API version is not specified, the latest version is used by default. Using the latest WSDL version is most useful for reporting use cases. For integration purposes, specify the WSDL version to ensure consistent query behavior, that is, what is supported and included in the response returned by the API.


            **Note**: As of API version 69 and later, Zuora changed the format of certain fields. See <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/G_SOAP_API/AB_Getting_started_with_the__SOAP_API/C_Date_Field_Changes_in_the_SOAP_API" target="_blank">Date Field Changes in the SOAP API</a> for more information and a list of affected fields.

            '
          type: string
        convertToCurrencies:
          description: 'The currencies that you want to convert transaction amounts into. You can specify any number of currencies. Specify the currencies using their <a href="https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/D_Currencies_and_Their_3-Letter_Codes" target="_blank">ISO currency codes</a> and separate each currency with a comma, for example, "EUR,GBP,JPY".


            See <a href="https://knowledgecenter.zuora.com/Zuora_Collect/Zuora_Finance/D_Finance_Settings/F_Foreign_Currency_Conversion/Foreign_Currency_Conversion_for_Data_Source_Exports#Creating_the_Data_Source_Export_Using_the_AQuA_API" target="_blank">Convert Transaction Amounts Into Any Currency</a> for more information and examples.


            To use this field, you must have <a href="https://knowledgecenter.zuora.com/Zuora_Collect/Zuora_Finance/D_Finance_Settings/F_Foreign_Currency_Conversion" target="_blank">Foreign Currency Conversion</a> enabled and you must be using API version 78 or later.

            '
          type: string
        deleted:
          description: 'This field indicates that the AQuA incremental load will retrieve deleted records.


            If you want to export deleted data, this field is required.


            **Note**: AQuA API is subject to Zuora Data Retention Policy. The retention period of deleted data is 30 days. You can only retrieve deleted data for 30 days through AQuA.

            '
          items:
            properties:
              column:
                description: "Name of the Column in the extracted file that points to the deleted records. \n"
                type: string
              format:
                description: 'Can be set to either `Numeric` or `Boolean`. If set to `Numeric`, deleted records are marked as `1`. If set to `Boolean`, deleted records are marked as `true`.

                  '
                type: string
            title: deletedRecord
            type: object
          type: array
        name:
          description: 'The query name that can uniquely identify the query in this API request.

            '
          type: string
        query:
          description: 'A valid ZOQL query or Export ZOQL query statement.

            '
          type: string
        type:
          description: 'The query type.

            '
          enum:
          - zoql
          - zoqlexport
          type: string
      title: query
    BatchesQueriesById:
      properties:
        apiVersion:
          description: 'The API version for the query. If an API version is not specified, the latest version is used by default. Using the latest WSDL version is most useful for reporting use cases. For integration purposes, specify the WSDL version to ensure consistent query behavior, that is, what is supported and included in the response returned by the API.


            **Note**: As of API version 69 and later, Zuora changed the format of certain fields. See <a href="https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/G_SOAP_API/AB_Getting_started_with_the__SOAP_API/C_Date_Field_Changes_in_the_SOAP_API" target="_blank">Date Field Changes in the SOAP API</a> for more information and a list of affected fields.

            '
          type: string
        batchId:
          description: 'A 32-character ID of the query batch.

            '
          type: string
        batchType:
          description: 'The kind of batch job being submitted.

            '
          enum:
          - zoql
          - zoqlexport
          type: string
        fileId:
          description: 'The ID of the query results file.


            Use Get Results Files to download the query results file. The query results file is formatted as requested in the batch job. Supported formats are CSV, GZIP, and ZIP.

            '
          type: string
        full:
          description: 'This field indicates a full or incremental load. `True` = Full and `False` = Incremental.

            '
          type: boolean
        message:
          description: 'The error message.

            '
          maximum: 2048
          type: string
        name:
          description: 'Name of the query supplied in the request.

            '
          type: string
        query:
          description: 'The requested query string.

            '
          type: string
        recordCount:
          description: 'The number of records included in the query output file.

            '
          type: string
        segments:
          description: 'Array of IDs of query results files. Replaces fileId for full data loads in stateful mode if <a href = "https://knowledgecenter.zuora.com/Zuora_Central_Platform/API/AB_Aggregate_Query_API/G_File_Segmentation" target="_blank">File Segmentation</a> is enabled.


            Use Get Results Files to download each query results file. Each query results file contains at most 500,000 records and is formatted as requested in the batch job. Supported formats are CSV, GZIP, and ZIP.

            '
          type: array
        status:
          description: 'The status of the query task:

            - submitted: The query was submitted to the query executor for processing.

            - pending: The query was waiting for being processed.

            - executing: The query is being processed.

            - completed: The query was successfully executed.

            - aborted: The query execution failed.

            - deleted_notallowed: The query execution failed because objects included in the query do not support the querying of deleted records.

            '
          enum:
          - submitted
          - pending
          - executing
          - completed
          - aborted
          - deleted_notallowed
          type: string
      title: batch
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
