openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Workflows API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Workflows
  description: 'A workflow is a sequence of tasks that are performed based on predefined logic. A workflow improves efficiency and reduces errors by automating a series of complex tasks that otherwise need to be performed manually and repetitively.


    For more information, see Workflow.'
paths:
  /workflows:
    get:
      summary: List workflows
      operationId: GET_Workflows
      description: 'Retrieves a list of workflow definitions available in your Zuora tenant.


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: callout_trigger
        in: query
        required: false
        description: 'If set to true, the operation retrieves workflows that have the callout trigger enabled. If set to false, the operation retrieves workflows that have the callout trigger disabled. If not specified, the operation will not use this filter.

          '
        schema:
          type: boolean
      - name: interval
        in: query
        required: false
        description: 'A CRON expession that specifies a schedule (for example, `0 0 * * *`). If specified, the operation retrieves the workflow that is run based on the specified schedule.

          '
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: 'If specified, the operation retrieves the workflow that is in the specified name.

          '
        schema:
          type: string
      - name: ondemand_trigger
        in: query
        required: false
        description: 'If set to true, the operation retrieves workflows that have the ondemand trigger enabled. If set to false, the operation retrieves workflows that have the ondemand trigger disabled. If not specified, the operation will not use this filter.

          '
        schema:
          type: boolean
      - name: scheduled_trigger
        in: query
        required: false
        description: 'If set to true, the operation retrieves workflows that have the scheduled trigger enabled. If set to false, the operation retrieves workflows that have the scheduled trigger disabled. If not specfied, the operation will not use this filter.

          '
        schema:
          type: boolean
      - name: page
        in: query
        required: false
        description: 'If you want to retrieve only the workflows on a specific page, you can specify the `page` number in the query.

          '
        schema:
          type: integer
          default: 1
      - name: page_length
        in: query
        required: false
        description: 'The number of workflows shown in a single call. If the `page` parameter is not specified, the operation will return only the first page of results. If there are multiple pages of results, use it with the `page` parameter to get the results on subsequent pages. The maximum value is 50.

          '
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkflowsResponse'
              example:
                data:
                - id: 48
                  interval: null
                  calloutTrigger: true
                  createdAt: '2019-05-31T14:52:38.171Z'
                  description: ''
                  name: New test workflow
                  ondemandTrigger: true
                  scheduledTrigger: false
                  timezone: null
                  status: Active
                  updatedAt: '2019-06-03T21:02:26.694Z'
                  active_version:
                    id: 49
                    description: ''
                    version: 0.0.1
                    type: Workflow::Setup
                    status: Active
                  latest_inactive_verisons:
                  - id: 50
                    name: test
                    description: ''
                    version: 0.0.2
                    type: Workflow::Setup
                    ondemandTrigger: true
                    calloutTrigger: true
                    scheduledTrigger: false
                    interval: ''
                    timezone: Sydney
                    createdAt: '2021-09-22T19:30:52.350Z'
                    updatedAt: '2021-09-22T19:30:52.350Z'
                    priority: Medium
                    status: Inactive
                  - id: 51
                    name: test
                    description: ''
                    version: 0.0.3
                    type: Workflow::Setup
                    ondemandTrigger: true
                    calloutTrigger: true
                    scheduledTrigger: false
                    interval: ''
                    timezone: Sydney
                    createdAt: '2021-09-22T19:30:52.350Z'
                    updatedAt: '2021-09-22T19:30:52.350Z'
                    priority: Medium
                    status: Inactive
                pagination:
                  page: 1
                  page_length: 1
                  next_page: https://rest.zuora.com/workflows?page=2&page_length=1
  /workflows/{workflow_id}:
    get:
      summary: Retrieve a workflow
      operationId: GET_Workflow
      description: 'Retrieves information about a specific workflow by its ID.


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_id
        in: path
        required: true
        description: 'The unique ID of a workflow definition. For example, 19080.

          '
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
              example:
                id: 2
                name: test
                description: ''
                ondemandTrigger: true
                calloutTrigger: true
                scheduledTrigger: false
                interval: ''
                timezone: Sydney
                createdAt: '2021-09-22T19:30:52.350Z'
                updatedAt: '2021-09-22T19:30:52.350Z'
                priority: Medium
                status: Active
                active_version:
                  id: 49
                  description: ''
                  version: 0.0.1
                  type: Workflow::Setup
                  status: Active
    delete:
      summary: Delete a workflow
      operationId: DELETE_Workflow
      description: 'Deletes a specific workflow by its ID.


        ### User Access Permission

        You must be assigned the **Workflow Manage Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_id
        in: path
        required: true
        description: 'The unique ID of a workflow definition. For example, 19080.

          '
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkflowSuccess'
              example:
                success: true
                id: 19080
        '404':
          description: The workflow for the given id does not exist
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkflowError'
              example:
                errors:
                - 'Invalid ID / Multiple objects returned - SchemaId: 2 InstanceId: 2 ObjectId: 19080'
    patch:
      summary: Update a workflow
      operationId: PATCH_UpdateWorkflow
      description: 'Updates a specific workflow by its ID, which allows you to configure the settings of a workflow via API.


        ### User Access Permission

        You must be assigned the **Workflow Manage Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - name: workflow_id
        in: path
        required: true
        description: 'The unique ID of a workflow definition. For example, 19080.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
              example:
                id: 2
                name: Bill Customers
                description: This is my special workflow! It bills everybody
                ondemandTrigger: true
                calloutTrigger: true
                scheduledTrigger: true
                interval: 0 0 /1 /1 * *
                timezone: Eastern Time (US & Canada)
                createdAt: '2021-03-24T19:52:37.254Z'
                updatedAt: '2021-04-05T18:35:52.781Z'
                priority: Low
                status: Inactive
                active_version:
                  id: 49
                  description: ''
                  version: 0.0.1
                  type: Workflow::Setup
                  status: Active
        '404':
          description: The workflow for the given id does not exist
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkflowError'
              example:
                errors:
                - 'Invalid ID / Multiple objects returned - SchemaId: 2 InstanceId: 2 ObjectId: 19080'
        '422':
          description: 'Bad Request for one of the following reasons:

            * The name or description fields are not strings.

            * The ondemand_trigger, callout_trigger, or scheduled_trigger fields are not booleans.

            * The timezone does not match one of the valid values in [this spread sheet](https://docs.google.com/spreadsheets/d/1skhepi-q5l9LyaMUPZjU_V9gzTphNMqNyV6ST5mygEo/edit?usp=sharing).

            * The priority is not one of High, Medium, or Low.

            * The status is not one of Active or Inactive.

            * The scheduled_trigger is set to true but a valid timezone and interval were not passed.

            '
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
              example:
                success: false
                reasons:
                - fieldName: status
                  title: on is not a valid status. Choose from Active or Inactive
                - fieldName: interval
                  title: The entered cron interval is not valid, rebuild schedule and submit again.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the workflow definition

                    '
                description:
                  type: string
                  description: 'The description of the workflow defintion

                    '
                active_workflow_version_id:
                  type: integer
                  description: 'The id of a version. This version will then be set to the active version of the workflow definition.

                    '
                status:
                  type: string
                  description: 'Can be `Active` or `Inactive`. Active workfow definitions run like normal. Inactive workflow definitions cannot be run.

                    '
  /workflows/workflow_runs/{workflow_run_id}:
    get:
      summary: Retrieve a workflow run
      operationId: GET_Workflow_Run
      description: 'Retrieves information about a specific workflow run by its ID.


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_run_id
        in: path
        required: true
        description: 'The unique ID of a workflow run. For example, 19080.

          '
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkflowResponse'
              example:
                id: 19063
                name: WF-19027-00000032
                originalWorkflowId: 19027
                type: Workflow::Instance
                status: Finished
                tasks:
                  total: 4
                  queued: 0
                  processing: 0
                  pending: 0
                  stopped: 0
                  success: 4
                  error: 0
                runTime: 64.513026
                cpuTime: '19:01:04'
                finishedAt: 2019-09-10 19:33:34 UTC
                createdAt: 2019-09-10 19:32:21 UTC
                updatedAt: 2019-09-10 19:33:34 UTC
  /workflows/{workflow_id}/run:
    post:
      summary: Run a workflow
      operationId: POST_Run_Workflow
      description: 'Run a specified workflow. In the request body, you can include parameters that you want to pass to the workflow. For the parameters to be recognized and picked up by tasks in the workflow, you need to define the parameters first.


        **Note**: To run a workflow, do not use the following reserved words in the request body of the parameters.

        - `controller`

        - `action`

        - `id`

        - `user_email`

        - `user_token`

        - `format`


        ### User Access Permission

        You must be assigned the **Workflow Run Access** permission to run this operation.


        To learn about how to define parameters, see Configure the settings of a workflow.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_id
        in: path
        required: true
        description: The ID of the workflow definition you want to run.
        schema:
          type: integer
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowInstance'
              example:
                id: 400
                name: WF-396-00000003
                originalWorkflowId: 396
                type: Workflow::Instance
                status: Queued
                createdAt: 2019-09-19 18:25:33 UTC
                updatedAt: 2019-09-19 18:25:33 UTC
        '400':
          description: Callout not enabled for the workflow
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: The list of errors returned from the workflow
                    items:
                      $ref: '#/components/schemas/WorkflowError'
              example:
                errors:
                - status: 400
                  code: invalid
                  title: Callout mode is not turned on in this workflow.
        '409':
          description: The provided workflow_id references a workflow instance
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request

                headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: The list of errors returned from the workflow
                    items:
                      $ref: '#/components/schemas/WorkflowError'
              example:
                errors:
                - status: 406
                  code: invalid
                  title: Workflow WF-396-00000002 with Id 399 is an instance/run.
        '406':
          description: The provided body is missing one or more required parameters
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: The list of errors returned from the workflow
                    items:
                      $ref: '#/components/schemas/WorkflowError'
                  parameters:
                    description: The request body that was originally provided to the run API.
              example:
                errors:
                - status: 406
                  code: invalid
                  title: Required field for Workflow-Message1 does not have a set value. Ensure parameter 'Message' is present.
                parameters:
                  workflow: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                accountId: 4028905f5a87c0ff015a87d25ae90025
        description: Include parameters you want to pass to the workflow.
  /workflows/{workflow_id}/export:
    get:
      summary: Export a workflow version
      operationId: GET_WorkflowExport
      description: 'Exports a workflow version into a JSON file. This file can be used to create a copy of this workflow version.


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_id
        in: path
        required: true
        description: The ID of the workflow definition to export.
        schema:
          type: integer
      - name: version
        in: query
        required: false
        description: "Default result is the active version of the workflow definition. Version number and 'latest' can be used to export a specific version of the workflow definition. \n"
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportWorkflowVersionResponse'
              example:
                workflow:
                  id: 286
                  name: Call Echo
                  description: ''
                  parameters: {}
                  data: {}
                  original_workflow_id: null
                  type: Workflow::Setup
                  ondemand_trigger: true
                  callout_trigger: true
                  scheduled_trigger: false
                  interval: null
                  timezone: null
                  status: null
                  finished_at: null
                  css:
                    top: 40px
                    left: 30px
                  notifications: {}
                  started_at: null
                  call_type: null
                  priority: Medium
                  sync_trigger: false
                  delete_ttl: 60
                  task_summary: {}
                  version: 0.0.1
                tasks:
                - id: 849
                  name: Call Echo
                  parameters:
                    url: http://scooterlabs.com/echo
                    datas:
                    - key: ''
                      value: ''
                    method: GET
                    headers:
                    - key: ''
                      value: ''
                    raw_body: ''
                    body_type: raw
                    validation:
                      zuora_call: 'false'
                      status_codes:
                      - ''
                      - '200'
                    retry_rules:
                      retry_count: '0'
                      retry_window: '30'
                      current_retry_count: '0'
                    authorization:
                      type: none
                    strict_variables: 'true'
                    validate_response: 'false'
                    validation_scheme: ''
                    include_response_code: 'true'
                  action_type: Callout
                  object: null
                  object_id: null
                  call_type: SOAP
                  task_id: null
                  original_task_id: null
                  original_workflow_id: null
                  status: null
                  error: null
                  error_details: null
                  process_id: null
                  css:
                    top: 160px
                    left: 470px
                  concurrent_limit: 9999999
                  iterate_row_reference: null
                  error_class: null
                  object_batched_reference: null
                  tags:
                  - ''
                  priority: Medium
                  assignment: []
                linkages:
                - source_workflow_id: 286
                  source_task_id: null
                  target_task_id: 849
                  linkage_type: Start
        '400':
          description: The input of version is invalid.
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: The list of errors returned from the workflow
                    items:
                      $ref: '#/components/schemas/WorkflowError'
              example:
                errors:
                - status: 400
                  code: invalid
                  title: The input of version '1' is invalid.
        '404':
          description: Workflow version is not found.
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: The list of errors returned from the workflow
                    items:
                      $ref: '#/components/schemas/WorkflowError'
              example:
                errors:
                - status: 400
                  code: invalid
                  title: Workflow version '1' is not found.
  /workflows/import:
    post:
      summary: Import a workflow
      operationId: POST_WorkflowImport
      description: 'Create a new workflow definition and its first version using the exported JSON document of an existing workflow version.


        ### User Access Permission

        You must be assigned the **Workflow Manage Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_definition_id
        in: query
        required: false
        description: The unique id of the workflow definition to import a workflow version under.
        schema:
          type: integer
      - name: version
        in: query
        required: false
        description: The version number of the new workflow version to import. Must be greater than any existing version numbers.
        schema:
          type: string
      - name: activate
        in: query
        required: false
        description: Indicates whether the imported version is an active version. Default to be false.
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
              example:
                id: 403
                name: Call Echo
                description: ''
                type: Workflow::Setup
                version: 0.0.1
                ondemandTrigger: true
                calloutTrigger: true
                scheduledTrigger: false
                interval: null
                timezone: null
                createdAt: '2019-10-03T14:14:39.139Z'
                updatedAt: '2019-10-03T14:14:39.139Z'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTWorkflowDefinitionImportRequest'
  /workflows/{workflow_id}/versions/import:
    post:
      summary: Import a workflow version
      operationId: POST_WorkflowVersionsImport
      description: 'Create a new workflow version under a workflow definition using the exported JSON document of an existing workflow version.


        ### User Access Permission

        You must be assigned the **Workflow Manage Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_id
        in: path
        required: true
        description: The unique id of the workflow definition to import a workflow version under.
        schema:
          type: integer
      - name: version
        in: query
        required: true
        description: The version number of the new workflow version to import. Must be greater than any existing version numbers.
        schema:
          type: string
      - name: activate
        in: query
        required: false
        description: Indicates whether the imported version is an active version. Default to be false.
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDefinition'
              example:
                id: 2
                name: test
                description: ''
                ondemandTrigger: true
                calloutTrigger: true
                scheduledTrigger: false
                interval: ''
                timezone: Sydney
                createdAt: '2021-09-22T19:30:52.350Z'
                updatedAt: '2021-09-22T19:30:52.350Z'
                priority: Medium
                status: Active
                active_version:
                  id: 49
                  description: ''
                  version: 0.0.1
                  type: Workflow::Setup
                  status: Active
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow:
                  $ref: '#/components/schemas/DetailedWorkflow'
                tasks:
                  type: array
                  items:
                    $ref: '#/components/schemas/Task'
                linkages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Linkage'
  /versions/{version_id}:
    delete:
      summary: Delete a workflow version
      operationId: DELETE_WorkflowVersion
      description: 'Delete a workflow version based on the version id.


        ### User Access Permission

        You must be assigned the **Workflow Manage Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: version_id
        in: path
        required: true
        description: The unique id of the workflow version.
        schema:
          type: integer
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkflowSuccess'
              example:
                success: true
                id: 113
        '403':
          description: Cannot delete the active version of a workflow.
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWorkflowError'
              example:
                errors:
                - code: invalid
                  status: 403
                  title: Cannot delete the active version of a workflow.
  /workflows/{workflow_id}/versions:
    get:
      summary: List all versions of a workflow definition
      operationId: GET_WorkflowVersions
      description: 'Return a list of all workflow versions under a workflow definition


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: workflow_id
        in: path
        required: true
        description: The unique id of the workflow definition to import a workflow version under.
        schema:
          type: integer
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVersionsResponse'
              example:
                data:
                - calloutTrigger: true
                  createdAt: '2019-05-31T14:52:38.171Z'
                  description: ''
                  id: 48
                  interval: null
                  version: 0.0.1
                  name: New test workflow
                  ondemandTrigger: true
                  scheduledTrigger: false
                  timezone: null
                  type: Workflow::Setup
                  updatedAt: '2019-06-03T21:02:26.694Z'
                - calloutTrigger: true
                  createdAt: '2019-05-31T14:52:38.171Z'
                  description: ''
                  id: 49
                  interval: null
                  version: 0.0.2
                  name: New test workflow
                  ondemandTrigger: true
                  scheduledTrigger: false
                  timezone: null
                  type: Workflow::Setup
                  updatedAt: '2019-06-03T21:02:26.694Z'
  /workflows/tasks:
    get:
      summary: List workflow tasks
      operationId: GET_WorkflowsTasks
      description: 'Retrieves a list of workflow tasks available in your Zuora tenant.


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: id
        in: query
        required: false
        description: 'If specified, the operation retrieves the task that is with specified id.

          '
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks that is in the specified name.

          '
        schema:
          type: string
      - name: instance
        in: query
        required: false
        description: 'If set to true, the operation retrieves workflows that have the scheduled trigger enabled. If set to false, the operation retrieves workflows that have the scheduled trigger disabled. If not specfied, the operation will not use this filter.

          '
        schema:
          type: boolean
      - name: action_type
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks that is the specified type.

          '
        schema:
          type: string
      - name: object
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks with the specified object.

          '
        schema:
          type: string
      - name: object_id
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks with the specified object id.

          '
        schema:
          type: string
      - name: call_type
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks with the specified api call type used.

          '
        schema:
          type: string
      - name: workflow_id
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks that for the specified workflow id.

          '
        schema:
          type: string
      - name: tags
        in: query
        required: false
        description: 'If specified, the operation retrieves tasks that with the specified filter tags. Use the following syntax to specify multiple tags: `tags[]=tag_value_1&tags[]=tag_value_2`.


          **Note:** All the workflow tasks that have any of the specified tags will be listed in the response body.

          '
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        required: false
        description: 'If you want to retrieve only the workflows on a specific page, you can specify the `page` number in the query.

          '
        schema:
          type: integer
          default: 1
      - name: page_length
        in: query
        required: false
        description: 'The number of workflow tasks shown in a single call. If the `page` parameter is not specified, the operation will return only the first page of results. If there are multiple pages of results, use it with the `page` parameter to get the results on subsequent pages. The maximum value is 100.

          '
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TasksResponse'
              example:
                data:
                - id: 2771
                  name: If
                  instance: true
                  parameters:
                    if_clause: '{% if 0 > 1 %}

                      True

                      {% else %}

                      False

                      {% endif %}'
                    strict_variables: 'true'
                  data:
                    Files:
                      XML_52881.xml:
                        name: JSONData_xslt.xml
                        size: 0.011725425720214844
                        object_class: Workflow
                    Tasks:
                      Previous:
                        Id: 2770
                        Status: Error
                        ErrorClass: WorkflowError::Callout
                        ErrorReason: Callout response was 500 after 1 tries.
                    Callout:
                      URL: https://rest.apisandbox.zuora.com/v1/action/query
                      RequestBody:
                        queryString: Select Id From Contact Where LastName = 'Drew' AND FirstName = 'Nancy' AND  WorkEmail = 'nancy@xyz.com'
                      ResponseBody:
                        message: 'An unexpected error occurred

                          '
                      ResponseCode: 500
                      RequestHeaders:
                        Content-Type: application/json
                      ResponseHeaders:
                        x-n:
                        - S
                        date:
                        - Thu, 19 Sep 2019 12:35:43 GMT
                        pragma:
                        - no-cache
                        server:
                        - kong/0.9.9
                        expires:
                        - Thu, 19 Sep 2019 12:35:43 GMT
                        connection:
                        - close
                        content-type:
                        - text/plain; charset=UTF-8
                        cache-control:
                        - max-age=0, no-cache, no-store
                    Workflow:
                      LastRunDate: '2019-09-19'
                      ExecutionDate: '2019-09-19'
                      LastRunDateTime: '2019-09-19T12:34:41'
                      WorkflowRunUser: test-user
                      ExecutionDateTime: '2019-09-19T12:35:37'
                  action_type: If
                  object: null
                  object_id: null
                  call_type: SOAP
                  workflow_id: 476
                  status: Success
                  start_time: '2019-09-19T12:35:43.857Z'
                  end_time: '2019-09-19T12:35:43.942Z'
                  original_task_id: 2582
                  original_workflow_id: 416
                  error: null
                  error_class: null
                  error_details: null
                  tags: []
                pagination:
                  page: 1
                  page_length: 1
                  next_page: https://rest.zuora.com/workflows/tasks?page=2&page_length=1
  /workflows/tasks/{task_id}:
    get:
      summary: Retrieve a workflow task
      operationId: GET_WorkflowsTask
      description: 'Retrieves a specific workflow task by its ID.


        ### User Access Permission

        You must be assigned the **Workflow View Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: task_id
        in: path
        required: true
        description: 'The unique ID of the task.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              example:
                id: 2771
                name: If
                instance: true
                parameters:
                  if_clause: '{% if 0 > 1 %}

                    True

                    {% else %}

                    False

                    {% endif %}'
                  strict_variables: 'true'
                data:
                  Files:
                    XML_52881.xml:
                      name: JSONData_xslt.xml
                      size: 0.011725425720214844
                      object_class: Workflow
                  Tasks:
                    Previous:
                      Id: 2770
                      Status: Error
                      ErrorClass: WorkflowError::Callout
                      ErrorReason: Callout response was 500 after 1 tries.
                  Callout:
                    URL: https://rest.apisandbox.zuora.com/v1/action/query
                    RequestBody:
                      queryString: Select Id From Contact Where LastName = 'Drew' AND FirstName = 'Nancy' AND  WorkEmail = 'nancy@xyz.com'
                    ResponseBody:
                      message: 'An unexpected error occurred

                        '
                    ResponseCode: 500
                    RequestHeaders:
                      Content-Type: application/json
                    ResponseHeaders:
                      x-n:
                      - S
                      date:
                      - Thu, 19 Sep 2019 12:35:43 GMT
                      pragma:
                      - no-cache
                      server:
                      - kong/0.9.9
                      expires:
                      - Thu, 19 Sep 2019 12:35:43 GMT
                      connection:
                      - close
                      content-type:
                      - text/plain; charset=UTF-8
                      cache-control:
                      - max-age=0, no-cache, no-store
                  Workflow:
                    LastRunDate: '2019-09-19'
                    ExecutionDate: '2019-09-19'
                    LastRunDateTime: '2019-09-19T12:34:41'
                    WorkflowRunUser: test-user
                    ExecutionDateTime: '2019-09-19T12:35:37'
                action_type: If
                object: null
                object_id: null
                call_type: SOAP
                workflow_id: 476
                status: Success
                start_time: '2019-09-19T12:35:43.857Z'
                end_time: '2019-09-19T12:35:43.942Z'
                original_task_id: 2582
                original_workflow_id: 416
                error: null
                error_class: null
                error_details: null
                tags: []
  /workflows/tasks/{task_id}/rerun:
    post:
      summary: Rerun a workflow task
      operationId: POST_WorkflowsTaskRerun
      description: 'Reruns a specific workflow task by its ID.


        ### User Access Permission

        You must be assigned the **Workflow Run Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: task_id
        in: path
        required: true
        description: 'The unique ID of the task.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              example:
                id: 2771
                name: If
                instance: true
                parameters:
                  if_clause: '{% if 0 > 1 %}

                    True

                    {% else %}

                    False

                    {% endif %}'
                  strict_variables: 'true'
                data:
                  Files:
                    XML_52881.xml:
                      name: JSONData_xslt.xml
                      size: 0.011725425720214844
                      object_class: Workflow
                  Tasks:
                    Previous:
                      Id: 2770
                      Status: Error
                      ErrorClass: WorkflowError::Callout
                      ErrorReason: Callout response was 500 after 1 tries.
                  Callout:
                    URL: https://rest.apisandbox.zuora.com/v1/action/query
                    RequestBody:
                      queryString: Select Id From Contact Where LastName = 'Drew' AND FirstName = 'Nancy' AND  WorkEmail = 'nancy@xyz.com'
                    ResponseBody:
                      message: 'An unexpected error occurred

                        '
                    ResponseCode: 500
                    RequestHeaders:
                      Content-Type: application/json
                    ResponseHeaders:
                      x-n:
                      - S
                      date:
                      - Thu, 19 Sep 2019 12:35:43 GMT
                      pragma:
                      - no-cache
                      server:
                      - kong/0.9.9
                      expires:
                      - Thu, 19 Sep 2019 12:35:43 GMT
                      connection:
                      - close
                      content-type:
                      - text/plain; charset=UTF-8
                      cache-control:
                      - max-age=0, no-cache, no-store
                  Workflow:
                    LastRunDate: '2019-09-19'
                    ExecutionDate: '2019-09-19'
                    LastRunDateTime: '2019-09-19T12:34:41'
                    WorkflowRunUser: test-user
                    ExecutionDateTime: '2019-09-19T12:35:37'
                action_type: If
                object: null
                object_id: null
                call_type: SOAP
                workflow_id: 476
                status: Success
                start_time: '2019-09-19T12:35:43.857Z'
                end_time: '2019-09-19T12:35:43.942Z'
                original_task_id: 2582
                original_workflow_id: 416
                error: null
                error_class: null
                error_details: null
                tags: []
  /workflows/tasks/batch_update:
    put:
      summary: Update workflow tasks
      operationId: PUT_WorkflowsTasksUpdate
      description: 'Updates a group of workflow tasks.


        ### User Access Permission

        You must be assigned the **Workflow Manage Access** permission to run this operation.'
      tags:
      - Workflows
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      responses:
        '200':
          description: OK
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
[...]
