openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Product Rate Plan Charges API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Product Rate Plan Charges
  description: 'A product rate plan charge represents a charge model or a set of fees associated with a product rate plan, which is the part of a product that your customers subscribe to. Each product rate plan can have multiple product rate plan charges.


    Product rate plan charges can be of three types: one-time fees, recurring fees, and usage fees. For example, the $50 activation fee for the Topaz product rate plan is a one-time product rate plan charge.'
paths:
  /v1/product-rate-plan-charges/{product-rate-plan-charge-key}:
    get:
      summary: Retrieve a product rate plan charge
      operationId: GET_RetrieveProductRatePlanCharge
      description: Retrieves basic information about a product rate plan charge.
      tags:
      - Product Rate Plan Charges
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - name: product-rate-plan-charge-key
        in: path
        description: 'The unique number or ID of the product rate plan charge to be retrieved.

          '
        required: true
        schema:
          type: string
      - name: show-charge-definitions
        in: query
        description: "Specifies whether to include the product charge definitions of this charge in the response.\n\n**Note**: This parameter is applicable only if the Attribute-based Pricing feature is enabled. The Attribute-based Pricing feature in the **Early Adopter** phase. \nWe are actively soliciting feedback from a small set of early adopters. If you are interested, please reach out to your CSM.\n"
        required: false
        schema:
          type: boolean
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETProductRatePlanChargeResponse'
              example:
                id: 402882f28a1ab0bc018a1afb77b561a6
                name: New Component
                type: Recurring
                model: Delivery
                uom: null
                pricingSummary:
                - ''
                pricing:
                - currency: USD
                  price: 25.0
                  tiers: null
                  includedUnits: null
                  overagePrice: null
                  discountPercentage: null
                  discountAmount: null
                defaultQuantity: null
                applyDiscountTo: null
                discountLevel: null
                discountClass: null
                productDiscountApplyDetails: []
                endDateCondition: Subscription_End
                upToPeriods: null
                upToPeriodsType: null
                billingDay: DefaultFromCustomer
                listPriceBase: Per_Billing_Period
                specificListPriceBase: null
                billingTiming: IN_ADVANCE
                ratingGroup: null
                billingPeriod: Month
                billingPeriodAlignment: AlignToCharge
                specificBillingPeriod: null
                smoothingModel: null
                numberOfPeriods: null
                overageCalculationOption: null
                overageUnusedUnitsCreditOption: null
                unusedIncludedUnitPrice: null
                usageRecordRatingOption: null
                priceChangeOption: null
                priceIncreasePercentage: null
                useTenantDefaultForPriceChange: true
                taxable: false
                taxCode: ''
                taxMode: null
                mig__c: null
                Boolean__c: null
                triggerEvent: ContractEffective
                description: ''
                revRecCode: null
                revRecTriggerCondition: null
                revenueRecognitionRuleName: Recognize upon invoicing
                useDiscountSpecificAccountingCode: null
                financeInformation:
                  deferredRevenueAccountingCode: ''
                  deferredRevenueAccountingCodeType: null
                  recognizedRevenueAccountingCode: ''
                  recognizedRevenueAccountingCodeType: null
                  accountsReceivableAccountingCode: Accounts Receivable
                  accountsReceivableAccountingCodeType: AccountsReceivable
                deliverySchedule:
                  frequency: Weekly
                  monday: true
                  tuesday: true
                  wednesday: true
                  thursday: false
                  friday: false
                  saturday: false
                  sunday: true
                isStackedDiscount: false
                productRatePlanChargeNumber: PRPC-NEW-00000165
                productChargeDefinitions: https://rest.zuora.com/v1/product-charge-definitions?charge=402882f28a1ab0bc018a1afb77b561a6
                success: true
  /v1/object/product-rate-plan-charge:
    post:
      summary: 'CRUD: Create a product rate plan charge'
      operationId: Object_POSTProductRatePlanCharge
      description: 'Creates a product rate plan charge for a specified rate plan charge.


        Product rate plan charges can be of three types, one-time fees, recurring fees, and usage fees.'
      tags:
      - Product Rate Plan Charges
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCreateOrModifyResponse'
              example:
                Success: true
                Id: 2c93808457d787030157e03197714910
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyCreateProductRatePlanCharge'
        required: true
  /v1/object/product-rate-plan-charge/{id}:
    get:
      summary: 'CRUD: Retrieve a product rate plan charge'
      operationId: Object_GETProductRatePlanCharge
      description: ''
      tags:
      - Product Rate Plan Charges
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      - name: fields
        in: query
        required: false
        description: Object fields to return
        schema:
          type: string
      - name: id
        in: path
        description: 'The unique ID of a product rate plan charge to be retrieved. For example, 2c93808457d787030157e031fcd34e19.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyGetProductRatePlanCharge'
              example:
                PriceChangeOption: NoChange
                IncludedUnits: 0
                OverageCalculationOption: EndOfSmoothingPeriod
                Id: 2c93808457d787030157e032002b4e21
                AccountingCode: name_1476935155610
                BillCycleDay: 1
                BillingPeriod: Month
                OverageUnusedUnitsCreditOption: NoCredit
                CreatedById: 2c93808457d787030157e031dd264c85
                RecognizedRevenueAccount: name_1476935155610
                ChargeType: Recurring
                BillCycleType: DefaultFromCustomer
                DefaultQuantity: 1
                UpToPeriodsType: Billing Periods
                ProductRatePlanId: 2c93808457d787030157e031ff054e1e
                Taxable: false
                Description: Recurring Flat Fee Pricing
                LegacyRevenueReporting: false
                ChargeModel: Flat Fee Pricing
                NumberOfPeriod: 1
                BillingTiming: In Advance
                PriceIncreasePercentage: 0
                CreatedDate: '2016-10-20T05:45:55.000+02:00'
                DeferredRevenueAccount: name_1476935155610
                UpdatedById: 2c93808457d787030157e031dd264c85
                Name: Recurring_Flat Fee Pricing1476935155610
                ListPriceBase: Per Billing Period
                EndDateCondition: SubscriptionEnd
                TriggerEvent: ContractEffective
                BillingPeriodAlignment: AlignToCharge
                RevenueRecognitionRuleName: Recognize upon invoicing
                UseTenantDefaultForPriceChange: true
                UpdatedDate: '2016-10-20T05:45:55.000+02:00'
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
        '404':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyNoDataResponse'
              example:
                records: {}
                size: 0
                done: true
    put:
      summary: 'CRUD: Update a product rate plan charge'
      operationId: Object_PUTProductRatePlanCharge
      description: Updates the information about a product rate plan charge.
      tags:
      - Product Rate Plan Charges
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_rejectUnknownFields'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_X_Zuora_WSDL_Version'
      - name: id
        in: path
        description: 'The unique ID of the product rate plan charge to be updated. For example, 2c93808457d787030157e031fcd34e19.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCreateOrModifyResponse'
              example:
                Success: true
                Id: 2c93808457d787030157e03197714910
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
        '404':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyNoDataResponse'
              example:
                records: {}
                size: 0
                done: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyModifyProductRatePlanCharge'
        required: true
    delete:
      summary: 'CRUD: Delete a product rate plan charge'
      operationId: Object_DELETEProductRatePlanCharge
      description: Deletes a product rate plan charge.
      tags:
      - Product Rate Plan Charges
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - name: id
        in: path
        description: 'The unique ID of the product rate plan charge to be deleted. For example, 2c93808457d787030157e031fcd34e19.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyDeleteResponse'
              example:
                success: true
                id: 2c93808457d787030157e031fcd34e19
        '401':
          description: ''
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
            WWW-Authenticate:
              description: 'The value of this header is:


                ```

                Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API

                ```

                '
              schema:
                type: string
                enum:
                - Basic realm=Zuora API, ZSession realm=Zuora API, Bearer realm=Zuora API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyUnauthorizedResponse'
              example:
                message: Authentication error
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_rejectUnknownFields:
      name: rejectUnknownFields
      in: query
      required: false
      description: "Specifies whether the call fails if the request body contains unknown fields.\nWith `rejectUnknownFields` set to `true`, Zuora returns a 400 response if\nthe request body contains unknown fields. The body of the 400 response is:\n\n```json\n{\n    \"message\": \"Error - unrecognised fields\"\n}\n```\n\nBy default, Zuora ignores unknown fields in the request body.\n"
      schema:
        type: boolean
        default: false
    GLOBAL_HEADER_X_Zuora_WSDL_Version:
      name: X-Zuora-WSDL-Version
      in: header
      required: false
      description: 'Zuora WSDL version number.

        '
      schema:
        type: string
        default: 79
  schemas:
    ProxyCreateOrModifyResponse:
      properties:
        Id:
          description: ''
          type: string
        Success:
          description: ''
          type: boolean
      type: object
    GETRatePlanChargePricing:
      properties:
        currency:
          description: 'The currency for the price.

            '
          type: string
        discountAmount:
          description: 'The specific amount for a fixed discount. This field is applicable for charges based on the Discount-Fixed Amount charge model.

            '
          format: double
          type: number
        discountPercentage:
          description: 'The percentage of discount for a percentage discount. This field is applicable for charges based on the Discount-Percentage charge model.

            '
          format: double
          type: number
        includedUnits:
          description: "The number of units included in this price item. \n\nThis field is only applicable for charges based on the Overage Pricing charge model.\n"
          type: number
        overagePrice:
          description: "The overage price of the price item. \n\nThis field is only applicable for charges based on the Overage Pricing or Tiered with Overage Pricing charge model.\n"
          type: number
        price:
          description: "The price. \n\nThis field is only applicable for charges based on the following charge models:\n  - Flat Fee\n  - Per Unit\n  - Delivery Pricing\n"
          type: number
        tiers:
          description: "Container for the tiers of the price item. \n\nThis field is only applicable for charges based on the following charge models:\n  - Tiered Pricing\n  - Volume Pricing\n  - Tiered with Overage Pricing\n"
          items:
            $ref: '#/components/schemas/GETRatePlanChargePricingTier'
          type: array
      type: object
    GETDeliverySchedule:
      properties:
        frequency:
          description: 'The frequency of the delivery. Only weekly delivery is supported now.

            '
          enum:
          - Weekly
          type: string
        friday:
          description: 'The flag to indicate whether the delivery happens on Friday.

            '
          type: boolean
        monday:
          description: 'The flag to indicate whether the delivery happens on Monday.

            '
          type: boolean
        saturday:
          description: 'The flag to indicate whether the delivery happens on Saturday.

            '
          type: boolean
        sunday:
          description: 'The flag to indicate whether the delivery happens on Sunday.

            '
          type: boolean
        thursday:
          description: 'The flag to indicate whether the delivery happens on Thursday.

            '
          type: boolean
        tuesday:
          description: 'The flag to indicate whether the delivery happens on Tuesday.

            '
          type: boolean
        wendesday:
          description: 'The flag to indicate whether the delivery happens on Wendesday.

            '
          type: boolean
      title: DeliverySchedule
      type: object
    GETRatePlanChargePricingTier:
      description: "Array of product rate plan charge tiers.\n\nYou should specify all relevant fields of all tiers, including pricing information for each currency.\n\nFor each currency, ensure that the tiers appear in ascending order of `StartingUnit`.\n\nFor example:\n\n```\n[\n  {\n    \"StartingUnit\": \"1\",\n    \"EndingUnit\": \"150\",\n    \"Currency\": \"USD\",\n    \"Price\": 1.95,\n    \"PriceFormat\": \"Per Unit\"\n  },\n  {\n    \"StartingUnit\": \"151\",\n    \"EndingUnit\": \"300\",\n    \"Currency\": \"USD\",\n    \"Price\": 1.45,\n    \"PriceFormat\": \"Per Unit\"\n  },\n  {\n    \"StartingUnit\": \"1\",\n    \"EndingUnit\": \"150\",\n    \"Currency\": \"EUR\",\n    \"Price\": 1.75,\n    \"PriceFormat\": \"Per Unit\"\n  },\n  {\n    \"StartingUnit\": \"151\",\n    \"EndingUnit\": \"300\",\n    \"Currency\": \"EUR\",\n    \"Price\": 1.30,\n    \"PriceFormat\": \"Per Unit\"\n  }\n]\n```\n"
      items:
        properties:
          currency:
            description: 'The code corresponding to the currency for the price tier.

              '
            type: string
          discountAmount:
            description: 'The specific amount for a fixed discount. This field is applicable for charges based on the Discount-Fixed Amount charge model.

              '
            format: double
            type: number
          discountPercentage:
            description: 'The percentage of discount for a percentage discount. This field is applicable for charges based on the Discount-Percentage charge model.

              '
            format: double
            type: number
          endingUnit:
            description: 'The end number of a range of units for the tier. This field is applicable for charges based on the Tiered Pricing or Tiered with Overage Pricing charge model.

              '
            format: double
            type: number
          overagePrice:
            description: 'Indicates whether the price is an overage price, which is the price when usage surpasses the last defined tier.

              '
            format: double
            type: number
          price:
            description: 'The price of the tier if the charge is a flat fee, or the price of each unit in the tier if the charge model is tiered pricing.

              '
            format: double
            type: number
          startingUnit:
            description: 'The starting number of a range of units for the tier. This field is applicable for charges based on the Tiered Pricing or Tiered with Overage Pricing charge model.

              '
            format: double
            type: number
        type: object
      type: array
    ProxyUnauthorizedResponse:
      properties:
        message:
          description: 'Error message.


            If the error message is "Authentication error", ensure that the `Authorization` request header contains valid authentication credentials, then retry the request. See [Authentication](/rest-api/general-concepts/authentication/) for more information.


            If the error message is "Failed to get user info", retry the request.

            '
          type: string
      type: object
    ProxyCreateOrModifyProductRatePlanChargeTierData:
      description: 'Container for pricing information associated with the product rate plan charge.

        '
      properties:
        ProductRatePlanChargeTier:
          description: "Array of product rate plan charge tiers.\n\nYou should specify all relevant fields of all tiers, including pricing information for each currency.\n\nFor each currency, ensure that the tiers appear in ascending order of `StartingUnit`.\n\nFor example:\n\n```\n[\n  {\n    \"StartingUnit\": \"1\",\n    \"EndingUnit\": \"150\",\n    \"Currency\": \"USD\",\n    \"Price\": 1.95,\n    \"PriceFormat\": \"Per Unit\"\n  },\n  {\n    \"StartingUnit\": \"151\",\n    \"EndingUnit\": \"300\",\n    \"Currency\": \"USD\",\n    \"Price\": 1.45,\n    \"PriceFormat\": \"Per Unit\"\n  },\n  {\n    \"StartingUnit\": \"1\",\n    \"EndingUnit\": \"150\",\n    \"Currency\": \"EUR\",\n    \"Price\": 1.75,\n    \"PriceFormat\": \"Per Unit\"\n  },\n  {\n    \"StartingUnit\": \"151\",\n    \"EndingUnit\": \"300\",\n    \"Currency\": \"EUR\",\n    \"Price\": 1.30,\n    \"PriceFormat\": \"Per Unit\"\n  }\n]\n```\n"
          items:
            properties:
              Currency:
                description: 'The code corresponding to the currency for the tier''s price.

                  '
                type: string
              DiscountAmount:
                description: 'The specific amount for a fixed discount. Required if the charge model of the product rate plan charge is `Discount-Fixed Amount`.

                  '
                format: double
                type: number
              DiscountPercentage:
                description: 'The percentage of discount for a percentage discount. Required if the charge model of the product rate plan charge is `Discount-Percentage`.

                  '
                format: double
                type: number
              EndingUnit:
                description: 'The end number of a range of units for the tier. Required if the charge model of the product rate plan charge is `Tiered Pricing` or `Tiered with Overage Pricing`.

                  '
                format: double
                type: number
              IsOveragePrice:
                description: 'Indicates if the price is an overage price, which is the price when usage surpasses the last defined tier.

                  '
                type: boolean
              Price:
                description: 'The price of the tier if the charge is a flat fee, or the price of each unit in the tier if the charge model is tiered pricing.

                  '
                format: double
                type: number
              PriceFormat:
                description: 'Indicates if pricing is a flat fee or is per unit. This field is for tiered and volume pricing models only.

                  '
                enum:
                - Flat Fee
                - Per Unit
                type: string
              StartingUnit:
                description: 'The starting number of a range of units for the tier. Required if the charge model of the product rate plan charge is `Tiered Pricing` or `Tiered with Overage Pricing`.

                  '
                format: double
                type: number
            type: object
          type: array
      title: productRatePlanChargeTierData
      type: object
    ProxyCreateOrModifyDeliverySchedule:
      properties:
        frequency:
          description: 'The frequency of the delivery. Only supports weekly now

            '
          enum:
          - Weekly
          type: string
        friday:
          description: 'The flag to indicate should the delivery happen on Friday

            '
          type: boolean
        monday:
          description: 'The flag to indicate should the delivery happen on Monday

            '
          type: boolean
        saturday:
          description: 'The flag to indicate should the delivery happen on Saturday

            '
          type: boolean
        sunday:
          description: 'The flag to indicate should the delivery happen on Sunday

            '
          type: boolean
        thursday:
          description: 'The flag to indicate should the delivery happen on Thursday

            '
          type: boolean
        tuesday:
          description: 'The flag to indicate should the delivery happen on Tuesday

            '
          type: boolean
        wendesday:
          description: 'The flag to indicate should the delivery happen on Wendesday

            '
          type: boolean
      title: DeliverySchedule
      type: object
    GETProductRatePlanChargeResponse:
      properties:
        applyDiscountTo:
          description: 'Indicates which type of charge the discount charge applies to.

            '
          enum:
          - ONETIME
          - RECURRING
          - USAGE
          - ONETIMERECURRING
          - ONETIMEUSAGE
          - RECURRINGUSAGE
          - ONETIMERECURRINGUSAGE
          type: string
        billingDay:
          description: 'The bill cycle type for this charge.

            '
          type: string
        billingPeriod:
          description: 'The billing period for this charge.

            '
          type: string
        billingPeriodAlignment:
          description: 'The billing period alignment setting for this charge.

            '
          enum:
          - AlignToCharge
          - AlignToSubscriptionStart
          - AlignToTermStart
          - AlignToTermEnd
          type: string
        billingTiming:
          description: 'The billing timing for this charge.

            '
          enum:
          - IN_ADVANCE
          - IN_ARREARS
          type: string
        customFields:
          $ref: '#/components/schemas/ProductRatePlanChargeObjectCustomFields'
        defaultQuantity:
          description: "The default quantity. \n\nThis field is applicable only for one-time and recurring charges.\n"
          type: number
        deliverySchedule:
          $ref: '#/components/schemas/GETDeliverySchedule'
        description:
          description: 'The description for this charge.

            '
          type: string
        discountClass:
          description: 'The class that the discount belongs to. The discount class defines the order in which discount product rate plan charges are applied.


            For more information, see [Manage Discount Classes](https://knowledgecenter.zuora.com/BC_Subscription_Management/Product_Catalog/B_Charge_Models/Manage_Discount_Classes).

            '
          type: string
        discountLevel:
          description: 'The application scope of the discount charge. For example, if the value of this field is `subscription` and the value of the `applyDiscountTo` field is `RECURRING`, the discount charge applies to all recurring charges in the same subscription as the discount charge.

            '
          enum:
          - rateplan
          - subscription
          - account
          type: string
        endDateCondition:
          description: 'The end date condition for this charge.

            '
          enum:
          - Subscription_End
          - One_Time
          - Fixed_Period
          - Specific_End_Date
          type: string
        excludeItemBillingFromRevenueAccounting:
          description: "Indicates whether to exclude the related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled. \n"
          type: boolean
        excludeItemBookingFromRevenueAccounting:
          description: 'Indicates whether to exclude the related rate plan charges and order line items from revenue accounting.


            **Note**: This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled.

            '
          type: boolean
        financeInformation:
          description: 'Container for the finance information of a product rate plan charge.

            '
          properties:
            adjustmentLiabilityAccountingCode:
              description: "The accounting code for adjustment liability. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            adjustmentLiabilityAccountingCodeType:
              description: "The type associated with the adjustment liability accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            adjustmentRevenueAccountingCode:
              description: "The accounting code for adjustment revenue. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            adjustmentRevenueAccountingCodeType:
              description: "The type associated with the adjustment revenue accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractAssetAccountingCode:
              description: "The accounting code for contract asset. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractAssetAccountingCodeType:
              description: "The type associated with the contract asset accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractLiabilityAccountingCode:
              description: "The accounting code for contract liability. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractLiabilityAccountingCodeType:
              description: "The type associated with the contract liability accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractRecognizedRevenueAccountingCode:
              description: "The accounting code for contract recognized revenue. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            contractRecognizedRevenueAccountingCodeType:
              description: "The type associated with the contract recognized revenue accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            deferredRevenueAccountingCode:
              description: 'The accounting code for deferred revenue, such as Monthly Recurring Liability.

                '
              type: string
            deferredRevenueAccountingCodeType:
              description: "The type associated with the deferred revenue accounting code, such as Deferred Revenue. \n"
              type: string
            recognizedRevenueAccountingCode:
              description: "The accounting code for recognized revenue, such as Monthly Recurring Charges or Overage Charges. \n"
              type: string
            recognizedRevenueAccountingCodeType:
              description: 'The type associated with the recognized revenue accounting code, such as Sales Revenue or Sales Discount.

                '
              type: string
            unbilledReceivablesAccountingCode:
              description: "The accounting code for unbilled receivables. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
            unbilledReceivablesAccountingCodeType:
              description: "The type associated with the unbilled receivables accounting code. \n\n**Note**: This field is only available if you have the Zuora Billing - Revenue Integration feature enabled.\n"
              type: string
          title: financeInformation
          type: object
        id:
          description: 'The unique ID of the product rate plan charge.

            '
          type: string
        isAllocationEligible:
          description: 'Indicates whether the charge segment is allocation eligible in revenue recognition. The default value is `false`.


            **Values**: `true`, `false`


            **Note**: This field is available only if you have the Additional Revenue Fields property enabled.

            '
          type: boolean
        isStackedDiscount:
          description: "**Note**: This field is only applicable to the Discount - Percentage charge model.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 130 or higher. Otherwise, an error occurs.\n\nThis field indicates whether the discount is to be calculated as stacked discount. Possible values are as follows:\n  - `True`: This is a stacked discount, which should be calculated by stacking with other discounts.\n  - `False`: This is not a stacked discount, which should be calculated in sequence with other discounts.\n\nFor more information, see [Stacked discounts](https://knowledgecenter.zuora.com/Zuora_Billing/Products/Product_Catalog/B_Charge_Models/B_Discount_Charge_Models).\n"
          type: boolean
        isUnbilled:
          description: "Specifies how to perform the accounting during revenue recognition. The default value is `false`.\n\n**Values**: `true`, `false`\n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.     \n"
          type: boolean
        listPriceBase:
          description: "The base of list price. \n\nThis field is applicable only for recurring charges.\n\n**Note**: The `Per_Year` enum value is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        model:
          description: 'Determines how to calculate charges. Charge models must be individually activated in Zuora Billing administration.

            '
          enum:
          - DiscountFixedAmount
          - DiscountPercentage
          - FlatFee
          - PerUnit
          - Overage
          - Tiered
          - TieredwithOverage
          - Volume
          - Delivery
          - MultiAttributePricing
          - PreratedPerUnit
          - PreratedPricing
          - HighWatermarkVolumePricing
          - HighWatermarkTieredPricing
          type: string
        name:
          description: 'The name of the product rate plan charge.

            '
          type: string
        numberOfPeriod:
          description: 'Indicates the number of periods to use when calculating charges in an overage smoothing charge model. The valid value is a positive whole number.

            '
          format: int64
          type: integer
        overageCalculationOption:
          description: "Determines when to calculate overage charges. If the value of the SmoothingMode field is not specified, the value of this field is ignored.\n\n**Values**: \n  - `EndOfSmoothingPeriod`: This option is used by default. The overage is charged at the end of the smoothing period.\n  - `PerBillingPeriod`: The overage is charged on-demand rather than waiting until the end of the smoothing period.\n"
          enum:
          - EndOfSmoothingPeriod
          - PerBillingPeriod
          type: string
        overageUnusedUnitsCreditOption:
          description: 'Determines whether to credit the customer with unused units of usage.

            '
          enum:
          - NoCredit
          - CreditBySpecificRate
          type: string
        priceChangeOption:
          default: NoChange
          description: 'Applies an automatic price change when a termed subscription is renewed.

            '
          enum:
          - NoChange
          - SpecificPercentageValue
          - UseLatestProductCatalogPricing
          type: string
        priceIncreaseOption:
          description: 'Applies an automatic price change when a termed subscription is renewed.

            '
          enum:
          - FromTenantPercentageValue
          - SpecificPercentageValue
          type: string
        priceIncreasePercentage:
          description: 'Specifies the percentage to increase or decrease the price of a termed subscription''s renewal. Use this field if you set the `priceIncreaseOption` field to `SpecificPercentageValue`.


            **Character limit**: 16


            **Values**: a decimal value between -100 and 100

            '
          format: double
          type: number
        pricing:
          description: 'Container for the prices of the product rate plan charge.

            '
          items:
            $ref: '#/components/schemas/GETRatePlanChargePricing'
          type: array
        pricingSummary:
          description: "A concise description of the charge model and pricing that is suitable to show to your customers. \n\nWhen the rate plan charge model is `Tiered` and multi-currency is enabled, this field includes an array of string of each currency, and each string of currency includes tier price description separated by comma.\n\nFor the following charge models, the value of this field is an empty string:\n- Multi-Attribute Pricing\n- High Water Mark Tiered Pricing\n- High Water Mark Volume Pricing\n- Pre-Rated Per Unit Pricing\n- Pre-Rated Pricing\n\nThe charge models are available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.\n"
          items:
            type: string
          type: array
        productCategory:
          description: "This field is used to maintain the product category for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
          type: string
        productChargeDefinitions:
          description: 'A link to retrieve product charge definitions of this charge.

            '
          type: string
        productClass:
          description: "This field is used to maintain the product class for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
          type: string
        productDiscountApplyDetails:
          description: "Container for the application details about a discount product rate plan charge. \n\nOnly discount product rate plan charges have values in this field.\n"
          items:
            $ref: '#/components/schemas/GETProductDiscountApplyDetailsType'
          type: array
        productFamily:
          description: "This field is used to maintain the product family for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
          type: string
        productLine:
          description: "This field is used to maintain the product line for integration with Zuora Revenue. \n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.\n"
          type: string
        productRatePlanChargeNumber:
          description: 'The number of this product rate plan charge.

            '
          type: string
        ratingGroup:
          default: ByBillingPeriod
          description: "Specifies a rating group based on which usage records are rated.\n\nPossible values:                \n  - `ByBillingPeriod`: The rating is based on all the usages in a billing period. \n  - `ByUsageStartDate`: The rating is based on all the usages on the same usage start date. \n  - `ByUsageRecord`: The rating is based on each usage record.\n  - `ByUsageUpload`: The rating is based on all the  usages in a uploaded usage file (`.xls` or `.csv`).\n  - `ByGroupId`: The rating is based on all the usages in a custom group.\n\n**Notes:** \n  - The `ByBillingPeriod` value can be applied for all charge models. \n  - The `ByUsageStartDate`, `ByUsageRecord`, and `ByUsageUpload` values can only be applied for per unit, volume pricing, and tiered pricing charge models. \n  - The `ByGroupId` value is only available if you have the Active Rating feature enabled.\n  - Use this field only for Usage charges. One-Time Charges and Recurring Charges return `NULL`.\n"
          enum:
          - ByBillingPeriod
          - ByUsageStartDate
          - ByUsageRecord
          - ByUsageUpload
          - ByGroupId
          type: string
        recognizedRevenueAccount:
          description: "The name of the recognized revenue account for this charge.\n  - Required when the Allow Blank Accounting Code setting is No.\n  - Optional when the Allow Blank Accounting Code setting is Yes.\n\n  This feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).\n"
          maxLength: 100
          type: string
        revRecCode:
          description: 'Associates this product rate plan charge with a specific revenue recognition code.

            '
          maxLength: 70
          type: string
        revRecTriggerCondition:
          description: 'Specifies when revenue recognition begins.

            '
          enum:
          - ContractEffectiveDate
          - ServiceActivationDate
          - CustomerAcceptanceDate
          type: string
        revenueRecognitionRuleName:
          description: 'Determines when to recognize the revenue for this charge.

            '
          enum:
          - Recognize upon invoicing
          - Recognize daily over time
          type: string
        smoothingModel:
          description: 'Specifies the smoothing model for an overage smoothing charge model.

            '
          enum:
          - RollingWindow
          - Rollover
          type: string
        specificBillingPeriod:
          description: 'The specific number of billing periods for this charge.

            '
          type: number
        specificListPriceBase:
          description: 'The number of months for the list price base of the charge. The value of this field is `null` if you do not set the value of the `listPriceBase` field to `Per_Specific_Months`.

            '
          format: int32
          maximum: 200
          minimum: 1
          type: integer
        success:
          description: 'Indicates whether the request succeeded.

            '
          type: boolean
        taxCode:
          description: 'Specifies the tax code for taxation rules. This field is required when the `Taxable` field is set to `True`.


            **Note**: This value affects the tax calculation of the rate plan charge.

            '
          maxLength: 64
          type: string
        taxMode:
          description: 'Determines how to define taxation for the charge. This field is required when the `Taxable` field is set to `True`.


            **Note**: This value affects the tax calculation of the rate plan charge.

            '
          enum:
          - TaxExclusive
          - TaxInclusive
          type: string
        taxable:
          description: 'Determines whether the charge is taxable. When set to `True`, the `TaxMode` and `TaxCode` fields are required when creating or updating th Product Rate Plan Charge object.


            **Character limit**: 5


            **Values**: `True`, `False`


            **Note**: This value affects the tax calculation of rate plan charges that come from the `ProductRatePlanCharge`.

            '
          type: boolean
        triggerEvent:
          description: "Specifies when to start billing the customer for the charge.\n\n**Values**:\n  - `ContractEffective` is the date when the subscription's contract goes into effect and the charge is ready to be billed.\n  - `ServiceActivation` is the date when the services or products for a subscription have been activated and the customers have access.\n  - `CustomerAcceptance` is when the customer accepts the services or products for a subscription.\n"
          enum:
          - ContractEffective
          - ServiceActivation
          - CustomerAcceptance
          type: string
        type:
          description: 'Specifies the type of charge.

            '
          enum:
          - OneTime
          - Recurring
          - Usage
          type: string
        uom:
          description: 'Indicates the units of measure (UOM) that is configured in **Settings > Billing** for the product rate plan charge.

            '
          type: string
        upToPeriods:
          description: 'The number of up-to-periods value for this charge.

            '
          type: number
        upToPeriodsType:
          description: 'The up-to-periods type setting for this charge.

            '
          enum:
          - Billing_Periods
          - Days
          - Weeks
          - Months
          - Years
          type: string
        usageRecordRatingOption:
          default: EndOfBillingPeriod
          description: 'Determines how Zuora processes usage records for per-unit usage charges.

            '
          enum:
          - EndOfBillingPeriod
          - OnDemand
          type: string
        useDiscountSpecificAccountingCode:
          description: 'Determines whether to define a new accounting code for the new discount charge.


            **Character limit**: 5


            **Values**: `True`, `False`

            '
          type: boolean
        useTenantDefaultForPriceChange:
          description: "Applies the tenant-level percentage uplift value for an automatic price change to a termed subscription's renewal. \n\n**Character limit**: 5\n\n**Values**: `true`, `false`\n"
          type: boolean
      type: object
    GETProductDiscountApplyDetailsType:
      properties:
        appliedProductRatePlanChargeId:
          description: 'The ID of the product rate plan charge that the discount product rate plan charge applies to.

            '
          type: string
        appliedProductRatePlanId:
          description: 'The ID of the product rate plan that the discount product rate plan charge applies to.

            '
          type: string
      title: productDiscountApplyDetails
      type: object
    ProxyCreateOrModifyProductRatePlanChargeChargeModelConfigurationItem:
      properties:
        Key:
          description: 'The name of the field that is specified for a specific charge model.


            Configuration keys supported are as follows:


            * `formula` (only available if you have the Multi-Attribute Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)

            * `customFieldPerUnitRate` (only available if you have the Pre-Rated Per Unit Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)

            * `customFieldTotalAmount` (only available if you have the Pre-Rated Pricing model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.)

            '
          type: string
        Value:
          description: 'The value of the field that is specified in the `Key` field.


            Possible values are follows:


            * A valid pricing formula to calculate actual rating amount for each usage record. For example, `usageQuantity()*10`. Use it with Key `formula` when the Multi-Attribute Pricing charge model is used. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

            * A name of a usage custom field that carries the per-unit rate for a usage record. For example, `perUnitRate__c`. Use it with Key `customFieldPerUnitRate` when the Pre-Rated Per Unit Pricing charge model is used. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

            * A name of a usage custom field that carries the total amount for a usage record. For example, `totalAmount__c`. Use it with Key `customFieldTotalAmount` when the Pre-Rated Pricing model is used. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.

            '
          type: string
      required:
      - Key
      - Value
      title: ConfigurationItem
      type: object
    ProductRatePlanChargeObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Product Rate Plan Charge object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Product Rate Plan Charge object.

        '
      title: productRatePlanChargeFieldsCustom
      type: object
    ProxyCreateProductRatePlanCharge:
      allOf:
      - properties:
          AccountingCode:
            description: 'The accounting code for the charge. Accounting codes group transactions that contain similar accounting attributes.

              '
            maxLength: 100
            type: string
          ApplyDiscountTo:
            description: 'Specifies the type of charges that you want a specific discount to apply to. All field values are case sensitive and in all-caps.

              '
            enum:
            - ONETIME (1)
            - RECURRING (2)
            - USAGE (4)
            - ONETIMERECURRING (3)
            - ONETIMEUSAGE (5)
            - RECURRINGUSAGE (6)
            - ONETIMERECURRINGUSAGE (7)
            type: string
          BillCycleDay:
            description: 'Sets the bill cycle day (BCD) for the charge. The BCD determines which day of the month customer is billed. The BCD value in the account can override the BCD in this object.


              **Character limit**: 2


              **Values**: a valid BCD integer, 1 - 31

              '
            format: int32
            type: integer
          BillCycleType:
            description: "Specifies how to determine the billing day for the charge. \n\n**Notes**:\n  - If you set this field to `SpecificDayofMonth`, you must specify which day of the month as the billing day for the charge in the BillCycleDay field. \n  - If you set this field to `SpecificDayofWeek`, you must specify which day of the week as the billing day for the charge in the WeeklyBillCycleDay field. \n  - By default, `TermStartDay` and `TermEndDay` are only available for prepayment charges. But you can reach out to Zuora Global Support to request enabling it for non-prepaid recurring charges. Meanwhile, note the following rules applies to these options:\n    - The Term End Day option of the Billing Day field must be coupled with the Align to Term End option of the Billing Period Alignment field.\n    - For prepaid charges, the Term Start Day option of the Billing Day field must be coupled with the existing Align to Term Start option of the Billing Period Alignment field.\n    - For non-prepaid recurring charges: If Billing Day is set to Term Start Day, Billing Period Alignment must be Align to Term Start; If Billing Day is set to Term End Day, Billing Period Alignment can be set to other values.\n"
            enum:
            - DefaultFromCustomer
            - SpecificDayofMonth
            - SubscriptionStartDay
            - ChargeTriggerDay
            - SpecificDayofWeek
            - TermStartDay
            - TermEndDay
            type: string
          BillingPeriod:
            description: "The billing period for the charge. The start day of the billing period is also called the bill cycle day (BCD).\n\n**Notes**:\n  - Specify the number of months or weeks in the SpecificBillingPeriod field if you set this field to `Specific Months` or `Specific Weeks`.\n  - The `Subscription Term` value is in **Limited Availability**.\n"
            enum:
            - Month
            - Quarter
            - Annual
            - Semi-Annual
            - Specific Months
            - Subscription Term
            - Week
            - Specific Weeks
            - Specific Days
            type: string
          BillingPeriodAlignment:
            description: 'Aligns charges within the same subscription if multiple charges begin on different dates.


              **Note:** The `AlignToTermEnd` value is only available for prepayment charges by default. Reach out to Zuora Global Support to enable it for non-prepaid recurring charges.

              '
            enum:
            - AlignToCharge
            - AlignToSubscriptionStart
            - AlignToTermStart
            - AlignToTermEnd
            type: string
          BillingTiming:
            description: "The billing timing for the charge. You can choose to bill in advance or in arrears for recurring charge types. This field is not used in one-time or usage based charge types.\n\nThis feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/). \n"
            enum:
            - In Advance
            - In Arrears
            type: string
          ChargeModel:
            description: "Determines how to calculate charges. Charge models must be individually activated in Zuora Billing administration.\n\n**Notes:**\n  - The `Delivery Pricing` value is available only if you have the Delivery Pricing charge model enabled.\n  - The `MultiAttributePricing` value is available only if you have the Multi-Attribute Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.       \n  - The `PreratedPerUnit` and  value is available only if you have the Pre-rated Per Unit Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.       \n  - The `PreratedPricing` value is available only if you have the Pre-rated Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.     \n  - The `HighWatermarkVolumePricing`value is available only if you have the High Water Mark Volume Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.       \n  - The `HighWatermarkTieredPricing` value is available only if you have the High Water Mark Tiered Pricing charge model enabled. The charge model is available for customers with Enterprise and Nine editions by default. If you are a Growth customer, see [Zuora Editions](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/C_Zuora_Editions) for pricing information.\n"
            enum:
            - Discount-Fixed Amount
            - Discount-Percentage
            - Flat Fee Pricing
            - Per Unit Pricing
            - Overage Pricing
            - Tiered Pricing
            - Tiered with Overage Pricing
            - Volume Pricing
            - Delivery Pricing
            - MultiAttributePricing
            - PreratedPerUnit
            - PreratedPricing`
            - HighWatermarkVolumePricing
            - HighWatermarkTieredPricing
            type: string
          ChargeModelConfiguration:
            $ref: '#/components/schemas/ProxyCreateOrModifyProductRatePlanChargeChargeModelConfiguration'
          ChargeType:
            description: 'Specifies the type of charge.

              '
            enum:
            - OneTime
            - Recurring
            - Usage
            type: string
          CreditOption:
            description: "**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 114 or higher. Otherwise, an error occurs. \n\nThe way to calculate credit. See [Credit Option](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_prepayment_charge#Credit_Option) for more information. \n"
            enum:
            - TimeBased
            - ConsumptionBased
            - FullCreditBack
            type: string
          DefaultQuantity:
            description: "The default quantity of units, such as the number of authors in a hosted wiki service. This field is required if you use a per-unit pricing model. \n\n**Character limit**: 16\n\n**Values**: a valid quantity value. \n\n**Note:** When the `ChargeModel` field is set to `Tiered Pricing` or `Volume Pricing`, if this field is not specified, the value will default to `0`.\n"
            format: double
            type: number
          DeferredRevenueAccount:
            description: "The name of the deferred revenue account for this charge.\n\nThis feature is in **Limited Availability**. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/). \n"
            maxLength: 100
            type: string
          DeliverySchedule:
            $ref: '#/components/schemas/ProxyCreateOrModifyDeliverySchedule'
          Description:
            description: 'A description of the charge.

              '
            maxLength: 500
            type: string
          DiscountLevel:
            description: 'Specifies if the discount applies to just the product rate plan, the entire subscription, or to any activity in the account.

              '
            enum:
            - rateplan
            - subscription
            - account
            type: string
          DrawdownRate:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              To use this field, you must set the `X-Zuora-WSDL-Version` request header to 114 or higher. Otherwise, an error occurs.


              The [conversion rate](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_drawdown_charge#UOM_Conversion) between Usage UOM and Drawdown UOM for a [drawdown charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_drawdown_charge). See [Fields related to Prepaid with Drawdown](https://knowledgecenter.zuora.com/Central_Platform/API/G_SOAP_API/E1_SOAP_API_Object_Reference/ProductRatePlanCharge#Fields_related_to_Prepaid_with_Drawdown) for more information.

              '
            type: number
          DrawdownUom:
            description: "**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 114 or higher. Otherwise, an error occurs. \n\nUnit of measurement for a [drawdown charge](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown/Create_drawdown_charge). \n"
            type: string
          EndDateCondition:
            default: SubscriptionEnd
            description: "Defines when the charge ends after the charge trigger date.\n\n**Values**: \n  - `SubscriptionEnd`: The charge ends on the subscription end date after a specified period based on the trigger date of the charge.  \n  - `FixedPeriod`: The charge ends after a specified period based on the trigger date of the charge. If you set this field to `FixedPeriod`, you must specify the length of the period and a period type by defining the `UpToPeriods` and `UpToPeriodsType` fields. \n  \n**Note**: If the subscription ends before the charge end date, the charge ends when the subscription ends. But if the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge will end on the charge end date.\n"
            enum:
            - SubscriptionEnd
            - FixedPeriod
            type: string
          ExcludeItemBillingFromRevenueAccounting:
            default: false
            description: "The flag to exclude the related invoice items, invoice item adjustments, credit memo items, and debit memo items from revenue accounting.\n\n**Notes**: \n  - To use this field, you must set the `X-Zuora-WSDL-Version` request header to `115` or later. Otherwise, an error occurs.\n  - This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled. \n"
            type: boolean
          ExcludeItemBookingFromRevenueAccounting:
            default: false
            description: "The flag to exclude the related rate plan charges and order line items from revenue accounting.\n\n**Notes**: \n  - To use this field, you must set the `X-Zuora-WSDL-Version` request header to `115` or later. Otherwise, an error occurs.\n  - This field is only available if you have the Order to Revenue or Billing - Revenue Integration feature enabled. \n"
            type: boolean
          IncludedUnits:
            description: 'Specifies the number of units in the base set of units.


              **Character limit**: 16


              **Values**: a positive decimal value

              '
            format: double
            type: number
          IsAllocationEligible:
            description: 'Indicates whether the charge segment is allocation eligible in revenue recognition. The default value is `False`.


              **Values**: `True`, `False`


              **Note**: This field is available only if you have the Additional Revenue Fields property enabled.

              '
            type: boolean
          IsPrepaid:
            description: "**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 114 or higher. Otherwise, an error occurs. \n\nIndicates whether this charge is a prepayment (topup) charge or a drawdown charge. \n\n**Values**: `true` or `false`.\n"
            type: boolean
          IsRollover:
            description: '**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.


              To use this field, you must set the `X-Zuora-WSDL-Version` request header to 114 or higher. Otherwise, an error occurs.


              The value is either "True" or "False". It determines whether the rollover fields are needed.

              '
            type: boolean
          IsStackedDiscount:
            description: "**Note**: This field is only applicable to the Discount - Percentage charge model.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 130 or higher. Otherwise, an error occurs.\n\nThis field indicates whether the discount is to be calculated as stacked discount. Possible values are as follows:\n  - `True`: This is a stacked discount, which should be calculated by stacking with other discounts.\n  - `False`: This is not a stacked discount, which should be calculated in sequence with other discounts.\n\nFor more information, see [Stacked discounts](https://knowledgecenter.zuora.com/Zuora_Billing/Products/Product_Catalog/B_Charge_Models/B_Discount_Charge_Models).\n"
            type: boolean
          IsUnbilled:
            description: "Specifies how to perform the accounting during revenue recognition. The default value is `False`.\n\n**Values**: `True`, `False`\n\n**Note**: This field is available only if you have the Additional Revenue Fields property enabled.    \n"
            type: boolean
          LegacyRevenueReporting:
            description: ''
            type: boolean
          ListPriceBase:
            description: 'The list price base for the product rate plan charge.

              '
            enum:
            - Per Billing Period
            - Per Month
            - Per Week
            - Per Year
            - Per Specific Months
            type: string
          MaxQuantity:
            description: 'Specifies the maximum number of units for this charge. Use this field and the `MinQuantity` field to create a range of units allowed in a product rate plan charge.


              **Character limit**: 16


              **Values**: a positive decimal value

              '
            format: double
            type: number
          MinQuantity:
            description: 'Specifies the minimum number of units for this charge. Use this field and the `MaxQuantity` field to create a range of units allowed in a product rate plan charge.


              **Character limit**: 16


              **Values**: a positive decimal value

              '
            format: double
            type: number
          Name:
            description: 'The name of the product rate plan charge.

              '
            maxLength: 100
            type: string
          NumberOfPeriod:
            description: 'Specifies the number of periods to use when calculating charges in an overage smoothing charge model. The valid value is a positive whole number.

              '
            format: int64
            type: integer
          OverageCalculationOption:
            description: "Determines when to calculate overage charges. If the value of the SmoothingMode field is not specified, the value of this field is ignored.\n\n**Values**: \n  - `EndOfSmoothingPeriod`: This option is used by default. The overage is charged at the end of the smoothing period.\n  - `PerBillingPeriod`: The overage is charged on-demand rather than waiting until the end of the smoothing period.\n"
            enum:
            - EndOfSmoothingPeriod
            - PerBillingPeriod
            type: string
          OverageUnusedUnitsCreditOption:
            description: 'Determines whether to credit the customer with unused units of usage.

              '
            enum:
            - NoCredit
            - CreditBySpecificRate
            type: string
          PrepaidOperationType:
            description: "**Note**: This field is only available if you have the [Prepaid with Drawdown](https://knowledgecenter.zuora.com/Billing/Billing_and_Payments/J_Billing_Operations/Prepaid_with_Drawdown) feature enabled.\n\nTo use this field, you must set the `X-Zuora-WSDL-Version` request header to 114 or higher. Otherwise, an error occurs. \n\nThe type of this charge. It is either a prepayment (topup) charge or a drawdown charge. \n"
            enum:
            - topup
            - drawdown
            type: string
          PrepaidQuantity:
[...]
