openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Offers API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Offers
  description: 'Use offers to define different product packages with multiple prices for all charge types across different geographic regions, sales areas, customers, or billing frequencies, for example.


    The Offer object is in the **Beta** phase.'
paths:
  /v1/offers:
    post:
      summary: Create an offer
      operationId: POST_CreateOffer
      description: 'Creates an offer.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Offers
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTOfferResponse'
              example:
                id: 402880ec86c02ee70186c0414db00075
                number: OF-00000003
                success: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTOfferRequest'
        required: true
    get:
      summary: List offers
      operationId: GET_ListOffers
      description: 'Retrieves basic information about all offers.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Offers
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllOffersResponse'
              example:
                offers:
                - id: 402880ec86c02ee70186c035c9a7002c
                  name: test
                  number: OF-00000001
                  description: some description
                  type: Static
                  pricingLevel: Component
                  effectiveStartTime: '2023-02-20 12:00:00'
                  effectiveEndTime: '2023-12-30 12:05:00'
                  productRatePlanCharges:
                  - id: 402880ec86c02ee70186c0348334001c
                    productRatePlanId: 402880ec86c02ee70186c0343360000f
                    sequence: 1
                    name: charge 1
                    number: PC-00000001
                    type: Recurring
                    model: FlatFee
                    description: null
                    chargeConfiguration:
                      id: 402880ec86c02ee70186c035c9ac0036
                      triggerEvent: ContractEffective
                      billingTiming: IN_ADVANCE
                      billCycleType: DefaultFromCustomer
                      billCycleDay: null
                      weeklyBillCycleDay: null
                      billingPeriod: Month
                      specificBillingPeriod: null
                      billingPeriodAlignment: AlignToCharge
                      endDateCondition: Subscription_End
                      upToPeriods: null
                      upToPeriodsType: null
                    priceBookItems:
                    - id: 402880ec86c02ee70186c035c9ab0030
                      number: PBI-00000004
                      productChargeId: 402880ec86c02ee70186c0348334001c
                      offerId: 402880ec86c02ee70186c035c9a7002c
                      offerNumber: OF-00000001
                      effectiveStartDate: '2023-02-21'
                      effectiveEndDate: '2023-12-31'
                      currency: USD
                      defaultQuantity: 1
                      listPriceBase: Per_Billing_Period
                      includedUnits: null
                      price: 80
                      overagePrice: null
                      tiers: null
                      intervalPrices: null
                success: true
  /v1/offers/{offer-key}:
    get:
      summary: Retrieve an offer
      operationId: GET_RetrieveOffer
      description: 'Retrieves basic information about an offer.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Offers
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: offer-key
        in: path
        description: 'The unique number or ID of the offer to be retrieved.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETOfferResponse'
              example:
                id: 402880ec86c02ee70186c035c9a7002c
                name: test
                number: OF-00000001
                description: some description
                type: Static
                pricingLevel: Component
                effectiveStartTime: '2023-02-20 12:00:00'
                effectiveEndTime: '2023-12-30 12:05:00'
                productRatePlanCharges:
                - id: 402880ec86c02ee70186c0348334001c
                  productRatePlanId: 402880ec86c02ee70186c0343360000f
                  sequence: 1
                  name: charge 1
                  number: PC-00000001
                  type: Recurring
                  model: FlatFee
                  description: null
                  chargeConfiguration:
                    id: 402880ec86c02ee70186c035c9ac0036
                    triggerEvent: ContractEffective
                    billingTiming: IN_ADVANCE
                    billCycleType: DefaultFromCustomer
                    billCycleDay: null
                    weeklyBillCycleDay: null
                    billingPeriod: Month
                    specificBillingPeriod: null
                    billingPeriodAlignment: AlignToCharge
                    endDateCondition: Subscription_End
                    upToPeriods: null
                    upToPeriodsType: null
                  priceBookItems:
                  - id: 402880ec86c02ee70186c035c9ab0030
                    number: PBI-00000004
                    productChargeId: 402880ec86c02ee70186c0348334001c
                    offerId: 402880ec86c02ee70186c035c9a7002c
                    offerNumber: OF-00000001
                    effectiveStartDate: '2023-02-21'
                    effectiveEndDate: '2023-12-31'
                    currency: USD
                    defaultQuantity: 1
                    listPriceBase: Per_Billing_Period
                    includedUnits: null
                    price: 80
                    overagePrice: null
                    tiers: null
                    intervalPrices: null
                success: true
    delete:
      summary: Delete an offer
      operationId: DELETE_Offer
      description: 'Deletes an offer.


        **Note**: This operation is in the **Beta** phase.'
      tags:
      - Offers
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - name: offer-key
        in: path
        description: 'The unique number or ID of the offer to be deleted.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: 'true'
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
  schemas:
    GETOfferChargeConfiguration:
      description: 'Container for the configurations of the product rate plan charge.

        '
      properties:
        billCycleDay:
          description: 'The override value of the billCycleDay for this charge

            '
          type: number
        billCycleType:
          description: 'The override value of the billCycleType for this charge

            '
          enum:
          - DefaultFromCustomer
          - SpecificDayofMonth
          - SubscriptionStartDay
          - ChargeTriggerDay
          - SpecificDayofWeek
          - TermStartDay
          - TermEndDay
          type: string
        billingPeriod:
          description: 'The override value of the billingPeriod for this charge

            '
          enum:
          - Month
          - Quarter
          - Semi_Annual
          - Annual
          - Eighteen_Months
          - Two_Years
          - Three_Years
          - Five_Years
          - Specific_Months
          - Subscription_Term
          - Week
          - Specific_Weeks
          type: string
        billingPeriodAlignment:
          description: 'The override value of the billingPeriodAlignment for this charge

            '
          enum:
          - AlignToCharge
          - AlignToSubscriptionStart
          - AlignToTermStart
          - AlignToTermEnd
          type: string
        billingTiming:
          description: 'The override value of the billingTiming for this charge

            '
          enum:
          - IN_ADVANCE
          - IN_ARREARS
          type: string
        endDateCondition:
          description: 'The override value of the endDateCondition for this charge

            '
          enum:
          - Subscription_End
          - One_Time
          - Fixed_Period
          - Specific_End_Date
          type: string
        id:
          description: 'The unique ID of the product rate plan charge.

            '
        specificBillingPeriod:
          description: 'The override value of the specificBillingPeriod for this charge

            '
          type: number
        triggerEvent:
          description: 'The override value of the triggerEvent for this charge

            '
          enum:
          - ContractEffective
          - ServiceActivation
          - CustomerAcceptance
          - SpecificDate
          type: string
        upToPeriods:
          description: 'The override value of the upToPeriods for this charge

            '
          type: number
        upToPeriodsType:
          description: 'The override value of the upToPeriodsType for this charge

            '
          enum:
          - Billing_Periods
          - Days
          - Weeks
          - Months
          - Years
          type: string
        weeklyBillCycleDay:
          description: 'The override value of the weeklyBillCycleDay for this charge

            '
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
      title: chargeConfiguration
      type: object
    POSTOfferIntervalPrice:
      properties:
        duration:
          description: "The duration of the interval. \n\nIf you set the `type` field to `Infinity`, do not specify the `duration` field in the request.\n"
          type: number
        overagePrice:
          description: "The overage price. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
          type: number
        price:
          description: "The price for the interval. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        sequence:
          description: 'The sequence of the interval.


            The value must be a consecutive positive integer starting from `1`.

            '
          minimum: 1
          type: number
        tiers:
          description: "Container for the tiers. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/POSTOfferTier'
          type: array
        type:
          description: 'The type of the interval.

            '
          enum:
          - Infinity
          - Day
          - Month
          type: string
      required:
      - type
      - sequence
      title: intervalPrices
      type: object
    GETOfferTier:
      properties:
        endingUnit:
          description: 'The ending unit of the tier.

            '
          type: number
        price:
          description: 'The price of the tier.

            '
          type: number
        priceFormat:
          description: 'The price format of the tier.

            '
          enum:
          - FlatFee
          - PerUnit
          type: string
        startingUnit:
          description: 'The starting unit of the tier.

            '
          type: number
        tier:
          description: 'The number of the tier.

            '
          type: number
      title: tiers
      type: object
    GETOfferPriceBookItem:
      properties:
        currency:
          description: 'The currency for the price.

            '
          type: string
        defaultQuantity:
          description: "The default quantity. \n\nThis field is applicable only for one-time and recurring charges.\n"
          type: number
        effectiveEndDate:
          description: 'The effective end date of the price book item.

            '
          format: date
          type: string
        effectiveStartDate:
          description: 'The effective start date of the price book item.

            '
          format: date
          type: string
        id:
          description: 'The unique ID of the price book item.

            '
          type: string
        includedUnits:
          description: "The number of units included in the price book item. \n\nThis field is only applicable for charges with the Overage pricing charge model. \n"
          type: number
        intervalPrices:
          description: "Container for the interval prices of the product rate plan charge. \n\nThis field is applicable only if you want to use interval prices for different periods.\n"
          items:
            $ref: '#/components/schemas/GETOfferIntervalPrice'
          type: array
        listPriceBase:
          description: "The list price base. \n\nThis field is applicable only for recurring charges.\n\n**Note**: The `Per_Year` enum value is available only if you have the <a href=\"https://knowledgecenter.zuora.com/Billing/Subscriptions/Product_Catalog/I_Annual_List_Price\" target=\"_blank\">Annual List Price</a> feature enabled.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        number:
          description: 'The unique number of the price book item.

            '
          type: string
        offerId:
          description: 'The ID of the offer associated with the price book item.

            '
          type: string
        offerNumber:
          description: 'The number of the offer associated with the price book item.

            '
          type: string
        overagePrice:
          description: "The overage price of the price book item. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
          type: number
        price:
          description: "The price of the price book item. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        productChargeId:
          description: 'The ID of the product rate plan charge associated with the price book item.

            '
          type: string
        tiers:
          description: "Container for the tiers of the price book item. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/GETOfferTier'
          type: array
      title: priceBookItems
      type: object
    GETOfferIntervalPrice:
      properties:
        duration:
          description: 'The duration of the interval.

            '
          type: number
        overagePrice:
          description: 'The overage price of the interval.


            This field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.

            '
          type: number
        price:
          description: "The price of the interval. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        sequence:
          description: "The sequence of the interval. \n"
          type: number
        tiers:
          description: "Container for the tiers of the interval. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/GETOfferTier'
          type: array
        type:
          description: 'The type of the interval.

            '
          enum:
          - Infinity
          - Day
          - Month
          type: string
      title: intervalPrices
      type: object
    POSTOfferResponse:
      properties:
        id:
          description: 'The unique ID of the offer.

            '
          type: string
        number:
          description: 'The unique number of the offer.

            '
          type: string
        success:
          description: 'Whether the call succeeded.

            '
          type: boolean
      type: object
    POSTOfferPriceBookItem:
      properties:
        currency:
          description: 'The currency for the price.

            '
          type: string
        defaultQuantity:
          description: "The default quantity of the price book item. \n\nThis field is only applicable for one-time and recurring charges.\n"
          type: number
        includedUnits:
          description: "The number of units included in the price book item. \n\nThis field is only applicable for charges with the Overage pricing charge model.\n"
          type: number
        intervalPrices:
          description: "Container for the interval prices of the product rate plan charge. \n\nThis field is applicable only if you want to use interval prices for different periods.\n"
          items:
            $ref: '#/components/schemas/POSTOfferIntervalPrice'
          type: array
        listPriceBase:
          description: "The list price base of the price book item. \n\nThis field is only applicable for recurring charges.\n"
          enum:
          - Per_Billing_Period
          - Per_Month
          - Per_Week
          - Per_Year
          type: string
        overagePrice:
          description: "The overage price of the price book item. \n\nThis field is only applicable for charges with the Overage or Tiered with Overage pricing charge model.\n"
          type: number
        price:
          description: "The price of the price book item. \n\nThis field is only applicable for charges with the Flat Fee, Per Unit, or Delivery Pricing charge model.\n"
          type: number
        tiers:
          description: "Container for the tiers of the price book item. \n\nThis field is only applicable for charges with the Tiered, Volume, or Tiered with Overage pricing charge model.\n"
          items:
            $ref: '#/components/schemas/POSTOfferTier'
          type: array
      required:
      - currency
      title: priceBookItems
      type: object
    GETOfferProductRatePlanCharge:
      properties:
        chargeConfiguration:
          $ref: '#/components/schemas/GETOfferChargeConfiguration'
        description:
          description: 'The description of the product rate plan charge.

            '
          type: string
        id:
          description: 'The unique ID of the product rate plan charge.

            '
          type: string
        model:
          description: 'The charge model of the product rate plan charge.

            '
          type: string
        name:
          description: 'The name of the product rate plan charge.

            '
          type: string
        number:
          description: 'The unique number of the product rate plan charge.

            '
          type: string
        priceBookItems:
          items:
            $ref: '#/components/schemas/GETOfferPriceBookItem'
          type: array
        productRatePlanId:
          description: 'The unique ID of the product rate plan containing the product rate plan charge.

            '
          type: string
        sequence:
          description: "The sequence of the product rate plan charge in this offer. \n\nThis field is used in scenarios like adding a charge to the same offer for multiple times.\n"
          type: string
        type:
          description: 'The charge type of the product rate plan charge.

            '
          type: string
      title: productRatePlanCharges
      type: object
    POSTOfferChargeConfiguration:
      description: 'Container for the configurations of the product rate plan charge.

        '
      properties:
        billCycleDay:
          description: 'The day of the month when a bill run generates invoices for the account.


            The bill cycle day (BCD) determines which day of the month customer is billed. The BCD value in the account can override the BCD in this object.

            '
          maximum: 31
          minimum: 1
          type: number
        billCycleType:
          description: "How to determine the billing day for the charge. \n\n- If you set this field to `SpecificDayofMonth`, you must also specify the `billCycleDay` field. \n- If you set this field to to `SpecificDayofWeek`, you must also specify the `weeklyBillCycleDay` field.\n"
          enum:
          - DefaultFromCustomer
          - SpecificDayofMonth
          - SubscriptionStartDay
          - ChargeTriggerDay
          - SpecificDayofWeek
          - TermStartDay
          - TermEndDay
          type: string
        billingPeriod:
          description: 'The  billing period for this product rate plan charge. The start day of the billing period is also called the bill cycle day (BCD).

            '
          enum:
          - Month
          - Quarter
          - Semi_Annual
          - Annual
          - Eighteen_Months
          - Two_Years
          - Three_Years
          - Five_Years
          - Specific_Months
          - Subscription_Term
          - Week
          - Specific_Weeks
          type: string
        billingPeriodAlignment:
          description: 'How to align charges within the same subscription if multiple charges begin on different dates.


            **Note:** `AlignToTermEnd` is only available for prepayment charges by default. To enable this value for non-prepaid recurring charges, contact <a href="http://support.zuora.com/" target="_blank">Zuora Global Support</a>.

            '
          enum:
          - AlignToCharge
          - AlignToSubscriptionStart
          - AlignToTermStart
          - AlignToTermEnd
          type: string
        billingTiming:
          description: 'The billing timing for this product rate plan charge.


            You can choose to bill in advance or in arrears for recurring charge types. This field is not used in one-time or usage based charge types.

            '
          enum:
          - IN_ADVANCE
          - IN_ARREARS
          type: string
        endDateCondition:
          default: Subscription_End
          description: "When the product rate plan charge ends after the charge trigger date.\n\n- `Subscription_End`: The charge ends on the subscription end date after a specified period based on the trigger date of the charge. This is the default value. \n- `Fixed_Period`: The charge ends after a specified period based on the trigger date of the charge. If you set this field to `Fixed_Period`, you must specify the length of the period and a period type by defining the `upToPeriods` and `upToPeriodsType` fields. \n\n**Note**: If the subscription ends before the charge end date, the charge ends when the subscription ends. However, if the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge will end on the charge end date.\n"
          enum:
          - Subscription_End
          - One_Time
          - Fixed_Period
          - Specific_End_Date
          type: string
        specificBillingPeriod:
          description: "The number of months or weeks for the billing period of this product rate plan charge. \n\nThis field is required if you set the `billingPeriod` field to `Specific_Months` or `Specific_Weeks`.\n"
          type: number
        triggerEvent:
          description: 'When to start billing the customer for the product rate plan charge.


            - `ContractEffective` indicates the date when the subscription''s contract goes into effect and the charge is ready to be billed.


            - `ServiceActivation` indicates the date when the services or products for a subscription have been activated and the customers have access.


            - `CustomerAcceptance` indicates the date when the customer accepts the services or products for a subscription.

            '
          enum:
          - ContractEffective
          - ServiceActivation
          - CustomerAcceptance
          - SpecificDate
          type: string
        upToPeriods:
          description: "The length of the period during which the charge is active. If this period ends before the subscription ends, the charge ends when this period ends.\n\n**Note**:\n- You must use this field together with the `upToPeriodsType` field to specify the time period. This field is applicable only if you set the `EndDateCondition` field to `Fixed_Period`. \n\n- If the subscription end date is subsequently changed through a Renewal, or Terms and Conditions amendment, the charge end date will change accordingly up to the original period end.\n"
          type: number
        upToPeriodsType:
          description: "The period type used to define when the charge ends.\n\n**Note**: \n- You must use this field together with the `upToPeriods` field to specify the time period.\n- This field is applicable only if you set the `endDateCondition` field to `Fixed_Period`. \n       \n"
          enum:
          - Billing_Periods
          - Days
          - Weeks
          - Months
          - Years
          type: string
        weeklyBillCycleDay:
          description: 'The day of the week when a bill run generates invoices for the account.

            '
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
      title: configuration
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    POSTOfferRequest:
      allOf:
      - properties:
          description:
            description: 'The description of the offer.

              '
            type: string
          effectiveEndTime:
            description: 'The effective end time of the offer.

              '
            format: dateTime
            type: string
          effectiveStartTime:
            description: 'The effective start time of the offer.

              '
            format: dateTime
            type: string
          name:
            description: 'The name of the offer.

              '
            type: string
          pricingLevel:
            default: Component
            description: "The pricing level of the offer. \n"
            enum:
            - Component
            type: string
          productRatePlans:
            description: 'Container for the product rate plans to be added to the offer.

              '
            items:
              $ref: '#/components/schemas/POSTOfferProductRatePlan'
            type: array
          type:
            default: Static
            description: "The type of the offer. \n"
            enum:
            - Static
            type: string
        required:
        - name
        - effectiveStartTime
        - effectiveEndTime
        - productRatePlans
        type: object
      example:
        description: save money
        effectiveEndTime: '2023-02-25 12:05:00'
        effectiveStartTime: '2023-02-20 12:00:00'
        name: greatOffer
        pricingLevel: Component
        productRatePlans:
        - chargeOverrides:
          - configuration:
              billCycleDay: 1
              billCycleType: DefaultFromCustomer
              billingPeriod: Month
              billingPeriodAlignment: AlignToCharge
              billingTiming: IN_ADVANCE
              endDateCondition: Fixed_Period
              specificBillingPeriod: 2
              triggerEvent: ContractEffective
              upToPeriods: 1
              upToPeriodsType: Billing_Periods
              weeklyBillCycleDay: Monday
            prices:
            - currency: USD
              defaultQuantity: 10
              listPriceBase: Billing_Period
              tiers:
              - endingUnit: 10
                price: 5
                priceFormat: FlatFee
                startingUnit: 0
                tier: 1
            productRatePlanChargeId: 402880e680d15aa50180d16238820020
          productRatePlanId: 402880e680d15aa50180d161d1910013
        type: Static
    POSTOfferChargeOverride:
      properties:
        configuration:
          $ref: '#/components/schemas/POSTOfferChargeConfiguration'
        prices:
          description: 'Container for the new prices to override the existing prices of the product rate plan charges.

            '
          items:
            $ref: '#/components/schemas/POSTOfferPriceBookItem'
          type: array
        productRatePlanChargeId:
          description: 'The unique ID of the product rate plan charge.

            '
          type: string
      required:
      - productRatePlanChargeId
      - prices
      title: chargeOverrides
      type: object
    POSTOfferTier:
      properties:
        endingUnit:
          description: 'The ending unit of the tier.

            '
          type: number
        price:
          description: 'The price of the tier.

            '
          type: number
        priceFormat:
          description: 'The price format of the tier.

            '
          enum:
          - FlatFee
          - PerUnit
          type: string
        startingUnit:
          description: 'The starting unit of the tier.

            '
          type: number
        tier:
          description: 'The number of the tier.

            '
          type: number
      required:
      - tier
      - startingUnit
      - price
      title: tiers
      type: object
    GETOfferResponse:
      properties:
        description:
          description: 'The description of the offer.

            '
          type: string
        effectiveEndTime:
          description: 'The effective end time of the offer.

            '
          format: dateTime
          type: string
        effectiveStartTime:
          description: 'The effective start time of the offer.

            '
          format: dateTime
          type: string
        id:
          description: 'The unique ID of the offer.

            '
          type: string
        name:
          description: 'The name of the offer.

            '
          type: string
        number:
          description: 'The unique number of the offer.

            '
          type: string
        pricingLevel:
          default: Component
          description: 'The pricing level of the offer.

            '
          enum:
          - Component
          type: string
        productRatePlanCharges:
          items:
            $ref: '#/components/schemas/GETOfferProductRatePlanCharge'
          type: array
        success:
          description: 'Whether the call succeeded.

            '
          type: boolean
        type:
          default: Static
          description: "The type of the offer. \n"
          enum:
          - Static
          type: string
      type: object
    POSTOfferProductRatePlan:
      allOf:
      - properties:
          chargeOverrides:
            description: 'Container for the charges to override each charge within the product rate plan.

              '
            items:
              $ref: '#/components/schemas/POSTOfferChargeOverride'
            type: array
          productRatePlanId:
            description: 'The unique ID of the product rate plan to add to the offer.

              '
            type: string
        type: object
      required:
      - productRatePlanId
      - chargeOverrides
      title: productRatePlans
    ListAllOffersResponse:
      properties:
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        offers:
          description: 'The list of the offers that are retrieved.

            '
          items:
            $ref: '#/components/schemas/GETOfferResponse'
          type: array
        success:
          description: 'Whether the call succeeded.

            '
          type: boolean
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
