openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Payments API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Payments
  description: 'Use payments to process payments, for example, automate recurring payments, manage overpayments, and create refunds.

    For more information about payments, see Payments.'
paths:
  /v1/payments:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Creates a payment in the following scenarios:


        - A full or partial payment on an invoice or a debit memo

        - A full or partial payment on several invoices and debit memos

        - An unapplied payment in the following situations:

        - You do not know which customer account the payment belongs to.

        - You know which customer account the payment belongs to, but you do not know which invoice the payment is applied to.

        - You receive a payment from your customer that exceeds the balance on the invoice.

        - You receive a payment from your customer before the invoice has been created.

        - You intend to create a payment without any invoices or debit memos.

        - A standalone payment. If you only need to create and process an electronic payment in Zuora through a Zuora gateway integration but settle the payment outside of Zuora, you can create a standalone payment. For a standalone payment, you can specify a currency different from the payment currency in the customer account settings.


        The support for standalone payments is in the Early Adopter phase. To manage and access this feature through the self-service interface, see Manage Features in the Knowledge Center.


        If you do not know to which customer account the payment belongs, you can create a payment without specifying a customer account.


        When you create a payment, the total number of invoice items and debit memo items that the payment will apply to should be less than or equal to 15,000.


        For more information, see Create Payments and Create Payments Without Specifying Customer Accounts.'
      summary: Create a payment
      operationId: POST_CreatePayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentTypeWithPaymentOption'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Processed
                type: External
                accountId: 4028905f5a87c0ff015a87d25ae90025
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 44.1
                unappliedAmount: 0
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: normal payment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 11:30:37'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentType'
        required: true
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all payments from all your customer accounts.


        ### Filtering


        You can use query parameters to restrict the data returned in the response. Each query parameter corresponds to one field in the response body.


        If the value of a filterable field is string, you can set the corresponding query parameter to `null` when filtering. Then, you can get the response data with this field value being `null`.


        Examples:


        - /v1/payments?status=Processed


        - /v1/payments?currency=USD&status=Processed


        - /v1/payments?status=Processed&type=External&sort=+number'
      summary: List payments
      operationId: GET_RetrieveAllPayments
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCollectionResponseType'
              example:
                payments:
                - id: 4028905f5a87c0ff015a87eb6b75007f
                  number: P-00000001
                  status: Processed
                  type: External
                  accountId: 4028905f5a87c0ff015a87d25ae90025
                  accountNumber: A00000001
                  amount: 44.1
                  appliedAmount: 44.1
                  unappliedAmount: 0
                  refundAmount: 0
                  creditBalanceAmount: 0
                  currency: USD
                  effectiveDate: '2017-03-01'
                  comment: normal payment
                  paymentGatewayNumber: PG-00000001
                  paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                  paymentMethodSnapshotId: null
                  authTransactionId: null
                  bankIdentificationNumber: null
                  gatewayId: null
                  gatewayOrderId: null
                  gatewayResponse: null
                  gatewayResponseCode: null
                  gatewayState: NotSubmitted
                  markedForSubmissionOn: null
                  referenceId: null
                  secondPaymentReferenceId: null
                  softDescriptor: null
                  softDescriptorPhone: null
                  submittedOn: null
                  settledOn: null
                  cancelledOn: null
                  createdDate: '2017-03-01 11:30:37'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 11:30:37'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  financeInformation:
                    bankAccountAccountingCode: null
                    bankAccountAccountingCodeType: null
                    unappliedPaymentAccountingCode: null
                    unappliedPaymentAccountingCodeType: null
                    transferredToAccounting: 'No'
                  gatewayReconciliationStatus: null
                  gatewayReconciliationReason: null
                  payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: accountId
        in: query
        required: false
        description: 'This parameter filters the response based on the `accountId` field.

          '
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: 'This parameter filters the response based on the `amount` field.

          '
        schema:
          type: number
          format: double
      - name: appliedAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `appliedAmount` field.

          '
        schema:
          type: number
          format: double
      - name: createdById
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdById` field.

          '
        schema:
          type: string
      - name: createdDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: creditBalanceAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `creditBalanceAmount` field.

          '
        schema:
          type: number
          format: double
      - name: currency
        in: query
        required: false
        description: 'This parameter filters the response based on the `currency` field.

          '
        schema:
          type: string
      - name: effectiveDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `effectiveDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: number
        in: query
        required: false
        description: 'This parameter filters the response based on the `number` field.

          '
        schema:
          type: string
      - name: refundAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `refundAmount` field.

          '
        schema:
          type: number
          format: double
      - name: status
        in: query
        required: false
        description: 'This parameter filters the response based on the `status` field.

          '
        schema:
          type: string
          enum:
          - Draft
          - Processing
          - Processed
          - Error
          - Canceled
          - Posted
      - name: type
        in: query
        required: false
        description: 'This parameter filters the response based on the `type` field.

          '
        schema:
          type: string
          enum:
          - External
          - Electronic
      - name: unappliedAmount
        in: query
        required: false
        description: 'This parameter filters the response based on the `unappliedAmount` field.

          '
        schema:
          type: number
          format: double
      - name: updatedById
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedById` field.

          '
        schema:
          type: string
      - name: updatedDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        required: false
        description: "This parameter restricts the order of the data returned in the response. You can use this parameter to supply a dimension you want to sort on.\n\nA sortable field uses the following form: \n\n*operator* *field_name*\n\nYou can use at most two sortable fields in one URL path. Use a comma to separate sortable fields. For example:  *operator* *field_name*, *operator* *field_name*  \n\n*operator* is used to mark the order of sequencing. The operator is optional. If you only specify the sortable field without any operator, the response data is sorted in descending order by this field.\n\n  - The `-` operator indicates an ascending order.\n  - The `+` operator indicates a descending order.\n\nBy default, the response data is displayed in descending order by payment number.\n\n*field_name* indicates the name of a sortable field. The supported sortable fields of this operation are as below:\n\n  - number\n  - accountId\n  - amount\n  - appliedAmount\n  - unappliedAmount\n  - refundAmount\n  - creditBalanceAmount\n  - effectiveDate\n  - createdDate\n  - createdById\n  - updatedDate\n  - updatedById\n  \nExamples:\n\n- /v1/payments?sort=+number\n\n- /v1/payments?status=Processed&sort=-number,+amount\n"
        schema:
          type: string
  /v1/payments/{paymentId}:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates a payment.'
      summary: Update a payment
      operationId: PUT_UpdatePayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentType'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Processed
                type: External
                accountId: 4028905f5a87c0ff015a88889fe500a8
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 0
                unappliedAmount: 44.1
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: new comment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:25:34'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentId
        required: true
        description: 'The unique ID of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentType'
        required: true
  /v1/payments/{paymentKey}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about one specific payment.'
      summary: Retrieve a payment
      operationId: GET_Payment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentType'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Processed
                type: External
                accountId: 4028905f5a87c0ff015a87d25ae90025
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 44.1
                unappliedAmount: 0
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: normal payment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 11:30:37'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
    delete:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Deletes a payment. Only payments with the Cancelled status can be deleted.


        If you have the Invoice Settlement feature enabled, overpayments applied to credit balance cannot be deleted.'
      summary: Delete a payment
      operationId: DELETE_Payment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
  /v1/payments/{paymentKey}/transfer:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Transfers an unapplied payment.


        For more information, see Transfer Unapplied Payments.'
      summary: Transfer a payment
      operationId: PUT_TransferPayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentType'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Processed
                type: External
                accountId: 4028905f5a87c0ff015a88889fe500a8
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 0
                unappliedAmount: 44.1
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: normal payment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:22:58'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: "The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.          \n"
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPaymentType'
        required: true
  /v1/payments/{paymentKey}/apply:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Applies an unapplied payment to invoices and debit memos.


        When you apply a payment, the total number of invoice items and debit memo items that the payment will apply to must be less than or equal to 15,000.


        If the limit is hit, you can follow the instructions:

        - If you want to apply one payment to multiple invoices or debit memos, decrease the number of invoices or debit memos in the request.

        - If you want to apply one payment to a single invoice or debit memo with a large volume of items, you have to specify invoice items in the request. The maximum number of invoice items that you can specify in the request is 1,000.


        For more information, see Apply Unapplied Payments to Invoices and Debit Memos.'
      summary: Apply a payment
      operationId: PUT_ApplyPayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentType'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Processed
                type: External
                accountId: 4028905f5a87c0ff015a87d25ae90025
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 44.1
                unappliedAmount: 0
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: normal payment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 13:56:15'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyPaymentType'
        required: true
  /v1/payments/{paymentKey}/cancel:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Cancels a payment.


        If you have the Invoice Settlement feature enabled, overpayments applied to credit balance cannot be cancelled.'
      summary: Cancel a payment
      operationId: PUT_CancelPayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentType'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Canceled
                type: External
                accountId: 4028905f5a87c0ff015a88889fe500a8
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 0
                unappliedAmount: 44.1
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: new comment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:26:57'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
  /v1/payments/{paymentKey}/parts:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all parts of a payment. A payment can consist of an unapplied part, and several parts applied to invoices and debit memos. You can use this operation to get all the applied and unapplied portions of a payment. Note that a fully refunded payment does not contain any payment part.'
      summary: List all parts of a payment
      operationId: GET_PaymentParts
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentPartsCollectionType'
              example:
                parts:
                - id: 4028905f5a87c0ff015a87eb6beb008d
                  debitMemoId: 4028905f5a87c0ff015a87e49e6b0062
                  invoiceId: null
                  amount: 4.1
                  createdDate: '2017-03-01 11:30:37'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 11:30:37'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                - id: 4028905f5a87c0ff015a87eb6beb008c
                  debitMemoId: null
                  invoiceId: 4028905f5a87c0ff015a87d3f8f10043
                  amount: 40
                  createdDate: '2017-03-01 11:30:37'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 11:30:37'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
  /v1/payments/{paymentKey}/parts/{partid}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific payment part. A payment can consist of an unapplied part, and several parts applied to invoices and debit memos.


        A fully refunded payment does not contain any payment part.'
      summary: Retrieve a payment part
      operationId: GET_PaymentPart
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentPartType'
              example:
                id: 4028905f5a87c0ff015a87eb6beb008d
                debitMemoId: 4028905f5a87c0ff015a87e49e6b0062
                invoiceId: null
                amount: 4.1
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 11:30:37'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: partid
        required: true
        description: 'The unique ID of a specific payment part. You can get the payment part ID from the response of [List all parts of a payment](/api-references/api/operation/GET_PaymentParts).

          '
        schema:
          type: string
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
  /v1/payments/{paymentKey}/parts/{partid}/itemparts:
    get:
      description: '**Note:** This operation is only available if you have the Invoice Item Settlement feature enabled. Invoice Item Settlement must be used together with other Invoice Settlement features (Unapplied Payments, and Credit and Debit memos). If you wish to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all items of a payment part. A payment part item is a single line item in a payment part. A payment part can consist of several different types of items.'
      summary: List all payment part items
      operationId: GET_PaymentItemParts
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentItemPartCollectionType'
              example:
                itemParts:
                - id: 4028905f5a87c0ff015a87eb6bd8008a
                  invoiceItemId: null
                  debitMemoItemId: 4028905f5a87c0ff015a87e49e7a0063
                  taxItemId: null
                  amount: 4
                  createdDate: '2017-03-01 11:30:37'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 11:30:37'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                - id: 4028905f5a87c0ff015a87eb6bd8008b
                  invoiceItemId: null
                  debitMemoItemId: null
                  taxItemId: 4028905f5a87c0ff015a87e49f5e0065
                  amount: 0.1
                  createdDate: '2017-03-01 11:30:37'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 11:30:37'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - in: path
        name: partid
        required: true
        description: 'The unique ID of a specific payment part. You can get the payment part ID from the response of [List all parts of a payment](/api-references/api/operation/GET_PaymentParts).

          '
        schema:
          type: string
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
  /v1/payments/{paymentKey}/parts/{partid}/itemparts/{itempartid}:
    get:
      description: '**Note:** This operation is only available if you have the Invoice Item Settlement feature enabled. Invoice Item Settlement must be used together with other Invoice Settlement features (Unapplied Payments, and Credit and Debit memos). If you wish to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific payment part item. A payment part item is a single line item in a payment part. A payment part can consist of several different types of items.'
      summary: Retrieve a payment part item
      operationId: GET_PaymentItemPart
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETPaymentItemPartType'
              example:
                id: 4028905f5a87c0ff015a87eb6bd8008a
                invoiceItemId: null
                debitMemoItemId: 4028905f5a87c0ff015a87e49e7a0063
                taxItemId: null
                amount: 4
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 11:30:37'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: partid
        required: true
        description: 'The unique ID of a specific payment part. You can get the payment part ID from the response of [List all parts of a payment](/api-references/api/operation/GET_PaymentParts).

          '
        schema:
          type: string
      - in: path
        name: itempartid
        required: true
        description: 'The unique ID of a specific payment part item. You can get the payment part item ID from the response of [List all payment part items](/api-references/api/operation/GET_PaymentItemParts).

          '
        schema:
          type: string
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
  /v1/payments/{paymentKey}/refunds:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Refunds a full or partial unapplied payment to your customers. To refund applied payments, you must unapply the applied payments from the invoices or debit memos, and then refund the unapplied payments to customers.


        For more information, see Refund Payments.'
      summary: Refund a payment
      operationId: POST_RefundPayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundPaymentType'
              example:
                id: 4028905f5a87c0ff015a889e590e00c9
                number: R-00000001
                status: Processed
                type: External
                methodType: CreditCard
                accountId: 4028905f5a87c0ff015a87d25ae90025
                amount: 4
                refundDate: '2017-03-01'
                comment: Create a refund for unapplied payment.
                paymentGatewayNumber: PG-00000001
                paymentMethodId: null
                paymentMethodSnapshotId: null
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                creditMemoId: null
                reasonCode: Standard Refund
                gatewayId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondRefundReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:46:03'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRefundType'
        required: true
  /v1/payments/{paymentKey}/unapply:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Unapplies an applied payment from invoices and debit memos.


        When you unapply a payment, the total number of invoice items and debit memo items that the payment will unapply from must be less than or equal to 15,000.


        If the limit is hit, you can follow the instructions:

        - If you want to unapply one payment without specifying invoices or debit memos, you have to specify the invoices or debit memos in the request.

        - If you want to unapply one payment from multiple specified invoices or debit memos, decrease the number of invoices or debit memos in the request.

        - If you want to unapply one payment from a single invoice or debit memo with a large volume of items, you have to specify invoice items in the request. The maximum number of invoice items that you can specify in the request is 1,000.


        For more information, see Unapply Payments from Invoices and Debit Memos.'
      summary: Unapply a payment
      operationId: PUT_UnapplyPayment
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETARPaymentType'
              example:
                id: 4028905f5a87c0ff015a87eb6b75007f
                number: P-00000001
                status: Processed
                type: External
                accountId: 4028905f5a87c0ff015a87d25ae90025
                accountNumber: A00000001
                amount: 44.1
                appliedAmount: 32.98
                unappliedAmount: 11.12
                refundAmount: 0
                creditBalanceAmount: 0
                currency: USD
                effectiveDate: '2017-03-01'
                comment: normal payment
                paymentGatewayNumber: PG-00000001
                paymentMethodId: 402881e522cf4f9b0122cf5dc4020045
                paymentMethodSnapshotId: null
                authTransactionId: null
                bankIdentificationNumber: null
                gatewayId: null
                gatewayOrderId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondPaymentReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 11:30:37'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 13:53:12'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnapplyPaymentType'
        required: true
  /v1/payments/{paymentKey}/refunds/unapply:
    post:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Refunds a full or partial unapplied payment to your customers, without the need to unapply the payment first, followed by processing the refund. To refund applied payments, you can now leverage this API to unapply and refund the payment simultaneously.


        For more information, see Refund Payments.'
      summary: Refund a payment with auto-unapplying
      operationId: POST_RefundPaymentwithAutoUnapply
      tags:
      - Payments
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundPaymentTypeAutoUnapply'
              example:
                id: 4028905f5a87c0ff015a889e590e00c9
                number: R-00000001
                status: Processed
                type: External
                methodType: CreditCard
                accountId: 4028905f5a87c0ff015a87d25ae90025
                amount: 100
                refundDate: '2017-03-01'
                comment: Create a refund for unapplied payment.
                paymentGatewayNumber: PG-00000001
                paymentMethodId: null
                paymentMethodSnapshotId: null
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                creditMemoId: null
                reasonCode: Standard Refund
                gatewayId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondRefundReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:46:03'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Idempotency_Key'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: paymentKey
        required: true
        description: 'The unique ID or number of an unapplied payment. For example, `8a8082e65b27f6c3015b89e4344c16b1`, or `P-00000001`.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRefundwithAutoUnapplyType'
        required: true
components:
  parameters:
    GLOBAL_HEADER_Idempotency_Key:
      name: Idempotency-Key
      in: header
      required: false
      description: "Specify a unique idempotency key if you want to perform an idempotent POST or PATCH request. Do not use this header in other request types. \n\nWith this header specified, the Zuora server can identify subsequent retries of the same request using this value, which prevents the same operation from being performed multiple times by accident. \n"
      schema:
        type: string
        maxLength: 255
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
  schemas:
    CreatePaymentType:
      allOf:
      - properties:
          accountId:
            description: 'The ID of the customer account that the payment is created for.

              '
            type: string
          accountNumber:
            description: 'The number of the customer account that the payment is created for, such as `A00000001`.


              You can specify either `accountNumber` or `accountId` for a customer account. If both of them are specified, they must refer to the same customer account.

              '
            type: string
          amount:
            description: 'The total amount of the payment.

              '
            format: double
            type: number
          authTransactionId:
            description: "The authorization transaction ID from the payment gateway. Use this field for electronic payments, such as credit cards.\n\nWhen you create a payment for capturing the authorized funds, it is highly recommended to pass in the gatewayOrderId that you used when authorizing the funds by using the [Create authorization](/api-references/api/operation/POST_CreateAuthorization) operation, together with the `authTransactionId` field.\n\nThe following payment gateways support this field:\n  - Adyen Integration v2.0\n  - CyberSource 1.28\n  - CyberSource 1.97\n  - CyberSource 2.0\n  - Chase Paymentech Orbital\n  - Ingenico ePayments\n  - SlimPay\n  - Stripe v2\n  - Verifi Global Payment Gateway\n  - WePay Payment Gateway Integration\n"
            maxLength: 50
            type: string
          comment:
            description: 'Additional information related to the payment.

              '
            maxLength: 255
            minLength: 0
            type: string
          currency:
            description: 'When Standalone Payment is not enabled, the `currency` of the payment must be the same as the payment currency defined in the customer account settings through Zuora UI.


              When Standalone Payment is enabled and `standalone` is `true`, the `currency` of the standalone payment can be different from the payment currency defined in the customer account settings. The amount will not be summed up to the account balance or key metrics regardless of currency.

              '
            type: string
          customRates:
            description: 'It contains Home currency and Reporting currency custom rates currencies. The maximum number of items is 2 (you can pass the Home currency item or Reporting currency item or both).


              **Note**: The API custom rate feature is permission controlled.

              '
            items:
              $ref: '#/components/schemas/PaymentWithCustomRatesType'
            maxItems: 2
            type: array
          debitMemos:
            description: 'Container for debit memos. The maximum number of debit memos is 1,000.

              '
            items:
              $ref: '#/components/schemas/PaymentDebitMemoApplicationCreateRequestType'
            type: array
          effectiveDate:
            description: "The date when the payment takes effect, in `yyyy-mm-dd` format.\n\n**Note:**\n  - This field is required for only electronic payments. It's an optional field for external payments.\n  - When specified, this field must be set to the date of today.\n"
            format: date
            type: string
          financeInformation:
            description: 'Container for the finance information related to the payment.

              '
            properties:
              bankAccountAccountingCode:
                description: 'The accounting code that maps to a bank account in your accounting system.

                  '
                maxLength: 100
                minLength: 0
                type: string
              transferredToAccounting:
                description: "Whether the payment was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
                enum:
                - Processing
                - 'Yes'
                - 'No'
                - Error
                - Ignore
                type: string
              unappliedPaymentAccountingCode:
                description: 'The accounting code for the unapplied payment.

                  '
                maxLength: 100
                minLength: 0
                type: string
            type: object
          gatewayId:
[...]
