openapi: 3.2.0
info:
  version: '2023-12-15'
  title: Reference Refunds API
  description: '# Introduction


    Welcome to the REST API reference for the Zuora Billing, Payments, and Central Platform!'
  contact:
    email: docs@zuora.com
servers:
- url: https://rest.zuora.com/
tags:
- name: Refunds
  description: 'Zuora allows you to issue and track refunds on payments. Similar to external payments, users can enter external refunds to track refunds that have been performed outside of Zuora Payments (for example, by issuing a check).

    In addition, you can make electronic refunds using our supported payment gateways, which will automatically refund money to the customer.'
paths:
  /v1/refunds:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all refunds. Two types of refunds are available, electronic refunds and external refunds.


        ### Filtering


        You can use query parameters to restrict the data returned in the response. Each query parameter corresponds to one field in the response body.


        If the value of a filterable field is string, you can set the corresponding query parameter to `null` when filtering. Then, you can get the response data with this field value being `null`.


        Examples:


        - /v1/refunds?status=Processed


        - /v1/refunds?amount=4&status=Processed


        - /v1/refunds?status=Processed&type=External&sort=+number'
      summary: List refunds
      operationId: GET_Refunds
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundCollectionType'
              example:
                refunds:
                - id: 4028905f5a87c0ff015a889e590e00c9
                  number: R-00000001
                  status: Processed
                  type: External
                  methodType: CreditCard
                  accountId: 4028905f5a87c0ff015a87d25ae90025
                  amount: 4
                  refundDate: '2017-03-01'
                  comment: update comment
                  paymentMethodId: null
                  paymentMethodSnapshotId: null
                  paymentId: 4028905f5a87c0ff015a889ddfb800c0
                  creditMemoId: null
                  reasonCode: Standard Refund
                  gatewayId: null
                  gatewayResponse: null
                  gatewayResponseCode: null
                  gatewayState: NotSubmitted
                  markedForSubmissionOn: null
                  referenceId: null
                  secondRefundReferenceId: null
                  softDescriptor: null
                  softDescriptorPhone: null
                  submittedOn: null
                  settledOn: null
                  cancelledOn: null
                  createdDate: '2017-03-01 14:46:03'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 16:56:41'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                  refundTransactionTime: null
                  financeInformation:
                    bankAccountAccountingCode: null
                    bankAccountAccountingCodeType: null
                    unappliedPaymentAccountingCode: null
                    unappliedPaymentAccountingCodeType: null
                    transferredToAccounting: 'No'
                  gatewayReconciliationStatus: null
                  gatewayReconciliationReason: null
                  payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - name: accountId
        in: query
        required: false
        description: 'This parameter filters the response based on the `accountId` field.

          '
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: 'This parameter filters the response based on the `amount` field.

          '
        schema:
          type: number
          format: double
      - name: createdById
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdById` field.

          '
        schema:
          type: string
      - name: createdDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `createdDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: methodType
        in: query
        required: false
        description: 'This parameter filters the response based on the `methodType` field.

          '
        schema:
          type: string
          enum:
          - ACH
          - Cash
          - Check
          - CreditCard
          - PayPal
          - WireTransfer
          - DebitCard
          - CreditCardReferenceTransaction
          - BankTransfer
          - Other
      - name: number
        in: query
        required: false
        description: 'This parameter filters the response based on the `number` field.

          '
        schema:
          type: string
      - name: paymentId
        in: query
        required: false
        description: 'This parameter filters the response based on the `paymentId` field.

          '
        schema:
          type: string
      - name: refundDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `refundDate` field.

          '
        schema:
          type: string
          format: date
      - name: status
        in: query
        required: false
        description: 'This parameter filters the response based on the `status` field.

          '
        schema:
          type: string
          enum:
          - Processed
          - Canceled
          - Error
          - Processing
      - name: type
        in: query
        required: false
        description: 'This parameter filters the response based on the `type` field.

          '
        schema:
          type: string
          enum:
          - External
          - Electronic
      - name: updatedById
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedById` field.

          '
        schema:
          type: string
      - name: updatedDate
        in: query
        required: false
        description: 'This parameter filters the response based on the `updatedDate` field.

          '
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        required: false
        description: "This parameter restricts the order of the data returned in the response. You can use this parameter to supply a dimension you want to sort on.\n\nA sortable field uses the following form: \n\n*operator* *field_name*\n\nYou can use at most two sortable fields in one URL path. Use a comma to separate sortable fields. For example:  *operator* *field_name*, *operator* *field_name*  \n\n*operator* is used to mark the order of sequencing. The operator is optional. If you only specify the sortable field without any operator, the response data is sorted in descending order by this field.\n\n  - The `-` operator indicates an ascending order.\n  - The `+` operator indicates a descending order.\n\nBy default, the response data is displayed in descending order by refund number.\n\n*field_name* indicates the name of a sortable field. The supported sortable fields of this operation are as below:\n\n  - number\n  - accountId\n  - amount\n  - refundDate\n  - paymentId\n  - createdDate\n  - createdById\n  - updatedDate\n  - updatedById\n  \nExamples:\n\n- /v1/refunds?sort=+number\n\n- /v1/refunds?status=Processed&sort=-number,+amount\n"
        schema:
          type: string
  /v1/refunds/{refundId}:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Updates the basic and finance information about a refund.'
      summary: Update a refund
      operationId: PUT_UpdateRefund
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundType'
              example:
                id: 4028905f5a87c0ff015a889e590e00c9
                number: R-00000001
                status: Processed
                type: External
                methodType: CreditCard
                accountId: 4028905f5a87c0ff015a87d25ae90025
                amount: 4.0
                refundDate: '2017-03-01'
                comment: update comment
                paymentMethodId: null
                paymentMethodSnapshotId: null
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                creditMemoId: null
                reasonCode: Standard Refund
                gatewayId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondRefundReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 16:56:41'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: refundId
        required: true
        description: 'The unique ID of a refund. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PUTRefundType'
        required: true
  /v1/refunds/{refundKey}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific refund.'
      summary: Retrieve a refund
      operationId: GET_Refund
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundType'
              example:
                id: 4028905f5a87c0ff015a889e590e00c9
                number: R-00000001
                status: Processed
                type: External
                methodType: CreditCard
                accountId: 4028905f5a87c0ff015a87d25ae90025
                amount: 4
                refundDate: '2017-03-01'
                comment: Create a refund for unapplied payment.
                paymentMethodId: null
                paymentMethodSnapshotId: null
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                creditMemoId: null
                reasonCode: Standard Refund
                gatewayId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondRefundReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: null
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:46:03'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: refundKey
        required: true
        description: 'The unique ID of a refund or the refund number. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
    delete:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Deletes a refund. You can delete a refund with the Canceled status. Note that refunds applied to credit balance cannot be deleted.'
      summary: Delete a refund
      operationId: DELETE_Refund
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseType'
              example:
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: refundKey
        required: true
        description: 'The unique ID of a refund or the refund number. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
  /v1/refunds/{refundKey}/cancel:
    put:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Cancels a refund.


        If you have the Invoice Settlement feature enabled, refunds applied to credit balance cannot be cancelled.'
      summary: Cancel a refund
      operationId: PUT_CancelRefund
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundType'
              example:
                id: 4028905f5a87c0ff015a889e590e00c9
                number: R-00000001
                status: Canceled
                type: External
                methodType: CreditCard
                accountId: 4028905f5a87c0ff015a87d25ae90025
                amount: 4
                refundDate: '2017-03-01'
                comment: update comment
                paymentMethodId: null
                paymentMethodSnapshotId: null
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                creditMemoId: null
                reasonCode: Standard Refund
                gatewayId: null
                gatewayResponse: null
                gatewayResponseCode: null
                gatewayState: NotSubmitted
                markedForSubmissionOn: null
                referenceId: null
                secondRefundReferenceId: null
                softDescriptor: null
                softDescriptorPhone: null
                submittedOn: null
                settledOn: null
                cancelledOn: '2017-03-01 17:03:07'
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 17:03:07'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                refundTransactionTime: null
                financeInformation:
                  bankAccountAccountingCode: null
                  bankAccountAccountingCodeType: null
                  unappliedPaymentAccountingCode: null
                  unappliedPaymentAccountingCodeType: null
                  transferredToAccounting: 'No'
                gatewayReconciliationStatus: null
                gatewayReconciliationReason: null
                payoutId: null
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: refundKey
        required: true
        description: "The unique ID of a refund or the refund number. For example, 4028905f5a87c0ff015a889e590e00c9.      \n"
        schema:
          type: string
  /v1/refunds/{refundKey}/parts:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all parts of a refund.'
      summary: List all parts of a refund
      operationId: GET_RefundParts
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundPartCollectionType'
              example:
                parts:
                - id: 4028905f5a87c0ff015a889e592b00cf
                  paymentId: 4028905f5a87c0ff015a889ddfb800c0
                  creditMemoId: null
                  amount: 4
                  createdDate: '2017-03-01 14:46:03'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 14:46:03'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: refundKey
        required: true
        description: 'The number or unique ID of a refund. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
  /v1/refunds/{refundKey}/parts/{refundpartid}:
    get:
      description: '**Note:** This operation is only available if you have Invoice Settlement enabled. The Invoice Settlement feature is generally available as of Zuora Billing Release 296 (March 2021). This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement. If you want to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific refund part.'
      summary: Retrieve a refund part
      operationId: GET_RefundPart
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPartResponseType'
              example:
                id: 4028905f5a87c0ff015a889e592b00cf
                paymentId: 4028905f5a87c0ff015a889ddfb800c0
                creditMemoId: null
                amount: 4
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:46:03'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: refundpartid
        required: true
        description: 'The unique ID of a specific refund part. You can get the refund part ID from the response of [List all parts of a refund](/api-references/api/operation/GET_RefundParts).

          '
        schema:
          type: string
      - in: path
        name: refundKey
        required: true
        description: 'The number or unique ID of a refund. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
  /v1/refunds/{refundKey}/parts/{refundpartid}/itemparts:
    get:
      description: '**Note:** This operation is only available if you have the Invoice Item Settlement feature enabled. Invoice Item Settlement must be used together with other Invoice Settlement features (Unapplied Payments, and Credit and Debit memos). If you wish to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about all items of a refund part. A refund part item is a single line item in a refund part. A refund part can consist of several different types of items.'
      summary: List all refund part items
      operationId: GET_RefundItemParts
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundItemPartCollectionType'
              example:
                itemParts:
                - id: 4028905f5a87c0ff015a889e592a00ce
                  amount: 4
                  creditMemoItemId: null
                  creditTaxItemId: null
                  createdDate: '2017-03-01 14:46:03'
                  createdById: 402881e522cf4f9b0122cf5d82860002
                  updatedDate: '2017-03-01 14:46:03'
                  updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_page'
      - $ref: '#/components/parameters/GLOBAL_REQUEST_pageSize'
      - in: path
        name: refundpartid
        required: true
        description: 'The unique ID of a specific refund part. You can get the refund part ID from the response of [List all parts of a refund](/api-references/api/operation/GET_RefundParts).

          '
        schema:
          type: string
      - in: path
        name: refundKey
        required: true
        description: 'The number or unique ID of a refund. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
  /v1/refunds/{refundKey}/parts/{refundpartid}/itemparts/{itempartid}:
    get:
      description: '**Note:** This operation is only available if you have the Invoice Item Settlement feature enabled. Invoice Item Settlement must be used together with other Invoice Settlement features (Unapplied Payments, and Credit and Debit memos). If you wish to enable Invoice Settlement, see Invoice Settlement Enablement and Checklist Guide for more information.


        Retrieves the information about a specific refund part item. A refund part item is a single line item in a refund part. A refund part can consist of several different types of items.'
      summary: Retrieve a refund part item
      operationId: GET_RefundItemPart
      tags:
      - Refunds
      responses:
        '200':
          headers:
            Content-Encoding:
              description: "This header is returned if you specify the `Accept-Encoding: gzip` request header and the response contains over 1000 bytes of data.\n\nNote that only the following MIME types support gzipped responses:\n  - `application/json`\n  - `application/xml`\n  - `text/html`\n  - `text/csv`\n  - `text/plain`\n"
              schema:
                type: string
            RateLimit-Limit:
              description: 'The request limit quota for the time window closest to exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: string
            RateLimit-Remaining:
              description: 'The number of requests remaining in the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            RateLimit-Reset:
              description: 'The number of seconds until the quota resets for the time window closest to quota exhaustion. See [rate limits](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits#Rate_limits) for more information.

                '
              schema:
                type: number
            Zuora-Request-Id:
              description: 'The Zuora internal identifier of the API call. You cannot control the value of this header.

                '
              schema:
                type: string
                maxLength: 36
                minLength: 36
            Zuora-Track-Id:
              description: 'A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.

                '
              schema:
                type: string
                maxLength: 64
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETRefundItemPartType'
              example:
                id: 4028905f5a87c0ff015a889e592a00ce
                amount: 4
                creditMemoItemId: null
                creditTaxItemId: null
                createdDate: '2017-03-01 14:46:03'
                createdById: 402881e522cf4f9b0122cf5d82860002
                updatedDate: '2017-03-01 14:46:03'
                updatedById: 402881e522cf4f9b0122cf5d82860002
                success: true
      parameters:
      - $ref: '#/components/parameters/GLOBAL_HEADER_Accept_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Content_Encoding'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Authorization_OAuth_optional'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Track_Id'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
      - $ref: '#/components/parameters/GLOBAL_HEADER_Zuora_Org_Ids'
      - in: path
        name: itempartid
        required: true
        description: 'The unique ID of a specific refund part item. You can get the refund part item ID from the response of [Get refund part items](/api-references/api/operation/GET_RefundItemParts).

          '
        schema:
          type: string
      - in: path
        name: refundpartid
        required: true
        description: 'The unique ID of a specific refund part. You can get the refund part ID from the response of [List all parts of a refund](/api-references/api/operation/GET_RefundParts).

          '
        schema:
          type: string
      - in: path
        name: refundKey
        required: true
        description: 'The number or unique ID of a refund. For example, 4028905f5a87c0ff015a889e590e00c9.

          '
        schema:
          type: string
components:
  parameters:
    GLOBAL_HEADER_Zuora_Track_Id:
      name: Zuora-Track-Id
      in: header
      required: false
      description: 'A custom identifier for tracing the API call. If you set a value for this header, Zuora returns the same value in the response headers. This header enables you to associate your system process identifiers with Zuora API calls, to assist with troubleshooting in the event of an issue.


        The value of this field must use the US-ASCII character set and must not include any of the following characters: colon (`:`), semicolon (`;`), double quote (`"`), and quote (`''`).

        '
      schema:
        type: string
        maxLength: 64
    GLOBAL_REQUEST_pageSize:
      name: pageSize
      in: query
      required: false
      description: 'The number of records returned per page in the response.

        '
      schema:
        type: integer
        default: 20
        maximum: 40
    GLOBAL_HEADER_Authorization_OAuth_optional:
      name: Authorization
      in: header
      required: false
      description: 'The value is in the `Bearer {token}` format where {token} is a valid OAuth token generated by calling [Create an OAuth token](/api-references/api/operation/createToken).

        '
      schema:
        type: string
    GLOBAL_HEADER_Accept_Encoding:
      name: Accept-Encoding
      in: header
      required: false
      description: "Include the `Accept-Encoding: gzip` header to compress responses as a gzipped file. It can significantly reduce the bandwidth required for a response. \n\nIf specified, Zuora automatically compresses responses that contain over 1000 bytes of data, and the response contains a `Content-Encoding` header with the compression algorithm so that your client can decompress it.\n"
      schema:
        type: string
    GLOBAL_HEADER_Content_Encoding:
      name: Content-Encoding
      in: header
      required: false
      description: 'Include the `Content-Encoding: gzip` header to compress a request. With this header specified, you should upload a gzipped file for the request payload instead of sending the JSON payload.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Entity_Ids_Single:
      name: Zuora-Entity-Ids
      in: header
      required: false
      description: 'An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.

        '
      schema:
        type: string
    GLOBAL_HEADER_Zuora_Org_Ids:
      name: Zuora-Org-Ids
      in: header
      required: false
      description: "Comma separated IDs. If you have <a href=\"https://knowledgecenter.zuora.com/Zuora_Central_Platform/Multi-Org\" target=\"_blank\">Zuora Multi-Org</a> enabled, \nyou can use this header to specify which orgs to perform the operation in. If you do not have Zuora Multi-Org enabled, you should not set this header.\n\nThe IDs must be a sub-set of the user's accessible orgs. If you specify an org that the user does not have access to, the operation fails.\n\nIf the header is not set, the operation is performed in scope of the user's accessible orgs.\n"
      schema:
        type: string
    GLOBAL_REQUEST_page:
      name: page
      in: query
      required: false
      description: 'The index number of the page that you want to retrieve. This parameter is dependent on `pageSize`. You must set `pageSize` before specifying `page`. For example, if you set `pageSize` to `20` and `page` to `2`, the 21st to 40th records are returned in the response.

        '
      schema:
        type: integer
        default: 1
        minimum: 1
  schemas:
    RefundPartResponseTypewithSuccess:
      properties:
        amount:
          description: 'The amount of the refund part.

            '
          format: double
          type: number
        createdById:
          description: 'The ID of the Zuora user who created the refund part.

            '
          type: string
        createdDate:
          description: 'The date and time when the refund part was created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditMemoId:
          description: 'The ID of the credit memo associated with the refund part.

            '
          type: string
        id:
          description: 'The ID of the refund part.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        paymentId:
          description: 'The ID of the payment associated with the refund part.

            '
          type: string
        updatedById:
          description: 'The ID of the Zuora user who last updated the refund part.

            '
          type: string
        updatedDate:
          description: 'The date and time when the refund part was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-02 15:36:10.

            '
          format: date-time
          type: string
      title: parts
      type: object
    RefundObjectCustomFields:
      additionalProperties:
        description: 'Custom fields of the Refund object. The name of each custom field has the form <code>*customField*__c</code>. Custom field names are case sensitive. See [Manage Custom Fields](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Manage_Custom_Fields) for more information.

          '
      description: 'Container for custom fields of a Refund object.

        '
      title: refundFieldsCustom
      type: object
    GETRefundItemPartType:
      properties:
        amount:
          description: 'The amount of the refund part item.

            '
          format: double
          type: number
        createdById:
          description: 'The ID of the Zuora user who created the refund part item.

            '
          type: string
        createdDate:
          description: 'The date and time when the refund part item was created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditMemoItemId:
          description: 'The ID of the credit memo item associated with the refund part item.

            '
          type: string
        creditTaxItemId:
          description: 'The ID of the credit memo taxation item associated with the refund part item.

            '
          type: string
        id:
          description: 'The ID of the refund part item.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        success:
          description: Returns `true` if the request was processed successfully.
          type: boolean
        updatedById:
          description: 'The ID of the Zuora user who last updated the refund part item.

            '
          type: string
        updatedDate:
          description: 'The date and time when the refund part item was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-02 15:36:10.

            '
          format: date-time
          type: string
      type: object
    RefundObjectNSFields:
      description: 'Container for Refund fields provided by the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

        '
      properties:
        IntegrationId__NS:
          description: 'ID of the corresponding object in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        IntegrationStatus__NS:
          description: 'Status of the refund''s synchronization with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        Origin__NS:
          description: 'Origin of the corresponding object in NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        SyncDate__NS:
          description: 'Date when the refund was synchronized with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
        SynctoNetSuite__NS:
          description: 'Specifies whether the refund should be synchronized with NetSuite. Only available if you have installed the [Zuora Connector for NetSuite](https://www.zuora.com/connect/app/?appId=265).

            '
          maxLength: 255
          type: string
      title: refundFieldsNS
      type: object
    PUTRefundType:
      allOf:
      - properties:
          comment:
            description: 'Comments about the refund.

              '
            maxLength: 255
            minLength: 0
            type: string
          financeInformation:
            description: 'Container for the finance information related to the refund.

              '
            properties:
              bankAccountAccountingCode:
                description: 'The accounting code that maps to a bank account in your accounting system.

                  '
                maxLength: 100
                minLength: 0
                type: string
              transferredToAccounting:
                description: "Whether the payment was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
                enum:
                - Processing
                - 'Yes'
                - 'No'
                - Error
                - Ignore
                type: string
              unappliedPaymentAccountingCode:
                description: 'The accounting code for the unapplied payment.

                  '
                maxLength: 100
                minLength: 0
                type: string
            type: object
          reasonCode:
            description: 'A code identifying the reason for the transaction. The value must be an existing reason code or empty. If you do not specify a value, Zuora uses the default reason code.

              '
            type: string
          referenceId:
            description: 'The transaction ID returned by the payment gateway. Use this field to reconcile refunds between your gateway and Zuora Payments.


              You can only update the reference ID for external refunds.

              '
            maxLength: 100
            minLength: 0
            type: string
        type: object
      - $ref: '#/components/schemas/RefundObjectNSFields'
      - $ref: '#/components/schemas/RefundObjectCustomFields'
      example:
        comment: update comment
        financeInformation:
          transferredToAccounting: 'No'
    GETRefundTypewithSuccess:
      allOf:
      - properties:
          accountId:
            description: 'The ID of the account associated with this refund. Zuora associates the refund automatically with the account from the associated payment or credit memo.

              '
            type: string
          amount:
            description: 'The total amount of the refund.

              '
            format: double
            type: number
          cancelledOn:
            description: 'The date and time when the refund was cancelled, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          comment:
            description: 'Comments about the refund.

              '
            type: string
          createdById:
            description: 'The ID of the Zuora user who created the refund.

              '
            type: string
          createdDate:
            description: 'The date and time when the refund was created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-01 15:31:10.

              '
            format: date-time
            type: string
          creditMemoId:
            description: 'The ID of the credit memo that is refunded.

              '
            type: string
          financeInformation:
            description: 'Container for the finance information related to the refund.

              '
            properties:
              bankAccountAccountingCode:
                description: 'The accounting code that maps to a bank account in your accounting system.

                  '
                type: string
              bankAccountAccountingCodeType:
                description: 'The type of the accounting code that maps to a bank account in your accounting system.

                  '
                type: string
              transferredToAccounting:
                description: "Whether the refund was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
                enum:
                - Processing
                - 'Yes'
                - 'No'
                - Error
                - Ignore
                type: string
              unappliedPaymentAccountingCode:
                description: 'The accounting code for the unapplied payment.

                  '
                type: string
              unappliedPaymentAccountingCodeType:
                description: 'The type of the accounting code for the unapplied payment.

                  '
                type: string
            type: object
          gatewayId:
            description: 'The ID of the gateway instance that processes the refund.

              '
            type: string
          gatewayReconciliationReason:
            description: 'The reason of gateway reconciliation.

              '
            type: string
          gatewayReconciliationStatus:
            description: 'The status of gateway reconciliation.

              '
            type: string
          gatewayResponse:
            description: 'The message returned from the payment gateway for the refund. This message is gateway-dependent.

              '
            type: string
          gatewayResponseCode:
            description: 'The code returned from the payment gateway for the refund. This code is gateway-dependent.

              '
            type: string
          gatewayState:
            description: "The status of the refund in the gateway. \n"
            enum:
            - MarkedForSubmission
            - Submitted
            - Settled
            - NotSubmitted
            - FailedToSettle
            type: string
          id:
            description: 'The ID of the refund.

              '
            type: string
          markedForSubmissionOn:
            description: 'The date and time when a refund was marked and waiting for batch submission to the payment process, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          methodType:
            description: "How an external refund was issued to a customer. \n"
            enum:
            - ACH
            - Cash
            - Check
            - CreditCard
            - PayPal
            - WireTransfer
            - DebitCard
            - CreditCardReferenceTransaction
            - BankTransfer
            - Other
            type: string
          number:
            description: 'The unique identification number of the refund.

              '
            type: string
          organizationLabel:
            description: 'The organization that this object belongs to.


              Note: This field is available only when the Multi-Org feature is enabled.

              '
            type: string
          paymentId:
            description: 'The ID of the payment that is refunded.

              '
            type: string
          paymentMethodId:
            description: 'The unique ID of the payment method that the customer used to make the refund.

              '
            type: string
          paymentMethodSnapshotId:
            description: 'The unique ID of the payment method snapshot, which is a copy of the particular payment method used in a transaction.

              '
            type: string
          payoutId:
            description: 'The payout ID of the refund from the gateway side.

              '
            type: string
          reasonCode:
            description: 'A code identifying the reason for the transaction.

              '
            type: string
          referenceId:
            description: 'The transaction ID returned by the payment gateway for an electronic refund. Use this field to reconcile refunds between your gateway and Zuora Payments.

              '
            type: string
          refundDate:
            description: 'The date when the refund takes effect, in `yyyy-mm-dd` format. For example, 2017-03-01.

              '
            format: date
            type: string
          refundTransactionTime:
            description: 'The date and time when the refund was issued, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          secondRefundReferenceId:
            description: 'The transaction ID returned by the payment gateway if there is an additional transaction for the refund. Use this field to reconcile payments between your gateway and Zuora Payments.

              '
            type: string
          settledOn:
            description: 'The date and time when the refund was settled in the payment processor, in `yyyy-mm-dd hh:mm:ss` format. This field is used by the Spectrum gateway only and not applicable to other gateways.

              '
            format: date-time
            type: string
          softDescriptor:
            description: 'A payment gateway-specific field that maps Zuora to other gateways.

              '
            type: string
          softDescriptorPhone:
            description: 'A payment gateway-specific field that maps Zuora to other gateways.

              '
            type: string
          status:
            description: "The status of the refund. \n"
            enum:
            - Processed
            - Canceled
            - Error
            - Processing
            type: string
          submittedOn:
            description: 'The date and time when the refund was submitted, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          type:
            description: "The type of the refund. \n"
            enum:
            - External
            - Electronic
            type: string
          updatedById:
            description: 'The ID of the Zuora user who last updated the refund.

              '
            type: string
          updatedDate:
            description: 'The date and time when the refund was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-02 15:36:10.

              '
            format: date-time
            type: string
        type: object
      - $ref: '#/components/schemas/RefundObjectNSFields'
      - $ref: '#/components/schemas/RefundObjectCustomFields'
      title: refunds
    GETRefundType:
      allOf:
      - properties:
          accountId:
            description: 'The ID of the account associated with this refund. Zuora associates the refund automatically with the account from the associated payment or credit memo.

              '
            type: string
          amount:
            description: 'The total amount of the refund.

              '
            format: double
            type: number
          cancelledOn:
            description: 'The date and time when the refund was cancelled, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          comment:
            description: 'Comments about the refund.

              '
            type: string
          createdById:
            description: 'The ID of the Zuora user who created the refund.

              '
            type: string
          createdDate:
            description: 'The date and time when the refund was created, in `yyyy-mm-dd hh:mm:ss` format. For example, `2017-03-01 15:31:10`.

              '
            format: date-time
            type: string
          creditMemoId:
            description: 'The ID of the credit memo that is refunded.

              '
            type: string
          financeInformation:
            description: 'Container for the finance information related to the refund.

              '
            properties:
              bankAccountAccountingCode:
                description: 'The accounting code that maps to a bank account in your accounting system.

                  '
                type: string
              bankAccountAccountingCodeType:
                description: 'The type of the accounting code that maps to a bank account in your accounting system.

                  '
                type: string
              transferredToAccounting:
                description: "Whether the refund was transferred to an external accounting system. Use this field for integration with accounting systems, such as NetSuite. \n"
                enum:
                - Processing
                - 'Yes'
                - 'No'
                - Error
                - Ignore
                type: string
              unappliedPaymentAccountingCode:
                description: 'The accounting code for the unapplied payment.

                  '
                type: string
              unappliedPaymentAccountingCodeType:
                description: 'The type of the accounting code for the unapplied payment.

                  '
                type: string
            type: object
          gatewayId:
            description: 'The ID of the gateway instance that processes the refund.

              '
            type: string
          gatewayReconciliationReason:
            description: 'The reason of gateway reconciliation.

              '
            type: string
          gatewayReconciliationStatus:
            description: 'The status of gateway reconciliation.

              '
            type: string
          gatewayResponse:
            description: 'The message returned from the payment gateway for the refund. This message is gateway-dependent.

              '
            type: string
          gatewayResponseCode:
            description: 'The code returned from the payment gateway for the refund. This code is gateway-dependent.

              '
            type: string
          gatewayState:
            description: 'The status of the refund in the gateway.

              '
            enum:
            - MarkedForSubmission
            - Submitted
            - Settled
            - NotSubmitted
            - FailedToSettle
            type: string
          id:
            description: 'The ID of the refund.

              '
            type: string
          markedForSubmissionOn:
            description: "The date and time when a refund was marked and waiting for batch submission to the payment process, in `yyyy-mm-dd hh:mm:ss` format. \n"
            format: date-time
            type: string
          methodType:
            description: "How an external refund was issued to a customer. \n"
            enum:
            - ACH
            - Cash
            - Check
            - CreditCard
            - PayPal
            - WireTransfer
            - DebitCard
            - CreditCardReferenceTransaction
            - BankTransfer
            - Other
            type: string
          number:
            description: 'The unique identification number of the refund.

              '
            type: string
          organizationLabel:
            description: 'The organization that this object belongs to.


              Note: This field is available only when the Multi-Org feature is enabled.

              '
            type: string
          paymentId:
            description: 'The ID of the payment that is refunded.

              '
            type: string
          paymentMethodId:
            description: 'The unique ID of the payment method that the customer used to make the refund.

              '
            type: string
          paymentMethodSnapshotId:
            description: 'The unique ID of the payment method snapshot, which is a copy of the particular payment method used in a transaction.

              '
            type: string
          payoutId:
            description: 'The payout ID of the refund from the gateway side.

              '
            type: string
          reasonCode:
            description: 'A code identifying the reason for the transaction.

              '
            type: string
          referenceId:
            description: 'The transaction ID returned by the payment gateway for an electronic refund. Use this field to reconcile refunds between your gateway and Zuora Payments.

              '
            type: string
          refundDate:
            description: 'The date when the refund takes effect, in `yyyy-mm-dd` format. For example, 2017-03-01.

              '
            format: date
            type: string
          refundTransactionTime:
            description: 'The date and time when the refund was issued, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          secondRefundReferenceId:
            description: 'The transaction ID returned by the payment gateway if there is an additional transaction for the refund. Use this field to reconcile payments between your gateway and Zuora Payments.

              '
            type: string
          settledOn:
            description: 'The date and time when the refund was settled in the payment processor, in `yyyy-mm-dd hh:mm:ss` format. This field is used by the Spectrum gateway only and not applicable to other gateways.

              '
            format: date-time
            type: string
          softDescriptor:
            description: 'A payment gateway-specific field that maps Zuora to other gateways.

              '
            type: string
          softDescriptorPhone:
            description: 'A payment gateway-specific field that maps Zuora to other gateways.

              '
            type: string
          status:
            description: "The status of the refund. \n"
            enum:
            - Processed
            - Canceled
            - Error
            - Processing
            type: string
          submittedOn:
            description: 'The date and time when the refund was submitted, in `yyyy-mm-dd hh:mm:ss` format.

              '
            format: date-time
            type: string
          success:
            description: Returns `true` if the request was processed successfully.
            type: boolean
          type:
            description: "The type of the refund. \n"
            enum:
            - External
            - Electronic
            type: string
          updatedById:
            description: 'The ID of the Zuora user who last updated the refund.

              '
            type: string
          updatedDate:
            description: 'The date and time when the refund was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-02 15:36:10.

              '
            format: date-time
            type: string
        type: object
      - $ref: '#/components/schemas/RefundObjectNSFields'
      - $ref: '#/components/schemas/RefundObjectCustomFields'
    GETRefundCollectionType:
      properties:
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        refunds:
          description: 'Container for refunds.

            '
          items:
            $ref: '#/components/schemas/GETRefundTypewithSuccess'
          type: array
        success:
          description: Returns `true` if the request was processed successfully.
          type: boolean
      type: object
    CommonResponseType:
      properties:
        processId:
          description: 'The Id of the process that handle the operation.

            '
          type: string
        reasons:
          items:
            properties:
              code:
                description: 'The error code of response.

                  '
                type: string
              message:
                description: 'The detail information of the error response

                  '
                type: string
            type: object
          type: array
        success:
          description: 'Indicates whether the call succeeded.

            '
          type: boolean
      type: object
    GETRefundPartCollectionType:
      properties:
        parts:
          description: 'Container for refund parts.

            '
          items:
            $ref: '#/components/schemas/RefundPartResponseTypewithSuccess'
          type: array
        success:
          description: Returns `true` if the request was processed successfully.
          type: boolean
      type: object
    RefundPartResponseType:
      properties:
        amount:
          description: 'The amount of the refund part.

            '
          format: double
          type: number
        createdById:
          description: 'The ID of the Zuora user who created the refund part.

            '
          type: string
        createdDate:
          description: 'The date and time when the refund part was created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditMemoId:
          description: 'The ID of the credit memo associated with the refund part.

            '
          type: string
        id:
          description: 'The ID of the refund part.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        paymentId:
          description: 'The ID of the payment associated with the refund part.

            '
          type: string
        success:
          description: Returns `true` if the request was processed successfully.
          type: boolean
        updatedById:
          description: 'The ID of the Zuora user who last updated the refund part.

            '
          type: string
        updatedDate:
          description: 'The date and time when the refund part was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-02 15:36:10.

            '
          format: date-time
          type: string
      type: object
    GETRefundItemPartTypewithSuccess:
      properties:
        amount:
          description: 'The amount of the refund part item.

            '
          format: double
          type: number
        createdById:
          description: 'The ID of the Zuora user who created the refund part item.

            '
          type: string
        createdDate:
          description: 'The date and time when the refund part item was created, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-01 15:31:10.

            '
          format: date-time
          type: string
        creditMemoItemId:
          description: 'The ID of the credit memo item associated with the refund part item.

            '
          type: string
        creditTaxItemId:
          description: 'The ID of the credit memo taxation item associated with the refund part item.

            '
          type: string
        id:
          description: 'The ID of the refund part item.

            '
          type: string
        organizationLabel:
          description: 'The organization that this object belongs to.


            Note: This field is available only when the Multi-Org feature is enabled.

            '
          type: string
        updatedById:
          description: 'The ID of the Zuora user who last updated the refund part item.

            '
          type: string
        updatedDate:
          description: 'The date and time when the refund part item was last updated, in `yyyy-mm-dd hh:mm:ss` format. For example, 2017-03-02 15:36:10.

            '
          format: date-time
          type: string
      title: itemParts
      type: object
    GETRefundItemPartCollectionType:
      properties:
        itemParts:
          description: 'Container for refund part items.

            '
          items:
            $ref: '#/components/schemas/GETRefundItemPartTypewithSuccess'
          type: array
        nextPage:
          description: 'URL to retrieve the next page of the response if it exists; otherwise absent.

            '
          format: URL
          type: string
        success:
          description: Returns `true` if the request was processed successfully.
          type: boolean
      type: object
x-tagGroups:
- name: Authentication
  tags:
  - OAuth
- name: Products
  tags:
  - Products
  - Catalog
  - Catalog Groups
  - Offers
  - Price Book Items
  - Product Rate Plans
  - Product Rate Plan Definitions
  - Product Rate Plan Charges
  - Product Charge Definitions
  - Product Rate Plan Charge Tiers
  - Zuora Revenue Integration
- name: Customer Accounts
  tags:
  - Accounts
  - Contacts
  - Contact Snapshots
- name: Orders and Subscriptions
  tags:
  - Sign Up
  - Orders
  - Order Actions
  - Order Line Items
  - Fulfillments
  - Ramps
  - Subscriptions
  - Rate Plans
- name: Advanced Consumption Billing
  tags:
  - Prepaid with Drawdown
- name: Usage
  tags:
  - Usage
- name: Billing Documents
  tags:
  - Delivery Adjustments
  - Billing Documents
  - Invoices
  - Credit Memos
  - Debit Memos
  - E-Invoicing
  - Invoice Schedules
  - Taxation Items
  - Sequence Sets
  - Operations
- name: Bill Runs
  tags:
  - Bill Run
  - Billing Preview Run
- name: Payment Methods
  tags:
  - Payment Methods
  - Custom Payment Method Types
  - Payment Method Updater
  - Payment Method Snapshots
  - Payment Method Transaction Logs
  - Hosted Pages
  - RSA Signatures
- name: Payments
  tags:
  - Payment Authorization
  - Payment Gateways
  - Payment Gateway Reconciliation
  - Payments
  - Payment Transaction Logs
  - Payment Runs
  - Payment Schedules
  - Refunds
- name: Finance
  tags:
  - Accounting Codes
  - Accounting Periods
  - Summary Journal Entries
  - Journal Runs
  - Mass Updater
- name: Events and Notifications
  tags:
  - Notifications
  - Custom Event Triggers
  - Custom Scheduled Events
- name: Custom Objects
  tags:
  - Custom Object Definitions
  - Custom Object Records
  - Custom Object Jobs
- name: System Health
  tags:
  - API Health
  - Bill Run Health
  - Electronic Payments Health
- name: Workflow
  tags:
  - Workflows
- name: Data Query
  tags:
  - Data Queries
- name: AQuA
  tags:
  - Aggregate Queries
- name: Deployment Manager
  tags:
  - Configuration Templates
- name: Multiple Organizations
  tags:
  - Data Labeling
- name: Order to Revenue
  tags:
  - Regenerate
- name: General-Purpose Operations
  tags:
  - Actions
  - Settings
  - Files
  - Imports
  - Custom Exchange Rates
  - Attachments
  - Describe
